﻿<div class="pro-pricing-list #if(${xf.ViewXmlSetting("leftheader",false)}) pro-pricing-show-info #end numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} numberLarge-${xf.ViewXmlSetting("numbercolumnsLarge",4)} numbertablet-${xf.ViewXmlSetting("numbercolumnstablet",3)} numberphone-${xf.ViewXmlSetting("numbercolumnsphone",1)} $ThemeName" id="pro-pricing-list${ModuleID}"#if(${xf.ViewXmlSetting("leftheader",false)}) style="visibility:hidden" #end> 
#if($SliderList.Count > 0) 
  #foreach($SliderItem in $SliderList)
  <div class="pro-pricing-item #if(${xf.ViewSliderSetting($SliderItem,"best",false)}=="true") best #end">
    <div class="pro-pricing-box #if(${xf.ViewXmlSetting("Displayshadow",false)}=="True") shadow #end">
    #if(${xf.ViewSliderSetting($SliderItem,"Marker",false)}=="true")
    <div class="markerBox">
     <div class="marker" style="background-color:${xf.ViewSliderSetting($SliderItem,"Markerbackground","#048c22")}">
         <span class="before" style="background-color:${xf.ViewSliderSetting($SliderItem,"Markerbackground","#048c22")};border-color:${xf.ViewSliderSetting($SliderItem,"Markerbackground","#048c22")}"></span>
         ${xf.ViewSliderSetting($SliderItem,"MarkerText","")}
         <span class="after" style="background-color:${xf.ViewSliderSetting($SliderItem,"Markerbackground","#048c22")};border-color:${xf.ViewSliderSetting($SliderItem,"Markerbackground","#048c22")}"></span>
     </div></div>
    #end 
      <div class="proprice_title">
        #if(${xf.ViewXmlSetting("leftheader",false)})   
            #if(${xf.ViewLinkUrl(${xf.ViewXmlSetting("HeaderTitle","")}," ")}) 
            <div class="title-info"> <img src="${xf.ViewLinkUrl(${xf.ViewXmlSetting("HeaderTitle","")}," ")}" alt="${xf.ViewSliderSetting($SliderItem,"Title","")}" />&nbsp;</div>   
            #else
             <div class="title-info" style="visibility:hidden;"> </div>
            #end
        #end
        <h2>${xf.ViewSliderSetting($SliderItem,"Title","")}</h2>
      </div>
      <div class="proprice_holder">
        <div class="proprice_box"> 
            #if(${xf.ViewXmlSetting("leftheader",false)})<div class="proprice-info">${xf.ViewXmlSetting("propricetext","Choose a Paln")}</div>#end
            <div class="proprice_proprice">
                <span class="sup">${xf.ViewSliderSetting($SliderItem,"Symbol","")}</span>
                <span class="proprice">${xf.ViewSliderSetting($SliderItem,"Price","")}</span> 
                <span class="unit">${xf.ViewSliderSetting($SliderItem,"Unit","")}</span>
            </div>
        </div>
        #if(${xf.ViewSliderSetting($SliderItem,"description","")}!="") 
        <div class="proprice_description">
        #if(${xf.ViewXmlSetting("leftheader",false)})<div class="description-info">${xf.ViewXmlSetting("description","Description")}</div>#end
        <div class="description">
            ${xf.ViewSliderSetting($SliderItem,"description","")}
        </div>
        </div>
        #end 
        <ul class="proprice_info">
            #foreach($SliderItem in ${xf.ViewExtensionList($SliderItem)})	
               #if($SliderItem.Value!="") <li>
                #if(${xf.ViewXmlSetting("leftheader",false)})<div class="proprice_info-info">$SliderItem.Key</div>#end
                <div class="list_info">#if(${xf.ViewXmlSetting("DisplayModelsName",false)}=="True")$SliderItem.Key: #end $SliderItem.Value</div>
                
                </li>#end
            #end
        </ul>
        
        <div class="buybtn"> 
        #if(${xf.ViewXmlSetting("leftheader",false)})<div class="buybtn-info">${xf.ViewXmlSetting("buttontext"," ")}</div>#end
        <a href="${xf.PictureUrl($SliderItem,"PictureLink","")}" target="_blank">${xf.ViewSliderSetting($SliderItem,"Buytext","")}</a>
         
        </div>
      </div>
    </div>
  </div>
  #end
  #end 
  <div class="clear"></div> 
  
 </div>
<style type="text/css">
#pro-pricing-list${ModuleID}{
	margin:0 0 0 -${xf.ViewXmlSetting("Itemspacing","3")}px;
}
#pro-pricing-list${ModuleID} .pro-pricing-box {
	margin:0 0 ${xf.ViewXmlSetting("Itemspacing","3")}px ${xf.ViewXmlSetting("Itemspacing","3")}px; 
}
#pro-pricing-list${ModuleID}.pro-pricing-show-info .title-info,
#pro-pricing-list${ModuleID}.pro-pricing-show-info .proprice-info,
#pro-pricing-list${ModuleID}.pro-pricing-show-info .description-info,
#pro-pricing-list${ModuleID}.pro-pricing-show-info .proprice_info .proprice_info-info,
#pro-pricing-list${ModuleID}.pro-pricing-show-info .buybtn-info{
	margin:0 ${xf.ViewXmlSetting("Itemspacing","3")}px 0 0; 
}

#pro-pricing-list${ModuleID}.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} .pro-pricing-item:nth-child(${xf.ViewXmlSetting("numbercolumns",4)}n+1) {
	clear:left;
}	
@media only screen and (min-width: 1200px) {
	#pro-pricing-list${ModuleID}.pro-pricing-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} .pro-pricing-item{
		clear:none;
	}
	#pro-pricing-list${ModuleID}.numberLarge-${xf.ViewXmlSetting("numbercolumnsLarge",4)} .pro-pricing-item:nth-child(${xf.ViewXmlSetting("numbercolumnsLarge",4)}n+1) {
		clear:left;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#pro-pricing-list${ModuleID}.pro-pricing-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} .pro-pricing-item{
		clear:none;
	}
	#pro-pricing-list${ModuleID}.numbertablet-${xf.ViewXmlSetting("numbercolumnstablet",3)} .pro-pricing-item:nth-child(${xf.ViewXmlSetting("numbercolumnstablet",3)}n+1) {
		clear:left;
	}	
}
@media only screen and (max-width: 767px) {
	#pro-pricing-list${ModuleID}.pro-pricing-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} .pro-pricing-item{
		clear:none;
	}
	#pro-pricing-list${ModuleID}.numberphone-${xf.ViewXmlSetting("numbercolumnsphone",1)} .pro-pricing-item:nth-child(${xf.ViewXmlSetting("numbercolumnsphone",1)}n+1) {
		clear:left;
	}	
}

#pro-pricing-list${ModuleID} .pro-pricing-box{
	text-align:${xf.ViewXmlSetting("textalign","center")};
}

#if($ThemeName=="Theme_20_Default_01")
	#pro-pricing-list${ModuleID} .proprice_title,
	#pro-pricing-list${ModuleID}.pro-pricing-show-info .title-info {
		border-bottom-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
	#pro-pricing-list${ModuleID} .buybtn a{
		background-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
#end
#if($ThemeName=="Theme_20_Default_02")
	#pro-pricing-list${ModuleID} .pro-pricing-box {
		border-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
	#pro-pricing-list${ModuleID} .proprice_proprice,
	#pro-pricing-list${ModuleID} .buybtn a{
		background-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
	
#end
#if($ThemeName=="Theme_20_Default_03")
	#pro-pricing-list${ModuleID} .pro-pricing-box {
		border-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
	#pro-pricing-list${ModuleID} .proprice_title,
	#pro-pricing-list${ModuleID} .buybtn a{
		background-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
#end
#if($ThemeName=="Theme_20_Default_04")
	#pro-pricing-list${ModuleID} .pro-pricing-box {
		border-color:${xf.ViewXmlSetting("Accentcolor","#69b532")};
	}
	#pro-pricing-list${ModuleID} .proprice_title,
	#pro-pricing-list${ModuleID} .buybtn a{
		background-color:${xf.ViewXmlSetting("Accentcolor","#s69b532")};
	}
#end

</style>


#if(${xf.ViewXmlSetting("leftheader",false)})
<script type="text/javascript">
jQuery(document).ready(function ($) {
	var n=0;
	
	var co=function(n){
		if(n>1){
			var itm=$("#pro-pricing-list${ModuleID}").children(".pro-pricing-item"),
				l= Math.ceil(itm.length/n);
			for(i=0;i<=l*2;i++){
				index=i*(n-1);
			var copy=itm.eq(index).clone().addClass("copy");
				copy.insertBefore(itm.eq(index));
			}
		}
	};
	var copyitm=function(){
		var ww=$(window).outerWidth();outerHeight
		if(ww<768 && n!=${xf.ViewXmlSetting("numbercolumnsphone",1)}){
			$("#pro-pricing-list${ModuleID}").children(".pro-pricing-item.copy").remove();
			n=${xf.ViewXmlSetting("numbercolumnsphone",1)};
			co(n);
		}else if(767 <ww && ww<992 && n!=${xf.ViewXmlSetting("numbercolumnstablet",3)}){
			$("#pro-pricing-list${ModuleID}").children(".pro-pricing-item.copy").remove();
			n=${xf.ViewXmlSetting("numbercolumnstablet",3)};
			co(n);
		}else if( 991 < ww && ww < 1200 && n!=${xf.ViewXmlSetting("numbercolumns",4)}){
			$("#pro-pricing-list${ModuleID}").children(".pro-pricing-item.copy").remove();
			n=${xf.ViewXmlSetting("numbercolumns",4)};
			co(n);
		}else if(ww>=1200 && n!=${xf.ViewXmlSetting("numbercolumnsLarge",4)}){
			$("#pro-pricing-list${ModuleID}").children(".pro-pricing-item.copy").remove();
			n=${xf.ViewXmlSetting("numbercolumnsLarge",4)};
			co(n);
		}else{
			return false;
		}

	}
	copyitm();	
	$(window).resize(function(e) {
		copyitm();	
	});
	$("#pro-pricing-list${ModuleID}").css("visibility","visible");
		
		
});
</script>
#end
  









