/*loading*/
.pro-loading {
	width: 26px;
	height: 26px;
	position: relative;
}
.pro-loading .container1 > div,
.pro-loading .container2 > div,
.pro-loading .container3 > div {
	width: 6px;
	height: 6px;
	background-color: #333;
	border-radius: 100%;
	position: absolute;
	-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	animation: bouncedelay 1.2s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.pro-loading .loading-container {
	position: absolute;
	width: 100%;
	height: 100%;
}
.pro-loading .container2 {
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.pro-loading .container3 {
	-webkit-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}
.pro-loading .circle1 {
	top: 0;
	left: 0;
}
.pro-loading .circle2 {
	top: 0;
	right: 0;
}
.pro-loading .circle3 {
	right: 0;
	bottom: 0;
}
.pro-loading .circle4 {
	left: 0;
	bottom: 0;
}
.pro-loading .container2 .circle1 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.pro-loading .container3 .circle1 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
.pro-loading .container1 .circle2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.pro-loading .container2 .circle2 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.pro-loading .container3 .circle2 {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.pro-loading .container1 .circle3 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.pro-loading .container2 .circle3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.pro-loading .container3 .circle3 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.pro-loading .container1 .circle4 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.pro-loading .container2 .circle4 {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.pro-loading .container3 .circle4 {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
@-webkit-keyframes 
bouncedelay {
 0%, 80%, 100% {
-webkit-transform: scale(0.0)
}
 40% {
-webkit-transform: scale(1.0)
}
}
@keyframes 
bouncedelay {
 0%, 80%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);
}
40% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
}
}


/* ---- combination filters ---- */
.Theme_04_Default {
	width:100%;
	overflow:hidden;
	position:relative;
}
.Theme_04_Default .pro-loading {
	position:absolute;
	bottom:10px;
	left:50%;
	margin:0 0 0 -10px;
}

/* Portfolios bug*/
.portfolio_block.pro-isotope {
	width:auto;
}

.Theme_04_Default .pro-isotope_main {
	width:100%;
	overflow:hidden;
	position:relative;
	min-height:30px;
	display:block;
	display:table;
}

.Theme_04_Default .pro-isotope_item {
  width:0px;
  margin: 0px;
  position:absolute;
  left:0;
  top:0;
}
.Theme_04_Default .pro-isotope_item .pic_box img{
	width:100%;
	height:auto;
}
.Theme_04_Default .pro-isotope_item > div {
	margin:0;
}

.Theme_04_Default .pro-isotope_group{
	text-align:center;
	padding:10px 0 30px; 
}
.Theme_04_Default .pro-isotope_group a{
	margin:0px 10px;
	padding:6px 17px;
	color:#575757;
	font-size:14px;
	border:1px solid transparent;
	text-decoration:none;
	display:inline-block;
	transition: 		border ease-in 200ms;
	-moz-transition: 	border ease-in 200ms; /* Firefox 4 */
	-webkit-transition: border ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		border ease-in 200ms; /* Opera */
	-ms-transition: 	border ease-in 200ms; /* IE9? */
}
.Theme_04_Default .pro-isotope_group a:hover,
.Theme_04_Default .pro-isotope_group a.active {
	border:1px solid #3b9cf7;
	color:#3b9cf7;
	text-decoration:none;
}
.Theme_04_Default .showmeassage{
	padding:10px 0;
	background:rgba(0,0,0,0.1);
	text-align:center;
	display:block;
	width:100%;
}
.Theme_04_Default .showmeassage{
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
	color:#FFF;
	background:rgba(0,0,0,0.5);
}
.Theme_04_Default .meassage_box {
	text-align:center;
}
.Theme_04_Default .moremeassage{
	background-color:#dfa945;
	color:#FFF;
	padding:0px 20px;
	font-size:14px;
	letter-spacing:3px;
	display:inline-block;
	height:40px;
	line-height:40px;
	margin:10px auto;
	transition: 		background-color ease-in 200ms;
	-webkit-transition: background-color ease-in 200ms; /* Safari and Chrome */
	box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
}
.Theme_04_Default .moremeassage:hover{
	background-color:#cb9b3f;
	text-decoration:none;
}
@keyframes rotatelogin {
	0% {
		transform:rotate(0deg)
	}
	100%{
		transform:rotate(360deg)
	}
	
}
@-webkit-keyframes rotatelogin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(359deg)
	}
}

.Theme_04_Default .moremeassage .fa{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	line-height:21px;
	font-size:13px;
	vertical-align:middle;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: rotatelogin;
	animation-name: rotatelogin;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	position:relative;
	letter-spacing:0;
}
.Theme_04_Default .moremeassage .showloading{
	display:none;
}




