﻿#if($DataList.Count > 0)
	<div class="$SkinThemeName">
	<ul class="author_list">
	#foreach($DataItem in $DataList)
		<li class="clearfix">
			<div class="thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ViewAuthorPic($DataItem)}" /></a></div>
			<div class="author_name"><a href="${xf.GoUrl($DataItem)}">$DataItem.CreateUserName </a> </div>
			#set($NewEventItem = $xf.ViewAuthorByNewEvent($DataItem.CreateUser))
            #if($NewEventItem.ID > 0)
            <h4 class="post_title"><a href="${xf.GoUrl($NewEventItem)}">$NewEventItem.Title</a> ($DataItem.Count)</h4>
            <!--${xf.ViewSummary($NewEventItem,300,"...")} -->
            #end
		</li>
	#end
	</ul>
	</div>
#end