﻿<div class="CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")}  CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")}_1 $EffectThemeName"  id="tabposition_${ModuleID}">

#if(${xf.ViewEffectSetting("tabLayout","Top")} !="Bottom")
<ul class="resp-tabs-list">
  #if($CategoryList.Count > 0)
  #foreach($CategoryItem in $CategoryList)
  <li> <span>$CategoryItem.Name</span> </li>
  #end
  #end
</ul>
#end
<div class="resp-tabs-container"> #if($CategoryList.Count > 0)
  #foreach($CategoryItem in $CategoryList)
  <div class="resp_container">
    <div class="resp_margin"> #set($DataList = ${xf.ViewArticleListByCategory($CategoryItem,$DataSort,1,$DisplaySize,$ArticleFeature)})
      #if($DataList.Count > 0)
      <ul class="news_toplist">
        #foreach($DataItem in $DataList)
        <li class="clearfix"> 
        
            #if(${xf.ViewEffectSetting("DisplayPicture",true)})
                #if($DataItem.AdditionalPicture > 0)
                    <div class="post_thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ThumbnailUrl($DataItem,${xf.ViewEffectSetting("thumbnail_width",200)},200,"W")}"  alt="" title="" /></a> </div>
                #end
            #end
            
            <div class="view_right">
            #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
            #end
                #if(${xf.ViewEffectSetting("DisplayAuthor",true)}||${xf.ViewEffectSetting("DisplayAuthor",true)})
                    <div class="post_date">
                    #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
                        <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a>
                    #end
                    #if(${xf.ViewEffectSetting("Displaydate",true)})
                        #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  
                    #end
                    </div> 
                 #end
            #if(${xf.ViewEffectSetting("Displaycategory",true)})
                <div class="post_category">${xf.ViewCategories($DataItem)}</div>
            #end
            #if(${xf.ViewEffectSetting("Displaytags",true)})
                <div class="post_tags">${xf.ViewTags($DataItem)}</div>
            #end
            #if(${xf.ViewEffectSetting("Displaysummary",true)})
                <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
            #end
            </div>
          
        </li>
        #end
      </ul>
      #end </div>
  </div>
  #end
  #end </div>
#if(${xf.ViewEffectSetting("tabLayout","Top")} =="Bottom")
<ul class="resp-tabs-list">
  #if($CategoryList.Count > 0)
  #foreach($CategoryItem in $CategoryList)
  <li> <span>$CategoryItem.Name</span> </li>
  #end
  #end
</ul>
#end
<style type="text/css">
	#tabposition_${ModuleID} .resp-tabs-list li {
		background-color:${xf.ViewEffectSetting("tabColor","#0f6a87")};
	}
	#tabposition_${ModuleID} .resp-tab-active, 
	#tabposition_${ModuleID} .resp-tab-active:hover{
		background-color:${xf.ViewEffectSetting("tabColor","#0f6a87")};
	}
</style>
</div>
