﻿<!-- slider markup -->
<ul id="unoslider${ModuleID}" class="$EffectThemeName">
    #if($DataList.Count > 0) 
        #foreach($DataItem in $DataList)
		<li style="display:none;">
                <div class='unoslider_caption'>
                    <h3><a href="${xf.GoUrl($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}">${xf.ViewContent("Title",$DataItem)}</a></h3>
					${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}
                </div>              
			   <!-- <a href="${xf.GoUrl($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}"><img src="${xf.ViewPicture($DataItem)}"/></a>	 -->   
               <img src="${xf.ViewPicture($DataItem)}"/>                                 	 
        </li>
        #end 
    #end
</ul>

<!-- slider initializer -->
<script type='text/javascript'>
    jQuery(function ($) {
        $('#unoslider${ModuleID}').unoslider({
            width: ${xf.ViewEffectSetting("width",650)}, //Slider width
            height: ${xf.ViewEffectSetting("height",300)}, //Slider height
            preset: [${xf.ViewEffectSetting("preset","'chess', 'flash', 'spiral_reversed', 'spiral', 'sq_appear', 'sq_flyoff', 'sq_drop', 'sq_squeeze', 'sq_random', 'sq_diagonal_rev', 'sq_diagonal', 'sq_fade_random', 'sq_fade_diagonal_rev', 'sq_fade_diagonal', 'explode', 'implode', 'fountain', 'blind_bottom', 'blind_top', 'blind_right', 'blind_left', 'shot_right', 'shot_left', 'alternate_vertical', 'alternate_horizontal', 'zipper_right', 'zipper_left', 'bar_slide_random', 'bar_slide_bottomright', 'bar_slide_bottomright', 'bar_slide_topright', 'bar_slide_topleft', 'bar_fade_bottom', 'bar_fade_top', 'bar_fade_right', 'bar_fade_left', 'bar_fade_random', 'v_slide_top', 'h_slide_right', 'v_slide_bottom', 'h_slide_left', 'stretch', 'squeez', 'fade', 'none'")}], // you can set as many presets as you want 
            order: 'random', // order of presets 
            scale: ${xf.ViewEffectSetting("scale","true")}, //should the images be resized in order to fit the slider or not
            responsive: ${xf.ViewEffectSetting("responsive","true")}, //This option makes the slider responsive. This means that the slider adjusts the width of the parent element if it is wider then the slider.
            mobile: ${xf.ViewEffectSetting("mobile","true")}, //simpler optimized transitions on mobile devices.Set to false if you want to use the same transitions on desktops and mobile devices
            touch: ${xf.ViewEffectSetting("touch","true")}, //enable touch controls on the mobile devices
            indicator: ${xf.ViewEffectSetting("indicator","true")}, //Set it to the false if you want to hide the indicator. 
            navigation: { autohide: ${xf.ViewEffectSetting("navigation_autohide","false")} },
            slideshow: {
                autostart:${xf.ViewEffectSetting("slideshow_autostart","true")},//slideshow starts running automatically after load
                speed:${xf.ViewEffectSetting("slideshow_speed",2)},//in seconds, slides change interval
                timer:${xf.ViewEffectSetting("slideshow_timer","true")},//display a small indicator of time remaining to the next slide change
                hoverPause:${xf.ViewEffectSetting("slideshow_hoverPause","true")},//pause slideshow on mouse over
                continuous: ${xf.ViewEffectSetting("slideshow_continuous","true")}, //Slideshow does not stop after a manual change of a slide.Set to false if you want to stop the slideshow after a manual change
                infinite: ${xf.ViewEffectSetting("slideshow_infinite","true")} //Slideshow continues in an infinite loop
            }
        });

        $("#unoslider${ModuleID} a[rel^='prettyPhoto']").prettyPhoto({
              animation_speed: '${xf.ViewEffectSetting("animation_speed","normal")}',
              theme: '${xf.ViewEffectSetting("theme","pp_default")}',
              slideshow: ${xf.ViewEffectSetting("slideshow",3000)},
              autoplay_slideshow: ${xf.ViewEffectSetting("autoplay_slideshow","true")},
              show_title:${xf.ViewEffectSetting("show_title","true")},
              overlay_gallery: ${xf.ViewEffectSetting("overlay_gallery","false")} /* If set to true, a gallery will overlay the fullscreen image on mouse over */
          });
    }); 
</script>




         