.XBD_Effect_04_Default ul{
	margin:0;
	padding:0;
	list-style:0;
}
.XBD_Effect_04_Default li{
	margin:0 0 18px;
	padding:0;
	list-style:none;
	clear:both;
}
.XBD_Effect_04_Default li .date {
	background-color:#e3e3e3;
	padding:15px 10px 10px ;
	text-align:center;
	position:relative;
}
.XBD_Effect_04_Default li .date:before{
	content:"";
	position:absolute;
	left:100%;
	border:6px solid transparent;
	border-left-color:#e3e3e3;
}

.XBD_Effect_04_Default li .date .year{
	display:block;
	font-size:13px;
	margin-bottom:3px;
}
.XBD_Effect_04_Default li .date .month{
	display:block;
	font-size:14px;
	margin-bottom:3px;
}
.XBD_Effect_04_Default li .date .day{
	display:block;
	font-size:30px;
	margin-bottom:6px;
}

.XBD_Effect_04_Default li .title {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
}
.XBD_Effect_04_Default li .info {
	margin:0;
	padding:0;
	list-style:none;
}
.XBD_Effect_04_Default li .info li{
	margin:0;
	padding:0;
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
.XBD_Effect_04_Default li .category a{
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
.XBD_Effect_04_Default li .thumbnail {
	border:1px solid #e3e3e3;
	padding:2px;
	text-align:center;
}
.XBD_Effect_04_Default li .thumbnail img{
	max-width:100%;
}
.XBD_Effect_04_Default li .content {
	margin-bottom:8px;
}

.XBD_Effect_04_Default li .useravatar {
	overflow:hidden;
	border:1px solid #e3e3e3;
	padding:2px;
	text-align:center;
}
.XBD_Effect_04_Default li .useravatar img{
	max-width:100%;
}

.XBD_Effect_04_Default .leftView {
	float:left;
	padding-right:10px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	margin:2px 0 8px;
}
.XBD_Effect_04_Default .rightView {
	margin:0 0 8px;
	overflow:hidden;
	width:auto;
}

/*PagingTable*/
.XBD_Effect_04_Default .xblog_page{
	margin-bottom:5px;
	white-space:normal;
}
.XBD_Effect_04_Default .xblog_page .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .XBD_Effect_04_Default .xblog_page .button{
	display:inline;
}
* html .XBD_Effect_04_Default .xblog_page .button{
	display:inline;
}
.XBD_Effect_04_Default .xblog_page .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.XBD_Effect_04_Default .xblog_page .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .XBD_Effect_04_Default .xblog_page .disabled{
	display:inline;
}
* html .XBD_Effect_04_Default .xblog_page .disabled{
	display:inline;
}


.XBD_Effect_04_Default .post_but{
	background:url(images/post_but.jpg) 0px 0px repeat-x #E0E0E0;
	line-height:13px;
	font-size:13px;
	color:#000!important;
	padding:6px 10px 7px 10px;
	border:1px solid #CFCFCF;
	text-decoration:none!important;
	border-radius:5px;
}



@media only screen and (max-width: 767px) {
	.XBD_Effect_04_Default > li .leftView{
		transform:scale(0.8);
		-webkit-transform:scale(0.8);
	}
}
