﻿<div class="effect_soon $ThemeName"  id="soon_${ModuleID}">
  <table cellpadding="0" cellspacing="0" border="0" class="soon_table">
    <tr>
      <td class="soon_top">
      ${xf.ViewXmlSetting("headertop","")} 
      
      
      </td>
    </tr>
    <tr>
      <td class="soon_center">
       <div class="soon ${xf.ViewXmlSetting("CounterType","flip")}"
            data-format="${xf.ViewXmlSetting("format","d,h,m,s")}"
            data-localtime="${xf.LocalTime().ToString("yyyy-MM-ddThh:mm")}" 
            data-due="${xf.ConvertDateTitme(${xf.ViewXmlSettingByTime("endTime","2020-03-24T20:20")},"yyyy-MM-ddThh:mm")}"
			#if(${xf.ViewXmlSetting("separation","")}!="true")data-separate-chars="${xf.ViewXmlSetting("separation","true")}"#end
            
 			#if(${xf.ViewXmlSetting("Slotseparator","")}!="" && ${xf.ViewXmlSetting("CounterType","flip")}=="slot")data-separator="${xf.ViewXmlSetting("Slotseparator","")}"#end
			#if(${xf.ViewXmlSetting("Matrixseparator","")}!="" && ${xf.ViewXmlSetting("CounterType","flip")}=="matrix")data-separator="${xf.ViewXmlSetting("Matrixseparator","")}"#end
           
            
            data-scale-max="${xf.ViewXmlSetting("scalemax","m")}"
            #if(${xf.ViewXmlSetting("CounterType","flip")} =="ring")
           	 data-visual="ring ${xf.ViewXmlSetting("Ringcolor","color-light")} ${xf.ViewXmlSetting("Ringshadow","progress-shadow-hard")} ${xf.ViewXmlSetting("Backgroundshadow","background-shadow-hard")} ${xf.ViewXmlSetting("Ringwidth","width-thick")} #if(${xf.ViewXmlSetting("Ringround","true")}=="true")cap-round #end  #if(${xf.ViewXmlSetting("Ringoffset","")}!="")offset-${xf.ViewXmlSetting("Ringoffset","")} #end #if(${xf.ViewXmlSetting("Ringlength","")}!="")length-${xf.ViewXmlSetting("Ringlength","")} #end #if(${xf.ViewXmlSetting("Ringgap","")}!="")gap-${xf.ViewXmlSetting("Ringgap","")} #end #if(${xf.ViewXmlSetting("Ringflip","true")}=="true")flip #end"
             data-face="text"  #if(${xf.ViewXmlSetting("Ringcolor","color-light")}!="color-light")style=" color:#000"#end
            #elseif(${xf.ViewXmlSetting("CounterType","flip")} =="fill")
           	 data-visual="fill ${xf.ViewXmlSetting("Fillcolor","color-light")} ${xf.ViewXmlSetting("Fillcorners","corners-round")} ${xf.ViewXmlSetting("Filldirection","to-top")}"
             data-face="text "
            #else
            data-face="${xf.ViewXmlSetting("CounterType","flip")} #if(${xf.ViewXmlSetting("CounterType","flip")}=="flip") ${xf.ViewXmlSetting("Flipcolor","color-light")} ${xf.ViewXmlSetting("Flipshadow","shadow-hard")} ${xf.ViewXmlSetting("FlipAnimat","fast")} ${xf.ViewXmlSetting("FlipCor","corners-sharp")} #end  #if(${xf.ViewXmlSetting("CounterType","flip")}=="slot") ${xf.ViewXmlSetting("Slotshadow","shadow-hard")} ${xf.ViewXmlSetting("Slotanimation","fade")} ${xf.ViewXmlSetting("Slotanimationd","up")} ${xf.ViewXmlSetting("Slotaspeed","fast")} #end  #if(${xf.ViewXmlSetting("CounterType","flip")}=="matrix") ${xf.ViewXmlSetting("Matrixspacing","spacey")} ${xf.ViewXmlSetting("Matrixshadow","shadow-soft")} ${xf.ViewXmlSetting("Matrixshape","dot-round")} ${xf.ViewXmlSetting("Matrixcolor","color-light")}  ${xf.ViewXmlSetting("Matrixanimation","slide")} #end "
            #end
            data-layout="${xf.ViewXmlSetting("Spacing","group")} ${xf.ViewXmlSetting("Labels","label-default")}"
            data-reflect="${xf.ViewXmlSetting("Reflection","false")}"
            data-event-complete="happyNewYear${ModuleID}"
            data-labels-days="${xf.ViewXmlSetting("labelsdays","Day,Days")}"
            data-labels-hours="${xf.ViewXmlSetting("labelshours","Hour,Hours")}"
            data-labels-minutes="${xf.ViewXmlSetting("labelsminutes","Minute,Minutes")}"
            data-labels-seconds="${xf.ViewXmlSetting("labelsseconds","Second,Seconds")}"
            > 
            </div>
            #if(${xf.ViewXmlSetting("endSettings","Default")}=="Dispaly HTML")
            <div class="endhtml">
             ${xf.ViewXmlSetting("EndHtml","")} 
            </div>
            #end 
            
            
            </td>
    </tr>
    <tr>
      <td class="soon_bottom">       ${xf.ViewXmlSetting("footerhtml","")} 
 </td>
    </tr>
  </table>
</div>


<style type="text/css">
#soon_${ModuleID}{
	color:${xf.ViewXmlSetting("Fontcolor","#FFFFFF")};
	background-image:url('${xf.ViewLinkUrl(${xf.ViewXmlSetting("Backgroundimage","")}," ")}');
	background-color:${xf.ViewXmlSetting("backgroundcolor","#000000")};
 #if(${xf.ViewXmlSetting("fullmode","false")} =="true")		
	position:fixed;
	width:100%;
	height:100%;
#else
	width:${xf.ViewXmlSetting("itemwidth","100%")};
	height:${xf.ViewXmlSetting("itemheight","400")}px;
#end	
}

#if(${xf.ViewXmlSetting("fullmode","false")} =="false")	
	@media only screen and (max-width: 1199px) {
		#soon_${ModuleID}{
			height:${xf.ViewXmlSetting("thDesktop","500")}px;
		}
	}
	@media only screen and (max-width: 979px) {
		#soon_${ModuleID}{
			height:${xf.ViewXmlSetting("thDesktopSmall","400")}px;
		}
	}
	@media only screen and (max-width: 768px) {
		#soon_${ModuleID}{
			height:${xf.ViewXmlSetting("thTable","350")}px;
		}
	}
	@media only screen and (max-width: 479px) {
		#soon_${ModuleID}{
			height:${xf.ViewXmlSetting("thMobile","250")}px;
		}
	}
#end	




@media only screen and (max-width: 767px) {
 #if(${xf.ViewXmlSetting("fullmode","false")} =="true")	
	#soon_${ModuleID}{
		position:absolute;
		height:100%;
		min-height:100%;
	}
 #end
}





</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
		#if(${xf.ViewXmlSetting("fullmode","false")}=="true")
			$("#soon_${ModuleID}").insertAfter("body")
		#end
	})
     function happyNewYear${ModuleID}() {
		#if(${xf.ViewXmlSetting("endSettings","Default")}=="Chaining")
		window.location.href="${xf.ViewLinkUrl(${xf.ViewXmlSetting("Endlink","")},"")}"
		#end
		#if(${xf.ViewXmlSetting("endSettings","Default")}=="Dispaly HTML")
			$("#soon_${ModuleID}").find(".soon").hide();
			$("#soon_${ModuleID}").find(".endhtml").fadeIn(200);
		#end
      
    }
	
</script>
