﻿ #dng-megamenu673076 .primary_structure>li>a, 
	#dng-megamenu673076 .primary_structure>li>a:link, 
	#dng-megamenu673076 .primary_structure>li>a:active,
	#dng-megamenu673076 .primary_structure>li>a:visited{color:#ffffff;font-size:18px;font-weight:600;}#dng-megamenu673076 .dnngo_slide_menu li, 
	#dng-megamenu673076 .dnngo_slide_menu li a{color:#666666;font-size:13px;line-height:39px;}#dng-megamenu673076 .dnngo_menu_list .pane_space, 
	#dng-megamenu673076 .dnngo_menu_list a, 
	#dng-megamenu673076 .dnngo_menu_list a:link,
	#dng-megamenu673076 .dnngo_menu_list a:active, 
	#dng-megamenu673076 .dnngo_menu_list a:visited,
	#dng-megamenu673076 .dnngo_boxslide .pane_space, 
	#dng-megamenu673076 .dnngo_boxslide a, 
	#dng-megamenu673076 .dnngo_boxslide a:link,
	#dng-megamenu673076 .dnngo_boxslide a:active, 
	#dng-megamenu673076 .dnngo_boxslide a:visited{color:#666666;font-size:13px;line-height:35px;}#dng-megamenu673076 .dnngo_menu_list > li > a,
	#dng-megamenu673076 .dnngo_menu_list > li > a:link,
	#dng-megamenu673076 .dnngo_menu_list > li > a:active,
	#dng-megamenu673076 .dnngo_menu_list > li > a:visited,
	#dng-megamenu673076 .dnngo_menu_list .submenu_title a,
	#dng-megamenu673076 .dnngo_menu_list .submenu_title a:link,
	#dng-megamenu673076 .dnngo_menu_list .submenu_title a:active,
	#dng-megamenu673076 .dnngo_menu_list .submenu_title a:visited,
	#dng-megamenu673076 .dnngo_menu_list .submenu_title,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title a,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title a:link,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title a:active,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title a:visited,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title{color:#424242;font-size:15px;font-weight:600;line-height:35px;}
	.dng-megamenu {
		margin: 0px;
		padding: 0px;
		clear: both;
	}
	
	.dng-megamenu .primary_structure {
		position: relative;
		clear: both;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}
	
	.dng-megamenu .header-split .primary_structure {
		z-index: 6;
	}
	
	.dng-megamenu .primary_structure>li {
		float: left;
		list-style: none;
		position: relative;
		margin: 0;
		/* z-index: 6; */
	}
	
	.dng-megamenu .primary_structure>li>a {
		display: inline-block;
		word-spacing: normal;
		line-height: 33px;
		-webkit-transition: color ease-in 200ms, border-color ease-in 200ms, background-color ease-in 200ms;
		transition: color ease-in 200ms, border-color ease-in 200ms, background-color ease-in 200ms;
		/* Safari and Chrome */
	}
	
	.dng-megamenu>ul>li>a>span {
		display: inline-block;
	}
	
	.dng-megamenu .primary_structure>li>a:hover,
	.dng-megamenu .primary_structure>li>a:focus,
	.dng-megamenu .primary_structure>li.menu_hover>a,
	.dng-megamenu .primary_structure>li.current>a {
		text-decoration: none;
	}
	
	.dng-megamenu .primary_structure span img,
	.dng-megamenu .primary_structure span i {
		margin-right: 8px;
		width: 1.1em;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
	
	.dng-megamenu .primary_structure>li>a,
	.dng-megamenu .primary_structure>li>a:link,
	.dng-megamenu .primary_structure>li>a:active,
	.dng-megamenu .primary_structure>li>a:visited {
		color: inherit;
	}
	
	.dng-megamenu .primary_structure>li.dir>a>span:after {
		content: "";
		height: 5px;
		width: 5px;
		overflow: hidden;
		margin: 0 0px 3px 6px;
		display: inline-block;
		vertical-align: middle;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		/* IE 9 */
		-moz-transform: rotate(45deg);
		/* Firefox */
		-webkit-transform: rotate(45deg);
		/* Safari and Chrome */
		-o-transform: rotate(45deg);
		/* Opera */
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		border-bottom: 1px solid;
		border-right: 1px solid;
	}
	
	.dng-megamenu .primary_structure>li>a>span>i {
		color: inherit;
		font-size: 1.2em;
	}
	
	.dng-megamenu .primary_structure>li:hover>a,
	.dng-megamenu .primary_structure>li>a:focus,
	.dng-megamenu .primary_structure>li.current>a,
	.dng-megamenu .primary_structure>li.menu_hover>a {
		color: #2c5cda;
	}
	
	.dng-megamenu .label,
	.dng-megamenu .badge {
		padding: .19em .4em .2em;
		font-size: 70%;
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		margin: 0px 3px 2px;
	}
	
	.dnngo_gomenu+.menu-logo {
		display: none;
	}
	
	.menu-logo {
		list-style: none;
	}
		/*hoverstyle_1*/
		.dng-megamenu.hoverstyle_1 .primary_structure>li>a {
			position: relative;
		}
		.dng-megamenu.hoverstyle_1 .primary_structure>li>a:before {
			content: "";
			border-bottom: 2px solid #2c5cda;
			position: absolute;
			top: calc(50% + 14px);
			left: 0px;
			right: 100%;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all ease-in 300ms;
			transition: all ease-in 300ms;
		}
		
		.dng-megamenu.hoverstyle_1 .primary_structure>li:hover>a:before,
		.dng-megamenu.hoverstyle_1 .primary_structure>li>a:focus:before,
		.dng-megamenu.hoverstyle_1 .primary_structure>li.current>a:before,
		.dng-megamenu.hoverstyle_1 .primary_structure>li.menu_hover>a:before,
		.dng-megamenu.hoverstyle_1 .primary_structure>li>a.current:before {
			right: 2px;
			opacity: 1;
			visibility: visible;
		}
	#dng-megamenu673076 .primary_structure>li>a{
		padding-top:10px; 
		padding-right:22px;
		padding-bottom:10px;
		padding-left:22px;
	  }
	
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li > a:before {
			left:22px;
			border-width:2px;
			border-color:#1abc9c;
		}
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li:hover > a:before,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li > a:focus:before,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li.current > a:before,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li.menu_hover > a:before,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li > a.current:before {
			right:22px;
		}
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li:hover > a,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li > a:focus,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li.current > a,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li.menu_hover > a,
		#dng-megamenu673076.hoverstyle_1 .primary_structure > li > a.current {
			color:#1abc9c!important;
		}
		
		#dng-megamenu673076 .dnngo_slide_menu,
		#dng-megamenu673076 .dnngo_slide_menu .dnngo_submenu{background-color:#ffffff;}
	#dng-megamenu673076 .dnngo_slide_menu li:hover>a, 
	#dng-megamenu673076 .dnngo_slide_menu li>a:focus, 
	#dng-megamenu673076 .dnngo_slide_menu li.subcurrent>a{
			background-color:#1abc9c;
			}
		
		#dng-megamenu673076 .dnngo_menu_list,
		#dng-megamenu673076 .dnngo_boxslide{background-color:#ffffff;}
	#dng-megamenu673076 .dnngo_menu_list li li.subcurrent > a,
	#dng-megamenu673076 .dnngo_menu_list li.subcurrent > a,
	#dng-megamenu673076 .dnngo_custommenu li.current > a{
		color:#1abc9c;
		background-color:transparent;
	}
	#dng-megamenu673076 .dnngo_menu_list li a:hover,
	#dng-megamenu673076 .dnngo_menu_list li a:focus,
	#dng-megamenu673076 .dnngo_boxslide .submenu_title a:hover {
		color:#1abc9c;
	}
	#dng-megamenu673076 .dnngo_menu_list li li a:hover,
	#dng-megamenu673076 .dnngo_menu_list li li a:focus,
	#dng-megamenu673076 .dnngo_custommenu .submenu li a:hover,
	#dng-megamenu673076 .dnngo_custommenu .submenu li a:focus{
		color:#FFF;
		background-color:#1abc9c;
	}
	
		#dng-megamenu673076 .mega-menu .boxslide > .line span,
		#dng-megamenu673076 .dnngo_menuslide > .line span{
			border-color:#dcdcdc;
		}
		
	#search-popup-box720514 a.search:hover,
	#search-popup-box720514 .popup-close:hover{
		color:#1abc9c;
	}
	
	#search-popup-box123587 a.search:hover,
	#search-popup-box123587 .popup-close:hover{
		color:#1abc9c;
	}
	#logo712896 img{max-height:40px!important;}#mobilemenu11098 .mobileclose,
		#mobilemenu11098 .gomenu > ul > li > a > span,
		#mobilemenu11098 .gomenu li .arrows{color:#272727;font-size:20px;font-weight:600;}#mobilemenu11098 .sub-menu> li > a > span{color:#272727;font-size:20px;font-weight:600;}#mobilemenu11098 .sub-menu li ul li a{color:#484848;font-size:18px;font-weight:600;}#mobilemenu11098 .sub-menu li ul li li a{color:#787878;font-size:16px;font-weight:600;}#mobilemenu11098 .sub-menu li ul li li li a{color:#787878;font-size:16px;font-weight:600;}
				#mobilemenu11098 .sub-menu .arrows{
					background-color:  #1abc9c;
				}
				#mobilemenu11098 .menutitle,
				#mobilemenu11098 .sub-menu li ul .arrows,
				#mobilemenu11098 a:hover span,
				#mobilemenu11098 .current > a > span,
				#mobilemenu11098 .arrows.active + a span,
				#mobilemenu11098 .subcurrent > a > span{
					color:  #1abc9c!important;
				}
				#headerrow-349356{background-color:rgba(255,255,255,0);}#headerrow-349356 .dngTextBox,
		#headerrow-349356 .header-content-wrap >*:not(.nav-bar),
		#headerrow-349356 .Normal,
		#headerrow-349356 .Normal > a,
		#headerrow-349356 .Normal > a:link,
		#headerrow-349356 .Normal > a:active,
		#headerrow-349356 .Normal > a:visited,
		#headerrow-349356 .dngTextBox a,
		#headerrow-349356 .dngTextBox a:link,
		#headerrow-349356 .dngTextBox a:active,
		#headerrow-349356 .dngTextBox a:visited{color:#ffffff;}#headerrow-349356,#headerrow-349356 .header-center,#headerrow-349356 .header-center .logo{height:100px}#headerrow-349356 .header-center .logo{line-height:100px!important}
			#headerrow-349356 .area-left{
				padding-right:8px;
			}
			#headerrow-349356 .area-center{
				padding-left:8px;
				padding-right:8px;
			}
			#headerrow-349356 .area-right{
				padding-left:8px;
			}
			#headerrow-349356 .area-left .header-content-wrap > div{
				margin-right:20px;
			}
			#headerrow-349356 .area-center .header-content-wrap > div,
			#headerrow-349356 .area-right .header-content-wrap > div{
				margin-left:20px;
			}
		
			 .floating-active #headerrow-349356:after{
			   content:"";
			   position:absolute;
			   top: 0;
			   left: -20px;
			   bottom: 0;
			   right: 0;
			   z-index: -1;
			   pointer-events:none; 
			   -webkit-box-shadow: 10px 10px 10px -11px rgba(0,0,0,0.2);
			   box-shadow: 10px 10px 10px -11px rgba(0,0,0,0.2);
			 }
			 .floating-active #headerrow-349356{background-color:#ffffff!important;
}#headerrow-349356 .Normal > a:hover,
			#headerrow-349356 .dngTextBox a:hover,
			#headerrow-349356 .hover-accent:hover,
			#headerrow-349356 .Login a:hover,
			#headerrow-349356 .Login a.active{
				color:#1abc9c
			}
			#headerrow-349356 .Login .userProfile .userMessages,
			#headerrow-349356 .Login .userProperties ul.userMenu a span{
				background-color:#1abc9c
			}
				.floating-nav.floating-active #headerrow-349356 .header-container-box,
				.floating-nav.floating-active #headerrow-349356 .header-bg-box,
				.floating-nav.floating-active #headerrow-349356 {
					height:70px;
				}
				.floating-nav.floating-active #headerrow-349356 .logo{
					height:70px;
					line-height:70px!important;
				}
			#mobileheader-639685{background-color:#ffffff;}
			#mobileheader-639685,#mobileheader-639685 .header-area{height:66px}
			#mobileheader-639685 .dng-mobilemenu.mobile_menu.mm-menu{
				top:66px
			}
			#mobileheader-639685 .header-area .logo img{max-height:58px}
			#mobileheader-639685 .dngTextBox,
		#mobileheader-639685 .header-content-wrap >*:not(.nav-bar),
		#mobileheader-639685 .Normal,
		#mobileheader-639685 .Normal > a,
		#mobileheader-639685 .Normal > a:link,
		#mobileheader-639685 .Normal > a:active,
		#mobileheader-639685 .Normal > a:visited,
		#mobileheader-639685 .dngTextBox a,
		#mobileheader-639685 .dngTextBox a:link,
		#mobileheader-639685 .dngTextBox a:active,
		#mobileheader-639685 .dngTextBox a:visited{color:#272727;}#mobileheader-639685 .header-content-wrap .Normal > a:hover,
				#mobileheader-639685 .header-content-wrap .dngTextBox a:hover,
				#mobileheader-639685 .Normal > a:hover,
				#mobileheader-639685 .dngTextBox a:hover,
				#mobileheader-639685 .hover-accent:hover,
				#mobileheader-639685 .search-popup-box .icon.active,
				#mobileheader-639685 .search-popup-box:hover .icon,
				#mobileheader-639685 .mobile-menu-icon:hover .fa-bars:before,
				#mobileheader-639685 .search-popup-box .submit:hover,
				#mobileheader-639685 .search-popup-box .popup-close:hover,
				#mobileheader-639685 .shop-cart-list .shop-list .remove:hover,
				#mobileheader-639685 .shop-cart-list .shop-list .price-info span,
				#mobileheader-639685 .shop-cart-list .shop-list .number-box .number-up:hover,
				#mobileheader-639685 .mobile-header .shop-cart-list .shop-list .number-box .number-down:hover,
				#mobileheader-639685 .search-popup-box .icon:hover{
					color:#1abc9c;
				}