﻿<div class="header-replace header-position"><header class="header_bg header-wrap header-default floating-nav floating-nav-sticky"><div id="megamenuWidthBox" class="container"></div>  <div class="header-center-bg floating-dark-color header-bg-box" data-height="70"  id="headerrow-214681"><div class="container"><div class="header-center header-container-box"> <div class="header-area area-left header-horizontal  pl-15 header-horizontal"   id="column-778290"><div class="header-content-wrap"> <div class="logo" id="logo89361"><dnn:LOGO runat="server" id="dnnLOGO89361" cssClass="header-logo floating-header-logo" BorderWidth="0" /></div><div class="dngTextBox"><div class="designStudio2-header-text d-none d-xl-block">Contact: (845) 359-7777</div>

<style>

.designStudio2-header-text{
	color: #b24000;
	margin-left: 14px;
font-size:18px;
font-weight:600;
}

.designStudio2-header-text::before{
	content: "";
	width: 40px;
	display: inline-block;
	border-bottom: 1px solid #b24000;
	vertical-align: middle;
	margin: 0 15px 3px 0;
}



</style></div></div></div> <div class="header-area area-center header-vertical text-right header-vertical text-right"   id="column-449487"><div class="header-content-wrap"> <div class="nav-bar"><div id="dng-megamenu600281" data-split="false" class="dng-megamenu hoverstyle_7 flyout-shadow mega-shadow"><dnn:MEGAMENU runat="server" id="MEGAMENU600281" Effect="Hslide" ViewLevel="0" ShowUI="Extension" WidthBoxClassName="#megamenuWidthBox"/></div></div>
	<dnn:DnnCssInclude runat="server" FilePath="resource/header/megamenu/megamenu.css" PathNameAlias="SkinPath" Priority="9"  /><dnn:DnnJsInclude runat="server" FilePath="resource/header/megamenu/megamenu.js" PathNameAlias="SkinPath" Priority="9" ForceProvider ="DnnFormBottomProvider" /></div></div> <div class="header-area area-right header-horizontal  pr-15 header-horizontal" style="width:150px"  id="column-663716"><div class="header-content-wrap"> <div class="dngTextBox"><a href="#" class="border-radius-3 homepage10-header-btn bg-accent2">START NOW</a></div></div></div> </div></div></div>  </header></div><div class="mobile-header-replace"><header class="mobile-header floating-nav"> <div class="header-mobile-bg mobile-header-shadow" id="mobileheader-727462"><div class="header-mobile"> <div class="header-area area-left header-horizontal text-left header-horizontal text-left"   id="column-28969"><div class="header-content-wrap"> <div class="search-popup-box" id="search-popup-box708018" placeholder="Enter any key words to search"><div class="icon hover-accent"><span class="magnifier"><i></i></span></div><div class="popup-reveal color-dark "></div><div class="popup-content color-dark bg-accent"><div class="popup-close hover-accent"><span class="icon-cross"></span></div><div class="popup-center"><dnn:SEARCH runat="server" id="dnnSEARCH708018" CssClass="search"  ShowSite="False" ShowWeb="False"  submit=" " /></div></div></div>
		<dnn:DnnCssInclude runat="server" FilePath="resource/header/search-popup/search-popup.css" PathNameAlias="SkinPath" Priority="318" HtmlAttributesAsString="media:'none',title:'all',onload:'this.media=this.title"  />
		<dnn:DnnJsInclude runat="server" FilePath="resource/header/search-popup/search-popup.js"  ForceProvider ="DnnFormBottomProvider" PathNameAlias="SkinPath" Priority="9" HtmlAttributesAsString="async:'async'"   />	
		</div></div> <div class="header-area area-center header-horizontal  header-horizontal"   id="column-666840"><div class="header-content-wrap"> <div class="logo" id="logo918642"><dnn:LOGO runat="server" id="dnnLOGO918642" cssClass="header-logo" BorderWidth="0" /><dnn:LOGO runat="server" id="floatingLOGO918642" cssClass="floating-header-logo" BorderWidth="0" /></div></div></div> <div class="header-area area-right header-horizontal text-right header-horizontal text-right"   id="column-945263"><div class="header-content-wrap"> <div class="mobile-menu-icon"><span class="dg-menu-anime"><i></i></span></div>
	<div class="mobilemenu-main" id="mobilemenu234176" data-title="Menu"><span class="mobileclose"></span>
	<div class="m-menu">
	<dnn:LEFTGOMENU runat="server" id="MOBILEMENU234176" Effect="HTML"/> 
	</div>
	</div>
	<dnn:DnnCssInclude runat="server" FilePath="resource/header/mobilemenu/mobilemenu.css" PathNameAlias="SkinPath" Priority="317" HtmlAttributesAsString="media:'none',title:'all',onload:'this.media=this.title"  />
	<dnn:DnnJsInclude runat="server" FilePath="resource/header/mobilemenu/mobilemenu.js" ForceProvider ="DnnFormBottomProvider" PathNameAlias="SkinPath" Priority="17" HtmlAttributesAsString="async:'async'"   />	
	</div></div> </div></div> </header></div>