﻿<div class="header-replace header-position"><header class="header_bg header-wrap header-default floating-nav floating-nav-sticky"><div id="megamenuWidthBox" class="container"></div>  <div class="header-center-bg  header-bg-box" data-height="70"  id="headerrow-349356"><div class="container"><div class="header-center header-container-box"> <div class="header-area area-left header-horizontal  header-horizontal" style="width:200px"  id="column-645135"><div class="header-content-wrap"> <div class="popup-menu2-wrap" id="popup-menu2-wrap900274">
						<div class="menu-icon"><i class="l_1"></i><i class="l_2"></i><i class="l_3"></i></div>
						<div class="popup-menu2" id="popup-menu2900274">
							<div class="menu-close"></div>
							<div class="container">
								<dnn:LEFTGOMENU runat="server" id="dnnGOMENU900274" Effect="HTML" />
								<div class="popup-last-content"><h5>Phone</h5>
<p class="mb-30">(845) 359-7777</p>

<h5>Email</h5>
<p class="mb-25">service.simple@gmail.com</p>

<p>
	
	<a href="#" class="mr-10">

<svg><use xlink:href="/Portals/_default/ContentBuilder/minis-page/social-icon/twitter.svg#twitter"></use></svg>
 
</a> 
	<a href="#" class="mr-10">

<svg><use xlink:href="/Portals/_default/ContentBuilder/minis-page/social-icon/facebook.svg#facebook"></use></svg>
 
</a> 
	<a href="#" class="mr-10">

<svg><use xlink:href="/Portals/_default/ContentBuilder/minis-page/social-icon/pinterest.svg#pinterest"></use></svg>
 
</a> 
</p></div>
							</div>
						</div>
					</div>
					<dnn:DnnCssInclude runat="server" FilePath="resource/header/popup-menu2/popup-menu2.css" PathNameAlias="SkinPath" Priority="324" HtmlAttributesAsString="media:'none',title:'all',onload:'this.media=this.title"  />
					<dnn:DnnJsInclude runat="server" FilePath="resource/header/popup-menu2/popup-menu2.js" ForceProvider ="DnnFormBottomProvider" PathNameAlias="SkinPath" Priority="9" HtmlAttributesAsString="async:'async'"   />	
					
					</div></div> <div class="header-area area-center header-horizontal text-left header-horizontal text-left" style="width:89%"  id="column-930454"><div class="header-content-wrap"> <div class="logo" id="logo575027"><dnn:LOGO runat="server" id="dnnLOGO575027" cssClass="header-logo floating-header-logo" BorderWidth="0" /></div><div class="dngTextBox"><div class="home05-header-text">Phone: (845) 359-7777</div></div></div></div> <div class="header-area area-right header-horizontal  header-horizontal"   id="column-722316"><div class="header-content-wrap"> </div></div> </div></div></div>  </header></div><div class="mobile-header-replace"><header class="mobile-header floating-nav"> <div class="header-mobile-bg mobile-header-shadow" id="mobileheader-639685"><div class="header-mobile"> <div class="header-area area-left header-horizontal text-left header-horizontal text-left"   id="column-615625"><div class="header-content-wrap"> <div class="search-popup-box" id="search-popup-box485739" placeholder="Enter any key words to search"><div class="icon hover-accent"><span class="magnifier"><i></i></span></div><div class="popup-reveal color-dark "></div><div class="popup-content color-dark bg-accent"><div class="popup-close hover-accent"><span class="icon-cross"></span></div><div class="popup-center"><dnn:SEARCH runat="server" id="dnnSEARCH485739" CssClass="search"  ShowSite="False" ShowWeb="False"  submit=" " /></div></div></div>
		<dnn:DnnCssInclude runat="server" FilePath="resource/header/search-popup/search-popup.css" PathNameAlias="SkinPath" Priority="318" HtmlAttributesAsString="media:'none',title:'all',onload:'this.media=this.title"  />
		<dnn:DnnJsInclude runat="server" FilePath="resource/header/search-popup/search-popup.js"  ForceProvider ="DnnFormBottomProvider" PathNameAlias="SkinPath" Priority="9" HtmlAttributesAsString="async:'async'"   />	
		</div></div> <div class="header-area area-center header-horizontal  header-horizontal"   id="column-946586"><div class="header-content-wrap"> <div class="logo" id="logo712896"><dnn:LOGO runat="server" id="dnnLOGO712896" cssClass="header-logo floating-header-logo" BorderWidth="0" /></div></div></div> <div class="header-area area-right header-horizontal text-right header-horizontal text-right"   id="column-62191"><div class="header-content-wrap"> <div class="mobile-menu-icon"><span class="dg-menu-anime"><i></i></span></div>
	<div class="mobilemenu-main" id="mobilemenu11098" data-title="Menu"><span class="mobileclose"></span>
	<div class="m-menu">
	<dnn:LEFTGOMENU runat="server" id="MOBILEMENU11098" Effect="HTML"/> 
	</div>
	</div>
	<dnn:DnnCssInclude runat="server" FilePath="resource/header/mobilemenu/mobilemenu.css" PathNameAlias="SkinPath" Priority="317" HtmlAttributesAsString="media:'none',title:'all',onload:'this.media=this.title"  />
	<dnn:DnnJsInclude runat="server" FilePath="resource/header/mobilemenu/mobilemenu.js" ForceProvider ="DnnFormBottomProvider" PathNameAlias="SkinPath" Priority="17" HtmlAttributesAsString="async:'async'"   />	
	</div></div> </div></div> </header></div>