﻿ #footerinfo628747,
	#footerinfo628747 a,  
	#footerinfo628747 a:link,   
	#footerinfo628747 a:active,   
	#footerinfo628747 a:visited{color:rgba(170,170,170,1);}
		#footerinfo628747 .sep{
			margin:0px 5px;
		}
		
		#footerinfo628747 a:hover{
			color: #1abc9c;
			text-decoration: none;
		}#row-781151{padding-top:25px;padding-bottom:25px;}
			#row-781151,
			#row-781151 .Normal{color:rgba(170,170,170,1);}