﻿ #row-565405{position:relative}#row-565405:before{
				content:"";
				position: absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				display: block;
				pointer-events:none;
				background-color:#003ad3;
			}#row-565405{
							-webkit-transform: skewY(-1.8deg)!important;
							transform: skewY(-1.8deg)!important;
							-webkit-transform-origin:center bottom;
							transform-origin:center bottom;
						  }
						  #row-565405 > div {
							-webkit-transform: skewY(1.8deg)!important;
							transform: skewY(1.8deg)!important;
							-webkit-transform-origin:center bottom;
							transform-origin:center bottom;
						 }
						 #row-565405 > div.dng-video-wrapper {
							-webkit-transform: skewY(1.8deg) translate(-50%,-50%)!important;
							transform: skewY(1.8deg) translate(-50%,-50%)!important;
						 }
						  