﻿<div id="dashboard-accordion${ModuleID}" class="$EffectThemeName"> #if($DataList.Count > 0) 
  #foreach($DataItem in $DataList)
  <div class="accordion-item">
    <div class="accordion-header"> <span class="title">${xf.ViewContent("Title",$DataItem)}</span> </div>
    <div class="accordion-content">
    #if($DataItem.AdditionalPicture > 0)
      <div class="thumbnail"><img src="${xf.ViewPicture($DataItem)}" alt="${xf.ViewContent("Title",$DataItem)}" /> </div>
    #end  
      <div class="clear"></div>
      <ul class="info">
          #if(${xf.ViewEffectSetting("Displayauthor","true")}=="true")
            <li><span><i class="icon-user"></i> <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a></span></li>
          #end
          #if(${xf.ViewEffectSetting("Displaycategories","true")}=="true")
            <li><span><i class="icon-folder-open"></i> ${xf.ViewCategories($DataItem)} </span></li>
          #end
          #if(${xf.ViewEffectSetting("Displayupdatedate","true")}=="true")
            <li><span><i class="icon-calendar"></i> $DataItem.PublishTime.ToString("")</span></li>
          #end
          #if(${xf.ViewEffectSetting("Displaycomments","true")}=="true")
            <li><span><i class="icon-comment"></i> <a href="${xf.GoUrl($DataItem)}#comments">${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a></span></li>
          #end
          #if(${xf.ViewEffectSetting("Displayviewcount","true")}=="true")
            <li><span><i class="icon-eye-open"></i> ${xf.ViewLanguage("View_Count","View Count")} $DataItem.ViewCount</span></li>
          #end
      </ul>
      #if(${xf.ViewEffectSetting("Displaytags","true")}=="true")
      <div class="category">${xf.ViewTags($DataItem)} </div>
      #end
      <div class="content">${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}</div>
      <a href="${xf.GoUrl($DataItem)}">${xf.ViewEffectSetting("moretext","More >")}</a> </div>
  </div>
  #end
  #end </div>
<script type="text/javascript">
      jQuery(document).ready(function() {
          $("#dashboard-accordion${ModuleID}").each(function () {
			  var e=$(this);	  
			  e.jqueryAccordion({
					  interval: ${xf.ViewEffectSetting("interval",200)},
					  fadeContent: ${xf.ViewEffectSetting("fadeContent","true")},
					  open: ${xf.ViewEffectSetting("open","true")},
					  defaultOpenIndex:${xf.ViewEffectSetting("defaultOpenIndex",1)}
			  });
			 e.OpenAccordion();
        });
      });
</script> 
