﻿<div class="CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")}  CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")}_1 $EffectThemeName"  id="tabposition_${ModuleID}">
    #if(${xf.ViewEffectSetting("tabLayout","Top")} !="Bottom")
    <ul class="resp-tabs-list  #if(${xf.ViewEffectSetting("DisplaytabTag",true)} == "False") col2 #end">
      <li><span>Recent</span></li>
      <li><span>Popular</span></li>
      #if(${xf.ViewEffectSetting("DisplaytabTag",true)})<li><span>Tag</span></li>#end
    </ul>
    #end
    <div class="resp-tabs-container">
      <div class="resp_container">
        <div class="resp_margin"> #set($DataList1 = ${xf.ViewArticleRankingList("time",1,${xf.ViewEffectSetting("Recent_Number",4)})})
          #if($DataList1.Count > 0)
          <ul class="news_toplist">
            #foreach($DataItem in $DataList1)
            <li class="clearfix"> 
            
            
                #if(${xf.ViewEffectSetting("DisplayPicture",true)})
                    #if($DataItem.AdditionalPicture > 0)
                        <div class="post_thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ThumbnailUrl($DataItem,${xf.ViewEffectSetting("thumbnail_width",80)},80,"W")}"  alt="$DataItem.Title" title="$DataItem.Title" /></a> </div>
                    #end
                #end
                
                <div class="view_right">


                #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                    <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
                #end
                #if(${xf.ViewEffectSetting("DisplayComments",true)})
                <p><span class="fa fa-comments-o"></span> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</p> 
                #end
                #if(${xf.ViewEffectSetting("DisplayAuthor",true)}||${xf.ViewEffectSetting("DisplayAuthor",true)})
                    <div class="post_date">
                    #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
                        <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a>
                    #end
                    #if(${xf.ViewEffectSetting("Displaydate",true)})
                        #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  
                    #end
                    </div> 
                 #end
                #if(${xf.ViewEffectSetting("Displaycategory",true)})
                    <div class="post_category">${xf.ViewCategories($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaytags",true)})
                    <div class="post_tags">${xf.ViewTags($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaysummary",true)})
                    <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
                #end
                </div>
              
              
              
              
            </li>
            #end
          </ul>
          #end </div>
      </div>
      <div class="resp_container">
        <div class="resp_margin"> #set($DataList3 = ${xf.ViewArticleRankingList("view",1,${xf.ViewEffectSetting("Popular_Number",4)})})
          #if($DataList3.Count > 0)
          <ul class="news_toplist">
            #foreach($DataItem in $DataList3)
            <li class="clearfix"> 
            #if(${xf.ViewEffectSetting("DisplayPicture",true)})
            #if($DataItem.AdditionalPicture > 0)
              <div class="post_thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ThumbnailUrl($DataItem,${xf.ViewEffectSetting("thumbnail_width",80)},80,"W")}"  alt="$DataItem.Title" title="$DataItem.Title" /></a> </div>
              #end
               #end
              
                <div class="view_right">
                #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                    <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
                #end
                #if(${xf.ViewEffectSetting("DisplayComments",true)})
                <p><span class="fa fa-comments-o"></span> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</p> 
                #end
                #if(${xf.ViewEffectSetting("DisplayAuthor",true)}||${xf.ViewEffectSetting("DisplayAuthor",true)})
                    <div class="post_date">
                    #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
                        <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a>
                    #end
                    #if(${xf.ViewEffectSetting("Displaydate",true)})
                        #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  
                    #end
                    </div> 
                 #end
                #if(${xf.ViewEffectSetting("Displaycategory",true)})
                    <div class="post_category">${xf.ViewCategories($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaytags",true)})
                    <div class="post_tags">${xf.ViewTags($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaysummary",true)})
                    <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
                #end
                </div>
              
              
              
            </li>
            #end
          </ul>
          #end </div>
      </div>
      #if(${xf.ViewEffectSetting("DisplaytabTag",true)})
      <div class="resp_container">
        <div class="resp_margin"> #set($DataList2 = ${xf.ViewTagList("random",1,${xf.ViewEffectSetting("Tags_Number",20)})})
          #if($DataList2.Count > 0)
          <div class="post_tabtag clearfix"> #foreach($DataItem in $DataList2) <a href="${xf.GoUrl($DataItem)}" >$DataItem.ContentText</a> #end </div>
          #end </div>

      </div>
       #end 
    </div>
    #if(${xf.ViewEffectSetting("tabLayout","Top")} =="Bottom")
    <ul class="resp-tabs-list tobottom #if(${xf.ViewEffectSetting("DisplaytabTag",true)} == "False") col2 #end">
      <li><span>Recent</span></li>
      <li><span>Popular</span></li>
      #if(${xf.ViewEffectSetting("DisplaytabTag",true)})<li><span>Tag</span></li>#end 
    </ul>
    #end
</div>
<style type="text/css">
	#tabposition_${ModuleID}.CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")} ul.resp-tabs-list li.resp-tab-active span:before{
		border-${xf.ViewEffectSetting("tabLayout","Top")}-color:${xf.ViewEffectSetting("tabColor","#0f6a87")};
	}
  @media (max-width: 767px) {
  .CategorieTab_${xf.ViewEffectSetting("tabLayout","Top")} .resp-tab-active{
    background-color:${xf.ViewEffectSetting("tabColor","#0f6a87")};
  }
}
</style>
