﻿<div id="slider${ModuleID}_container" class="$ThemeName" style="overflow: hidden; position: relative; top: 0px; left: 0px;width:${xf.ViewXmlSetting("sliderWidth",980)}px; height:${xf.ViewXmlSetting("sliderHeight",100)}px ;"> 
  <!-- Loading Screen -->
  <div u="loading" class="loading">
    <div class="bg"> </div>
    <div class="ico"> </div>
  </div>
  <!-- Slides Container -->
  <div u="slides" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width:${xf.ViewXmlSetting("sliderWidth",980)}px; height:${xf.ViewXmlSetting("sliderHeight",100)}px ;"> 
  #if($SliderList.Count > 0) 
    #foreach($SliderItem in $SliderList)
    #set( $SingleSettingTitle		= ${xf.ViewSliderSetting($SliderItem,"SingleSettingTitle","false")}			) 
    #set( $SingleSettingDescription	= ${xf.ViewSliderSetting($SliderItem,"SingleSettingDescription","false")}	) 
    #set( $SingleSettingEffect		= ${xf.ViewSliderSetting($SliderItem,"SingleSettingEffect","false")}		)
    #set( $SingleSettingBorder		= ${xf.ViewSliderSetting($SliderItem,"SingleSettingBorder","false")}		)
    #set( $SingleSettingOther		= ${xf.ViewSliderSetting($SliderItem,"SingleSettingOther","false")}			)
    
    #set( $PictureLinkType			= ${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")}				)
    #set( $IconLinkType				= ${xf.ViewSliderSetting($SliderItem,"IconLinkType","Link")}				)
    #set( $RightIconLinkType		= ${xf.ViewSliderSetting($SliderItem,"RightIconLinkType","Link")}			)
    #set( $Title					= ${xf.ViewSliderSetting($SliderItem,"Title","")}							)
    
    #if($SingleSettingTitle=="true")
    #set( $DisplayTitle				= ${xf.ViewSliderSetting($SliderItem,"DisplayTitle","true")}			)  
    #set( $TitleFontSize			= ${xf.ViewSliderSetting($SliderItem,"TitleFontSize","15")}				)  
    #set( $TitleFontColor			= ${xf.ViewSliderSetting($SliderItem,"TitleFontColor","#333333")}		) 
    #else
    #set( $DisplayTitle				= ${xf.ViewXmlSetting("DisplayTitle","false")}				)  
    #set( $TitleFontSize			= ${xf.ViewXmlSetting("TitleFontSize","15")}				)  
    #set( $TitleFontColor			= ${xf.ViewXmlSetting("TitleFontColor","#333333")}			) 
    #end 
    
    #if($SingleSettingDescription=="true")
    #set( $DisplayContent			= ${xf.ViewSliderSetting($SliderItem,"DisplayContent","true")}			) 
    #set( $ContentFontSize			= ${xf.ViewSliderSetting($SliderItem,"ContentFontSize","13")}			) 
    #set( $ContentFontColor			= ${xf.ViewSliderSetting($SliderItem,"ContentFontColor","#555555")}		)
    #else 
    #set( $DisplayContent			= ${xf.ViewXmlSetting("DisplayContent","false")}				) 
    #set( $ContentFontSize			= ${xf.ViewXmlSetting("ContentFontSize","13")}				) 
    #set( $ContentFontColor			= ${xf.ViewXmlSetting("ContentFontColor","#555555")}		)
    #end 
    #if($SingleSettingEffect=="true")
    #set( $ContentStyle				= ${xf.ViewSliderSetting($SliderItem,"ContentStyle","ico_LeftAndRight_enter")}	) 
    #set( $shadeBackground			= ${xf.ViewSliderSetting($SliderItem,"shadeBackground","#333333")}				) 
    #set( $shadeBgOpacity			= ${xf.ViewSliderSetting($SliderItem,"shadeBgOpacity","50")}					) 
    #set( $leftIconEnable			= ${xf.ViewSliderSetting($SliderItem,"leftIconEnable","true")}					) 
    #set( $IconleftStyle			= ${xf.ViewSliderSetting($SliderItem,"IconleftStyle","fa fa-link")}				) 
    #set( $IconleftBackground		= ${xf.ViewSliderSetting($SliderItem,"IconleftBackground","#69b532")}			) 
    #set( $rightIconEnable			= ${xf.ViewSliderSetting($SliderItem,"rightIconEnable","true")}					) 
    #set( $IconrightStyle			= ${xf.ViewSliderSetting($SliderItem,"IconrightStyle","fa fa-search")}			) 
    #set( $IconrightBackground		= ${xf.ViewSliderSetting($SliderItem,"IconrightBackground","#69b532")}			) 
    #set( $Picturehoverzoom			= ${xf.ViewSliderSetting($SliderItem,"Picturehoverzoom","false")}				) 
    #else 
    #set( $ContentStyle				= ${xf.ViewXmlSetting("ContentStyle","ico_LeftAndRight_enter")}	) 
    #set( $shadeBackground			= ${xf.ViewXmlSetting("shadeBackground","#333333")}				) 
    #set( $shadeBgOpacity			= ${xf.ViewXmlSetting("shadeBgOpacity","0")}					) 
    #set( $leftIconEnable			= ${xf.ViewXmlSetting("leftIconEnable","false")}					) 
    #set( $IconleftStyle			= ${xf.ViewXmlSetting("IconleftStyle","fa fa-link")}			) 
    #set( $IconleftBackground		= ${xf.ViewXmlSetting("IconleftBackground","#69b532")}			) 
    #set( $rightIconEnable			= ${xf.ViewXmlSetting("rightIconEnable","false")}				) 
    #set( $IconrightStyle			= ${xf.ViewXmlSetting("IconrightStyle","fa fa-search")}			) 
    #set( $IconrightBackground		= ${xf.ViewXmlSetting("IconrightBackground","#69b532")}			) 
    #set( $Picturehoverzoom			= ${xf.ViewXmlSetting("Picturehoverzoom","false")}				) 
    #end 
    #if($SingleSettingBorder=="true")
    #set( $Itemborder				= ${xf.ViewSliderSetting($SliderItem,"Itemborder","false")}				) 
    #set( $BorderColor				= ${xf.ViewSliderSetting($SliderItem,"BorderColor","#333333")}			) 
    #set( $BorderWidth				= ${xf.ViewSliderSetting($SliderItem,"BorderWidth","1")}				) 
    #set( $BorderStyle				= ${xf.ViewSliderSetting($SliderItem,"BorderStyle","solid")}			) 
    #set( $BorderPadding			= ${xf.ViewSliderSetting($SliderItem,"BorderPadding","5")}				) 
    #else 
    #set( $Itemborder				= ${xf.ViewXmlSetting("Itemborder","false")}				) 
    #set( $BorderColor				= ${xf.ViewXmlSetting("BorderColor","#333333")}				) 
    #set( $BorderWidth				= ${xf.ViewXmlSetting("BorderWidth","1")}					) 
    #set( $BorderStyle				= ${xf.ViewXmlSetting("BorderStyle","solid")}				) 
    #set( $BorderPadding			= ${xf.ViewXmlSetting("BorderPadding","5")}					) 
    #end 
    #if($SingleSettingOther=="true")
    #set( $BoxbgColor				= ${xf.ViewSliderSetting($SliderItem,"BoxbgColor","#FFFFFF")}					) 
    #set( $TextPadding				= ${xf.ViewSliderSetting($SliderItem,"TextPadding","5")}						) 
    #set( $ShadowStyle				= ${xf.ViewSliderSetting($SliderItem,"ShadowStyle","none")}						) 
    #else 
    #set( $BoxbgColor				= ${xf.ViewXmlSetting("BoxbgColor","#FFFFFF")}				) 
    #set( $TextPadding				= ${xf.ViewXmlSetting("TextPadding","5")}					) 
    #set( $ShadowStyle				= ${xf.ViewXmlSetting("ShadowStyle","none")}				) 
    #end
    
    <div>
      <div class="pro-photo $ContentStyle #if($Picturehoverzoom=="true") img_zoom #end  #if($ShadowStyle!="none")$ShadowStyle #end" style="background-color:$BoxbgColor">
      #if($Itemborder=="true")<div class="pro-border" style="border:$BorderColor ${BorderWidth}px $BorderStyle;padding:${BorderPadding}px"> #end
        <div class="pic_box"> #if( $PictureLinkType == "Link") <a href="${xf.PictureUrl($SliderItem,"PictureLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"PictureLinkTarget","_blank")}" class="imgLink" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a> #elseif($PictureLinkType == "prolight_image") <a href="${xf.PictureUrl($SliderItem,"PictureImages","http://")}" class="prolight_image_gallery${ModuleID} imgLink" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a> #elseif($PictureLinkType == "prolight_youtube") <a href="${xf.PictureUrl($SliderItem,"Pictureyoutube","http://")}" class="prolight_youtube_gallery${ModuleID} imgLink" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a> #elseif($PictureLinkType == "prolight_vimeo") <a href="${xf.PictureUrl($SliderItem,"Picturevimeo","http://")}" class="prolight_vimeo_gallery${ModuleID} imgLink" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a> #elseif($PictureLinkType == "prolight_gmaps") <a href="${xf.PictureUrl($SliderItem,"Picturegmaps","http://")}" class="prolight_gmaps_gallery${ModuleID} imgLink" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a> #end 
         <img src="${xf.PictureUrl($SliderItem,"Picture","")}" alt="#if(${xf.ViewSliderSetting($SliderItem,"imagealt","")}=="")$Title#else${xf.ViewSliderSetting($SliderItem,"imagealt","")}#end"/>
      
          <div class="shade"><span style="background-color:$shadeBackground; opacity:${xf.Division(${shadeBgOpacity},"100")}; filter:alpha(opacity=$shadeBgOpacity);"></span></div>
          <div class="ico"> #if( $leftIconEnable == "true")
            #if( $IconLinkType == "Link") <a href="${xf.PictureUrl($SliderItem,"LeftIconLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"LeftIconLinkTarget","_blank")}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif($IconLinkType == "prolight_image") <a href="${xf.PictureUrl($SliderItem,"LeftIconImages","http://")}" class="prolight_image_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif($IconLinkType == "prolight_youtube") <a href="${xf.PictureUrl($SliderItem,"LeftIconyoutube","http://")}" class="prolight_youtube_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif($IconLinkType == "prolight_vimeo") <a href="${xf.PictureUrl($SliderItem,"LeftIconvimeo","http://")}" class="prolight_vimeo_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif($IconLinkType == "prolight_gmaps") <a href="${xf.PictureUrl($SliderItem,"LeftIcongmaps","http://")}" class="prolight_gmaps_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #end <span class="$IconleftStyle ico-left" style="background-color:$IconleftBackground"></span> #if($IconLinkType != "None") </a> #end  
            #end  
            #if( $rightIconEnable == "true")
            #if( $RightIconLinkType == "Link") <a href="${xf.PictureUrl($SliderItem,"RightIconLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"RightIconLinkTarget","_blank")}"  title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif( $RightIconLinkType == "prolight_image") <a href="${xf.PictureUrl($SliderItem,"RightIconImages","http://")}" class="prolight_image_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif( $RightIconLinkType == "prolight_youtube") <a href="${xf.PictureUrl($SliderItem,"RightIconyoutube","http://")}" class="prolight_youtube_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif( $RightIconLinkType == "prolight_vimeo") <a href="${xf.PictureUrl($SliderItem,"RightIconvimeo","http://")}" class="prolight_vimeo_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #elseif( $RightIconLinkType == "prolight_gmaps") <a href="${xf.PictureUrl($SliderItem,"RightIcongmaps","http://")}" class="prolight_gmaps_gallery${ModuleID}" title="$Title" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> #end <span class="$IconrightStyle ico-right"  style="background-color:$IconrightBackground"></span> #if( $RightIconLinkType != "None") </a> #end  
            #end </div>
        </div>
        <div class="content" style="padding:${TextPadding}px">
          <div class="vertical_center_1">
            <div class="vertical_center_2" > #if( $Title != "" && $DisplayTitle	== "true")
              <h3 style="font-size:${TitleFontSize}px;color:${TitleFontColor}"> $Title </h3>
              #end
              #if( ${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} != "" && $DisplayContent=="true" )
              <div style="font-size:${ContentFontSize}px;color:$ContentFontColor"> ${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} </div>
              #end </div>
          </div>
        </div>
        #if($Itemborder=="true") </div>#end 
      </div>
 	 </div>
  #end
  #end 
 </div>
</div>
#if($SliderList.Count > 0) 
<script>
	jQuery(document).ready(function ($) {
		var options = {
			$AutoPlay: ${xf.ViewXmlSetting("AutoPlay","true")},                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
			$AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
			$AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
			$PauseOnHover: ${xf.ViewXmlSetting("PauseOnHover","4")},                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

			$ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
			$SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
			$SlideDuration: ${xf.ViewXmlSetting("SlideDuration","1600")},                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
			$MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
			$SlideWidth:  ${xf.ViewXmlSetting("slideritemWidth","140")},                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
			//$SlideHeight: 100,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
			$SlideSpacing: ${xf.ViewXmlSetting("SlideSpacing","0")}, 					                //[Optional] Space between each slide in pixels, default value is 0
			$DisplayPieces: ${xf.ViewXmlSetting("DisplayPieces","7")},                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
			$ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
			$UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
			$PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
			$DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
		};

		var jssor_slider1 = new $JssorSlider$("slider${ModuleID}_container", options);
		//responsive code begin
		//you can remove responsive code if you don't want the slider scales while window resizes
		function ScaleSlider() {
			var bodyWidth = document.body.clientWidth;
			if (bodyWidth)
				jssor_slider1.$ScaleWidth(Math.min(bodyWidth, ${xf.ViewXmlSetting("sliderWidth",900)}, $("#slider${ModuleID}_container").parent().width()));
			else
				window.setTimeout(ScaleSlider, 30);
		}
		ScaleSlider();

		$(window).bind("load", ScaleSlider);
		$(window).bind("resize", ScaleSlider);
		$(window).bind("orientationchange", ScaleSlider);
		//responsive code end
	});
</script> 
#end 