/* Slider */

.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-slider img {
	max-width:100%;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Slider */

.slick-loading .slick-list {
	background: #fff url('images/ajax-loader.gif') center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 30px;
	height: 30px;
	line-height:30px;
	margin-top: -15px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background:#000;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: transparent;
	outline: none;
	background:#333;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: .25;
}

.slick-prev:before,
.slick-next:before {
	font-size: 14px;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: -20px;
}

[dir='rtl'] .slick-prev {
	right: -20px;
	left: auto;
}

.slick-prev:before {
	content: '';
	width:6px;
	height:6px;
	position:absolute;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	top:50%;
	left:50%;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin:-3px 0 0 -1px;
}

[dir='rtl'] .slick-prev:before {
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	margin:-3px 0 0 -5px;
}

.slick-next {
	right: -20px;
}

[dir='rtl'] .slick-next {
	right: auto;
	left: -20px;
}

.slick-next:before {
	content: '';
	width:6px;
	height:6px;
	position:absolute;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	top:50%;
	left:50%;
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	margin:-3px 0 0 -5px;
}


[dir='rtl'] .slick-next:before {
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin:-3px 0 0 -1px;
}

/* Dots */

.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 12px;
	height: 12px;
	cursor: pointer;
	color: transparent;
	border: 0;
	padding:0;
	outline: none;
	border:1px solid #000;
	background:transparent;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}


.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button{
	outline: none;
	background:#333;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}




.pro-single-item {
	position: relative;
	overflow: hidden;
}

.slick-center{
	z-index: 1000;
}
.slick-center:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:1px solid #000;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	opacity:0.5;
}


.pro-single-bigContent {
	margin: 0;
}

.pro-photo {
	position:relative;
}
.pro-single-shade {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.5;
	z-index:3;
}
.pro-single-zoom {
	width:30px;
	height:30px;
	background-color:#000;
	position:absolute;
	top:50%;
	left:0%;
	opacity:0;
	z-index:4;
	margin:-15px 0 0 -32px;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.pro-single-link {
	width:30px;
	height:30px;
	background-color:#000;
	position:absolute;
	top:50%;
	left:100%;
	z-index:4;
	margin:-15px 0 0 2px;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.pro-single-item:hover .pro-single-zoom,
.pro-single-item:hover .pro-single-link {
	left:50%;
	opacity:1;
}
.pro-single-item:hover .img-zoom {}

/* caption */
.pro-single-item .default_show .pic_box img {
	position:relative;
	z-index:0;
}
.pro-single-item .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all ease-in 400ms;
	-webkit-transition: all ease-in 400ms; /* Safari and Chrome */
}


.pro-single-item .caption-up {
	top: 0;
	left: 0;
	bottom: auto;
	right: auto;
	transform:translate(0, -100%);
	-webkit-transform:translate(0, -100%);
}

.pro-single-item .caption-right {
	width: 30%;
	height: 100%;
	right: 0;
	top: 0;
	bottom: auto;
	left: auto;
	transform:translate(100%, 0);
	-webkit-transform:translate(100%, 0);
}
.pro-single-item .caption-down {
	bottom: 0;
	left: 0;
	top: auto;
	right: auto;
	transform:translate(0, 100%);
	-webkit-transform:translate(0, 100%);
}

.pro-single-item .caption-left {
	width: 30%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	transform:translate(-100%, 0);
	-webkit-transform:translate(-100%, 0);
}
.pro-single-item .pro-border .content{
	padding:0px 5px 5px;

}
.slick-active .caption {
	transform:translate(0, 0);
	-webkit-transform:translate(0, 0);
}

.pro-single-item .caption-bototm-hover {
	bottom: 0;
	left: 0;
	top: auto;
	right: auto;
	transform:translate(0, 100%);
	-webkit-transform:translate(0, 100%);
	transition: all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.pro-single-item:hover .caption-bototm-hover{
	transform:translate(0, 0);
	-webkit-transform:translate(0, 0);
}


.slick-slider .nav-title {
	padding:8px 5px;
}



@media only screen and (min-width: 1200px) {
	.slick-prev {
		left: -35px;
	}
	.slick-next {
		right: -35px;
	}
	[dir='rtl'] .slick-prev {
		right: -35px;
		left: auto;
	}
	[dir='rtl'] .slick-next {
		left: -35px;
		right: auto;
	}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.slick-prev {
		left: -15px;
	}
	.slick-next {
		right: -15px;
	}
	[dir='rtl'] .slick-prev {
		right: -15px;
		left: auto;
	}
	[dir='rtl'] .slick-next {
		left: -15px;
		right: auto;
	}

}
@media only screen and (max-width: 767px) {
	.slick-prev {
		left: -0px;
	}
	.slick-next {
		right: -0px;
	}
	[dir='rtl'] .slick-prev {
		right: -0px;
		left: auto;
	}
	[dir='rtl'] .slick-next {
		left: -0px;
		right: auto;
	}

}

/* Theme_03_Default */


.Theme_03_Default {
	position:relative;
	min-height:50px;
}
.Theme_03_Default .pro-single-item{
	visibility:hidden;
}
.Theme_03_Default.slick-slider .pro-single-item{
	visibility:visible;
}
.Theme_03_Default:before{
	content:"";
	background:url(images/loading.gif) no-repeat center center;
	position:absolute;
	width:100%;
	height:100%;
	z-index:100;
}
.Theme_03_Default.slick-slider:before{
	display:none;
}

 