
.popup-menu-wrap .popup-menu-header{
	padding: 0px 62px 0 200px;
	margin-top: -1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

@media (max-width:1659px) {
	.popup-menu-wrap .popup-menu-container{
		width: auto;
		margin: 0 185px;
	}
}

@media (max-width:1024px) {
	.popup-menu-wrap .popup-menu-container{
		margin: 0 40px;
	}
}

@media (min-width:1660px) {
	.popup-menu-wrap .popup-menu-container{
		width: 1410px;
		max-width: 100%;
	}
	.popup-menu-wrap .popup-menu-header{
		padding: 0px 62px 0 calc((100vw - 1410px)/2 + 15px);
	}
}


.popup-menu-wrap .popup-menu-container > .row{
	height: 100vh;
	padding: 100px 0;
}

.popup-menu .pagetitle{
	font-size: 200px;
	color: rgba(255,255,255,0.03);
	position: absolute;
	left: 0;
	bottom: -10px;
	pointer-events: none;
	line-height: 0.58;
	font-weight: 600;
	white-space: nowrap;
}
.popup-menu {
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	z-index: 15;
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 0px;
	text-align: left;
	color: #fff;
	overflow:hidden;
}
.popup-menu.active {
	width: 100%;
	height: 100%;
}
.popup-menu-main{
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow:hidden;
}


.popup-menu h1,
.popup-menu h2,
.popup-menu h3,
.popup-menu h4,
.popup-menu h5,
.popup-menu h6,
.popup-menu a{
	color: #fff;
}
.popup-menu p{
	margin-bottom: 10px;
}

.popup-menu .gomenu > ul {
	padding:0;
	margin: 0px;
	list-style: none;
	display: inline-block;
}
.popup-menu .gomenu > ul a,
.popup-menu .gomenu > ul a:link {
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	-webkit-transition: all ease-in 200ms;
	transition: all ease-in 200ms;
}
.popup-menu .gomenu > ul > li{
	position: relative;
}
.popup-menu .gomenu > ul > li > a{
	display: block;
	overflow: hidden;
	padding: 11px 50px 11px 0;
	margin-right: 30px;
}
.popup-menu .gomenu > ul a:hover,
.popup-menu .gomenu > ul a.active,
.popup-menu .gomenu > ul li.current  > a{
	text-decoration: none;
}
.popup-menu .gomenu > ul > li > a > span{
	position: relative;
}
.popup-menu .gomenu > ul > li.dir > a > span::after{
	content: "";
	position: absolute;
	left: 100%;
	width: 200px;
	min-width: 100%;
	margin-left: 30px;
	border-bottom: 1px solid #FFF;
	top: 50%;
	-webkit-transition: all ease-in 200ms;
	transition: all ease-in 200ms;
	opacity: 0;
	visibility: hidden;
}
.popup-menu .gomenu > ul > li.dir:hover > a > span::after,
.popup-menu .gomenu > ul > li.current > a > span::after{
	opacity: 1;
	visibility: visible;
}
.popup-menu .menu_arrow {
	display: none;
}

.popup-menu .gomenu > ul ul {
	position: absolute;
	left: 100%;
	top: 19px;
	margin: 0;
	padding: 0px;
	width: 640px;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: all ease-in 200ms;
	transition: all ease-in 200ms;
}
.popup-menu .gomenu > ul ul > li {
	margin: 0 40px 18px 0;
}

.popup-menu .gomenu > ul ul a,
.popup-menu .gomenu > ul ul a:link {
	font-size: 20px;
	font-weight: 700;
}

.popup-menu .gomenu > ul ul li {
	display: inline-block;
	position: relative;
}

.popup-menu li:hover > a,
.popup-menu li:hover > a:link {
}
.popup-menu li:hover>a>.menu_arrow {
	width: 50px;
}
.popup-menu li li > a >.menu_arrow {
	display: none;
}

.popup-menu li:hover>ul{
	visibility: visible;
	opacity: 1;
}
.popup-menu li:hover>ul ,
.popup-menu li.current>ul {
	opacity: 1;
	visibility: visible;
	transform: none;
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
}
.popup-menu .gomenu > ul ul ul{
	padding: 0;
	left: 0;
	top: 100%;
	padding:24px 0px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index: 2;
	width: auto;
	margin-top: 20px;
}
.popup-menu .gomenu > ul ul ul::after{
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    background-color: inherit;
    top: -5px;
    left: 30px;
    box-shadow: -2px -2px 4px -2px rgba(0,0,0,0.2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup-menu .gomenu > ul ul ul li{	
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 5px 30px;
}
.popup-menu .gomenu > ul ul ul a,
.popup-menu .gomenu > ul ul ul a:link {
	font-size: 18px;
	font-weight: 400;
}
.popup-menu .gomenu > ul ul ul::before{
	content: "";
	top: -25px;
	left: -25px;
	bottom: -25px;
	right: -25px;
	position: absolute;
}
.popup-menu .gomenu > ul ul ul ul{
	top: 0px;
	left: 100%;
	margin: -24px 0 0 32px;
}

.popup-menu .gomenu > ul ul ul ul::after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -4px;
    top: 38px;
}
.popup-menu p b{
	color: #fc7b35;
}







