.iframe_powerformes{
	overflow:visible!important;
	padding:0px;
	margin:0px;
	font:normal 13px/18px Arial, Helvetica, sans-serif;	
}

.iframe_powerformes h1{
	color:#000;
	font:bold 20px/26px Arial, Helvetica, sans-serif;	
	margin:10px 0px;
}
.iframe_powerformes a{
	text-decoration:none;
}
.Result_01_Default.form-align-left{
  text-align: left;
}
.Result_01_Default.form-align-center{
  text-align: center;
}
.Result_01_Default select,
.Result_01_Default textarea,
.Result_01_Default input[type="text"],
.Result_01_Default input[type="password"],
.Result_01_Default input[type="datetime"],
.Result_01_Default input[type="datetime-local"],
.Result_01_Default input[type="date"],
.Result_01_Default input[type="month"],
.Result_01_Default input[type="time"],
.Result_01_Default input[type="week"],
.Result_01_Default input[type="number"],
.Result_01_Default input[type="email"],
.Result_01_Default input[type="url"],
.Result_01_Default input[type="search"],
.Result_01_Default input[type="tel"],
.Result_01_Default input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
	font-family:SimSun;
}


.Result_01_Default textarea,
.Result_01_Default input[type="text"],
.Result_01_Default input[type="password"],
.Result_01_Default input[type="datetime"],
.Result_01_Default input[type="datetime-local"],
.Result_01_Default input[type="date"],
.Result_01_Default input[type="month"],
.Result_01_Default input[type="time"],
.Result_01_Default input[type="week"],
.Result_01_Default input[type="number"],
.Result_01_Default input[type="email"],
.Result_01_Default input[type="url"],
.Result_01_Default input[type="search"],
.Result_01_Default input[type="tel"],
.Result_01_Default input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.Result_01_Default textarea:focus,
.Result_01_Default input[type="text"]:focus,
.Result_01_Default input[type="password"]:focus,
.Result_01_Default input[type="datetime"]:focus,
.Result_01_Default input[type="datetime-local"]:focus,
.Result_01_Default input[type="date"]:focus,
.Result_01_Default input[type="month"]:focus,
.Result_01_Default input[type="time"]:focus,
.Result_01_Default input[type="week"]:focus,
.Result_01_Default input[type="number"]:focus,
.Result_01_Default input[type="email"]:focus,
.Result_01_Default input[type="url"]:focus,
.Result_01_Default input[type="search"]:focus,
.Result_01_Default input[type="tel"]:focus,
.Result_01_Default input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}



.Result_01_Default select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 220px;
}
.Result_01_Default select, 
.Result_01_Default input[type="file"] {
    height: 30px;
    line-height: 30px;
}

.Result_01_Default select[multiple], 
.Result_01_Default select[size] {
    height: auto;
}

.Result_01_Default legend{
	font-size:16px;
}
.Result_01_Default fieldset{
	margin-bottom:10px;
}
.Result_01_Default .form_label,
.Result_01_Default .form_input,
.Result_01_Default .form_required{
	padding:0px 8px 8px 0px;
}
.Result_01_Default .form_captcha img{
	vertical-align:top;
}
.Result_01_Default .form_required{
  font-family: Arial, Helvetica, sans-serif;
}

.return-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  font-family:Arial;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.return-btn:hover,
.return-btn:active,
.return-btn.active,
.return-btn.disabled,
.return-btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.return-btn:active,
.return-btn.active {
  background-color: #cccccc \9;
}

.return-btn:first-child {
  *margin-left: 0;
}

.return-btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.return-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.return-btn.active,
.return-btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.return-btn.disabled,
.return-btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.return-btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.return-btn-large [class^="icon-"] {
  margin-top: 2px;
}

.return-btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}

.return-btn-small [class^="icon-"] {
  margin-top: 0;
}

.return-btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}

.return-btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.return-btn-block + .return-btn-block {
  margin-top: 5px;
}

input[type="submit"].return-btn-block,
input[type="reset"].return-btn-block,
input[type="button"].return-btn-block {
  width: 100%;
}

.return-btn-primary.active,
.return-btn-warning.active,
.return-btn-danger.active,
.return-btn-success.active,
.return-btn-info.active,
.return-btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.return-btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.return-btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-primary:hover,
.return-btn-primary:active,
.return-btn-primary.active,
.return-btn-primary.disabled,
.return-btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.return-btn-primary:active,
.return-btn-primary.active {
  background-color: #003399 \9;
}

.return-btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-warning:hover,
.return-btn-warning:active,
.return-btn-warning.active,
.return-btn-warning.disabled,
.return-btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.return-btn-warning:active,
.return-btn-warning.active {
  background-color: #c67605 \9;
}

.return-btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-danger:hover,
.return-btn-danger:active,
.return-btn-danger.active,
.return-btn-danger.disabled,
.return-btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.return-btn-danger:active,
.return-btn-danger.active {
  background-color: #942a25 \9;
}

.return-btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-success:hover,
.return-btn-success:active,
.return-btn-success.active,
.return-btn-success.disabled,
.return-btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.return-btn-success:active,
.return-btn-success.active {
  background-color: #408140 \9;
}

.return-btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-info:hover,
.return-btn-info:active,
.return-btn-info.active,
.return-btn-info.disabled,
.return-btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.return-btn-info:active,
.return-btn-info.active {
  background-color: #24748c \9;
}

.return-btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.return-btn-inverse:hover,
.return-btn-inverse:active,
.return-btn-inverse.active,
.return-btn-inverse.disabled,
.return-btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.return-btn-inverse:active,
.return-btn-inverse.active {
  background-color: #080808 \9;
}

button.return-btn,
input[type="submit"].return-btn,
input[type="reset"].return-btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.return-btn::-moz-focus-inner,
input[type="submit"].return-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.return-btn.return-btn-large,
input[type="submit"].return-btn.return-btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.return-btn.return-btn-small,
input[type="submit"].return-btn.return-btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.return-btn.return-btn-mini,
input[type="submit"].return-btn.return-btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}


/* Form Layout */
.Result_01_Default .form_row{
	margin-bottom:10px;
}
.Result_01_Default .form_label{
	padding-right:10px;
}
.Result_01_Default .form_required{
	color:red;
}
.Result_01_Default .submit_but{
	margin-right:5px;
}
.Result_01_Default .result_form h1{
	
}
.Result_01_Default .form_submit{
  text-align:center;
}
.Result_01_Default .return-btn,
.Result_01_Default .return-btn:link,
.Result_01_Default .return-btn:visited,
.Result_01_Default .return-btn:active{
  color: #333333;
}

.Result_01_Default .result_form .form_submit{
	text-align:inherit;
}



/* Z-INDEX */
 .formError { z-index: 994; }
    .formError .formErrorContent { z-index: 995; }
    .formError .formErrorArrow { z-index: 996; }
    
    .formErrorInsideDialog.formError { z-index: 5000; }
    .formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
    .formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	/*width: 150px;*/
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}



.Result_01_Default .input_Tooltip
{
    font-style:italic;
}