﻿<div class="$ThemeName" style="width:${xf.ViewXmlSetting("width","100%")};"> 
#if(${DisplayForm})
    #if($GroupList.Count > 0)
      #foreach($GroupItem in $GroupList)
      #set($GroupFieldList = ${xf.ViewSearchFieldList($FieldList,$GroupItem)})
      #if($GroupFieldList.Count > 0)
      <div class="collapsiblediv">
        <div class="group_title btn"> #if( ${xf.ViewXmlSetting("Collapsible","true")} == "false") <span class="max">$GroupItem.Name</span> #else <span class="min">$GroupItem.Name</span> #end </div>
        <div class="group_inside" 
                                #if( ${xf.ViewXmlSetting("Collapsible","true")} == "false")
                                    style="display:none"
                                #end
                                >
          <ul class="form_list">
            #foreach($FieldItem in $GroupFieldList)
            <li style="width:${xf.ViewItemSetting($FieldItem,"Itemwidth","100")}%"> #if(${xf.IsHtmlControl($FieldItem)})
              <div class="form_row"> ${xf.ViewControl($FieldItem)}</div>
              #else
              <div class="form_row row${velocityCount}">
                #if(${xf.ViewItemSetting($FieldItem,"DisplayTitle","true")}=="true")<div class="form_label"> ${xf.ViewLable($FieldItem,":")}  #if($FieldItem.Required == 1)<span class="form_required">*</span>#end</div>#end
                <div class="form_input"> ${xf.ViewControl($FieldItem)}
                  #if( ${xf.ViewXmlSetting("DisplayTooltip","true")} == "true")
                  ${xf.ViewInputDefault($FieldItem)}
                  #end
              </div>
              #end
              #end
          </ul>
        </div>
      </div>
      #end
      #end
      #end     
      #if($Module.Settings_Recaptcha_Enable)
      <div class="form_captchadiv" >
        <table cellpadding="0" cellspacing="0" border="0" class="form_table">
          <tr>
            <td class="form_input form_captcha"> ${xf.ViewCaptcha()} </td>
          </tr>
        </table>
      </div>
      #end
      #if($ErrorMessage != '')
      <div class="PowerForms_ErrorMessage">$ErrorMessage</div>
      #end
      <div class="form_submit"> ${xf.ViewButton("submit_but")}  
        
        #if(${xf.ViewXmlSetting("ShowResetButton","true")} == "true")
        ${xf.ViewResetButton("reset_but")}
        #end </div>
    
#else
    #if(${Module.UserId} > 0)
        <div>${xf.ViewSetting("PowerForms_PromptAlreadySubmitted","You have already submitted the form.")}</div>
    
    #else
       <div>${xf.ViewSetting("PowerForms_PromptNotLogged","You need to log in to submit forms.")}</div>
    #end
#end  
    
</div>
<style type="text/css">
	#form_div_${ModuleID} .actionMenu{ display:none;}
	.form_captcha{
		position:relative;
	}
	.g-recaptcha-dnn{
		padding-bottom:20px;
	}
	.form_captcha .g-recaptcha-msg{
		position:absolute;
		left:0;
		bottom:0;
		font-size:13px;
		white-space:nowrap;
		font-family:Arial, Helvetica, sans-serif;
		line-height:1;
	}
</style>
