﻿<div id="DashBoard_calendar${ModuleID}" class="DashBoard_calendar $SkinThemeName" data-id="${ModuleID}" data-categoryid="" data-starttime="" data-endtime="" data-searchtag="" data-pagesize="999" data-loaddisplay="999" ${xf.AjaxParameters}>
   <div class="calendar-view fc-view fc-once"></div>
  <script class="fcp-Template-CustomMonth" type="text/x-jquery-tmpl"> 
	#if(${xf.ViewSkinSetting("DisplayTitle",true)})	
	{{if title}}
		<h3 class="title"><a href="${EventUrl}">${title}</a></h3>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DisplayDate",true)})
		
	<div class="timeBox">	
	{{if StartFormat}}
		<div class="startdate"><span>${xf.ViewSkinSetting("fontStartdate","Start date")}</span> ${StartFormat} </div>
	{{/if}}
	{{if EndFormat}}
		<div class="enddate"><span>${xf.ViewSkinSetting("fontEnddate","End date")}</span> ${EndFormat} </div>
	{{/if}}
	<div class="clear"></div>
	#if(${xf.ViewSkinSetting("DisplayTimeZone",true)})	
	<div class="TimeZone">${TimeZone}</div>
	#end
	</div>
	#end
	<div class="clear"></div>
	#if(${xf.ViewSkinSetting("Displaylocation",true)})	
	{{if Location}}
		<div class="Location"><span>${xf.ViewSkinSetting("fontLocation","Location")}:</span> ${Location} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaycategorie",true)})
	{{if CategorieLinks}}
	<div class="Categorie"><span>${xf.ViewSkinSetting("fontCategory","Category")}:</span>{{html CategorieLinks}}</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaytag",true)})
	{{if LinkTags}}
	<div class="Tag"><span>${xf.ViewSkinSetting("fontTags","Tags")}:</span>{{html LinkTags}}</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaysummary",true)})	
	{{if Summary}}
		<div class="summary">{{html Summary}} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displayimage",true)})	
	{{if Picture > 0 }}
	<div class="PictureUrl"><img src="${PictureUrl}" title="${title}" /> </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaycontent",false)})	
	{{if ContentText}}
		<div class="contenttext">{{html ContentText}} </div>
	{{/if}}
	#end
</script> 
 
</div>
<style type="text/css">
#DashBoard_calendar${ModuleID} .fcp-CustomMonth .ev-day:hover:before {
    border-top-color: ${xf.ViewSkinSetting("AccentColor","#3B96B6")};
    border-right-color: ${xf.ViewSkinSetting("AccentColor","#3B96B6")};
}
.Calendar_Default.DashBoard_calendar .fcp-CustomMonth .ev-day .number{
	background-color:${xf.ViewSkinSetting("AccentColor","#3B96B6")};
}
</style>


<script type="text/javascript">
    jQuery(document).ready(function($) {


	var main = $("#DashBoard_calendar${ModuleID}");

	var defaultDate = #if(${xf.ViewSkinSetting("DisplayToday",true)})new Date() #else '${xf.ConvertDate(${xf.ViewSkinSetting("defaultDate","11/25/2015")},"yyyy-MM-dd")}' #end	;
	
		main.fullCalendar({
			events:function(start, end, timezone, callback) {
			main.addClass("fc-loading");

			start = new Date(start)
			end = new Date(end)
		//	main.data("starttime",start.format("${DateTimeFormat.ShortDatePattern}"));   
		//	main.data("endtime",end.format("${DateTimeFormat.ShortDatePattern}"));
			
			main.data("starttime",start.format("yyyy-MM-ddTHH:mm:ss"));   
			main.data("endtime",end.format("yyyy-MM-ddTHH:mm:ss"));
			
			main.xEvent_PostService({
				callback: function (Items, Pages, isEnd) {
					jQuery.each(Items, function (i, item) { 
						var ST = new Date(item.StartTimeUS),
							ET = new Date(item.EndTimeUS);
							item["title"] = item.Title;
							item["color"] = item.Color;
							item["StartFormat"] =ST.format("${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")}");
							item["EndFormat"] = ET.format("${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")}");
							item["start"] = ST.format("yyyy-MM-ddTHH:mm:ss");
							item["end"] = ET.format("yyyy-MM-ddTHH:mm:ss");
					});
					
					
					callback(Items);
					main.removeClass("fc-loading");
				}
				})
			},
			views: {
				EventMonth:{
					type: 'CustomMonth',
					duration: { months: 1 }, 
					buttonText: 'CustomMonth'
				}
			},
			header: {
				left: 'prev',
				center: 'title',
				right: 'next'//,today
			},
			defaultView:"EventMonth",
			defaultDate:defaultDate,
			editable: false,
			eventLimit: true, 
			scrollTime:"00:00:00",
			nextDayThreshold:"00:00:00",
			handleWindowResize: true,
			viewRender:function(view,element){
			selectDate(main,view)		
			}
		})

		jQuery(document).click(function(e) {
			if(main.find(".ev-day").length!=0){
			if(!($(e.target).closest(".ev-day").length != 0 || jQuery.contains($(".fcp-cminfo")[0], e.target))) {
				$(".fcp-cminfo").hide();
			}
			}
		});
		

})
</script>