/* Unoslider container */
.Theme_12_Inline {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Inline img{
  max-width: 100%;
}

.Theme_12_Inline li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Inline .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Inline .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Inline .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Inline .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Inline .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Inline .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Inline .unoslider_caption a
{
  text-decoration:none;
}




/* Hand cursor over navigation elements */
.Theme_12_Inline .unoslider_navigation {
  cursor: pointer;
}

/* container which contains navigation and indicator */
.Theme_12_Inline .unoslider_navigation_container {
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
}

/* Tooltip panel */
.Theme_12_Inline .unoslider_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  line-height: 35px;
  padding: 0 20px;
  text-align: left;
  color: #333333;
  font-size: 13px;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* play, pause, previous and next elements */
.Theme_12_Inline .unoslider_pause, 
.Theme_12_Inline .unoslider_play, 
.Theme_12_Inline .unoslider_left, 
.Theme_12_Inline .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("inline.png") no-repeat;
}

/* play and pause elements */
.Theme_12_Inline .unoslider_pause, 
.Theme_12_Inline .unoslider_play {
  height: 21px;
  width: 20px;
  margin-top: -10.5px;
  margin-left: -10px;
  top: 50%;
  right: 35px;
}

/* previous and next elements */
.Theme_12_Inline .unoslider_left, 
.Theme_12_Inline .unoslider_right {
  width: 13px;
  height: 24px;
  margin-top: -12px;
  top: 50%;
}

/* previous */
.Theme_12_Inline .unoslider_left {
  background-position: 0px -25px;
  right: 70px;
}

/* next */
.Theme_12_Inline .unoslider_right {
  background-position: -17px -25px;
  right: 15px;
}

/* pause */
.Theme_12_Inline .unoslider_pause {
  background-position: -24px 0px;
}

/* play */
.Theme_12_Inline .unoslider_play {
  background-position: 0px 0px;
}

/* bullet indicator */
.Theme_12_Inline .unoslider_indicator {
  position: absolute;
  right: 100px;
  bottom: 5px;

}
.Theme_12_Inline .unoslider_indicator a {
  font-size:0px!important;
  white-space: nowrap;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  margin: 3px;
  width: 18px;
  height: 18px;
  background-color: black;
  background: url("inline.png") no-repeat;
  background-position: 0 -53px;
  text-decoration:none!important;
}
*+html .Theme_12_Inline .unoslider_indicator a {
  float:left;
  font-size:0px;
  text-indent:-9999px;
}
.Theme_12_Inline .unoslider_indicator a.unoslider_indicator_active {
  background-position: 0px -73px;
}
