.Theme_22_Default{
	background-color:#F00;
	left:0;
	top:0;
	z-index:980;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	color:#FFF;
	text-align:center;
	overflow:hidden;
}
.Theme_22_Default .soon_table {
	width:100%;
	height:100%;
	table-layout:fixed;
}


.Theme_22_Default .endhtml {
	display:none;
}


.Theme_22_Default .soon_top ,
.Theme_22_Default .soon_center,
.Theme_22_Default .soon_bottom{
	padding:10px;	
}











