﻿<div class="$EffectThemeName"  id="DashBoard-single-multiple${ModuleID}"> #if($DataList.Count > 0) 
  #foreach($DataItem in $DataList)
  <div class="DashBoard-single-item" >
    <div class="DashBoard-photo"> 
    #if(${xf.ViewEffectSetting("DisplayPicture",true)})
      #if($DataItem.AdditionalPicture > 0 )
          <div class="pic_box"> <a href="${xf.GoUrl($DataItem)}"> <img src="${xf.ViewPicture($DataItem)}" width="100%" /> <span class="shade"></span></a> </div>
      #end
    #end   
      
      <div class="content">
        <div class="vertical_center_1">
          <div class="vertical_center_2"> 
          
                #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                    <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
                #end
                #if(${xf.ViewEffectSetting("Displaydate",true)})
                    <div class="post_date"> #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  </div> 
                #end
                #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
                    <div class="post_Author"><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a></div>
                #end
                #if(${xf.ViewEffectSetting("Displaycategory",true)})
                    <div class="post_category">${xf.ViewCategories($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaytags",true)})
                    <div class="post_tags">${xf.ViewTags($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaysummary",true)})
                    <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
                #end
           
           </div>
        </div>
      </div>
    </div>
  </div>
  #end
  #end </div>
<style type="text/css"> 
	#DashBoard-single-multiple${ModuleID} .slick-list{
		margin:0  -${xf.ViewEffectSetting("thItemsSpacing","5")}px
	}
	#DashBoard-single-multiple${ModuleID} .DashBoard-single-item{
		padding:0 ${xf.ViewEffectSetting("thItemsSpacing","5")}px
	}
</style>
<script type="text/javascript">
	$('#DashBoard-single-multiple${ModuleID}').slick({
		infinite:${xf.ViewEffectSetting("infinite","true")} ,
		accessibility:${xf.ViewEffectSetting("accessibility","true")},
		adaptiveHeight:${xf.ViewEffectSetting("adaptiveHeight","false")},
		autoplay:${xf.ViewEffectSetting("autoplay","true")},
		autoplaySpeed:${xf.ViewEffectSetting("autoplaySpeed","3000")},
		speed:${xf.ViewEffectSetting("speed","300")},
		arrows:${xf.ViewEffectSetting("arrows","true")},
		dots:${xf.ViewEffectSetting("dots","true")}, 
		cssEase:"${xf.ViewEffectSetting("cssEase","ease-in")}", 
		draggable:${xf.ViewEffectSetting("draggable","true")},
		pauseOnHover:${xf.ViewEffectSetting("pauseOnHover","true")},
//		vertical:${xf.ViewEffectSetting("vertical","false")},
//		fade:${xf.ViewEffectSetting("fade","false")},
		slidesToShow: ${xf.ViewEffectSetting("thitems","6")},
		slidesToScroll:#if(${xf.ViewEffectSetting("slidesToScroll","One Page")}=="One Page") ${xf.ViewEffectSetting("thitems","6")} #else 1 #end,
		variableWidth: ${xf.ViewEffectSetting("variableWidth","false")},
		responsive: [
			{
			  breakpoint: 1199,
			  settings: {
				slidesToShow: ${xf.ViewEffectSetting("thDesktop","6")},
				slidesToScroll: #if(${xf.ViewEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewEffectSetting("thDesktop","6")} #else 1 #end
			  }
			},
			{
			  breakpoint: 979,
			  settings: {
				slidesToShow: ${xf.ViewEffectSetting("thDesktopSmall","4")},
				slidesToScroll: #if(${xf.ViewEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewEffectSetting("thDesktopSmall","4")} #else 1 #end
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				slidesToShow: ${xf.ViewEffectSetting("thTable","3")},
				slidesToScroll: #if(${xf.ViewEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewEffectSetting("thTable","3")} #else 1 #end
			  }
			},
			{
			  breakpoint: 479,
			  settings: {
				slidesToShow: ${xf.ViewEffectSetting("thMobile","2")},
				slidesToScroll: #if(${xf.ViewEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewEffectSetting("thMobile","2")} #else 1 #end
			  }
			}
		 ],
	}) ;
 </script> 
