﻿<div class="canvasChart $ThemeName" id="Chart${ModuleID}">
#if(${xf.ViewXmlSetting("customTooltips","true")}=="true")
<ul class="ChartTooltips">
#foreach($SliderItem in $SliderList)	
	<li><span style="background-color:${xf.ViewSliderSetting($SliderItem,"pointColor","")};border:1px solid ${xf.ViewSliderSetting($SliderItem,"strokeColor","")}"></span>${xf.ViewSliderSetting($SliderItem,"title","")}</li>
#end
</ul>
#end
<canvas id="canvasChart${ModuleID}" height="${xf.ViewXmlSetting("chartheight","450")}" width="${xf.ViewXmlSetting("chartwidth","800")}"></canvas>
</div>


	<script type="text/javascript">
	
#if(${xf.ViewXmlSetting("ChartType","Bar")}=="Bar" || ${xf.ViewXmlSetting("ChartType","Bar")}=="Line" || ${xf.ViewXmlSetting("ChartType","Bar")}=="Radar" )	
	var ChartData${ModuleID} = {
		labels : [${xf.ViewXmlSetting("Labels",'"January","February","March","April","May","June","July"')}],
		datasets : [
		#foreach($SliderItem in $SliderList)			
			{
				fillColor : "${xf.ViewSliderSetting($SliderItem,"fillColor","")}",
				strokeColor : "${xf.ViewSliderSetting($SliderItem,"strokeColor","")}",
				highlightFill: "${xf.ViewSliderSetting($SliderItem,"highlightFill","")}",
				highlightStroke: "${xf.ViewSliderSetting($SliderItem,"highlightStroke","")}",
				pointColor :  "${xf.ViewSliderSetting($SliderItem,"pointColor","")}",
				data : [${xf.ViewSliderSetting($SliderItem,"data","")}]
			},
		#end
		]
	}
#else
	var ChartData${ModuleID} = [
		#foreach($SliderItem in $SliderList)			
			{
				value: [${xf.ViewSliderSetting($SliderItem,"data","")}][0],
				color:"${xf.ViewSliderSetting($SliderItem,"fillColor","")}",
				highlight: "${xf.ViewSliderSetting($SliderItem,"highlightFill","")}",
				label: "${xf.ViewSliderSetting($SliderItem,"title","")}",
				pointColor :  "${xf.ViewSliderSetting($SliderItem,"pointColor","")}",
			},
		#end
		]
#end	
	
	
		var ctx${ModuleID} = document.getElementById("canvasChart${ModuleID}").getContext("2d");
		
		window.myChart${ModuleID} = new Chart(ctx${ModuleID}).${xf.ViewXmlSetting("ChartType","Bar")}(ChartData${ModuleID}, {
			animation: ${xf.ViewXmlSetting("animation","true")},
			animationSteps: ${xf.ViewXmlSetting("animationSteps","60")},
			animationEasing: "${xf.ViewXmlSetting("animationEasing","easeOutQuart")}",
			showScale: ${xf.ViewXmlSetting("showScale","true")},
			scaleOverride: ${xf.ViewXmlSetting("scaleOverride","false")},
			 
			#if(${xf.ViewXmlSetting("scaleSteps","")}!="")scaleSteps:${xf.ViewXmlSetting("scaleSteps","")}, #end
			#if(${xf.ViewXmlSetting("scaleStepWidth","")}!="")scaleStepWidth:${xf.ViewXmlSetting("scaleStepWidth","")}, #end
			#if(${xf.ViewXmlSetting("scaleStartValue","")}!="")scaleStartValue:${xf.ViewXmlSetting("scaleStartValue","")}, #end
			
			scaleLineColor: "${xf.ViewXmlSetting("scaleLineColor","rgba(0,0,0,.1)")}",
			scaleLineWidth: ${xf.ViewXmlSetting("scaleLineWidth","1")},
			scaleShowLabels: ${xf.ViewXmlSetting("scaleShowLabels","true")},
			scaleIntegersOnly: ${xf.ViewXmlSetting("scaleIntegersOnly","true")},
			scaleBeginAtZero: ${xf.ViewXmlSetting("scaleBeginAtZero","true")},
			scaleFontFamily: "${xf.ViewXmlSetting("scaleFontFamily","'Arial', sans-serif")}",
			scaleFontSize: ${xf.ViewXmlSetting("scaleFontSize","12")},
			scaleFontStyle: "${xf.ViewXmlSetting("scaleFontStyle","normal")}",
			scaleFontColor: "${xf.ViewXmlSetting("scaleFontColor","#666")}",
			responsive: ${xf.ViewXmlSetting("responsive","true")},
			maintainAspectRatio: ${xf.ViewXmlSetting("maintainAspectRatio","true")},
			showTooltips: ${xf.ViewXmlSetting("showTooltips","true")},
			tooltipFillColor: "${xf.ViewXmlSetting("tooltipFillColor","rgba(0,0,0,0.8)")}",
			tooltipFontFamily: "${xf.ViewXmlSetting("tooltipFontFamily","'Arial', sans-serif")}",
			tooltipFontSize: ${xf.ViewXmlSetting("tooltipFontSize","14")},
			tooltipFontStyle: "${xf.ViewXmlSetting("tooltipFontStyle","normal")}",
			tooltipFontColor: "${xf.ViewXmlSetting("tooltipFontColor","#fff")}",
			tooltipTitleFontFamily: "${xf.ViewXmlSetting("tooltipTitleFontFamily","'Arial', sans-serif")}",
			tooltipTitleFontSize: ${xf.ViewXmlSetting("tooltipTitleFontSize","14")},
			tooltipTitleFontStyle: "${xf.ViewXmlSetting("tooltipTitleFontStyle","bold")}",
			tooltipTitleFontColor: "${xf.ViewXmlSetting("tooltipTitleFontColor","#fff")}",
			tooltipYPadding: ${xf.ViewXmlSetting("tooltipYPadding","6")},
			tooltipXPadding: ${xf.ViewXmlSetting("tooltipXPadding","6")},
			tooltipCaretSize: ${xf.ViewXmlSetting("tooltipCaretSize","8")},
			tooltipCornerRadius: ${xf.ViewXmlSetting("tooltipCornerRadius","6")},
			tooltipXOffset: ${xf.ViewXmlSetting("tooltipXOffset","10")},

			#if(${xf.ViewXmlSetting("ChartType","Bar")}=="Bar")
			scaleShowGridLines : ${xf.ViewXmlSetting("scaleShowGridLines2","true")},
			scaleGridLineColor : "${xf.ViewXmlSetting("scaleGridLineColor2","rgba(0,0,0,.05)")}",
			scaleGridLineWidth : ${xf.ViewXmlSetting("scaleGridLineWidth2","1")},
			scaleShowHorizontalLines: ${xf.ViewXmlSetting("scaleShowHLines2","true")},
			scaleShowVerticalLines: ${xf.ViewXmlSetting("scaleShowVLines2","true")},
			barShowStroke : ${xf.ViewXmlSetting("barShowStroke2","true")},
			barStrokeWidth :${xf.ViewXmlSetting("barStrokeWidth2","2")} ,
			barValueSpacing : ${xf.ViewXmlSetting("barValueSpacing2","5")},
			barDatasetSpacing : ${xf.ViewXmlSetting("barDatasetSpacing2","1")},
			#end		

			#if(${xf.ViewXmlSetting("ChartType","Bar")}=="Line")
			scaleShowGridLines : ${xf.ViewXmlSetting("scaleShowGridLines","true")},
			scaleGridLineColor : "${xf.ViewXmlSetting("scaleGridLineColor","rgba(0,0,0,.05)")}",
			scaleGridLineWidth : ${xf.ViewXmlSetting("scaleGridLineWidth","1")},
			scaleShowHorizontalLines: ${xf.ViewXmlSetting("scaleShowHLines","true")},
			scaleShowVerticalLines: ${xf.ViewXmlSetting("scaleShowVLines","true")},
			bezierCurve : ${xf.ViewXmlSetting("bezierCurve","true")},
			bezierCurveTension : ${xf.ViewXmlSetting("bezierCurveTension","0.4")},
			pointDot : ${xf.ViewXmlSetting("pointDot","true")},
			pointDotRadius : ${xf.ViewXmlSetting("pointDotRadius","4")},
			pointDotStrokeWidth : ${xf.ViewXmlSetting("pointDotStrokeWidth","1")},
			pointHitDetectionRadius : ${xf.ViewXmlSetting("pointHRadius","20")},
			datasetStroke : ${xf.ViewXmlSetting("datasetStroke","true")},
			datasetStrokeWidth : ${xf.ViewXmlSetting("datasetStrokeWidth","2")},
			datasetFill : ${xf.ViewXmlSetting("datasetFill","true")},
			#end		
			
			#if(${xf.ViewXmlSetting("ChartType","Bar")}=="Radar")
			scaleShowLine : ${xf.ViewXmlSetting("scaleShowLine3","true")},
			angleShowLineOut : ${xf.ViewXmlSetting("angleShowLineOut3","true")},
			angleLineColor : "${xf.ViewXmlSetting("angleLineColor3","rgba(0,0,0,.1)")}",
			angleLineWidth : ${xf.ViewXmlSetting("angleLineWidth3","1")},
			pointLabelFontFamily : "${xf.ViewXmlSetting("pointLabelFontFamily3","Arial")}",
			pointLabelFontStyle : "${xf.ViewXmlSetting("pointLabelFontStyle3","normal")}",
			pointLabelFontSize : ${xf.ViewXmlSetting("pointLabelFontSize3","10")},
			pointLabelFontColor : "${xf.ViewXmlSetting("pointLabelFontColor3","#666")}",
			pointDot : ${xf.ViewXmlSetting("pointDot3","true")},
			pointDotRadius : ${xf.ViewXmlSetting("pointDotRadius3","3")},
			pointDotStrokeWidth : ${xf.ViewXmlSetting("pointDotStrokeWidth3","1")},
			pointHitDetectionRadius : ${xf.ViewXmlSetting("pointHitDetectionRadius3","20")},
			datasetStroke : ${xf.ViewXmlSetting("datasetStroke3","true")},
			datasetStrokeWidth : ${xf.ViewXmlSetting("datasetStrokeWidth3","2")},
			datasetFill : ${xf.ViewXmlSetting("datasetFill3","true")},
			#end	
			
			#if(${xf.ViewXmlSetting("ChartType","Bar")}=="PolarArea")
			scaleShowLabelBackdrop : ${xf.ViewXmlSetting("scaleShowLabelBackdrop4","true")},
			scaleBackdropColor : "${xf.ViewXmlSetting("scaleBackdropColor4","rgba(255,255,255,0.75)")}",
			scaleBackdropPaddingY : ${xf.ViewXmlSetting("scaleBackdropPaddingY4","2")},
			scaleBackdropPaddingX : ${xf.ViewXmlSetting("scaleBackdropPaddingX4","2")},
			scaleShowLine : ${xf.ViewXmlSetting("scaleShowLine4","true")},
			segmentShowStroke : ${xf.ViewXmlSetting("segmentShowStroke4","true")},
			segmentStrokeColor : "${xf.ViewXmlSetting("segmentStrokeColor4","#fff")}",
			segmentStrokeWidth : ${xf.ViewXmlSetting("segmentStrokeWidth4","2")},
			animateRotate : ${xf.ViewXmlSetting("animateRotate4","true")},
			animateScale : ${xf.ViewXmlSetting("animateScale4","false")},
			#end	
			
			#if(${xf.ViewXmlSetting("ChartType","Bar")}=="Doughnut" || ${xf.ViewXmlSetting("ChartType","Bar")}=="Pie" )
			segmentShowStroke : ${xf.ViewXmlSetting("segmentShowStroke5","true")},
			segmentStrokeColor : "${xf.ViewXmlSetting("segmentStrokeColor5","#fff")}",
			segmentStrokeWidth : ${xf.ViewXmlSetting("segmentStrokeWidth5","2")},
			percentageInnerCutout : ${xf.ViewXmlSetting("percentageInnerCutout5","50")},
			animateRotate : ${xf.ViewXmlSetting("animateRotate5","true")},
			animateScale : ${xf.ViewXmlSetting("animateScale5","false")},
			#end	
			
		});
	
	</script>
