﻿<div class="$EffectThemeName">
<ul class="archive_list">
 #if($DataList.Count > 0) 
    #foreach($Year in $DataList)
     <li  class="${xf.ViewArchiveYearClass($Year,"Archive_Current")}"> 
        <a href='${xf.GoYearUrl($Year)}'>${Year}</a>
     </li>
    #end
 #end
</ul>
</div>


