
/*icon-line-animate*/
.icon-line-animate {
	width: 28px;
	height: 20px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: transform 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	cursor: pointer;
	color: #333333;
}

.icon-line-animate i {
	position: absolute;
	width: 22px;
	left: 0px;
	border-bottom: 2px solid;
	display: block;
	-webkit-transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.icon-line-animate .l_1 {
	top: 0px;
}
.icon-line-animate .l_2 {
	top: 9px;
	left: auto;
	right: 0;
	width: 25px;
}
.icon-line-animate .l_3 {
	bottom:0px;
	top: auto;
}
.icon-line-animate:not(.active):hover .l_1,
.menu-icon:hover .icon-line-animate:not(.active) .l_1 {
	left: 3px;
}

.icon-line-animate:not(.active):hover .l_2 ,
.menu-icon:hover .icon-line-animate:not(.active) .l_2 {
	right: 3px;
	width: 22px;
}
.icon-line-animate:not(.active):hover .l_3 ,
.menu-icon:hover .icon-line-animate:not(.active) .l_3 {
	left: 3px;
}
.icon-line-animate.active .l_1 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
    top: 9px;
    left: 0px;
	width: 26px;
}
.icon-line-animate.active .l_3 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    bottom: 9px;
    left: 0px;
	width: 26px;
}
.icon-line-animate.active .l_2 {
	opacity: 0;
	width: 0;
	right: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



/*header side nav*/
.headersidenav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	z-index: 1011;
	background-color: #FFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.headersidenav .sidenav-top {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	padding:0 8px;
}

.headersidenav .sidenav-bottom {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	text-align: center;
}
.writing-mode-vertical{
	writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;      
	writing-mode: vertical-rl;
}
.headersidenav .writing-mode-vertical{
	display: inline;
}

.headersidenav .sidenav-middle {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.leftslidemenu {
	position: fixed;
	top: 0px;
	left: 100px;
	z-index: 1010;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	transition-delay: 0;
}
.leftslidemenu + .slide-shade{
	content: "";
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2c5cda;
	z-index: 1000;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	transition-delay: 300ms;
	opacity: .9;
}
.leftslidemenu.active + .slide-shade{
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition-delay: 0ms;
}

.leftslidemenu.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition-delay: 400ms;
}

.leftslidemenu .gomenu > ul {
	position: static;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	list-style: none;
}

.leftslidemenu .gomenu > ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	opacity: 0;
	transform: translateX(-100%);
	visibility: hidden;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	z-index: -1;
	list-style: none;
}

.leftslidemenu .gomenu > ul ul::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.leftslidemenu .gomenu > ul li:hover>ul {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

.leftslidemenu .gomenu > ul li a{
	opacity: 0;
	-webkit-transform: translateX(-60px);
	transform: translateX(-60px);
	-webkit-transition: -webkit-transform 400ms ease-in-out,opacity 400ms ease-in-out;
	transition: transform 400ms ease-in-out,opacity 400ms ease-in-out;
	-webkit-transition-delay: 600ms;
	transition-delay: 600ms;
}
.leftslidemenu .gomenu > ul li li a{
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms;
}
.leftslidemenu li:hover>ul>li>a,
.leftslidemenu.active .gomenu > ul>li>a {
	opacity: 1;
	visibility: visible;
	transform: none;
}

/**/

.leftslidemenu a {
	display: block;
	padding: 22px 60px;
	white-space: nowrap;
	min-width: 475px;
	position: relative;
}

.leftslidemenu a,
.leftslidemenu a:link,
.leftslidemenu a:visited {
	font-size: 22px;
	color: inherit;
	font-weight: 500;
}

.leftslidemenu a:hover {
	text-decoration: none;
	color:inherit;
}

.leftslidemenu .menu_arrow {
	position: absolute;
	right: 60px;
	top: 50%;
	color: transparent;
	width: 0px;
	height: 15px;
	margin-top: -5px;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	margin-right: 11px;
}
.leftslidemenu .menu_arrow::before {
	content: "";
	width: 11px;
	height: 11px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	font-size: 0;
	border-right: 1px solid #707070;
	border-bottom: 1px solid #707070;
	position: absolute;
	right: 0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	top: 0;
}
.leftslidemenu .menu_arrow::after {
	content: "";
	width: 30px;
	border-top: 1px solid #707070;
	position: absolute;
	top: 5px;
	right: 0px;
	width: 100%;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.leftslidemenu li:hover>a>.menu_arrow {
	width: 30px;
	margin-right: 0
}
.leftslidemenu li:hover>a>.menu_arrow::before  {
	-webkit-transform:rotate(-45deg) scale(0.85);
	transform:rotate(-45deg) scale(0.85);
}
.leftslidemenu li{
	color: #333;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.leftslidemenu li:hover,
.leftslidemenu li.current{
	color: #fd4ea5;
}
.leftslidemenu li:hover > a .menu_arrow::before,
.leftslidemenu li:hover > a .menu_arrow::after,
.leftslidemenu li.current > a .menu_arrow::before,
.leftslidemenu li.current > a .menu_arrow::after{
	border-color: #fd4ea5;
}



/*leftslidesearch*/
div.search-popup-box.leftslidesearch  .popup-content{
	top: 0;
	left: -100%;
	-webkit-animation:none;
	animation:none;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;

}
div.search-popup-box.leftslidesearch  .popup-content.active{
	top: 0;
	left: 0;
}
div.search-popup-box.leftslidesearch .popup-content .popup-center{
	-webkit-animation:none;
	animation:none;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	-webkit-transform: translateX(-100px);	
	transform: translateX(-100px);
	opacity: 0;
}
div.search-popup-box.leftslidesearch .popup-content:after{
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	opacity: 0;
	margin-left: -100px;

}
div.search-popup-box.leftslidesearch .popup-content.active .popup-center{
	-webkit-transform: translateX(0);	
	transform: translateX(0);
	opacity: 1;
	transition-delay: 300ms;	
}
div.search-popup-box.leftslidesearch .popup-content.active:after{
	opacity: 0.03;
	margin-left: 0;
	transition-delay: 350ms;	
}

.sidenav-bottom{
	color: #333;
}

.leftslidemenu,
.leftslidemenu + .slide-shade,
.headersidenav{
	display: block;
}

@media only screen and (max-width: 992px){
	.leftslidemenu,
	.leftslidemenu + .slide-shade,
	.headersidenav{
		display: none;
	}
	
}

