﻿<div class="$EffectThemeName" id="Calendar${ModuleID}">
    <div id="dzscalendar${ModuleID}" class="dzscalendar ${xf.ViewEffectSetting("CalendarSkin","skin-default")}"  style="">
         #if($Calendars.Count > 0) 
        <div class="events">
            #foreach($Calendar in $Calendars)
            <div class="event-tobe" data-date="$Calendar" data-type="link" data-href="${xf.GoCalendarUrl($Calendar)}"></div>
            #end
        </div>
        #end
    </div>

    #if($YearMonths.Count > 0)
    <div class="events-yearmonths">
        #foreach($YearMonth in $YearMonths)
            <div class="event-time" time="${YearMonth.Year}-${YearMonth.Month}" data-month="${YearMonth.Month}" data-year="${YearMonth.Year}" data-type="link" data-href="${xf.GoUrl($YearMonth)}"></div>
        #end
    </div>
    #end
</div>

<script>
    jQuery(document).ready(function ($) {
        var calendar = $("#Calendar${ModuleID} .dzscalendar");
        $( calendar).dzscalendar({
            design_transitionDesc: 'tooltipDef'
         , design_transition: 'fade'
         , start_month: '${start_month}'
         , start_year: '${start_year}'
         , start_day: '${start_day}'
        });


        function load_month_text()
        {
            var year = $(calendar).find(".curr-year");
            var month = $(calendar).find(".curr-month");
            var months = "January February March April May June July August September October November December".split(" ");


            var item = $("#Calendar${ModuleID} div.event-time[time='" + $(year).text() + "-" + (months.indexOf($(month).text()) + 1) + "']");
            if ($(item).is("div")) {
                $(month).html("<a href='" + $(item).data("href") + "'>" + $(month).text() + "</a>");
            }




        }
        load_month_text();


        if( "${xf.ViewEffectSetting("MonthArrowLink", "false")}" == "true")
        {
            $("#Calendar${ModuleID} div.arrow-left").click( function (e) { 
                e.stopPropagation();
                location.href = "${PreviousMonthUrl}";
            });

            $("#Calendar${ModuleID} div.arrow-right").click( function (e) { 
                e.stopPropagation();
                location.href = "${NextMonthUrl}";
            });
        }else
        {
            $(calendar).on("click", ".arrow-right,.arrow-left", function () {
                load_month_text();
            });
        }

});
</script>