.pro-pricing-list,
.pro-pricing-list *,
:after, 
:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear{
	clear:both;
	width:100%;
	height:0;
	display:block;
}

.pro-pricing-list.numbercolumns-1  .pro-pricing-item{ width:100.000% }
.pro-pricing-list.numbercolumns-2  .pro-pricing-item{ width:50.0000% }
.pro-pricing-list.numbercolumns-3  .pro-pricing-item{ width:33.3333% }
.pro-pricing-list.numbercolumns-4  .pro-pricing-item{ width:25.0000% }
.pro-pricing-list.numbercolumns-5  .pro-pricing-item{ width:20.0000% }
.pro-pricing-list.numbercolumns-6  .pro-pricing-item{ width:16.6666% }
.pro-pricing-list.numbercolumns-7  .pro-pricing-item{ width:14.2857% }
.pro-pricing-list.numbercolumns-8  .pro-pricing-item{ width:12.5000% }
.pro-pricing-list.numbercolumns-9  .pro-pricing-item{ width:11.1111% }
.pro-pricing-list.numbercolumns-10 .pro-pricing-item{ width:10.0000% }
.pro-pricing-list.numbercolumns-11 .pro-pricing-item{ width:9.09090% }
.pro-pricing-list.numbercolumns-12 .pro-pricing-item{ width:8.33333% }
.pro-pricing-list.numbercolumns-13 .pro-pricing-item{ width:7.69230% }
.pro-pricing-list.numbercolumns-14 .pro-pricing-item{ width:7.14285% }
.pro-pricing-list.numbercolumns-15 .pro-pricing-item{ width:6.66666% }
.pro-pricing-list.numbercolumns-16 .pro-pricing-item{ width:6.25000% }
.pro-pricing-list.numbercolumns-17 .pro-pricing-item{ width:5.88235% }
.pro-pricing-list.numbercolumns-18 .pro-pricing-item{ width:5.55555% }
.pro-pricing-list.numbercolumns-19 .pro-pricing-item{ width:5.26315% }
.pro-pricing-list.numbercolumns-20 .pro-pricing-item{ width:5.00000% }

@media only screen and (min-width: 1200px) {
	.pro-pricing-list.numberLarge-1  .pro-pricing-item{ width:100.000% }
	.pro-pricing-list.numberLarge-2  .pro-pricing-item{ width:50.0000% }
	.pro-pricing-list.numberLarge-3  .pro-pricing-item{ width:33.3333% }
	.pro-pricing-list.numberLarge-4  .pro-pricing-item{ width:25.0000% }
	.pro-pricing-list.numberLarge-5  .pro-pricing-item{ width:20.0000% }
	.pro-pricing-list.numberLarge-6  .pro-pricing-item{ width:16.6666% }
	.pro-pricing-list.numberLarge-7  .pro-pricing-item{ width:14.2857% }
	.pro-pricing-list.numberLarge-8  .pro-pricing-item{ width:12.5000% }
	.pro-pricing-list.numberLarge-9  .pro-pricing-item{ width:11.1111% }
	.pro-pricing-list.numberLarge-10 .pro-pricing-item{ width:10.0000% }
	.pro-pricing-list.numberLarge-11 .pro-pricing-item{ width:9.09090% }
	.pro-pricing-list.numberLarge-12 .pro-pricing-item{ width:8.33333% }
	.pro-pricing-list.numberLarge-13 .pro-pricing-item{ width:7.69230% }
	.pro-pricing-list.numberLarge-14 .pro-pricing-item{ width:7.14285% }
	.pro-pricing-list.numberLarge-15 .pro-pricing-item{ width:6.66666% }
	.pro-pricing-list.numberLarge-16 .pro-pricing-item{ width:6.25000% }
	.pro-pricing-list.numberLarge-17 .pro-pricing-item{ width:5.88235% }
	.pro-pricing-list.numberLarge-18 .pro-pricing-item{ width:5.55555% }
	.pro-pricing-list.numberLarge-19 .pro-pricing-item{ width:5.26315% }
	.pro-pricing-list.numberLarge-20 .pro-pricing-item{ width:5.00000% }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pro-pricing-list.numbertablet-1  .pro-pricing-item{ width:100.000% }
	.pro-pricing-list.numbertablet-2  .pro-pricing-item{ width:50.0000% }
	.pro-pricing-list.numbertablet-3  .pro-pricing-item{ width:33.3333% }
	.pro-pricing-list.numbertablet-4  .pro-pricing-item{ width:25.0000% }
	.pro-pricing-list.numbertablet-5  .pro-pricing-item{ width:20.0000% }
	.pro-pricing-list.numbertablet-6  .pro-pricing-item{ width:16.6666% }
	.pro-pricing-list.numbertablet-7  .pro-pricing-item{ width:14.2857% }
	.pro-pricing-list.numbertablet-8  .pro-pricing-item{ width:12.5000% }
	.pro-pricing-list.numbertablet-9  .pro-pricing-item{ width:11.1111% }
	.pro-pricing-list.numbertablet-10 .pro-pricing-item{ width:10.0000% }
	.pro-pricing-list.numbertablet-11 .pro-pricing-item{ width:9.09090% }
	.pro-pricing-list.numbertablet-12 .pro-pricing-item{ width:8.33333% }
	.pro-pricing-list.numbertablet-13 .pro-pricing-item{ width:7.69230% }
	.pro-pricing-list.numbertablet-14 .pro-pricing-item{ width:7.14285% }
	.pro-pricing-list.numbertablet-15 .pro-pricing-item{ width:6.66666% }
	.pro-pricing-list.numbertablet-16 .pro-pricing-item{ width:6.25000% }
	.pro-pricing-list.numbertablet-17 .pro-pricing-item{ width:5.88235% }
	.pro-pricing-list.numbertablet-18 .pro-pricing-item{ width:5.55555% }
	.pro-pricing-list.numbertablet-19 .pro-pricing-item{ width:5.26315% }
	.pro-pricing-list.numbertablet-20 .pro-pricing-item{ width:5.00000% }
}
@media only screen and (max-width: 767px) {
	.pro-pricing-list.numberphone-1  .pro-pricing-item{ width:100.000% }
	.pro-pricing-list.numberphone-2  .pro-pricing-item{ width:50.0000% }
	.pro-pricing-list.numberphone-3  .pro-pricing-item{ width:33.3333% }
	.pro-pricing-list.numberphone-4  .pro-pricing-item{ width:25.0000% }
	.pro-pricing-list.numberphone-5  .pro-pricing-item{ width:20.0000% }
	.pro-pricing-list.numberphone-6  .pro-pricing-item{ width:16.6666% }
	.pro-pricing-list.numberphone-7  .pro-pricing-item{ width:14.2857% }
	.pro-pricing-list.numberphone-8  .pro-pricing-item{ width:12.5000% }
	.pro-pricing-list.numberphone-9  .pro-pricing-item{ width:11.1111% }
	.pro-pricing-list.numberphone-10 .pro-pricing-item{ width:10.0000% }
	.pro-pricing-list.numberphone-11 .pro-pricing-item{ width:9.09090% }
	.pro-pricing-list.numberphone-12 .pro-pricing-item{ width:8.33333% }
	.pro-pricing-list.numberphone-13 .pro-pricing-item{ width:7.69230% }
	.pro-pricing-list.numberphone-14 .pro-pricing-item{ width:7.14285% }
	.pro-pricing-list.numberphone-15 .pro-pricing-item{ width:6.66666% }
	.pro-pricing-list.numberphone-16 .pro-pricing-item{ width:6.25000% }
	.pro-pricing-list.numberphone-17 .pro-pricing-item{ width:5.88235% }
	.pro-pricing-list.numberphone-18 .pro-pricing-item{ width:5.55555% }
	.pro-pricing-list.numberphone-19 .pro-pricing-item{ width:5.26315% }
	.pro-pricing-list.numberphone-20 .pro-pricing-item{ width:5.00000% }
}

.pro-pricing-list .pro-pricing-item{
	float:left;
}
.pro-pricing-list .pro-pricing-box {
	position:relative;
}
.pro-pricing-list .pro-pricing-box .marker {
	color:#FFF;
	position:absolute;
	z-index:10;
}
.pro-pricing-list .pro-pricing-box .fa.fa-close{
	font-size:18px;
	color:red;
}
.pro-pricing-list .pro-pricing-box .fa.fa-check{
	font-size:18px;
	color:green;
}



/*RankingList_Default*/
