.verticalScroll{
	position:relative;
}
.verticalScroll .box-content{
	overflow:hidden;
	height:1px;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	position:relative;
}

.verticalScroll .box-content .main{
	position:relative;
	margin:0;
	padding:0;
}
.verticalScroll .box-content li.item{
	display:block;
	overflow:hidden;
}
.verticalScroll .box-content .active {
	background-color:#6C3
}
.verticalScroll .navigation {
	position:absolute;
	top:-30px;
	right:0px;	
}
.verticalScroll .navigation a{
	color:#FFF;
	padding:8px 8px;
	background-color:#06F;
	margin-left:3px;
	text-decoration:none;
	display:inline-block;
}
.verticalScroll .navigation a.prev,
.verticalScroll .navigation a.next {
	font-size:0;
	cursor:pointer;
}
.verticalScroll .navigation a.prev:active,
.verticalScroll .navigation a.next:active {
	opacity:0.9
}

.verticalScroll .navigation a.prev:before,
.verticalScroll .navigation a.next:before{
	font-size:0;
	content:"";
	width:7px;
	height:7px;
	display:block;
	border-left:1px solid #FFF;
	border-bottom:1px solid #FFF;
	background:none;
	margin:0 0 -4px;
	transform:rotate(45deg);
	-ms-transform:rotate(135deg); /* IE 9 */
	-moz-transform:rotate(135deg); /* Firefox */
	-webkit-transform:rotate(135deg); /* Safari and Chrome */
	-o-transform:rotate(135deg); /* Opera */
}
.verticalScroll .navigation a.next:before{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	margin:-4px 0 0;
}
.verticalScroll .paginations {
}
.verticalScroll .paginations a{
	width:10px;
	height:10px;
	overflow:hidden;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	display:inline-block;
	border:1px solid #CCC;
	text-indent:-100px;
	margin:3px;
}
.verticalScroll .paginations a.active{
	background-color:#CCC;
}


