﻿.jssorSlider {	position:relative;}
.jssorSlider .loading{position: absolute; top: 0px; left: 0px;}
.jssorSlider .loading .bg{filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;}
.jssorSlider .loading .ico{position: absolute; display: block; background:url(../images/loading.gif) no-repeat center center;top: 0px; left: 0px;width: 100%;height:100%;}
.jssorSlider .slides {cursor: move; position: absolute; left: 0px; top: 0px; overflow: hidden;}
.jssorSlider .thumbnailtemplate { width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0; }
.jssorSlider .thumbnavigator {position: absolute; overflow:hidden; }


/* jssor slider arrow navigator skin 01 css */
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn{width:45px; height:45px; margin-top:-22px; top: 50%;  }
.jssora01l, .jssora01ldn{left:8px;}
.jssora01r, .jssora01rdn{right:8px;}
.jssora01l, .jssora01r, .jssora01ldn, .jssora01rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a01.png) no-repeat;
	overflow:hidden;
}
.jssora01l { background-position: -8px -38px; }
.jssora01r { background-position: -68px -38px; }
.jssora01l:hover { background-position: -128px -38px; }
.jssora01r:hover { background-position: -188px -38px; }
.jssora01ldn { background-position: -8px -38px; }
.jssora01rdn { background-position: -68px -38px;  }

/* jssor slider arrow navigator skin 02 css */
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {width:55px; height:55px; margin-top:-27px; top: 50%;  }
.jssora02l, .jssora02ldn {left:8px;}
.jssora02r, .jssora02rdn {right:8px;}
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a02.png) no-repeat;
	overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -3px -33px; }
.jssora02rdn { background-position: -63px -33px; }

/* jssor slider arrow navigator skin 03 css */
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn {width:55px; height:55px; margin-top:-27px; top: 50%;  }
.jssora03l, .jssora03ldn {left:8px;}
.jssora03r, .jssora03rdn {right:8px;}
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a03.png) no-repeat;
	overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }

/* jssor slider arrow Navigator Skin 04 css */
.jssora04l, .jssora04r, .jssora04ldn, .jssora04rdn {width:28px; height:40px; margin-top:-14px; top: 50%;  }
.jssora04l, .jssora04ldn {left:8px;}
.jssora04r, .jssora04rdn {right:8px;}
.jssora04l, .jssora04r, .jssora04ldn, .jssora04rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a04.png) no-repeat;
	overflow:hidden;
}
.jssora04l { background-position: -16px -39px; }
.jssora04r { background-position: -76px -39px; }
.jssora04l:hover { background-position: -136px -39px; }
.jssora04r:hover { background-position: -196px -39px; }
.jssora04ldn { background-position: -256px -39px; }
.jssora04rdn { background-position: -316px -39px; }

/* jssor slider arrow navigator skin 05 css */
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn {width:40px; height:40px; margin-top:-20px; top: 50%;  }
.jssora05l, .jssora05ldn {left:8px;}
.jssora05r, .jssora05rdn {right:8px;}
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a17.png) no-repeat;
	overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

/* jssor slider arrow navigator skin 06 css */
.jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn {width:45px; height:45px; margin-top:-22px; top: 50%;  }
.jssora06l, .jssora06ldn {left:8px;}
.jssora06r, .jssora06rdn {right:8px;}
.jssora06l, .jssora06r, .jssora06ldn, .jssora06rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a06.png) no-repeat;
overflow:hidden;
}
.jssora06l { background-position: -8px -38px; }
.jssora06r { background-position: -68px -38px; }
.jssora06l:hover { background-position: -128px -38px; }
.jssora06r:hover { background-position: -188px -38px; }
.jssora06ldn { background-position: -248px -38px; }
.jssora06rdn { background-position: -308px -38px; }

/* jssor slider arrow navigator skin 07 css */
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn {width:50px; height:50px; margin-top:-25px; top: 50%;  }
.jssora07l, .jssora07ldn {left:8px;}
.jssora07r, .jssora07rdn {right:8px;}
.jssora07l, .jssora07r, .jssora07ldn, .jssora07rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a07.png) no-repeat;
	overflow:hidden;
}
.jssora07l { background-position: -5px -35px; }
.jssora07r { background-position: -65px -35px; }
.jssora07l:hover { background-position: -125px -35px; }
.jssora07r:hover { background-position: -185px -35px; }
.jssora07ldn { background-position: -245px -35px; }
.jssora07rdn { background-position: -305px -35px; }

/* jssor slider arrow navigator skin 08 css */
.jssora08l, .jssora08r, .jssora08ldn, .jssora08rdn {width:50px; height:50px; margin-top:-25px; top: 50%;  }
.jssora08l, .jssora08ldn {left:8px;}
.jssora08r, .jssora08rdn {right:8px;}
.jssorb08l, .jssorb08r, .jssorb08ldn, .jssorb08rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a08.png) no-repeat;
	overflow:hidden;
	opacity: .4; filter:alpha(opacity=40);
}
.jssorb08l { background-position: -5px -35px; }
.jssorb08r { background-position: -65px -35px; }
.jssorb08l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssorb08r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssorb08ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssorb08rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

/* jssor slider arrow navigator skin 09 css */
.jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn {width:50px; height:50px; margin-top:-25px; top: 50%;  }
.jssora09l, .jssora09ldn {left:8px;}
.jssora09r, .jssora09rdn {right:8px;}
.jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a09.png) no-repeat;
	overflow:hidden;
	opacity: .4; filter:alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

/* jssor slider arrow navigator skin 10 css */
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {width:28px; height:40px; margin-top:-20px; top: 50%;  }
.jssora10l, .jssora10ldn {left:8px;}
.jssora10r, .jssora10rdn {right:8px;}
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a10.png) no-repeat;
	overflow:hidden;
}
.jssora10l { background-position: -16px -39px; }
.jssora10r { background-position: -76px -39px; }
.jssora10l:hover { background-position: -136px -39px; }
.jssora10r:hover { background-position: -196px -39px; }
.jssora10ldn { background-position: -256px -39px; }
.jssora10rdn { background-position: -316px -39px; }

/* jssor slider arrow navigator skin 11 css */
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {width:37px; height:37px; margin-top:-18px; top: 50%;  }
.jssora11l, .jssora11ldn {left:8px;}
.jssora11r, .jssora11rdn {right:8px;}
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a11.png) no-repeat;
overflow:hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11ldn { background-position: -251px -41px; }
.jssora11rdn { background-position: -311px -41px; }

/* jssor slider arrow navigator skin 12 css */
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {width:30px; height:46px; margin-top:-23px; top: 50%;  }
.jssora12l, .jssora12ldn {left:8px;}
.jssora12r, .jssora12rdn {right:8px;}
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a12.png) no-repeat;
overflow:hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12ldn { background-position: -256px -37px; }
.jssora12rdn { background-position: -315px -37px; }

/* jssor slider arrow navigator skin 13 css */
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {width:40px; height:50px; margin-top:-25px; top: 50%;  }
.jssora13l, .jssora13ldn {left:8px;}
.jssora13r, .jssora13rdn {right:8px;}
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a13.png) no-repeat;
overflow:hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13ldn { background-position: -250px -35px; }
.jssora13rdn { background-position: -310px -35px; }

/* jssor slider arrow navigator skin 14 css */
.jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn {width:45px; height:45px; margin-top:-22px; top: 50%;  }
.jssora14l, .jssora14ldn {left:8px;}
.jssora14r, .jssora14rdn {right:8px;}
.jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a14.png) no-repeat;
overflow:hidden;
}
.jssora14l { background-position: -15px -35px; }
.jssora14r { background-position: -75px -35px; }
.jssora14l:hover { background-position: -135px -35px; }
.jssora14r:hover { background-position: -195px -35px; }
.jssora14ldn { background-position: -255px -35px; }
.jssora14rdn { background-position: -315px -35px; }

/* jssor slider arrow navigator skin 15 css */
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn {width:20px; height:38px; margin-top:-18px; top: 50%;  }
.jssora15l, .jssora15ldn {left:8px;}
.jssora15r, .jssora15rdn {right:8px;}
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a15.png) no-repeat;
overflow:hidden;
}
.jssora15l { background-position: -20px -41px; }
.jssora15r { background-position: -80px -41px; }
.jssora15l:hover { background-position: -140px -41px; }
.jssora15r:hover { background-position: -200px -41px; }
.jssora15ldn { background-position: -260px -41px; }
.jssora15rdn { background-position: -320px -41px; }

/* jssor slider arrow navigator skin 16 css */
.jssora16l, .jssora16r, .jssora16ldn, .jssora16rdn {width:22px; height:36px; margin-top:-18px; top: 50%;  }
.jssora16l, .jssora16ldn {left:8px;}
.jssora16r, .jssora16rdn {right:8px;}
.jssora16l, .jssora16r, .jssora16ldn, .jssora16rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a16.png) no-repeat;
overflow:hidden;
}
.jssora16l { background-position: -19px -42px; }
.jssora16r { background-position: -79px -42px; }
.jssora16l:hover { background-position: -139px -42px; }
.jssora16r:hover { background-position: -199px -42px; }
.jssora16ldn { background-position: -259px -42px; }
.jssora16rdn { background-position: -319px -42px; }

/* jssor slider arrow navigator skin 17 css */
.jssora17l, .jssora17r, .jssora17ldn, .jssora17rdn {width:38px; height:38px; margin-top:-29px; top: 50%;  }
.jssora17l, .jssora17ldn {left:8px;}
.jssora17r, .jssora17rdn {right:8px;}
.jssora17l, .jssora17r, .jssora17ldn, .jssora17rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a17.png) no-repeat;
overflow:hidden;
}
.jssora17l { background-position: -11px -42px; }
.jssora17r { background-position: -72px -42px; }
.jssora17l:hover { background-position: -131px -42px; }
.jssora17r:hover { background-position: -192px -42px; }
.jssora17ldn { background-position: -251px -42px; }
.jssora17rdn { background-position: -312px -42px; }

/* jssor slider arrow Navigator Skin 18 css */
.jssora18l, .jssora18r, .jssora18ldn, .jssora18rdn {width:29px; height:29px; margin-top:-14px; top: 50%;  }
.jssora18l, .jssora18ldn {left:8px;}
.jssora18r, .jssora18rdn {right:8px;}
.jssora18l, .jssora18r, .jssora18ldn, .jssora18rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a18.png) no-repeat;
overflow:hidden;
}
.jssora18l {
background-position: -16px -45px;
}

.jssora18r {
background-position: -76px -45px;
}

.jssora18l:hover {
background-position: -136px -45px;
}

.jssora18r:hover {
background-position: -196px -45px;
}

.jssora18ldn {
background-position: -256px -45px;
}

.jssora18rdn {
background-position: -316px -45px;

}

/* jssor slider arrow navigator skin 19 css */
.jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn {width:50px; height:50px; margin-top:-22px; top: 50%;  }
.jssora19l, .jssora19ldn {left:8px;}
.jssora19r, .jssora19rdn {right:8px;}
.jssora19l, .jssora19r, .jssora19ldn, .jssora19rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a19.png) no-repeat;
overflow:hidden;
}
.jssora19l { background-position: -5px -35px; }
.jssora19r { background-position: -65px -35px; }
.jssora19l:hover { background-position: -125px -35px; }
.jssora19r:hover { background-position: -185px -35px; }
.jssora19ldn { background-position: -245px -35px; }
.jssora19rdn { background-position: -305px -35px; }

/* jssor slider arrow navigator skin 20 css */
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn {width:55px; height:55px; margin-top:-27px; top: 50%;  }
.jssora20l, .jssora20ldn {left:8px;}
.jssora20r, .jssora20rdn {right:8px;}
.jssora20l, .jssora20r, .jssora20ldn, .jssora20rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a20.png) no-repeat;
overflow:hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20ldn { background-position: -243px -33px; }
.jssora20rdn { background-position: -303px -33px; }

/* jssor slider arrow navigator skin 21 css */
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {width:55px; height:55px; margin-top:-27px; top: 50%;  }
.jssora21l, .jssora21ldn {left:8px;}
.jssora21r, .jssora21rdn {right:8px;}
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a21.png) center center no-repeat;
overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }

/* jssor slider arrow navigator skin 22 css */
.jssora22l, .jssora22r, .jssora22ldn, .jssora22rdn {width:40px; height:58px; margin-top:-29px; top: 50%;  }
.jssora22l, .jssora22ldn {left:8px;}
.jssora22r, .jssora22rdn {right:8px;}
.jssora22l, .jssora22r, .jssora22ldn, .jssora22rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(../images/a22.png) center center no-repeat;
overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22ldn { background-position: -250px -31px; }
.jssora22rdn { background-position: -310px -31px; }


/* jssor slider bullet navigator skin 01 css */
.jssorb01 { position: absolute; bottom: 16px; right: 10px; }
.jssorb01 div { position: absolute; width: 12px; height: 12px; }
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av{
	filter: alpha(opacity=70);
	opacity: 0.7;
	overflow:hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider bullet navigator skin 02 css */
.jssorb02 { position: absolute; bottom: 16px; left: 6px; }
.jssorb02 div { POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align:center; line-height:21px; color:White; font-size:12px; }
.jssorb02 div, .jssorb02 div:hover, .jssorb02 .av
{
background: url(../images/b02.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb02 div { background-position: -5px -5px; }
.jssorb02 div:hover, .jssorb02 .av:hover { background-position: -35px -5px; }
.jssorb02 .av { background-position: -65px -5px; }
.jssorb02 .dn, .jssorb02 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 03 css */
.jssorb03 { position: absolute; bottom: 16px; left: 6px; }
.jssorb03 div { position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px; }
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
{
background: url(../images/b03.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider bullet navigator skin 04 css */
.jssorb04 { position: absolute; bottom: 16px; left: 6px; }
.jssorb04 div { POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px; }
.jssorb04 div, .jssorb04 div:hover, .jssorb04 .av
{
background: url(../images/b04.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb04 div { background-position: -5px -5px; }
.jssorb04 div:hover, .jssorb04 .av:hover { background-position: -35px -5px; }
.jssorb04 .av { background-position: -65px -5px; }
.jssorb04 .dn, .jssorb04 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 05 css */
.jssorb05 { position: absolute; bottom: 16px; right: 6px; }
.jssorb05 div { POSITION: absolute; WIDTH: 16px; HEIGHT: 16px;}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av
{
background: url(../images/b05.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider bullet navigator skin 06 css */
.jssorb06 { position: absolute; bottom: 16px; left: 6px; }
.jssorb06 div { POSITION: absolute; WIDTH: 18px; HEIGHT: 18px;}
.jssorb06 div, .jssorb06 div:hover, .jssorb06 .av
{
background: url(../images/b06.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb06 div { background-position: -6px -6px; }
.jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
.jssorb06 .av { background-position: -66px -6px; }
.jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }

/* jssor slider bullet navigator skin 07 css */
.jssorb07 { position: absolute; bottom: 16px; left: 6px; }
.jssorb07 div { POSITION: absolute; WIDTH: 20px; HEIGHT: 20px; }
.jssorb07 div, .jssorb07 div:hover, .jssorb07 .av
{
background: url(../images/b07.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb07 div { background-position: -5px -5px; }
.jssorb07 div:hover, .jssorb07 .av:hover { background-position: -35px -5px; }
.jssorb07 .av { background-position: -65px -5px; }
.jssorb07 .dn, .jssorb07 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 08 css */
.jssorb08 { position: absolute; bottom: 16px; left: 6px; }
.jssorb08 div { POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px; }
.jssorb08 div, .jssorb08 div:hover, .jssorb08 .av
{
background: url(../images/b08.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb08 div { background-position: -5px -5px; }
.jssorb08 div:hover, .jssorb08 .av:hover { background-position: -35px -5px; }
.jssorb08 .av { background-position: -65px -5px; }
.jssorb08 .dn, .jssorb08 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 09 css */
.jssorb09 { position: absolute; bottom: 16px; right: 10px; }
.jssorb09 div { POSITION: absolute; WIDTH: 12px; HEIGHT: 12px; }
.jssorb09 div, .jssorb09 div:hover, .jssorb09 .av
{
filter: alpha(opacity=70);
opacity: .7;
overflow:hidden;
cursor: pointer;
border: #fff 1px solid;
}
.jssorb09 div { background-color: #d3d3d3; }
.jssorb09 div:hover, .jssorb09 .av:hover { background-color: gray; }
.jssorb09 .av { background-color: #000; }
.jssorb09 .dn, .jssorb09 .dn:hover { background-color: #a9a9a9; }

/* jssor slider bullet navigator skin 10 css */
.jssorb10 { position: absolute; bottom: 16px; right: 6px; }
.jssorb10 div { POSITION: absolute; WIDTH: 11px; HEIGHT: 11px; }
.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av
{
background: url(../images/b10.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb10 div { background-position: -10px -10px; }
.jssorb10 div:hover, .jssorb10 .av:hover { background-position: -40px -10px; }
.jssorb10 .av { background-position: -70px -10px; }
.jssorb10 .dn, .jssorb10 .dn:hover { background-position: -100px -10px; }

/* jssor slider bullet navigator skin 11 css */
.jssorb11 { position: absolute; bottom: 16px; right: 6px; }
.jssorb11 div { POSITION: absolute; WIDTH: 11px; HEIGHT: 11px; }
.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av
{
background: url(../images/b11.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb11 div { background-position: -10px -10px; }
.jssorb11 div:hover, .jssorb11 .av:hover { background-position: -40px -10px; }
.jssorb11 .av { background-position: -70px -10px; }
.jssorb11 .dn, .jssorb11 .dn:hover { background-position: -100px -10px; }

/* jssor slider bullet navigator skin 12 css */
.jssorb12 { position: absolute; bottom: 16px; right: 6px; }
.jssorb12 div { POSITION: absolute; WIDTH: 16px; HEIGHT: 16px; }
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av
{
background: url(../images/b12.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

/* jssor slider bullet navigator skin 13 css */
.jssorb13 { position: absolute; bottom: 16px; right: 6px; }
.jssorb13 div { POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; }
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av
{
background: url(../images/b13.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 14 css */
.jssorb14 { position: absolute; bottom: 16px; right: 6px; }
.jssorb14 div { POSITION: absolute; WIDTH: 12px; HEIGHT: 12px; }
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av
{
background: url(../images/b14.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb14 div { background-position: -9px -9px; }
.jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
.jssorb14 .av { background-position: -69px -9px; }
.jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }

/* jssor slider bullet navigator skin 15 css */
.jssorb15 { position: absolute; bottom: 16px; right: 6px; }
.jssorb15 div { POSITION: absolute; WIDTH: 24px; HEIGHT: 24px; }
.jssorb15 div, .jssorb15 div:hover, .jssorb15 .av
{
background: url(../images/b15.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb15 div { background-position: -3px -3px; }
.jssorb15 div:hover, .jssorb15 .av:hover { background-position: -33px -3px; }
.jssorb15 .av { background-position: -63px -3px; }
.jssorb15 .dn, .jssorb15 .dn:hover { background-position: -93px -3px; }

.jssorb15 .n
{
display: none;
color: #000;
}
.jssorb15 div:hover .n, .jssorb15 .av .n, .jssorb15 .av:hover .n, .jssorb15 .dn .n { display: block; }

/* jssor slider bullet navigator skin 16 css */
.jssorb16 { position: absolute; bottom: 16px; right: 6px; }
.jssorb16 div { POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; }
.jssorb16 div, .jssorb16 div:hover, .jssorb16 .av
{
background: url(../images/b16.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb16 div { background-position: -5px -5px; }
.jssorb16 div:hover, .jssorb16 .av:hover { background-position: -35px -5px; }
.jssorb16 .av { background-position: -65px -5px; }
.jssorb16 .dn, .jssorb16 .dn:hover { background-position: -95px -5px; }

/* jssor slider bullet navigator skin 17 css */
.jssorb17 { position: absolute; bottom: 16px; right: 6px; }
.jssorb17 div { POSITION: absolute; WIDTH: 16px; HEIGHT: 16px; }
.jssorb17 div, .jssorb17 div:hover, .jssorb17 .av
{
background: url(../images/b17.png) no-repeat;
overflow:hidden;
cursor: pointer;
}
.jssorb17 div { background-position: -7px -7px; }
.jssorb17 div:hover, .jssorb17 .av:hover { background-position: -37px -7px; }
.jssorb17 .av { background-position: -67px -7px; }
.jssorb17 .dn, .jssorb17 .dn:hover { background-position: -97px -7px; }


.jssort01,
.jssort02,
.jssort03,
.jssort04,
.jssort05,
.jssort06,
.jssort07,
.jssort08,
.jssort09,
.jssort10{
	overflow:hidden;
}
/* jssor slider thumbnail navigator skin 01 css */
.jssort01 { position: absolute;  height: 100px; left:0px; bottom: 0px; }
.jssort01 .p{ position: absolute;  top: 0; left: 0; }
.jssort01 .w div{ width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0; }
.jssort01 .w
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}
.jssort01 .c {
position: absolute;
top: 0px;
left: 0px;
right:0px;
bottom:0px;
border: #000 2px solid;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
background: url(../images/t01.png) center center;
border-width: 0px;
top: 2px;
left: 2px;
right:2px;
bottom:2px;
}
.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
top: 0px;
left: 0px;
right:0px;
bottom:0px;
border: #fff 1px solid;
}

/* jssor slider thumbnail navigator skin 02 css */
.jssort02 .w
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}
.jssort02 .c
{
position: absolute;
top: 0px;
left: 0px;
right:0px;
bottom:0px;
border: #000 2px solid;
}
.jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c 
{
background: url(../images/t01.png) center center;
border-width: 0px;
top: 2px;
left: 2px;
right:2px;
bottom:2px;
}
.jssort02 .p:hover .c, .jssort02 .pav:hover .c {
top: 0px;
left: 0px;
right:0px;
bottom:0px;
border: #fff 1px solid;
}

/* jssor slider thumbnail navigator skin 03 css */
.jssort03 .w, .jssort03 .pav:hover .w
{
position: absolute;
width: 60px;
height: 30px;
border: white 1px dashed;
}
* html .jssort03 .w
{
width /**/: 62px;
height /**/: 32px;
}
.jssort03 .pdn .w, .jssort03 .pav .w { border-style: solid; }
.jssort03 .c
{
width: 62px;
height: 32px;
filter:  alpha(opacity=45);
opacity: .45;

transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}
.jssort03 .p:hover .c, .jssort03 .pav .c
{
filter:  alpha(opacity=0);
opacity: 0;
}
.jssort03 .p:hover .c
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}
/* jssor slider thumbnail navigator skin 04 css */
.jssort04 .w, .jssort04 .pav:hover .w
{
position: absolute;
width: 60px;
height: 30px;
border: #0099FF 1px solid;
}
* html .jssort04 .w
{
width /**/: 62px;
height /**/: 32px;
}
.jssort04 .pdn .w, .jssort04 .pav .w { border-style: solid; }
.jssort04 .c
{
width: 62px;
height: 32px;
filter:  alpha(opacity=45);
opacity: .45;

transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}
.jssort04 .p:hover .c, .jssort04 .pav .c
{
filter:  alpha(opacity=0);
opacity: 0;
}
.jssort04 .p:hover .c
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail navigator skin 05 css */
.jssort05 .f
{
clip: rect(8px 63px 63px 8px);
}
.jssort05 .i
{
position: absolute;
background: #000;
filter: alpha(opacity=30);
opacity: .3;
width: 72px;
height: 72px;
top: 0;
left: 0;

transition: background-color .6s;
-moz-transition: background-color .6s;
-webkit-transition: background-color .6s;
-o-transition: background-color .6s;
}
.jssort05 .pav .i
{
background: #fff;
filter: alpha(opacity=80);
opacity: .8;
}
.jssort05 .pdn .i { background: none; }

.jssort05 .p:hover .i, .jssort05 .pav:hover .i
{
background: #fff;
filter: alpha(opacity=30);
opacity: .3;
}
.jssort05 .p:hover .i
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail navigator skin 06 css */
.jssort06 .f
{
clip: rect(8px 91px 58px 8px);
}
.jssort06 .pav .f
{
clip: rect(2px 97px 64px 2px);
}
.jssort06 .i
{
position: absolute;
background: #000;
filter: alpha(opacity=30);
opacity: .3;
width: 99px;
height: 66px;
top: 0;
left: 0;

transition: background-color .6s;
-moz-transition: background-color .6s;
-webkit-transition: background-color .6s;
-o-transition: background-color .6s;
}
.jssort06 .pav .i
{
background: #fff;
filter: alpha(opacity=100);
opacity: 1;
}
.jssort06 .pdn .i { background: none; }

.jssort06 .p:hover .i, .jssort06 .pav:hover .i
{
background: #fff;
filter: alpha(opacity=30);
opacity: .3;
}
.jssort06 .p:hover .i
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail navigator skin 07 css */
.jssort07 .i
{
position:absolute;
top: 0px;
left: 0px;
width: 72px;
height: 72px;
filter: alpha(opacity=80);
opacity: .8;
}
.jssort07 .p:hover .i, .jssort07 .pav .i
{
filter: alpha(opacity=100);
opacity: 1;
}
.jssort07 .o
{
position: absolute;
top:0px;
left:0px;
width:70px;
height:70px;

border: 1px solid #000;

transition: border-color .6s;
-moz-transition: border-color .6s;
-webkit-transition: border-color .6s;
-o-transition: border-color .6s;
}
* html .jssort07 .o
{
/* ie quirks mode adjust */
width /**/: 72px;
height /**/: 72px;
}
.jssort07 .pav .o, .jssort07 .p:hover .o
{
border-color: #fff;
}
.jssort07 .pav:hover .o
{
border-color: #0099FF;
}
.jssort07 .p:hover .o
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail navigator skin 08 css */
.jssort08 .i
{
position:absolute;
top: 0px;
left: 0px;
width: 50px;
height: 50px;
filter: alpha(opacity=80);
opacity: .8;
}
.jssort08 .p:hover .i, .jssort08 .pav:hover .i
{
filter: alpha(opacity=100);
opacity: 1;
}
.jssort08 .o
{
position: absolute;
top:0px;
left:0px;
width:48px;
height:48px;

border: 1px solid #000;

transition: border-color .6s;
-moz-transition: border-color .6s;
-webkit-transition: border-color .6s;
-o-transition: border-color .6s;
}
* html .jssort08 .o
{
/* ie quirks mode adjust */
width /**/: 50px;
height /**/: 50px;
}
.jssort08 .pav .o, .jssort08 .p:hover .o
{
border-color: #fff;
}
.jssort08 .pav:hover .o
{
border-color: #0099FF;
}
.jssort08 .p:hover .o
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail Navigator Skin 9 css */
.jssort9 .p .t {
FILTER: alpha(opacity=45);
opacity: .45;
transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}

.jssort9 .pav .t, .jssort9 .pav:hover .t, .jssort9 .p:hover .t {
FILTER: alpha(opacity=100);
opacity: 1;
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

/* jssor slider thumbnail Navigator Skin 10 css */
.jssort10 .p img {
FILTER: alpha(opacity=55);
opacity: .55;
transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}

.jssort10 .pav img, .jssort10 .pav:hover img, .jssort10 .p:hover img {
FILTER: alpha(opacity=100);
opacity: 1;
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

.jssort10 .pav:hover img, .jssort10 .p:hover img {
FILTER: alpha(opacity=70);
opacity: .7;
}

.jssort10 .title, .jssort10 .title_back {
position: absolute;
top: 70px;
left: 0px;
width: 200px;
height: 30px;
line-height: 30px;
text-align: center;
color: #000;
font-size: 20px;
}

.jssort10 .title_back {
background-color: #fff;
filter: alpha(opacity=50);
opacity: .5;
}

.jssort10 .pav:hover .title_back, .jssort10 .p:hover .title_back {
filter: alpha(opacity=40);
opacity: .4;
}

.jssort10 .pav .title_back {
background-color: #000;
filter: alpha(opacity=50);
opacity: .5;
}

.jssort10 .pav .title {
color: #fff;
}


/**************************/
.jssorSlider .thumbnavigator {
	position: absolute;
}
.jssorSlider .thumbnavigator .thumbbg{
	position:absolute;
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.jssorSlider .thumbnavigator .p,
.jssorSlider .thumbnavigator .pav,
.jssorSlider .thumbnavigator .pdn {
	position: absolute;
	top: 0;
	left: 0;
}

.jssorSlider .thumbsytle_1 .w .text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
}
.jssorSlider .thumbsytle_1 .w .title{
	font-size:14px;
	padding:4px;
}
.jssorSlider .thumbsytle_1 .w .content{
	font-size:12px;
	padding:4px;
}
.jssorSlider .thumbsytle_1 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	bottom:0px;
	border: #000 2px solid;
}
.jssorSlider .thumbsytle_1 .p:hover .c, 
.jssorSlider .thumbsytle_1 .pav:hover .c, 
.jssorSlider .thumbsytle_1 .pdn:hover .c, 
.jssorSlider .thumbsytle_1 .pav .c {
	background:url(../images/t01.png) center center no-repeat    ;
	border-width: 0px;
	top: 2px;
	left: 2px;
	right:2px;
	bottom:2px;
}

.jssorSlider .thumbsytle_2 .w .text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
}
.jssorSlider .thumbsytle_2 .w .title{
	font-size:14px;
	padding:4px;
}
.jssorSlider .thumbsytle_2 .w .content{
	font-size:12px;
	padding:4px;
}
.jssorSlider .thumbsytle_2 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	bottom:0px;
	border-bottom: #000 1px solid;
}
.jssorSlider .thumbsytle_2 .p:hover , 
.jssorSlider .thumbsytle_2 .pav:hover , 
.jssorSlider .thumbsytle_2 .pdn:hover , 
.jssorSlider .thumbsytle_2 .pav  {
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
}
.jssorSlider .thumbsytle_2 .thumbbg{
	width:30%;
}
.jssorSlider .thumbsytle_2 .w .text{
	width:auto;
	margin-left:30%;
	background-color:inherit;
	top:5px;
}

.jssorSlider .thumbsytle_3 .w .text{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color:#000;
	background-color:rgba(0,0,0,0.5);
	color:#FFF;
}
.jssorSlider .thumbsytle_3 .w .title{
	font-size:14px;
	padding:4px;
}
.jssorSlider .thumbsytle_3 .w .content{
	font-size:12px;
	padding:4px;
}
.jssorSlider .thumbsytle_3 .c {
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	bottom:0px;
	border: #000 2px solid;
}
.jssorSlider .thumbsytle_3 .p:hover .c, 
.jssorSlider .thumbsytle_3 .pav:hover .c, 
.jssorSlider .thumbsytle_3 .pdn:hover .c, 
.jssorSlider .thumbsytle_3 .pav .c {
	background:url(../images/t01.png) center center no-repeat    ;
	border-width: 0px;
	top: 2px;
	left: 2px;
	right:2px;
	bottom:2px;
}


/**/
.jssorSlider .item {
	position:relative;
}
.jssorSlider .description {
	position:absolute;
	bottom:0;
	left:0;
	padding:10px;
	color:#FFF;
	background-color:rgba(0,0,0,0.5)
}

.jssorSlider.c-top .description {
	top:0;
	bottom:auto;
}

/**/
.jssorSlider .closeButton { 
	background-image: url(../images/close.png);
	position: absolute; 
	top: 0px; 
	right: 1px; 
	width: 30px; 
	height: 30px; 
	background-color: #000; 
	cursor: pointer; 
	z-index: 10;
}
.jssorSlider .closeButton:hover { 
	background-position: -30px 0px;
}

.jssorSlider .videoCover {
	position: absolute; 
	top: 0px; 
	left: 0px;
	background-color: #000; 
	background-image: url(../images/play.png);
	background-position: center center; 
	background-repeat: no-repeat; 
	filter: alpha(opacity=40); 
	opacity: .4; 
	cursor: pointer; 
	z-index: 10;
}
.jssorSlider .player{
	background-color:#000;
}

h1 {
        color:585858 !important; 
}

.event-detail {
	border: 1px solid #cdcdcd;
	background-color: #ffffff;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.event-detail .event-title {
	border-left-width:3px;
	border-left-style:solid;
	margin-left:-1px;
	position:relative;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
	line-height:1.2;
}
.event-detail .event-title > .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.event-detail .event_thum img {
	max-width:100%;
}
.event-detail .event-title .event-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.event-detail .event-title .event-date span {
	display: block;
	font-size: 13px;
}
.event-detail .event-title .event-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.event-detail .event-title .event-date .endtime {
	float:right;
	font-size:13px;
	text-align:right;
	line-height:1;
	padding-right:20px;
}
.event-detail .event-title .event-date .endtime:before{
	content:"-";
	padding-right:8px;
	font-size:10px;
}

.event-detail .event-title .event-date .endtime span{
	font-size:10px;
	font-weight:normal;
}

.event-detail .event-title-right {
	overflow: auto;
	padding: 10px 100px 10px 10px;
}
.event-detail .event-title-right h3 {
	margin: 2px 0 5px;
	color: #6B6B6B;
	font-size: 18px;
}
.event-detail .event-title-right .news_title{
  margin: 0 0 10px 0;
	font-size:18px;

}

.event-detail .event-return{
	position:absolute;
	right:25px;
	top:50%;
	z-index:10;
	font-size:13px;
	font-weight:normal;
	margin-top:-7px;
}

.event-detail .event-title-right .event-info {
	margin: 0 0 5px;
	color: #262626;
	font-size: 11px;
	opacity: 0.7;
}
.event-detail:hover .event-title-right .event-info {
	opacity: 1;
}
.event-detail .event-content {
	background-color: #eaeaea;
}
.event-detail .event-content .event-details,
.event-detail .event-content .event-schedule {
	padding: 15px 15px 15px 65px;
	color:#585858;
	border-bottom:1px solid #cdcdcd;
}

.event-detail .event-content .event-details > h5,
.event-detail .event-content .event-schedule > h5,
.event-detail .event-details-info > ul > li > h5 {
	font-size: 18px;
	color: #6B6B6B;
	position: relative;
	margin: 0px 0px 10px;
}
.event-detail .event-content .event-details > h5 span,
.event-detail .event-content .event-schedule > h5 span,
.event-detail .event-details-info > ul > li > h5 span {
	position: absolute;
	top: 4px;
	left: -40px;
}
.event-detail .event-content .event-details-info {
	display:table;
	width:100%;
}
.event-detail .event-details-info > ul{
	margin: 0;
	padding: 0;
	display:table-row
}
.event-detail .event-details-info  > ul > li{
	width:50%;
	display:table-cell;
	padding:15px 15px 15px 65px;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}
.event-detail .event-details-info .TimeZone{
	font-size:11px;
	color:#777;
}

.event-detail .event-details-info li:last-child{
	border-right:none;
}
.event-detail .event-details-info p{
	margin-bottom:8px;
}
.event-detail .event-content .event-gmap {
	width:100%;
	height:300px;
	border-bottom: 1px solid #cdcdcd;
}
.event-detail .event-content .event-gmap img{
	max-width:none;
}
.event-detail .PictureUrl {
	text-align:center;
}
.event-detail .event_thum {
	text-align:center;
}
.event-detail .event_gallerys {
}
.event-detail .jssorSlider{
	margin:auto;
}
.event-detail .event_gallerys ol,
.event-detail .event_gallerys li{
	list-style:none;
	margin:0;
	padding:0;
}
.event-detail .event_gallerys img {
	max-width:100%;
}
.event-details .thum {
	float:left;
	margin-right:10px;
}
.event-details .thum img{
	max-width:200px;
}

.event-details-comment {
	padding:25px;
}
.event_rss {
	text-align:right;
	margin-bottom:4px;
}

.event-details .post_sharing {
	max-height:50px;
	position:relative;
	z-index:4;
}
.event-details .rating{
	direction:ltr;
}

.event-details .rating .datasSent,
.event-details .rating .serverResponse{
	display:inline-block;
	vertical-align:middle;
}
.event-detail .upcomingdates{
	margin:0;
	padding:0;
}
.event-detail .upcomingdates dt{
    font-weight: bold;
	margin:0 0 8px;
	padding:0;
}
.event-detail .upcomingdates dd{
	padding:0 0 0 10px;
	margin:0 0 5px;
	display:none;

}
.event-detail .upcomingdates dd:before{
	content:"";
	width:5px;
	height:5px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	display:inline-block;
	background-color:#777;
	vertical-align:middle; 
	margin:0 8px 3px 0px;
}
.event-detail .address_title {
	font-size:14px;
}
.event-detail .upcomingdatesmore{
	padding-left:10px;
	display:inline-block;
	position:relative;
}
.event-detail .event-iCalendar {
    color: #ffffff;
    background-color: #3498db;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
    border-radius: 4px;
}
.event-detail .event-iCalendar:hover {
    background-color: #2078B3;
}


@media only screen and (max-width: 767px) {
	.event-detail .event-content .event-details-info,
	.event-detail .event-content .event-details-info ul{
		border:none;
	}
	.event-detail .event-details-info > ul > li{
		width:auto;
		display:block;
		border:none;
		border-bottom:1px solid #cdcdcd;
	}
	.event-detail .event-title-right{
		padding:10px;	
	}
	.event-detail .event-return{
		position:static;
		display:inline-block;
		margin-bottom:3px;
	}
	.event-detail .event-title .event-date{
		float:none;
		display:inline-block;
	}
	.event-detail .event-content .event-details, 
	.event-detail .event-content .event-schedule,
	.event-detail .event-details-info  > ul > li{
		padding:15px 15px 15px 40px;
	
	}
	.event-detail .event-content .event-details > h5 span, 
	.event-detail .event-content .event-schedule > h5 span, 
	.event-detail .event-details-info > ul > li > h5 span{
		left:-30px;
	}

}

/*rsvp*/
.rsvp-nav{
	margin:0;
	padding:0;
	list-style:none;
	margin:0 0 10px;
	position:relative;
	display:inline-block;
	
}
.rsvp-nav li{
	margin:0;
	display:inline-block;
	padding:15px 60px 15px 60px;
	margin:0 5px 5px 0;
	color:#FFF;
	position:relative;
	cursor:pointer;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.rsvp-nav li:before{
	content:"";
	position:absolute;
	width:20px;
	height:20px;
	line-height:22px;
	text-align:center;
	background-color:#FFF;
	right:15px;
	top:25px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.rsvp-nav li:hover:before,
.rsvp-nav li.active:before{
	content:"\f00c";
	font-family:"FontAwesome";
	font-size:13px;
	color:#bbbbbb;
}
.rsvp-nav li.active:before{
	color:#333333;
}

.rsvp-nav li.attending{
	background-color:#16a082;
}
.rsvp-nav li.Maybe{
	background-color:#edbf08;
}
.rsvp-nav li.not{
	background-color:#b02d20;
}
.rsvp-nav li.attending.active,
.rsvp-nav li.attending:hover{
	background-color:#128d72;
}
.rsvp-nav li.Maybe.active,
.rsvp-nav li.Maybe:hover{
	background-color:#d1a90b;
}
.rsvp-nav li.not.active,
.rsvp-nav li.not:hover{
	background-color:#9f271b;
}
.rsvp-nav li > .fa{
	position:absolute;
	top:22px;
	left:20px;
	font-size:20px;
}
.rsvp-nav li h6{
	margin:0;
	color:#FFF;
	font-size:16px;
	margin-bottom:5px;
}
.rsvp-nav li p{
	margin:0;
	font-size:13px;
}
.rsvp-nav li .fa i{
	font-size:12px;
	background-color:#2078B3;
	color:#FFF;
	position:absolute;
	bottom:100%;
	left:100%;
	margin:0 0 -3px -3px;
	padding:3px 5px;
	font-style:normal;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.rsvp-nav li{
	margin:0;
	display:inline-block;
	padding:15px 60px 15px 60px;
	margin:0 5px 5px 0;
	color:#FFF;
	position:relative;
	cursor:pointer;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.rsvp-nav .nav-message{
	position:absolute;
	top:0;
	right:0;
}
.rsvp-nav .nav-message input{
	visibility:hidden;
	position:relative;
	z-index:-1000;
}

.rsvp-from ul{
	margin:0;
	padding:0px;
	list-style:none;
}
.rsvp-from li{
	margin:0;
	padding:0;
	list-style:none;
}
.rsvp-from li .rsvp-control{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:14px 10px;
	margin:0 0 10px;
	background-color:#FFF;
	border:2px solid #cacaca;
	box-shadow:none;	
	-moz-box-shadow:none; 	
	-webkit-box-shadow:none;
	outline:none;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.rsvp-from li .rsvp-control.error,
.rsvp-from li .rsvp-control.error:focus{
	border-color:#9f271b;
}
.rsvp-from li .rsvp-control:focus{
	border-color:#666;
}

.rsvp-from .rsvp-special {
	padding:0px 0px 10px;
	font-size:14px;
	color:#16a082;
}
.rsvp-from .rsvp-special input{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:2px;
}
.rsvp-from .rsvp-msg {
	padding:20px 0px 20px;
	font-size:16px;
	color:#9f271b;
	text-align:center;
}
.rsvp-from .rsvp-btn {
	text-align:right;
	padding:0px 10px 10px;
}
.rsvp-from .rsvp-btn .join-btn{
	padding:10px 15px;
	background:#16a082;
	border:none;
	min-width:100px;
	text-align:center;
	color:#FFF;
}
.rsvp-from .rsvp-btn .join-btn, 
.rsvp-from .rsvp-btn .join-btn:link, 
.rsvp-from .rsvp-btn .join-btn:active, 
.rsvp-from .rsvp-btn .join-btn:visited{
	color:#FFF;
}
.rsvp-from .rsvp-btn .join-btn:hover{
	background:#128d72;
}
.rsvp-from .rsvp-btn .join-btn[disabled^="disabled"]{
	background:#b6b6b6;
}

.rsvp-from .error-msg{
	color:#ee0101 ;
	margin-right:8px;
	display:inline-block;
}
.rsvp-from .error-msg.green {
	background-color:#128d72;
}

.xEvisible-sm{
	display:none;
}
@media only screen and (max-width: 767px) {
	.xEhidden-sm{
		display:none;
	}
	.xEvisible-sm{
		display:inline-block;
	}
}



/* Z-INDEX */
 .formError { z-index: 990; }
    .formError .formErrorContent { z-index: 991; }
    .formError .formErrorArrow { z-index: 996; }

    .ui-dialog .formError { z-index: 5000; }
    .ui-dialog .formError .formErrorContent { z-index: 5001; }
    .ui-dialog .formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
	text-align: left;
}

.formError.inline {
	position: relative;
	top: 0;
	left: 0;
	display: inline-block;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	min-width: 120px;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	-o-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}

.formError.inline .formErrorContent {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	-o-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 11px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}











