﻿<div class="por-history $ThemeName" id="history${ModuleID}" data-pageindex="0" data-loaddisplay="${xf.ViewXmlSetting("PageSize",12)}" data-firstscreen="0"  ${xf.AjaxParameters}>
  <div class="history-main"></div>
  <div class="history-more"><span><i class="fa fa-rotate-right"></i>${xf.ViewXmlSetting("moretext1","MORE")}</span></div>
  
  
  #if(${xf.ViewXmlSetting("disrightarrow","true")}=="true")
  <div class="nav-right">
  <div class="history-nav">
  	<div class="history-prev" data-page="prev"></div>
  	<div class="history-next" data-page="next"></div>
  </div>
  </div>
  #end
</div>

<script id="AjaxSliders${ModuleID}" type="text/x-jquery-tmpl">
{{if displayYear}}
<div class="history-year">
	<span>${htyYear}</span>
</div>
{{/if}}
<div class="history-item ${direction} ${xf.ViewXmlSetting("itmeanimation","none")} #if(${xf.ViewXmlSetting("itmeanimation","none")}!="none")hty-animat#end">
	<div class="history-box">
		{{if covertype == "Image"}}
		<div class="history-pic"><img src="${PictureImages}" alt="{{if imagealt ==""}}${Title}{{else}}${imagealt}{{/if}}"  /></div>
		{{/if}}
		{{if covertype == "Youtube"}}
		<div class="history-youtube">
			<div class="responsive ${ratio}">
				<iframe src="${Pictureyoutube}" frameborder="0" allowfullscreen=""></iframe>
			</div>
		</div>
		{{/if}}
		{{if covertype == "Vimeo"}}
		<div class="history-vimeo">
			<div class="responsive ${ratio}">
				<iframe src="${Picturevimeo}" frameborder="0" allowfullscreen=""></iframe>
			</div>
		
		</div>
		{{/if}}
		{{if covertype == "Map"}}
		<div class="history-map">
			<div class="responsive ${ratio}">
				<iframe src="${Picturegmaps}" frameborder="0" allowfullscreen=""></iframe>
			</div>
		</div>
		{{/if}}
		{{if covertype == "Gallery"}}
		<div class="history-layers">
		{{each(i,Layer) Layers}}
			<div class="hty-layer-itme">
			<img src="${Layer.Picture}" title="${Layer.Title}" alt="${Layer.Title}" />
			{{if Layer.Title}}
			<div class="layer-title">${Layer.Title}</div>
			{{/if}}
			</div>
		{{/each}}	
		
		</div>
		{{/if}}
		
		{{if Title}}
		<h3 class="history-title">${Title}</h3>
		{{/if}}
		{{if ContentHtml}}
		<div class="history-cont">{{html ContentHtml}}</div>
		{{/if}}
		<div class="history-info"><span class="time">${Time}</span> 
		
		{{if MoreLink}}
		<a href="${MoreLink}" class="hty-more" 
		
		#if(${xf.ViewXmlSetting("newwindow","true")}=="true") target="_blank" #else target="_self" #end >${xf.ViewXmlSetting("itmemoretext","Read More")}</a>
		{{/if}}
		
		
		
		
		
		</div>
		<div class="dot"></div>
	</div>	
</div>
</script>
<style type="text/css">

#history${ModuleID} .history-year span, 
#history${ModuleID} .history-more span{
	background-color:${xf.ViewXmlSetting("AccentColor","#3b9cf7")}
}


</style>
<script type="text/javascript">
jQuery(document).ready(function() {

$("#history${ModuleID}").history_ajax({
	id:${ModuleID},
	LoadDisplay:${xf.ViewXmlSetting("LoadDisplay",6)},
	dateformat:"${xf.ViewXmlSetting("dateformat","dd MMM, yyyy")}",
	disrightarrow:${xf.ViewXmlSetting("disrightarrow","true")},
	loadeddata:"${xf.ViewXmlSetting("loadeddata","On Click")}",
	ScrollMaxPage:${xf.ViewXmlSetting("ScrollMaxPage","3")}
})

});

</script> 
