/* Unoslider container */
.Theme_12_Smooth {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Smooth img{
  max-width: 100%;
}

.Theme_12_Smooth li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Smooth .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Smooth .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Smooth .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Smooth .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Smooth .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Smooth .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Smooth .unoslider_caption a
{
  text-decoration:underline;
  color:#fff;
}



/* Hand cursor over navigation elements */
.Theme_12_Smooth .unoslider_navigation {
  cursor: pointer;
}

/* container which contains navigation and indicator */
.Theme_12_Smooth .unoslider_navigation_container {
  background: #343434;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #292929));
  background: -webkit-linear-gradient(#404040, #292929);
  background: -moz-linear-gradient(#404040, #292929);
  background: -o-linear-gradient(#404040, #292929);
  background: -ms-linear-gradient(#404040, #292929);
  background: linear-gradient(#404040, #292929);
  border-top: 1px solid #4d4d4d;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
}

/* Tooltip panel */
.Theme_12_Smooth .unoslider_caption {
  position: absolute;
  bottom: 30px;
  left: 0px;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  color: #fff;
  padding:5px 10px;
  font-size: 12px;
  text-shadow: black 0 1px 0;
  background-color: #333333;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* play, pause, previous and next elements */
.Theme_12_Smooth .unoslider_pause, 
.Theme_12_Smooth .unoslider_play, 
.Theme_12_Smooth .unoslider_left, 
.Theme_12_Smooth .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("smooth.png") no-repeat;
}

/* play and pause elements */
.Theme_12_Smooth .unoslider_pause, 
.Theme_12_Smooth .unoslider_play {
  height: 27px;
  width: 23px;
  margin-top: -13.5px;
  margin-left: -11.5px;
  top: 50%;
  left: 50px;
}

/* previous and next elements */
.Theme_12_Smooth .unoslider_left, 
.Theme_12_Smooth .unoslider_right {
  width: 25px;
  height: 22px;
  margin-top: -11px;
  top: 50%;
}

/* previous */
.Theme_12_Smooth .unoslider_left {
  background-position: 0px 0px;
  left: 5px;
}

/* next */
.Theme_12_Smooth .unoslider_right {
  background-position: -29px 0px;
  right: 5px;
}

/* pause */
.Theme_12_Smooth .unoslider_pause {
  background-position: -31px -25px;
}

/* play */
.Theme_12_Smooth .unoslider_play {
  background-position: 0px -25px;
}

/* bullet indicator */
.Theme_12_Smooth .unoslider_indicator {
  position: absolute;
  right: 40px;
  bottom: 3px;
  text-align:right;
}
.Theme_12_Smooth .unoslider_indicator a {
  font-size:0px;
  line-height:0px;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  margin: 3px;
  width: 14px;
  height: 14px;
  background-color: black;
  background: url("smooth.png") no-repeat;
  background-position: 0 -53px;
}
.Theme_12_Smooth .unoslider_indicator a {
  *display: inline;
}
.Theme_12_Smooth .unoslider_indicator a.unoslider_indicator_active {
  background-position: -19px -53px;
}
