.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.por-history img {
	max-width:100%;
}


.por-history {
	position:relative;
}
.por-history:before {
	content:"";
	position:absolute;
	left:50%;
	height:100%;
	border-left:1px dashed #e9e8e8;
}
.por-history:after {
	content:"";
	clear:both;
	display:block;
	overflow:hidden;
}
.por-history .history-item{
	width:50%;
	float:left;
}
.por-history .history-box{
	list-style: none;
	position: relative;
	padding: 12px;
	margin-bottom: 35px;
	background-color: #fafafa;
	border: 1px solid #e9e8e8;
	margin:0 0px 30px 30px;
}
@media only screen and (min-width: 768px) {
	.por-history .history-item.dr-left .history-box{
		margin:0 30px 30px 0;
	}
}
.por-history .history-item{
	float:left;
    clear: left;
}
.por-history .history-item.dr-right{
	float:right;
    clear: right;
}
.por-history .history-item .history-box:after{
	content: "";
	width: 10px;
	height: 10px;
	border-right: 1px solid #e9e8e8;
	border-bottom: 1px solid #e9e8e8;
	background-color: #fafafa;
	position: absolute;
	top: 40px;
	left: auto;
	right: 100%;
	margin: 0px -5px 0 0;
	transform: rotate(135deg);
	-ms-transform: rotate(135deg); /* IE 9 */
	-moz-transform: rotate(135deg); /* Firefox */
	-webkit-transform: rotate(135deg); /* Safari and Chrome */
	-o-transform: rotate(135deg); /* Opera */
}
@media only screen and (min-width: 768px) {
	.por-history .history-item.dr-left .history-box:after {
		top: 15px;
		right:auto;
		left: 100%;
		margin: 0px 0 0 -5px;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg); /* IE 9 */
		-moz-transform: rotate(-45deg); /* Firefox */
		-webkit-transform: rotate(-45deg); /* Safari and Chrome */
		-o-transform: rotate(-45deg); /* Opera */	
	}
}
.por-history .history-item .history-box:before{
	content:"";
	position:absolute;
	width:35px;
	height:0;
	border-bottom:1px solid #e9e8e8;
	top:45px;
	left:auto;
	right:100%;
}
@media only screen and (min-width: 768px) {
	.por-history .history-item.dr-left .history-box:before{
		top:20px;
		left:100%;
		right:auto;
	}
}

.por-history .history-item .dot {
	position:absolute;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	left:auto;
	top:30px;
	right:100%;
	margin:0 16px 0 0;
}
@media only screen and (min-width: 768px) {
	.por-history .history-item.dr-left .dot {
		left:100%;
		right:auto;
		top:5px;
		margin:0 0 0 16px;
	}
}
.por-history .history-item .dot:after{
	content:"";
	width:6px;
	height:6px;
	background-color: #fafafa;
	border: 3px solid #e9e8e8;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	display:inline-block;
	vertical-align:middle;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.por-history .history-item:hover .dot:after{
	width:9px;
	height:9px;
	background-color: #eeeded;
	border: 4px solid #d4d4d4;
}


.por-history .history-year,
.por-history .history-more{
	clear:both;
	display:block;
	overflow:hidden;
	text-align:center;
	position:relative;
	z-index:2;
	margin-bottom:40px;
}
.por-history .history-year span,
.por-history .history-more span{
	display: inline-block;
	font-weight: bold;
	padding: 10px 20px;
	background: #069;
	cursor: pointer;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}
.por-history .history-year span:hover,
.por-history .history-more span:hover{
	background-color:#333!important;
}


@media only screen and (max-width: 767px) {
	.por-history .history-item{
		float:none!important;
		width:auto;
	}	
	.por-history:before{
		left:0;
	}
}

@keyframes rotatelogin {
	0% {
		transform:rotate(0deg)
	}
	100%{
		transform:rotate(360deg)
	}
	
}
@-webkit-keyframes rotatelogin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(359deg)
	}
}

.por-history .history-more span .fa{
	width:20px;
	height:20px;
	display:none;
	vertical-align:middle;
	text-align:center;
	line-height:20px;
	font-size:13px;
	vertical-align:middle;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: rotatelogin;
	animation-name: rotatelogin;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	position:relative;
	letter-spacing:0;
	vertical-align:middle;
	margin-right:4px;
}


.por-history.ic-loading .history-more span .fa{
	display:inline-block;
}
.por-history .history-title {
	padding:10px 0;
	margin:0; 
}
.por-history .history-cont{
	padding:0px 0 10px;
}
.por-history .hty-more {
	float:right;
}
.por-history .nav-right {
	clear:both;
	display:block;
	direction:rtl;
}
.por-history .history-nav {
	position:fixed;
	top:50%;
	z-index:3;
}

.por-history .history-prev,
.por-history .history-next{
	border:16px solid transparent;
	cursor:pointer;
	margin:4px 0;
	visibility:hidden;
	opacity:0;
	filter:alpha(opacity=0);
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.por-history .history-prev{
	border-bottom-color:#000;
	margin-top:-32px;
}
.por-history .history-next{
	border-top-color:#000;
	margin-bottom:-32px;
}
.por-history:hover .history-prev,
.por-history:hover .history-next{
	opacity:0.3;
	filter:alpha(opacity=30);
	visibility:visible;
}
.por-history .history-prev:hover,
.por-history .history-next:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
}
.por-history:hover .history-prev.not,
.por-history:hover .history-prev.not:hover,
.por-history:hover .history-next.not,
.por-history:hover .history-next.not:hover{
	opacity:0.3;
	filter:alpha(opacity=30);
	cursor:auto;
}
.por-history .responsive{
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    z-index: 0;
}
.por-history .responsive.ratio1{
    padding-bottom: 56.25%;
}
.por-history .responsive.ratio2{
    padding-bottom: 75%;
}
.por-history .responsive.ratio3{
    padding-bottom: 50%;
}
.por-history .responsive.ratio4{
    padding-bottom: 100%;
}


.por-history .responsive iframe,
.por-history .responsive object,
.por-history .responsive embed,
.por-history .responsive video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index:1;
}
.por-history .history-layers{
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);

}

.por-history .hty-layer-itme{
	position:relative;
}
.por-history .layer-title{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	padding:8px;
	color:#FFF;
	background-color:rgba(0,0,0,0.3);
}
.por-history .slick-prev,
.por-history .slick-next{
	position:absolute;
	top:50%;
	left:0;
	background:rgba(0,0,0,0.5);
	border:none;
	color:#FFF;
	outline:none!important;
	width:30px;
	height:50px;
	text-align:center;
	font-size:20px;
	margin-top:-25px;
	opacity:0;
	visibility:hidden;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.por-history .slick-next{
	left:auto;
	right:0;
}
.por-history .history-box:hover .slick-prev,
.por-history .history-box:hover .slick-next{
	opacity:1;
	visibility:visible;
}

@keyframes itematn {
	0% {
		opacity:0;
	}
	100%{
		opacity:1;
	}
	
}
@-webkit-keyframes itematn {
	0% {
		opacity:0;
	}
	100%{
		opacity:1;
	}
}


@keyframes itemLeft2 {
	0% {
		transform:translate(-50px,50px) scale(1.1); 
		opacity:0;
	}
	70%{
		opacity:0.5;
	}
	100%{
		transform:translate(0,0) scale(1);
		opacity:1;
	}
	
}
@-webkit-keyframes itemLeft2 {
	0% {
		-webkit-transform:translate(-50px,50px) scale(1.1);
		opacity:0;
	}
	70%{
		opacity:0.5;
	}
	100%{
		-webkit-transform:translate(0,0)  scale(1);
		opacity:1;
	}
}
@keyframes itemright2 {
	0% {
		transform:translate(50px,50px)  scale(1.1);
		opacity:0;
	}
	70%{
		opacity:0.5;
	}
	100%{
		transform:translate(0,0)  scale(1);
		opacity:1;
	}
	
}
@-webkit-keyframes itemright2 {
	0% {
		-webkit-transform:translate(50px,50px) scale(1.1);
		opacity:0;
	}
	70%{
		opacity:0.5;
	}
	100%{
		-webkit-transform:translate(0,0)  scale(1);
		opacity:1;
	}
}
@keyframes itematn3 {
	0% {
		transform:translate(0,30px);
		opacity:0;
	}
	100%{
		transform:translate(0,0);
		opacity:1;
	}
	
}
@-webkit-keyframes itematn3 {
	0% {
		-webkit-transform:translate(0,30px);
		opacity:0;
	}
	100%{
		-webkit-transform:translate(0,0);
		opacity:1;
	}
}
@keyframes itemLeft4 {
	0% {
		transform:translate(-30px,0);
		opacity:0;
	}
	100%{
		transform:translate(0,0);
		opacity:1;
	}
	
}
@-webkit-keyframes itemLeft4 {
	0% {
		-webkit-transform:translate(-30px,0);
		opacity:0;
	}
	100%{
		-webkit-transform:translate(0,0);
		opacity:1;
	}
}
@keyframes itemright4 {
	0% {
		transform:translate(30px,0);
		opacity:0;
	}
	100%{
		transform:translate(0,0);
		opacity:1;
	}
	
}
@-webkit-keyframes itemright4 {
	0% {
		-webkit-transform:translate(30px,0);
		opacity:0;
	}
	100%{
		-webkit-transform:translate(0,0);
		opacity:1;
	}
}


.por-history .history-item.dr-left,
.por-history .history-item.dr-right{
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out;
	visibility:hidden;
}
.por-history .history-item.none.dr-left,
.por-history .history-item.none.dr-right{
	visibility:visible;
}

.por-history .history-item.animation01.active.dr-left,
.por-history .history-item.animation01.active.dr-right{
	-webkit-animation-name: itematn;
	animation-name: itematn;
	visibility:visible;
}
.por-history .history-item.animation02.active.dr-left{
	-webkit-animation-name: itemLeft2;
	animation-name: itemLeft2;
	visibility:visible;
}
.por-history .history-item.animation02.active.dr-right{
	-webkit-animation-name: itemright2;
	animation-name: itemright2;
	visibility:visible;
}
.por-history .history-item.animation03.active.dr-left,
.por-history .history-item.animation03.active.dr-right{
	-webkit-animation-name: itematn3;
	animation-name: itematn3;
	visibility:visible;
}
.por-history .history-item.animation04.active.dr-left{
	-webkit-animation-name: itemLeft4;
	animation-name: itemLeft4;
	visibility:visible;
}
.por-history .history-item.animation04.active.dr-right{
	-webkit-animation-name: itemright4;
	animation-name: itemright4;
	visibility:visible;
}

@media only screen and (max-width: 767px) {

.por-history .history-item.dr-left,
.por-history .history-item.dr-right{
	-webkit-animation-name:none!important;
	animation-name:none!important;
	visibility:visible!important;
}

}


