﻿<div class="$EffectThemeName">
<ul class="archive_list">
 #if($DataList.Count > 0) 
    #foreach($DataItem in $DataList)
     <li  class="${xf.ViewArchiveClass($DataItem,"Archive_Current")}"> 
        #if(${xf.ViewEffectSetting("displayrss",true)})<a target="_blank" href="${xf.GoRssUrl("","",0,0,"",${xf.ViewArchiveString($DataItem)})}" class="rss">RSS</a>#end
        <a href='${xf.GoUrl($DataItem)}' title="${xf.ViewMonth($DataItem)} $DataItem.Year">${xf.ViewMonth($DataItem)} $DataItem.Year ($DataItem.QuoteCount)</a>

     </li>
    #end
 #end
</ul>
</div>


