﻿<div class="$EffectThemeName">
    <select id="select_category_${ModuleID}" class="category_list">
    
    <option value="None" disabled="disabled" selected="selected">== Select Category ==</option>
     #if($DataList.Count > 0) 
        #foreach($DataItem in $DataList)
             <option value="${xf.GoUrl($DataItem)}"> ${xf.ViewCategorieSymbol($DataList,$DataItem)} $DataItem.Name</option>
        #end
     #end
    </select>
</div>

<script type="text/javascript">
    jQuery().ready(function ($) {
        $("#select_category_${ModuleID}").change(function () {
			window.location.href = $(this).val();
        });
    });
</script>