﻿#if($DataList.Count > 0)
	<div class="$EffectThemeName">
	<ul class="author_list">
	#foreach($DataItem in $DataList)
		<li class="clearfix">
			<div class="thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ViewAuthorPic($DataItem)}" /></a></div>
			<div class="author_name"><a href="${xf.GoUrl($DataItem)}">$DataItem.CreateUserName </a> ($DataItem.Count)
               #if(${xf.ViewEffectSetting("displayrss",true)}) <a target="_blank" href="${xf.GoRssUrl("","",0,$DataItem.CreateUser,"","")}" class="rss">RSS</a>#end
            </div>
			#set($NewArticleItem = $xf.ViewAuthorByNewArticle($DataItem.CreateUser))
            <h4 class="post_title"><a href="${xf.GoUrl($NewArticleItem)}">${xf.ViewContent("Title",$NewArticleItem)}</a></h4>
            <!--${xf.ViewSummary($NewArticleItem,300,"...")} -->
		</li>
	#end
	</ul>
	</div>
#end