﻿.blog-category,
.blog-category ul{
	list-style:none;
	margin:0;
	padding:0;
}
.blog-category > li,
.blog-category > li > ul > li{
	background-color:#fcfcfc;
	position:relative;
}
.blog-category li {list-style-type: none;}

.blog-category > li > a,
.blog-category > li > ul > li > a{
	padding:10px 12px;
	color:#444444;
	display:block;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #f5f5f5;
	line-height: 1.6;
	font-size:13px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
} 
.blog-category > li > a {
	text-transform: uppercase;
	font-size:15px;
}

.blog-category  a:hover {
	text-decoration:none;
}
.blog-category > li > .arrow{
	content:"";
	width:22px;
	height:22px;
	line-height:18px;
	text-align:center;
	border:2px solid #666666;
	position:absolute;
	top:12px;
	right:11px;
	display:inline-block;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor:pointer;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
} 
.blog-category > li > .arrow:before{
	content:"";
	margin-top:-2px;
	border:5px solid transparent;
	border-bottom-width:0px;
	border-top-color:#666666;
	display:inline-block;
	vertical-align:middle;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.blog-category > li > .arrow:after{
	content:"";
	position:absolute;
	top:-12px;
	left:-12px;
	bottom:-12px;
	right:-12px;
}
.blog-category > li.active > a{
	background-color:#20a3f0;
	color:#FFF!important;
}
.blog-category > li.active > .arrow{
	border-color:#FFF!important;
}
.blog-category > li.active > .arrow:before{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	border-top-color:#FFF!important;
}
.blog-category ul li > .arrow{
	content:"";
	width:45px;
	height:45px;
	line-height:18px;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
	display:inline-block;
	cursor:pointer;
} 
.blog-category ul li > .arrow:before{
	content:"";
	border-bottom:2px solid #999999;
	display:inline-block;
	vertical-align:middle;
	width:10px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-1px 0 0 -5px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
} 

.blog-category ul li > .arrow:after{
	content:"";
	border-left:2px solid #999999;
	display:inline-block;
	vertical-align:middle;	
	height:10px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-5px 0 0 -1px;
	visibility:visible;
	opacity:1;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
} 
.blog-category ul li.active > .arrow:after{
	visibility:hidden;
	opacity:0;
}
.blog-category ul li.active > a{
	color:#20a3f0;
	background-color:#f5f5f5;
}
.blog-category ul ul li a{
	padding:10px 12px;
	color:#999999;
	display:block;
	line-height: 1.6;
	font-size:13px;
}
.blog-category ul li a:hover{
	color:#20a3f0;
}
.blog-category ul {
	display:none;
}
.blog-category .current > ul{
	display:block;
}
