﻿
<div class="popup-${ModuleID} popup popup-container popup-block popup-color-${xf.ViewXmlSetting("Color","dark")} popup-container-${xf.ViewXmlSetting("Position","bottom")}" style="display:none;">
  <div class="popup-markup clearfix">
    <div class="popup-info">
   
    <div class="popup-body">${xf.ViewXmlSetting("NotificationText","<b>We use cookies to give you the best online experience.</b> By agreeing you accept the use of cookies in accordance with our cookie policy.")} </div>
    </div>
    <div class="popup-buttons"> 
        <a href="javascript:;" id="button_accept" class="popup-button popup-button_1">${xf.ViewXmlSetting("AcceptButtonText","ACCEPT COOKIES")}</a> 

     
      <a href="javascript:;" class="popup-closebutton"></a>
    </div>
    <div class="clearfix"></div>
    </div>
<style type="text/css"> 
	.popup-${ModuleID}.popup .popup-button{
		background-color:${xf.ViewXmlSetting("ButtonColor","#1fd166")};
	}
	.popup-${ModuleID}.popup .popup-button:hover{
		background-color:${xf.ViewXmlSetting("ButtonHoverColor","#1bac55")};
	}
</style>
</div>


 


<script type="text/javascript">
    $(".popup-${ModuleID}").appendTo($("body"));
	
 
 

    $(document).ready(function () {
       
        if (jQuery.cookie('gdpr-enable-${ModuleID}') != '1') {
            $(".popup-${ModuleID}").show();
        }


    $(".popup-${ModuleID} .popup-closebutton").on("click", function () {
        $(this).parents(".popup").slideToggle(function () {
            $(this).remove();
        });
    });

    $(".popup-${ModuleID} #button_accept").on("click", function () {
        jQuery.cookie('gdpr-enable-${ModuleID}', '1', { expires: $xf.ViewXmlSetting("CookieExpires", 100) , path: '/' });
        $(this).parents(".popup").slideToggle(function () {
            $(this).remove();
        });
    });
});

	
</script>