﻿<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Accordion Item</a></li>
    <li><a href="#">Accordion Options</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">


        <div class="form-group">
            <div class="control-cont">
                <div class="dynamic-list">
                    <div class="dynamic-item">
                        <div class="dynamic-title"><span class="name">ITEM 01</span>
                            <div class="delete">&#10005;</div>
                        </div>
                        <div class="dynamic-content">
                            <div class="form-group">
                                <label class="control-label">Title:</label>
                                <div class="control-cont">
                                    <input name="title" type="text" class="dynamicOptions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description:</label>
                                <div class="control-cont">
                                    <textarea rows="5" name="description" class="dynamicOptions"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="dynamic-footer">
                        <div class="dynamic-add">+</div>
                        <input name="items" type="text" class="dnnOptions json" value="${ $data.items && JSON.stringify(items)}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="form-group">
            <label class="control-label">Accordion Style:</label>
            <div class="control-cont">
                <select class="form-control dnnOptions" name="style" data-value="${style}">
                    <option value="dg-accordion01">Accordion 01</option>
                    <option value="dg-accordion02">Accordion 02</option>
                    <option value="dg-accordion03">Accordion 03</option>
                    <option value="dg-accordion04">Accordion 04</option>
                    <option value="dg-accordion05">Accordion 05</option>
                    <option value="dg-accordion06">Accordion 06</option>
                    <option value="dg-accordion07">Accordion 07</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Accordion Size:</label>
            <div class="control-cont">
                <select class="form-control dnnOptions" name="size" data-value="${size}">
                    <option value="large">Large</option>
                    <option value="medium">Medium</option>
                    <option value="small">Small</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Fade:</label>
            <div class="control-cont">
                <input name="accfade" ${accfade} type="checkbox" class="dnnOptions" data-default="checked" />
            </div>
        </div>
    
        <div class="form-group">
            <label class="control-label">Open:</label>
            <div class="control-cont">
                <input name="accopen" ${accopen} type="checkbox" class="dnnOptions" data-default="checked" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Interval:</label>
            <div class="control-cont">
                <input name="interval" type="number" class="dnnOptions" value="${interval}"  data-default="400" />
            </div>
        </div>
               
            
    </div>


</div>


<!--build HTML-->
<div class="buildHTML">
    <div class="dg-accordion panel-group accordion-${size} ${style}" data-fade="${$data.accfade?true:false}" data-open="${$data.accfade?true:false}" data-index="1" data-interval="${interval}">
        {{if $data.items}}
        {{each(prop, val) $data.items }}
        <div class="accordion-item panel panel-default">
            <div class="accordion-header panel-heading">
                <h4>
                    <a class="collapsed" href="javascript://">${val.title}
                        <span class="arrow"></span>
                    </a>
                </h4>
            </div>
            <div class="accordion-content panel-collapse collapse">
                <div class="panel-body">
                    <p>${val.description}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}



    </div>
    <script class="edit-mode-js" id="js-{id}">
        moduleEditModeJs("Accordions", "{id}")
    </script>
</div>