﻿<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">General</a></li>
    <li><a href="#">Background Settings</a></li>
    <li><a href="#">Responsive Options</a></li>
    <li><a href="#">Custom CSS</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">

        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">
                <input name="test" type="text" class="dnnOptions" value="${test}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <input name="test2" type="text" class="dnnOptions json" value="${ $data.test2 && JSON.stringify(test2)}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">
                <input name="testxxxx" type="checkbox" class="dnnOptions" ${testxxxx} />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">
                <select class="form-control dnnOptions" name="test3" data-value="${test3}">
                    <option value="">Theme Options</option>
                    <option value="custom" selected="selected">Custom</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <input name="test4" type="number" class="dnnOptions" value="${test4}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <input name="test5" type="text" class="dnnOptions sample-selector" value="${test5}" />
                <i></i>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <div id="Ctl_ContainerLayout" class="radio-img-list">
                    <label class="radio-inline">
                        <input type="radio" name="Layout" value="Boxed" class="dnnOptions">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="Layout" value="Wide" class="dnnOptions">
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <div class="slideform singleImage">
                    <div class="img"></div>
                    <div class="filebuttom">
                        <button class="fileImage"></button>
                    </div>
                    <input name="single" type="hidden" class="dnnOptions" value="${single}" />
                    <div class="loading">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Full height row:</label>
            <div class="control-cont">

                <div class="slideform groupImage">
                    <div class="img"></div>
                    <div class="filebuttom"><button class="fileImage"></button></div>
                    <input name="group" type="hidden" class="dnnOptions json" value="${$data.group && JSON.stringify(group)}" />
                    <div class="loading">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>



            </div>
        </div>

        <div class="form-group">
            <label class="control-label">循环列表项:</label>
            <div class="control-cont">
                <div class="dynamic-list">
                    <div class="dynamic-item">
                        <div class="dynamic-title"><span class="name">ITEM 01</span> <div class="delete">&#10005;</div></div>
                        <div class="dynamic-content">
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">
                                    <input name="dynamictest" type="text" class="dynamicOptions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">
                                    <input name="dynamictestxxxx" type="checkbox" class="dynamicOptions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">
                                    <select class="form-control dynamicOptions" name="dynamictest3">
                                        <option value="">Theme Options</option>
                                        <option value="custom" selected="selected">Custom</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">

                                    <input name="dynamictest4" type="number" class="dynamicOptions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">

                                    <input name="dynamictest5" type="text" class="dynamicOptions sample-selector" />
                                    <i></i>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">

                                    <div id="Ctl_ContainerLayout" class="radio-img-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="dynamicLayout" value="Boxed" class="dynamicOptions">
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="dynamicLayout" value="Wide" class="dynamicOptions">
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">

                                    <div class="slideform singleImage">
                                        <div class="img"></div>
                                        <div class="filebuttom">
                                            <button class="fileImage"></button>
                                        </div>
                                        <input name="single" type="hidden" class="dynamicOptions" />
                                        <div class="loading">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full height row:</label>
                                <div class="control-cont">
                                    <div class="slideform groupImage">
                                        <div class="img"></div>
                                        <div class="filebuttom"><button class="fileImage"></button></div>
                                        <input name="group" type="hidden" class="dynamicOptions json" />
                                        <div class="loading">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dynamic-footer">
                        <div class="dynamic-add">+</div>
                        <input name="dynamic" type="text" class="dnnOptions json" value="${ $data.dynamic && JSON.stringify(dynamic)}" />
                    </div>
                </div>


            </div>
        </div>



    </div>
    <div class="tab-pane">
        2
    </div>
    <div class="tab-pane">
        3
    </div>
    <div class="tab-pane">
        4
    </div>
</div>












<!--build HTML-->
<div class="aaa">
    ${$data && JSON.stringify($data)}


</div>