.verticalScroll{
	position:relative;
}
.verticalScroll .box-content{
	overflow:hidden;
	height:1px;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	position:relative;
}

.verticalScroll .box-content .main{
	position:relative;
	margin:0;
	padding:0;
}
.verticalScroll .box-content li.item{
	display:block;
	overflow:hidden;
}
.verticalScroll .box-content .active {
	background-color:#6C3
}
.verticalScroll .navigation {
	position:absolute;
	top:-30px;
	right:0px;	
}
.verticalScroll .navigation a{
	color:#FFF;
	padding:8px 8px;
	background-color:#06F;
	margin-left:3px;
	text-decoration:none;
	display:inline-block;
}
.verticalScroll .navigation a.prev,
.verticalScroll .navigation a.next {
	font-size:0;
}
.verticalScroll .navigation a.prev:active,
.verticalScroll .navigation a.next:active {
	opacity:0.9
}

.verticalScroll .navigation a.prev:before,
.verticalScroll .navigation a.next:before{
	font-size:0;
	content:"";
	width:7px;
	height:7px;
	display:block;
	border-left:1px solid #FFF;
	border-bottom:1px solid #FFF;
	background:none;
	margin:0 0 -4px;
	transform:rotate(45deg);
	-ms-transform:rotate(135deg); /* IE 9 */
	-moz-transform:rotate(135deg); /* Firefox */
	-webkit-transform:rotate(135deg); /* Safari and Chrome */
	-o-transform:rotate(135deg); /* Opera */
}
.verticalScroll .navigation a.next:before{
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	margin:-4px 0 0;
}
.verticalScroll .paginations {
}
.verticalScroll .paginations a{
	width:10px;
	height:10px;
	overflow:hidden;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	display:inline-block;
	border:1px solid #CCC;
	text-indent:-100px;
	margin:3px;
}
.verticalScroll .paginations a.active{
	background-color:#CCC;
}



.XBD_Effect_12_Default ul{
	margin:0;
	padding:0;
	list-style:0;
}
.XBD_Effect_12_Default li{
	margin:0 0 18px;
	padding:0;
	list-style:none;
	clear:both;
}
.XBD_Effect_12_Default li .date {
	background-color:#e3e3e3;
	padding:15px 10px 10px ;
	text-align:center;
	position:relative;
}
.XBD_Effect_12_Default li .date:before{
	content:"";
	position:absolute;
	left:100%;
	border:6px solid transparent;
	border-left-color:#e3e3e3;
}

.XBD_Effect_12_Default li .date .year{
	display:block;
	font-size:13px;
	margin-bottom:3px;
}
.XBD_Effect_12_Default li .date .month{
	display:block;
	font-size:14px;
	margin-bottom:3px;
}
.XBD_Effect_12_Default li .date .day{
	display:block;
	font-size:30px;
	margin-bottom:6px;
}

.XBD_Effect_12_Default li .title {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
}
.XBD_Effect_12_Default li .info {
	margin:0;
	padding:0;
	list-style:none;
}
.XBD_Effect_12_Default li .info li{
	margin:0;
	padding:0;
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
.XBD_Effect_12_Default li .category a{
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
.XBD_Effect_12_Default li .thumbnail {
	border:1px solid #e3e3e3;
	padding:2px;
	text-align:center;
}
.XBD_Effect_12_Default li .thumbnail img{
	max-width:100%;
}
.XBD_Effect_12_Default li .content {
	margin-bottom:8px;
}

.XBD_Effect_12_Default li .useravatar {
	overflow:hidden;
	border:1px solid #e3e3e3;
	padding:2px;
	text-align:center;
}
.XBD_Effect_12_Default li .useravatar img{
	max-width:100%;
}

.XBD_Effect_12_Default .leftView {
	float:left;
	padding-right:10px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	margin:2px 0 8px;
}
.XBD_Effect_12_Default .rightView {
	margin:0 0 8px;
	overflow:hidden;
	width:auto;
}

/*PagingTable*/
.XBD_Effect_12_Default .xblog_page{
	margin-bottom:5px;
	white-space:normal;
}
.XBD_Effect_12_Default .xblog_page .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .XBD_Effect_12_Default .xblog_page .button{
	display:inline;
}
* html .XBD_Effect_12_Default .xblog_page .button{
	display:inline;
}
.XBD_Effect_12_Default .xblog_page .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.XBD_Effect_12_Default .xblog_page .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .XBD_Effect_12_Default .xblog_page .disabled{
	display:inline;
}
* html .XBD_Effect_12_Default .xblog_page .disabled{
	display:inline;
}


.XBD_Effect_12_Default .post_but{
	background:url(images/post_but.jpg) 0px 0px repeat-x #E0E0E0;
	line-height:13px;
	font-size:13px;
	color:#000!important;
	padding:6px 10px 7px 10px;
	border:1px solid #CFCFCF;
	text-decoration:none!important;
	border-radius:5px;
}



@media only screen and (max-width: 767px) {
	.XBD_Effect_12_Default > li .leftView{
		transform:scale(0.8);
		-webkit-transform:scale(0.8);
	}
}

