﻿.clear {
	clear: both;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 0;
}
.Skin_01_Calendar.calendar {
	position:relative;
}

.Skin_01_Calendar.calendar {
	padding-top:40px;
}
.Skin_01_Calendar .fc-toolbar .fc-center{
	position:absolute;
	bottom:100%;
	left:0;
	text-align:center;
	width:100%;
	height:40px;
	line-height:40px;

}
.Skin_01_Calendar .fc-toolbar .fc-center h2{
	display:block;
	text-align:center;
	float:none;
	line-height:40px;
	
}


/* basic scrollbar styling */
/* vertical scrollbar */

.mCustomScrollBox{
	overflow:hidden;
}
.mCSB_container{
	width:auto;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:0px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:auto;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; 
	-ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; 
	-ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; 
	-ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	filter:"alpha(opacity=75)"; 
	-ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
	filter:"alpha(opacity=85)"; 
	-ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
	filter:"alpha(opacity=90)"; 
	-ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}
/*light-2*/
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
/*dark-2*/
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-112px 0;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-112px -20px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-120px -40px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-120px -56px;
}
/*light-thick*/
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#fff; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-16px 0;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-16px -20px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-20px -40px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-20px -56px;
}
/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/*light-thin*/
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff; /* rgba fallback */
	background:rgba(0,0,0,0.1);
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
/*dark-thin*/
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}


.fc-event {
	cursor:pointer;
}
.fcp-tooltip {
	position: absolute;
	background-color: #FFF; 
	z-index: 100;
	display: none;
	margin:0px 10px;
}
.fcp-tooltip .fcp-main {
	width: 350px;
	padding:10px 0px;
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.2);               /* For Firefox3.6+ */
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.2);           /* For Chrome5+, Safari5+ */
	box-shadow:0px 0px 4px rgba(0,0,0,0.2);                    /* For Latest Opera */
}
.fcp-tooltip .fcp-main > div{
	padding:0px 20px;
}
.fcp-tooltip .mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background-color:transparent;
}
.fcp-tooltip .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color:#09C;
}
.fcp-tooltip .fc-close-tooltip {
	position: absolute;
	top:0px;
	left:auto;
	right:0px;
	cursor: pointer;
	width: 30px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	overflow:hidden;
	z-index:10;
}
.fcp-tooltip .fc-close-tooltip:before {
	font-family: FontAwesome;
	content: "\f00d";
	font-size:22px;
	color:#666;
	transition: 		color ease-in 200ms;
	-moz-transition: 	color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		color ease-in 200ms; /* Opera */
	-ms-transition: 	color ease-in 200ms; /* IE9? */
}
.fcp-tooltip .fc-close-tooltip:hover:before {
	color:#050;
}
.fcp-tooltip .fcp-main img {
	max-width: 100%;
}
.fcp_timeline .contenttext{
	margin-bottom:10px;
}
.fcp_timeline img {
	max-width: 100%;
}
.fcp-timeBox {
	padding:1px ;
	border:1px solid #ebebeb;
	color:#444444;
	margin-bottom: 20px; 
}
.fcp-time-container {
	background-color: #f9f9f9;
	padding: 14px;
}
.fcp-time-container .summary{
	margin-bottom:10px;
}
.fcp-time-container .fcp-extensions h3{
	font-size:16px;
	color:#333;
}
.fcp-time-container .fcp-extensions{
	margin-bottom:10px;
}
.fcp-line-header {
	text-align:center;
    font-size: 24px;
	padding:30px 0 40px;
	overflow:hidden;
	font-weight:normal;
}
.fcp-line-header span{
	position:relative;
	display:inline-block;
	padding:0px 30px;
}

.fcp-line-header span:before,
.fcp-line-header span:after {
	content:"";
	height:6px;
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	width:3000%;
	position:absolute;
	top:50%;
	margin-top:-3px;
	left:100%;
}
.fcp-line-header span:after {
	left:auto;
	right:100%;
}
.fcp-timeBox-title{
	font-size: 22px;
	font-weight:normal;
	margin-bottom:20px;
}
.fcp-timeBox .startdate,
.fcp-timeBox .enddate{
	width:50%;
	float:left;
	margin-bottom:5px;
}
.fcp-timeBox .Timebox{
	margin-bottom:20px;
}
.fcp-timeBox .TimeZone{
	font-size:11px;
	color:#777;
}
.fcp-timeBox .small-title{
	display:block;
	font-weight: bold;
	font-size: 16px;
	margin-bottom:3px;
}
.fcp-timeBox .Location,
.fcp-timeBox .Categorie,
.fcp-timeBox .Tag {
	margin-bottom:20px;
}
.fcp-timelinemore {
	width:120px;
	display:block;
	border:1px solid #ebebeb;
	padding:12px 00px;
	text-align:center;
	cursor:pointer;
	background-color:#f9f9f9;
	margin:auto;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#555;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.fcp-timelinemore span:after{
	content:"";
	width:6px;
	height:6px;
	border-bottom:1px solid #555;
	border-right:1px solid #555;
	display:inline-block;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	margin:0px 0 3px 7px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.fcp-timelinemore:hover  {
	background-color:#555;
	border-color:#555;
	color:#FFF;
}
.fcp-timelinemore:hover span:after{
	border-color:#FFF;
}
@keyframes rotatelogin {
	0% {
		transform:rotate(0deg)
	}
	100%{
		transform:rotate(360deg)
	}
	
}
@-webkit-keyframes rotatelogin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(359deg)
	}
}
.fcp-timelinemore .fa {
	display:none; 
	margin-right:5px;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: rotatelogin;
	animation-name: rotatelogin;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}

.fcp_Gmap {
	position:relative;
	overflow:hidden;
}
.GmapBox {
	width: 100%;
	height: 400px;
	background-color: #F7F7F7;
}

.fcp-gmapinfo {
	position:absolute;
	top:10%;
	left:10%;
	width:350px;
	display:none;
	z-index:1000;
	max-width:80%;
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.1);               /* For Firefox3.6+ */
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);           /* For Chrome5+, Safari5+ */
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);                    /* For Latest Opera */
}
.fcp-gmapinfo .fcp-main {
	overflow:auto;	
	max-height:100%;
	position:relative;
	z-index:0;
	background-color:rgba(255,255,255,0.95);
}
.fcp-gmapinfo .mCustomScrollbar{
	padding:5px;
}

.fcp-gmapinfo .fcp-gmapup,
.fcp-gmapinfo .fcp-gmapdown,
.fcp-gmapinfo .fcp-gmapclose{
	position:absolute;
	top:10%;
	left:0px;
	font-family:FontAwesome;
	width:30px;
	height:30px;
	text-align:center;
	line-height:60px;
	color:#FFF;
	background-color:#005580;
	cursor:pointer;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	opacity:0;
	font-size:15px;
	transition: 		all ease-in 400ms;
	-webkit-transition:    all ease-in 400ms;
	text-indent:-1px;
	border:2px solid rgba(255,255,255,0.9);
	z-index:-11;
}
.fcp-gmapinfo .fcp-gmapup:before,
.fcp-gmapinfo .fcp-gmapdown:before,
.fcp-gmapinfo .fcp-gmapclose:before{
	content:"";
	width:60px;
	height:60px;
	position:absolute;
	left:-15px;
	top:-15px;
}
.fcp-gmapinfo:hover .fcp-gmapup{
	opacity:0.5;
	left:-40px;
}
.fcp-gmapinfo:hover .fcp-gmapdown{
	opacity:0.5;
	right:-40px;
}
.fcp-gmapinfo:hover .fcp-gmapclose{
	opacity:0.5;
	top:-40px;
}

.fcp-gmapinfo .fcp-gmapdown {
	left:auto;
	right:0px;
	text-indent:2px; 
}
.fcp-gmapinfo .fcp-gmapclose {
	left:50%;
	top:0px;
	margin-left:-15px;
	text-indent:2px;
	background-color:#C00;
}

.fcp-gmapinfo .fcp-gmapup:before,
.fcp-gmapinfo .fcp-gmapdown:before  {
	content:"\f053";
}
.fcp-gmapinfo .fcp-gmapdown:before {
	content:"\f054";
}
.fcp-gmapinfo .fcp-gmapclose:before {
	content:"\f00d";
}

.fcp-gmapinfo .fcp-gmapup:hover,
.fcp-gmapinfo .fcp-gmapdown:hover,
.fcp-gmapinfo .fcp-gmapclose:hover{
	opacity:1;
}
.fcp-gmapinfo .contenttext{
	padding-top:10px;
}
.fcp-gmapinfo img {
	max-width:100%!important;
}

.fcp-accordionBox {
	border: 1px solid #cdcdcd;
	border-bottom: none;
}
.fcp-accordionBox .not{
	border-bottom: 1px solid #cdcdcd;
}

.fcp-accordion {
	background-color: #fafafa;
	border-bottom: 1px solid #cdcdcd;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.fcp-accordion .fcp-title {
	margin:0 0 -1px -1px;
	border-left: 3px solid #F00;
	cursor: pointer;
	line-height:1.2;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.fcp-accordion .fcp-title > .clear {
	border-bottom: 1px solid #e5e5e5;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.fcp-accordion img {
	max-width: 100%;
}
.fcp-accordion .fcp-title .fcp-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.fcp-accordion .fcp-title .fcp-date span {
	display: block;
	font-size: 13px;
}
.fcp-accordion .fcp-title .fcp-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.fcp-accordion .fcp-title .fcp-date .endtime {
	float:right;
	font-size:13px;
	text-align:right;
	line-height:1;
	padding-right:20px;
}
.fcp-accordion .fcp-title .fcp-date .endtime:before{
	content:"-";
	padding-right:8px;
	font-size:10px;
}
.fcp-accordion .fcp-title .fcp-date .endtime span{
	font-size:10px;
	font-weight:normal;
}
.fcp-accordion .fcp-title-right {
	overflow: auto;
	padding: 10px;
}
.fcp-accordion .fcp-title-right h3 {
	margin: 2px 0 5px;
	color: #6B6B6B;
	font-size: 18px;
	line-height:1.2;
}
.fcp-accordion .fcp-title-right .fcp-info {
	margin: 0 0 5px;
	color: #262626;
	font-size: 11px;
	opacity: 0.7;
}
.fcp-accordion:hover {
	background-color: #f4f4f4;
}
.fcp-accordion:hover .fcp-title {
	border-left-width: 6px;
}
.fcp-accordion.today{
	background-color: #f4f4f4;
}
.fcp-accordion.today .fcp-title {
	border-left-width: 6px;
}


.fcp-accordion .fcp-title-right {
	padding-right:10px;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.fcp-accordion:hover .fcp-title-right {
	padding-right:4px;
}
.fcp-accordion:hover .fcp-title-right .fcp-info {
	opacity: 1;
}
.fcp-accordion .fcp-content {
	display: none;
	overflow: hidden;
	background-color: #eaeaea;
}
.fcp-accordion .PictureUrl{
	text-align:center;
}
.fcp-accordion .fcp-content .fcp-details,
.fcp-accordion .fcp-content .fcp-schedule {
	padding: 15px 15px 15px 65px;
	color:#585858;
}
.fcp-accordion .fcp-content .fcp-details > h5,
.fcp-accordion .fcp-content .fcp-schedule > h5,
.fcp-accordion .fcp-details-info li > h5 {
	font-size: 18px;
	color: #6B6B6B;
	position: relative;
}
.fcp-accordion .fcp-content .fcp-details > h5 span,
.fcp-accordion .fcp-content .fcp-schedule > h5 span,
.fcp-accordion .fcp-details-info li > h5 span {
	position: absolute;
	top: 0;
	left: -40px;
}
.fcp-accordion .fcp-details-info p{
	margin-bottom:5px;	
}
.fcp-accordion .fcp-details-info .TimeZone {
    font-size: 11px;
    color: #777;
}
.fcp-accordion .fcp-content .fcp-details-info {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	display:table;
	width:100%;
	margin-bottom:-1px;
}
.fcp-accordion .fcp-content .fcp-details-info + .fcp-details-info{
	border-top:none;
}
.fcp-accordion .fcp-content .fcp-details-info + .fcp-gmap{
	border-top: 1px solid #cdcdcd;
	margin-top:-1px;
}

.fcp-accordion .fcp-details-info ul{
	margin: 0;
	padding: 0;
	display:table-row
}
.fcp-accordion .fcp-details-info li{
	width:50%;
	display:table-cell;
	padding:15px 15px 15px 65px;
	border-right: 1px solid #cdcdcd;
}
.fcp-accordion .fcp-details-info li:last-child{
	border-right:none;
}

.fcp-accordion .fcp-content .fcp-gmap {
	width:100%;
	height:300px;
}
.fcp-accordion .fcp-content .fcp-gmap img{
	max-width:none;
}
.fcp-accordion .fcp-extensions {
    border-bottom: 1px solid #cdcdcd;
    padding: 15px ;
}

@media only screen and (max-width: 767px) {
	.fcp-accordion .fcp-title .fcp-date{
		min-width:63px;
	}
	.fcp-accordion .fcp-title .fcp-date .endtime{
		padding:0;
	}
	.fcp-accordion .fcp-details-info li{
		display:block;
		width:auto;
		padding:0 15px 0 55px;
		margin:15px 0;
		border:none;
	}
	.fcp-accordion .fcp-details-info li p{
		margin-bottom:0;
	}
	.fcp-accordion .fcp-info .sep{
		display:none;
	}
}
.fcp-accordionmore{
	border:1px solid #cdcdcd;
	border-top:none;
	background-color:#fafafa;
	text-align:center;
	padding:12px 20px;
	cursor:pointer;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.fcp-accordionmore:hover{
	background-color:#f4f4f4;
}
.fcp-accordionmore span:after{
	content:"";
	width:6px;
	height:6px;
	border-bottom:1px solid #555;
	border-right:1px solid #555;
	display:inline-block;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	margin:0px 0 3px 7px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.fcp-accordionmore span .fa{
	display:none;
	margin-right:5px;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: rotatelogin;
	animation-name: rotatelogin;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}


.fcp_timeline >.not,
.fcp_Gmap >.not,
.fcp-accordionBox >.not{
	text-align:center;
	padding:20px;
}
.fc-EventMobileMonth-button {
	display:none;
    border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
}
.fc-right .fc-button-group button:nth-child(2){
    border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
}

.fcp-MobileMonth .fcp-event-list {
	min-height:60px;
	padding-bottom:5px;
	border-bottom: 1px solid #ededed;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}
.fcp-MobileMonth .fcp-event-list:hover {
	background-color:#ededed;
	border-bottom: 1px solid #ededed;
}
.fcp-MobileMonth .fcp-event-list .fcp-event-date {
	padding:5px 4px;
	color:#75767d;
}
.fcp-MobileMonth .fcp-event-list .fcp-event-title {
	color:#FFF;
	padding:2px 4px;
	font-size:12px;
	margin-bottom:1px;
	cursor:pointer;
	background-color:#005580;
}
@media only screen and (max-width: 767px) {
	.fc-once .fc-view.fc-month-view.fc-basic-view{
		display:none;
	}
	.Skin_01_Calendar .fc-toolbar .fc-left:after{
		content:"";
		display:block;
		clear:both;
		width:100%;
	}
	.Skin_01_Default  .fc-toolbar .fc-right{
		float:none;
		margin-bottom:10px;
		display:block;
		overflow:hidden;
	}
	.Skin_01_Default  .fc-toolbar .fc-left{
		float:none;
		margin-bottom:10px;
		display:block;
		overflow:hidden;
	}
}

.fcp-tooltip .title{
	font-size:16px;
	font-weight:normal;
	padding:10px 0 ;
	margin:0;
	color:#005580
}
.fcp-tooltip .startdate span,
.fcp-tooltip .enddate span,
.fcp-tooltip .Location span,
.fcp-tooltip .Categorie span,
.fcp-tooltip .Tag span{
	display:block;
	font-weight:bold;
}
.fcp-tooltip .Timebox,
.fcp-tooltip .Location,
.fcp-tooltip .Categorie,
.fcp-tooltip .Tag,
.fcp-tooltip .summary,
.fcp-tooltip .contenttext{
	margin-bottom:10px;
}
.fcp-tooltip .startdate,
.fcp-tooltip .enddate{
	width:50%;
	float:left;
}
.fcp-tooltip .TimeZone{
	font-size:11px;
	color:#777;
}
.fcp-tooltip .fcp-extensions{
	margin-bottom:10px;
}

.fc-EventGmap-view.fc-view  {
	z-index:100;
}
.fcp-gmapinfo .title{
	font-size:16px;
	font-weight:normal;
	padding:0 0 10px;
	margin:0;
	color:#005580;
	position:static
}
.fcp-gmapinfo .startdate span,
.fcp-gmapinfo .enddate span,
.fcp-gmapinfo .Location span,
.fcp-gmapinfo .Categorie span,
.fcp-gmapinfo .Tag span{
}
.fcp-gmapinfo .Timebox,
.fcp-gmapinfo .Location,
.fcp-gmapinfo .Categorie,
.fcp-gmapinfo .Tag,
.fcp-gmapinfo .summary,
.fcp-gmapinfo .contenttext{
	margin-bottom:10px;
}
.fcp-gmapinfo .startdate,
.fcp-gmapinfo .enddate{
}
.fcp-gmapinfo .TimeZone{
	margin-bottom:10px;
	font-size:11px;
	color:#777;
}
.fcp-gmapinfo .TimeZone{
	font-size:11px;
	color:#777;
}

.fcp-gmapinfo .fcp-extensions{
	margin-bottom:10px;
}
.fcp-gmapinfo .dateTime {
    font-size: 15px;
    font-weight: bold;
    color: #777777;
}
.fcp-gmapinfo .GmapInfoBox {
	padding-bottom:10px;
}
.fcp-gmapinfo .mapAddress {
	text-align: center;
	font-size: 12px;
	background-color: #ebedee;
  	background-image: none;
    color: #000;
    text-shadow: none;
    margin-top: -1px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 8px 2px;
	text-transform: capitalize;
	margin-bottom:15px;s
}
.fcp-gmapinfo .GmapAddressInfo h4{
	text-align:center;
	padding:5px 10px 10px;
	margin:0;
}
.fcp_Gmap .gmap_full {
	position:absolute;
	top:0;
	left:50%;
	padding:1px 2px 4px;
	width:120px;
	margin-left:-60px;
	text-align:center;
	height:19px;
	background: #F3F3F3;
	display:block;
	border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	-webkit-border-radius:0 0 7px 7px;	   
	text-align:center;  
	font-size:14px;
	cursor:pointer;
	filter:alpha(opacity=0);	
	opacity:0;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.fcp_Gmap:hover .gmap_full {
	filter:alpha(opacity=100);	
	opacity:1;
}

.fcp_Gmap .gmap_full2 {
	border-radius:7px 7px 0 0;
	-moz-border-radius:7px 7px 0 0;
	-webkit-border-radius:7px 7px  0 0;
	top:auto;
	bottom:0;  
}
.fcp_Gmap .gmap_full2{
	display:none;
}
.fcp_Gmap.active .gmap_full2{
	display:block;
}

.fcp_Gmap.active {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.fcp_Gmap.active .GmapBox {
	width:100%;
	height:100%;
}

.fc-view-container {
	min-height:120px;
}

.fcp-extensions h3{
	font-size:16px;
	color:#333;
}
.Skin_01_Default .fcp-extensions p{
	margin-bottom:0;
}

.Skin_01_Default.calendar .nav_category {
	margin-bottom:10px;
}
.Skin_01_Default.calendar .page_meta {
	margin-bottom:10px;
	padding: 8px 10px;
	background: #F0F0F0;
}
.Skin_01_Default.calendar .page_meta a {
	float: right;
}
.Skin_01_Default.calendar .page_meta img {
	width:28px;
	vertical-align:middle;
	margin:-6px 2px;
}

.Skin_01_Default.calendar .author_info {
	margin-bottom:10px;
}
.Skin_01_Default.calendar .author_info .thum {
	float:left;
	margin-right:10px;
}
.Skin_01_Default.calendar .author_info .thum img {
	width:120px;
}

.Skin_01_Default.calendar.fc-loading:before {
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	width:74px;
	height:74px;
	margin:5px 0 0 -25px;
	background-color:#F00;
	z-index:100px;
	background:url(../../images/loading.gif) no-repeat center center #FFF;
	opacity:0.4;
}
.event_rss {
	text-align:right;
}
.Skin_01_Default .fc-title{
	color:#FFF;
}

.Skin_01_Default .fc-unthemed .fc-divider .fc-title, 
.Skin_01_Default  .fc-unthemed .fc-popover .fc-header .fc-title{
	color:#333;
}
/**/


.fcp-accordion .fcp-title{
	position:relative;
	
}
.fcp-accordion .fcp-title-right h3 {
	padding-right:50px;
}
.fcp-accordion .fcp-title-right .reg {
	position:absolute;
	top: 13px;
    right: 16px;
	text-transform:uppercase;
	color:#FFF;
	background-color:#3498db;
	padding:4px 7px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:12px;
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}
.fcp-accordion .fcp-title-right .reg:hover {
	text-decoration:none;
	background-color:#2078B3
}

.fcp-tooltip .mCSB_inside>.mCSB_container,
.fcp-main .mCSB_inside>.mCSB_container{
	margin-right: 0px;
}