
/* Revealers */

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1005;
	pointer-events: none;
	opacity: 0;
	overflow: visible!important;
}

.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
	top: 50%;
	left: 50%;
}

.revealer--top,
.revealer--bottom {
	left: 0;
}

.revealer--right,
.revealer--left {
	top: 50%;
	left: 50%;
}

.revealer--top {
	bottom: 100%;
}

.revealer--bottom {
	top: 100%;
}

.revealer__layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
}

/* Revealer effects */


/* One layer effect (effect-1) */

.anim--effect-1 .page:first-child {
	background: #605BD4;
}

.anim--effect-1 .page:nth-child(2) {
	background: #FF6EAE;
}

.anim--effect-1 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-1 1.5s cubic-bezier(0.2, 1, 0.3, 1) forwards;
	animation: anim-effect-1 1.5s cubic-bezier(0.2, 1, 0.3, 1) forwards;
}

@-webkit-keyframes anim-effect-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}


/* Two layer effect (effect-2) */

.anim--effect-2 .page:first-child {
	background: #9cdab1;
}

.anim--effect-2 .page:nth-child(2) {
	background: #F9C969;
}

.anim--effect-2 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-2-1 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
	animation: anim-effect-2-1 1.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.anim--effect-2 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-2-2;
	animation-name: anim-effect-2-2;
}

@-webkit-keyframes anim-effect-2-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	30%,
	70% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-2-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	30%,
	70% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-2-2 {
	0%,
	14.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	85.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-2-2 {
	0%,
	14.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}
	85.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}


/* Three layer effect (effect-3) */

.anim--effect-3 .page:nth-child(2) {
	background: #ECF3A3;
}

.anim--effect-3 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-3-2;
	animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-3-3;
	animation-name: anim-effect-3-3;
}

@-webkit-keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}


/* Forth effect */

.anim--effect-4 .page:first-child {
	background: #28282D;
}

.anim--effect-4 .page:nth-child(2) {
	background: #F15C5C;
}

.anim--effect-4 .page--animate-top .quote {
	-webkit-animation: moveQuoteTop 1.5s forwards;
	animation: moveQuoteTop 1.5s forwards;
}

@-webkit-keyframes moveQuoteTop {
	0%,
	65% {
		-webkit-transform: translate3d(0, -75px, 0);
		transform: translate3d(0, -75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteTop {
	0%,
	65% {
		-webkit-transform: translate3d(0, -75px, 0);
		transform: translate3d(0, -75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-bottom .quote {
	-webkit-animation: moveQuoteBottom 1.5s forwards;
	animation: moveQuoteBottom 1.5s forwards;
}

@-webkit-keyframes moveQuoteBottom {
	0%,
	65% {
		-webkit-transform: translate3d(0, 75px, 0);
		transform: translate3d(0, 75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteBottom {
	0%,
	65% {
		-webkit-transform: translate3d(0, 75px, 0);
		transform: translate3d(0, 75px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-left .quote {
	-webkit-animation: moveQuoteLeft 1.5s forwards;
	animation: moveQuoteLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-75px, 0, 0);
		transform: translate3d(-75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-75px, 0, 0);
		transform: translate3d(-75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-right .quote {
	-webkit-animation: moveQuoteRight 1.5s forwards;
	animation: moveQuoteRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteRight {
	0%,
	65% {
		-webkit-transform: translate3d(75px, 0, 0);
		transform: translate3d(75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteRight {
	0%,
	65% {
		-webkit-transform: translate3d(75px, 0, 0);
		transform: translate3d(75px, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornertopright .quote {
	-webkit-animation: moveQuoteCornerTopRight 1.5s forwards;
	animation: moveQuoteCornerTopRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerTopRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, -50px, 0);
		transform: translate3d(50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerTopRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, -50px, 0);
		transform: translate3d(50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornertopleft .quote {
	-webkit-animation: moveQuoteCornerTopLeft 1.5s forwards;
	animation: moveQuoteCornerTopLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerTopLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, -50px, 0);
		transform: translate3d(-50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerTopLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, -50px, 0);
		transform: translate3d(-50px, -50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornerbottomright .quote {
	-webkit-animation: moveQuoteCornerBottomRight 1.5s forwards;
	animation: moveQuoteCornerBottomRight 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerBottomRight {
	0%,
	65% {
		-webkit-transform: translate3d(50px, 50px, 0);
		transform: translate3d(50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .page--animate-cornerbottomleft .quote {
	-webkit-animation: moveQuoteCornerBottomLeft 1.5s forwards;
	animation: moveQuoteCornerBottomLeft 1.5s forwards;
}

@-webkit-keyframes moveQuoteCornerBottomLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, 50px, 0);
		transform: translate3d(-50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveQuoteCornerBottomLeft {
	0%,
	65% {
		-webkit-transform: translate3d(-50px, 50px, 0);
		transform: translate3d(-50px, 50px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.anim--effect-4 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-4-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-4-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-4-2;
	animation-name: anim-effect-4-2;
	-webkit-animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
	animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

.anim--effect-4 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-4-3;
	animation-name: anim-effect-4-3;
	-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
	animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
}

@-webkit-keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%,
	65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
		animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-4-3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	45%,
	55% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
		animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}



.overlay-panel-logo{
	position:fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	z-index: 1006;
	opacity: 0;
	visibility: hidden;
  }
  
  @-webkit-keyframes logo-right {
	0%,
	25% { 
	  opacity: 0;
	  margin-left: 25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-left: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-left: -25px;
	  visibility:hidden;
	}
  }
  
  @keyframes logo-right{
	0%,
	25% { 
	  opacity: 0;
	  margin-left: 25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-left: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-left: -25px;
	  visibility:hidden;
	}
  }

  @-webkit-keyframes logo-left {
	0%,
	25% { 
	  opacity: 0;
	  margin-left: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-left: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-left: 25px;
	  visibility:hidden;
	}
  }
  
  @keyframes logo-left{
	0%,
	25% { 
	  opacity: 0;
	  margin-left: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-left: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-left: 25px;
	  visibility:hidden;
	}
  }

  @-webkit-keyframes logo-top {
	0%,
	25% { 
	  opacity: 0;
	  margin-left: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-left: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-left: 25px;
	  visibility:hidden;
	}
  }
  
  @keyframes logo-top{
	0%,
	25% { 
	  opacity: 0;
	  margin-top: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-top: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-top: 25px;
	  visibility:hidden;
	}
  }


  @-webkit-keyframes logo-bottom {
	0%,
	25% { 
	  opacity: 0;
	  margin-top: 25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-top: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-top: -25px;
	  visibility:hidden;
	}
  }
  
  @keyframes logo-bottom{
	0%,
	25% { 
	  opacity: 0;
	  margin-top: 25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
	  margin-top: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
	  margin-top: -25px;
	  visibility:hidden;
	}
  }

.overlay-panel-logo.right.effect-1.active{
	-webkit-animation: logo-right 1s ease both ;
	animation:logo-right 1s ease both;
}
.overlay-panel-logo.left.effect-1.active{
	-webkit-animation: logo-left 1s ease both ;
	animation:logo-left 1s ease both;
}
.overlay-panel-logo.top.effect-1.active{
	-webkit-animation: logo-top 1s ease both ;
	animation:logo-top 1s ease both;
}
.overlay-panel-logo.bottom.effect-1.active{
	-webkit-animation: logo-bottom 1s ease both ;
	animation:logo-bottom 1s ease both;
}

.overlay-panel-logo.right.effect-4.active{
	-webkit-animation: logo-right 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-right 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.left.effect-4.active{
	-webkit-animation: logo-left 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-left 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.top.effect-4.active{
	-webkit-animation: logo-top 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-top 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.bottom.effect-4.active{
	-webkit-animation: logo-bottom 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-bottom 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}



.overlay-panel-logo.right.effect-2.active,
.overlay-panel-logo.right.effect-3.active{
	-webkit-animation: logo-right 1.2s ease both ;
	animation:logo-right 1.2s ease both;
}
.overlay-panel-logo.left.effect-2.active,
.overlay-panel-logo.left.effect-3.active{
	-webkit-animation: logo-left 1.2s ease both ;
	animation:logo-left 1.2s ease both;
}
.overlay-panel-logo.top.effect-2.active,
.overlay-panel-logo.top.effect-3.active,
.overlay-panel-logo.top.effect-4.active{
	-webkit-animation: logo-top 1.2s ease both ;
	animation:logo-top 1.2s ease both;
}
.overlay-panel-logo.bottom.effect-2.active,
.overlay-panel-logo.bottom.effect-3.active{
	-webkit-animation: logo-bottom 1.2s ease both ;
	animation:logo-bottom 1.2s ease both;
}



@-webkit-keyframes logo-cornertopleft {
	0%,
	25% { 
	  opacity: 0;
		margin-left: -25px;
		margin-top: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
		margin-left: 0;
		margin-top: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
		margin-left: 25px;
		margin-top: 25px;
	  visibility:hidden;
	}
  }
  
  @keyframes logo-cornertopleft{
	0%,
	25% { 
	  opacity: 0;
		margin-left: -25px;
		margin-top: -25px;
	  visibility:visible;
	}
	60% ,
	90% {
	  opacity: 1;
		margin-left: 0;
		margin-top: 0;
	  visibility:visible;
	}
	100% {
	  opacity: 0;
		margin-left: 25px;
		margin-top: 25px;
	  visibility:hidden;
	}
  }

  @-webkit-keyframes logo-cornertopright {
		0%,
		25% { 
			opacity: 0;
			margin-left: 25px;
			margin-top: -25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: -25px;
			margin-top: 25px;
			visibility:hidden;
		}
  }
  
  @keyframes logo-cornertopright{
		0%,
		25% { 
			opacity: 0;
			margin-left: 25px;
			margin-top: -25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: -25px;
			margin-top: 25px;
			visibility:hidden;
		}
  }

  @-webkit-keyframes logo-cornerbottomleft {
		0%,
		25% { 
			opacity: 0;
			margin-left: -25px;
			margin-top: 25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: 25px;
			margin-top: -25px;
			visibility:hidden;
		}
  }
  
  @keyframes logo-cornerbottomleft{
		0%,
		25% { 
			opacity: 0;
			margin-left: -25px;
			margin-top: 25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: 25px;
			margin-top: -25px;
			visibility:hidden;
		}
  }


  @-webkit-keyframes logo-cornerbottomright {
		0%,
		25% { 
			opacity: 0;
			margin-left: -25px;
			margin-top: 25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: 25px;
			margin-top: -25px;
			visibility:hidden;
		}
  }
  
  @keyframes logo-cornerbottomright{
		0%,
		25% { 
			opacity: 0;
			margin-left: 25px;
			margin-top: 25px;
			visibility:visible;
		}
		60% ,
		90% {
			opacity: 1;
			margin-left: 0;
			margin-top: 0;
			visibility:visible;
		}
		100% {
			opacity: 0;
			margin-left: -25px;
			margin-top: -25px;
			visibility:hidden;
		}
  }


.overlay-panel-logo.cornertopleft.effect-1.active{
	-webkit-animation: logo-cornertopleft 1s ease both ;
	animation:logo-cornertopleft 1s ease both;
}
.overlay-panel-logo.cornertopright.effect-1.active{
	-webkit-animation: logo-cornertopright 1s ease both ;
	animation:logo-cornertopright 1s ease both;
}
.overlay-panel-logo.cornerbottomleft.effect-1.active{
	-webkit-animation: logo-cornerbottomleft 1s ease both ;
	animation:logo-cornerbottomleft 1s ease both;
}
.overlay-panel-logo.cornerbottomright.effect-1.active{
	-webkit-animation: logo-cornerbottomright 1s ease both ;
	animation:logo-cornerbottomright 1s ease both;
}

.overlay-panel-logo.cornertopleft.effect-4.active{
	-webkit-animation: logo-cornertopleft 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-cornertopleft 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.cornertopright.effect-4.active{
	-webkit-animation: logo-cornertopright 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-cornertopright 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.cornerbottomleft.effect-4.active{
	-webkit-animation: logo-cornerbottomleft 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-cornerbottomleft 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}
.overlay-panel-logo.cornerbottomright.effect-4.active{
	-webkit-animation: logo-cornerbottomright 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both ;
	animation:logo-cornerbottomright 1s cubic-bezier(0.64, 0.01, 0.36, 0.97) both;
}

  
.overlay-panel-logo.cornertopleft.effect-2.active,
.overlay-panel-logo.cornertopleft.effect-3.active{
	-webkit-animation: logo-cornertopleft 1.2s ease both ;
	animation:logo-cornertopleft 1.2s ease both;
}
.overlay-panel-logo.cornertopright.effect-2.active,
.overlay-panel-logo.cornertopright.effect-3.active{
	-webkit-animation: logo-cornertopright 1.2s ease both ;
	animation:logo-cornertopright 1.2s ease both;
}
.overlay-panel-logo.cornerbottomleft.effect-2.active,
.overlay-panel-logo.cornerbottomleft.effect-3.active{
	-webkit-animation: logo-cornerbottomleft 1.2s ease both ;
	animation:logo-cornerbottomleft 1.2s ease both;
}
.overlay-panel-logo.cornerbottomright.effect-2.active,
.overlay-panel-logo.cornerbottomright.effect-3.active{
	-webkit-animation: logo-cornerbottomright 1.2s ease both ;
	animation:logo-cornerbottomright 1.2s ease both;
}


.overlay-panel-content .overlay-panel-close {
	position: fixed;
	right: 50px;
	top: 50px;
	cursor: pointer;
	font-size: 24px;
	z-index: 1000;
	color: #fff;
	transition: color ease-in 200ms;
	-moz-transition: color ease-in 200ms;
	/* Firefox 4 */
	-webkit-transition: color ease-in 200ms;
	/* Safari and Chrome */
	-o-transition: color ease-in 200ms;
	/* Opera */
	-ms-transition: color ease-in 200ms;
	/* IE9? */
}

.overlay-panel-content .overlay-panel-close.dark {
	color: #000;
	opacity: 0.8;
}

.overlay-panel-content .overlay-panel-close:hover,
.overlay-panel-content .overlay-panel-close:hover .lnr {
	color: #000;
	text-shadow: none;
	opacity: 1;
}


.overlay-panel-active {
	overflow: hidden;
}

.overlay-panel-content .overlay-panel-center {
}
.overlay-panel-content{
    z-index: 1004;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}


