﻿<ul class="proTestimonials_tab ${xf.ViewXmlSetting("Animation","fade")} $ThemeName " data-position="${xf.ViewXmlSetting("Animation","fade")}" data-display-navigation="${xf.ViewXmlSetting("displaynavigation","true")}" data-display-arrows="${xf.ViewXmlSetting("displayarrows","true")}" data-autoheight="${xf.ViewXmlSetting("autoheight","true")}" data-autoplay="${xf.ViewXmlSetting("autoplay","3000")}" data-speed="${xf.ViewXmlSetting("vspeed","500")}" id="proTestimonials_tab${ModuleID}" >
 
    #if($SliderList.Count > 0) 
    #foreach($SliderItem in $SliderList)
        <li>
        
      	  ${xf.ViewSliderSetting($SliderItem,"Description","")}
        
        </li>
    #end 
    #end


</ul>

<style type="text/css">
 

#proTestimonials_tab${ModuleID} .last_page:hover, 
#proTestimonials_tab${ModuleID} .next_page:hover{
	background-color:${xf.ViewXmlSetting("NavigationHoverColor","#606060")};
}
#proTestimonials_tab${ModuleID} .dot a.actived{
	border-color:${xf.ViewXmlSetting("ArrowsHoverColor","#606060")};
	background-color:${xf.ViewXmlSetting("ArrowsHoverColor","#606060")};
}
#proTestimonials_tab${ModuleID} .dot a:hover{
	border-color:${xf.ViewXmlSetting("ArrowsHoverColor","#606060")};
}
#if(${xf.ViewXmlSetting("displaynavigation","true")}=="true")
#proTestimonials_tab${ModuleID} {
	padding-bottom:30px;

}
#end
</style>
