.Theme_20_Default_04 {
	position:relative;
}
.Theme_20_Default_04 .pro-pricing-item{
}
.Theme_20_Default_04 .pro-pricing-box{
	background-color:#ededed;
	color:#444444;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.Theme_20_Default_04 .pro-pricing-box:hover{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.Theme_20_Default_04 .pro-pricing-box.shadow{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.Theme_20_Default_04 .proprice_holder{
	border-top:none;
	margin:0;

}
.Theme_20_Default_04 .proprice_title{
	border:none;
	padding:20px 20px 20px ;
	background-color:#07c6f5;
}
.Theme_20_Default_04 .proprice_title h2{
	color:#FFF;
	font-size:20px;
	margin:0;
	font-weight:normal;
}
.Theme_20_Default_04 .proprice_box {
    padding: 40px 20px 20px;
	border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.Theme_20_Default_04 .proprice_proprice{
	display:inline-block;
	color:#000;
    line-height: 1.2;
}
.Theme_20_Default_04 .sup{
	vertical-align:top;
    font-size: 36px;
    line-height: 34px;
	display:inline-block;
}
.Theme_20_Default_04 .proprice{
	font-size:60px;
	display:inline-block;
}
.Theme_20_Default_04 .unit {
	font-size:13px;
	display:inline-block;
}
.Theme_20_Default_04 .proprice_description{
	padding:20px 30px 20px;
	border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.8);
}

.Theme_20_Default_04 .proprice_info{
	margin:0;
	padding:0;
}
.Theme_20_Default_04 .proprice_info li{
	list-style:none;
	padding:12px 30px;	
	border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.8);
}
.Theme_20_Default_04 .marker{
	right:0px;
	top:6px;
	padding:0px 8px;
	height:22px;
	line-height:23px;
	font-size:12px;
}

.Theme_20_Default_04 .marker > .before{
	content:"";
	position:absolute;
	top:0;
	left:-11px;
	border:11px solid #F00;
	border-left-color:transparent!important;
	border-right-width:0!important;
	background-color:transparent!important;
}
.Theme_20_Default_04 .pro-pricing-item.best{
	z-index:10;
	position:relative;
	margin-top:-14px;
}
.Theme_20_Default_04 .best .proprice_title{
	padding:31px 30px 23px;
}
.Theme_20_Default_04 .buybtn {
	padding:0 30px;
	overflow:hidden;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.Theme_20_Default_04 .buybtn a {
	color: #FFF;
	display:inline-block;
	margin:30px 0;
	position: relative;
	font-size: 15px;
	padding:0px 50px;
	background-color:#20a3f0;
	height:60px;
	line-height:56px;
    border-bottom: 4px solid rgba(0,0,0,0.2);
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	white-space:nowrap;
}

.Theme_20_Default_04 .buybtn a:hover {
	background-color:#525252!important;
}
.Theme_20_Default_04 .best .buybtn a{
	margin:37px 0 45px;
}

@media only screen and (max-width: 767px) {
.Theme_20_Default_04 .best .proprice_title{
	margin-top:0px;
}
}
/*Display Left Header*/

.Theme_20_Default_04.pro-pricing-show-info .proprice_title,
.Theme_20_Default_04.pro-pricing-show-info .proprice_box,
.Theme_20_Default_04.pro-pricing-show-info .proprice_description,
.Theme_20_Default_04.pro-pricing-show-info .proprice_info li,
.Theme_20_Default_04.pro-pricing-show-info .buybtn{
	position:relative;
}
.Theme_20_Default_04.pro-pricing-show-info .title-info,
.Theme_20_Default_04.pro-pricing-show-info .proprice-info,
.Theme_20_Default_04.pro-pricing-show-info .description-info,
.Theme_20_Default_04.pro-pricing-show-info .proprice_info .proprice_info-info,
.Theme_20_Default_04.pro-pricing-show-info .buybtn-info{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	bottom:0;
	display:none;
}
.Theme_20_Default_04.pro-pricing-show-info .title-info:before,
.Theme_20_Default_04.pro-pricing-show-info .proprice-info:before,
.Theme_20_Default_04.pro-pricing-show-info .description-info:before,
.Theme_20_Default_04.pro-pricing-show-info .buybtn-info:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Theme_20_Default_04.pro-pricing-show-info .proprice-info,
.Theme_20_Default_04.pro-pricing-show-info .description-info{
	font-size:20px;
	font-weight:bold;
	line-height:1.2;
	white-space:nowrap;
}
.Theme_20_Default_04.pro-pricing-show-info .proprice_info .proprice_info-info{
	font-weight:bold;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .pro-pricing-box {
	background-color:#E8E8E8;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .markerBox,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_title h2,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_box .proprice_proprice,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_description .description,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_info .list_info,
.Theme_20_Default_04.pro-pricing-show-info .copy .buybtn a{
	visibility:hidden;
	opacity:0;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .title-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .description-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_info .proprice_info-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .buybtn-info{
	display:block;
	text-align:right;
	padding:0 20px;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .title-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice-info{
	border-top:none;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .buybtn-info,
.Theme_20_Default_04.pro-pricing-show-info .copy .title-info{
	border-bottom:none;
}

.Theme_20_Default_04.pro-pricing-show-info .copy .title-info img{
	max-height:80%;
	vertical-align:middle;
}
.Theme_20_Default_04.pro-pricing-show-info .copy .proprice_info .proprice_info-info{
	padding:12px 20px;	
	font-weight:bold;
}

.Theme_20_Default_04.numbercolumns-1 .copy{
	display:none;
}
.Theme_20_Default_04.numbercolumns-1.pro-pricing-show-info .title-info,
.Theme_20_Default_04.numbercolumns-1.pro-pricing-show-info .proprice-info,
.Theme_20_Default_04.numbercolumns-1.pro-pricing-show-info .description-info,
.Theme_20_Default_04.numbercolumns-1.pro-pricing-show-info .proprice_info .proprice_info-info{
	position:static;
	padding:0 0 10px;
	border:none;
	background:none;
	text-align:inherit;
	display:block;
}
.Theme_20_Default_04 .proprice_proprice{
	line-height:1;
}
.Theme_20_Default_04 a:hover{
	text-decoration:none;
}

@media only screen and (min-width: 1200px) {
	.Theme_20_Default_04.numberLarge-1 .copy{
		display:none;
	}
	.Theme_20_Default_04.numberLarge-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_04.numberLarge-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_04.numberLarge-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_04.numberLarge-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Theme_20_Default_04.numbertablet-1 .copy{
		display:none;
	}
	.Theme_20_Default_04.numbertablet-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_04.numbertablet-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_04.numbertablet-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_04.numbertablet-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (max-width: 767px) {
	.Theme_20_Default_04.numberphone-1 .copy{
		display:none;
	}
	.Theme_20_Default_04.numberphone-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_04.numberphone-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_04.numberphone-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_04.numberphone-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}










