﻿<div class="comment_form" id="comment_form">
    <h4  class="detail-heading">${xf.ViewLanguage("CommentTitle","Post a Comment")}</h4>
    <div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
    var disqus_shortname = '${Comment_DisqusShortname}'; // Required - Replace example with your forum shortname
    var disqus_identifier = '${DataItem.ModuleID}_${DataItem.ID}';
    var disqus_title = '${xf.ViewContent("Title",$DataItem)}';
    var disqus_url = '${xf.GoUrl($DataItem)}';
    var disqus_language = '${Module.language}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    } ());
</script>