#if(${DataItem.ID} > 0 )

<div class="Classic blog-detail02" id="blog-detail${ModuleID}">
<div class="detail-gallery">
#if($DisplayGallery && ( $PhotoList.Count > 0 && $DataItem.AdditionalPicture == 0) ||  ( $PhotoList.Count > 1 && $DataItem.AdditionalPicture > 0))
    <div class="gallery_effect">
        [Effect]
    </div>
#else
    #if($DataItem.AdditionalPicture > 0)
    #if(${xf.ViewSkinSetting("Displaythumbnail2",true)})
    <div class="detail-images">
        <a href="${xf.ViewPicture($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}">
            <img src="${xf.ViewPicture($DataItem)}"  alt="${xf.ViewContent("Title",$DataItem)}" title="${xf.ViewContent("Title",$DataItem)}" />
        </a>
    </div>
    #end
    #end	
#end
</div>

<div class="detail-viewinfo #if(${xf.ViewSkinSetting("Displaycalendar2",true)}) Displaycalendar #end">
#if(${xf.ViewSkinSetting("Displaycalendar2",true)})
<div class="detail-date">$DataItem.PublishTime.ToString("dd")<span class="month">$DataItem.PublishTime.ToString("MMM")</span></div>
#end
<h3 class="detail-title">
${xf.ViewContent("Title",$DataItem)}
#if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID)
<span class="news_edit">
<a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a>
</span>
#end
</h3>

<div class="detail-info">
#if(${xf.ViewSkinSetting("Displayauthor2",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${CreateUser.DisplayName}</a> <span class="sep">|</span>#end
#if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags2",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
#if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories2",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
#if(${xf.ViewSkinSetting("Displaycomments2",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
<!--#if(${xf.ViewSkinSetting("DisplayLikes2",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
#if(${xf.ViewSkinSetting("DisplaySharingTool2",false)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
#if(${xf.ViewSkinSetting("Displayviewcount2",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
#if(${xf.ViewSkinSetting("Displayreturnicon2",true)})<span class="fa fa-arrow-left"></span><a href="${xf.GoUrl()}">${xf.ViewLanguage("Return","Return")}</a><span class="sep">|</span>#end
  
#if(${xf.ViewSetting("Rating.DisplayRating",false)}) 
<span  class="post_rating">
    ${xf.ViewRating($DataItem)}
      #if(${xf.ViewSetting("Rating.showText","true")} == "true")
      <div class="ratingText">${xf.Division($xf.ViewItemSetting($DataItem,"RatingScore","0").ToString(),$xf.ViewItemSetting($DataItem,"RatingRequest","0").ToString())} ( ${xf.ViewItemSetting($DataItem,"RatingRequest",0)} reviews)</div>
      #end

    <span class="datasSent"></span>
    <span class="serverResponse"></span>
</span>
<span class="sep">|</span>
#end
</div>
</div>

<div class="detail-description">
    #if(${xf.ViewItemSetting($DataItem,"NeedLogin","false")} == "false" || $UserInfo.UserID > 0)
        <!-- News Content Begin-->
    ${xf.ViewContent($DataItem)}
        <!-- News Content End-->
    #else
        <br/>
       ${xf.ViewLanguage("Youlogin","You need to login to see the article details, please")} <a href="${xf.GoLogin()}">${xf.ViewLanguage("login","login")}</a>. 		
       <br/>
       <br/>
    #end

</div>

#if(${xf.ViewSkinSetting("Displayauthor3",true)})

<h4 class="detail-heading">${xf.ViewLanguage("AuthorTitle","About the Author")}</h4>

<div class="detail-author">
<div class="author-portrait"><img src="${xf.ViewAuthorPic($DataItem)}" alt="${CreateUser.DisplayName}" title="${CreateUser.DisplayName}" width="100%" /></div>

<div class="author-right">
<h3 class="author-title"><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a></h3>
<div class="author-description">
    ${xf.ViewAuthorBiography($DataItem)}
</div>

</div>
</div>

#end

#if($DisplayAttachments &&  $Attachments.Count > 0 )
    <h4 class="detail-heading">${xf.ViewLanguage("Attachments","Attachments")}</h4>
	<div class="detail-Attachments">
    [Attachments]
    </div>
#end	
#if(${xf.ViewSkinSetting("EnableRelatedList",true)})
    <h4 class="detail-heading">${xf.ViewLanguage("Related","Related")}</h4>
    [RelationDataList]
#end


#if($EnabledComment == 1)	
     #if($CommentService == 0)	
        #parse("view_comment.html" )
     #else
        #parse("view_comment_disqus.html" )
     #end
#end


</div>


 #else
   ${xf.ViewLanguage("NoFoundArticles","Articles not found.")}
#end


