﻿###Custom print subordinate comment macro Start
#macro(PrintChilds $DataItemY)

#set($childList = $Module.GetComments($DataItemY.ID))
#if($childList.Count>0)
<div class="comments-reply">
    #foreach($DataItemX in $childList)
    #if($DataItemX.ParentID == $DataItemY.ID)
        <div class="reply-post">
          <div class="reply-portrait"><img src="${xf.ViewUserPic($DataItemX)}"  />
            <div class="reply-name"> #if( $DataItemX.WebSite != '' ) <a href="$DataItemX.WebSite" target="_blank"  rel="nofollow">$DataItemX.UserName</a> #else <a href="javascript:;">$DataItemX.UserName</a> #end</div>
          </div>
          <div class="reply-main">
            <p>$DataItemX.ContentText</p>
            <div class="reply-info"> $DataItemX.CreateTime | <span class="reply-btn">#if(   $LoginComment ==0 || $Module.Userid > 0)
              ${xf.ViewReplyButton($DataItemX,"Reply")}
              #end</span> </div>
          </div>
        </div>
    #end
    #end 
</div>
#end
#end				
###Custom print subordinate comment macro end
<div class="comments_box" id="comments"> #if($DataList.Count >0)
  <h4 class="detail-heading" id="Comments">${xf.ViewLanguage("CommentList","Comments")}</h4>
  <div class="detail-comments"> #foreach($DataItem in $DataList)
    #if($DataItem.ParentID == 0)
    <div class="comments-post">
      <div class="comments-portrait"> <img src="${xf.ViewUserPic($DataItem)}" />
        <div class="comments-name"> #if( $DataItem.WebSite != '' ) <a href="$DataItem.WebSite" target="_blank"  rel="nofollow">$DataItem.UserName</a> #else <a href="javascript:;">$DataItem.UserName</a> #end </div>
      </div>
      <div class="comments-main"> $DataItem.ContentText
        <div class="comments-info">$DataItem.CreateTime |  #if(   $LoginComment ==0 || $Module.Userid > 0) <span class="reply-btn ">${xf.ViewReplyButton($DataItem,"Reply")}</span> #end</div>
        #PrintChilds($DataItem) </div>
    </div>
    #end
    #end </div>
  #end
  <div class="blog-page blog-comments-page"> ${Pager} </div>
</div>
<script type="text/javascript">
         $("#comments .blog-comments-page a").each(function(index, element) {
            $(this).attr("href",$(this).attr("href")+"#comments")
        });
     </script> 
#if(   $LoginComment ==0 || $Module.Userid > 0)
<div id="comment_form">
<h4 class="detail-heading">${xf.ViewLanguage("CommentTitle","Post a Comment")}</h4>
<div class="detail-leave">
<ul class="leave-formlist">
  #if($CommentNotify != "")
  <li class="awaiting-msg">${CommentNotify}</li>
  #end
  #if($Module.Userid == -1)
  <li style="width: 33.3333%;">
    <div class="form_row" data-placeholder="${xf.ViewLanguage("Name","Name")}*">
    ${xf.ViewCommentTextBox("UserName",200,true,"")}
  </div>
  </li>
  <li style="width: 33.3333%;">
    <div class="form_row" data-placeholder="${xf.ViewLanguage("Email","Email")}*">
    ${xf.ViewCommentTextBox("Email",200,true,"email")}
  </div>
  </li>
  #else
  <li style="width: 50%;">
    <div class="form_row" data-placeholder="${xf.ViewLanguage("Name","Name")}">
    <input type="text" value="$UserInfo.DisplayName" disabled="disabled" />
    </div>
  </li>
  #end
  <li #if($Module.Userid == -1) style="width: 33.3333%;" #else style="width: 50%;" #end>
  <div class="form_row" data-placeholder="${xf.ViewLanguage("WebSite","WebSite")}">
  ${xf.ViewCommentTextBox("WebSite",200,false,"url")}
  </div>
  </li>
  <li style="width: 100%;">
    <div class="form_row" data-placeholder="${xf.ViewLanguage("Comment","Comment")}*">
    ${xf.ViewCommentTextArea(300,12,true)}
    </div>
  </li>
  <li style="width: 100%;">
    <div class="submit_button clearfix">${xf.ViewHtmlButton("Submit",true)}</div>
</ul>
</div>
</div>
<script type="text/javascript">
			 $("#comment_form .form_row").each(function(index, element) {
				$(this).find("input,textarea").attr("placeholder",$(this).data("placeholder"))
			});
		 </script> 
#else <a href="${xf.GoLogin()}">${xf.ViewLanguage("CommentLogin","You need to login  in order to comment")}</a> #end 