﻿#if($DataList.Count > 0)
<div class="blogDashBoard-tag clearfix"> #foreach($DataItem in $DataList) <a href="${xf.GoUrl($DataItem)}" title="$DataItem.ContentText" >$DataItem.ContentText</a> #end </div>
#end 