.clearfix {
	clear: both;
}

/*tabs Left*/
.cookie-pro-tab_Left {
	clear: both;
}
.cookie-pro-tab_Left:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.cookie-pro-tab_Left ul.resp-tabs-list {
	margin: 0;
	padding: 1px 0;
	border-bottom: 1px solid #e4e4e4;
}
.cookie-pro-tab_Left .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}
.cookie-pro-tab_Left .resp-tab-content .resp_margin {
	margin-left: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	
}

.cookie-pro-tab_Left ul.resp-tabs-list li {
	margin: 0;
	list-style: none;
	border-top: 1px solid #e4e4e4;
	position: relative;
	z-index: 1;
	min-width: 120px;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.cookie-pro-tab_Left ul.resp-tabs-list li span {
	border: none;
	padding: 16px 15px 16px 40px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	color: #333333;
}
.cookie-pro-tab_Left ul.resp-tabs-list li:hover {
	background: #eeeeee;
}
.cookie-pro-tab_Left ul.resp-tabs-list li:hover span {
	color: #333;
}
.cookie-pro-tab_Left ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #333333;
	background-color: #ffff
}
.cookie-pro-tab_Left ul.resp-tabs-list li.resp-tab-active span {
	margin-right: -16px;
	padding-right: 31px;
	color: #333333;
	background-color: #FFF;
}
.cookie-pro-tab_Left h2.resp-accordion,
.cookie-pro-tab_Left .resp_container {
	display: none;
}
.cookie-pro-tab_Left p{
	margin: 0 0 8px;
}
.cookie-pro-tab_Left .setting-title{
	font-size:24px;
	color: #333333;
	padding: 25px 0px 20px;
	margin: 0;
}
.cookie-pro-tab_Left .sub-title{
	font-size:18px;
	color: #424242;
	padding: 0px;
	margin: 28px 0 10px;
}

.cookie-pro-tab_Left .resp_margin h3{

	margin-bottom: 15px;
}

.cookie-pro-tab_Left .logo{
	text-align: center;
	padding: 25px;
}
.cookie-pro-tab_Left .logo img{
	max-width: 100%;
}

.cookie-pro-tab_Left .item-list{
	margin: 0;
	padding: 0;
}

.cookie-pro-tab_Left .item-list li{
	list-style: none;
	border-bottom: 1px dashed #e4e4e4;
	padding: 13px 15px 13px 15px;
	font-size: 14px;
	position: relative;
}
.cookie-pro-tab_Left .item-list li::before{
	content: "";
	width: 4px;
	height: 4px;
	background-color: #666666;
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 22px;
	left: 0px;
}








@media only screen and (max-width:768px) {
	.cookie-pro-tab_Left ul.resp-tabs-list {
		display: none;
	}
	.cookie-pro-tab_Left h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	.cookie-pro-tab_Left .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top:0px;
		text-align:center;
	}
	.cookie-pro-tab_Left .resp-arrow:empty {
		width: 1em;
	}
	.cookie-pro-tab_Left .resp-arrow:before {
		content: "\002B";
	}
	.cookie-pro-tab_Left .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	.cookie-pro-tab_Left .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.cookie-pro-tab_Left .resp-tab-active,
	.cookie-pro-tab_Left .resp-tab-active:hover {
		background: #69b532;
	}
	
	.cookie-pro-tab_Left .resp-tab-active span {
		color: #FFF;
	}
	
	.cookie-pro-tab_Left .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.cookie-pro-tab_Left .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.cookie-pro-tab_Left .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto ;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.cookie-pro-tab_Left .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}


.popup-container {
	background-color: rgba(25, 25, 25, 0.99);
	color: #efefef;
	padding: 5px 20px;
	font-size: 12px;
	line-height: 1.2em;
	text-align: center;
	z-index: 9999999;
}

.popup-container-top,
.popup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.popup-container-fixedtop {
	position: fixed;
}

.popup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.popup-container-bottomleft {
	position: fixed;
	bottom: 30px;
	left: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.popup-container-bottomright {
	position: fixed;
	bottom: 30px;
	right: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.popup.popup-container-bottomleft .popup-button,
.popup.popup-container-bottomright .popup-button{
	padding: 10px 20px 11px;
}


.popup-closebutton {
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 3px 5px;
}
.popup-closebutton:after {
	content: "";
	border-left:1px solid ;
	height: 21px;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup-closebutton:before {
	content: "";
	border-top:1px solid ;
	width: 21px;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);

}



.popup-closebutton,
a.popup-closebutton{
	color: #FFF;
}

.popup-closebutton:hover,
.popup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.popup-head {
	font-size: 1.2em;
	font-weight: bold;
	padding: 7px;
	color: #fff;
}

.popup-body {
	color: #a2a2a2;
}
.popup .popup-body p{
	color: inherit;
}
.popup .popup-body div{
	color: inherit;
}

.popup-buttons {
	padding: 10px 0 5px 0;
}


.popup-button {
	margin: 0 10px;
}

.popup-button:hover,
.popup-button:focus {
	text-decoration: underline;
	color: #f6a21d;
}

body .popup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .popup-color-inverse .popup-head {
	color: #000;
}

body .popup-style-compact {
	text-align: center;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .popup-style-compact .popup-head,
body .popup-style-compact .popup-body,
body .popup-style-compact .popup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .popup-style-compact .popup-button {
	margin: 0 5px;
}
.popup .popup-button{
	display: inline-block;
	padding: 14px 20px;
    margin: 0 10px;
    background-color:#1fd166;
    color: #FFF;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	font-weight: 600;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}
.popup .popup-button_red{
	background-color: #d53737;
}

.popup .cookie_settings_button{
	font-size: 16px;
	font-weight: normal;
	margin: 0px 10px;
	text-decoration: underline;
}
.popup .cookie_settings_button, 
.popup .cookie_settings_button:link, 
.popup .cookie_settings_button:active, 
.popup .cookie_settings_button:visited{
	color: #FFF;
}


.popup .popup-button_1:hover{
	text-decoration: none;
	background-color: #1bac55;
}
.popup .popup-button_red:hover{
	background-color: #b02929;
}


.popup.popup-container-fixedtop .popup-markup,
.popup.popup-container-top .popup-markup,
.popup.popup-container-bottom .popup-markup{
	width: 1120px;
	max-width: 95%;
	margin:0 auto;
}

.popup.popup-container-fixedtop .popup-info,
.popup.popup-container-top .popup-info,
.popup.popup-container-bottom .popup-info{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding-right: 60px;
	line-height: 1.6;
}
.popup.popup-container-fixedtop .popup-buttons,
.popup.popup-container-top .popup-buttons,
.popup.popup-container-bottom .popup-buttons{
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
}

.popup.popup-container-fixedtop.popup-container,
.popup.popup-container-top.popup-container,
.popup.popup-container-bottom.popup-container{
	padding:38px 0px;
}
.popup .popup-body{
	font-size: 16px;
	color: #ffffff;
}
.popup.popup-container-bottomleft ,
.popup.popup-container-bottomright{
	width: 535px;
	padding:55px 40px 40px;
	max-width: 80%;
}
.popup.popup-container-bottomleft.popup-container,
.popup.popup-container-bottomright.popup-container{
	line-height: 1.8;
	text-align: left;
	background-color: #262626;
}
.popup.popup-container-bottomleft .cookie_settings_button,
.popup.popup-container-bottomright .cookie_settings_button{
	display: table;
	margin: 6px 0 0;
} 
.popup.popup-container-bottomleft .popup-button{
	margin: 0 10px 8px 0;
}
.popup.popup-container-bottomright .popup-button{
	margin: 0 10px 0 0;
}
.popup.popup-container-bottomleft .popup-closebutton,
.popup.popup-container-bottomright .popup-closebutton{
	position: absolute;
	right: 20px;
	top: 20px;
}
.popup.popup-container-bottomleft .popup-buttons,
.popup.popup-container-bottomright .popup-buttons{
margin-top: 20px;
}
.popup.popup-container{
	background-color: #262626;
}
.popup.popup-color-light.popup-container{
 background-color: #FFF;
 -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.popup.popup-color-light .popup-closebutton, 
.popup.popup-color-light a.popup-closebutton,
.popup.popup-color-light.popup-container .popup-body,
.popup.popup-color-light .cookie_settings_button, 
.popup.popup-color-light .cookie_settings_button:link, 
.popup.popup-color-light .cookie_settings_button:active, 
.popup.popup-color-light .cookie_settings_button:visited{
	color: #666666;
}
.popup.popup-color-light .cookie_settings_button:hover{
	color: #333333;
}
.popup.popup-container p:last-child{
	margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
	.popup.popup-container-fixedtop .popup-info,
	.popup.popup-container-top .popup-info,
	.popup.popup-container-bottom .popup-info,
	.popup.popup-container-fixedtop .popup-buttons,
	.popup.popup-container-top .popup-buttons,
	.popup.popup-container-bottom .popup-buttons{
		display: block;
		white-space: normal;
		text-align: left;
	}
	.popup.popup-container-fixedtop .popup-closebutton,
	.popup.popup-container-top .popup-closebutton,
	.popup.popup-container-bottom .popup-closebutton{
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.popup.popup-container-fixedtop .popup-buttons a,
	.popup.popup-container-top .popup-buttons a,
	.popup.popup-container-bottom .popup-buttons a{
	 margin: 10px 15px 0 0;
	}

	.popup.popup-container-fixedtop.popup-container,
	.popup.popup-container-top.popup-container,
	.popup.popup-container-bottom.popup-container{
	  padding: 20px 0;
	}
	.popup.popup-container-bottomleft ,
	.popup.popup-container-bottomright{
		padding:35px 20px 20px;

	}
	.popup.popup-container-bottomleft .popup-closebutton,
	.popup.popup-container-bottomright .popup-closebutton{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
}



#prolight_cookie_settings{
	background-color: #FFF;
	max-width: 890px;
	width: 96%;
	margin: auto;
	position: relative;
}

.mfp-bg.cookie_Settings_box_bg {
	z-index:10000000;
}
.mfp-bg.cookie_Settings_box_bg + .mfp-wrap{
	z-index:10000001;
}

#prolight_cookie_settings{
	overflow: hidden;
	display: none;
}
#prolight_cookie_settings .cookie-pro-tab_Left ul.resp-tabs-list li{
	border-right:none;
}
#prolight_cookie_settings .cookie-pro-tab_Left .left-box{
	background-color: #f9f9f9;
	margin-bottom: -10000px;
	padding-bottom: 10000px;
	padding-top:0;
	float: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	max-width: 230px;
}
#prolight_cookie_settings .cookie-pro-tab_Left .resp-tab-content .resp_margin {
	margin:24px 40px 90px;
}
#prolight_cookie_settings .cookie-pro-tab_Left .resp-tab-content .resp_margin p{
	font-size: 14px;
}
#prolight_cookie_settings .cookie-pro-tab_Left .resp-tabs-container{
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}


.mfp-content #prolight_cookie_settings{
	display: block;
}

#prolight_cookie_settings .cookie-pro-tab_Left{
	padding-bottom: 110px;
}
#prolight_cookie_settings .cookie-pro-tab_Left ul.resp-tabs-list li{
	min-width: 230px;
}

 #prolight_cookie_settings .prolight_cookie_footer{
	position: absolute;
	bottom: 45px;
	left: 40px;
	right: 40px;
}
 #prolight_cookie_settings .prolight_cookie_footer .footer-button{
	display: inline-block;
	padding: 12px 25px;
    margin: 0 0 5px;
    background-color:#1fd166;
    color: #FFF;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;	
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
 
}

#prolight_cookie_settings .prolight_cookie_footer .left-button{
	float: left;
	background-color: #e84a4a;
}
#prolight_cookie_settings .prolight_cookie_footer .right-button{
	float: right;
	margin-left: 15px;
}
#prolight_cookie_settings .prolight_cookie_footer .footer-button:hover{
	text-decoration: none;
	background-color: #1bac55;
}
#prolight_cookie_settings .prolight_cookie_footer .left-button:hover{
	background-color: #b02929;
}


.cookie-switcher-input {
	text-align: right;
	padding: 20px 0 0;
}
.cookie-switcher-input .switcher{
	position: relative;
	width: 47px;
	height: 24px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	background-color: #ededed;
	cursor: pointer;
	-webkit-transition:background-color ease-in 200ms;/* Safari and Chrome */
	transition: background-color ease-in 200ms;
	
}
.cookie-switcher-input .switcher .button{
	position: absolute;
	top: 4px;
	height: 16px;
	width: 16px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms;/* Firefox 4 */
	-webkit-transition:all ease-in 200ms;/* Safari and Chrome */
	-o-transition:all ease-in 200ms;/* Opera */
	-ms-transition: all ease-in 200ms;/* IE9? */	
	left: 25px;	
	background-color: #ffffff;
	
}
.cookie-switcher-input .switcher input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin: 0;
    opacity: 0;
	cursor: pointer;

}
.cookie-switcher-input .switcher input:checked + .button{
	left: 5px;
}
.cookie-switcher-input .switcher.active{
	background-color: #1fd166;
}

.cookie-switcher-input .switcher input[disabled]{
	cursor: not-allowed;
}




.cookie-switcher-input .text {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
    min-width: 50px;
	text-align: left;
	font-size: 14px;
}

#prolight_cookie_settings .cookie-switcher-input {
	position: absolute;
    bottom: 140px;
    right: 30px;
}



.popup-color-inverse .popup-button_2{
	color: #666666;
}


.cookie-option-list{
	width: 100%;
}
.cookie-option-list td{
	padding: 8px 0;
	border-bottom: 1px dashed rgba(0,0,0,0.05);
}
.cookie-option-list td:last-child{
	text-align: right;
}

@media only screen and (max-width: 767px) {
	#prolight_cookie_settings .prolight_cookie_footer .footer-button{
		padding: 6px 7px;
		font-size: 12px;
		margin: 0 3px 5px;
	}
	#prolight_cookie_settings .prolight_cookie_footer{
		left: 5px;
		right: 5px;
	}
}



