﻿.XBD_Effect_11_Default {
	margin:20px 0px 10px;
}
.XBD_Effect_11_Default:after {
	clear:both;
	content:".";
	height:0px;
	font-size:0px;
	visibility:hidden;
	display:block;
}
.XBD_Effect_11_Default .filters {
	border:1px solid #e1e5e7;
	padding:0px;
	margin:0px 0px 5px;
	float:left;
	overflow:hidden;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	overflow:hidden;
}
.XBD_Effect_11_Default .filters a{
	padding:7px 20px;
	display:inline-block;
	color:#373a41;
	text-decoration:none;
	border-left:1px solid #e1e5e7;
	float:left;
}
.XBD_Effect_11_Default .filters a:first-child{
	border-left:none;
}
.XBD_Effect_11_Default .filters a.active, 
.XBD_Effect_11_Default .filters a.active:hover {
	background:#FFF;
	color:#2e84eb;
}
.XBD_Effect_11_Default .Skin_03_Default .filters a.active, 
.XBD_Effect_11_Default .Skin_03_Default .filters a.active:hover {
	background:#FFF;
}
.XBD_Effect_11_Default .filters a:hover {
	color:#2e84eb;
}

.XBD_Effect_11_Default .sort_box {
	float:right;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #e1e5e7;
}
.XBD_Effect_11_Default .sort_box li {
	padding:0px;
	display:inline-block;
	color:#373a41;
	text-decoration:none;
	border-left:1px solid #e1e5e7;
	float:left;
}
.XBD_Effect_11_Default .sort_box li a {
	padding:6px 10px;
	display:block;
	float:left;
	color:#373a41;
	text-decoration:none;
	line-height:20px;
}
.XBD_Effect_11_Default .sort_box li a:hover {
	color:#2e84eb;
}
.XBD_Effect_11_Default .sort_box li:first-child{
	border-left:none;
}


.XBD_Effect_11_Default .filter-switch {
	float:left;
	width:23px;
	height:12px!important;
	background:#2a83ed;
	margin-top:10px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	position:relative;
}
.XBD_Effect_11_Default .filter-switch span {
	position:absolute;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	left:1px;
	top:1px;
	background:#FFF;
	display:block;
	height:10px;
	width:10px;
}
.XBD_Effect_11_Default .filter-switch.right-act span {
	left:auto;
	right:1px;
}
.XBD_Effect_11_Default .image-grid {
	position:relative;
}
.XBD_Effect_11_Default .image-grid .element {
	width:0px;
	position:absolute;
	left:0px;
	top:0px;
	overflow:hidden;
	vertical-align:top;
}
.XBD_Effect_11_Default .image-grid img {
	border: 0 none;
	height:auto;
	vertical-align: top;
	max-width:100%;
}
.XBD_Effect_11_Default .portfolio_descr .date{
	margin-bottom:8px;

}
.XBD_Effect_11_Default .portfolio_descr p{ 
	font-size:13px;
	margin-bottom:8px;
}
.XBD_Effect_11_Default .portfolio_descr {
	padding:18px 18px 5px;
	color:#999999;
	background-color:#FFF;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.XBD_Effect_11_Default .portfolio_descr .name, 
.XBD_Effect_11_Default .portfolio_descr .name a {
	font-size:13px;
	line-height:1.2;
	margin:0px;
	text-transform:uppercase;
	color:#666666;
	margin-bottom:8px;
	transition: 		color ease-in 200ms;
	-moz-transition: 	color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:   color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 	color ease-in 200ms; /* Opera */
	-ms-transition: color ease-in 200ms; /* IE9? */
}
.XBD_Effect_11_Default .view-tenth:hover .portfolio_descr {
	color:#FFF;
	background:#ee7624;
}
.XBD_Effect_11_Default .view-tenth:hover .portfolio_descr .name, 
.XBD_Effect_11_Default .view-tenth:hover .portfolio_descr .name a {
	color:#FFF;
}
.XBD_Effect_11_Default .view-tenth {
}
.XBD_Effect_11_Default .portfolio_categories {
	color:#e1e5e7;
	padding:5px 0px 8px;
}
.XBD_Effect_11_Default .portfolio_categories span, 
.XBD_Effect_11_Default .portfolio_categories a:link, 
.XBD_Effect_11_Default .portfolio_categories a:active, 
.XBD_Effect_11_Default .portfolio_categories a:visited, 
.XBD_Effect_11_Default .portfolio_descr .name a:link, 
.XBD_Effect_11_Default .portfolio_descr .name a:active, 
.XBD_Effect_11_Default .portfolio_descr .name a:visited {
	color:#373a41;
	text-decoration:none;
}
.XBD_Effect_11_Default .portfolio_categories a:hover {
	text-decoration: underline
}
.XBD_Effect_11_Default .portfolio_descr .name a:hover {
	text-decoration: underline
}
.XBD_Effect_11_Default .item_image {
	position:relative;
}
.XBD_Effect_11_Default .item_image .image_dim {
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	background:url(images/ico.png) no-repeat center center;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0;
}
.XBD_Effect_11_Default .view-tenth:hover .image_dim {
	opacity:1;
}
.XBD_Effect_11_Default .item_image a, 
.XBD_Effect_11_Default .item_image a:hover {
	text-decoration:none;
}
.XBD_Effect_11_Default .PhotoPage .pager {
	border:1px solid #e1e5e7;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:0px 10px;
	margin:5px 0px;
	overflow:hidden;
	display:inline-block;
}
.XBD_Effect_11_Default .PhotoPage a, 
.XBD_Effect_11_Default .PhotoPage span {
	list-style:none;
	border-left:1px solid #e1e5e7;
	display:inline-block;
	padding:6px 0px 6px 10px;
	margin-left:10px;
}
.XBD_Effect_11_Default .PhotoPage a,
.XBD_Effect_11_Default .PhotoPage span {
	display:inline;
}

.XBD_Effect_11_Default .image-grid.xbd-loading:before{
	content:"";
	background:url(images/loader.gif) no-repeat center center;
	width:35px;
	height:35px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-18px;
	z-index:100;
}


.XBD_Effect_11_Default .meassage_box {
	text-align:center;
}
.XBD_Effect_11_Default .moremeassage{
	color:#FFF;
	padding:0px 20px;
	font-size:14px;
	letter-spacing:3px;
	display:inline-block;
	height:40px;
	line-height:40px;
	margin:10px auto;
	display:none;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
	position:relative;
}
.XBD_Effect_11_Default .moremeassage:hover{
	text-decoration:none;
}
.XBD_Effect_11_Default .moremeassage.active {
	display:inline-block;
}

@keyframes rotatelogin {
	0% {
		transform:rotate(0deg)
	}
	100%{
		transform:rotate(360deg)
	}
	
}
@-webkit-keyframes rotatelogin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(359deg)
	}
}

.XBD_Effect_11_Default .moremeassage span{
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	line-height:21px;
	font-size:13px;
	vertical-align:middle;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name: rotatelogin;
	animation-name: rotatelogin;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	position:relative;
	letter-spacing:0;
	background:url(images/refresh.png) no-repeat center center;
	display:none;
}

.XBD_Effect_11_Default.xbd-loading2 .moremeassage span{
	display:inline-block
}

/**** Isotope CSS3 transitions ****/

@media (max-width: 767px) {
	.XBD_Effect_11_Default ul.filters {
		border:none;
		border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
	}
	.XBD_Effect_11_Default ul.filters li {
		border:1px solid #e1e5e7;
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		margin:0px 5px 5px 0px;
	}
	.XBD_Effect_11_Default ul.filters li a {
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
	}
	.XBD_Effect_11_Default .filters li.selected.first a, 
	.XBD_Effect_11_Default .filters li.selected:first-child a {
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
	}
	.XBD_Effect_11_Default .filters li.selected.last a, 
	.XBD_Effect_11_Default .filters li.selected:last-child a {
		border-radius:8px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
	}
	.XBD_Effect_11_Default .filter_block ul.sort_box {
		float:left;
	}
}
