 
/*tabs Left*/
.pro-tab_Left {
	clear: both;
}
.pro-tab_Left:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.pro-tab_Left ul.resp-tabs-list {
	float: left;
	margin: 0;
	padding: 1px 0;
}
.pro-tab_Left .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}
.pro-tab_Left .resp-tab-content .resp_margin {
	margin-left: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	
}
.pro-tab_Left ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	position: relative;
	z-index: 1;
	min-width: 120px;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}
.pro-tab_Left ul.resp-tabs-list li:first-child {
	border-top: none;
}
.pro-tab_Left ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}
.pro-tab_Left ul.resp-tabs-list li:hover {
	background: #eeeeee;
}
.pro-tab_Left ul.resp-tabs-list li:hover span {
	color: #333;
}
.pro-tab_Left ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
	background-color: #69b532
}
.pro-tab_Left ul.resp-tabs-list li.resp-tab-active span {
	margin-right: -16px;
	padding-right: 31px;
	color: #FFF;
}
.pro-tab_Left h2.resp-accordion,
.pro-tab_Left .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.pro-tab_Left ul.resp-tabs-list {
		display: none;
	}
	.pro-tab_Left h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	.pro-tab_Left .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top:0px;
		text-align:center;
	}
	.pro-tab_Left .resp-arrow:empty {
		width: 1em;
	}
	.pro-tab_Left .resp-arrow:before {
		content: "\002B";
	}
	.pro-tab_Left .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	.pro-tab_Left .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.pro-tab_Left .resp-tab-active,
	.pro-tab_Left .resp-tab-active:hover {
		background: #69b532;
	}
	
	.pro-tab_Left .resp-tab-active span {
		color: #FFF;
	}
	
	.pro-tab_Left .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.pro-tab_Left .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.pro-tab_Left .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto ;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.pro-tab_Left .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs right*/

.pro-tab_Right {
	clear: both;
}

.pro-tab_Right:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.pro-tab_Right ul.resp-tabs-list {
	float: right;
	margin: 0;
	padding: 1px 0;
}

.pro-tab_Right .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.pro-tab_Right .resp-tab-content .resp_margin {
	margin-right: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
}

.pro-tab_Right ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	position: relative;
	z-index: 1;
	min-width: 120px;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.pro-tab_Right ul.resp-tabs-list li:first-child {
	border-top: none;
}

.pro-tab_Right ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.pro-tab_Right ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.pro-tab_Right ul.resp-tabs-list li:hover span {
	color: #333;
}

.pro-tab_Right ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
	background-color: #69b532
}

.pro-tab_Right ul.resp-tabs-list li.resp-tab-active span {
	background-color: #69b532;
	margin-left: -16px;
	color: #FFF;
}

.pro-tab_Right h2.resp-accordion,
.pro-tab_Right .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.pro-tab_Right ul.resp-tabs-list {
		display: none;
	}
	.pro-tab_Right h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.pro-tab_Right .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.pro-tab_Right .resp-arrow:empty {
		width: 1em;
	}
	
	.pro-tab_Right .resp-arrow:before {
		content: "\002B";
	}
	
	.pro-tab_Right .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.pro-tab_Right .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.pro-tab_Right .resp-tab-active,
	.pro-tab_Right .resp-tab-active:hover {
		background: #69b532;
	}
	
	.pro-tab_Right .resp-tab-active span {
		color: #FFF;
	}
	
	.pro-tab_Right .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.pro-tab_Right .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.pro-tab_Right .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto ;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.pro-tab_Right .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs top*/

.pro-tab_Top {
	clear: both;
}

.pro-tab_Top:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.pro-tab_Top ul.resp-tabs-list {
	margin: 0;
	padding: 1px 0;
}

.pro-tab_Top .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}

.pro-tab_Top .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .pro-tab_Top .resp-tabs-container {
	display: inline-block
}

.pro-tab_Top .resp-tab-content .resp_margin {
	margin: 15px;
}

.pro-tab_Top ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
	float: left;
	position: relative;
	z-index: 1;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.pro-tab_Top ul.resp-tabs-list li:first-child {
	border-left: 1px solid #e8e8e8;
}

.pro-tab_Top ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.pro-tab_Top ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.pro-tab_Top ul.resp-tabs-list li:hover span {
	color: #333;
}

.pro-tab_Top ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.pro-tab_Top .resp-tab-active,
.pro-tab_Top .resp-tab-active:hover {
	background: none;
}

.pro-tab_Top ul.resp-tabs-list li.resp-tab-active span {
	background-color: #FFF;
	color: #69b532;
}

.pro-tab_Top h2.resp-accordion,
.pro-tab_Top .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.pro-tab_Top ul.resp-tabs-list {
		display: none;
	}
	
	.pro-tab_Top h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 15px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.pro-tab_Top .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.pro-tab_Top .resp-arrow:empty {
		width: 1em;
	}
	
	.pro-tab_Top .resp-arrow:before {
		content: "\002B";
	}
	
	.pro-tab_Top .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.pro-tab_Top .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.pro-tab_Top .resp-tab-active,
	.pro-tab_Top .resp-tab-active:hover {
		background: #69b532;
	}
	
	.pro-tab_Top .resp-tab-active span {
		color: #FFF;
	}
	
	.pro-tab_Top .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.pro-tab_Top .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.pro-tab_Top .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto ;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.pro-tab_Top .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}

/*tabs top*/

.pro-tab_Bottom {
	clear: both;
}

.pro-tab_Bottom:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.pro-tab_Bottom ul.resp-tabs-list {
	margin:-1px 0 0;
	padding: 0;
}

.pro-tab_Bottom .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}

.pro-tab_Bottom .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .pro-tab_Bottom .resp-tabs-container {
	display: inline-block
}

.pro-tab_Bottom .resp-tab-content .resp_margin {
	margin: 15px;
}

.pro-tab_Bottom ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin:0;
	float: left;
	position: relative;
	z-index: 1;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.pro-tab_Bottom ul.resp-tabs-list li:first-child {
	border-left: 1px solid #e8e8e8;
}

.pro-tab_Bottom ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.pro-tab_Bottom ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.pro-tab_Bottom ul.resp-tabs-list li:hover span {
	color: #333;
}

.pro-tab_Bottom ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.pro-tab_Bottom .resp-tab-active,
.pro-tab_Bottom .resp-tab-active:hover {
	background: none;
}

.pro-tab_Bottom ul.resp-tabs-list li.resp-tab-active span {
	background-color: #FFF;
	color: #69b532;
}

.pro-tab_Bottom h2.resp-accordion,
.pro-tab_Bottom .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.pro-tab_Bottom ul.resp-tabs-list {
		display: none;
	}
	
	.pro-tab_Bottom h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.pro-tab_Bottom .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.pro-tab_Bottom .resp-arrow:empty {
		width: 1em;
	}
	
	.pro-tab_Bottom .resp-arrow:before {
		content: "\002B";
	}
	
	.pro-tab_Bottom .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.pro-tab_Bottom .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.pro-tab_Bottom .resp-tab-active,
	.pro-tab_Bottom .resp-tab-active:hover {
		background: #69b532;
	}
	
	.pro-tab_Bottom .resp-tab-active span {
		color: #FFF;
	}
	
	.pro-tab_Bottom .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.pro-tab_Bottom .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.pro-tab_Bottom .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto ;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.pro-tab_Bottom .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}



/*tabs top*/
.pro-tab_Top {
	clear: both;
}
/* pro-tab_Top_1*/
.pro-tab_Top_1 {
	padding-bottom: 15px;
}

.pro-tab_Top_1 ul.resp-tabs-list li,
.pro-tab_Top_1 ul.resp-tabs-list li:hover {
	margin-right: 10px;
	border: 1px solid #d6d6d6;
	border-bottom: none;
}

.pro-tab_Top_1 ul.resp-tabs-list li span,
.pro-tab_Top_1 ul.resp-tabs-list li:hover span {
	padding: 12px 22px;
	font-size: 14px;
	color: #FFF;
}

.pro-tab_Top_1 ul.resp-tabs-list li.resp-tab-active {
	border: 1px solid #d6d6d6;
	border-bottom: none;
}

.pro-tab_Top_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	background-color: #fafafa;
}

.pro-tab_Top_1 .resp-tabs-container {
	border: 1px solid #d6d6d6;
	background-color: #fafafa;
}

.pro-tab_Bottom_1 {
	padding-bottom: 15px;
}

.pro-tab_Bottom_1 ul.resp-tabs-list li,
.pro-tab_Bottom_1 ul.resp-tabs-list li:hover {
	margin-right: 10px;
	border: 1px solid #d6d6d6;
	border-top: none;
}

.pro-tab_Bottom_1 ul.resp-tabs-list li span,
.pro-tab_Bottom_1 ul.resp-tabs-list li:hover span {
	padding: 12px 22px;
	font-size: 14px;
	color: #FFF;
}

.pro-tab_Bottom_1 ul.resp-tabs-list li.resp-tab-active {
	border: 1px solid #d6d6d6;
	border-top: none;
}

.pro-tab_Bottom_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	background-color: #fafafa;
}

.pro-tab_Bottom_1 .resp-tabs-container {
	border: 1px solid #d6d6d6;
	background-color: #fafafa;
}



.pro-tab_Left_1 {
	padding-bottom: 15px;
}

.pro-tab_Left_1 .resp-tabs-container {
	border: 1px solid #d6d6d6;
}

.pro-tab_Left_1 .resp_container .resp_margin {
	padding: 15px 25px;
	margin: 0;
}

.pro-tab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	margin: 0px;
	border: none;
}

.pro-tab_Left_1 ul.resp-tabs-list li {
	border: 1px solid transparent;
	margin: 0 3px 8px 0;
}

.pro-tab_Left_1 ul.resp-tabs-list li span,
.pro-tab_Left_1 ul.resp-tabs-list li:hover span {
	padding: 13px 15px;
	margin: 0px;
	border: none;
	background: none;
	color: #FFF;
}

.pro-tab_Left_1 ul.resp-tabs-list li:first-child {
	border: 1px solid #d6d6d6;
}

.pro-tab_Left_1 ul.resp-tabs-list {
	padding: 0px;
}

.pro-tab_Left_1 ul.resp-tabs-list li.resp-tab-active {
	margin-right: -1px;
	border-right: none;
}

.pro-tab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	display:block;
	padding-right: 4px;
}

.pro-tab_Right_1 {
	padding-bottom: 15px;
}

.pro-tab_Right_1 .resp-tabs-container{
	border: 1px solid #d6d6d6;
}

.pro-tab_Right_1 .resp_container .resp_margin {
	padding: 15px 25px;
	margin: 0;
}

.pro-tab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	margin: 0px;
	border: none;
	background: none;
}

.pro-tab_Right_1 ul.resp-tabs-list li {
	border: 1px solid transparent;
	margin: 0 0 8px 3px;
}

.pro-tab_Right_1 ul.resp-tabs-list li span,
.pro-tab_Right_1 ul.resp-tabs-list li:hover span {
	padding: 13px 15px;
	margin: 0px;
	border: none;
	background: none;
	color: #FFF;
}
.pro-tab_Right_1 ul.resp-tabs-list {
	padding: 0px;
}
.pro-tab_Right_1 ul.resp-tabs-list li:first-child {
	border: 1px solid #d6d6d6;
}

.pro-tab_Right_1 ul.resp-tabs-list li.resp-tab-active {
	margin-left: -1px;
	border-left: none;
	background: #fafafa;
}

.pro-tab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	display:block;
	padding-left:20px;
}


.pro-tab_Top_1 table td,
.pro-tab_Left_1 table td,
.pro-tab_Right_1 table td{
	vertical-align: top;
}

.pro-tab_Top ul.resp-tabs-list li em,
.pro-tab_Top ul.resp-tabs-list li i,
.pro-tab_Top h2.resp-accordion span em,
.pro-tab_Top h2.resp-accordion span i,
.pro-tab_Bottom ul.resp-tabs-list li em,
.pro-tab_Bottom ul.resp-tabs-list li i,
.pro-tab_Bottom h2.resp-accordion span em,
.pro-tab_Bottom h2.resp-accordion span i,
.pro-tab_Left ul.resp-tabs-list li em,
.pro-tab_Left ul.resp-tabs-list li i,
.pro-tab_Left h2.resp-accordion span em,
.pro-tab_Left h2.resp-accordion span i,
.pro-tab_Right ul.resp-tabs-list li em,
.pro-tab_Right ul.resp-tabs-list li i,
.pro-tab_Right h2.resp-accordion span em,
.pro-tab_Right h2.resp-accordion span i {
	margin-right: 5px;
}



@media only screen and (max-width: 768px) {
	.pro-tab_Left .resp-tab-content .resp_margin,
	.pro-tab_Right .resp-tab-content .resp_margin,
	.pro-tab_Top .resp-tab-content .resp_margin,
	.pro-tab_Bottom .resp-tab-content .resp_margin {
		min-height:inherit!important;
	}
	.pro-tab_Left p,
	.pro-tab_Right p,
	.pro-tab_Top p,
	.pro-tab_Bottom p {
		margin-bottom:8px;
	}
}


