﻿ #if($DataList.Count > 0)

<div class="$EffectThemeName">

    <ul>
      #foreach($DataItem in $DataList)
      <li> <a href="${xf.GoUrl($DataItem)}">${xf.ViewContent("Title",$DataItem)}</a> </li>
      #end
    </ul>
    #if(${xf.ViewEffectSetting("EnablePaging","false")} == "true")
        <div class="xblog_page">${Pager}</div>
    #end
   
 </div>  
    
 #end