﻿/* Translucent - Responsive Banner Rotator / Slider | v1.4.1 | (c) 2011-12 Ramesh Kumar | http://codecanyon.net/user/VF */

.Theme_11_Default{
	position: relative;
	margin:0 auto;
	background: #EEEEEE url(images/preloader.gif) center center no-repeat;	
}

.Theme_11_Default .icon {
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
}

.Theme_11_Default .timer_sprite {
	background-image: url(images/timer-sprite.png);
}

.Theme_11_Default .Slides {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
	
.Theme_11_Default .Slide {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #EEEEEE url(images/preloader.gif) center center no-repeat;
}

.Theme_11_Default .Slide img {	
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
	
/* Global Description Style */	
.Theme_11_Default .Slide div {
	z-index:4;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:100;	
	font-size:16px;	
	color:#FFF;
}
	
/*Hyperlink Styles*/
.Theme_11_Default a:link{		
	color:#FFF;
	text-decoration:none;
}
	
.Theme_11_Default a:visited{		
	color:#FFF;
}
	
.Theme_11_Default a:hover{		
	color:#FFF;
	text-decoration:underline;
}
	
.Theme_11_Default a:active{		
	color:#FFF;
}
.Theme_11_Default .Slide > a{
	display:block;
}

.Theme_11_Default .noSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.Theme_11_Default .buttonText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

.Theme_11_Default .buttonTextSizeNormal {
	font-size: 12px;
}

.Theme_11_Default .buttonTextSizeTouch {
	font-size: 16px;
}


.Theme_11_Default .txtCont {
	z-index:4;
	overflow: hidden;
	position:absolute;	
	left: 0px;
	top: 0px;
}
.Theme_11_Default .txtCont p{
	margin:0 0 8px;
}
.Theme_11_Default .txtCont h3{
	color:#FFF;
	margin:0 0 8px;
}


.Theme_11_Default .captionCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

.Theme_11_Default .navHolder {
	position: absolute; 
	-webkit-touch-callout: none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.Theme_11_Default .rounded{ 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 	
	-khtml-border-radius: 2px;
	border-radius: 2px;
}


/* For IE8 and older versions */
.Theme_11_Default .buttonShadow {
	z-index: 1;
	position: absolute;
	background-color: #000000;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=10);
}

.Theme_11_Default .buttonAlpha {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=35);
}

.Theme_11_Default .buttonTopBot {
	z-index: 3;
	position: absolute;
	left: 1px;
	right: 1px;
	top: 0px;
	height: 100%;
	filter: alpha(opacity=100);
}

.Theme_11_Default .buttonCent {
	z-index: 4;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	filter: alpha(opacity=100);
}

