/* Unoslider container */
.Theme_12_Panel {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Panel img{
  max-width: 100%;
}

.Theme_12_Panel li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Panel .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Panel .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Panel .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Panel .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Panel .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Panel .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Panel .unoslider_caption a
{
  text-decoration:underline;
  color:#fff;
}



/* Hand cursor over navigation elements */
.Theme_12_Panel .unoslider_navigation {
  cursor: pointer;
}

/* container which contains navigation and indicator */
.Theme_12_Panel .unoslider_navigation_container {
  background: #e0e0e0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(100%, #d3d3d3));
  background: -webkit-linear-gradient(#efefef, #d3d3d3);
  background: -moz-linear-gradient(#efefef, #d3d3d3);
  background: -o-linear-gradient(#efefef, #d3d3d3);
  background: -ms-linear-gradient(#efefef, #d3d3d3);
  background: linear-gradient(#efefef, #d3d3d3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  width: 40%;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -20%;
  z-index: 4;
}

/* Tooltip panel */
.Theme_12_Panel .unoslider_caption {
  position: absolute;
  bottom: 40px;
  left: 10px;
  line-height: 30px;
  padding: 5px 10px 5px 10px;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  background-color: #111111;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: #dbdbdb;
  font-size: 14px;
}

/* play, pause, previous and next elements */
.Theme_12_Panel .unoslider_pause, 
.Theme_12_Panel .unoslider_play, 
.Theme_12_Panel .unoslider_left, 
.Theme_12_Panel .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("panel.png") no-repeat;
}

/* play and pause elements */
.Theme_12_Panel .unoslider_pause, 
.Theme_12_Panel .unoslider_play {
  height: 17px;
  width: 15px;
  margin-top: -8.5px;
  margin-left: -7.5px;
  top: 50%;
  left: 40px;
}

/* previous and next elements */
.Theme_12_Panel .unoslider_left, 
.Theme_12_Panel .unoslider_right {
  width: 18px;
  height: 25px;
  margin-top: -12.5px;
  top: 50%;
}

/* previous */
.Theme_12_Panel .unoslider_left {
  background-position: -21px -21px;
  left: 5px;
}

/* next */
.Theme_12_Panel .unoslider_right {
  background-position: 0px -21px;
  right: 5px;
}

/* pause */
.Theme_12_Panel .unoslider_pause {
  background-position: 0px 0px;
}

/* play */
.Theme_12_Panel .unoslider_play {
  background-position: -24px 0px;
}

/* bullet indicator */
.Theme_12_Panel .unoslider_indicator {
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 26%;
  margin-left: -13%;
  text-align: center;
}
.Theme_12_Panel .unoslider_indicator a {
  font-size:0px;
  line-height:0px;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  margin: 3px;
  width: 15px;
  height: 15px;
  background-color: black;
  background: url("panel.png") no-repeat;
  background-position: 0 -50px;
}
.Theme_12_Panel .unoslider_indicator a {
  *display: inline;
}
.Theme_12_Panel .unoslider_indicator a.unoslider_indicator_active {
  background-position: -16px -50px;
}
