.XBD_Effect_06_Default .accordion-header{
	margin: 0;
	font-size: 15px;
	color: #777;
	cursor: pointer;
	border: solid 1px #dddddd;
	background: #f5f5f5;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	border-radius: 4px;
	position:relative;
}
.XBD_Effect_06_Default .accordion-header:hover{
	background: #f0f0f0;
}
.XBD_Effect_06_Default .accordion-header span.title{
	display: inline-block;
	margin-left: 8px;
	padding: 12px 0 13px 3px;
}
.XBD_Effect_06_Default .accordion-header i{
	display: block;
	float: left;
	font-size: 20px;
	margin-left: 12px;
	margin-top: 9px;
	margin-top: 7px \9;
}
.XBD_Effect_06_Default .accordion-header:before{
	content:"";
	position:absolute;
	top:50%;
	right:15px;
	width:5px;
	height:5px;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid transparent;
	border-top:1px solid transparent;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	margin-top:-6px;
}
.XBD_Effect_06_Default .accordion-header.opened.focus:before{
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	margin-top:-1px;
}

.XBD_Effect_06_Default .accordion-content{
	display: none;
	padding: 20px 15px 20px;
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
}
.XBD_Effect_06_Default .accordion-item{
	margin-bottom:8px;
}
.XBD_Effect_06_Default .thumbnail {
	border:1px solid #efefef;
	padding:3px;
	margin-bottom:10px;
	display:inline-block;
	max-width:100%;
}
.XBD_Effect_06_Default .thumbnail img {
	max-width:100%;
}
.XBD_Effect_06_Default .clear {
	clear:both;
}
/* header focus style
-----------------------------*/
.XBD_Effect_06_Default .focus,.XBD_Effect_06_Default  .focus:hover{
	color: #666;
	background: #eeeeee;
	border-color: #dddddd;
}
.XBD_Effect_06_Default .opened{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}



.XBD_Effect_06_Default{
	margin:0;
	padding:0;
	list-style:0;
}
.XBD_Effect_06_Default .useravatar {
	width:80px;
	border:1px solid #e3e3e3;
	padding:2px;
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
}
.XBD_Effect_06_Default .useravatar img{
	max-width:100%;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	vertical-align:middle;
}

.XBD_Effect_06_Default .title {
	font-size:16px;
	font-weight:bold;
}
.XBD_Effect_06_Default .info {
	margin:0;
	padding:0;
	list-style:none;
}
.XBD_Effect_06_Default .info li{
	margin:0;
	padding:0;
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
.XBD_Effect_06_Default .content{
	margin-bottom:8px;
}
.XBD_Effect_06_Default .category a{
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:8px;
}
