/*popup menu*/



.popup-menu2.active{
	visibility: visible;
	opacity: 1;	
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.popup-menu2.show {
    display: flex;
}
.popup-menu2 {
	-webkit-transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	visibility: hidden;
	opacity: 0; 
	-webkit-transform: translateY(-200px);
	transform: translateY(-200px);
	z-index: 1005;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #2c5cda;
	padding:0 40px;
	min-height: 100vh;
	text-align: left;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.popup-menu2 h1,
.popup-menu2 h2,
.popup-menu2 h3,
.popup-menu2 h4,
.popup-menu2 h5,
.popup-menu2 h6,
.popup-menu2 a{
	color: #fff;
}


.popup-menu2 .gomenu > ul {
	padding:0;
	margin: 0px;
	list-style: none;
	width: 100%;
}
.popup-menu2 .gomenu > ul:after{
	content: "";
	clear: both;
	overflow: hidden;
	display: block;
}
.popup-menu2 .gomenu > ul > li {
	float: left;
	width: 25%;
	padding: 40px 0;
}

.popup-menu2 .gomenu > ul > li:nth-child(4n+1) {
	clear: both;
}
.popup-menu2 .gomenu > ul > li.last-content{
	float: right;
}
.popup-menu2 .gomenu > ul a{
	color: #fff;
	font-weight: 600;
	transition: color 300ms ease-in-out;
}
.popup-menu2 .gomenu > ul a:hover,
.popup-menu2 .gomenu > ul li.current > a,
.popup-menu2 .gomenu > ul li:hover > a{
	text-decoration: none;
}
.popup-menu2 .gomenu > ul ul ul a,
.popup-menu2 .gomenu > ul ul ul a:link{
	color: #787878;
}

.popup-menu2 .gomenu > ul > li.dir > ul{	
	padding: 0;
	margin: 0;
}
.popup-menu2 .menu_arrow {
	display: none;
}

.popup-menu2 .gomenu > ul > li > a{
	font-size: 32px;
	font-weight: 600;
	margin:0 0 13px;
	display: inline-block;
}

.popup-menu2 .gomenu > ul > li > ul > li > a{
	font-size: 16px;
	display: block;
	padding-right: 30px;
	opacity: .8;
	-webkit-transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}
.popup-menu2 .gomenu > ul > li > ul > li > a:hover{
	opacity: 1;
}

.popup-menu2 .gomenu > ul li {
	position: relative;
	list-style: none;
}
.popup-menu2 .gomenu > ul > li > ul > li{
	margin: 0 30px 10px 0;
	position: relative;
}	
.popup-menu2 .gomenu > ul > li > ul > li.dir > a:after{
	content: "";
	width: 9px;
	height: 9px;
	border-top:1px solid currentColor;
	border-right:1px solid currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
    right: 2px;
    top: 50%;
	margin-top: -5px;
	backface-visibility: hidden;
}
.popup-menu2 .gomenu > ul > li > ul > li.dir > a::before{
	content: "";
	width: 0px;
	border-bottom: 1px solid currentColor;
	position: absolute;
    right: 2px;
    top: 50%;
	margin-top: -1px;
	transition: width 300ms ease-in-out;
}
.popup-menu2 .gomenu > ul > li > ul > li.current > a::before,
.popup-menu2 .gomenu > ul > li > ul > li:hover > a::before{
	width: 28px;
}
.popup-menu2 .gomenu > ul li li.dir ul{
	position: absolute;
	left: 100%;
	top: -26px;
	padding:25px 0px;
	margin-left: 30px;
	background-color: #0f44d3;
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	transition-delay: 200ms;
	z-index: 100;
	min-width: 250px;
}	

.popup-menu2 .gomenu > ul li li.dir:hover > ul{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}	

.popup-menu2 .gomenu > ul li li.dir ul li{
	padding: 0 30px;
	margin-bottom: 7px;
}
.popup-menu2 .gomenu > ul li li.dir ul a{
	white-space:nowrap;
	position: relative;
	padding-right: 30px;
	display: block;
}
.popup-menu2 .gomenu > ul li li.dir ul li.dir > a:after{
	content: "";
	width: 9px;
	height: 9px;
	border-top:1px solid currentColor;
	border-right:1px solid currentColor;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
    right: 2px;
    top: 50%;
	margin-top: -5px;
	backface-visibility: hidden;
}
.popup-menu2 .gomenu > ul li li.dir ul li.dir > a::before{
	content: "";
	width: 0px;
	border-bottom: 1px solid currentColor;
	position: absolute;
    right: 2px;
    top: 50%;
	margin-top: -1px;
	transition: width 300ms ease-in-out;
}
.popup-menu2 .gomenu > ul li li.dir ul li.dir.current > a::before,
.popup-menu2 .gomenu > ul li li.dir ul li.dir:hover > a::before{
	width: 28px;
}

.popup-menu2 .gomenu > ul li li.dir ul{
	color: #787878;
}



.popup-menu2 .last-content,
.popup-menu2 .last-content p{
	line-height: 1.8;
}


.popup-menu2 .menu-close{
    width: 27px;
    height: 27px;
    position: absolute;
    top: 36px;
    left: 36px;
    cursor: pointer;
}
.popup-menu2 .menu-close::after,
.popup-menu2 .menu-close::before{
    content: "";
    width: 27px;
    border-top: 2px solid currentColor;
    position: absolute;
    top: 50%;
    left: 0px;
}
.popup-menu2 .menu-close::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popup-menu2 .menu-close::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.personalBarContainer ~ .popup-menu2 .menu-close{
	left: 150px;
}

