﻿<div class="pro-tab_${xf.ViewXmlSetting("tabLayout","Left")}  pro-tab_${xf.ViewXmlSetting("tabLayout","Left")}_1 $ThemeName"  id="tabposition_${ModuleID}" data-id="${ModuleID}">
  #if(${xf.ViewXmlSetting("tabLayout","Left")} !="Bottom")
  <ul class="resp-tabs-list">
    #if($SliderList.Count > 0) 
        #foreach($SliderItem in $SliderList)
            <li>
                <span>${xf.ViewSliderSetting($SliderItem,"Title","")}</span>
            </li>
        #end
    #end
  </ul>
  #end
  <div class="resp-tabs-container">
   #if($SliderList.Count > 0) 
        #foreach($SliderItem in $SliderList)
         #set( $index = ${velocityCount} - 1 )
        <div class="resp_container" id="tab_item-${ModuleID}-${index}">
          <div class="resp_margin">${xf.ViewSliderSetting($SliderItem,"ContentHtml","")}</div>
        </div>
        #end
    #end
  </div>
  #if(${xf.ViewXmlSetting("tabLayout","Left")} =="Bottom")
  <ul class="resp-tabs-list">
    #if($SliderList.Count > 0) 
        #foreach($SliderItem in $SliderList)
            <li>
                <span>${xf.ViewSliderSetting($SliderItem,"Title","")}</span>
            </li>
        #end
    #end
  </ul>
  #end
<style type="text/css">
	#tabposition_${ModuleID} .resp-tabs-list li,
	#tabposition_${ModuleID} .resp-tab-active, 
	#tabposition_${ModuleID} .resp-tab-active:hover{
		background-color:${xf.ViewXmlSetting("tabTitleBgColor","#ed474a")};
	}
	#tabposition_${ModuleID} .resp-tabs-container {
		border-color:${xf.ViewXmlSetting("tabBorderColor","#d6d6d6")};
		background-color:${xf.ViewXmlSetting("tabBackgroundColor","#fafafa")};
		color:${xf.ViewXmlSetting("tabContentColor","#2e2e2e")};
	}
	#tabposition_${ModuleID} ul.resp-tabs-list li,
	#tabposition_${ModuleID} ul.resp-tabs-list li:hover{
		border-color:${xf.ViewXmlSetting("tabTitleBgColor","#ed474a")};
	}
	#tabposition_${ModuleID} ul.resp-tabs-list li.resp-tab-active{
		border-color:${xf.ViewXmlSetting("tabBorderColor","#d6d6d6")};
	}
	#tabposition_${ModuleID} ul.resp-tabs-list li.resp-tab-active span {
		color:${xf.ViewXmlSetting("tabtitleColor","#2e2e2e")}!important;
		background-color:${xf.ViewXmlSetting("tabBackgroundColor","#fafafa")};
	}
	@media only screen and (max-width: 768px) {
		#tabposition_${ModuleID} h2.resp-accordion{
			border:none;
			border-top:1px solid ${xf.ViewXmlSetting("tabBorderColor","#d6d6d6")};
		}	
		#tabposition_${ModuleID} .resp-tabs-container{
			border-top:none;
		}
		#tabposition_${ModuleID} .resp-accordion{
			color:${xf.ViewXmlSetting("tabtitleColor","#2e2e2e")}
		}
		#tabposition_${ModuleID} .resp-accordion:hover{
			color:#FFF;
			background-color:${xf.ViewXmlSetting("tabTitleBgColor","#ed474a")};
		}
		#tabposition_${ModuleID} .resp-tab-content{
			border:none;
		}
		
	}
	
</style>

</div>