
/* -----------------------------------
 TIMELINE FLAT PORTFOLIO 
 ---------------------------------- */

.timelineFlat.timelineFlatPortfolio .item .read_more {
	margin-top:20px;
}

.timelineFlat.timelineFlatPortfolio .item,
.timelineFlat.timelineFlatPortfolio .back {
	height: 427px;
}

/* -----------------------------------
 TIMELINE FLAT BLOG 
 ---------------------------------- */
.timelineFlat.timelineFlatBlog .item,
.timelineFlat.timelineFlatBlog .back {
	height: 338px;
}

.timelineFlat.timelineFlatBlog .item .post_date {
	background: #dd5555;
	color: #ffffff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: -34px 18px 0 0;
	float: right;
	position: relative;
	z-index: 2;
}

.timelineFlat.timelineFlatBlog .item .post_date span {
	display: block;
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
}


/* -----------------------------------
 TIMELINE FLAT BASE DESIGN
 ---------------------------------- */

.timelineFlat {
	display:none;
}
.timelineLoader {
	width:100%;
	text-align:center;
	padding:150px 0;
	background:url('images/loadingAnimation.gif') no-repeat center center ;
}


/* fixed line holder */
.timelineFlat .timeline_line {
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
}

/* full (including months that are not shown) line holder */
.timelineFlat .t_line_holder {
	padding: 10px 0 0 0;
	height:80px;
	position:relative;
}
.timelineFlat .t_line_holder:before{
	content:"";
	position:absolute;
	top:49px;
	left:0;
	width:100%;
	border-top:2px solid #e6e6e6;
}

/* 2 months are stored in one view */
.timelineFlat .t_line_view {
	height:20px;
	width:900px;
}



/* holder for 1 month (constist of nodes and month caption) - we use borders to separate months thats why it has width 2px less then 50% */
.timelineFlat .t_line_m {
	margin-top:35px;
	height:10px;
	border-left:1px solid transparent;
	border-right:1px solid #b7b6b6;
	width:448px;
}

/* month on the right side - has left set at 459 so border would overlap border from first element (to evade duplicated borders) */
.timelineFlat .t_line_m.right {
	left:449px;
	width:449px;
	border-left:1px solid #b7b6b6;
	border-right:1px solid transparent;
}

/* month caption */
.timelineFlat h4.t_line_month {
	font-size: 12px;
	margin:-30px 0 0;
	color:#b7b6b6;
}


/* node on the timeline */
.timelineFlat a.t_line_node {
	text-decoration:none;
	padding:38px 0 4px;
	height:10px;
	font-size:12px;
	top:-25px;
	position: relative;
	color:#b7b6b6;
}
.timelineFlat a.t_line_node:after {
	content: "";
	border-radius: 22px;
	height: 10px;
	width: 10px;
	border: 2px solid #ffffff;
	position: absolute;
	top: 23px;
	left: 50%;
	margin: 0 0 0 -7px;
	background:#dd5555;
}
.timelineFlat a.t_line_node.active {
	color:#dd5555;
}

.timelineFlat a.t_line_node.active:after {
	border: 2px solid #b7b6b6;
}

/* node description */
.timelineFlat .t_node_desc {
	white-space: normal !important;
	top:-50px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 50%;
	color:#fff;
	display: inline-block !important;
	position: relative;
	transition:top 200ms, opacity 500ms;
	-webkit-transition:top 200ms, opacity 500ms;
	-moz-transition:top 200ms, opacity 500ms;
}

.timelineFlat a.t_line_node:hover .t_node_desc {
	top:0;
	opacity: 1;
	filter: alpha(opacity=100);
}

.timelineFlat .t_node_desc span {
	white-space: nowrap;
	margin-left: -50%;
	margin-right: 50%;
	margin-top: -16px;
	display: block !important;
	padding:8px;
	border-radius: 3px;
	background: #dd5555;
	position: relative;
}
.timelineFlat .t_node_desc span:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	bottom: -10px;
	border:5px solid transparent;
	border-top:5px solid #dd5555;
	left:50%;
	margin-left: -5px;
}


.timelineFlat #t_line_left,
.timelineFlat #t_line_right {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor:pointer;
	top:39px;
	width:14px;
	height:21px;
	font-size: 21px;
	color: #b7b6b6;
	position: relative;
}

.timelineFlat #t_line_left:hover,
.timelineFlat #t_line_right:hover {
	color: #dd5555;
}

/* line arrow left */
.timelineFlat #t_line_left {
	left:-30px;
}
.timelineFlat #t_line_left:after {
	content: "\f104";
	position: absolute;
	right: 0;
	top:0;
}


/* line arrow right */
.timelineFlat #t_line_right {
	right:-30px;
}
.timelineFlat #t_line_right:after {
	content: "\f105";
	position: absolute;
	left: 0;
	top:0;
}

.timelineFlat {
	display:none;
}

.timeline_items_wrapper {
	position: relative;
	width: 100%;
	margin: 10px 0;
}

/* items container */
.timelineFlat .timeline_items {
	padding:0;
}

/* single item (margines set from javascript) */
.timelineFlat .item {
	width:410px;
	height:450px;
	color:#777777;
	position: relative;
}
.timelineFlat .item.item_node_hover:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #dd5555;
	width: 100%;
	z-index: 2;
	top:0;
	left:0;
}
.timelineFlat .item.item_node_hover:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	z-index: 2;
	top:0;
	left:50%;
	margin: 4px 0 0 -6px;
	border: 6px solid transparent;
	border-top: 6px solid #dd5555;
	
}
.timelineFlat .item{
	position:relative;
}
.timelineFlat .item .front,
.timelineFlat .item .back{
	background:#eaeaea; 
	transition: 		all ease 500ms;
	-moz-transition: 	all ease 500ms; /* Firefox 4 */
	-webkit-transition: all ease 500ms; /* Safari and Chrome */
	-o-transition: 		all ease 500ms; /* Opera */
	-ms-transition: 	all ease 500ms; /* IE9? */
}
.timelineFlat .item .front {
	position: relative;
	z-index: 0;
	color: #444;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.timelineFlat .item .back {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	z-index: -2;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.timelineFlat .item.active .front {
	background-color: #FFF;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.timelineFlat .item.active .back {
	z-index: 3;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
}



/* ----- content - non-plugin elements ----- */
.timelineFlat .item img {
	margin-top:0;
	width:100%;
}

.timelineFlat .item .front h2 {
	padding: 20px 20px 10px;
	margin: 0;
	font-size:16px;
	color: #dd5555;
	
}
.timelineFlat .item .front span{
	display:block;
	margin:0px 20px 10px;
}
.timelineFlat .item .read_more {
	padding:10px;
	font-size:12px;
	float:left;
	color:#ffffff;
	cursor:pointer;
	margin: 0 20px 20px;
	border-radius: 3px;
	transition:background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}
.timelineFlat .item .read_more:hover {
}
/* ----------------------------------------- */

/* item details (margines set from javascript) */
.timelineFlat .back {
	width:100%;
	height:100%;
	background:#eaeaea;
	position:absolute;
	top:0;
	left:0;
	color:#777777;
	z-index:-1;
}

.timelineFlat .back h2 {
	margin:0 0 10px;
	padding-top:0;
	color: #dd5555;
}

/* item details content wrapper (used for animation - shuld have same width as .back) */
.timelineFlat .back_cwrapper {
	width:410px;
	height:100%;
}

.timelineFlat .back_content {
	display:block;
	margin:20px 18px 20px 20px;
	position:relative;
	height:100%;
}

.timelineFlat .back_content .ajaxloader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -100px;
	
}

/* ----- content - non-plugin elements ----- */
.timelineFlat .timeline_open_content {
	padding:20px;
}
.timelineFlat .mCSB_container {
	margin-right: 16px;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar  {
	background: #dd5555;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	color:#f75f5f;
}
.timelineFlat .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
	background: #aaaaaa;
}
.timelineFlat .mCustomScrollBox > .mCSB_scrollTools {
	width: 8px;
}
.timelineFlat .back .t_close {
	position:absolute;
	top:20px;
	right:20px;
	padding:0 2px 2px 2px;
	width: 12px;
	height: 12px;
	font-size:16px;
	line-height: 12px;
	color: #dd5555;
	cursor:pointer;
	z-index:2;
	text-align: center;
	transition:color 300ms;
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
}
.timelineFlat .back .t_close:hover {
	color:#f75f5f;
}
/* ----------------------------------------- */

/* left/right controles */
.timelineFlat .t_controles {
	margin:0;
}

.timelineTouch.timelineFlat .t_left,
.timelineTouch.timelineFlat .t_right {
	display: none;
}

.timelineFlat:hover .t_left,
.timelineFlat:hover .t_right {
	opacity: 1;
	filter: alpha(opacity=100);
	display: block;
}

.timelineFlat .t_left,
.timelineFlat .t_right {
	position: absolute;
	display:block;
	height:100%;
	width:75px;
	margin:0;
	cursor:pointer;
	top:0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);	
	transition:background-color 300ms, opacity 300ms;
	-webkit-transition: background-color 300ms, opacity 300ms;
	-moz-transition: background-color 300ms, opacity 300ms;
}
.timelineFlat .t_left{
	left:0;
}
.timelineFlat .t_right{
	right:0;
}
.timelineFlat .t_left:before,
.timelineFlat .t_right:before{
	content: "\f104";
    position: absolute;
    right: 0;
    top: 0;
    font-family: FontAwesome;
	font-size:88px;
	position:absolute;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	text-align:center;
	line-height:80px;
	margin:-40px 0 0 -40px;
	color:#FFF;
	opacity:0.8;
	filter: alpha(opacity=80);	
}
.timelineFlat .t_right:before{
	content: "\f105";
}
.timelineFlat .t_left,  
.timelineFlat .t_left:hover:active,
.timelineFlat .t_right, 
.timelineFlat .t_right:hover:active{
	background: rgba(0,0,0, 0.2);
}

.timelineFlat .t_left:hover,
.timelineFlat .t_right:hover {
	background: rgba(0,0,0, 0.3);
}




/* -----------------------------------------------------------------------*/
/* ------------------------------ RESPONSIVE -----------------------------*/
/* -----------------------------------------------------------------------*/



/* --- 768px --- */
@media screen and (max-width:980px) {
	.timelineFlat .timeline_line {
		width:80%;
	}
	
	.timelineFlat .t_line_view {
		width:680px;
	}
	
	.timelineFlat .t_line_m {
		width: 338px;
	}
	.timelineFlat .t_line_m.right {
		left: 339px;
		width: 339px;
	}
}


/* --- 610px --- */
@media screen and (max-width:767px) {
	
	.timelineFlat .timeline_line {
		width:80%;
	}
	
	.timelineFlat .t_line_view {
		width:1060px;
	}
	
	.timelineFlat .t_line_m {
		width: 528px;
	}
	.timelineFlat .t_line_m.right {
		left: 530px;
		width: 528px;
	}
	
	.timelineFlat .t_line_node span {
		
	}
	.timelineFlat .t_node_desc {
		font-size:8px;
	}
	.timelineFlat .t_line_m.right .t_node_desc {
		right:auto;
		left:0;
	}
}



/* --- 300px --- */
@media screen and (max-width:609px) {
	.timelineFlat .timeline_line {
		width:80%;
	}
	
	.timelineFlat .t_line_view {
		width:480px;
	}
	
	.timelineFlat .t_line_m {
		width: 238px;
	}
	.timelineFlat .t_line_m.right {
		left: 240px;
		width: 238px;
	}
	
}


/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:block;
	position:relative;
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	top:100%;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
	/* 
	sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;
	/* 
	sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
	/* 
	sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
	/* 
	sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
	*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}
/*light-2*/
.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-32px 0;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-32px -20px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-40px -40px;
}
.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-40px -56px;
}
/*dark-2*/
.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-112px 0;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-112px -20px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-120px -40px;
}
.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-120px -56px;
}
/*light-thick*/
.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-16px 0;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-16px -20px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-20px -40px;
}
.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-20px -56px;
}
/*dark-thick*/
.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
	width:4px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:6px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:4px;
	margin:6px 0;
}
.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:6px;
	margin:5px auto;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-96px 0;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-96px -20px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-100px -40px;
}
.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-100px -56px;
}
/*light-thin*/
.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.1);
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
/*dark-thin*/
.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.15);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:2px;
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.75);
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
}
.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:2px;
	margin:7px auto;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(0,0,0,0.85);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.9);
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
	background-position:-80px 0;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
	background-position:-80px -20px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:-80px -40px;
}
.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
	background-position:-80px -56px;
}

.Theme_17_Default .date-tip-box {
	position:relative;
	margin:0;
	height:0;
	padding:0;
}
.Theme_17_Default  .date-tip-box .date-tip {
	position:absolute;
	top:0;
	right:15px;
	width:65px;
	height:65px;
	margin-top:-33px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	font-size:12px;
}
.Theme_17_Default .date-tip-box .date-tip span{
	margin:0;
	padding:0;
	display:block;
	margin-top:14px;
	font-size:20px;
	margin-bottom:3px;
	line-height:1;
}









