.Theme_20_Default_02 {
	position:relative;
}
.Theme_20_Default_02 .pro-pricing-item{
	position:relative;
}
.Theme_20_Default_02 .pro-pricing-box{
	background-color:#FFF;
	border:2px solid #07c6f5;
	color:#333;
	position:static;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.Theme_20_Default_02 .pro-pricing-box:hover{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.Theme_20_Default_02 .pro-pricing-box.shadow{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.Theme_20_Default_02 .proprice_holder{
	border-top:none;
	margin:0;

}
.Theme_20_Default_02 .proprice_title{
	border:none;
	padding:28px 20px 28px ;
}
.Theme_20_Default_02 .proprice_title h2{
	color:#333333;
	font-size:20px;
	margin:0;
	font-weight:normal;
	text-align:center;
}
.Theme_20_Default_02 .proprice_box {
    padding: 0px 20px 20px;
	border-color:#dddddd;
	text-align:center;
}
.Theme_20_Default_02 .proprice_proprice{
	display:inline-block;
	width:150px;
	height:150px;
	background-color:#07c6f5;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	color:#FFF;
	text-align:center;
}
.Theme_20_Default_02 .proprice{
	font-size:40px;
}
.Theme_20_Default_02 .sup{
	vertical-align:bottom;
    font-size: 28px;
    line-height: 34px;
	display:inline-block;
	margin-top:48px;
}
.Theme_20_Default_02 .unit {
	display:block;
	font-size:16px;
	padding-top:10px;
}
.Theme_20_Default_02 .proprice_description{
	padding:20px;
}

.Theme_20_Default_02 .proprice_info{
	margin:0;
	padding:0;
}
.Theme_20_Default_02 .proprice_info li{
	list-style:none;
	padding:12px 20px;	
}
.Theme_20_Default_02 .buybtn a {
	color: #FFF;
	display:inline-block;
	margin:30px 0;
	position: relative;
	font-size: 15px;
	padding:20px 50px;
	background-color:#20a3f0;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	white-space:nowrap;
}
.Theme_20_Default_02 .buybtn a:hover {
	background-color:#525252!important;
}
.Theme_20_Default_02 .markerBox{
	width:100%;
	height:75px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.Theme_20_Default_02 .marker{
	right: -22px;
    top: 16px;
	padding:0px 8px;
	height:22px;
	line-height:23px;
	font-size:12px;
	width:100px;
	text-align:center;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform-origin:center center;
	-webkit-transform-origin:center center;
	z-index:12;
}

.Theme_20_Default_02 .pro-pricing-item.best{
	z-index:10;
	position:relative;
	margin-top:-14px;
}
.Theme_20_Default_02 .best .proprice_title{
	padding:35px 20px;
}
.Theme_20_Default_02 .buybtn {
	padding:0 20px;
	text-align:center;
	line-height:1.2;
}
.Theme_20_Default_02 .best .buybtn a{
	margin:37px 0 45px;
}

@media only screen and (max-width: 767px) {
.Theme_20_Default_02 .best .proprice_title{
	margin-top:0px;
}

}


/*Display Left Header*/

.Theme_20_Default_02.pro-pricing-show-info .proprice_title,
.Theme_20_Default_02.pro-pricing-show-info .proprice_box,
.Theme_20_Default_02.pro-pricing-show-info .proprice_description,
.Theme_20_Default_02.pro-pricing-show-info .proprice_info li,
.Theme_20_Default_02.pro-pricing-show-info .buybtn{
	position:relative;
}
.Theme_20_Default_02.pro-pricing-show-info .title-info,
.Theme_20_Default_02.pro-pricing-show-info .proprice-info,
.Theme_20_Default_02.pro-pricing-show-info .description-info,
.Theme_20_Default_02.pro-pricing-show-info .proprice_info .proprice_info-info,
.Theme_20_Default_02.pro-pricing-show-info .buybtn-info{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	bottom:0;
	display:none;
}
.Theme_20_Default_02.pro-pricing-show-info .title-info:before,
.Theme_20_Default_02.pro-pricing-show-info .proprice-info:before,
.Theme_20_Default_02.pro-pricing-show-info .description-info:before,
.Theme_20_Default_02.pro-pricing-show-info .buybtn-info:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Theme_20_Default_02.pro-pricing-show-info .proprice-info,
.Theme_20_Default_02.pro-pricing-show-info .description-info{
	font-size:20px;
	font-weight:bold;
	line-height:1.2;
	white-space:nowrap;
}
.Theme_20_Default_02.pro-pricing-show-info .proprice_info .proprice_info-info{
	font-weight:bold;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .pro-pricing-box{
	background-color:#F3F3F3;
	border-left:none;
	border-right:none;
	border-top-color:transparent!important;
	border-bottom-color:transparent!important;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .markerBox,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_title h2,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_box .proprice_proprice,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_description .description,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_info .list_info,
.Theme_20_Default_02.pro-pricing-show-info .copy .buybtn a{
	visibility:hidden;
	opacity:0;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .title-info,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice-info,
.Theme_20_Default_02.pro-pricing-show-info .copy .description-info,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_info .proprice_info-info,
.Theme_20_Default_02.pro-pricing-show-info .copy .buybtn-info{
	display:block;
	text-align:right;
	padding:0 20px;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice-info,
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_info li:nth-child(odd){
	background-color:#ECECEC

}

.Theme_20_Default_02.pro-pricing-show-info .copy .title-info{
	border-top:none;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .buybtn-info{
	border-bottom:none;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .title-info img{
	max-height:80%;
	vertical-align:middle;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .proprice_info .proprice_info-info{
	padding:12px 20px;	
	font-weight:bold;
}
.Theme_20_Default_02.pro-pricing-show-info .copy .buybtn-info {
	font-weight:bold;
	font-size:16px;
}

.Theme_20_Default_02.numbercolumns-1 .copy{
	display:none;
}
.Theme_20_Default_02.numbercolumns-1.pro-pricing-show-info .title-info,
.Theme_20_Default_02.numbercolumns-1.pro-pricing-show-info .proprice-info,
.Theme_20_Default_02.numbercolumns-1.pro-pricing-show-info .description-info,
.Theme_20_Default_02.numbercolumns-1.pro-pricing-show-info .proprice_info .proprice_info-info{
	position:static;
	padding:0 0 10px;
	border:none;
	background:none;
	text-align:inherit;
	display:block;
}
.Theme_20_Default_02 .proprice_proprice{
	line-height:1;
}
.Theme_20_Default_02 a:hover{
	text-decoration:none;
}

@media only screen and (min-width: 1200px) {
	.Theme_20_Default_02.numberLarge-1 .copy{
		display:none;
	}
	.Theme_20_Default_02.numberLarge-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_02.numberLarge-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_02.numberLarge-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_02.numberLarge-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Theme_20_Default_02.numbertablet-1 .copy{
		display:none;
	}
	.Theme_20_Default_02.numbertablet-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_02.numbertablet-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_02.numbertablet-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_02.numbertablet-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (max-width: 767px) {
	.Theme_20_Default_02.numberphone-1 .copy{
		display:none;
	}
	.Theme_20_Default_02.numberphone-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_02.numberphone-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_02.numberphone-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_02.numberphone-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
