﻿<!-- use jssor.slider.min.js instead for release -->
<!-- jssor.slider.min.js = (jssor.js + jssor.slider.js) -->
<!-- Jssor Slider Begin -->
<!-- You can move inline styles to css file or css block. -->
 
#set( $ThumbnailPosition = ${xf.ViewXmlSetting("ThumbnailPosition","FloatRight")}	)
#set( $sliderWidth		 = ${xf.ViewXmlSetting("sliderWidth",900)}					)
#set( $sliderHeight		 = ${xf.ViewXmlSetting("sliderHeight",600)}					)
#set( $ThumbnailShow	 = ${xf.ViewXmlSetting("ThumbnailShow","true")}				)
#set( $ThumbnailWidth	 = ${xf.ViewXmlSetting("ThumbnailWidth","240")}				) 
#set( $ThumbnailStyle	 = ${xf.ViewXmlSetting("ThumbnailStyle","thumbsytle_2")}	) 


#if( $ThumbnailPosition == "Right" && $sliderWidth || $ThumbnailPosition == "Left" && $sliderWidth )  
    #set( $sliderWidth2 = $sliderWidth - $ThumbnailWidth ) 
#else
    #set( $sliderWidth2 = $sliderWidth  )
#end

#if( ${ThumbnailPosition} == "Left" && ${ThumbnailShow}=="true") 
    #set( $marginLeft	 = $ThumbnailWidth )
#else
    #set( $marginLeft	 = 0 )
#end



<div id="slider${ModuleID}_container"  class="jssorSlider $ThumbnailPosition $ThemeName" style="width:${sliderWidth}px; height:${sliderHeight}px "> 
  <!-- Loading Screen -->
  #if($SliderList.Count > 0) 
  <div u="loading" class="loading">
    <div class="bg"> </div>
    <div class="ico"> </div>
  </div>
  #end
  <!-- Slides Container --> 
  <div u="slides" class="slides" style="height:${sliderHeight}px; width:${sliderWidth2}px ; margin-left:${marginLeft}px ;  ">
      #if($SliderList.Count > 0) 
      #foreach($SliderItem in $SliderList)
  
            #set( $SliderType	 = ${xf.ViewSliderSetting($SliderItem,"SliderType","Picture")}	) 
            #set( $Picture	 	 = ${xf.PictureUrl($SliderItem,"Picture","")}					) 
            #set( $index		 = ${velocityCount} - 1											)
            
            #if( ${xf.ViewSliderSetting($SliderItem,"EnableSingleSetting","false")} == "true") 
              #set( $ContentpositionX	 = ${xf.ViewSliderSetting($SliderItem,"ContentpositionX","Xleft")}		) 
              #set( $ContentSpacingX	 = ${xf.ViewSliderSetting($SliderItem,"ContentSpacingX","0")}			) 
              #set( $ContentpositionY	 = ${xf.ViewSliderSetting($SliderItem,"ContentpositionY","Ytop")}		) 
              #set( $ContentSpacingY	 = ${xf.ViewSliderSetting($SliderItem,"ContentSpacingY","0")}			)
              #set( $ContentBg	 		 = ${xf.ViewSliderSetting($SliderItem,"ContentBg","#000000")}			)
              #set( $ContentBgOpacity	 = ${xf.ViewSliderSetting($SliderItem,"ContentBgOpacity","50")}			)
              #set( $DisplayTitle	 	 = ${xf.ViewSliderSetting($SliderItem,"DisplayTitle","true")}			)
              #set( $ContentTitleColor	 = ${xf.ViewSliderSetting($SliderItem,"ContentTitleColor","#FFFFFF")}	)
              #set( $DisplayDescription  = ${xf.ViewSliderSetting($SliderItem,"DisplayDescription","true")} 	)
              #set( $ContentColor	 	 = ${xf.ViewSliderSetting($SliderItem,"ContentColor","#FFFFFF")}		)
            #else
              #set( $ContentpositionX	 = ${xf.ViewXmlSetting("ContentpositionX","Xleft")}		) 
              #set( $ContentSpacingX	 = ${xf.ViewXmlSetting("ContentSpacingX","0")}			) 
              #set( $ContentpositionY	 = ${xf.ViewXmlSetting("ContentpositionY","Ytop")}		) 
              #set( $ContentSpacingY	 = ${xf.ViewXmlSetting("ContentSpacingY","0")}			) 
              #set( $ContentBg	 		 = ${xf.ViewXmlSetting("ContentBg","#000000")}			)
              #set( $DisplayTitle	 	 = ${xf.ViewXmlSetting("DisplayTitle","true")}			)
              #set( $ContentBgOpacity	 = ${xf.ViewXmlSetting("ContentBgOpacity","50")}		)
              #set( $DisplayDescription  = ${xf.ViewXmlSetting("DisplayDescription","true")} 	)
              #set( $ContentTitleColor	 = ${xf.ViewXmlSetting("ContentTitleColor","#FFFFFF")}	)
              #set( $ContentColor	 	 = ${xf.ViewXmlSetting("ContentColor","#FFFFFF")}		)
            #end
            
            <div class="item" style="height:${sliderHeight}px; width:${sliderWidth2}px ;"> 
                #if( $SliderType == "Picture") 
                    #if( ${xf.PictureUrl($SliderItem,"PictureLink","")} != "")
                    <a href="${xf.PictureUrl($SliderItem,"PictureLink","")}" target="${xf.ViewSliderSetting($SliderItem,"PictureLinkTarget","_parent")}">
                    #end
                        <img u="image" src="$Picture" style="display:none;" alt="#if(${xf.ViewSliderSetting($SliderItem,"imagealt","")}=="")${xf.ViewSliderSetting($SliderItem,"Title","")}#else${xf.ViewSliderSetting($SliderItem,"imagealt","")}#end"/>
                        <div u="image" style="width:100%; height:100%; background:url('$Picture') no-repeat center center ; background-size:cover" ></div>
                    #if( ${xf.PictureUrl("$SliderItem,PictureLink","")} != "")
                     </a> 
                    #end
                #elseif($SliderType == "HTML5 Video")
                	<!--[if IE 8]>
                    	<img u="image" src="$Picture" style="display:none;" class="ie8-video" />
                        <div  u="image" style="width:100%; height:100%; background:url($Picture) no-repeat center center ; background-size:cover" ></div>
                    <![endif]-->
                    <div class="html5video">
                        <video #if( $Picture !="") poster="$Picture" #end  #if(${xf.ViewXmlSetting("DisplayVideoControls","true")} == "true") controls="controls" #end width="${sliderWidth2}px" height="${sliderHeight}px" loop="loop" >
                            #if( ${xf.PictureUrl($SliderItem,"HTML5Videomp4","")}!="")
                                <source src="${xf.PictureUrl($SliderItem,"HTML5Videomp4","")}" type="video/mp4" />
                            #end  
                            #if( ${xf.PictureUrl($SliderItem,"HTML5Videowebm","")}!="")
                                <source src="${xf.PictureUrl($SliderItem,"HTML5Videowebm","")}" type="video/ogg" />
                            #end  
                            #if( ${xf.PictureUrl($SliderItem,"HTML5Videoogg","")}!="")
                                <source src="${xf.PictureUrl($SliderItem,"HTML5Videoogg","")}" type="video/Webm" />
                            #end
                        </video>
                        <div class="videoCover"></div>
                        <div class="closeButton"> </div>
                    </div>
                #elseif($SliderType == "Youtube Video")
                    <div u="player" class="jssorplayer" style="width:${sliderWidth2}px; height:${sliderHeight}px"><!--&autoplay=1--> 
                        #if( ${xf.ViewSliderSetting($SliderItem,"YoutubeVideoId","")} != "")
                            <iframe pHandler="ytiframe" pHideControls="0" width="${sliderWidth2}px" height="${sliderHeight}px" style="z-index: 0; width:${sliderWidth2}px; height:${sliderHeight}px" url="https://www.youtube.com/embed/${xf.ViewSliderSetting($SliderItem,"YoutubeVideoId","")}?wmode=transparent&showinfo=0&rel=0#if(${xf.ViewXmlSetting("VideoAutoPlay","true")}=="true")&autoplay=1#end#if(${xf.ViewXmlSetting("DisplayVideoControls","true")}!="true")&controls=0#end" frameborder="0" scrolling="no"></iframe>
                        #end
                        <div u="cover" class="videoCover"></div>
                        <div u="close" class="closeButton"> </div>
                    </div>
                #end
                #if($DisplayTitle != "false" || $DisplayDescription != "false")
                <div u="caption" t="$index" class="captionOrange Description $ContentpositionX $ContentpositionY" style="margin:${ContentSpacingY}px ${ContentSpacingX}px;">
                	<div class="caption_box">
                    <div class="caption_bg" style="background:$ContentBg;opacity:${xf.Division($ContentBgOpacity, "100")};filter:alpha(opacity=$ContentBgOpacity);"></div>
                        #if($DisplayTitle == "true")
                        <h3 style="color:$ContentTitleColor">${xf.ViewSliderSetting($SliderItem,"Title","")}</h3>
                        #end
                        #if($DisplayDescription == "true")
                        <div style="color:$ContentColor">${xf.ViewSliderSetting($SliderItem,"Description","")}</div>
                        #end
                    </div>
                </div>
                #end
                <div u="thumb"> 
                #if( ${xf.ViewXmlSetting("ThumbnailImageShow","true")} == "true")
                    <div class="thumbbg">
                        <div style="background-image:url('${xf.PictureUrl($SliderItem,"Thumbnail","")}')"></div>
                    </div>
                #end
                    <div class="text" style="#if( ${xf.ViewXmlSetting("ThumbnailImageShow","true")} != "true") margin-left:0px #end">
                      <div class="verticalCenter">
                        <div class="verticalCenter2"> 
                            #if( ${xf.ViewXmlSetting("ThumbnailTitleShow","true")} == "true") 
                                #if( ${xf.ViewSliderSetting($SliderItem,"ThumbTitle","")} != "")
                                    <div class="title" style="color:${xf.ViewXmlSetting("ThumbnailTitleColor","#FFF")}"> ${xf.ViewSliderSetting($SliderItem,"ThumbTitle","")} </div>
                                #end
                            #end
                            #if( ${xf.ViewXmlSetting("ThumbnailContentShow","true")} == "true")    
                                #if( ${xf.ViewSliderSetting($SliderItem,"ThumbContent","")} != "")
                                    <div class="content"  style="color:${xf.ViewXmlSetting("ThumbnailContentColor","#FFF")}"> ${xf.ViewSliderSetting($SliderItem,"ThumbContent","")} </div>
                                #end
                            #end 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
      #end
      #end
      
    #if( $ThumbnailPosition == "Right" && $ThumbnailShow=="true")      
        #if( ${xf.ViewXmlSetting("BulletNavShow","false")} == "true")
            <div u="navigator" class="${xf.ViewXmlSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
        #end
        </div>
    #else
        </div>
        #if( ${xf.ViewXmlSetting("BulletNavShow","false")} == "true")
            <div u="navigator" class="${xf.ViewXmlSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
        #end 
     #end  
   
    #if( ${xf.ViewXmlSetting("ThumbnailShow","true")} == "true") 
    <!-- Thumbnail Navigator Skin Begin -->
      #set( $ThumbnailBg			 = ${xf.ViewXmlSetting("ThumbnailBg","#333333")}		) 
      #set( $ThumbnailBgOpacity		 = ${xf.ViewXmlSetting("ThumbnailBgOpacity","100")}		) 
      #set( $TDPieces	 = ${xf.ViewXmlSetting("TDPieces","5")}	) 
      #set( $ThumbnailSpacingX		 = ${xf.ViewXmlSetting("ThumbnailSpacingX","8")}		) 
      #set( $ThumbnailItemHeight		 = ${xf.ViewXmlSetting("ThumbnailItemHeight","72")}		) 

        <div u="thumbnavigator" class="thumbnavigator $ThumbnailStyle" style="width:${ThumbnailWidth}px; height: ${sliderHeight}px;#if($ThumbnailPosition == "Left"||$ThumbnailPosition == "FloatLeft") left:0; #else right:0;#end">
            <div class="thumb_bg" style=" background-color:${ThumbnailBg} ; opacity:${xf.Division($ThumbnailBgOpacity, "100")}; filter:alpha(opacity=$ThumbnailBgOpacity);"></div>
            <div u="slides" style="cursor: move;"> 
                #set( $ThumbnailItemheight = $sliderHeight/$TDPieces)
                <div u="prototype" class="p" style="width:${ThumbnailWidth}px; height: ${ThumbnailItemheight}px;  ">
                    <div class="w">
                        <div u="thumbnailtemplate" class="thumbnailtemplate"></div>
                    </div>
                    <div class="c"> </div>
                </div>
            </div>
        <!-- Thumbnail Item Skin End -->
        </div>
    #end 
    #if( ${xf.ViewXmlSetting("ArrowNavShow","false")} == "true") 
        <!--${ThemeName}--> 
        #set( $ArrowNavStyle		 = ${xf.ViewXmlSetting("ArrowNavStyle","jssora01")}			) 
        #set( $ArrowNavSpacing		 = ${xf.ViewXmlSetting("ArrowNavSpacing","8")}				) 
        <span u="arrowleft"	 class="${ArrowNavStyle}l ArrowNav ArrowNavLeft"  style="left:${ArrowNavSpacing}px;"></span> 
        <span u="arrowright" class="${ArrowNavStyle}r ArrowNav ArrowNavRight" style="right:${ArrowNavSpacing}px"></span> 
    #end
</div>


#if($SliderList.Count > 0) 
	<style type="text/css">
    #if($ThumbnailStyle == "thumbsytle_1")
        .jssorSlider .thumbsytle_1 .w .text:before{
            opacity:${xf.Division(${xf.ViewXmlSetting("TextbgOpacity","50")}, "100")};
            filter:alpha(opacity=${xf.ViewXmlSetting("TextbgOpacity","50")});
            background-color:${xf.ViewXmlSetting("Textbg","#000000")};	
        }
        .jssorSlider .thumbsytle_1 .p:hover .c, 
        .jssorSlider .thumbsytle_1 .pav:hover .c, 
        .jssorSlider .thumbsytle_1 .pdn:hover .c, 
        .jssorSlider .thumbsytle_1 .pav .c {
            border-color:${xf.ViewXmlSetting("ThumbnailBorderColor","#000000")}
        }
    #elseif($ThumbnailStyle == "thumbsytle_2")
        .jssorSlider .thumbsytle_2 .thumbbg{
            width:${xf.ViewXmlSetting("ThumbnailImagewidth","134")}px;
        }
        .jssorSlider .thumbsytle_2 .text{
            margin-left:${xf.ViewXmlSetting("ThumbnailImagewidth","134")}px;
        }
        .jssorSlider .thumbsytle_2 .thumbbg >div {
            border-radius:${xf.ViewXmlSetting("ThumbnailImageradius","6")}px;
            margin:${xf.ViewXmlSetting("ThumbnailImageSpacing","5")}px;
        }
        .jssorSlider .thumbsytle_2 .p{
            background-color:transparent;	
        }
        .jssorSlider .thumbsytle_2 .p:hover , 
        .jssorSlider .thumbsytle_2 .pav:hover , 
        .jssorSlider .thumbsytle_2 .pdn:hover , 
        .jssorSlider .thumbsytle_2 .pav  {
            background-color:${xf.ViewXmlSetting("Thumbnailhoverbg","#000000")};	
        }
    #end
    
    </style>
    
   <!----> 
    <script>
     jQuery(document).ready(function ($) {
 		$(".ie8-video").each(function() {
            $(this).siblings(".html5video").remove();
        });
        
        $("#slider${ModuleID}_container").find(".captionOrange").each(function(){
            $(this).width($(this).width()+1).height($(this).height()).css("left",$(this).position().left).css("top",$(this).position().top).addClass("no-transform");
        });
        
        var  _SlideshowTransitions =[${xf.ViewXmlSetting("SlideshowTransitions","Transitions[0]")}];
        var _CaptionTransitions = [#if($SliderList.Count > 0)#foreach($SliderItem in $SliderList)#if( ${xf.ViewSliderSetting($SliderItem,"EnableSingleSetting","false")} == "true")${xf.ViewSliderSetting($SliderItem,"CShowTransition","CaptionTransitions[0]")},#else${xf.ViewXmlSetting("CShowTransition","CaptionTransitions[0]")},#end#end#end CaptionTransitions[0]];
        var options = {
            $AutoPlay: ${xf.ViewXmlSetting("AutoPlay","true")} ,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $AutoPlayInterval: ${xf.ViewXmlSetting("autoplaySpeed","4000")} ,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover:  ${xf.ViewXmlSetting("PauseOnHover","1")},                             		//[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
            $SlideSpacing: 1, 					                //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: ${xf.ViewXmlSetting("PlayOrientation","1")},                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: ${xf.ViewXmlSetting("DragOrientation","3")},                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            $SlideDuration: ${xf.ViewXmlSetting("SlideDuration","500")},                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $ActionMode: ${xf.ViewXmlSetting("ThumbnailActionMode","1")},                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                $SpacingX: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                $SpacingY: 0,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                $DisplayPieces: ${xf.ViewXmlSetting("TDPieces","5")},                             //[Optional] Number of pieces to display, default value is 1
                $ParkingPosition: ${xf.ViewXmlSetting("TPPosition","0")},                        //[Optional] The offset position to park thumbnail
                $Orientation: 2                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
            },
            $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                $TransitionsOrder: ${xf.ViewXmlSetting("TransitionsOrder","1")},                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                $ShowLink: true                                 //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
            },
           #if( ${xf.ViewXmlSetting("BulletNavShow","false")} == "true") 
            $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                $ChanceToShow: ${xf.ViewXmlSetting("BulletNavChanceToShow","2")},                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: ${xf.ViewXmlSetting("BulletNavAutoCenter","0")},                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: ${xf.ViewXmlSetting("BulletNavSpacingX","10")},                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: ${xf.ViewXmlSetting("BulletNavSpacingY","10")},                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: ${xf.ViewXmlSetting("BulletNavOrientation","1")}                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },
           #end  
           #if( ${xf.ViewXmlSetting("ArrowNavShow","false")} == "true") 
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                $ChanceToShow:${xf.ViewXmlSetting("ArrowNavChanceToShow","2")} //[Required] 0 Never, 1 Mouse Over, 2 Always
            },
           #end  
            $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                $PlayOutMode: 3,                               //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
            }
        };
        var options2={
            sliderId: "slider${ModuleID}_container",
            sliderWidth:$sliderWidth,
            sliderHeight:$sliderHeight,
            responsive:'${xf.ViewXmlSetting("responsive","true")}',
            VideoAutoPlay:${xf.ViewXmlSetting("VideoAutoPlay","true")}  //false
        }
        sliderPatch(options,options2);
        $JssorPlayer$.$FetchPlayers(document.body);
     });
    </script> 
#end
