${xf.ViewLanguage("Re","Re")}:$DataItem.Title<br />

 $Comment.ContentText<br />
<hr />
${xf.ViewLanguage("CommentsUser","Comments user")}: $Comment.UserName<br />
${xf.ViewLanguage("BlogURL","Blog URL")}: ${xf.GoUrl($DataItem)}<br />