<!--[if LT IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<style type="text/css">
		.news_list .post_thum img{
        	max-width:none;	
        }
	</style>
<![endif]-->
  #if(${xf.ViewSkinSetting("Displayrssicons",false)}) 
  <!-- Rss Begin-->
  <div class="news_rss"><a href="${xf.GoRssUrl()}" target="_blank"><img src="${xf.SkinPath}theme/images/rss.png" alt="${xf.ViewLanguage("RSS","RSS")}" title="${xf.ViewLanguage("RSS","RSS")}" /></a></div>
  <!-- Rss End--> 
  #end

<div class="xBlog_list timeline blog-timeline2" id="timeline2${ModuleID}"> 
  #if($Navigation.IsView)
  <div class="page_meta"> $Navigation.Title: <span> $Navigation.Content</span><a href="${xf.GoUrl()}">${xf.ViewLanguage("Return","Return")}</a> </div>
  #if($Navigation.AuthorID >0)
  <div class="author_info clearfix">
    <div class="thum"><img src="${xf.ViewAuthorPic($Navigation.AuthorID)}" /></div>
    <div class="author_desc">${xf.ViewAuthorBiography($Navigation.AuthorID)}</div>
  </div>
  #end
  #end
  #if($DataList.Count > 0)
  
  #foreach($DataItem in $DataList)
  <div class="list-post #if(${xf.ViewSkinSetting("Displaycalendar",true)}) no-calendar #end"> #if($xf.ViewItemSetting($DataItem,"ListType","Default")=="Default") 
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString(${xf.ViewSkinSetting("dateformat","MMM dd, yyyy")})</div> 
    #end
    <div class="list-viewinfo">
      <div class="list-gallery"> #if($DataItem.AdditionalPicture > 0)
        <div class="list-images"><img src="${xf.ViewPicture($DataItem)}"  alt="${xf.ViewContent("Title",$DataItem)}" title="${xf.ViewContent("Title",$DataItem)}" /></div>
        #end </div>
      <h3 class="list-title"> <a href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end">${xf.ViewContent("Title",$DataItem)}</a> #if($DataItem.TopStatus==2)<sup class="hot"><img src="${xf.SkinPath}theme/images/hot.gif" /></sup>#end
        #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"><a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a></span> #end </h3>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-camera-retro"></span>#end </div>
    </div>
    #if(${xf.ViewSkinSetting("Displaysummary",true)})
    <div class="list-description"> #if(${xf.ViewSkinSetting("displaycontent",false)})
      ${xf.ViewContent($DataItem)}
      #else
      ${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}
      #end </div>
    #end
    #if(${xf.ViewSkinSetting("Displayreadmore",true)})<a class="list-btn"  href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end" title="Read More">${xf.ViewSkinSetting("readmoretext","Read More")} <span class="fa fa-angle-right"></span></a>#end 
    
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Slider") 
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery">
        <div class="blog-slider" data-autoplay="$xf.ViewItemSetting($DataItem,"autoplay","true")" data-autoplayspeed="$xf.ViewItemSetting($DataItem,"autoplaySpeed","3000")" data-Animespeed="$xf.ViewItemSetting($DataItem,"AnimeSpeed","300")"> #foreach($PhotoItem in ${xf.GetPhotosByArticle($DataItem,0)} )
          <div class="item"> <img src="${xf.ViewPicture($PhotoItem)}" alt="${PhotoItem.Title}" title="${PhotoItem.Title}" /></div>
          #end </div>
      </div>
      <h3 class="list-title"> <a href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end">${xf.ViewContent("Title",$DataItem)}</a> #if($DataItem.TopStatus==2)<sup class="hot"><img src="${xf.SkinPath}theme/images/hot.gif" /></sup>#end
        #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"><a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a></span> #end </h3>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-camera-retro"></span>#end </div>
    </div>
    #if(${xf.ViewSkinSetting("Displaysummary",true)})
    <div class="list-description"> #if(${xf.ViewSkinSetting("displaycontent",false)})
      ${xf.ViewContent($DataItem)}
      #else
      ${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}
      #end </div>
    #end
    #if(${xf.ViewSkinSetting("Displayreadmore",true)})<a class="list-btn"  href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end" title="Read More">${xf.ViewSkinSetting("readmoretext","Read More")} <span class="fa fa-angle-right"></span></a>#end  
    
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Quote") 
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery">
        <blockquote class="list-quote">
          <p>$xf.ViewItemSetting($DataItem,"QuoteContent","")</p>
          <small>$xf.ViewItemSetting($DataItem,"QuoteName","")</small></blockquote>
      </div>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-quote-left"></span>#end </div>
    </div>
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Video") 
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery">
        <div class="list-video $xf.ViewItemSetting($DataItem,"VideoRatio","ratio1")"> #if($xf.ViewItemSetting($DataItem,"VideoType","HTML5")=="HTML5")
          <video  controls="true" #if($xf.ViewItemSetting($DataItem,"html5autoplay","false")=="true") autoplay="autoplay" #end>
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"mp4Url",""),"")}" type="video/mp4"></source>
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"oggUrl",""),"")}" type="video/ogg"></source>
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"WebMUrl",""),"")}" type="video/WebM"></source>
            Your browser does not support the video tag. </video>
          #elseif($xf.ViewItemSetting($DataItem,"VideoType","HTML5")=="Youtube")
          <iframe frameborder="0" src="$xf.ViewItemSetting($DataItem,"YoutubeUrl","")" allowfullscreen ></iframe>
          #elseif($xf.ViewItemSetting($DataItem,"VideoType","HTML5")=="Vimeo")
          <iframe src="$xf.ViewItemSetting($DataItem,"VimeoUrl","")"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          #end </div>
      </div>
      <h3 class="list-title"> <a href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end">${xf.ViewContent("Title",$DataItem)}</a> #if($DataItem.TopStatus==2)<sup class="hot"><img src="${xf.SkinPath}theme/images/hot.gif" /></sup>#end
        #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"><a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a></span> #end </h3>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-video-camera"></span>#end </div>
    </div>
    #if(${xf.ViewSkinSetting("Displaysummary",true)})
    <div class="list-description"> #if(${xf.ViewSkinSetting("displaycontent",false)})
      ${xf.ViewContent($DataItem)}
      #else
      ${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}
      #end </div>
    #end
    #if(${xf.ViewSkinSetting("Displayreadmore",true)})<a class="list-btn"  href="${xf.GoUrl($DataItem)}" target="#if(${xf.ViewSkinSetting("Opennewwindow",false)}) _blank #end" title="Read More">${xf.ViewSkinSetting("readmoretext","Read More")} <span class="fa fa-angle-right"></span></a>#end  
    
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Audio")
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery">
        <div class="list-voice">
          <audio controls="controls" #if($xf.ViewItemSetting($DataItem,"Audioautoplay","false")=="true") autoplay="autoplay" #end>
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"mp3Url",""),"")}" />
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"oggUrl",""),"")}" />
            <source src="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"wavUrl",""),"")}" />
          </audio>
          <h3> ${xf.ViewContent("Title",$DataItem)}
            #if($DataItem.TopStatus==2)<sup class="hot"><img src="${xf.SkinPath}theme/images/hot.gif" /></sup>#end
            #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"><a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a></span> #end </h3>
        </div>
      </div>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-music"></span>#end </div>
    </div>
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Text") 
    
    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery">
        <div class="list-section"> #if(${xf.ViewSkinSetting("displaycontent",false)})
          ${xf.ViewContent($DataItem)}
          #else
          ${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}
          #end </div>
      </div>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-align-justify"></span>#end </div>
    </div>
    #elseif($xf.ViewItemSetting($DataItem,"ListType","Default")=="Link")

    #if(${xf.ViewSkinSetting("Displaycalendar",true)})
    <div class="list-date">$DataItem.PublishTime.ToString("MMM dd, yyyy")</div>
    #end
    <div class="list-viewinfo">
      <div class="list-gallery"> <a href="${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"LinkUrl",""),"")}" target="_blank"> <span class="list-linkbox"> <span class="link-title"> ${xf.ViewContent("Title",$DataItem)}#if($DataItem.TopStatus==2)<sup class="hot"><img src="${xf.SkinPath}theme/images/hot.gif" /></sup>#end </span> <span class="link-url">${xf.ViewLinkUrl($xf.ViewItemSetting($DataItem,"LinkUrl",""),"")}</span> </span> </a> #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"><a href="${xf.GoEditUrl($DataItem)}" target="_blank"><img src="${xf.SkinPath}theme/images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /></a></span> #end </div>
      <div class="list-info"> #if(${xf.ViewSkinSetting("Displayauthor",true)}) <span class="fa fa-user"></span><a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> <span class="sep">|</span>#end
        #if( $DataItem.Tags != "" ) #if(${xf.ViewSkinSetting("Displaytags",true)}) <span class="fa fa-tags"></span>${xf.ViewTags($DataItem)} <span class="sep">|</span> #end #end
        #if( ${xf.ViewCategories($DataItem)} != "" ) #if(${xf.ViewSkinSetting("Displaycategories",false)}) <span class="fa fa-sitemap"></span> ${xf.ViewCategories($DataItem)} <span class="sep">|</span> #end #end	
        #if(${xf.ViewSkinSetting("Displaycomments",true)}) <span class="fa fa-comments"></span> <a href="${xf.GoUrl($DataItem)}#comments"> ${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a> <span class="sep">|</span>#end
        <!--#if(${xf.ViewSkinSetting("DisplayLikes",true)})<span class="fa fa-heart"></span> 189 Likes <span class="sep">|</span>#end-->
        #if(${xf.ViewSkinSetting("DisplaySharingTool",true)})<span class="share-box"><span class="fa fa-share-alt"></span> ${xf.ViewLanguage("Share","Share")} ${xf.ViewSharingTool($DataItem,0)} </span> <span class="sep">|</span> #end 
        #if(${xf.ViewSkinSetting("Displayviewcount",false)}) <span class="fa fa-eye"></span> ${xf.ViewLanguage("View_Count","View Counts")} ($DataItem.ViewCount) <span class="sep">|</span>#end
        #if(${xf.ViewSkinSetting("Displaytypeicon",true)})<span class="fa fa-link"></span>#end </div>
    </div>
    
    #end </div>
  #end
  <div class="page-center">
    <div class="blog-pagemore"> ${Pager} </div>
  </div>
  #else
  ${xf.ViewLanguage("ArticleEmpty","Not any article")}
  #end </div>
<script type="text/javascript">
	$('#timeline2${ModuleID} .blog-slider').each(function(index, element) {
        var e=$(this);
		e.slick({
			infinite:true ,
			accessibility:true,
			adaptiveHeight:false,
			autoplay:e.data("autoplay"),
			autoplaySpeed:e.data("autoplayspeed"),
			speed:e.data("animespeed"),
			arrows:true,
			dots:false, 
			cssEase:e.data("autoplayspeed")>0?"ease-in":"linear", 
			draggable:true,
			pauseOnHover:true,
			slidesToShow: 1,
			slidesToScroll:1,
			variableWidth:false
		})
    });
 </script> 