﻿.event_list .event_title {
    color#777 !Important;
    font-family: "Muli";
    font-size: 32px;
	line-height:1.2;
    font-weight: bold;
    margin-bottom: 20px;
}
.event_list .event_box {
    background-color: #ffffff !important;
    padding: 14px;
}
.event_list .event_container {
	padding: 1px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}
.event_list .event_startdate,
.event_list .event_enddate{
	width:50%;
	float:left;
	margin-bottom:5px;
}
.event_list .Timebox{
	margin-bottom:20px;
}

.event_list .TimeZone{
	font-size:14px;
	color:#777;
}

.event_list .small-title{
	display:block;
	font-weight: bold;
	font-size: 18px;
	margin-bottom:6px;
        color:#777;
}

.event_list .event_location,
.event_list .event_summary,
.event_list .event_categorie,
.event_list .event_tag,
.event_list .event-extensionList{
	margin-bottom:24px;
}
.event_list .event-details{
	margin-bottom:14px;
}
.event_list .event_PictureUrl img {
   max-width: 100%;
}

@media only screen and (max-width: 767px) {
	.event_list .event_startdate,
	.event_list .event_enddate{
		width:auto;
		float:none;
}
.event-detail .event-title-right .news_title {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #777;
}
}





/*PagingTable*/
.event_page{
	margin-bottom:5px;
	white-space:normal;
}
.event_page .button
{
	display:inline-block; 
	color:#777!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .event_page .button{
	display:inline;
}
* html .event_page .button{
	display:inline;
}
.event_page .button:hover{
	color:#777!important;
	background:#2A2A2A;
}
.event_page .disabled{
	display:inline-block;
	color:#777!important;
	background:#ffffff;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .event_page .disabled{
	display:inline;
}
* html .event_page .disabled{
	display:inline;
}

.event_list .page_meta {
	margin-bottom:10px;
	padding: 8px 10px;
	background: #F0F0F0;
}
.event_list .page_meta a {
	float: right;
}
.event_list .author_info {
	margin-bottom:10px;
}
.event_list .author_info .thum {
	float:left;
	margin-right:10px;
}
.event_list .author_info .thum img {
	width:120px;
}
.event_noevent {
	text-align:center;
	padding:20px;
}

.event_rss {
	text-align:right;
}

