/*side panel*/
@-webkit-keyframes icons-translateX {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 26px;
	}
}

@keyframes icons-translateX {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 26px;
	}
}

.side-panel-btn .icons {
	width: 22px;
	height: 22px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	font-size: 16px;
	-webkit-transition: -webkit-transform ease-in 200ms;
	transition: transform ease-in 200ms;
}

.side-panel-btn .icons i {
	position: absolute;
	width: 20px;
	left: 1px;
	border-bottom: 2px solid;
	display: block;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: none;
	animation: none;
}

.side-panel-btn .icons i:after {
	content: "";
	position: absolute;
	width: 120%;
	border-bottom: 2px solid;
	right: 100%;
	margin-right: 6px;
}

.side-panel-btn .icons .l_1 {
	top: 3px;
	-webkit-transition: top ease-in 200ms, -webkit-transform ease-in 200ms;
	transition: top ease-in 200ms, transform ease-in 200ms;
}

.side-panel-btn .icons .l_2 {
	top: 10px;
	-webkit-transition: top ease-in 200ms, -webkit-transform ease-in 200ms;
	transition: top ease-in 200ms, transform ease-in 200ms;
}

.side-panel-btn .icons .l_3 {
	top: 17px;
	-webkit-transition: bottom ease-in 200ms, opacity ease-in 200ms;
	transition: bottom ease-in 200ms, opacity ease-in 200ms;
}

.side-panel-btn:not(.style_custom) .icons:hover i {
	-webkit-animation: icons-translateX .3s ease-in both;
	animation: icons-translateX .3s ease-in both;
}

.side-panel-btn:not(.style_custom) .icons:hover .l_2 {
	-webkit-animation-delay: .08s;
	animation-delay: .08s;
}

.side-panel-btn:not(.style_custom) .icons:hover .l_3 {
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

.overlay-panel-content {
	white-space: nowrap;
}

.side-panel-btn.active .icons i {
	-webkit-animation: none !important;
	animation: none !important;
}

.side-panel-btn.active .icons .l_1 {
	top: 10px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.side-panel-btn.active .icons .l_3 {
	top: 10px;
	opacity: 0;
}

.side-panel-btn.active .icons .l_2 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: top ease-in 200ms, -webkit-transform ease-in 200ms;
	transition: top ease-in 200ms, transform ease-in 200ms;
}

.side-panel-btn.style_custom {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #ffffff;
	-webkit-transition: background-color ease-in 200ms;
	transition: background-color ease-in 200ms;
}

.side-panel-btn.style_custom .icons i {
	border-width: 0;
	height: 3px;
	background-color: #FFF;
	border-radius: 3px;
	-webkit-transition: all ease-in 200ms;
	transition: all ease-in 200ms;
}

.side-panel-btn.style_custom .icons {
	margin: 12px 0px 0px 0px
}

.side-panel {
	position: fixed;
	top: 0;
	height: 100%;
	overflow: hidden;
	z-index: 1005;
	visibility: hidden;
	transition: all 300ms;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
}

.side-panel.side-panel-active {
	visibility: visible;
}

.side-panel .floating-header-logo {
	display: none;
}

.side-panel .header-logo {
	display: inline-block
}

.side-panel .logo-main img {
	max-width: 100%;
}

.side-panel .side-panel-main {
	height: 100%;
	color: #666;
}

.side-panel .nav-top {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.side-panel .nav-center {
	position: absolute;
	top: 100px;
	left: 0;
	right: -18px;
	bottom: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
}

.side-panel .nav-center:after {
	content: "";
	height: 100%;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}

.side-panel .nav-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
}

.side-panel-btn {
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	transition: color ease-in 200ms;
	-moz-transition: color ease-in 200ms;
	-webkit-transition: color ease-in 200ms;
	-o-transition: color ease-in 200ms;
	-ms-transition: color ease-in 200ms;
}

.side-panel-content {
	padding: 30px;
}

.side-panel-active.side-panel.side-left {
	left: 0;
}

.side-panel.side-right {
	left: auto;
}

.side-panel.side-left .close-panel>.fa {
	left: 12px;
	opacity: 0;
	transition: left 300ms, opacity 300ms;
	-moz-transition: left 300ms, opacity 300ms;
	-webkit-transition: left 300ms, opacity 300ms;
	-o-transition: left 300ms, opacity 300ms;
	-ms-transition: left 300ms, opacity 300ms;
}

.side-panel-active.side-panel.side-left .close-panel>.fa {
	opacity: 1;
}

.side-panel-active.side-panel.side-right {
	right: 0;
}

.side-panel-active.side-panel.side-left {
	left: 0;
}

.side-panel.side-right .close-panel>.fa {
	right: 12px;
	opacity: 0;
	left: auto;
	transition: right 300ms, opacity 300ms;
	-moz-transition: right 300ms, opacity 300ms;
	-webkit-transition: right 300ms, opacity 300ms;
	-o-transition: right 300ms, opacity 300ms;
	-ms-transition: right 300ms, opacity 300ms;
}

.side-panel-active.side-panel.side-right .close-panel>.fa {
	opacity: 1;
}

.side-panel-has body {
	transition: all 300ms;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
}

.side-panel.side-push-right {
	left: auto;
}

.side-push-left-active,
.side-push-right-active {
	overflow: hidden;
}

.side-push-left-active body {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/*
	   transform: translateX(300px);
	   -webkit-transform: translateX(300px);
	   */
	width: 100%;
}

.side-push-right-active body {
	transform: translate3d(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/*	-webkit-transform: translateX(-300px);
	   transform: translateX(-300px);
   */
	width: 100%;
}

.side-push-left-active .side-push-left {
	left: 0;
}

.side-push-right-active .side-push-right {
	right: 0;
	left: auto;
}

.side-panel .close-panel>.fa,
.side-panel .close-panel>.fa {
	opacity: 0;
	transition: transform 300ms, opacity 300ms;
	-moz-transition: transform 300ms, opacity 300ms;
	-webkit-transition: transform 300ms, opacity 300ms;
	-o-transition: transform 300ms, opacity 300ms;
	-ms-transition: transform 300ms, opacity 300ms;
}

.side-push-left-active .side-panel .close-panel>.fa {
	opacity: 1;
}

.side-push-right-active .side-panel .close-panel>.fa {
	opacity: 1;
}

.side-panel.side-push-left .close-panel>.fa {
	left: 12px;
}

.side-panel.side-push-right .close-panel>.fa {
	left: auto;
	right: 12px;
}

.overflow-x {
	overflow-x: hidden;
}

.side-panel-has body {
	z-index: 1;
	position: relative;
}

.side-panel-has body:after {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #FFF;
	z-index: -1;
}

.side-reval-left {
	left: 0;
	z-index: 10;
	width: 0;
	overflow: hidden;
}

.side-reval-right {
	left: auto;
	z-index: 10;
	width: 0;
	right: 0;
	overflow: hidden;
}

.side-reval-left .side-panel-main,
.side-reval-right .side-panel-main {
	position: relative;
}

.side-panel-main,
.side-reval-left-active .side-reval-left,
.side-reval-right-active .side-reval-right {}

.side-reval-left-active body {}

.side-reval-right-active body {}

.side-reval-left-active,
.side-reval-right-active {
	overflow: hidden;
}

.side-static-left {
	left: 0;
	visibility: visible;
}

.side-static-right {
	left: auto;
	right: 0;
	visibility: visible;
}

.body-side-static-left {}

.body-side-static-right {}

body>.header-wrap {
	overflow: visible;
}

.side-static-left.side-panel-active {
	visibility: visible;
}

.side-static-right.side-panel-active {
	left: auto;
	visibility: visible;
}

.side-static-left-active body {
	margin-left: 0px;
}

.side-static-right-active body {
	margin-right: 0px;
}

.side-panel .close-panel>.fa {
	cursor: pointer;
	position: fixed;
	top: 20px;
	background-color: #FFF;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.side-left .close-panel:after,
.side-right .close-panel:after,
.side-push-left .close-panel:after,
.side-push-right .close-panel:after,
.side-reval-left .close-panel:after,
.side-reval-right .close-panel:after {
	content: " ";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	cursor: url(../images/cursor-close.cur), crosshair;
	transition: all ease-in 300ms;
	-moz-transition: all ease-in 300ms;
	-webkit-transition: all ease-in 300ms;
	-o-transition: all ease-in 300ms;
	-ms-transition: all ease-in 300ms;
}

.side-panel-active .close-panel:after {
	opacity: 1;
	visibility: visible;
}

.body-side-static-left .sticky-fixed .floating-nav.floating-nav-sticky,
.body-side-static-left .floating-nav.floating-active {}

.body-side-static-right .sticky-fixed .floating-nav.floating-nav-sticky,
.body-side-static-right .floating-nav.floating-active {}

.side-panel .widget-title {
	font-size: 18px;
}



/*dng-leftmen*/

.dng-sidepanemenu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	white-space: normal;
}

.dng-sidepanemenu .dropdown {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.dng-sidepanemenu ul {
	margin: 0;
}

.dng-sidepanemenu li {
	list-style: none;
	text-align: center;
}

.dng-sidepanemenu li.dir a {
	position: relative;
}

.dng-sidepanemenu li a {
	padding: 0 0px 0 0px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
}

.dng-sidepanemenu .menu_arrow {
	width: 20px;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	line-height: 21px;
	top: 1px;
	left: 100%;
	font-size: 0px;
	text-indent: 100px;
	overflow: hidden;
}

.dng-sidepanemenu .menu_arrow:after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -1px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-transition: transform ease-in 200ms, border-color ease-in 200ms;
	transition: transform ease-in 200ms, border-color ease-in 200ms;
	-webkit-transform-origin: center;
	transform-origin: center;
}

.dng-sidepanemenu .menu_arrow:before {
	content: ".";
	width: 0;
	overflow: hidden;
	display: block;
}

.dng-sidepanemenu .menu_arrow.arrow_closed:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.dng-sidepanemenu li.dir>ul {
	display: none;
}

.dng-sidepanemenu li.current>ul {
	display: block;
}

.dng-sidepanemenu .menu_list li li a {
	font-size: 13px;
}

.dng-sidepanemenu a:hover {
	text-decoration: none;
}

.dng-sidepanemenu .widget {
	text-align: center
}


