﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Manager_Event_RegisterList.ascx.cs" Inherits="DNNGo.Modules.xEvent.Manager_Event_RegisterList" %>
<!-- start: PAGE HEADER -->

<div class="row">
  <div class="col-sm-12"> 
    <!-- start: PAGE TITLE & BREADCRUMB -->
    
    <div class="page-header">
      <h1><i class="fa clip-puzzle-3"></i> <%=ViewResourceText("Header_Title", "Registers")%>
        <%-- <asp:HyperLink ID="hlLinkAddAddress" runat="server" CssClass="btn btn-xs btn-bricky" Text="<i class='fa fa-plus'></i> New Add Address" resourcekey="hlLinkAddAddress"></asp:HyperLink> --%>
      </h1>
    </div>
    <!-- end: PAGE TITLE & BREADCRUMB --> 
  </div>
</div>
<!-- end: PAGE HEADER --> 
<!-- start: PAGE CONTENT -->

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-8">
          <div class="btn-group" id="divShowAttending" runat="server" visible="false">
            <ul class="rsvp-number">
              <li class="all">
                <div class="rsvp-number-left">
                  <span class="number"><asp:Literal ID="liAttendingAll" runat="server"></asp:Literal></span>
                  <asp:HyperLink ID="hlAttendingAll" runat="server" Text="link"></asp:HyperLink>
                </div>
                <div class="rsvp-number-right"> All Event <br><small>Show all</small> </div>
              </li>
              <li class="attending">
                <div class="rsvp-number-left">
                  <span class="number"><asp:Literal ID="liAttendingYes" runat="server"></asp:Literal></span>
                  <asp:HyperLink ID="hlAttendingYes" runat="server" Text="link"></asp:HyperLink>
                </div>
                <div class="rsvp-number-right"> Attending Event <br><small>Yes, I will attend</small> </div>
              </li>
              <li class="Maybe">
                <div class="rsvp-number-left">
                  <span class="number"><asp:Literal ID="liAttendingMaybe" runat="server"></asp:Literal></span>
                  <asp:HyperLink ID="hlAttendingMaybe" runat="server" Text="link"></asp:HyperLink>
                </div>
                <div class="rsvp-number-right"> Maybe <br><small>Not sure I will attend</small> </div>
              </li>
              <li class="not-attending">
                <div class="rsvp-number-left">
                  <span class="number"><asp:Literal ID="liAttendingNot" runat="server"></asp:Literal></span>
                  <asp:HyperLink ID="hlAttendingNot" runat="server" Text="link"></asp:HyperLink>
                </div>
                <div class="rsvp-number-right"> Not Attending <br><small>No, I will not attend</small> </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 input-group text_right"> </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-8">
          <div class="btn-group">
              <!--
            <asp:HyperLink runat="server" ID="hlAllAddresss" CssClass="btn btn-default" Text="All"></asp:HyperLink>
            <asp:HyperLink runat="server" ID="hlActivationAddress" CssClass="btn btn-default" Text="Activated"></asp:HyperLink>
            <asp:HyperLink runat="server" ID="hlHideAddress" CssClass="btn btn-default" Text="Hidden"></asp:HyperLink>
              -->
              <asp:DropDownList runat="server" ID="ddlRepeatDates" CssClass="  search-select" Width="400" AutoPostBack="true" OnSelectedIndexChanged="ddlRepeatDates_SelectedIndexChanged"></asp:DropDownList>

          </div>
        </div>
        <div class="col-sm-4 input-group text_right">
          <asp:TextBox ID="txtSearch" runat="server" CssClass="form-control" Width="100%" placeholder="Search Name,Phone,Email,Comments" x-webkit-speech></asp:TextBox>
          <div class="input-group-btn">
            <asp:LinkButton ID="btnSearch" runat="server" CssClass="btn btn-primary" 
                      Text="<i class='fa fa-search'></i>" onclick="btnSearch_Click" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-9">
          <asp:DropDownList ID="ddlAttending" runat="server" CssClass="form-control form_default">
            <asp:ListItem Value="-1" Text="Bulk Actions" resourcekey="ddlAttending_BulkActions"></asp:ListItem>
            <asp:ListItem Value="0" Text="Attending Event" resourcekey="ddlAttending_AttendingEvent"></asp:ListItem>
            <asp:ListItem Value="1" Text="Maybe" resourcekey="ddlAttending_Maybe"></asp:ListItem>
            <asp:ListItem Value="2" Text="Not Attending" resourcekey="ddlAttending_NotAttending"></asp:ListItem>
            <asp:ListItem Value="9" Text="Remove" resourcekey="ddlAttending_Remove"></asp:ListItem>
          </asp:DropDownList>
          <asp:Button ID="btnApply" runat="server" CssClass="btn btn-default" Text="Apply" resourcekey="btnApply" onclick="btnApply_Click" OnClientClick="return ApplyStatus();" />
        </div>
        <div class="col-sm-3 text_right"> <br/>
          <asp:Label ID="lblRecordCount" runat="server"></asp:Label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <asp:GridView ID="gvAddressList" runat="server" AutoGenerateColumns="False" OnRowDataBound="gvAddressList_RowDataBound" OnRowCreated="gvAddressList_RowCreated" OnSorting="gvAddressList_Sorting" AllowSorting="true"
                        Width="100%" CellPadding="0" cellspacing="0" border="0" CssClass="table table-striped table-bordered table-hover"  GridLines="none" >
        <Columns>
        <asp:BoundField HeaderText="Event" />
        <asp:BoundField DataField="Name" HeaderText="Name" />
        <asp:BoundField DataField="Email" HeaderText="Email" />
        <asp:BoundField DataField="Phone" HeaderText="Phone"  HeaderStyle-Width="120" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/>
        <asp:BoundField DataField="Comments" HeaderText="Comments"  HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/>
        <asp:BoundField DataField="Attending" HeaderText="Attending" />
        <asp:BoundField DataField="CreateUser" HeaderText="Create User" HeaderStyle-Width="100" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/>
        <asp:BoundField DataField="MailRemind" HeaderText="Notification" HeaderStyle-Width="100" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/>
        <asp:BoundField DataField="Status" HeaderText="Status" HeaderStyle-Width="50" Visible="false" />
        <asp:TemplateField HeaderText="Action" ItemStyle-CssClass="center" HeaderStyle-Width="80">
          <ItemTemplate>
            <div class="visible-md visible-lg hidden-sm hidden-xs">
             <!-- <asp:HyperLink ID="hlEdit" runat="server" CssClass="btn btn-xs btn-teal tooltips" data-original-title="Edit" data-placement="top" Text="<i class='fa fa-edit'></i>"></asp:HyperLink>-->
              <asp:LinkButton ID="btnRemove" runat="server" CssClass="btn btn-xs btn-bricky tooltips" data-original-title="Remove" data-placement="top" Text="<i class='fa fa-times fa fa-white'></i>" OnClick="btnRemove_Click"></asp:LinkButton>
            </div>
            <div class="visible-xs visible-sm hidden-md hidden-lg">
              <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm"> <i class="fa fa-cog"></i> <span class="caret"></span> </a>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li role="presentation">
                   <!-- <asp:HyperLink ID="hlMobileEdit" runat="server" tabindex="-1" role="menuitem" Text="<i class='fa fa-edit'></i> Edit"></asp:HyperLink>-->
                  </li>
                  <li role="presentation">
                    <asp:LinkButton ID="btnMobileRemove" runat="server" tabindex="-1" role="menuitem" data-placement="top" Text="<i class='fa fa-times'></i> Remove"  OnClick="btnRemove_Click"></asp:LinkButton>
                  </li>
                </ul>
              </div>
            </div>
          </ItemTemplate>
        </asp:TemplateField>
        </Columns>
        <PagerSettings Visible="False" />
      </asp:GridView>
      <ul id="paginator-AddressList" class="pagination-purple">
      </ul>
      <script type="text/javascript">
                        $(document).ready(function () {
                            $('#paginator-AddressList').bootstrapPaginator({
                                bootstrapMajorVersion: 3,
                                currentPage: <%=PageIndex %>,
                                totalPages: <%=RecordPages %>,
                                numberOfPages:7,
                                useBootstrapTooltip:true,
                                onPageClicked: function (e, originalEvent, type, page) {
                                    window.location.href='<%=CurrentUrl %>&PageIndex='+ page;
                                }
                            });
                        });
                    </script> 
    </div>
  </div>
  
  <!-- end: PAGE CONTENT--> 
</div>
<script type="text/javascript">
<!--

     function SelectAll() {
         var e = document.getElementsByTagName("input");
         var IsTrue;
         if (document.getElementById("CheckboxAll").value == "0") {
             IsTrue = true;
             document.getElementById("CheckboxAll").value = "1"
         }
         else {
             IsTrue = false;
             document.getElementById("CheckboxAll").value = "0"
         }
         for (var i = 0; i < e.length; i++) {
             if (e[i].type == "checkbox") {
                 e[i].checked = IsTrue;
             }
         }
     }
     function ApplyStatus() {
         var StatusSelected = $("#<%=ddlAttending.ClientID %>").find("option:selected").val();
         if (StatusSelected >= 0) {
             var checkok = false;
             $("#<%=gvAddressList.ClientID %> input[type='checkbox'][type-item='true']").each(function (i, n) {
                 if ($(this).prop('checked')) {
                     checkok = true;
                 }
             });

             if (checkok) {
                 return confirm('<%=ViewResourceText("Confirm_ApplyStatus", "Are you sure to operate the records you choose?") %>');
             }
             alert('<%=ViewResourceText("Alert_NoItems", "Please operate with one line of record selected at least.") %>');

         } else {
             alert('<%=ViewResourceText("Alert_NoActions", "Please choose the operation you need.") %>');
         }
         return false;
     }
   
 
// -->
    </script>