﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View_Event_Info.ascx.cs" Inherits="DNNGo.Modules.xEvent.View_Event_Info" %>
<asp:Literal ID="liContent" runat="server"></asp:Literal>





