﻿.Category_marcworldtronic{
	margin-bottom: 30px;
}
.Category_marcworldtronic .category_list,
.Category_marcworldtronic .category_list ul{
	padding:0px!important;
	margin:0px;
}
.Category_marcworldtronic .category_list li{
	list-style:none;
}
.Category_marcworldtronic .category_list li a:before{
	content: '\f105';
width: 14px;
font-size: 12px;
font-family: 'FontAwesome';
color: #005e99 !important;
display: inline-block;
}
.Category_marcworldtronic .category_list li a.title{
	text-decoration:none;
	padding:0px 0px 0px 0px;
	display:inline-block;
	color:#333;
	-webkit-transition: color 0.4s, background-color 0.4s;
transition: color 0.4s, background-color 0.4s;
font-size: 13px;
line-height: 20px;
font-weight: 400;
font-family: "Open Sans";
}
.Category_marcworldtronic .category_list li a:hover{
	color: #005e99 !important;
}
.Category_marcworldtronic .category_list li a.rss{
	float:right;
	background:url(images/rss.png) no-repeat center center;
	width:16px;
	height:16px;
	text-indent:-100px;
	overflow:hidden;
	margin-top:7px;
}
.Category_marcworldtronic .category_list li a.title:hover{
	text-decoration:underline;
}
.Category_marcworldtronic .category_list li li a.title{
	padding:0px 0px 0px 20px;
	background:none;
	border:none;
}
.Category_marcworldtronic .category_list li li li a.title{
	padding:0px 0px 0px 40px;
}
