﻿
/*
    content.css
    - A simple css for basic formatting
    - Used to format the built-in snippets (content blocks) in ContentBuilder.js
    - You can adjust or customize this css according to your site design
    - Can be combined with popular css frameworks    
*/

@import url("../assets/ionicons/css/ionicons.min.css"); /* Icon support */
@import url("../assets/scripts/animate/animate.css"); /* Animate support */

/**********************************
    Adjustment for css frameworks
***********************************/

/* Adjustment for Default & Foundation */
.d-wrapper .container > .row, 
.d-wrapper .container > div > .row {padding-top:10px;padding-bottom:10px;margin-top:0;margin-bottom:0;} 
.d-wrapper img { margin-top:1.4rem; margin-bottom: 1rem; }

/* Adjustment for UIKit */ 
.uk-container > .uk-grid, .uk-container > * > .uk-grid {margin-top:15px;margin-bottom:15px;}
.uk-container {padding: 0}
.uk-grid > * > img { margin: 1.4rem 0 1rem; }
.uk-grid > * > img:last-child { margin: 1.4rem 0 1rem; }

/* Adjustment for Material */
.mdl-cell {margin-top:0px;margin-bottom:0px;}
.mdl-cell img {margin: 1.4rem 0 1rem; }

/* Adjustment for Bootstrap */
.d-wrapper .container-fluid > .row, 
.d-wrapper .container-fluid > div > .row {padding-top:10px;padding-bottom:10px}  

/* Adjustment for others 
.d-wrapper .container img { margin:1.4rem 0 1rem; }
*/
/**********************************
    Default Typography
***********************************/
 

.d-wrapper p, 
.d-wrapper td, 
.d-wrapper li, 
.d-wrapper label {
    line-height: 2;
}


.d-wrapper p{
    margin: 1rem 0;
}

.d-wrapper h1, 
.d-wrapper h2, 
.d-wrapper h3, 
.d-wrapper h4, 
.d-wrapper h5, 
.d-wrapper h6 {

}        
.d-wrapper a:hover{
    text-decoration: none;
}
/* .d-wrapper h1 {font-size: 2.36rem;margin:0.4rem 0;}
.d-wrapper h2 {font-size: 2rem;margin:0.6rem 0;}
.d-wrapper h3 {font-size: 1.73rem;margin:0.7rem 0;}
.d-wrapper h4 {font-size: 1.6rem;margin:0.8rem 0;}
.d-wrapper h5 {font-size: 1.48rem;margin:0.8rem 0;}
.d-wrapper h6 {font-size: 1.3rem;margin:0.8rem 0;}
.d-wrapper p {margin:1rem 0;} */

.d-wrapper .display { margin-bottom: 0.5rem;  }
.d-wrapper .display h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height:1.4;
    text-transform: uppercase;
}
.d-wrapper .display p {
    font-size: 1.3rem;
    font-style: italic;
}

@media all and (max-width: 1024px) {
    .d-wrapper h1 {font-size: 2rem;}
    .d-wrapper h2 {font-size: 1.73rem;}
    .d-wrapper h3 {font-size: 1.6rem;}
    .d-wrapper h4 {font-size: 1.48rem;}
    .d-wrapper h5 {font-size: 1.3rem;font-weight:bold;}
    .d-wrapper h6 {font-size: 1rem;font-weight:bold;}
    .d-wrapper .display h1 { font-size: 2.2rem; }
    .d-wrapper .display p { font-size: 1.1rem; }
}

/* FIX: Preventing Chrome from wrapping text with span-style (during editing) */
.d-wrapper .display h1 span {font-size: inherit;line-height:inherit;}
.d-wrapper .display p span {font-size: inherit;line-height:inherit;}
.d-wrapper h1 span {font-size: inherit;line-height:inherit;}
.d-wrapper h2 span {font-size: inherit;line-height:inherit;}
.d-wrapper h3 span {font-size: inherit;line-height:inherit;}
.d-wrapper h4 span {font-size: inherit;line-height:inherit;}
.d-wrapper h5 span {font-size: inherit;line-height:inherit;}
.d-wrapper h6 span {font-size: inherit;line-height:inherit;}
.d-wrapper p span {font-size: inherit; line-height:inherit;}
.d-wrapper li span {font-size: inherit; line-height:inherit;}


/**********************************
    Basic Elements
***********************************/


.d-wrapper hr {background:none;background-color: transparent;border:none;border-top: rgba(0, 0, 0, 0.18) 1px solid;margin: 30px 0 25px;padding: 5px;}    
.d-wrapper img {max-width:100%; vertical-align: unset;}
.d-wrapper figure {margin:0}
.d-wrapper ol, 
.d-wrapper ul {line-height: inherit; font-weight: inherit;}
.d-wrapper ul {
    list-style: initial;
    padding-left: 20px;
}
.d-wrapper ul li {
    list-style: initial;
}
.d-wrapper ol {padding-left: 20px;}
.d-wrapper table td {padding:12px;}
.d-wrapper pre {
    font-family: courier;
    font-size: 1rem; 
    line-height: 2;
    white-space: pre-wrap;
}
.d-wrapper blockquote {margin:16px 40px;}
.d-wrapper b, 
.d-wrapper strong {
    font-weight: 600;
}
.d-wrapper sup {
    vertical-align: super;
}
.d-wrapper sub {
    vertical-align: sub;
}
        
/**********************************
    Grid
***********************************/
.d-wrapper .container {
    margin: initial auto;
    max-width: 980px;
}
@media (min-width: 40rem) {
    .column {
        float: left;
        padding-left: 1rem; /* beta3 */
        padding-right: 1rem; /* beta3 */
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .column.full { width: 100%; }
    .column.two-third { width: 66.7%; }
    .column.two-fourth { width: 75%; }
    .column.two-fifth { width: 80%; }
    .column.two-sixth { width: 83.3%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.fifth { width: 20%; }
    .column.sixth { width: 16.6%; }
    .column.flow-opposite { float: right; }  
}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

   
/**********************************
    Useful Classes
***********************************/

.center {text-align:center}
.right {text-align:right}
.left {text-align:left}
.padding-20 {padding:20px}
.padding-25 {padding:25px}
.padding-30 {padding:30px}
.padding-35 {padding:35px}
.padding-40 {padding:40px}
@media all and (max-width: 540px) {
    /*.center {text-align:initial}
    .right {text-align:initial}
    .left {text-align:initial}*/
    .padding-20 {padding:0}
    .padding-25 {padding:0}
    .padding-30 {padding:0}
    .padding-35 {padding:0}
    .padding-40 {padding:0}
}

.margin-0 {margin:0 !important} 
.margin-20 {margin:20px !important} 
.margin-25 {margin:25px !important} 
.margin-30 {margin:30px !important} 
.margin-35 {margin:35px !important} 
.margin-40 {margin:40px !important}
.is-card { display:table; background-color:#fff;  }
.is-card > * { display:table; }
.is-card-circle { width:280px; height: 280px; border-radius:500px; padding:70px; margin:0 auto; box-sizing: content-box; }
@media all and (max-width: 540px) {
    .is-card-circle { zoom:0.7; -moz-transform: scale(0.7); }
}
.is-card-content-centered { display:table-cell;vertical-align:middle;text-align:center; }
.max-390 { max-width:390px;margin:0 auto; }
.shadow-1 { /* card */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24); 
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24); 
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24); 
}
.shadow-2 { /* screenshot */
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.15);
}
.shadow-3 { /* highlight */
    -webkit-box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2); 
}

img.circle {border-radius:500px;margin-top:0;}
img.bordered {border: #ccc 1px solid;}

.embed-responsive {position: relative;display:block;height:0;padding:0;overflow:hidden;margin-top: 1.4em;margin-bottom: 1em;} 
.embed-responsive.embed-responsive-16by9 {padding-bottom: 56.25%;}
.embed-responsive.embed-responsive-4by3 {padding-bottom: 75%;}
.embed-responsive iframe {position: absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}

.list {position:relative;margin:1.5em 0;}
.list > i {position:absolute;left:-3px;top:7px;font-size:1.7em;line-height:1;} 
.list > h2, .list > h3 {margin: 0 0 0 50px;}
.list > p {margin: 5px 0 0 50px}

.quote {position:relative;margin:1.5em 0;}
.quote > i {position: absolute;top: -10px; left: -7px;font-size: 2em;}
.quote > small {margin-left:50px;opacity: 0.7;font-size: 1em;}
.quote > p {margin-left:50px;font-size: 1.5em;}
@media all and (max-width: 540px) {
    .quote > i {left: -15px;font-size:1.5em;}
    .quote > small {margin-left:20px;ont-size: 1em;}
    .quote > p {margin-left:20px;font-size: 1.2em;}
}

.is-social {line-height:1;margin-bottom:1.5em}
.is-social a > i {text-decoration:none;color:#333;font-size:1.2em;margin:0 15px;-webkit-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
.is-social a:first-child > i {margin:0 15px 0 0}
.is-social a:last-child > i {margin:0 0 0 15px}
.is-social a:hover > i {color:#08c9b9;}
.is-light-text .is-social a > i {color:#fff}
.is-light-text .is-social a:hover > i {color:#fff}
.is-dark-text .is-social a > i {color:#000}
.is-dark-text .is-social a:hover > i {color:#000}

.is-rounded-button-big {}
.is-rounded-button-big a {display:inline-block;text-align:center;margin:0 20px;border-radius: 500px; width: 110px; height: 110px;background-color: #aaa;overflow: hidden;}
.is-rounded-button-big a i {display:inline-block;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:40px;line-height: 110px;}
.is-rounded-button-big a:first-child {margin:0 20px 0 0;}
.is-rounded-button-big a:last-child {margin:0 0 0 20px;}

.is-rounded-button-medium {}
.is-rounded-button-medium a {display:inline-block;text-align:center;margin:0 20px;border-radius: 500px; width: 70px; height: 70px;background-color: #aaa;overflow: hidden;}
.is-rounded-button-medium a i {display:inline-block;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:30px;line-height: 70px;}
.is-rounded-button-medium a:first-child {margin:0 20px 0 0;}
.is-rounded-button-medium a:last-child {margin:0 0 0 20px;}

.is-boxed-button-big {display:inline-block;}
.is-boxed-button-big a {display:table;float:left;text-align:center;margin:0 30px 0 0;width: 110px; height: 110px;background-color: #aaa;}
.is-boxed-button-big a i {display:table-cell;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:40px}

.is-boxed-button-big2 {display:inline-block;}
.is-boxed-button-big2 a {display:table;float:left;text-align:center;margin:0 30px 0 0;width: 150px; height: 70px;background-color: #aaa;}
.is-boxed-button-big2 a i {display:table-cell;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:35px}

.is-boxed-button-medium {display:inline-block;}
.is-boxed-button-medium a {display:table;float:left;text-align:center;margin:0 30px 0 0;width: 70px; height: 70px;background-color: #aaa;}
.is-boxed-button-medium a i {display:table-cell;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:30px}

.is-boxed-button-medium2 {display:inline-block;}
.is-boxed-button-medium2 a {display:table;float:left;text-align:center;margin:0 30px 0 0;width: 100px; height: 50px;background-color: #aaa;}
.is-boxed-button-medium2 a i {display:table-cell;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:25px}

.is-boxed-button-small {display:inline-block;}
.is-boxed-button-small a {display:table;float:left;text-align:center;margin:0 20px 0 0;width: 50px; height: 50px;background-color: #aaa;}
.is-boxed-button-small a i {display:table-cell;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:20px}

.height-20 {height:20px}
.height-40 {height:40px}
.height-60 {height:60px}
.height-80 {height:80px}
.d-wrapper .height-100 {height:100px!important}
.height-120 {height:120px}
.height-140 {height:140px}
.height-160 {height:160px}
.height-180 {height:180px}
.height-200 {height:200px}
.height-220 {height:220px}
.height-240 {height:240px}
.height-260 {height:260px}
.height-280 {height:280px}
.height-300 {height:300px}
@media (max-width: 640px) {
    .height-20 {height:20px}
    .height-40 {height:40px}
    .height-60 {height:40px}
    .height-80 {height:40px}
    .d-wrapper .height-100 {height:40px!important}
    .height-120 {height:40px}
    .height-140 {height:40px}
    .height-160 {height:40px}
    .height-180 {height:40px}
    .height-200 {height:40px}
    .height-220 {height:40px}
    .height-240 {height:40px}
    .height-260 {height:40px}
    .height-280 {height:40px}
    .height-300 {height:40px}
}

.size-12 {font-size:12px !important}
.size-14 {font-size:14px !important}
.size-16 {font-size:16px !important}
.size-18 {font-size:18px !important}
.size-21 {font-size:21px !important}
.size-24 {font-size:24px !important}
.size-28 {font-size:28px !important}
.size-32 {font-size:32px !important}
.size-35 {font-size:35px !important}
.size-38 {font-size:36px !important}
.size-42 {font-size:42px !important}
.size-46 {font-size:46px !important}
.size-48 {font-size:48px !important}
.size-50 {font-size:50px !important}
.size-54 {font-size:54px !important}
.size-60 {font-size:60px !important}
.size-64 {font-size:64px !important}
.size-68 {font-size:68px !important}
.size-72 {font-size:72px !important}
.size-76 {font-size:76px !important}
.size-80 {font-size:80px !important}
.size-84 {font-size:84px !important}
.size-88 {font-size:88px !important}
.size-92 {font-size:92px !important}
.size-96 {font-size:96px !important}
.size-100 {font-size:100px !important}
.size-104 {font-size:104px !important}
.size-108 {font-size:108px !important}
.size-112 {font-size:112px !important}
.size-116 {font-size:116px !important}
.size-120 {font-size:120px !important}
.size-124 {font-size:124px !important}
.size-128 {font-size:128px !important}
.size-132 {font-size:132px !important}
.size-136 {font-size:136px !important}
.size-140 {font-size:140px !important}
.size-144 {font-size:144px !important}
.size-148 {font-size:148px !important}
.size-152 {font-size:152px !important}
.size-156 {font-size:156px !important}
.size-160 {font-size:160px !important}
.size-164 {font-size:164px !important}
.size-168 {font-size:168px !important}
.size-172 {font-size:172px !important}
.size-176 {font-size:176px !important}
.size-180 {font-size:180px !important}
.size-184 {font-size:184px !important}
.size-188 {font-size:188px !important}
.size-192 {font-size:192px !important}
.size-196 {font-size:196px !important}
.size-200 {font-size:200px !important}
.size-204 {font-size:204px !important}
.size-208 {font-size:208px !important}
.size-212 {font-size:212px !important}
.size-216 {font-size:216px !important}
.size-220 {font-size:220px !important}

@media all and (max-width: 1024px) {
    .size-12 {font-size:12px !important}
    .size-14 {font-size:14px !important}
    .size-16 {font-size:16px !important}
    .size-18 {font-size:18px !important}
    .size-21 {font-size:21px !important}
    .size-24 {font-size:22px !important}
    .size-28 {font-size:24px !important}
    .size-32 {font-size:26px !important}
    .size-35 {font-size:28px !important}    
    .size-38 {font-size:30px !important}
    .size-42 {font-size:32px !important}
    .size-46 {font-size:34px !important}
    .size-48 {font-size:36px !important}
    .size-50 {font-size:36px !important}
    .size-54 {font-size:36px !important}
    .size-60 {font-size:36px !important}
    .size-64 {font-size:36px !important}
    .size-68 {font-size:36px !important}
    .size-72 {font-size:36px !important}
    .size-76 {font-size:36px !important}
    .size-80 {font-size:36px !important}
    .size-84 {font-size:36px !important}
    .size-88 {font-size:36px !important}
    .size-92 {font-size:36px !important}
    .size-96 {font-size:36px !important}
    .size-100 {font-size:36px !important}
    .size-104 {font-size:36px !important}
    .size-108 {font-size:36px !important}
    .size-112 {font-size:36px !important}
    .size-116 {font-size:36px !important}
    .size-120 {font-size:36px !important}
    .size-124 {font-size:36px !important}
    .size-128 {font-size:36px !important}
    .size-132 {font-size:36px !important}        
    .size-136 {font-size:36px !important}
    .size-140 {font-size:36px !important}
    .size-144 {font-size:36px !important}
    .size-148 {font-size:36px !important}
    .size-152 {font-size:36px !important}
    .size-156 {font-size:36px !important}
    .size-160 {font-size:36px !important}
    .size-164 {font-size:36px !important}
    .size-168 {font-size:36px !important}
    .size-172 {font-size:36px !important}
    .size-176 {font-size:36px !important}
    .size-180 {font-size:36px !important}
    .size-184 {font-size:36px !important}
    .size-188 {font-size:36px !important}
    .size-192 {font-size:36px !important}
    .size-196 {font-size:36px !important}
    .size-200 {font-size:36px !important}
    .size-204 {font-size:36px !important}
    .size-208 {font-size:36px !important}
    .size-212 {font-size:36px !important}
    .size-216 {font-size:36px !important}
    .size-220 {font-size:36px !important}
}

/* If text wrapped with span-style during editing, don't apply the fix here (See line59) */
.size-12 span {font-size:12px !important}
.size-14 span {font-size:14px !important}
.size-16 span {font-size:16px !important}
.size-18 span {font-size:18px !important}
.size-21 span {font-size:21px !important}
.size-24 span {font-size:24px !important}
.size-28 span {font-size:28px !important}
.size-32 span {font-size:32px !important}
.size-35 span {font-size:35px !important}
.size-38 span {font-size:36px !important}
.size-42 span {font-size:42px !important}
.size-46 span {font-size:46px !important}
.size-48 span {font-size:48px !important}
.size-50 span {font-size:50px !important}
.size-54 span {font-size:54px !important}
.size-60 span {font-size:60px !important}
.size-64 span {font-size:64px !important}
.size-68 span {font-size:68px !important}
.size-72 span {font-size:72px !important}
.size-76 span {font-size:76px !important}
.size-80 span {font-size:80px !important}
.size-84 span {font-size:84px !important}
.size-88 span {font-size:88px !important}
.size-92 span {font-size:92px !important}
.size-96 span {font-size:96px !important}
.size-100 span {font-size:100px !important}
.size-104 span {font-size:104px !important}
.size-108 span {font-size:108px !important}
.size-112 span {font-size:112px !important}
.size-116 span {font-size:116px !important}
.size-120 span {font-size:120px !important}
.size-124 span {font-size:124px !important}
.size-128 span {font-size:128px !important}
.size-132 span {font-size:132px !important}
.size-136 span {font-size:136px !important}
.size-140 span {font-size:140px !important}
.size-144 span {font-size:144px !important}
.size-148 span {font-size:148px !important}
.size-152 span {font-size:152px !important}
.size-156 span {font-size:156px !important}
.size-160 span {font-size:160px !important}
.size-164 span {font-size:164px !important}
.size-168 span {font-size:168px !important}
.size-172 span {font-size:172px !important}
.size-176 span {font-size:176px !important}
.size-180 span {font-size:180px !important}
.size-184 span {font-size:184px !important}
.size-188 span {font-size:188px !important}
.size-192 span {font-size:192px !important}
.size-196 span {font-size:196px !important}
.size-200 span {font-size:200px !important}
.size-204 span {font-size:204px !important}
.size-208 span {font-size:208px !important}
.size-212 span {font-size:212px !important}
.size-216 span {font-size:216px !important}
.size-220 span {font-size:220px !important}

@media all and (max-width: 1024px) {
    .size-12 span {font-size:12px !important}
    .size-14 span {font-size:14px !important}
    .size-16 span {font-size:16px !important}
    .size-18 span {font-size:18px !important}
    .size-21 span {font-size:21px !important}
    .size-24 span {font-size:22px !important}
    .size-28 span {font-size:24px !important}
    .size-32 span {font-size:26px !important}
    .size-35 span {font-size:28px !important}    
    .size-38 span {font-size:30px !important}
    .size-42 span {font-size:32px !important}
    .size-46 span {font-size:34px !important}
    .size-48 span {font-size:36px !important}
    .size-50 span {font-size:36px !important}
    .size-54 span {font-size:36px !important}
    .size-60 span {font-size:36px !important}
    .size-64 span {font-size:36px !important}
    .size-68 span {font-size:36px !important}
    .size-72 span {font-size:36px !important}
    .size-76 span {font-size:36px !important}
    .size-80 span {font-size:36px !important}
    .size-84 span {font-size:36px !important}
    .size-88 span {font-size:36px !important}
    .size-92 span {font-size:36px !important}
    .size-96 span {font-size:36px !important}
    .size-100 span {font-size:36px !important}
    .size-104 span {font-size:36px !important}
    .size-108 span {font-size:36px !important}
    .size-112 span {font-size:36px !important}
    .size-116 span {font-size:36px !important}
    .size-120 span {font-size:36px !important}
    .size-124 span {font-size:36px !important}
    .size-128 span {font-size:36px !important}
    .size-132 span {font-size:36px !important}        
    .size-136 span {font-size:36px !important}
    .size-140 span {font-size:36px !important}
    .size-144 span {font-size:36px !important}
    .size-148 span {font-size:36px !important}
    .size-152 span {font-size:36px !important}
    .size-156 span {font-size:36px !important}
    .size-160 span {font-size:36px !important}
    .size-164 span {font-size:36px !important}
    .size-168 span {font-size:36px !important}
    .size-172 span {font-size:36px !important}
    .size-176 span {font-size:36px !important}
    .size-180 span {font-size:36px !important}
    .size-184 span {font-size:36px !important}
    .size-188 span {font-size:36px !important}
    .size-192 span {font-size:36px !important}
    .size-196 span {font-size:36px !important}
    .size-200 span {font-size:36px !important}
    .size-204 span {font-size:36px !important}
    .size-208 span {font-size:36px !important}
    .size-212 span {font-size:36px !important}
    .size-216 span {font-size:36px !important}
    .size-220 span {font-size:36px !important} 
}

@media all and (max-width: 1024px) {
    .margin-left-1024-reset {margin-left:0px !important;}
    .margin-right-1024-reset {margin-right:0px !important;}
}

.letter-spacing-25 {letter-spacing:25px !important}
.letter-spacing-24 {letter-spacing:24px !important}
.letter-spacing-23 {letter-spacing:23px !important}
.letter-spacing-22 {letter-spacing:22px !important}
.letter-spacing-21 {letter-spacing:21px !important}
.letter-spacing-20 {letter-spacing:20px !important}
.letter-spacing-19 {letter-spacing:19px !important}
.letter-spacing-18 {letter-spacing:18px !important}
.letter-spacing-17 {letter-spacing:17px !important}
.letter-spacing-16 {letter-spacing:16px !important}
.letter-spacing-15 {letter-spacing:15px !important}
.letter-spacing-14 {letter-spacing:14px !important}
.letter-spacing-13 {letter-spacing:13px !important}
.letter-spacing-12 {letter-spacing:12px !important}
.letter-spacing-11 {letter-spacing:11px !important}
.letter-spacing-10 {letter-spacing:10px !important}
.letter-spacing-9 {letter-spacing:9px !important} 
.letter-spacing-8 {letter-spacing:8px !important}
.letter-spacing-7 {letter-spacing:7px !important}
.letter-spacing-6 {letter-spacing:6px !important}
.letter-spacing-5 {letter-spacing:5px !important}
.letter-spacing-4 {letter-spacing:4px !important}
.letter-spacing-3 {letter-spacing:3px !important}
.letter-spacing-2 {letter-spacing:2px !important}
.letter-spacing-1 {letter-spacing:1px !important}

@media all and (max-width: 1024px) {
    .letter-spacing-25 {letter-spacing:5px !important}
    .letter-spacing-24 {letter-spacing:5px !important}
    .letter-spacing-23 {letter-spacing:5px !important}
    .letter-spacing-22 {letter-spacing:5px !important}
    .letter-spacing-21 {letter-spacing:5px !important}
    .letter-spacing-20 {letter-spacing:5px !important}
    .letter-spacing-19 {letter-spacing:5px !important}
    .letter-spacing-18 {letter-spacing:5px !important}
    .letter-spacing-17 {letter-spacing:5px !important}
    .letter-spacing-16 {letter-spacing:5px !important}
    .letter-spacing-15 {letter-spacing:5px !important}
    .letter-spacing-14 {letter-spacing:5px !important}
    .letter-spacing-13 {letter-spacing:5px !important}
    .letter-spacing-12 {letter-spacing:5px !important}
    .letter-spacing-11 {letter-spacing:5px !important}
    .letter-spacing-10 {letter-spacing:5px !important} 
    .letter-spacing-9 {letter-spacing:5px !important} 
    .letter-spacing-8 {letter-spacing:4px !important}
    .letter-spacing-7 {letter-spacing:4px !important}
    .letter-spacing-6 {letter-spacing:3px !important}
    .letter-spacing-5 {letter-spacing:3px !important}
}


/**********************************
    Title Styles
***********************************/

.is-light-text * {color: #fff;}
.is-dark-text * {color: #000;}

/* Style 1 */

.is-title1-96 {margin-top:20px;margin-bottom:20px;}
.is-title1-80 {margin-top:15px;margin-bottom:15px;}
.is-title1-64 {margin-top:15px;margin-bottom:15px;}
.is-title1-48 {margin-top:15px;margin-bottom:15px;}
.is-title1-32 {margin-top:15px;margin-bottom:15px;}

/* Style 2 */

.is-title2-96 {margin-top:25px;margin-bottom:20px;}
.is-title2-80 {margin-top:20px;margin-bottom:15px;}
.is-title2-64 {margin-top:20px;margin-bottom:15px;}
.is-title2-48 {margin-top:15px;margin-bottom:15px;}
.is-title2-32 {margin-top:10px;margin-bottom:15px;}

/* Style 3 */

.is-title3-96 {margin-top:30px;margin-bottom:35px;padding:20px 0;border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-title3-80 {margin-top:25px;margin-bottom:33px;padding:20px 0;border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-title3-64 {margin-top:20px;margin-bottom:30px;padding:18px 0;border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-title3-48 {margin-top:20px;margin-bottom:25px;padding:18px 0;border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-title3-32 {margin-top:20px;margin-bottom:20px;padding:15px 0;border-top:#000 2px solid;border-bottom:#000 2px solid;}

.is-light-text .is-title3-96 {border-top:#fff 2px solid;border-bottom:#fff 2px solid;}
.is-light-text .is-title3-80 {border-top:#fff 2px solid;border-bottom:#fff 2px solid;}
.is-light-text .is-title3-64 {border-top:#fff 2px solid;border-bottom:#fff 2px solid;}
.is-light-text .is-title3-48 {border-top:#fff 2px solid;border-bottom:#fff 2px solid;}
.is-light-text .is-title3-32 {border-top:#fff 2px solid;border-bottom:#fff 2px solid;}

.is-dark-text .is-title3-96 {border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-dark-text .is-title3-80 {border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-dark-text .is-title3-64 {border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-dark-text .is-title3-48 {border-top:#000 2px solid;border-bottom:#000 2px solid;}
.is-dark-text .is-title3-32 {border-top:#000 2px solid;border-bottom:#000 2px solid;}

/* Style 4 */

.is-title4-96 {margin-top:30px;margin-bottom:35px;padding:20px 30px;border:#000 2px solid;}
.is-title4-80 {margin-top:25px;margin-bottom:33px;padding:20px 30px;border:#000 2px solid;}
.is-title4-64 {margin-top:20px;margin-bottom:30px;padding:18px 28px;border:#000 2px solid;}
.is-title4-48 {margin-top:20px;margin-bottom:25px;padding:18px 25px;border:#000 2px solid;}
.is-title4-32 {margin-top:20px;margin-bottom:20px;padding:15px 20px;border:#000 2px solid;}

.is-light-text .is-title4-96 {border:#fff 2px solid;}
.is-light-text .is-title4-80 {border:#fff 2px solid;}
.is-light-text .is-title4-64 {border:#fff 2px solid;}
.is-light-text .is-title4-48 {border:#fff 2px solid;}
.is-light-text .is-title4-32 {border:#fff 2px solid;}

.is-dark-text .is-title4-96 {border:#000 2px solid;}
.is-dark-text .is-title4-80 {border:#000 2px solid;}
.is-dark-text .is-title4-64 {border:#000 2px solid;}
.is-dark-text .is-title4-48 {border:#000 2px solid;}
.is-dark-text .is-title4-32 {border:#000 2px solid;}

/* Style 5 */

.is-title5-96 {margin-top:10px;margin-bottom:35px;padding-bottom:25px;border-bottom:#000 2px solid;}
.is-title5-80 {margin-top:10px;margin-bottom:33px;padding-bottom:25px;border-bottom:#000 2px solid;}
.is-title5-64 {margin-top:10px;margin-bottom:30px;padding-bottom:20px;border-bottom:#000 2px solid;}
.is-title5-48 {margin-top:10px;margin-bottom:25px;padding-bottom:20px;border-bottom:#000 2px solid;}
.is-title5-32 {margin-top:10px;margin-bottom:20px;padding-bottom:20px;border-bottom:#000 2px solid;}

.is-light-text .is-title5-96 {border-bottom:#fff 2px solid;}
.is-light-text .is-title5-80 {border-bottom:#fff 2px solid;}
.is-light-text .is-title5-64 {border-bottom:#fff 2px solid;}
.is-light-text .is-title5-48 {border-bottom:#fff 2px solid;}
.is-light-text .is-title5-32 {border-bottom:#fff 2px solid;}

.is-dark-text .is-title5-96 {border-bottom:#000 2px solid;}
.is-dark-text .is-title5-80 {border-bottom:#000 2px solid;}
.is-dark-text .is-title5-64 {border-bottom:#000 2px solid;}
.is-dark-text .is-title5-48 {border-bottom:#000 2px solid;}
.is-dark-text .is-title5-32 {border-bottom:#000 2px solid;}

/* Extra Title Styles */

.is-title-lite {letter-spacing:3px;word-spacing:5px;}
.is-title-lite.is-title3-96, .is-title-lite.is-title4-96, .is-title-lite.is-title5-96 {letter-spacing:4px;word-spacing:8px;}
.is-title-lite.is-title3-80, .is-title-lite.is-title4-80, .is-title-lite.is-title5-80 {letter-spacing:4px;word-spacing:8px;}
.is-title-lite.is-title3-64, .is-title-lite.is-title4-64, .is-title-lite.is-title5-64 {letter-spacing:4px;word-spacing:8px;}
.is-title-lite.is-title3-48, .is-title-lite.is-title4-48, .is-title-lite.is-title5-48 {letter-spacing:4px;word-spacing:8px;}
.is-title-lite.is-title3-32, .is-title-lite.is-title4-32, .is-title-lite.is-title5-32 {letter-spacing:3px;word-spacing:5px;}

.is-title-bold {font-weight:800;}
.is-title-bold.is-title3-96, .is-title-bold.is-title4-96, .is-title-bold.is-title5-96 {border-width:4px;}
.is-title-bold.is-title3-80, .is-title-bold.is-title4-80, .is-title-bold.is-title5-80 {border-width:4px;}
.is-title-bold.is-title3-64, .is-title-bold.is-title4-64, .is-title-bold.is-title5-64 {border-width:3px;}
.is-title-bold.is-title3-48, .is-title-bold.is-title4-48, .is-title-bold.is-title5-48 {border-width:3px;}
.is-title-bold.is-title3-32, .is-title-bold.is-title4-32, .is-title-bold.is-title5-32 {border-width:2px;}


/**********************************
    Into Styles
***********************************/

.is-info1 {margin-top:10px;margin-bottom:0px;font-style:italic;}
.is-info1.size-21 {margin-top:12px;}
.is-info1.size-24 {margin-top:15px;}

.is-info2 {margin-top:10px;margin-bottom:0px;}
.is-info2.size-21 {margin-top:12px;}
.is-info2.size-24 {margin-top:15px;}


/**********************************
    Buttons Styles
***********************************/

.is-btn {
    padding: 10px 50px;
    font-size: 1rem;
    line-height: 2rem;
    border-radius: 0;
    letter-spacing: 3px;
    display: inline-block;
    margin: 3px 0;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: all 0.16s ease;
    transition: all 0.16s ease;
}

/* ghost1 default */
.is-btn-ghost1 { color: #000; border: 2px solid #111; }
.is-btn-ghost1:link { color: #000; }

/* ghost1 light-text */
.is-light-text .is-btn-ghost1,
.is-dark-text .is-light-text .is-btn-ghost1  { color: #fff; border: 2px solid #fff;}

/* ghost1 dark-text */
.is-dark-text .is-btn-ghost1,
.is-light-text .is-dark-text .is-btn-ghost1 { color: #000; border: 2px solid #111; }

/* ghost2 default */
.is-btn-ghost2 { color: #000; border: 2px solid #dcdcdc; background-color: #dcdcdc;}
.is-btn-ghost2:link { color: #000;}

/* ghost2 light-text */
.is-light-text .is-btn-ghost2,
.is-dark-text .is-light-text .is-btn-ghost2  { color: #000; border: 2px solid #f9f9f9; background-color: #f9f9f9; }

/* ghost2 dark-text */
.is-dark-text .is-btn-ghost2,
.is-light-text .is-dark-text .is-btn-ghost2  { color: #000; border: 2px solid #d7d7d7; background-color: #d7d7d7; }

.is-btn-small { padding: 5px 25px; font-size: 0.85em; }
.is-upper { text-transform:uppercase; }
.is-rounded-30 { border-radius: 30px; }

/* backward compatible */
.d-wrapper .btn {
    padding: 7px 25px;
    font-size: 1em;
    line-height: 2em;
    border-radius: 5px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: all 0.16s ease;
    transition: all 0.16s ease;
}
.d-wrapper .btn.btn-primary {color: #ffffff;background-color: #08c9b9;}
.d-wrapper .btn.btn-primary:hover {color: #ffffff;background-color: #07b0a2;border-color: #07b0a2;}
.d-wrapper .btn.btn-default {color: #333333;background-color: #d3d3d3;}
.d-wrapper .btn.btn-default:hover {color: #111;background-color: #ccc;border-color: #ccc;}

/* Container for All Sections */
.d-wrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

/* Sections */
.d-wrapper>div {
    display: table;
    width: 100%;
    height: auto;
    /* default */
    float: left;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    /*z-index:1;*/
    overflow-x: hidden;
}

.d-wrapper .is-wrapper {
    position: relative;

}

.d-wrapper::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
}
.d-wrapper .d-placeholder{
    display: none;
}

/* Boxes */
.is-boxes {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 200px;
    float: left;
}

.is-box-0 {
    display: table-cell;
    width: 0%;
    height: 100%;
    position: relative;
}

.is-box-1 {
    display: table-cell;
    width: 8.333333%;
    height: 100%;
    position: relative;
}

.is-box-2 {
    display: table-cell;
    width: 16.666667%;
    height: 100%;
    position: relative;
}

.is-box-3 {
    display: table-cell;
    width: 25%;
    height: 100%;
    position: relative;
}

.is-box-4 {
    display: table-cell;
    width: 33.333333%;
    height: 100%;
    position: relative;
}

.is-box-5 {
    display: table-cell;
    width: 41.666667%;
    height: 100%;
    position: relative;
}

.is-box-6 {
    display: table-cell;
    width: 50%;
    height: 100%;
    position: relative;
}

.is-box-7 {
    display: table-cell;
    width: 58.333333%;
    height: 100%;
    position: relative;
}

.is-box-8 {
    display: table-cell;
    width: 66.666667%;
    height: 100%;
    position: relative;
}

.is-box-9 {
    display: table-cell;
    width: 75%;
    height: 100%;
    position: relative;
}

.is-box-10 {
    display: table-cell;
    width: 83.333333%;
    height: 100%;
    position: relative;
}

.is-box-11 {
    display: table-cell;
    width: 91.666667%;
    height: 100%;
    position: relative;
}

.is-box-12 {
    display: table-cell;
    width: 100%;
    height: 100%;
    position: relative;
}

.is-box-centered {
    display: table-cell;
    width: 100%;
    position: relative;
    vertical-align: middle;
}


.is-stretch>div:not(.is-arrow-down) {
    /* Unlike .is-overlay (absolute positioned), this section is relative positioned. With this, flowing content is safe, and stretched content can be made absolute with class .flexi-position */
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

/* 
.flexi-position is set relative by default, but will set absolute (stretched) if placed within section .is-stretch 
*/
.flexi-position {
    position: relative;
}

.is-stretch .flexi-position {
    position: absolute;
}

.is-section.is-stretch {
    min-height: 300px;
}

/* New */

@media all and (max-width: 960px) {

    /*   .is-section:not(.is-stretch), .is-section-100:not(.is-stretch) { height: auto !important; } is-stretch is an exception */
    .is-section:not(.is-box) {
        height: auto !important;
    }

    /* .is-boxes { height: auto !important; } */
    .is-boxes {
        height: 100% !important;
    }

    /* new */

    .is-box-img {
        height: 300px !important;
    }

    .is-box-img .is-boxes {
        height: 100% !important;
    }

    .is-box-1 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-2 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-3 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-4 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-5 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-6 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-7 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-8 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-9 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-10 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-11 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-12 {
        display: table;
        width: 100%;
        height: auto;
    }

    /* .is-box-centered {display:block;} */
    .is-box-centered {
        display: table-cell;
    }

    /* new */
}

.is-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@media all and (max-width: 960px) {
    .is-container {
        padding: 15px;
    }
}

@media all and (max-width: 480px) {
    .is-container {
        padding: 15px;
    }
}


/* Boxed Layout */
.d-wrapper .is-boxed-layout .is-container {
    padding: 50px;
    background: #fff;
}

/* 80px */
@media all and (max-width: 1280px) {
    .d-wrapper .is-boxed-layout .is-container {
        padding: 30px;
    }

    /* 60px */
}

@media all and (max-width: 1024px) {
    .d-wrapper .is-boxed-layout .is-container {
        padding: 30px;
    }

    .d-wrapper .is-boxed-layout .is-overlay {
        display: none !important;
    }

    .d-wrapper .is-boxed-layout {
        background: #fff !important;
    }
}

/* Default Layout */

/* Middle */
.d-wrapper .is-box .is-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

@media all and (max-width: 1280px) {
    .d-wrapper .is-box .is-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* Top 
.d-wrapper> div:first-child .is-box:first-child .is-container { margin-top:120px; } 
@media all and (max-width: 1280px) {
    .d-wrapper> div:first-child .is-box:first-child .is-container { margin-top:80px; }
}  */
/*
@media all and (max-width: 1024px) {
    .d-wrapper .is-box  .is-container {
        padding:40px;
    }
    .d-wrapper> div:first-child .is-box:first-child .is-container { padding-top:80px !important; } 
}    */


/* Scroll Down Icon */
.is-arrow-down {
    display: table;
    position: absolute;
    bottom: 65px;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    z-index: 1
}

@media all and (max-width: 1025px) {
    .is-arrow-down {
        display: none !important;
    }
}

.is-arrow-down>a {
    background: rgba(0, 0, 0, 0.18);
    border-radius: 500px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.bounce {
    -moz-animation: bounce 5s forwards;
    -webkit-animation: bounce 5s forwards;
    animation: bounce 5s forwards;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.is-arrow-down.light a {
    background: rgba(255, 255, 255, 0.18);
    color: #111;
}

/* Overlay */
.is-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*z-index:1;*/
}

/*.is-boxes, .is-box-centered {z-index:1}*/
.is-overlay .is-overlay-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.is-overlay .is-overlay-bg.is-scale-animated.is-appeared {
    animation: is-scale 25s ease forwards;
    -ms-animation: is-scale 25s ease forwards;
    -webkit-animation: is-scale 25s ease forwards;
    -o-animation: is-scale 25s ease forwards;
    -moz-animation: is-scale 25s ease forwards;
}

@keyframes is-scale {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
    }

    to {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}

.is-overlay .is-overlay-color {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
}

.is-overlay .is-overlay-content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: inherit;
    /* dec 2017 */
}

.is-overlay .is-overlay-content.content-selectable {
    z-index: 1
}

/* dec 2017 */
.is-container {
    z-index: 1
}

/* dec 2017 */

/* Section & Content Styles */

/* Background Color */
.is-bg-grey,
.d-wrapper>div.is-bg-grey {
    background-color: #eeeff0
}

.is-bg-dark,
.d-wrapper>div.is-bg-dark {
    background-color: #111
}

.is-bg-light,
.d-wrapper>div.is-bg-light {
    background-color: #fff
}


/* Text Color */
.is-light-text,
.is-light-text h1,
.is-light-text h2,
.is-light-text h3,
.is-light-text,
h4,
.is-light-text h5,
.is-light-text h6,
.is-light-text p,
.is-light-text li {
    color: #fff;
}

/*
.is-light-text .is-arrow-down a {
    background: rgba(255, 255, 255, 0.18);
}
*/

.is-dark-text,
.is-dark-text h1,
.is-dark-text h2,
.is-dark-text h3,
.is-dark-text,
h4,
.is-dark-text h5,
.is-dark-text h6,
.is-dark-text p,
.is-dark-text li {
    color: #111;
}

/*
.is-dark-text .is-arrow-down a {
    background: rgba(0, 0, 0, 0.18);
}
*/

.is-dark-text .is-light-text * {
    color: #fff;
}

.is-light-text .is-dark-text * {
    color: #000;
}

/* Vertical Alignment */
.is-content-top {
    vertical-align: top;
}

.is-content-bottom {
    vertical-align: bottom
}

/* Horizontal Alignment */
.is-container.is-content-left {
    margin-left: 100px;
}

.is-container.is-content-right {
    margin-right: 100px;
}

@media all and (max-width: 1200px) {
    .is-container.is-content-left {
        margin-left: 60px
    }

    .is-container.is-content-right {
        margin-right: 60px;
    }
}

@media all and (max-width: 960px) {
    .is-container.is-content-left {
        margin-left: auto;
    }

    .is-container.is-content-right {
        margin-right: auto;
    }
}

/*
@media all and (max-width: 960px) {          
    .is-container.is-content-left {
        margin-left:30px;
        margin-right:30px;
    }
    .is-container.is-content-right {
        margin-right:30px;
        margin-right:30px;
    }
}
*/
.is-box-5 .is-content-left,
.is-box-4 .is-content-left,
.is-box-3 .is-content-left,
.is-box-2 .is-content-left,
.is-box-1 .is-content-left {
    margin-left: auto
}

.is-box-5 .is-content-right,
.is-box-4 .is-content-right,
.is-box-3 .is-content-right,
.is-box-2 .is-content-right,
.is-box-1 .is-content-right {
    margin-right: auto;
}

/* Edge Spacing */
.d-wrapper .is-box .is-content-top.edge-y--5 .is-container {
    margin-top: -200px;
}

.d-wrapper .is-box .is-content-bottom.edge-y--5 .is-container {
    margin-bottom: -200px;
}

.d-wrapper .is-box .is-content-top.edge-y--4 .is-container {
    margin-top: -160px;
}

.d-wrapper .is-box .is-content-bottom.edge-y--4 .is-container {
    margin-bottom: -160px;
}

.d-wrapper .is-box .is-content-top.edge-y--3 .is-container {
    margin-top: -120px;
}

.d-wrapper .is-box .is-content-bottom.edge-y--3 .is-container {
    margin-bottom: -120px;
}

.d-wrapper .is-box .is-content-top.edge-y--2 .is-container {
    margin-top: -80px;
}

.d-wrapper .is-box .is-content-bottom.edge-y--2 .is-container {
    margin-bottom: -80px;
}

.d-wrapper .is-box .is-content-top.edge-y--1 .is-container {
    margin-top: -40px;
}

.d-wrapper .is-box .is-content-bottom.edge-y--1 .is-container {
    margin-bottom: -40px;
}

.d-wrapper .is-box .is-content-top.edge-y-0 .is-container {
    margin-top: 0;
}

.d-wrapper .is-box .is-content-bottom.edge-y-0 .is-container {
    margin-bottom: 0;
}

.d-wrapper .is-box .is-content-top.edge-y-1 .is-container {
    margin-top: 40px;
}

.d-wrapper .is-box .is-content-bottom.edge-y-1 .is-container {
    margin-bottom: 40px;
}

.d-wrapper .is-box .is-content-top.edge-y-2 .is-container {
    margin-top: 80px;
}

.d-wrapper .is-box .is-content-bottom.edge-y-2 .is-container {
    margin-bottom: 80px;
}

.d-wrapper .is-box .is-content-top.edge-y-3 .is-container {
    margin-top: 120px;
}

.d-wrapper .is-box .is-content-bottom.edge-y-3 .is-container {
    margin-bottom: 120px;
}

.d-wrapper .is-box .is-content-top.edge-y-4 .is-container {
    margin-top: 160px;
}

.d-wrapper .is-box .is-content-bottom.edge-y-4 .is-container {
    margin-bottom: 160px;
}

.d-wrapper .is-box .is-content-top.edge-y-5 .is-container {
    margin-top: 200px;
}

.d-wrapper .is-box .is-content-bottom.edge-y-5 .is-container {
    margin-bottom: 200px;
}

@media all and (max-width: 960px) {
    .d-wrapper .is-box .is-content-top.edge-y--5 .is-container {
        margin-top: -200px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y--5 .is-container {
        margin-bottom: -200px;
    }

    .d-wrapper .is-box .is-content-top.edge-y--4 .is-container {
        margin-top: -160px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y--4 .is-container {
        margin-bottom: -160px;
    }

    .d-wrapper .is-box .is-content-top.edge-y--3 .is-container {
        margin-top: -120px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y--3 .is-container {
        margin-bottom: -120px;
    }

    .d-wrapper .is-box .is-content-top.edge-y--2 .is-container {
        margin-top: -80px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y--2 .is-container {
        margin-bottom: -80px;
    }

    .d-wrapper .is-box .is-content-top.edge-y--1 .is-container {
        margin-top: -20px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y--1 .is-container {
        margin-bottom: -40px;
    }

    .d-wrapper .is-box .is-content-top.edge-y-1 .is-container {
        margin-top: 40px;
    }

    /* old: 0px */
    .d-wrapper .is-box .is-content-bottom.edge-y-1 .is-container {
        margin-bottom: 40px;
    }

    .d-wrapper .is-box .is-content-top.edge-y-2 .is-container {
        margin-top: 40px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y-2 .is-container {
        margin-bottom: 40px;
    }

    .d-wrapper .is-box .is-content-top.edge-y-3 .is-container {
        margin-top: 40px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y-3 .is-container {
        margin-bottom: 40px;
    }

    .d-wrapper .is-box .is-content-top.edge-y-4 .is-container {
        margin-top: 40px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y-4 .is-container {
        margin-bottom: 40px;
    }

    .d-wrapper .is-box .is-content-top.edge-y-5 .is-container {
        margin-top: 40px;
    }

    .d-wrapper .is-box .is-content-bottom.edge-y-5 .is-container {
        margin-bottom: 40px;
    }

    /* old: 0px */
}

.is-content-left.edge-x-0 {
    margin-left: 0
}

.is-content-right.edge-x-0 {
    margin-right: 0
}

.is-content-left.edge-x-1 {
    margin-left: 40px
}

.is-content-right.edge-x-1 {
    margin-right: 40px
}

.is-content-left.edge-x-2 {
    margin-left: 80px
}

.is-content-right.edge-x-2 {
    margin-right: 80px
}

.is-content-left.edge-x-3 {
    margin-left: 120px
}

.is-content-right.edge-x-3 {
    margin-right: 120px
}

.is-content-left.edge-x-4 {
    margin-left: 160px
}

.is-content-right.edge-x-4 {
    margin-right: 160px
}

.is-content-left.edge-x-5 {
    margin-left: 200px
}

.is-content-right.edge-x-5 {
    margin-right: 200px
}

@media all and (max-width: 960px) {
    .is-content-left.edge-x-1 {
        margin-left: auto
    }

    .is-content-right.edge-x-1 {
        margin-right: auto
    }

    .is-content-left.edge-x-2 {
        margin-left: auto
    }

    .is-content-right.edge-x-2 {
        margin-right: auto
    }

    .is-content-left.edge-x-3 {
        margin-left: auto
    }

    .is-content-right.edge-x-3 {
        margin-right: auto
    }

    .is-content-left.edge-x-4 {
        margin-left: auto
    }

    .is-content-right.edge-x-4 {
        margin-right: auto
    }

    .is-content-left.edge-x-5 {
        margin-left: auto
    }

    .is-content-right.edge-x-5 {
        margin-right: auto
    }
}

/* Text Alignment */
.is-align-right {
    text-align: right;
}

.is-align-center {
    text-align: center;
}

.is-align-left {
    text-align: left;
}

.is-align-justify {
    text-align: justify;
}

/* Text Opacity */
.is-opacity-20,
.is-opacity-20 .is-container {
    opacity: 0.2;
}

.is-opacity-25,
.is-opacity-25 .is-container {
    opacity: 0.25;
}

.is-opacity-30,
.is-opacity-30 .is-container {
    opacity: 0.3;
}

.is-opacity-35,
.is-opacity-35 .is-container {
    opacity: 0.35;
}

.is-opacity-40,
.is-opacity-40 .is-container {
    opacity: 0.4;
}

.is-opacity-45,
.is-opacity-45 .is-container {
    opacity: 0.45;
}

.is-opacity-50,
.is-opacity-50 .is-container {
    opacity: 0.5;
}

.is-opacity-55 .is-container {
    opacity: 0.55;
}

.is-opacity-60,
.is-opacity-60 .is-container {
    opacity: 0.6;
}

.is-opacity-65,
.is-opacity-65 .is-container {
    opacity: 0.65;
}

.is-opacity-70,
.is-opacity-70 .is-container {
    opacity: 0.7;
}

.is-opacity-75,
.is-opacity-75 .is-container {
    opacity: 0.75;
}

.is-opacity-80,
.is-opacity-80 .is-container {
    opacity: 0.8;
}

.is-opacity-85,
.is-opacity-85 .is-container {
    opacity: 0.85;
}

.is-opacity-90,
.is-opacity-90 .is-container {
    opacity: 0.9;
}

.is-opacity-95,
.is-opacity-95 .is-container {
    opacity: 0.95;
}


/* Content Size */
.is-content-380 {
    max-width: 380px !important;
}

.is-content-500 {
    max-width: 500px !important;
}

.is-content-640 {
    max-width: 640px !important;
}

.is-content-800 {
    max-width: 800px !important;
}

.is-content-970 {
    max-width: 970px !important;
}

.is-content-980 {
    max-width: 980px !important;
}

.is-content-1050 {
    max-width: 1050px !important;
}

.is-content-1100 {
    max-width: 1100px !important;
}

.is-content-1200 {
    max-width: 1200px !important;
}


/* Section Height */
.d-wrapper>div.is-section-20 {
    height: 20vh;
}

.d-wrapper>div.is-section-30 {
    height: 30vh;
}

.d-wrapper>div.is-section-40 {
    height: 40vh;
}

.d-wrapper>div.is-section-50 {
    height: 50vh;
}

.d-wrapper>div.is-section-60 {
    height: 60vh;
}

.d-wrapper>div.is-section-75 {
    height: 75vh;
}

.d-wrapper>div.is-section-100 {
    height: 100vh;
}

.d-wrapper>div.is-section-auto {
    /*height: auto;*/
    height: 10vh;
}


/* Stretched container (not used yet) */
.is-container.is-stretch-w {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

.is-container.is-stretch-h {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.is-container.is-stretch-w>div {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.is-container.is-stretch-w>div>div {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.is-container.is-stretch-h>div {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.is-container.is-fullheight {
    height: 100%
}
.is-container.is-container-fluid{
    max-width:none;
}



/* Others */
.is-shadow-1 {
    /* for section */
    -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
}

.is-lightbox img {
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.is-lightbox img:hover {
    opacity: 0.8
}

.is-hidden {
    display: none !important;
}

/* slider */
.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden
}

.slick-slider {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    top: 0;
    left: 0
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

@charset 'UTF-8';

.slick-list,
.slick-track {
    height: 100% !important
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: 0;
    background: 0 0
}

.slick-next:hover:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-size: 50px;
    line-height: 1;
    opacity: .8;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: 30px;
    z-index: 11;
    opacity: .7;
    width: 30px;
    height: 30px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%2730px%27%20height%3D%2730px%27%20viewBox%3D%270%200%2050%2080%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpolyline%20fill%3D%27none%27%20stroke%3D%27%23FFFFFF%27%20stroke-width%3D%274%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20points%3D%2745.63%2C75.8%200.375%2C38.087%2045.63%2C0.375%20%27%3E%3C/polyline%3E%3C/svg%3E) !important
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slider-on-content .slick-prev {
    width: 22px;
    height: 22px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2050%2080%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpolyline%20fill%3D%27none%27%20stroke%3D%27%23FFFFFF%27%20stroke-width%3D%274%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20points%3D%2745.63%2C75.8%200.375%2C38.087%2045.63%2C0.375%20%27%3E%3C/polyline%3E%3C/svg%3E) !important
}

.slick-prev:hover {
    opacity: 1
}

.slick-next {
    right: 30px;
    z-index: 11;
    opacity: .7;
    width: 30px;
    height: 30px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%2730px%27%20height%3D%2730px%27%20viewBox%3D%270%200%2050%2080%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpolyline%20fill%3D%27none%27%20stroke%3D%27%23FFFFFF%27%20stroke-width%3D%274%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20points%3D%270.375%2C0.375%2045.63%2C38.087%200.375%2C75.8%20%27%3E%3C/polyline%3E%3C/svg%3E) !important
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slider-on-content .slick-next {
    width: 22px;
    height: 22px;
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20xmlns%3Axlink%3D%27http%3A//www.w3.org/1999/xlink%27%20width%3D%2722px%27%20height%3D%2722px%27%20viewBox%3D%270%200%2050%2080%27%20xml%3Aspace%3D%27preserve%27%3E%3Cpolyline%20fill%3D%27none%27%20stroke%3D%27%23FFFFFF%27%20stroke-width%3D%274%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20points%3D%270.375%2C0.375%2045.63%2C38.087%200.375%2C75.8%20%27%3E%3C/polyline%3E%3C/svg%3E) !important
}

.slick-next:hover {
    opacity: 1
}

.slick-slider {
    height: 100%
}

.slick-dots {
    z-index: 10;
    position: absolute;
    bottom: 25px;
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center
}

.slick-dots li,
.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 7px;
    border-radius: 500px;
    border: 1px solid rgba(255, 255, 255, .7)
}

.slick-dots li.slick-active,
.slick-dots li:hover {
    background: rgba(255, 255, 255, .5)
}

.slick-dots.dark li {
    border: 1px solid rgba(0, 0, 0, .5)
}

.slick-dots.dark li.slick-active,
.slick-dots.dark li:hover {
    background: rgba(0, 0, 0, .7)
}

.slider-image {
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: table !important;
    outline: none;
}

.slider-content {
    display: table-cell;
    box-sizing: border-box;
    padding: 50px 70px 50px;
    text-decoration: none;
    opacity: 0.85
}

.slider-on-box .slider-content {
    padding: 65px 80px 70px;
}

.slider-on-box .slick-dots {
    bottom: 35px
}

/* video */
.is-video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.is-overlay-video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.25;
}

/* AOS (Animate on scroll) | Copyright (c) 2015 Michał Sajnóg | The MIT License (MIT) */
[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
    transition-duration: 50ms
}

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms
}

[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
    transition-duration: .1s
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s
}

[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
    transition-duration: .15s
}

[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
    transition-delay: .15s
}

[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
    transition-duration: .2s
}

[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
    transition-delay: .2s
}

[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
    transition-duration: .25s
}

[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
    transition-delay: .25s
}

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
    transition-duration: .3s
}

[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
    transition-delay: .3s
}

[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
    transition-duration: .35s
}

[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
    transition-delay: .35s
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s
}

[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
    transition-delay: .4s
}

[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
    transition-duration: .45s
}

[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
    transition-delay: .45s
}

[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
    transition-duration: .5s
}

[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
    transition-delay: .5s
}

[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
    transition-duration: .55s
}

[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
    transition-delay: .55s
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
    transition-duration: .6s
}

[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
    transition-delay: .6s
}

[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
    transition-duration: .65s
}

[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
    transition-delay: .65s
}

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
    transition-duration: .7s
}

[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
    transition-delay: .7s
}

[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
    transition-duration: .75s
}

[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
    transition-delay: .75s
}

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s
}

[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
    transition-delay: .8s
}

[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
    transition-duration: .85s
}

[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
    transition-delay: .85s
}

[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
    transition-duration: .9s
}

[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
    transition-delay: .9s
}

[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
    transition-duration: .95s
}

[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
    transition-delay: .95s
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s
}

[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
    transition-delay: 1s
}

[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
    transition-duration: 1.05s
}

[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
    transition-delay: 1.05s
}

[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
    transition-duration: 1.1s
}

[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
    transition-delay: 1.1s
}

[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
    transition-duration: 1.15s
}

[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
    transition-delay: 1.15s
}

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
    transition-duration: 1.2s
}

[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
    transition-delay: 1.2s
}

[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
    transition-duration: 1.25s
}

[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
    transition-delay: 1.25s
}

[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
    transition-duration: 1.3s
}

[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
    transition-delay: 1.3s
}

[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
    transition-duration: 1.35s
}

[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
    transition-delay: 1.35s
}

[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
    transition-duration: 1.4s
}

[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
    transition-delay: 1.4s
}

[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
    transition-duration: 1.45s
}

[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
    transition-delay: 1.45s
}

[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
    transition-duration: 1.5s
}

[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
    transition-delay: 1.5s
}

[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
    transition-duration: 1.55s
}

[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
    transition-delay: 1.55s
}

[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
    transition-duration: 1.6s
}

[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
    transition-delay: 1.6s
}

[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
    transition-duration: 1.65s
}

[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
    transition-delay: 1.65s
}

[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
    transition-duration: 1.7s
}

[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
    transition-delay: 1.7s
}

[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
    transition-duration: 1.75s
}

[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
    transition-delay: 1.75s
}

[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
    transition-duration: 1.8s
}

[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
    transition-delay: 1.8s
}

[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
    transition-duration: 1.85s
}

[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
    transition-delay: 1.85s
}

[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
    transition-duration: 1.9s
}

[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
    transition-delay: 1.9s
}

[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
    transition-duration: 1.95s
}

[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
    transition-delay: 1.95s
}

[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
    transition-duration: 2s
}

[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
    transition-delay: 2s
}

[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
    transition-duration: 2.05s
}

[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
    transition-delay: 2.05s
}

[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
    transition-duration: 2.1s
}

[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
    transition-delay: 2.1s
}

[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
    transition-duration: 2.15s
}

[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
    transition-delay: 2.15s
}

[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
    transition-duration: 2.2s
}

[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
    transition-delay: 2.2s
}

[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
    transition-duration: 2.25s
}

[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
    transition-delay: 2.25s
}

[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
    transition-duration: 2.3s
}

[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
    transition-delay: 2.3s
}

[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
    transition-duration: 2.35s
}

[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
    transition-delay: 2.35s
}

[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
    transition-duration: 2.4s
}

[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
    transition-delay: 2.4s
}

[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
    transition-duration: 2.45s
}

[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
    transition-delay: 2.45s
}

[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
    transition-duration: 2.5s
}

[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
    transition-delay: 2.5s
}

[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
    transition-duration: 2.55s
}

[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
    transition-delay: 2.55s
}

[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
    transition-duration: 2.6s
}

[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
    transition-delay: 2.6s
}

[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
    transition-duration: 2.65s
}

[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
    transition-delay: 2.65s
}

[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
    transition-duration: 2.7s
}

[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
    transition-delay: 2.7s
}

[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
    transition-duration: 2.75s
}

[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
    transition-delay: 2.75s
}

[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
    transition-duration: 2.8s
}

[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
    transition-delay: 2.8s
}

[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
    transition-duration: 2.85s
}

[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
    transition-delay: 2.85s
}

[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
    transition-duration: 2.9s
}

[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
    transition-delay: 2.9s
}

[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
    transition-duration: 2.95s
}

[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
    transition-delay: 2.95s
}

[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
    transition-duration: 3s
}

[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
    transition-delay: 0s
}

[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
    transition-delay: 3s
}

[data-aos] {
    pointer-events: none
}

[data-aos].aos-animate {
    pointer-events: auto
}

[data-aos][data-aos][data-aos-easing=linear],
body[data-aos-easing=linear] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease
}

[data-aos][data-aos][data-aos-easing=ease-in],
body[data-aos-easing=ease-in] [data-aos] {
    transition-timing-function: ease-in
}

[data-aos][data-aos][data-aos-easing=ease-out],
body[data-aos-easing=ease-out] [data-aos] {
    transition-timing-function: ease-out
}

[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function: ease-in-out
}

[data-aos][data-aos][data-aos-easing=ease-in-back],
body[data-aos-easing=ease-in-back] [data-aos] {
    transition-timing-function: cubic-bezier(.6, -.28, .735, .045)
}

[data-aos][data-aos][data-aos-easing=ease-out-back],
body[data-aos-easing=ease-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-back],
body[data-aos-easing=ease-in-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

[data-aos][data-aos][data-aos-easing=ease-in-sine],
body[data-aos-easing=ease-in-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.47, 0, .745, .715)
}

[data-aos][data-aos][data-aos-easing=ease-out-sine],
body[data-aos-easing=ease-out-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.39, .575, .565, 1)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-sine],
body[data-aos-easing=ease-in-out-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

[data-aos][data-aos][data-aos-easing=ease-in-quad],
body[data-aos-easing=ease-in-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-quad],
body[data-aos-easing=ease-out-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quad],
body[data-aos-easing=ease-in-out-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-aos][data-aos][data-aos-easing=ease-in-cubic],
body[data-aos-easing=ease-in-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-cubic],
body[data-aos-easing=ease-out-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],
body[data-aos-easing=ease-in-out-cubic] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-aos][data-aos][data-aos-easing=ease-in-quart],
body[data-aos-easing=ease-in-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-aos][data-aos][data-aos-easing=ease-out-quart],
body[data-aos-easing=ease-out-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-aos][data-aos][data-aos-easing=ease-in-out-quart],
body[data-aos-easing=ease-in-out-quart] [data-aos] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

@media screen {
    html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
        opacity: 0;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform
    }

    html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }

    html:not(.no-js) [data-aos=fade-up] {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0)
    }

    html:not(.no-js) [data-aos=fade-down] {
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0)
    }

    html:not(.no-js) [data-aos=fade-right] {
        -webkit-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0)
    }

    html:not(.no-js) [data-aos=fade-left] {
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0)
    }

    html:not(.no-js) [data-aos=fade-up-right] {
        -webkit-transform: translate3d(-100px, 100px, 0);
        transform: translate3d(-100px, 100px, 0)
    }

    html:not(.no-js) [data-aos=fade-up-left] {
        -webkit-transform: translate3d(100px, 100px, 0);
        transform: translate3d(100px, 100px, 0)
    }

    html:not(.no-js) [data-aos=fade-down-right] {
        -webkit-transform: translate3d(-100px, -100px, 0);
        transform: translate3d(-100px, -100px, 0)
    }

    html:not(.no-js) [data-aos=fade-down-left] {
        -webkit-transform: translate3d(100px, -100px, 0);
        transform: translate3d(100px, -100px, 0)
    }

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom] {
        opacity: 0;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform
    }

    html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate {
        opacity: 1;
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }

    html:not(.no-js) [data-aos=zoom-in] {
        -webkit-transform: scale(.6);
        transform: scale(.6)
    }

    html:not(.no-js) [data-aos=zoom-in-up] {
        -webkit-transform: translate3d(0, 100px, 0) scale(.6);
        transform: translate3d(0, 100px, 0) scale(.6)
    }

    html:not(.no-js) [data-aos=zoom-in-down] {
        -webkit-transform: translate3d(0, -100px, 0) scale(.6);
        transform: translate3d(0, -100px, 0) scale(.6)
    }

    html:not(.no-js) [data-aos=zoom-in-right] {
        -webkit-transform: translate3d(-100px, 0, 0) scale(.6);
        transform: translate3d(-100px, 0, 0) scale(.6)
    }

    html:not(.no-js) [data-aos=zoom-in-left] {
        -webkit-transform: translate3d(100px, 0, 0) scale(.6);
        transform: translate3d(100px, 0, 0) scale(.6)
    }

    html:not(.no-js) [data-aos=zoom-out] {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    html:not(.no-js) [data-aos=zoom-out-up] {
        -webkit-transform: translate3d(0, 100px, 0) scale(1.2);
        transform: translate3d(0, 100px, 0) scale(1.2)
    }

    html:not(.no-js) [data-aos=zoom-out-down] {
        -webkit-transform: translate3d(0, -100px, 0) scale(1.2);
        transform: translate3d(0, -100px, 0) scale(1.2)
    }

    html:not(.no-js) [data-aos=zoom-out-right] {
        -webkit-transform: translate3d(-100px, 0, 0) scale(1.2);
        transform: translate3d(-100px, 0, 0) scale(1.2)
    }

    html:not(.no-js) [data-aos=zoom-out-left] {
        -webkit-transform: translate3d(100px, 0, 0) scale(1.2);
        transform: translate3d(100px, 0, 0) scale(1.2)
    }

    html:not(.no-js) [data-aos^=slide][data-aos^=slide] {
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        visibility: hidden
    }

    html:not(.no-js) [data-aos^=slide][data-aos^=slide].aos-animate {
        visibility: visible;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    html:not(.no-js) [data-aos=slide-up] {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    html:not(.no-js) [data-aos=slide-down] {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    html:not(.no-js) [data-aos=slide-right] {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    html:not(.no-js) [data-aos=slide-left] {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    html:not(.no-js) [data-aos^=flip][data-aos^=flip] {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform
    }

    html:not(.no-js) [data-aos=flip-left] {
        -webkit-transform: perspective(2500px) rotateY(-100deg);
        transform: perspective(2500px) rotateY(-100deg)
    }

    html:not(.no-js) [data-aos=flip-left].aos-animate {
        -webkit-transform: perspective(2500px) rotateY(0);
        transform: perspective(2500px) rotateY(0)
    }

    html:not(.no-js) [data-aos=flip-right] {
        -webkit-transform: perspective(2500px) rotateY(100deg);
        transform: perspective(2500px) rotateY(100deg)
    }

    html:not(.no-js) [data-aos=flip-right].aos-animate {
        -webkit-transform: perspective(2500px) rotateY(0);
        transform: perspective(2500px) rotateY(0)
    }

    html:not(.no-js) [data-aos=flip-up] {
        -webkit-transform: perspective(2500px) rotateX(-100deg);
        transform: perspective(2500px) rotateX(-100deg)
    }

    html:not(.no-js) [data-aos=flip-up].aos-animate {
        -webkit-transform: perspective(2500px) rotateX(0);
        transform: perspective(2500px) rotateX(0)
    }

    html:not(.no-js) [data-aos=flip-down] {
        -webkit-transform: perspective(2500px) rotateX(100deg);
        transform: perspective(2500px) rotateX(100deg)
    }

    html:not(.no-js) [data-aos=flip-down].aos-animate {
        -webkit-transform: perspective(2500px) rotateX(0);
        transform: perspective(2500px) rotateX(0)
    }
}


