﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Manager_SubscriptionList.ascx.cs" Inherits="DNNGo.Modules.xBlog.Manager_SubscriptionList" %>
   <!-- start: PAGE HEADER -->
      <div class="row">
        <div class="col-sm-12"> 
          <!-- start: PAGE TITLE & BREADCRUMB -->
          
          <div class="page-header">
            <h1><i class="fa clip-list-4"></i> <%=ViewResourceText("Header_Title", "All Newsletters")%>
             
                <asp:HyperLink ID="hlLinkAddEmail" runat="server" CssClass="btn btn-xs btn-bricky" Text="<i class='fa fa-plus'></i> Add Email" resourcekey="hlLinkAddEmail"></asp:HyperLink> 
                <asp:HyperLink ID="hlLinkAddRole" runat="server" CssClass="btn btn-xs btn-bricky" Text="<i class='fa fa-plus'></i> Add Role" resourcekey="hlLinkAddRole"></asp:HyperLink>
              
            </h1>
          </div>
          <!-- end: PAGE TITLE & BREADCRUMB --> 
        </div>
      </div>
      <!-- end: PAGE HEADER --> 
      <!-- start: PAGE CONTENT -->
      
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-8">
                  <div class="btn-group">
                    <asp:HyperLink runat="server" ID="hlAllSubscriptions" CssClass="btn btn-default" Text="All"></asp:HyperLink>
                    <asp:HyperLink runat="server" ID="hlApprovedSubscription" CssClass="btn btn-default" Text="Approved"></asp:HyperLink>
                    <asp:HyperLink runat="server" ID="hlPendingSubscription" CssClass="btn btn-default" Text="Pending"></asp:HyperLink>
                    <asp:HyperLink runat="server" ID="hlLockSubscription" CssClass="btn btn-default" Text="Lock"></asp:HyperLink>
                    <asp:HyperLink runat="server" ID="hlRecycleSubscription" CssClass="btn btn-default" Text="Recycle" Visible="false"></asp:HyperLink> 
                  </div>
              </div>
                <div class="col-sm-4 input-group text_right">
                <asp:TextBox ID="txtSearch" runat="server" CssClass="form-control" Width="100%" placeholder="Search Text Field" x-webkit-speech></asp:TextBox>
                <div class="input-group-btn">
                    <asp:LinkButton ID="btnSearch" runat="server" CssClass="btn btn-primary" 
                      Text="<i class='fa fa-search'></i>" onclick="btnSearch_Click" />
				</div>
                
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-9">
                <asp:DropDownList ID="ddlStatus" runat="server" CssClass="form-control form_default">
                    <asp:ListItem Value="-1" Text="Bulk Actions" resourcekey="ddlStatus_BulkActions"></asp:ListItem>
                    <asp:ListItem Value="1" Text="Approved" resourcekey="ddlStatus_Approved"></asp:ListItem>
                    <asp:ListItem Value="2" Text="Pending" resourcekey="ddlStatus_Pending"></asp:ListItem>
                    <asp:ListItem Value="0" Text="Lock" resourcekey="ddlStatus_Lock"></asp:ListItem>
                    <asp:ListItem Value="3" Text="Delete" resourcekey="ddlStatus_Recycle"></asp:ListItem>
                </asp:DropDownList>
                <asp:Button ID="btnApply" runat="server" CssClass="btn btn-default" Text="Apply" resourcekey="btnApply" onclick="btnApply_Click" OnClientClick="return ApplyStatus();" />

              </div>
              <div class="col-sm-3 text_right"> <br/>
                <asp:Label ID="lblRecordCount" runat="server"></asp:Label> </div>
            </div>
          </div>
          <div class="form-group">
            <asp:GridView ID="gvSubscriptionList" runat="server" AutoGenerateColumns="False" OnRowDataBound="gvSubscriptionList_RowDataBound" OnRowCreated="gvSubscriptionList_RowCreated" OnSorting="gvSubscriptionList_Sorting" AllowSorting="true"
                        Width="100%" CellPadding="0" cellspacing="0" border="0" CssClass="table table-striped table-bordered table-hover"  GridLines="none" >
                        <Columns>
                            <asp:BoundField DataField="SubscriptionEmail" HeaderText="Email" SortExpression="SubscriptionEmail" /> 
                             <asp:BoundField DataField="SubscriptionName" HeaderText="Name" SortExpression="SubscriptionName" /> 
                            <asp:BoundField DataField="SubscriptionUserID" HeaderText="User" SortExpression="SubscriptionUserID" /> 
                            <asp:BoundField DataField="SubscriptionRoleID" HeaderText="Role" SortExpression="SubscriptionRoleID" /> 
                            <asp:BoundField DataField="StartTime" HeaderText="StartTime" SortExpression="StartTime" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/> 
                            <asp:BoundField DataField="EndTime" HeaderText="EndTime" SortExpression="EndTime" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/> 
                            <asp:BoundField DataField="SubscriptionType" HeaderText="Type" SortExpression="SubscriptionType" HeaderStyle-CssClass="hidden-xs" ItemStyle-CssClass="hidden-xs"/> 
                            <asp:BoundField DataField="Status" HeaderText="Status" SortExpression="Status" /> 
                            <asp:TemplateField HeaderText="Action" ItemStyle-CssClass="center">
                                <ItemTemplate>
                                     <div class="visible-md visible-lg hidden-sm hidden-xs">
                                       <asp:HyperLink ID="hlEdit" runat="server" CssClass="btn btn-xs btn-teal tooltips" data-original-title="Edit" data-placement="top" Text="<i class='fa fa-edit'></i>"></asp:HyperLink>
                                        <asp:LinkButton ID="btnRemove" runat="server" CssClass="btn btn-xs btn-bricky tooltips" data-original-title="Remove" data-placement="top" Text="<i class='fa fa-times fa fa-white'></i>" OnClick="btnRemove_Click"></asp:LinkButton>
                                         
                                     </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                      <div class="btn-group"> <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm"> <i class="fa fa-cog"></i> <span class="caret"></span> </a>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                          <li role="presentation">  <asp:HyperLink ID="hlMobileEdit" runat="server" tabindex="-1" role="menuitem" Text="<i class='fa fa-edit'></i> Edit"></asp:HyperLink></li>
                                          <li role="presentation"> <asp:LinkButton ID="btnMobileRemove" runat="server" tabindex="-1" role="menuitem" data-placement="top" Text="<i class='fa fa-times'></i> Remove"  OnClick="btnRemove_Click"></asp:LinkButton></li>
                                        </ul>
                                      </div>
                                    </div>
                                    
                                </ItemTemplate>
                            </asp:TemplateField>
                            
                        </Columns>
                        <PagerSettings Visible="False" />
                    </asp:GridView>
                    <ul id="paginator-SubscriptionList" class="pagination-purple"></ul>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#paginator-SubscriptionList').bootstrapPaginator({
                                bootstrapMajorVersion: 3,
                                currentPage: <%=PageIndex %>,
                                totalPages: <%=RecordPages %>,
                                numberOfPages:7,
                                useBootstrapTooltip:true,
                                onPageClicked: function (e, originalEvent, type, page) {
                                    window.location.href='<%=CurrentUrl %>&PageIndex='+ page;
                                }
                            });
                        });
                    </script>
          </div>
        </div>
        
        <!-- end: PAGE CONTENT--> 
      </div>


 <script type="text/javascript">
<!--

     function SelectAll() {
         var e = document.getElementsByTagName("input");
         var IsTrue;
         if (document.getElementById("CheckboxAll").value == "0") {
             IsTrue = true;
             document.getElementById("CheckboxAll").value = "1"
         }
         else {
             IsTrue = false;
             document.getElementById("CheckboxAll").value = "0"
         }
         for (var i = 0; i < e.length; i++) {
             if (e[i].type == "checkbox") {
                 e[i].checked = IsTrue;
             }
         }
     }
     function ApplyStatus() {
         var StatusSelected = $("#<%=ddlStatus.ClientID %>").find("option:selected").val();
         if (StatusSelected >= 0) {
             var checkok = false;
             $("#<%=gvSubscriptionList.ClientID %> input[type='checkbox'][type-item='true']").each(function (i, n) {
                 if ($(this).prop('checked')) {
                     checkok = true;
                 }
             });

             if (checkok) {
                 return confirm('<%=ViewResourceText("Confirm_ApplyStatus", "Are you sure to operate the records you choose?") %>');
             }
             alert('<%=ViewResourceText("Alert_NoItems", "Please operate with one line of record selected at least.") %>');

         } else {
             alert('<%=ViewResourceText("Alert_NoActions", "Please choose the operation you need.") %>');
         }
         return false;
     }
   
 
// -->
    </script>