﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Settings_Empty.ascx.cs" Inherits="DNNGo.Modules.xBlog.Settings_Empty" %>
<%@ Register TagPrefix="dnn" TagName="Label" Src="~/controls/LabelControl.ascx" %>
<table cellspacing="0" cellpadding="2" border="0" summary="DNNGO_News_Archive Settings Design Table">
    <tr valign="top">
        <td class="SubHead">
            <dnn:label id="plModule" runat="server" resourcekey="plModule" suffix=":" controlname="ddlModule">
            </dnn:label>
        </td>
        <td align="left" width="325">
            <asp:DropDownList ID="ddlModule" runat="server" Width="325" DataValueField="ModuleID"
                DataTextField="ModuleTitle" CssClass="NormalTextBox">
            </asp:DropDownList>
        </td>
    </tr>
</table>