﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View_Calendar.ascx.cs" Inherits="DNNGo.Modules.xBlog.View_Calendar" %>
Sub module has expired and been moved to the dashboard module, please install dashboard module and select the corresponding effect.