﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View_DashBoardInfo.ascx.cs" Inherits="DNNGo.Modules.xBlog.View_DashBoardInfo" %>
<asp:Literal ID="liContent" runat="server"></asp:Literal>
 
<div style="display:none;" >
    <asp:PlaceHolder ID="PhContent" runat="server"></asp:PlaceHolder>
</div>