﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="View_Article_Info.ascx.cs" Inherits="DNNGo.Modules.xBlog.View_Article_Info" %>
 
<asp:HiddenField ID="hfVerifyEncrypt" runat="server" />
<asp:HiddenField ID="hfVerifyString" runat="server" />

<asp:HiddenField ID="hfReply_ID" runat="server" />
<asp:HiddenField ID="hfReply_UserName" runat="server" />


<script type="text/javascript">
    function Reply(name, id) 
    {
        jQuery("#<%=hfReply_UserName.ClientID %>").val(name);
        jQuery("#<%=hfReply_ID.ClientID %>").val(id);

        var box = jQuery("#CtlTextArea<%=Settings_ModuleID %>");
        box.focus();
        box.val("@" + name + ": " + box.val());
    }
</script>





<asp:Literal ID="liContent" runat="server"></asp:Literal>
<asp:Button runat="server" ID="SubmitButton" OnClick="SubmitButton_Click" Visible="false"  />




