﻿
#if($PhotoList.Count > 0) 

#set( $sliderWidth		 = ${xf.ViewSkinDetailSetting("sliderWidth",900)}	)
#set( $sliderHeight		 = ${xf.ViewSkinDetailSetting("sliderHeight",600)}	)

<div id="slider1_container"  class="jssorSlider" style="width:${sliderWidth}px; height:${sliderHeight}px; display:none;"> 
  <!-- Loading Screen -->
  <div u="loading" class="loading">
    <div class="bg"> </div>
    <div class="ico"> </div>
  </div>
  
  <!-- Slides Container -->
  #if(${xf.ViewSkinDetailSetting("ThumbnailShow","true")}=="true")     
  #set( $sliderHeight2 = $sliderHeight - 100 ) 
  #else
  #set( $sliderHeight2 = $sliderHeight ) 
  #end
  
  <div u="slides" class="slides" style="width:${sliderWidth}px; height:${sliderHeight2}px"> #foreach($PhotoItem in $PhotoList)
    <div class="item"> <img u="image" src="${xf.ViewPicture($PhotoItem)}"  alt="${PhotoItem.FileName}"/>
      <div u="thumb">
        <div class="thumbbg" style=" background-image:url(${xf.ViewPicture($PhotoItem)}"></div>
        #if(${xf.ViewSkinDetailSetting("displaytitle","true")})
        <div class="text">
          <div class="title">${PhotoItem.Name}</div>
        </div>
        #end
      </div>
    </div>
    #end 
    
     #if(${xf.ViewSkinDetailSetting("ThumbnailShow","true")}=="true")      
        #if( ${xf.ViewSkinDetailSetting("BulletNavShow","false")} == "true")
            <div u="navigator" class="${xf.ViewSkinDetailSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
              <div u="prototype"></div>
            </div>
        #end
        </div>
    #else
        </div>
		#if( ${xf.ViewSkinDetailSetting("BulletNavShow","false")} == "true")
            <div u="navigator" class="${xf.ViewSkinDetailSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
        #end 
	#end  
   
    
  #if( ${xf.ViewSkinDetailSetting("ThumbnailShow","true")} == "true")   
  <!-- Thumbnail Navigator Skin Begin -->
  <div u="thumbnavigator" class="thumbnavigator thumbsytle_1" style="width:${sliderWidth}px; height: 101px; bottom:0; background-color:#333;">
    <div u="slides" style="cursor: move;">
    
    #set( $thumwidth = ( ${sliderWidth}*72 )/ ${sliderHeight}) 
      <div u="prototype" class="p" style="width:${thumwidth}px; height: 72px;">
        <div class="w">
          <div u="thumbnailtemplate" class="thumbnailtemplate"></div>
        </div>
        <div class="c"> </div>
      </div>
    </div>
    <!-- Thumbnail Item Skin End --> 
  </div>
  #end
   #if( ${xf.ViewSkinDetailSetting("ArrowNavShow","true")} == "true") 
  <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; left: 8px;"> </span> 
  <!-- Arrow Right --> 
  <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; right: 8px"> </span> 
  #end
  <script>
   
         jQuery(document).ready(function ($) {
			var  _SlideshowTransitions = [Transitions[120],Transitions[251],Transitions[56]];
			$("#slider1_container").show();
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                             		//[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 12,                             //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 440                           //[Optional] The offset position to park thumbnail
                },
                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                 //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },
				#if( ${xf.ViewSkinDetailSetting("BulletNavShow","false")} == "true") 
				$BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 0,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },
			   #end  
			   #if( ${xf.ViewSkinDetailSetting("ArrowNavShow","true")} == "true") 
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2                                //[Required] 0 Never, 1 Mouse Over, 2 Always
                }
			   #end  
            };
			var options2={
				sliderId:"slider1_container",
				sliderWidth:${sliderWidth},
				sliderHeight:${sliderHeight},
				responsive:"true"
			}
			
			sliderPatch(options,options2);
  			$JssorPlayer$.$FetchPlayers(document.body);
         });
  
        </script> 
</div>
#end