﻿
#if($Attachments.Count > 0)
    <ol>
	#foreach($Attachment in $Attachments)	
        <li>
            <a href="${xf.ViewAttachment($Attachment)}" target="_blank" title="$Attachment.FileName">${Attachment.Name}.${Attachment.FileExtension}</a> <i> $Attachment.LastTime</i>
        </li>
    #end
    </ol>
#end


