﻿ #if($RelationList.Count > 0) 
    <ul class="AlbumDetail_RelationList ">
    #foreach($RelationItem in $RelationList)
      <li class="Album_item">
        <!--<a href="${xf.GoUrl($RelationItem)}"><img src="${xf.ThumbnailUrl($RelationItem,${xf.ViewSkinSetting("thumbnail_width",200)},200,"W")}" alt="$RelationItem.Title" title="$RelationItem.Title" /></a>-->
         <a href="${xf.GoUrl($RelationItem)}">$RelationItem.Title</a> $RelationItem.PublishTime.ToShortDateString()
      </li>
    #end
    </ul>
#end