.Theme_FancyBox .form_list{
	margin:0;
	padding:0;
	font-size:0;
	letter-spacing:normal;
	list-style:none;
	margin-right:-10px;
}
.Theme_FancyBox li {
	display:inline-block;
	vertical-align:top;
	font-size:13px;
}
.Theme_FancyBox .form_row {
	padding:0px 10px 10px 0;
}
.Theme_FancyBox .form_label{
	font-size:14px;
	font-weight:bold;
	margin:4px 0 5px;
	color:#555;
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
}
.Theme_FancyBox .form_input {
	font-size:14px;
	position:relative;
	padding:0!important;
	margin:0!important;
}
.Theme_FancyBox .form_input:after {
	clear:both;
	content:".";
	height:0px;
	font-size:0px;
	visibility:hidden;
	display:block;
}

.Theme_FancyBox select,
.Theme_FancyBox textarea,
.Theme_FancyBox input[type="text"],
.Theme_FancyBox input[type="password"],
.Theme_FancyBox input[type="datetime"],
.Theme_FancyBox input[type="datetime-local"],
.Theme_FancyBox input[type="date"],
.Theme_FancyBox input[type="month"],
.Theme_FancyBox input[type="time"],
.Theme_FancyBox input[type="week"],
.Theme_FancyBox input[type="number"],
.Theme_FancyBox input[type="email"],
.Theme_FancyBox input[type="url"],
.Theme_FancyBox input[type="search"],
.Theme_FancyBox input[type="tel"],
.Theme_FancyBox input[type="color"],
.Theme_FancyBox .uneditable-input{
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	padding:8px 12px 8px 5px;
	margin:0;
	line-height:18px;
	border:1px solid #e3e3e3;
	background-color:#FFF;
	font-size:13px;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-webkit-box-shadow:  none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-family:Arial, Helvetica, sans-serif;
}

.Theme_FancyBox textarea:hover,
.Theme_FancyBox input[type="text"]:hover,
.Theme_FancyBox input[type="password"]:hover,
.Theme_FancyBox input[type="datetime"]:hover,
.Theme_FancyBox input[type="datetime-local"]:hover,
.Theme_FancyBox input[type="date"]:hover,
.Theme_FancyBox input[type="month"]:hover,
.Theme_FancyBox input[type="time"]:hover,
.Theme_FancyBox input[type="week"]:hover,
.Theme_FancyBox input[type="number"]:hover,
.Theme_FancyBox input[type="email"]:hover,
.Theme_FancyBox input[type="url"]:hover,
.Theme_FancyBox input[type="search"]:hover,
.Theme_FancyBox input[type="tel"]:hover,
.Theme_FancyBox input[type="color"]:hover,
.Theme_FancyBox .uneditable-input:hover,
.Theme_FancyBox textarea:focus,
.Theme_FancyBox input[type="text"]:focus,
.Theme_FancyBox input[type="password"]:focus,
.Theme_FancyBox input[type="datetime"]:focus,
.Theme_FancyBox input[type="datetime-local"]:focus,
.Theme_FancyBox input[type="date"]:focus,
.Theme_FancyBox input[type="month"]:focus,
.Theme_FancyBox input[type="time"]:focus,
.Theme_FancyBox input[type="week"]:focus,
.Theme_FancyBox input[type="number"]:focus,
.Theme_FancyBox input[type="email"]:focus,
.Theme_FancyBox input[type="url"]:focus,
.Theme_FancyBox input[type="search"]:focus,
.Theme_FancyBox input[type="tel"]:focus,
.Theme_FancyBox input[type="color"]:focus,
.Theme_FancyBox .uneditable-input{
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	border-color:rgb(82, 168, 236);	
	border-color: rgba(82, 168, 236, 0.8);
		 outline: 0;
		 outline: thin dotted \9;
}

.Theme_FancyBox .PowerForms_Calendar {
	background-image:url(images/calendar.png);
	background-position:center right;
	background-repeat:no-repeat;
}

.Theme_FancyBox .form_required{
	color:#F00;
	overflow:hidden;
	vertical-align:middle;
} 
.Theme_FancyBox .form_input textarea+.Powerform_required{
	top:15px;
}
.Theme_FancyBox .Powerform_but input{
	padding:10px 20px;
	background:none;
	border:none;
	background-color:#3cceda;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.Theme_FancyBox .Powerform_but input:hover{
	background-color:#555;
}
.Theme_FancyBox .form_captcha input{
	padding:6px 12px 6px 5px;
}
.Theme_FancyBox .form_captcha input,
.Theme_FancyBox .form_captcha img{
	vertical-align:middle;
	margin:0 5px 0 0;
}


.Theme_FancyBox select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.Theme_FancyBox select, 
.Theme_FancyBox input[type="file"] {
}

.Theme_FancyBox select[multiple], 
.Theme_FancyBox select[size] {
    height: auto;
}

.Theme_FancyBox legend{
	font-size:16px;
}
.Theme_FancyBox fieldset{
	margin-bottom:10px;
}
.Theme_FancyBox .form_label,
.Theme_FancyBox .form_input,
.Theme_FancyBox .form_required{
	padding:0px 8px 8px 0px;
}


.Theme_FancyBox .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  font-family:Arial;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.Theme_FancyBox .btn:hover,
.Theme_FancyBox .btn:active,
.Theme_FancyBox .btn.active,
.Theme_FancyBox .btn.disabled,
.Theme_FancyBox .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.Theme_FancyBox .btn:active,
.Theme_FancyBox .btn.active {
  background-color: #cccccc \9;
}

.Theme_FancyBox .btn:first-child {
  *margin-left: 0;
}
.Theme_FancyBox .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.Theme_FancyBox .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.Theme_FancyBox .btn.active,
.Theme_FancyBox .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.Theme_FancyBox .btn.disabled,
.Theme_FancyBox .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* Form Layout */
.Theme_FancyBox .form_row{
	margin-bottom:10px;
}
.Theme_FancyBox .form_label{
	padding-right:10px;
}
.Theme_FancyBox .form_required{
	color:red;
}
.Theme_FancyBox .submit_but{
	margin-right:5px;
}
.Theme_FancyBox .result_form h1{
	
}
.Theme_FancyBox .form_submit{
	text-align:center;
}
.Theme_FancyBox .result_form .form_submit{
	text-align:left;
}


/* Z-INDEX */
 .formError { z-index: 994; }
    .formError .formErrorContent { z-index: 995; }
    .formError .formErrorArrow { z-index: 996; }
    
    .formErrorInsideDialog.formError { z-index: 5000; }
    .formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
    .formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }




.inputContainer {
	position: relative;
	float: left;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
}

.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}

.formError .formErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	color: #fff;
	/*width: 150px;*/
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.greenPopup .formErrorContent {
	background: #33be40;
}

.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}

.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}

.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.greenPopup .formErrorArrow div {
	background: #33be40;
}

.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}

.formError .formErrorArrow .line8 {
	width: 11px;
}

.formError .formErrorArrow .line7 {
	width: 9px;
}

.formError .formErrorArrow .line6 {
	width: 7px;
}

.formError .formErrorArrow .line5 {
	width: 5px;
}

.formError .formErrorArrow .line4 {
	width: 3px;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}

.Theme_FancyBox .submit_image{
  border:none;
}

.Theme_FancyBox .PowerForms_Calendar{
	background-image:url(images/calendar.png);
	background-position:100% 50%;
	background-repeat:no-repeat;	
}

.Theme_FancyBox .PowerForms_ErrorMessage{
	color:#F00;
} 
.iframe_powerformes{
	margin:0;
}


.form_input input.form-confirm {
  float: left;
  margin-right: 7px;
  margin-top: 5px;
}
.form_input input.form-confirm + label{
  overflow: hidden;
    max-width: initial;
    display: block;
}