
#if(${xf.ViewPageSetting("CustomBackground","inherit")} =="custom" )
.dng-main{
	#if(${xf.ViewPageSetting("Backgroundcolor","")}!="") background:${xf.ViewPageSetting("Backgroundcolor","")};  #end
	#if(${xf.ViewPageSetting("bgcolorimg","")}!="") 
		background-image:url("${xf.ViewPageSetting("bgcolorimg","")}");
        background-attachment: ${xf.GetArrayByString("bgcolorattr",0,true)};
        background-position: ${xf.GetArrayByString("bgcolorattr",1,true)} ${xf.GetArrayByString("bgcolorattr",2,true)}; 
        background-repeat: ${xf.GetArrayByString("bgcolorattr",3,true)};
        background-size: ${xf.GetArrayByString("bgcolorattr",4,true)}; 	
    #end	
}
#end

#if(${xf.ViewPageSetting("CustomContWidth","inherit")} =="custom" )
    #if(${xf.ViewGlobalSetting("ContainerLayout","Boxed")} == "Boxed") 

    .dng-main.Boxed #dng-wrapper{
        width: ${xf.GetArrayByString("ContainerWidth",5,true)};
    }
	@media (min-width:576px) {
        .dng-main.Boxed #dng-wrapper {
            width: ${xf.GetArrayByString("ContainerWidth",4,true)};
        }
    }
	@media (min-width:768px) {
        .dng-main.Boxed #dng-wrapper {
            width: ${xf.GetArrayByString("ContainerWidth",3,true)};
        }
    }
	@media (min-width:992px) {
        .dng-main.Boxed #dng-wrapper {
            width: ${xf.GetArrayByString("ContainerWidth",2,true)};
        }	
    }
	@media (min-width:1200px) {
        .dng-main.Boxed #dng-wrapper {
            width: ${xf.GetArrayByString("ContainerWidth",1,true)};
        }	
    }
	@media (min-width:1600px) {
        .dng-main.Boxed #dng-wrapper {
            width: ${xf.GetArrayByString("ContainerWidth",0,true)};
        }	
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
		.dng-main.Boxed .mobile-header{
			width: ${xf.GetArrayByString("ContainerWidth",3,false)};	
		}
	} 
    #end




    .container{
        width: ${xf.GetArrayByString("ContainerWidth",5,true)};
    }
    .col-left-full {
        margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",5,true)}) /2 )!important;
    }
    .col-right-full {
        margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",5,true)}) /2 )!important;
    }
	@media (min-width:576px) {
        .container{
            width: ${xf.GetArrayByString("ContainerWidth",4,true)};
        }	
        .col-left-full {
            margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",4,true)}) /2 )!important;
        }
        .col-right-full {
            margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",4,true)}) /2 )!important;
        }
    }
	@media (min-width:768px) {
        .container{
            width: ${xf.GetArrayByString("ContainerWidth",3,true)};
        }	
        .col-left-full {
            margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",3,true)}) /2 )!important;
        }
        .col-right-full {
            margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",3,true)}) /2 )!important;
        }
   }	
   @media (min-width:992px) {
    .container{
            width: ${xf.GetArrayByString("ContainerWidth",2,true)};
        }
        .col-left-full {
            margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",2,true)}) /2 )!important;
        }
        .col-right-full {
            margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",2,true)}) /2 )!important;
        }
   }
   @media (min-width:1200px) {
    .container{
            width: ${xf.GetArrayByString("ContainerWidth",1,true)};
        }
        .col-left-full {
            margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",1,true)}) /2 )!important;
        }
        .col-right-full {
            margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",1,true)}) /2 )!important;
        }
         
    }
	@media (min-width:1600px) {
        .container{
            width: ${xf.GetArrayByString("ContainerWidth",0,true)};
        }
        .col-left-full {
            margin-right: calc( (100% - ${xf.GetArrayByString("ContainerWidth",0,true)}) /2 )!important;
        }
        .col-right-full {
            margin-left: calc( (100% - ${xf.GetArrayByString("ContainerWidth",0,true)}) /2 )!important;
        }
    }


    #set( $width0 = ${xf.GetArrayByString("ContainerWidth",0,true)} )
    #set( $width1 = ${xf.GetArrayByString("ContainerWidth",1,true)} )
    #set( $width2 = ${xf.GetArrayByString("ContainerWidth",2,true)} )
    #set( $width3 = ${xf.GetArrayByString("ContainerWidth",3,true)} )
    #set( $width4 = ${xf.GetArrayByString("ContainerWidth",4,true)} )
    #set( $width5 = ${xf.GetArrayByString("ContainerWidth",5,true)} )

    #if(${width5}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width5} - 100vw)/2);
            width:calc(100% + (100vw - ${width5})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width5} - 100vw)/2);
            width:calc(100% + (100vw - ${width5})/2);
        }
    #else
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:-15px;
            width:calc(100% + 15px);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:-15px;
            width:calc(100% + 15px);
        }
    #end


    #if(${xf.ViewGlobalSetting("ContainerLayout","Boxed")} != "Boxed") 
    @media (min-width:576px) {
        #if(${width4}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width4} - 100vw)/2);
            width:calc(100% + (100vw - ${width4})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width4} - 100vw)/2);
            width:calc(100% + (100vw - ${width4})/2);
        }
        #end
    }
    @media (min-width:768px) {
        #if(${width3}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width3} - 100vw)/2);
            width:calc(100% + (100vw - ${width3})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width3} - 100vw)/2);
            width:calc(100% + (100vw - ${width3})/2);
        }
        #end
    }
    @media (min-width:992px) {
        #if(${width2}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width2} - 100vw)/2);
            width:calc(100% + (100vw - ${width2})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width2} - 100vw)/2);
            width:calc(100% + (100vw - ${width2})/2);
        }
        #end
    }
    @media (min-width:1200px) {
        #if(${width1}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width1} - 100vw)/2);
            width:calc(100% + (100vw - ${width1})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width1} - 100vw)/2);
            width:calc(100% + (100vw - ${width1})/2);
        }
        #end
    }
    @media (min-width:1600px) {
        #if(${width0}!="auto")
        .dng-left-full .dng-column:first-child > .dng-column-inner{
            margin-left:calc((${width0} - 100vw)/2);
            width:calc(100% + (100vw - ${width0})/2);
        }
        .dng-right-full .dng-column:last-child > .dng-column-inner{
            margin-right:calc((${width0} - 100vw)/2);
            width:calc(100% + (100vw - ${width0})/2);
        }
        #end
    }
    #end


    
#end



#if(${xf.ViewPageSetting("ContentMargin","inherit")} =="custom" )

    #if(${xf.GetArrayByString("ContentMarginTop",4,true)}!="" || ${xf.GetArrayByString("ContentMarginBottom",4,true)}!="")
    #dnn_content{
        #if(${xf.GetArrayByString("ContentMarginTop",4,true)}!="") padding-top:${xf.GetArrayByString("ContentMarginTop",4,true)}px;	#end
        #if(${xf.GetArrayByString("ContentMarginBottom",4,true)}!="") padding-bottom:${xf.GetArrayByString("ContentMarginBottom",4,true)}px;	#end
    }		
    #end	

	#if(${xf.GetArrayByString("ContentMarginTop",3,true)}!="" || ${xf.GetArrayByString("ContentMarginBottom",3,true)}!="")
	@media (min-width:576px) {
        #dnn_content{
            #if(${xf.GetArrayByString("ContentMarginTop",3,true)}!="") padding-top:${xf.GetArrayByString("ContentMarginTop",3,true)}px;	#end
            #if(${xf.GetArrayByString("ContentMarginBottom",3,true)}!="") padding-bottom:${xf.GetArrayByString("ContentMarginBottom",3,true)}px;	#end
        }		
    }
	#end	
	#if(${xf.GetArrayByString("ContentMarginTop",2,true)}!="" || ${xf.GetArrayByString("ContentMarginBottom",2,true)}!="")
	@media (min-width:768px) {
        #dnn_content{
            #if(${xf.GetArrayByString("ContentMarginTop",2,true)}!="") padding-top:${xf.GetArrayByString("ContentMarginTop",2,true)}px;	#end
            #if(${xf.GetArrayByString("ContentMarginBottom",2,true)}!="") padding-bottom:${xf.GetArrayByString("ContentMarginBottom",2,true)}px;	#end
        }		
    }	
	#end	
	#if(${xf.GetArrayByString("ContentMarginTop",1,true)}!="" || ${xf.GetArrayByString("ContentMarginBottom",1,true)}!="")
	@media (min-width:992px) {
        #dnn_content{
            #if(${xf.GetArrayByString("ContentMarginTop",1,true)}!="") padding-top:${xf.GetArrayByString("ContentMarginTop",1,true)}px;	#end
            #if(${xf.GetArrayByString("ContentMarginBottom",1,true)}!="") padding-bottom:${xf.GetArrayByString("ContentMarginBottom",1,true)}px;	#end
        }		
    }
	#end	
	#if(${xf.GetArrayByString("ContentMarginTop",0,true)}!="" || ${xf.GetArrayByString("ContentMarginBottom",1,true)}!="")
	@media (min-width:1200px) {
        #dnn_content{
            #if(${xf.GetArrayByString("ContentMarginTop",0,true)}!="") padding-top:${xf.GetArrayByString("ContentMarginTop",0,true)}px; #end
            #if(${xf.GetArrayByString("ContentMarginBottom",0,true)}!="") padding-bottom:${xf.GetArrayByString("ContentMarginBottom",0,true)}px; #end
        }		
    }
    #end	



#end


