﻿<!-- slider markup -->
<ul id="slider${ModuleID}" class="$SkinEffectThemeName">
    #if($PhotoList.Count > 0) 
        #foreach($PhotoItem in $PhotoList)
		<div class="slider-item">
           <img src="${xf.ViewPicture($PhotoItem)}" alt="${PhotoItem.Title}"/>                                 	 
        </div>
        #end 
    #end
</ul>

<!-- slider initializer -->
<script type='text/javascript'>


$('#slider${ModuleID}').slick({
  infinite: true,
  dots: ${xf.ViewSkinEffectSetting("dots","true")},
  arrows: ${xf.ViewSkinEffectSetting("arrows","true")},
  speed: ${xf.ViewSkinEffectSetting("speed","300")},
  fade: ${xf.ViewSkinEffectSetting("fade","false")},
  cssEase: '${xf.ViewSkinEffectSetting("cssease","linear")}',
  autoplay: ${xf.ViewSkinEffectSetting("autoplay","true")},
  autoplaySpeed: ${xf.ViewSkinEffectSetting("autoplayspeed","3000")}
 
});

</script>




         