﻿.RankingList_Default .article_toplist{
	padding:0px!important;
	margin:0px;
}
.RankingList_Default .article_toplist li{
	list-style:none;
	border-top:1px solid #ccc;
	padding:8px 0px;
}
.RankingList_Default .article_toplist li:first-child{
	padding-top:0px;
	border-top:none;
}
.RankingList_Default .article_toplist li .post_thum{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
}
.RankingList_Default .article_toplist li .post_thum a{
    
}
.RankingList_Default .article_toplist li .post_thum img{
	display: block;
	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	max-width:100%;
}
.RankingList_Default .article_toplist li .post_thum img:hover{
	opacity: 0.6;
}
.RankingList_Default .article_toplist .post_summary{
	margin:5px 0px;
	clear:both;
}
.RankingList_Default .article_toplist li .post_title{
	font-size:16px;
	line-height:24px;
	margin:0px 0px 5px;
}
.RankingList_Default .RankingList_Default .article_toplist li .post_title,
.RankingList_Default .RankingList_Default .article_toplist li .post_date,
.RankingList_Default .RankingList_Default .article_toplist li .post_more{
	margin:5px 0px;
}
.RankingList_Default .RankingList_Default .article_toplist li .post_date{
	font-style:italic;
}
.RankingList_Default .article_toplist li .post_title a,
.RankingList_Default .article_toplist li .post_date a,
.RankingList_Default .article_toplist li .post_more a{
	text-decoration:none;
}
.RankingList_Default .article_toplist li .post_title a:hover,
.RankingList_Default .article_toplist li .post_date a:hover,
.RankingList_Default .article_toplist li .post_more a:hover{
	text-decoration:underline;
}
.RankingList_Default .view_right{
	overflow:hidden;
}
.RankingList_Default .post_thum {
	margin-bottom:8px;
}
.RankingList_Default .post_title {
	margin-bottom:8px;
}
.RankingList_Default .post_date {
	margin-bottom:8px;
}
.RankingList_Default .post_Author {
	margin-bottom:8px;
}
.RankingList_Default .post_category {
	margin-bottom:8px;
}
.RankingList_Default .post_tags {
	margin-bottom:8px;
}
.RankingList_Default .post_summary {
	margin-bottom:8px;
}
.RankingList_Default .post_more {
	margin-bottom:8px;
}

/*PagingTable*/
.RankingList_Default .xblog_page{
	margin-bottom:5px;
	white-space:normal;
}
.RankingList_Default .xblog_page .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .RankingList_Default .xblog_page .button{
	display:inline;
}
* html .RankingList_Default .xblog_page .button{
	display:inline;
}
.RankingList_Default .xblog_page .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.RankingList_Default .xblog_page .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .RankingList_Default .xblog_page .disabled{
	display:inline;
}
* html .RankingList_Default .xblog_page .disabled{
	display:inline;
}


.RankingList_Default .post_but{
	background:url(images/post_but.jpg) 0px 0px repeat-x #E0E0E0;
	line-height:13px;
	font-size:13px;
	color:#000!important;
	padding:6px 10px 7px 10px;
	border:1px solid #CFCFCF;
	text-decoration:none!important;
	border-radius:5px;
}


/*RankingList_Default*/
.pager{
	margin-bottom:5px;
	white-space:normal;
}
.pager .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px;
	text-decoration:none;
	margin-left:5px;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	margin-bottom:5px;
}
*+html .pager .button{
	display:inline;
}
* html .pager .button{
	display:inline;
}
.pager .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.pager .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .pager .disabled{
	display:inline;
}
* html .pager .disabled{
	display:inline;
}
.clearfix:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}


@media (max-width: 767px) {
	.RankingList_Default .article_toplist li .post_thum{
		float:none;
		margin-right:0px;
		margin-bottom:10px;
	}	
}