﻿<div class="$ThemeName link-div-${ModuleID}">
    <a id="LinkByFancyBox${ModuleID}" class="LinkByFancyBox${ModuleID} various fancybox.iframe" href="${xf.ViewIFrame()}">
        #if(${xf.ViewXmlSetting("HoverIcon","")} == "")
            <img src="${Module.ModulePath}Effects/${EffectName}/Themes/${ThemeName}/images/${xf.ViewXmlSetting("button_image","contactus.png")}" />
        #else
            <img src="${xf.PictureUrl("HoverIcon","")}" />
        #end
    </a>
</div>

 
 <script type="text/javascript">
     jQuery("#LinkByFancyBox${ModuleID}").fancybox_powerforms({
         beforeShow: function () { 
         },
		 maxWidth: ${xf.ViewXmlSetting("fancyboxwidth",500)},
		 minHeight: ${xf.ViewXmlSetting("fancyboxheight",150)},
         modal: ${xf.ViewXmlSetting("fancybox_modal","false")},
         scrollOutside: ${xf.ViewXmlSetting("fancybox_scrollOutside","true")},
         // Properties for each animation type
        // Opening fancyBox
        openEffect: '${xf.ViewXmlSetting("fancybox_openEffect","fade")}', // 'elastic', 'fade' or 'none'
        openSpeed: ${xf.ViewXmlSetting("fancybox_openSpeed",250)},
        openEasing: '${xf.ViewXmlSetting("fancybox_openEasing","swing")}',
        openOpacity: ${xf.ViewXmlSetting("fancybox_openOpacity","true")},

        // Closing fancyBox
        closeEffect: '${xf.ViewXmlSetting("fancybox_closeEffect","fade")}', // 'elastic', 'fade' or 'none'
        closeSpeed: ${xf.ViewXmlSetting("fancybox_closeSpeed",250)},
        closeEasing: '${xf.ViewXmlSetting("fancybox_closeEasing","swing")}',
        closeOpacity: ${xf.ViewXmlSetting("fancybox_closeOpacity","true")}

     });
</script>



 
<script type="text/javascript">
jQuery(function ($) {
    $('body').append($('.link-div-${ModuleID}'));
    
    $(window).load(function(){
       
            setTimeout(function(){ 
                if($('#personaBar-iframe').length){
                $('.link-div-${ModuleID}').css("${xf.ViewXmlSetting("button_position","left")}",$('body').offset().left); 
                }
            },1000)
           

       
    })

$('#personaBar-iframe').load(function(){
    if("${xf.ViewXmlSetting("button_position","left")}"=="left"){
    $('.link-div-${ModuleID}').css("left",80); 
}
})


});
</script>
<style type="text/css">
	.link-div-${ModuleID} {z-index:9999; position:fixed;
    
     ${xf.ViewXmlSetting("button_position"," left")}:0px; 
    
    top:${xf.ViewXmlSetting("Desktopbutton_image_top"," 300")}px }
	.form_div_${ModuleID} .actionMenu{ display:none;}
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		.link-div-${ModuleID} {top:${xf.ViewXmlSetting("Tabletbutton_image_top"," 200")}px }
	}	
	@media only screen and (max-width: 767px) {
		.link-div-${ModuleID} {top:${xf.ViewXmlSetting("Phonebutton_image_top"," 100")}px }
	}
</style> 
 




 
       
 
 





 
 