﻿

.event_accordion {
	background-color: #fafafa;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}
.event_accordion .event_post{
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
}

.event_accordion .event-title {
	border-left: 3px solid #F00;
	cursor: pointer;
	line-height:1.2;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: all ease-in 200ms; /* Opera */
	-ms-transition: all ease-in 200ms; /* IE9? */
	margin-bottom: -1px;
}
.event_accordion .event-title > .clear {
	border-bottom: 1px solid #e5e5e5;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.event_accordion .event_post:hover {
	background-color: #f4f4f4;
}
.event_accordion .event_post:hover .event-title {
	border-left-width: 6px;
}
.event_accordion .event_post.today{
	background-color: #f4f4f4;
}
.event_accordion .event_post.today .event-title {
	border-left-width: 6px;
}

.event_accordion .event_thum img {
	width: 100%;
}
.event_accordion .event-PictureUrl{
	text-align:center;
}
.event_accordion .event-PictureUrl img {
	max-width: 100%;
}
.event_accordion .event-title .event-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.event_accordion .event-title .event-date span {
	display: block;
	font-size: 13px;
}
.event_accordion .event-title .event-date {
	float: left;
	padding: 10px;
	min-width: 85px;
	font-size: 30px;
	color: #ababab;
	font-weight: bold;
}
.event_accordion .event-title .event-date .endtime {
	float:right;
	font-size:13px;
	text-align:right;
	line-height:1;
	padding-right:20px;
}
.event_accordion .event-title .event-date .endtime:before{
	content:"-";
	padding-right:8px;
	font-size:10px;
}

.event_accordion .event-title .event-date .endtime span{
	font-size:10px;
	font-weight:normal;
}

.event_accordion .event-title-right {
	overflow: auto;
	padding: 10px;
}
.event_accordion .event-title-right h3 {
	margin: 2px 0 5px;
	color: #6B6B6B;
	font-size: 18px;
}
.event_accordion .event-title-right .event-info {
	margin: 0 0 5px;
	color: #262626;
	font-size: 11px;
	opacity: 0.7;
}
.event-detail:hover .event-title-right .event-info {
	opacity: 1;
}
.event_accordion {
	border-right:1px solid #cdcdcd;
	border-top:1px solid #cdcdcd;
}

.event_accordion .event_post {
	border-bottom:1px solid #cdcdcd;
}
.event_accordion .event-content {
	background-color: #eaeaea;
	border-left:1px solid #cdcdcd;
	border-top:none;
	display:none;	
}
.event_accordion .event-content .event-details,
.event_accordion .event-content .event-schedule {
	padding: 15px 15px 15px 65px;
	color:#585858;
	border-bottom:1px solid #cdcdcd;
}

.event_accordion .event-content .event-details > h5,
.event_accordion .event-content .event-schedule > h5,
.event_accordion .event-details-info li > h5 {
	font-size: 18px;
	color: #6B6B6B;
	position: relative;
}
.event_accordion .event-content .event-details > h5 span,
.event_accordion .event-content .event-schedule > h5 span,
.event_accordion .event-details-info li > h5 span {
	position: absolute;
	top: 0;
	left: -40px;
}
.event_accordion .event-content .event-details-info {
	border-bottom: 1px solid #cdcdcd;
	display:table;
	width:100%;
}
.event_accordion .event-details-info ul{
	margin: 0;
	padding: 0;
	display:table-row
}
.event_accordion .event-details-info li{
	width:50%;
	display:table-cell;
	padding:15px 15px 15px 65px;
	border-right: 1px solid #cdcdcd;
}
.event_accordion .event-details-info .TimeZone{
	font-size:11px;
	color:#777;
}
.event_accordion .event-details-info p{
	margin-bottom:8px;
}
.event_accordion .event-details-info li:last-child{
	border-right:none;
}

.event_accordion .event-content .event-gmap {
	width:100%;
	height:300px;
}
.event_accordion .event-content .event-gmap img{
	max-width:none;
}
.event_accordion .event_thum {
	text-align:center;
}
.event_accordion .event_gallerys {
}
.event_accordion .event_gallerys ol,
.event_accordion .event_gallerys li{
	list-style:none;
	margin:0;
	padding:0;
}
.event_accordion .event_gallerys img {
	max-width:100%;
}
/*PagingTable*/
.event_page{
	padding-top:10px;
	margin-bottom:5px;
	white-space:normal;
}
.event_page .button{
	display:inline-block; 
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .event_page .button{
	display:inline;
}
* html .event_page .button{
	display:inline;
}
.event_page .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.event_page .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .event_page .disabled{
	display:inline;
}
* html .event_page .disabled{
	display:inline;
}

.event_accordion.topinfo {
	border:none;
}
.event_accordion .page_meta {
	margin-bottom:10px;
	padding: 8px 10px;
	background: #F0F0F0;
}
.event_accordion .page_meta a {
	float: right;
}
.event_accordion .author_info {
	margin-bottom:10px;
}
.event_accordion .author_info .thum {
	float:left;
	margin-right:10px;
}
.event_accordion .author_info .thum img {
	width:120px;
}

.event_noevent {
	text-align:center;
	padding:20px;
}

.event_rss {
	text-align:right;
	padding-bottom:4px;
}

