﻿<!--<div class="form_link_fancybox"  data-effect="FancyBox" data-text="PowerForms" module="686"></div>-->
  
 <script type="text/javascript">
 jQuery(function($) {
  $("div[data-effect='FancyBox'][module='${ModuleID}'],span[data-effect='FancyBox'][module='${ModuleID}']").each(function (index, domEle) {
        var a,b,c,d;
        a = $(domEle).attr("module");
        b = $(domEle).attr("data-text");
        c = $(domEle).attr("data-image");
        d = $(domEle).attr("date-title");
        if(c!== undefined && c!== "" )
        {
            $(domEle).empty().append("<a id='LinkByFancyBox"+ a +"' class='LinkByFancyBox"+a+" various fancybox.iframe'  href='${xf.ViewIFrame()}' title='"+d+"'><img src='"+c+"'/></a>");
        }else
        {
            $(domEle).empty().append("<a id='LinkByFancyBox"+ a +"' class='LinkByFancyBox"+a+" various fancybox.iframe'  href='${xf.ViewIFrame()}'  title='"+d+"'>" + b+ "</a>");
        }
        $(domEle).attr("id","form_desc_div"+a)
   });



  jQuery("#LinkByFancyBox${ModuleID}").fancybox_powerforms({
         beforeShow: function () { 
         },
		 maxWidth: ${xf.ViewXmlSetting("fancyboxwidth",500)},
		 minHeight: ${xf.ViewXmlSetting("fancyboxheight",150)},
         afterClose: function () { 
             //jQuery(".DnnModule-${ModuleID}").css("z-index","0");
         },
         modal: ${xf.ViewXmlSetting("fancybox_modal","false")},
         scrollOutside: ${xf.ViewXmlSetting("fancybox_scrollOutside","true")},
         // Properties for each animation type
        // Opening fancyBox
        openEffect: '${xf.ViewXmlSetting("fancybox_openEffect","fade")}', // 'elastic', 'fade' or 'none'
        openSpeed: ${xf.ViewXmlSetting("fancybox_openSpeed",250)},
        openEasing: '${xf.ViewXmlSetting("fancybox_openEasing","swing")}',
        openOpacity: ${xf.ViewXmlSetting("fancybox_openOpacity","true")},

        // Closing fancyBox
        closeEffect: '${xf.ViewXmlSetting("fancybox_closeEffect","fade")}', // 'elastic', 'fade' or 'none'
        closeSpeed: ${xf.ViewXmlSetting("fancybox_closeSpeed",250)},
        closeEasing: '${xf.ViewXmlSetting("fancybox_closeEasing","swing")}',
        closeOpacity: ${xf.ViewXmlSetting("fancybox_closeOpacity","true")}

     });
});



     
</script>
<style type="text/css">
	#form_div_${ModuleID} .actionMenu{ display:none;}
</style> 
