﻿<div class="$ThemeName form-align-${xf.ViewXmlSetting("align","left")} #if(${xf.ViewXmlSetting("LineMode",false)})form-line-mode#end  dg-form-content-box ${xf.ViewXmlSetting("style","form-line")}-load" id="form_div_${ModuleID}" style="width:${xf.ViewXmlSetting("width","100%")};"> 
    #if($FieldList.Count > 0)
        <ul class="form_list dg-form-content ${xf.ViewXmlSetting("style","form-line")} ${xf.ViewXmlSetting("size","size-default")} ${xf.ViewXmlSetting("color","black")} #if(${xf.ViewXmlSetting("style","form-line")}!="form-line")${xf.ViewXmlSetting("radius","none-radius")}#end  #if(${xf.ViewXmlSetting("DisplayShadow",false)})display-shadow#end"> 
            #foreach($FieldItem in $FieldList)
                <li style="width:${xf.ViewItemSetting($FieldItem,"Itemwidth","100")}%">
                    <div class="form-control-wrap  row${velocityCount}">
                    #if(${xf.IsHtmlControl($FieldItem)})
                       ${xf.ViewControl($FieldItem)}
                    #else
                        #if(${xf.ViewItemSetting($FieldItem,"DisplayTitle","true")}=="true")

                        #if($FieldItem.Required == 1)
                            ${xf.ViewLable($FieldItem,"<span class='form_required'> *</span>")}  
                        #else
                            ${xf.ViewLable($FieldItem,"")}  
                        #end   
                        #end
                        <div class="form_input">
                            ${xf.ViewControl($FieldItem)}
                            #if( ${xf.ViewXmlSetting("DisplayTooltip","true")} == "true")
                                ${xf.ViewInputDefault($FieldItem)}
                            #end
                        </div>
                   
                    #end
                  </div>
                </li>
            #end
            #if($Module.Settings_Recaptcha_Enable)
            <li style="width:100%;">
                <div class="form-control-wrap">
                <div class="form_row">
                    <div class="form_captcha">${xf.ViewCaptcha()}</div>
                </div>  
            </div>         
            </li>
            #end
            <li class="from-footer">
                #if($ErrorMessage != '')
                    <div class="PowerForms_ErrorMessage">$ErrorMessage</div>  
                #end  
                <div class="form_submit text-${xf.ViewXmlSetting("ButtonPosition","left")}">   
                    
                    #if(${xf.ViewXmlSetting("SubmitButtonClass","")}!="")
                    ${xf.ViewButton(${xf.ViewXmlSetting("SubmitButtonClass","")})}
                    #else
                    ${xf.ViewButton("submit_but")}
                    #end
                    #if(${xf.ViewXmlSetting("ShowResetButton","false")} == "true")
                        #if(${xf.ViewXmlSetting("ResetButtonClass","")}!="")
                        ${xf.ViewResetButton(${xf.ViewXmlSetting("ResetButtonClass","")})}
                        #else
                        ${xf.ViewResetButton("reset_but")}
                        #end
                    #end

                </div>                              
            </li>
        </ul>			
    #end


</div>
<style type="text/css">
#form_div_${ModuleID} .actionMenu{ display:none;}
#form_div_${ModuleID} .form_list > li {
    padding: 0px 0px ${xf.ViewXmlSetting("VerticalSpacing","20")}px ${xf.ViewXmlSetting("HorizontalSpacing","30")}px;
}
#form_div_${ModuleID} .form_list{
    margin:0 0 0 -${xf.ViewXmlSetting("HorizontalSpacing","30")}px
}
.form_captcha{
    position:relative;
}
.g-recaptcha-dnn{
    padding-bottom:20px;
}
.form_captcha .g-recaptcha-msg{
    position:absolute;
    left:0;
    bottom:0;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    white-space:nowrap;
    line-height:1;
}
#if(${xf.ViewXmlSetting("color","dark")} == "custom")


#if(${xf.ViewXmlSetting("style","form-line")} == "form-background")
#form_div_${ModuleID} .form-background .form-control-wrap input[type=text],
#form_div_${ModuleID} .form-background .form-control-wrap input[type=email],
#form_div_${ModuleID} .form-background .form-control-wrap input[type=url],
#form_div_${ModuleID} .form-background .form-control-wrap input[type=tel],
#form_div_${ModuleID} .form-background .form-control-wrap input[type=number],
#form_div_${ModuleID} .form-background .form-control-wrap input[type=date],
#form_div_${ModuleID} .form-background .form-control-wrap select,
#form_div_${ModuleID} .form-background .form-control-wrap textarea,
#form_div_${ModuleID} .form-background .fixline:before {
	background-color: ${xf.ViewXmlSetting("backgroundcolor","")};
    color: ${xf.ViewXmlSetting("fontcolor","")};
	border-color:${xf.ViewXmlSetting("bordercolor","")};
 
}
#form_div_${ModuleID} .form-background .form-control-wrap,
#form_div_${ModuleID} .form-background .form-control-wrap span,
#form_div_${ModuleID} .form-background .form-control-wrap label.valid,
#form_div_${ModuleID} .form-background .form-control-wrap input,
#form_div_${ModuleID} .form-background .form-control-wrap select,
#form_div_${ModuleID} .form-background .form-control-wrap textarea {
	color: ${xf.ViewXmlSetting("fontcolor","")};
    #if(${xf.ViewXmlSetting("borderwidth","1px")} != "1px")
      border-width:${xf.ViewXmlSetting("borderwidth","1px")};
    #end
}
#form_div_${ModuleID} .form-background .form-control-wrap label{
    color: ${xf.ViewXmlSetting("titlecolor","")};
}




#elseif(${xf.ViewXmlSetting("style","form-line")} == "form-border")
#form_div_${ModuleID} .form-border .form-control-wrap input[type=text],
#form_div_${ModuleID} .form-border .form-control-wrap input[type=email],
#form_div_${ModuleID} .form-border .form-control-wrap input[type=url],
#form_div_${ModuleID} .form-border .form-control-wrap input[type=tel],
#form_div_${ModuleID} .form-border .form-control-wrap input[type=number],
#form_div_${ModuleID} .form-border .form-control-wrap input[type=date],
#form_div_${ModuleID} .form-border .form-control-wrap select,
#form_div_${ModuleID} .form-border .form-control-wrap textarea,
#form_div_${ModuleID} .form-border .fixline:before {
	border-color: ${xf.ViewXmlSetting("bordercolor","")};
}

#form_div_${ModuleID} .form-border .form-control-wrap,
#form_div_${ModuleID} .form-border .form-control-wrap span,
#form_div_${ModuleID} .form-border .form-control-wrap label,
#form_div_${ModuleID} .form-border .form-control-wrap label.valid,
#form_div_${ModuleID} .form-border .form-control-wrap input,
#form_div_${ModuleID} .form-border .form-control-wrap select,
#form_div_${ModuleID} .form-border .form-control-wrap textarea {
	color:${xf.ViewXmlSetting("fontcolor","")};
    #if(${xf.ViewXmlSetting("borderwidth","1px")} != "1px")
    border-width:${xf.ViewXmlSetting("borderwidth","1px")};
    #end

}

#elseif(${xf.ViewXmlSetting("style","form-line")} == "form-line")
#form_div_${ModuleID} .form-line .form-control-wrap input[type=text],
#form_div_${ModuleID} .form-line .form-control-wrap input[type=email],
#form_div_${ModuleID} .form-line .form-control-wrap input[type=url],
#form_div_${ModuleID} .form-line .form-control-wrap input[type=tel],
#form_div_${ModuleID} .form-line .form-control-wrap input[type=number],
#form_div_${ModuleID} .form-line .form-control-wrap input[type=date],
#form_div_${ModuleID} .form-line .form-control-wrap select,
#form_div_${ModuleID} .form-line .form-control-wrap textarea,
#form_div_${ModuleID} .form-line .fixline:before {
	border-bottom-color:${xf.ViewXmlSetting("bordercolor","")};
}
#form_div_${ModuleID} .form-line .form-control-wrap,
#form_div_${ModuleID} .form-line .form-control-wrap span,
#form_div_${ModuleID} .form-line .form-control-wrap label,
#form_div_${ModuleID} .form-line .form-control-wrap label.valid,
#form_div_${ModuleID} .form-line .form-control-wrap input,
#form_div_${ModuleID} .form-line .form-control-wrap select,
#form_div_${ModuleID} .form-line .form-control-wrap textarea {
	color:${xf.ViewXmlSetting("fontcolor","")};
}
#end
#end
#form_div_${ModuleID} .formError .formErrorContent,
#form_div_${ModuleID} .formError .formErrorArrow div{
    color: ${xf.ViewXmlSetting("Promptcolor","#ffffff")};
    background-color: ${xf.ViewXmlSetting("Promptbgcolor","#ee0101")};
}



</style> 
#if(${xf.ViewXmlSetting("style","form-line")}=="form-line")
<script>
var form_div_${ModuleID} =$("#form_div_${ModuleID}");
form_div_${ModuleID}.find(".dg-form-content.form-line").on("focus", 'input[type="text"],[type="email"],input[type="url"],input[type="tel"],input[type="number"],textarea', function() {
    $(this).parent().addClass("valid focus");
    $(this).parent().siblings().addClass("valid focus");
});
form_div_${ModuleID}.find(".dg-form-content.form-line").on("blur", 'input[type="text"],[type="email"],input[type="url"],input[type="tel"],input[type="number"],textarea', function() { 
    if ($(this).val() === "") {
        $(this).parent().removeClass("valid");
        $(this).parent().siblings().removeClass("valid");
    }
    $(this).parent().removeClass("focus");
    $(this).parent().siblings().removeClass("focus");
});
form_div_${ModuleID}.find(".dg-form-content.form-line").on("blur", 'input[title="DatePicker"]', function() {
    var e=$(this);
    setTimeout(function(){ 
        if (e.val() === "") {
           e.parent().removeClass("valid");
           e.parent().siblings().removeClass("valid");
        }else{
           e.parent().addClass("valid focus");
           e.parent().siblings().addClass("valid focus");
        }
    },100)

});


form_div_${ModuleID}.find('.dg-form-content.form-line input[type="text"],.dg-form-content.form-line input[type="email"],.dg-form-content.form-line input[type="url"],.dg-form-content.form-line input[type="tel"],.dg-form-content.form-line input[type="number"],.dg-form-content.form-line textarea').each(function() {
    $(this).parent().addClass("fixline");
    $(this).parent().siblings("label").addClass("fixlabel");
    $(this).attr("placeholder","");

    if ($(this).val() === "") {
        $(this).parent().removeClass("valid");
        $(this).parent().siblings().removeClass("valid");
    }else{
        $(this).parent().addClass("valid focus");
         $(this).parent().siblings().addClass("valid focus");
    }
});
setTimeout(function(){
    form_div_${ModuleID}.css("opacity",1)
},300)

</script>
#end