.Theme_14_Default .accordion_group {
	border:1px solid #dddddd;
	display:inline-block;
	margin-bottom:15px;
}
.Theme_14_Default .accordion_group a{
	border-right:1px solid #dddddd;
	display:inline-block;
	padding:8px 20px;
	color:#595959;
	float:left;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.Theme_14_Default .accordion_group a:last-child{
	border-right:none
}
.Theme_14_Default .accordion_group a:hover,
.Theme_14_Default .accordion_group a.active{
	text-decoration:none;
	color:#20a3f0;
	background-color:#f3f3f3;
}

 /*
	JQuery Accordion
	Author: marcoarib
	Date: 2013/05/29
	Contact: marco.arib@gmail.com
	Website: http://codecanyon.net/user/marcoarib
*/

.Theme_14_Default.accordion{
	width: 100%;
	font-family: Segoe UI, Arial;
	font-size: 14px;
}
.Theme_14_Default .accordion-item {
}
.Theme_14_Default .accordion-header{
	margin: 0;
	font-size: 15px;
	color: #777;
	cursor: pointer; 
	position:relative;
	border-bottom:1px solid #dddddd;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 15px 0 ;
}
.Theme_14_Default .accordion-header:hover{
}
.Theme_14_Default .accordion-header span.title{
	display: block;
	overflow:auto;
	padding-right:55px;
}
.Theme_14_Default .accordion-header i{
	display: block;
	float: left;
	font-size: 20px;
	margin-left: 12px;
	margin-top: 9px;
	margin-top: 7px \9;
}
.Theme_14_Default .accordion-header .ico{
	content:"";
	position:absolute;
	top:50%;
	right:15px;
	width:25px;
	height:25px;
	line-height:27px;
	text-align:center;
	margin-top:-13px;
	font-size:12px;
	border:1px solid #c8c8c8;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	font-style:normal;
	font-family:"FontAwesome";
}
.Theme_14_Default .accordion-header .ico:before{
	content:"\f067";
}
.Theme_14_Default .accordion-header.opened.focus .ico:before{
	content:"\f068";
}
.Theme_14_Default .accordion-header .type {
	font-size:20px;
	color:#20a3f0;
	margin-right:5px;
	vertical-align:middle;
	width:20px;
	display:inline-block;
	text-align:center;
	float:left;
}

.Theme_14_Default .accordion-content{
	display: none;
	padding: 20px 0;
	border-bottom: 1px solid #DDD;
}
.Theme_14_Default .accordion p {
	margin-bottom:8px;
}

/* header focus style
-----------------------------*/
.Theme_14_Default .focus, 
.Theme_14_Default .focus:hover{
}
.Theme_14_Default .opened{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* grid system
-----------------------------*/
.Theme_14_Default .accordion-content .row{
	width: 100%;
	margin-top: 15px;
}
.Theme_14_Default .accordion-content .row:first-child {
	margin-top: 0;
}
.Theme_14_Default .accordion-content .row:before,
.Theme_14_Default .accordion-content .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.Theme_14_Default .accordion-content .row:after {
	clear: both;
}
.Theme_14_Default .accordion-content .row .col1,
.Theme_14_Default .accordion-content .row .col2,
.Theme_14_Default .accordion-content .row .col3,
.Theme_14_Default .accordion-content .row .col4{
	display: block;
	width: 100%;
	min-height: 20px;
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.Theme_14_Default .accordion-content .row [class*="col"]:first-child {
	margin-left: 0;
}
.Theme_14_Default .accordion-content .row .col1{
	width: 23.404255319148934%;
}
.Theme_14_Default .accordion-content .row .col2{
	width: 48.93617021276595%;
}
.Theme_14_Default .accordion-content .row .col3{
	width: 74.46808510638297%;
}
.Theme_14_Default .accordion-content .row .col4{
	width: 100%;
}

/* responsive layout
-----------------------------*/
@media (max-width: 480px) {
	.Theme_14_Default .accordion-content .row [class*="col"]{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.Theme_14_Default .accordion-content .row:first-child  [class*="col"]:first-child {
		margin-top: 0;
	}
	.Theme_14_Default .accordion-content .row{
		margin-top: 0;
	}
}


/*RankingList_Default*/
.Theme_14_Default.pro-img-pager .pager{
	margin-bottom:5px;
	white-space:normal;
	padding-top:20px;
}
.Theme_14_Default.pro-img-pager .pager .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px;
	text-decoration:none;
	margin-left:5px;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	margin-bottom:5px;
}
*+html .Theme_14_Default.pro-img-pager .pager .button{
	display:inline;
}
* html .Theme_14_Default.pro-img-pager .pager .button{
	display:inline;
}
.Theme_14_Default.pro-img-pager .pager .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.Theme_14_Default.pro-img-pager .pager .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .Theme_14_Default.pro-img-pager .pager .disabled{
	display:inline;
}
* html .Theme_14_Default.pro-img-pager .pager .disabled{
	display:inline;
}
.Theme_14_Default.pro-img-pager {
	clear:both;
}

@media only screen and (max-width: 767px) {
.Theme_14_Default .accordion_group a,
.Theme_14_Default .accordion_group a:last-child{
	border:1px solid ;
	margin:0 5px 5px 0;
}
.Theme_14_Default .accordion_group{
	border:none;
}
}


