
<div class="pro-isotope_grid $ThemeName" id="isotope${ModuleID}" data-pageindex="${PageIndex}" data-loaddisplay="${xf.ViewXmlSetting("LoadDisplay",3)}" data-firstscreen="${xf.ViewXmlSetting("PageSize",12)}"  ${xf.AjaxParameters}>
     #if(${xf.ViewXmlSetting("displaygroup","true")} =="true")   
    <div class="pro-isotope_group"> 
     #if(${xf.ViewXmlSetting("displayall","true")} =="true")   
    <a data-filter="*" href="javascript:;" 
       #if(${xf.ViewXmlSetting("DefaultFilter","*")} == "*")
           class="active"
       #end
    > ${xf.ViewXmlSetting("AllText","All")}</a>
    #end
       #foreach($GroupItem in $GroupList)
         <a 
           #if(${xf.ViewXmlSetting("DefaultFilter","*")} == $GroupItem.Name)
            class="active"
          #end
           href="javascript:;" data-filter=".${xf.ToTrim2($GroupItem.Name)}" title="$GroupItem.Name" >$GroupItem.Name</a>
       #end
    </div>
   #end
    <div class="pro-loading">
        <div class="loading-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="loading-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="loading-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
    </div>
    <div class="isotope-margin"> 
        <div data-min-width="${xf.ViewXmlSetting("Itemminwidth","380")}" class="pro-isotope_main" id="isotope_main_${ModuleID}">
        #if($SliderList.Count > 0) 
          #if(!${IsRandom})
            #foreach($SliderItem in $SliderList)
    
                #set( $SingleSettingTitles    = ${xf.ViewSliderSetting($SliderItem,"SingleSettingTitle","false")}     ) 
                #set( $SingleSettingDescriptions  = ${xf.ViewSliderSetting($SliderItem,"SingleSettingDescription","false")} ) 
                #set( $SingleSettingEffects   = ${xf.ViewSliderSetting($SliderItem,"SingleSettingEffect","false")}    )
                #set( $SingleSettingBorders   = ${xf.ViewSliderSetting($SliderItem,"SingleSettingBorder","false")}    )
                #set( $SingleSettingOthers    = ${xf.ViewSliderSetting($SliderItem,"SingleSettingOther","false")}     )

                #set( $PictureLinkTypes     = ${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")}       )
                #set( $IconLinkTypes      = ${xf.ViewSliderSetting($SliderItem,"IconLinkType","Link")}        )
                #set( $RightIconLinkTypes   = ${xf.ViewSliderSetting($SliderItem,"RightIconLinkType","Link")}     )
                #set( $Titles         = ${xf.ViewSliderSetting($SliderItem,"Title","")}             )
    
                #if($SingleSettingTitles=="true")
                    #set( $DisplayTitles      = ${xf.ViewSliderSetting($SliderItem,"DisplayTitle","true")}      )  
                    #set( $TitleFontSizes     = ${xf.ViewSliderSetting($SliderItem,"TitleFontSize","15")}       )  
                    #set( $TitleFontColors      = ${xf.ViewSliderSetting($SliderItem,"TitleFontColor","#333333")}   ) 
                #else
                    #set( $DisplayTitles      = ${xf.ViewXmlSetting("DisplayTitle","true")}       )  
                    #set( $TitleFontSizes     = ${xf.ViewXmlSetting("TitleFontSize","15")}        )  
                    #set( $TitleFontColors      = ${xf.ViewXmlSetting("TitleFontColor","#333333")}      ) 
                #end 
                
                #if($SingleSettingDescriptions=="true")
                    #set( $DisplayContents      = ${xf.ViewSliderSetting($SliderItem,"DisplayContent","true")}      ) 
                    #set( $ContentFontSizes     = ${xf.ViewSliderSetting($SliderItem,"ContentFontSize","13")}     ) 
                    #set( $ContentFontColors    = ${xf.ViewSliderSetting($SliderItem,"ContentFontColor","#555555")}   )
                #else 
                    #set( $DisplayContents      = ${xf.ViewXmlSetting("DisplayContent","true")}       ) 
                    #set( $ContentFontSizes     = ${xf.ViewXmlSetting("ContentFontSize","13")}        ) 
                    #set( $ContentFontColors    = ${xf.ViewXmlSetting("ContentFontColor","#555555")}    )
                #end 
                #if($SingleSettingEffects=="true")
                  #set( $ContentStyle       = ${xf.ViewSliderSetting($SliderItem,"ContentStyle","ico_LeftAndRight_enter")}  ) 
                    #set( $shadeBackgrounds     = ${xf.ViewSliderSetting($SliderItem,"shadeBackground","#333333")}        ) 
                    #set( $shadeBgOpacitys      = ${xf.ViewSliderSetting($SliderItem,"shadeBgOpacity","50")}          ) 
                    #set( $leftIconEnables      = ${xf.ViewSliderSetting($SliderItem,"leftIconEnable","true")}          ) 
                    #set( $IconleftStyles     = ${xf.ViewSliderSetting($SliderItem,"IconleftStyle","fa fa-link")}       ) 
                    #set( $IconleftBackgrounds    = ${xf.ViewSliderSetting($SliderItem,"IconleftBackground","#69b532")}     ) 
                    #set( $rightIconEnables     = ${xf.ViewSliderSetting($SliderItem,"rightIconEnable","true")}         ) 
                    #set( $IconrightStyles      = ${xf.ViewSliderSetting($SliderItem,"IconrightStyle","fa fa-search")}      ) 
                    #set( $IconrightBackgrounds   = ${xf.ViewSliderSetting($SliderItem,"IconrightBackground","#69b532")}      ) 
                    #set( $Picturehoverzooms    = ${xf.ViewSliderSetting($SliderItem,"Picturehoverzoom","false")}       ) 
                #else 
                    #set( $ContentStyles      = ${xf.ViewXmlSetting("ContentStyle","ico_LeftAndRight_enter")} ) 
                    #set( $shadeBackgrounds     = ${xf.ViewXmlSetting("shadeBackground","#333333")}       ) 
                    #set( $shadeBgOpacitys      = ${xf.ViewXmlSetting("shadeBgOpacity","50")}         ) 
                    #set( $leftIconEnables      = ${xf.ViewXmlSetting("leftIconEnable","true")}         ) 
                    #set( $IconleftStyles     = ${xf.ViewXmlSetting("IconleftStyle","fa fa-link")}      ) 
                    #set( $IconleftBackgrounds    = ${xf.ViewXmlSetting("IconleftBackground","#69b532")}      ) 
                    #set( $rightIconEnables     = ${xf.ViewXmlSetting("rightIconEnable","true")}        ) 
                    #set( $IconrightStyles      = ${xf.ViewXmlSetting("IconrightStyle","fa fa-search")}     ) 
                    #set( $IconrightBackgrounds   = ${xf.ViewXmlSetting("IconrightBackground","#69b532")}     ) 
                    #set( $Picturehoverzooms    = ${xf.ViewXmlSetting("Picturehoverzoom","false")}        ) 
                #end 
                #if($SingleSettingBorders=="true")
                    #set( $Itemborders        = ${xf.ViewSliderSetting($SliderItem,"Itemborder","false")}       ) 
                    #set( $BorderColors       = ${xf.ViewSliderSetting($SliderItem,"BorderColor","#333333")}      ) 
                    #set( $BorderWidths       = ${xf.ViewSliderSetting($SliderItem,"BorderWidth","1")}        ) 
                    #set( $BorderStyles       = ${xf.ViewSliderSetting($SliderItem,"BorderStyle","solid")}      ) 
                    #set( $BorderPaddings     = ${xf.ViewSliderSetting($SliderItem,"BorderPadding","5")}        ) 
                #else 
                    #set( $Itemborders        = ${xf.ViewXmlSetting("Itemborder","false")}        ) 
                    #set( $BorderColors       = ${xf.ViewXmlSetting("BorderColor","#333333")}       ) 
                    #set( $BorderWidths       = ${xf.ViewXmlSetting("BorderWidth","1")}         ) 
                    #set( $BorderStyles       = ${xf.ViewXmlSetting("BorderStyle","solid")}       ) 
                    #set( $BorderPaddings     = ${xf.ViewXmlSetting("BorderPadding","5")}         ) 
                #end 
                #if($SingleSettingOther=="true")
                    #set( $BoxbgColors        = ${xf.ViewSliderSetting($SliderItem,"BoxbgColor","#FFFFFF")}     ) 
                    #set( $TextPaddings       = ${xf.ViewSliderSetting($SliderItem,"TextPadding","5")}        ) 
                    #set( $ShadowStyles       = ${xf.ViewSliderSetting($SliderItem,"ShadowStyle","none")}       ) 
                #else 
                    #set( $BoxbgColors        = ${xf.ViewXmlSetting("BoxbgColor","#FFFFFF")}        ) 
                    #set( $TextPaddings       = ${xf.ViewXmlSetting("TextPadding","5")}         ) 
                    #set( $ShadowStyles       = ${xf.ViewXmlSetting("ShadowStyle","none")}        ) 
                #end 
                
                
                
                
            <div class="pro-isotope_item ${xf.ToGroups($SliderItem)} ">
              <div class="pro-photo $ContentStyles #if($Picturehoverzooms=="true") img_zoom #end  #if($ShadowStyles!="none")$ShadowStyles #end" style="background-color:$BoxbgColors"> 
                  #if($Itemborders=="true")
                      <div class="pro-border" style="border:$BorderColors ${BorderWidths}px $BorderStyles;padding:${BorderPaddings}px">
                  #end
                    <div class="pic_box"> 
                      #if( $PictureLinkTypes == "Link")
                          <a href="${xf.PictureUrl($SliderItem,"PictureLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"PictureLinkTarget","_blank")}" class="imgLink" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
                      #elseif($PictureLinkTypes == "prolight_image")
                          <a href="${xf.PictureUrl($SliderItem,"PictureImages","http://")}" class="prolight_image_gallery${ModuleID} imgLink" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
                      #elseif($PictureLinkTypes == "prolight_youtube")
                          <a href="${xf.PictureUrl($SliderItem,"Pictureyoutube","http://")}" class="prolight_youtube_gallery${ModuleID} imgLink" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
                      #elseif($PictureLinkTypes == "prolight_vimeo")
                          <a href="${xf.PictureUrl($SliderItem,"Picturevimeo","http://")}" class="prolight_vimeo_gallery${ModuleID} imgLink" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
                      #elseif($PictureLinkTypes == "prolight_gmaps")
                          <a href="${xf.PictureUrl($SliderItem,"Picturegmaps","http://")}" class="prolight_gmaps_gallery${ModuleID} imgLink" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
                      #end
                      <img src="${xf.PictureUrl($SliderItem,"Picture","")}" alt="#if(${xf.ViewSliderSetting($SliderItem,"imagealt","")}=="")$Titles#else${xf.ViewSliderSetting($SliderItem,"imagealt","")}#end" />
                      <div class="shade"><span style="background-color:$shadeBackgrounds; opacity:${xf.Division(${shadeBgOpacitys},"100")}; filter:alpha(opacity=$shadeBgOpacitys);"></span></div>
                      <div class="ico">
                          #if( $leftIconEnables == "true")
                              #if( $IconLinkTypes == "Link")
                                  <a href="${xf.PictureUrl($SliderItem,"LeftIconLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"LeftIconLinkTarget","_blank")}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif($IconLinkTypes == "prolight_image")
                                  <a href="${xf.PictureUrl($SliderItem,"LeftIconImages","http://")}" class="prolight_image_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif($IconLinkTypes == "prolight_youtube")
                                  <a href="${xf.PictureUrl($SliderItem,"LeftIconyoutube","http://")}" class="prolight_youtube_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif($IconLinkTypes == "prolight_vimeo")
                                  <a href="${xf.PictureUrl($SliderItem,"LeftIconvimeo","http://")}" class="prolight_vimeo_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif($IconLinkTypes == "prolight_gmaps")
                                  <a href="${xf.PictureUrl($SliderItem,"LeftIcongmaps","http://")}" class="prolight_gmaps_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #end
                                  <span class="$IconleftStyles ico-left" style="background-color:$IconleftBackgrounds"></span>
                              #if($IconLinkTypes != "None") 
                                 </a>
                              #end  
                          #end  
                          #if( $rightIconEnables == "true")
                              #if( $RightIconLinkTypes == "Link")
                                  <a href="${xf.PictureUrl($SliderItem,"RightIconLink","http://")}" target="${xf.ViewSliderSetting($SliderItem,"RightIconLinkTarget","_blank")}"  title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif( $RightIconLinkTypes == "prolight_image")
                                  <a href="${xf.PictureUrl($SliderItem,"RightIconImages","http://")}" class="prolight_image_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif( $RightIconLinkTypes == "prolight_youtube")
                                  <a href="${xf.PictureUrl($SliderItem,"RightIconyoutube","http://")}" class="prolight_youtube_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif( $RightIconLinkTypes == "prolight_vimeo")
                                  <a href="${xf.PictureUrl($SliderItem,"RightIconvimeo","http://")}" class="prolight_vimeo_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #elseif( $RightIconLinkTypes == "prolight_gmaps")
                                  <a href="${xf.PictureUrl($SliderItem,"RightIcongmaps","http://")}" class="prolight_gmaps_gallery${ModuleID}" title="$Titles" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                              #end
                              <span class="$IconrightStyles ico-right"  style="background-color:$IconrightBackgrounds"></span>
                              #if( $RightIconLinkTypes != "None") 
                                 </a>
                              #end  
                          #end  
                      </div>
                    </div>
                  <div class="content" style="padding:${TextPaddings}px">
                    <div class="vertical_center_1">
                      <div class="vertical_center_2" >
                        #if( $Titles != "" && $DisplayTitles  == "true")
                            <h3 style="font-size:${TitleFontSizes}px;color:${TitleFontColors}">
                                $Titles
                            </h3>
                        #end
                        #if( ${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} != "" && $DisplayContents=="true" )
                            <div style="font-size:${ContentFontSizes}px;color:$ContentFontColors"> 
                                ${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} 
                            </div>
                         #end
                      </div>
                    </div>
                  </div>
                  
                #if($Itemborders=="true") 
                    </div> 
                #end 
              </div>  
            </div>
            #end
            #end
            
            
            
        #end
        </div>
    </div>
    <div class="isotopeBottom"></div>
    <div class="showmeassage" style=" display:none;"></div>
    #if($SliderList.Count >= ${xf.ViewXmlSetting("PageSize",12)}) 
        <div class="meassage_box">
            <a class="moremeassage" href="javascript:;"><span class="fa fa-refresh showloading" ></span> ${xf.ViewXmlSetting("MoreText","MORE")}</a>
        </div>
    #end
</div>

<style type="text/css">

#isotope${ModuleID} .pro-photo{
  margin:${xf.ViewXmlSetting("ItemSpacing","12")}px 0 0 ${xf.ViewXmlSetting("ItemSpacing","12")}px  ;
}
#isotope${ModuleID} .isotope-margin{
  margin: -${xf.ViewXmlSetting("ItemSpacing","12")}px 0 0 -${xf.ViewXmlSetting("ItemSpacing","12")}px ;
}
#isotope${ModuleID} .pro-isotope_group a,
#isotope${ModuleID} .pro-isotope_group a:link,
#isotope${ModuleID} .pro-isotope_group a:active,
#isotope${ModuleID} .pro-isotope_group a:visited{
  color:${xf.ViewXmlSetting("FilterFontColor","#575757")};
}


#isotope${ModuleID} .pro-isotope_group a:hover, 
#isotope${ModuleID} .pro-isotope_group a.active {
  border-color:${xf.ViewXmlSetting("FilterAccentColor","#3b9cf7")};
  color: ${xf.ViewXmlSetting("FilterAccentColor","#3b9cf7")};
}
#isotope${ModuleID} .moremeassage {
  background-color:${xf.ViewXmlSetting("MorebgColor","#dfa945")};
}
#isotope${ModuleID} .moremeassage:hover {
  background-color:${xf.ViewXmlSetting("MoreHoverbgColor","#cb9b3f")};
}
</style>
#if($SliderList.Count >= ${xf.ViewXmlSetting("PageSize",12)}) 
  <script id="AjaxSliders${ModuleID}" type="text/x-jquery-tmpl">
  <div class="pro-isotope_item ${Groups}">
    <div class="pro-photo {{if SingleSettingEffect=="true"}} ${ContentStyle} {{if Picturehoverzoom=="true"}} img_zoom {{/if}} {{else}} ${xf.ViewXmlSetting("ContentStyle","ico_LeftAndRight_enter")} #if(${xf.ViewXmlSetting("Picturehoverzoom","false")} =="true") img_zoom #end {{/if}} {{if SingleSettingOther == "true"}} {{if ShadowStyle !="none"}} ${ShadowStyle} {{/if}} {{else}} #if(${xf.ViewXmlSetting("ShadowStyle","none")} != "none") ${xf.ViewXmlSetting("ShadowStyle","none")} #end {{/if}}" style=" {{if SingleSettingOther == "true"}} background-color:${BoxbgColor} {{else}} background-color:${xf.ViewXmlSetting("BoxbgColor","#FFFFFF")} {{/if}}">
    {{if SingleSettingBorder=="true"}}
    {{if Itemborder=="true"}} <div class="pro-border" style="border:${BorderColor} ${BorderWidth}px ${BorderStyle};padding:${BorderPadding}px" >  {{/if}}
    {{else}}
    {{if ${xf.ViewXmlSetting("Itemborder","false")}==true}} <div class="pro-border" style="border:${xf.ViewXmlSetting("BorderColor","#333333")} ${xf.ViewXmlSetting("BorderWidth","1")}px ${xf.ViewXmlSetting("BorderStyle","solid")};padding:${xf.ViewXmlSetting("BorderPadding","5")}px" >  {{/if}}
    {{/if}}
    {{if SingleSettingEffect=="true"}}
      <div class="pic_box">
        {{if PictureLinkType == "Link"}}
          <a href="${PictureLink}" target="${PictureLinkTarget}" class="imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
        {{/if}}
        {{if PictureLinkType == "prolight_image"}}
          <a href="${PictureImages}" class="prolight_image_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
        {{/if}}
        {{if PictureLinkType == "prolight_youtube"}}
          <a href="${Pictureyoutube}" class="prolight_youtube_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
        {{/if}}
        {{if PictureLinkType == "prolight_vimeo"}}
          <a href="${Picturevimeo}" class="prolight_vimeo_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
        {{/if}}
        {{if PictureLinkType == "prolight_gmaps"}}
          <a href="${Picturegmaps}" class="prolight_gmaps_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
        {{/if}}
        <img alt="${Title}" src="${Picture}" />
        <div class="shade"><span style="background-color:${shadeBackground};opacity:${shadeBgOpacity1} ; filter:alpha(opacity=${shadeBgOpacity});"></span></div>
        <div class="ico">
          {{if leftIconEnable == "true"}}
              {{if IconLinkType == "Link"}}
                <a href="${LeftIconLink}" target="${LeftIconLinkTarget}">
              {{/if}}
              {{if IconLinkType == "prolight_image"}}
                <a href="${LeftIconImages}" class="prolight_image_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if IconLinkType == "prolight_youtube"}}
                <a href="${LeftIconyoutube}" class="prolight_youtube_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if IconLinkType == "prolight_vimeo"}}
                <a href="${LeftIconvimeo}" class="prolight_vimeo_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if IconLinkType == "prolight_gmaps"}}
                <a href="${LeftIcongmaps}" class="prolight_gmaps_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              <span class="${IconleftStyle} ico-left" style="background-color:${IconleftBackground}"></span>
              {{if IconLinkType != "None"}}
              </a>
              {{/if}}
           {{/if}}    
          {{if rightIconEnable == "true"}}
              {{if RightIconLinkType == "Link"}}
                <a href="${RightIconLink}" target="${RightIconLinkTarget}" title="${Title}">
              {{/if}}
              {{if RightIconLinkType == "prolight_image"}}
                <a href="${RightIconImages}" class="prolight_image_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if RightIconLinkType == "prolight_youtube"}}
                <a href="${RightIconyoutube}" class="prolight_youtube_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if RightIconLinkType == "prolight_vimeo"}}
                <a href="${RightIconvimeo}" class="prolight_vimeo_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              {{if RightIconLinkType == "prolight_gmaps"}}
                <a href="${RightIcongmaps}" class="prolight_gmaps_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
              {{/if}}
              <span class="${IconrightStyle} ico-right" style="background-color:${IconrightBackground}"></span>
              {{if RightIconLinkType != "None"}}
              </a>
              {{/if}}
           {{/if}}    
        </div>
      </div>
    {{else}}
        <div class="pic_box">
            {{if PictureLinkType == "Link"}}
              <a href="${PictureLink}" target="${PictureLinkTarget}" class="imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
            {{/if}}
            {{if PictureLinkType == "prolight_image"}}
              <a href="${PictureImages}" class="prolight_image_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
            {{/if}}
            {{if PictureLinkType == "prolight_youtube"}}
              <a href="${Pictureyoutube}" class="prolight_youtube_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
            {{/if}}
            {{if PictureLinkType == "prolight_vimeo"}}
              <a href="${Picturevimeo}" class="prolight_vimeo_gallery${ModuleID} imgLink" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
            {{/if}}
            {{if PictureLinkType == "prolight_gmaps"}}
              <a href="${Picturegmaps}" class="prolight_gmaps_gallery${ModuleID} imgLink" title="${Title}"  data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"></a>
            {{/if}}
          <img alt="${Title}" src="${Picture}" />
          <div class="shade"><span style="background-color:${xf.ViewXmlSetting("shadeBackground","#333333")};opacity:${xf.Division(${xf.ViewXmlSetting("shadeBgOpacity","50")},"100")} ; filter:alpha(opacity=${xf.ViewXmlSetting("shadeBgOpacity","50")});"></span></div>
          <div class="ico">
            {{if ${xf.ViewXmlSetting("leftIconEnable","true")} == true}}
                {{if IconLinkType == "Link"}}
                  <a href="${LeftIconLink}" target="${LeftIconLinkTarget}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if IconLinkType == "prolight_image"}}
                  <a href="${LeftIconImages}" class="prolight_image_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if IconLinkType == "prolight_youtube"}}
                  <a href="${LeftIconyoutube}" class="prolight_youtube_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if IconLinkType == "prolight_vimeo"}}
                  <a href="${LeftIconvimeo}" class="prolight_vimeo_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if IconLinkType == "prolight_gmaps"}}
                  <a href="${LeftIcongmaps}" class="prolight_gmaps_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                <span class="${xf.ViewXmlSetting("IconleftStyle","fa fa-link")} ico-left" style="background-color:${xf.ViewXmlSetting("IconleftBackground","#69b532")}"></span>
                {{if IconLinkType != "None"}}
                </a>
                {{/if}}
             {{/if}}    
            {{if ${xf.ViewXmlSetting("rightIconEnable","true")} == true}}
                {{if RightIconLinkType == "Link"}}
                  <a href="${RightIconLink}" target="${RightIconLinkTarget}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if RightIconLinkType == "prolight_image"}}
                  <a href="${RightIconImages}" class="prolight_image_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if RightIconLinkType == "prolight_youtube"}}
                  <a href="${RightIconyoutube}" class="prolight_youtube_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if RightIconLinkType == "prolight_vimeo"}}
                  <a href="${RightIconvimeo}" class="prolight_vimeo_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                {{if RightIconLinkType == "prolight_gmaps"}}
                  <a href="${RightIcongmaps}" class="prolight_gmaps_gallery${ModuleID}" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
                {{/if}}
                <span class="${xf.ViewXmlSetting("IconrightStyle","fa fa-search")} ico-right" style="background-color:${xf.ViewXmlSetting("IconrightBackground","#69b532")}"></span>
                {{if RightIconLinkType != "None"}}
                </a>
                {{/if}}
             {{/if}}    
          </div>
        </div>
    {{/if}}   
     <div class="content" style="padding:{{if SingleSettingOther=="true"}} ${TextPadding}px {{else}} ${xf.ViewXmlSetting("TextPadding","5")}px {{/if}}" >
      <div class="vertical_center_1">
        <div class="vertical_center_2">
      {{if SingleSettingTitle=="true"}}
        {{if Title != "" && DisplayTitle=="true"}}
        <h3 style="font-size:${TitleFontSize}px;color:${TitleFontColor}">${Title}</h3>
        {{/if}}
      {{else}}
        {{if Title != "" && ${xf.ViewXmlSetting("DisplayTitle","true")} == true}}
        <h3 style="font-size:${xf.ViewXmlSetting("TitleFontSize","15")}px;color:${xf.ViewXmlSetting("TitleFontColor","#333333")}">${Title}</h3>
        {{/if}}
      {{/if}}   
      {{if SingleSettingDescription==true}}
        {{if ContentHtml != "" && DisplayContent==true}}
          <div style="font-size:${ContentFontSize}px;color:${ContentFontColor}"> {{html ContentHtml}}</div>
        {{/if}}
      {{else}}
        {{if ContentHtml != "" && ${xf.ViewXmlSetting("DisplayContent","true")} == true }}
          <div style="font-size:${xf.ViewXmlSetting("ContentFontSize","13")}px;color:${xf.ViewXmlSetting("ContentFontColor","#555555")}"> {{html ContentHtml}}</div>
        {{/if}}
      {{/if}}   
        
        </div>
      </div>
      </div>
    {{if SingleSettingBorder=="true"}}
      {{if Itemborder =="true"}} </div> {{/if}} 
    {{else}}
      {{if ${xf.ViewXmlSetting("Itemborder","false")} ==true}} </div> {{/if}} 
    {{/if}}   
    </div>  
  </div>
    </script>
#end

<script type="text/javascript">
     $(window).load(function () {
        var e = jQuery("#isotope${ModuleID} .pro-isotope_main"),
        m = jQuery("#isotope${ModuleID}"),
    el = e.find(".pro-isotope_item"),
    once=0,
    lazyload=0,
    container,
    ScrollMaxPage=0,
    filter=true,
    filterValue="",
    szie = {
      MobileSmall : [320,${xf.ViewXmlSetting("thMobileSmall","1")}],
      Mobile : [479,${xf.ViewXmlSetting("thMobile","2")}],
      Tablet : [768,${xf.ViewXmlSetting("thTable","3")}],
      DesktopSmall : [979,${xf.ViewXmlSetting("thDesktopSmall","4")}],
      Desktop : [1199,${xf.ViewXmlSetting("thDesktop","5")}]
    },
    itme=${xf.ViewXmlSetting("thitems","6")};
    function ImgLoad(callback,e){
      var imgdefereds=[];

      e.find('img').each(function(){
        var dfd=jQuery.Deferred();
          $(this).bind('load',function(){
            dfd.resolve();
            
          }).bind('error',function(){
            dfd.resolve();
          })
          if(this.complete) setTimeout(function(){
            dfd.resolve();
          },1000);
          imgdefereds.push(dfd);
      })
      jQuery.when.apply(null,imgdefereds).done(function(){
        callback();
      });
      
      
    }
    function responsive(list){
      w=$(window).width();
      if(w<=szie.MobileSmall[0]){
          list.width(100/szie.MobileSmall[1]+"%")
      }else if(w<=szie.Mobile[0]){
          list.width(100/szie.Mobile[1]+"%")
      }else if(w<=szie.Tablet[0]){
          list.width(100/szie.Tablet[1]+"%")
      }else if(w<=szie.DesktopSmall[0]){
          list.width(100/szie.DesktopSmall[1]+"%")
      }else if(w<=szie.Desktop[0]){
          list.width(100/szie.Desktop[1]+"%")
      }else{
          list.width(100/itme+"%")
      }
    } 
  
  ImgLoad(function(){

    var operation = function(e) {
      responsive(e.find(".pro-isotope_item"));
      
      if(filter){
        container = e.proisotope({
          itemSelector: '.pro-isotope_item',
          #if(${xf.ViewXmlSetting("DefaultFilter","*")} !="*")
             filter:filterValue?filterValue:".${xf.ToTrim(${xf.ViewXmlSetting("DefaultFilter","*")})}" 
          #end
        });
      }else{
        container = e.proisotope({itemSelector: '.pro-isotope_item'});
      }
      
    };
    operation(e);
    e.find(".pro-isotope_item").stop().css({"opacity":0}).animate({"opacity":1});
    
    
    #if(!${IsRandom})
      var LoadAjaxItems${ModuleID} = function () {
        lazyload=1;
        $('#isotope${ModuleID} .showloading').css("display","inline-block");
        m.GalleryPostService({ 
          callback: function (items,pages,IsEnd) { 
            var box = $("<div>");
            jQuery.each(items, function (i, item) {
              item.shadeBgOpacity1 = item.shadeBgOpacity *0.01;
              box.append(jQuery("#AjaxSliders${ModuleID}").tmpl(item));
            });
            times=0;
            ScrollMaxPage++;
          var boxhtml =$(box.html());
            ImgLoad(function(){
              boxhtml.find('img').each(function(){
                $(this).attr({width:this.width,height:this.height})
              })
              $('#isotope${ModuleID} .pro-isotope_main').proisotope( 'insert',boxhtml);
              operation(e);
              box.remove();
              
              lazyload=0;
              $('#isotope${ModuleID} .showloading').hide();
              if(IsEnd&&once=="0"){   
                once=1;
                $("#isotope${ModuleID} a.moremeassage").hide();
                lazyload=1;
              }
              mfpAnimation(); 
            },boxhtml)
            
                    
          }
        });
      }
    #else
      var itemsList,
        itemsindex=0,
        loaddisplay=${xf.ViewXmlSetting("LoadDisplay",3)},
        firstscreen=${xf.ViewXmlSetting("PageSize",12)},
        itemsLength;
        
      var RandomData= function(items){
          var box = $("<div>");
          jQuery.each(items, function (i, item) {
            item.shadeBgOpacity1 = item.shadeBgOpacity *0.01;
			
            box.append(jQuery("#AjaxSliders${ModuleID}").tmpl(item));
          });
          times=0;
          ScrollMaxPage++;
        var boxhtml =$(box.html());
          ImgLoad(function(){
            boxhtml.find('img').each(function(){
              $(this).attr({width:this.width,height:this.height})
            })
            $('#isotope${ModuleID} .pro-isotope_main').proisotope( 'insert',boxhtml); 
            operation(e);
            box.remove();
            lazyload=0;
            $('#isotope${ModuleID} .showloading').hide();
            if(itemsindex>=itemsLength){   
              once=1;
              $("#isotope${ModuleID} a.moremeassage").hide();
              lazyload=1;
            }
          
            mfpAnimation(); 
          },boxhtml)
      }
        
        
      var LoadAjaxItems${ModuleID} = function (IsRandom) {
        lazyload=1;
        $('#isotope${ModuleID} .showloading').css("display","inline-block");
        
        if(IsRandom=="IsRandom"){
          m.GalleryPostService({ 
            callback: function (items,pages,IsEnd) {
              itemsList=items;
              itemsLength=itemsList.length;
              function randomSort(a, b){
                return Math.random() - 0.5;
              }
              itemsList.sort(randomSort);
              
              RandomData(itemsList.slice(0,firstscreen));
              itemsindex=firstscreen;
                      
            }
          });
        }else{
          RandomData(itemsList.slice(itemsindex,itemsindex+loaddisplay));
          itemsindex=itemsindex+loaddisplay;
        }
        
      }
      m.data("firstscreen","0")
      m.data("pageindex","0")
      LoadAjaxItems${ModuleID}("IsRandom");
    
    #end
    
    
        jQuery("#isotope${ModuleID} .pro-isotope_group").on('click', 'a',function() {
       filterValue = jQuery(this).attr('data-filter');
      jQuery(this).addClass("active").siblings().removeClass("active");
      e.proisotope({
        filter: filterValue
      });
      return false;
    });
    
    jQuery("#isotope${ModuleID}").children(".pro-loading").remove();

       jQuery(window).resize(function() {responsive(e.find(".pro-isotope_item"));});
        $("#isotope${ModuleID} a.moremeassage").on('click',function () {
      if(lazyload==0){
         LoadAjaxItems${ModuleID}()
      }
    });
    #if(${xf.ViewXmlSetting("loadeddata","On Scroll")}=="On Scroll")    
      $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $("#isotope${ModuleID} .isotopeBottom").offset().top && lazyload==0) {
          if(ScrollMaxPage < ${xf.ViewXmlSetting("ScrollMaxPage","3")}){
            LoadAjaxItems${ModuleID}();
          }
        }
      });
    #else
      $("#isotope${ModuleID} a.moremeassage").show();
    #end
  },e)  
    
    
 });
</script>