﻿.clearfix:after{
	clear:both;
	content:".";
	height:0px;
	font-size:0px;
	visibility:hidden;
	display:block;
}
.clearfix{
	display:inline-block;
}
.clearfix{
	display:block;
}
 
/*tabs Left*/
.CategorieTab_Left {
	clear: both;
}
.CategorieTab_Left:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Left ul.resp-tabs-list {
	float: left;
	margin: 0;
	padding: 1px 0;
}
.CategorieTab_Left .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}
.CategorieTab_Left .resp-tab-content .resp_margin {
	margin-left: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	
}
.CategorieTab_Left ul.resp-tabs-list li {
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 1;
	min-width: 120px;
}

.CategorieTab_Left ul.resp-tabs-list li span {
	padding:12px 0;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	border:1px solid #f0f0f0;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	font-size:14px;
	color:#666666;
	background-color:#f5f5f5;
	border-right: none;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.CategorieTab_Left ul.resp-tabs-list li.resp-tab-active span:before{
	content:"";
	border-left:2px solid #20a3f0;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:4px;
	height: 100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}

.CategorieTab_Left ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}
.CategorieTab_Left ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}
.CategorieTab_Left h2.resp-accordion,
.CategorieTab_Left .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.CategorieTab_Left ul.resp-tabs-list {
		display: none;
	}
	.CategorieTab_Left h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	.CategorieTab_Left .resp-arrow {
		float: right;
		position: relative;
		top: 10px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top:0px;
		text-align:center;
	}
	.CategorieTab_Left .resp-arrow:empty {
		width: 1em;
	}
	.CategorieTab_Left .resp-arrow:before {
		content: "\002B";
	}
	.CategorieTab_Left .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	.CategorieTab_Left .resp-accordion:hover {

	}
	
	.CategorieTab_Left .resp-tab-active,
	.CategorieTab_Left .resp-tab-active:hover {

	}
	
	.CategorieTab_Left .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Left .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Left .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Left .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Left .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs right*/

.CategorieTab_Right {
	clear: both;
}

.CategorieTab_Right:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Right ul.resp-tabs-list {
	float: right;
	margin: 0;
	padding: 1px 0;
}

.CategorieTab_Right .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.CategorieTab_Right .resp-tab-content .resp_margin {
	margin-right: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
}

.CategorieTab_Right ul.resp-tabs-list li {
	margin: 0;
	list-style: none;
	position: relative;
	z-index: 1;
	min-width: 120px;
}

.CategorieTab_Right ul.resp-tabs-list li:first-child {
	border-top: none;
}

.CategorieTab_Right ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.CategorieTab_Right ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Right ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}

.CategorieTab_Right h2.resp-accordion,
.CategorieTab_Right .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.CategorieTab_Right ul.resp-tabs-list {
		display: none;
	}
	.CategorieTab_Right h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Right .resp-arrow {
		float: right;
		position: relative;
		top: 10px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Right .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Right .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Right .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Right .resp-accordion:hover {

	}
	
	.CategorieTab_Right .resp-tab-active,
	.CategorieTab_Right .resp-tab-active:hover {
		
	}
	
	.CategorieTab_Right .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Right .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Right .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Right .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Right .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs top*/

.CategorieTab_Top {
	clear: both;
}

.CategorieTab_Top:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Top ul.resp-tabs-list {
	margin: 0;
	padding: 1px 0;
}

.CategorieTab_Top .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}

.CategorieTab_Top .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .CategorieTab_Top .resp-tabs-container {
	display: inline-block
}

.CategorieTab_Top .resp-tab-content .resp_margin {
	margin: 15px;
}



.CategorieTab_Top ul.resp-tabs-list li {
	float:left;
	width:33.333333333333%;
	list-style:none;
}
.CategorieTab_Top ul.resp-tabs-list.col2 li{
	width: 50%;
}
.CategorieTab_Top ul.resp-tabs-list li.resp-tab-active span:before{
	content:"";
	border-top:2px solid #20a3f0;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}

.CategorieTab_Top ul.resp-tabs-list li span{
	padding:12px 0;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	border:1px solid #f0f0f0;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	font-size:14px;
	color:#666666;
	background-color:#f5f5f5;
	border-bottom: none;
	margin-right: 1%;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.CategorieTab_Top ul.resp-tabs-list li:last-child span{
	margin-right: 0px;
}

.CategorieTab_Top ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Top ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}


.CategorieTab_Top h2.resp-accordion,
.CategorieTab_Top .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.CategorieTab_Top ul.resp-tabs-list {
		display: none;
	}
	
	.CategorieTab_Top h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 15px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Top .resp-arrow {
		float: right;
		position: relative;
		top: 10px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Top .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Top .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Top .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Top .resp-accordion:hover {
	
	}
	
	.CategorieTab_Top .resp-tab-active,
	.CategorieTab_Top .resp-tab-active:hover {
	}
	
	.CategorieTab_Top .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Top .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #f0f0f0;
	}
	
	.CategorieTab_Top .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Top .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Top .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}

/*tabs top*/

.CategorieTab_Bottom {
	clear: both;
}

.CategorieTab_Bottom:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Bottom ul.resp-tabs-list {
	margin: 0;
	padding: 0;
}

.CategorieTab_Bottom .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}


.CategorieTab_Bottom .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .CategorieTab_Bottom .resp-tabs-container {
	display: inline-block
}

.CategorieTab_Bottom .resp-tab-content .resp_margin {
	margin: 15px;
}

.CategorieTab_Bottom ul.resp-tabs-list li {
	float:left;
	width:33.333333333333%;
	list-style:none;
}
.CategorieTab_Bottom ul.resp-tabs-list.col2 li{
	width: 50%;
}
.CategorieTab_Bottom ul.resp-tabs-list li.resp-tab-active span:before{
	content:"";
	border-bottom:2px solid #20a3f0;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}

.CategorieTab_Bottom ul.resp-tabs-list li span {
	padding:12px 0;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	border:1px solid #f0f0f0;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	font-size:14px;
	color:#666666;
	background-color:#f5f5f5;
	border-top: none;
	margin-right: 1%;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.CategorieTab_Bottom ul.resp-tabs-list li:last-child span{
	margin-right: 0px;
}


.CategorieTab_Bottom ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Bottom ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}

.CategorieTab_Bottom h2.resp-accordion,
.CategorieTab_Bottom .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.CategorieTab_Bottom ul.resp-tabs-list {
		display: none;
	}
	
	.CategorieTab_Bottom h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Bottom .resp-arrow {
		float: right;
		position: relative;
		top: 10px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Bottom .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Bottom .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Bottom .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Bottom .resp-accordion:hover {

	}
	
	.CategorieTab_Bottom .resp-tab-active,
	.CategorieTab_Bottom .resp-tab-active:hover {

	}
	
	.CategorieTab_Bottom .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Bottom .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Bottom .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Bottom .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Bottom .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}



/*tabs top*/
.CategorieTab_Top {
	clear: both;
}
/* CategorieTab_Top_1*/
.CategorieTab_Top_1 {
	padding-bottom: 15px;
}

.CategorieTab_Top_1 ul.resp-tabs-list li,
.CategorieTab_Top_1 ul.resp-tabs-list li:hover {

}

.CategorieTab_Top_1 ul.resp-tabs-list li span,
.CategorieTab_Top_1 ul.resp-tabs-list li:hover span {

}

.CategorieTab_Top_1 ul.resp-tabs-list li.resp-tab-active {
	
}

.CategorieTab_Top_1 ul.resp-tabs-list li.resp-tab-active span {
	
}

.CategorieTab_Top_1 .resp-tabs-container {

}

.CategorieTab_Bottom_1 {
	padding-bottom: 15px;
}

.CategorieTab_Bottom_1 ul.resp-tabs-list li,
.CategorieTab_Bottom_1 ul.resp-tabs-list li:hover {

}

.CategorieTab_Bottom_1 ul.resp-tabs-list li span,
.CategorieTab_Bottom_1 ul.resp-tabs-list li:hover span {

}

.CategorieTab_Bottom_1 ul.resp-tabs-list li.resp-tab-active {

}

.CategorieTab_Bottom_1 ul.resp-tabs-list li.resp-tab-active span {

}

.CategorieTab_Bottom_1 .resp-tabs-container {

}



.CategorieTab_Left_1 {
	padding-bottom: 15px;
}

.CategorieTab_Left_1 .resp-tab-content {
	border: none;
}

.CategorieTab_Left_1 .resp_container .resp_margin {
	border: 1px solid #f0f0f0;
	padding: 15px;
	margin: 0;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}

.CategorieTab_Left_1 ul.resp-tabs-list li {
	padding-left: 0px;
	margin: 0 0px 8px 0;
}

.CategorieTab_Left_1 ul.resp-tabs-list li span,
.CategorieTab_Left_1 ul.resp-tabs-list li:hover span {
	
}

.CategorieTab_Left_1 ul.resp-tabs-list li:first-child {
	
}

.CategorieTab_Left_1 ul.resp-tabs-list {
	padding: 0px;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}

.CategorieTab_Right_1 {
	padding-bottom: 15px;
}

.CategorieTab_Right_1 .resp-tab-content {
	border: none;
}

.CategorieTab_Right_1 .resp_container .resp_margin {
	border: 1px solid #f0f0f0;
	padding: 15px;
	margin: 0;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	margin: 0px;
	background: none!important;
}

.CategorieTab_Right_1 ul.resp-tabs-list li {
	padding-right: 0;
	margin: 0 0 8px 0px;
}

.CategorieTab_Right_1 ul.resp-tabs-list li span{
	padding:12px 0;
	display: block;
	white-space: nowrap;
	cursor: pointer;
	text-align:center;
	border:1px solid #f0f0f0;
	border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	-webkit-border-radius:0 4px 4px 0;
	font-size:14px;
	color:#666666;
	background-color:#f5f5f5;
	border-left: none;
	position:relative;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active span:before{
	content:"";
	border-right:2px solid #20a3f0;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:4px;
	height: 100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}



.CategorieTab_Right_1 ul.resp-tabs-list {
	padding: 0px;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	background-color:#FFF;
	color: #666666;
}


.CategorieTab_Top_1 table td,
.CategorieTab_Left_1 table td,
.CategorieTab_Right_1 table td{
	vertical-align: top;
}

.CategorieTab_Top ul.resp-tabs-list li em,
.CategorieTab_Top ul.resp-tabs-list li i,
.CategorieTab_Top h2.resp-accordion span em,
.CategorieTab_Top h2.resp-accordion span i,
.CategorieTab_Bottom ul.resp-tabs-list li em,
.CategorieTab_Bottom ul.resp-tabs-list li i,
.CategorieTab_Bottom h2.resp-accordion span em,
.CategorieTab_Bottom h2.resp-accordion span i,
.CategorieTab_Left ul.resp-tabs-list li em,
.CategorieTab_Left ul.resp-tabs-list li i,
.CategorieTab_Left h2.resp-accordion span em,
.CategorieTab_Left h2.resp-accordion span i,
.CategorieTab_Right ul.resp-tabs-list li em,
.CategorieTab_Right ul.resp-tabs-list li i,
.CategorieTab_Right h2.resp-accordion span em,
.CategorieTab_Right h2.resp-accordion span i {
	margin-right: 5px;
}
 @media only screen and (max-width: 768px) {

.CategorieTab_Left_1 .resp_container .resp_margin,
.CategorieTab_Right_1 .resp_container .resp_margin{
	/*border-bottom: none;*/
}
.CategorieTab_Top_1 .resp-tabs-container{
	border: none;
}
.CategorieTab_Bottom_1 .resp-tabs-container {
	border-top:none;
	border-left:none;
	border-right:none;	
}
.CategorieTab_Top_1 .resp-tabs-container {
	border-bottom: 1px solid #f0f0f0;
}
.CategorieTab_Top h2.resp-accordion,
.CategorieTab_Left h2.resp-accordion {
	border: 1px solid #f0f0f0;
	border-bottom: none;
}
}

/*CategorieTab*/


 @media only screen and (max-width: 768px) {


.CategorieTab_Left .resp-tab-content .resp_margin,
.CategorieTab_Right .resp-tab-content .resp_margin {
	min-height:inherit!important;
}

}





/*Tab*/
.PopularTab_Default .ranking_tabs{
	border-radius:0px;
	border:none;
	background:none;
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav{
	border:none;
	border-radius:0px;
	padding:0px;
	margin:0px;
	background:none;
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav .ui-state-default{
	list-style:none;
	float:left;
	border:none;
	background:none;
}

.PopularTab_Default .ranking_tabs .ui-tabs-nav li a{
	font-weight: bold; 
	color: #666;
	display: block; 
	background:#F4F4F4;
	padding: 0 15px; 
	line-height: 36px;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 0;
	font-size:13px;
	text-decoration:none!important;
	font-family:Arial;
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav li a:hover{
	color: #333; 
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav li.ui-state-active a{
	background:#fff;
	color: #333; 
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav li:first-child a{
	border-left-width: 1px;
    border-top-left-radius: 2px;
}
.PopularTab_Default .ranking_tabs .ui-tabs-nav li:last-child a{
	border-top-right-radius: 2px;
}

.PopularTab_Default .tab-content .ui-tabs-panel{
	display:block;
	padding:0px;
	background:none;
	border-radius:0px;
	border:none;
}
.PopularTab_Default .tab-content .ui-tabs-hide{
	display:none;
}
.PopularTab_Default .tab-content{
	padding: 10px; 
	margin:0px;
	background-color: #fff; clear: none;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 2px 2px #ddd; -webkit-box-shadow: 0 2px 2px #ddd; box-shadow: 0 2px 2px #ddd;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0;
}

.PopularTab_Default .news_toplist{
	padding:0px!important;
	margin:0px;
}
.PopularTab_Default .news_toplist li:first-child{
	border-top:none;	
}
.PopularTab_Default .news_toplist li:last-child{
	border-bottom: none;
margin: 0;
padding: 0;

}
.PopularTab_Default .news_toplist li{
	overflow: hidden;
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: 1px dashed #dbdbdb;
color: #999999;
clear: both;

}
.PopularTab_Default .news_toplist li:first-child{
	padding-top:0px;
}
.PopularTab_Default .news_toplist li .post_thum a{
    background:none;
    display: block;
}
.PopularTab_Default .news_toplist li .post_thum img{
	float:left;
	margin-right:12px;
	margin-top:3px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	max-width:50%;
}

.PopularTab_Default .news_toplist li .post_title{
	font-size: 13px;
	margin:0px 0 5px;
	line-height: 24px;
	letter-spacing:1px;
	color: #666;
}
.PopularTab_Default .news_toplist .post_summary{
	margin:5px 0px;
	clear:both;
}
.PopularTab_Default .news_toplist li .post_title,
.PopularTab_Default .news_toplist li .post_date,
.PopularTab_Default .news_toplist li .post_more{
	color: #666;
	font-size: 13px;
}
.PopularTab_Default .news_toplist li .post_date{
	font-style:italic;	
}
.PopularTab_Default .news_toplist li .post_title a,
.PopularTab_Default .news_toplist li .post_date a,
.PopularTab_Default .news_toplist li .post_more a{
	color: #666;
	text-decoration:none;
}
.PopularTab_Default .news_toplist li .post_title a:hover,
.PopularTab_Default .news_toplist li .post_date a:hover,
.PopularTab_Default .news_toplist li .post_more a:hover{
	text-decoration:underline;
}

.PopularTab_Default .post_tabtag a{
	display:inline-block;
	margin:0 7px 5px 0;
	border:1px solid #e5e5e5;
	padding:5px 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.PopularTab_Default .post_tabtag a, 
.PopularTab_Default .post_tabtag a:link, 
.PopularTab_Default .post_tabtag a:active, 
.PopularTab_Default .post_tabtag a:visited{
	color:#666666;
	font-size:13px;
	text-decoration:none;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.PopularTab_Default .post_tabtag a:hover{
	border-color:#20a3f0;
	color:#20a3f0;
	text-decoration:none
}


.PopularTab_Default .view_right{
	overflow:hidden;
}
.PopularTab_Default .view_right p{
	font-size: 13px;
	color: #999;
	margin: 0;
}

.PopularTab_Default .post_title {
	margin-bottom:8px;
	font-size: 13px
}
.PopularTab_Default .post_date {
	margin-bottom:8px;
	font-size: 13px
}
.PopularTab_Default .post_Author {
	margin-bottom:8px;
	font-size: 13px
}
.PopularTab_Default .post_category {
	margin-bottom:8px;
	font-size: 13px
}
.PopularTab_Default .post_tags {
	margin-bottom:8px;
	font-size: 13px
}
.PopularTab_Default .post_summary {
	margin-bottom:8px;
	font-size: 13px
}

@media (max-width: 767px) {
	.PopularTab_Default .news_toplist li .post_thum{
		float:none;
		margin-right:0px;
		margin-bottom:10px;
	}	
}