﻿<div id="form_desc_div${ModuleID}" class="$ThemeName">
    <div class="form_desc">${xf.ViewXmlSetting("form_description"," description ...")}</div> 
	<a id="LinkByFancyBox${ModuleID}" class="LinkByFancyBox${ModuleID} various fancybox.iframe"  href="${xf.ViewIFrame()}" >
    #if(${xf.ViewXmlSetting("ClickIcon","")} == "")
        ${xf.ViewXmlSetting("form_link","Click me")}
    #else
        <img src="${xf.PictureUrl("ClickIcon","")}" />
    #end
    </a>
</div>

 
 <script type="text/javascript">
     jQuery("#LinkByFancyBox${ModuleID}").fancybox_powerforms({
		 maxWidth: ${xf.ViewXmlSetting("fancyboxwidth",500)},
		 minHeight: ${xf.ViewXmlSetting("fancyboxheight",150)},
         afterClose: function () { 
             //jQuery(".DnnModule-${ModuleID}").css("z-index","0");
         },
         modal: ${xf.ViewXmlSetting("fancybox_modal","false")},
         scrollOutside: ${xf.ViewXmlSetting("fancybox_scrollOutside","true")},
         // Properties for each animation type
        // Opening fancyBox
        openEffect: '${xf.ViewXmlSetting("fancybox_openEffect","fade")}', // 'elastic', 'fade' or 'none'
        openSpeed: ${xf.ViewXmlSetting("fancybox_openSpeed",250)},
        openEasing: '${xf.ViewXmlSetting("fancybox_openEasing","swing")}',
        openOpacity: ${xf.ViewXmlSetting("fancybox_openOpacity","true")},

        // Closing fancyBox
        closeEffect: '${xf.ViewXmlSetting("fancybox_closeEffect","fade")}', // 'elastic', 'fade' or 'none'
        closeSpeed: ${xf.ViewXmlSetting("fancybox_closeSpeed",250)},
        closeEasing: '${xf.ViewXmlSetting("fancybox_closeEasing","swing")}',
        closeOpacity: ${xf.ViewXmlSetting("fancybox_closeOpacity","true")}

     });
</script>
<style type="text/css">
	#form_desc_div${ModuleID} .actionMenu{ display:none;}
</style> 
