﻿<!-- slider markup -->
<ul id="slider${ModuleID}" class="$SkinEffectThemeName">
    #if($PhotoList.Count > 0) 
        #foreach($PhotoItem in $PhotoList)
		<div class="slider-item" >
        <a href="${xf.ViewPicture($PhotoItem)}"  class="prolight_image_gallery${ModuleID}" title="${PhotoItem.Title}">
           <img src="${xf.ThumbnailUrl($PhotoItem,${xf.ViewSkinEffectSetting("thumbnail_width",400)},400,"W")}" alt="${PhotoItem.Title}"/>  
           <span class="fa fa-search"></span>
           <span class="shade"></span>
				</a>   
				#if(${xf.ViewSkinEffectSetting("dispaytitle",false)})
				<h6>${PhotoItem.Title}</h6>
				#end
				#if(${xf.ViewSkinEffectSetting("dispaydes",false)})
				<p>${PhotoItem.description}</p>
				#end
			


        </div>
        
        
           
        #end 
    #end
</ul>

<style type="text/css"> 
	#slider${ModuleID}{
		margin:0  -${xf.ViewSkinEffectSetting("thItemsSpacing","1")}px
	}
	#slider${ModuleID} .slider-item{
		padding:0 ${xf.ViewSkinEffectSetting("thItemsSpacing","1")}px
	}
	#slider${ModuleID} .slider-item .shade{
		left:${xf.ViewSkinEffectSetting("thItemsSpacing","1")}px;
		right:${xf.ViewSkinEffectSetting("thItemsSpacing","1")}px;
	}
	#if(${xf.ViewSkinEffectSetting("dots","true")}=="false")
	#slider${ModuleID} .slick-prev, 
	#slider${ModuleID} .slick-next{
		top:-18px;
	}	
	#end
</style>


<!-- slider initializer -->
<script type='text/javascript'>
$(document).ready(function(){
	
	
	/**/
	$('#slider${ModuleID}').slick({
		infinite:${xf.ViewSkinEffectSetting("infinite","true")} ,
		accessibility:${xf.ViewSkinEffectSetting("accessibility","true")},
		adaptiveHeight:${xf.ViewSkinEffectSetting("adaptiveHeight","false")},
		autoplay:${xf.ViewSkinEffectSetting("autoplay","true")},
		autoplaySpeed:${xf.ViewSkinEffectSetting("autoplaySpeed","3000")},
		speed:${xf.ViewSkinEffectSetting("speed","300")},
		arrows:${xf.ViewSkinEffectSetting("arrows","true")},
		dots:${xf.ViewSkinEffectSetting("dots","true")}, 
		cssEase:"${xf.ViewSkinEffectSetting("cssEase","ease-in")}", 
		draggable:${xf.ViewSkinEffectSetting("draggable","true")},
		pauseOnHover:${xf.ViewSkinEffectSetting("pauseOnHover","true")},
//		vertical:${xf.ViewSkinEffectSetting("vertical","false")},
//		fade:${xf.ViewSkinEffectSetting("fade","false")},
		slidesToShow: ${xf.ViewSkinEffectSetting("thitems","4")},
		slidesToScroll:#if(${xf.ViewSkinEffectSetting("slidesToScroll","One Page")}=="One Page") ${xf.ViewSkinEffectSetting("thitems","4")} #else 1 #end,
		variableWidth: ${xf.ViewSkinEffectSetting("variableWidth","false")},
		responsive: [
			{
			  breakpoint: 1199,
			  settings: {
				slidesToShow: ${xf.ViewSkinEffectSetting("thDesktop","4")},
				slidesToScroll: #if(${xf.ViewSkinEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewSkinEffectSetting("thDesktop","4")} #else 1 #end
			  }
			},
			{
			  breakpoint: 979,
			  settings: {
				slidesToShow: ${xf.ViewSkinEffectSetting("thDesktopSmall","3")},
				slidesToScroll: #if(${xf.ViewSkinEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewSkinEffectSetting("thDesktopSmall","3")} #else 1 #end
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				slidesToShow: ${xf.ViewSkinEffectSetting("thTable","2")},
				slidesToScroll: #if(${xf.ViewSkinEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewSkinEffectSetting("thTable","2")} #else 1 #end
			  }
			},
			{
			  breakpoint: 479,
			  settings: {
				slidesToShow: ${xf.ViewSkinEffectSetting("thMobile","1")},
				slidesToScroll: #if(${xf.ViewSkinEffectSetting("slidesToScroll","One Page")}=="One Page")${xf.ViewSkinEffectSetting("thMobile","1")} #else 1 #end
			  }
			}
		 ],
	});
});




</script>




         