.Theme_21_Default {
	padding:0;
	margin:0;
	z-index:100;
}
.Theme_21_Default li{
	list-style:none;
}
.Theme_21_Default a{
	display:inline-block;
	width:42px;
	height:42px;
	line-height:42px;
	text-align:center;
	font-size:20px;
	color:#FFF;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	
}
.Theme_21_Default .icontitle{
	display: none;
	font-size: 0px;
}