﻿


<div id="Custom_ContentSlider${ModuleID}"  class=" $ThemeName " >
  <div class=" #if(${xf.ViewXmlSetting("hv_switch","0")}==0)content_slider_wrapper #else content_slider_wrapper_vertical#end"> #if($SliderList.Count > 0) 
    #foreach($SliderItem in $SliderList)
    #set( $index = ${velocityCount} - 1 )
    <div class="circle_slider_text_wrapper" id="sw${ModuleID}_${index}" style="display: none;"> 
      <!-- content for the first layer, id="sw0" -->
      <div class="content_slider_text_block_wrap">
          #if( ${xf.ViewXmlSetting("showtitle","true")} == "true")
              <h2 class="title"> ${xf.ViewSliderSetting($SliderItem,"Title","")}</h2>
          #end
          <div class="Description"> ${xf.ViewSliderSetting($SliderItem,"Description","")} </div>
      </div>
      <div class="clear"></div>
    </div>
    #end
    #end 
    <div style="clear:both"></div>
    </div>
</div>

<style type="text/css">

#Custom_ContentSlider${ModuleID} .circle_slider_nav_right ,
#Custom_ContentSlider${ModuleID} .circle_slider_nav_left {
	border-color:${xf.ViewXmlSetting("ArrowsColor","#1ab99b")};
}
#if( ${xf.ViewXmlSetting("hv_switch","0")} != 0)
#Custom_ContentSlider${ModuleID} > div {
	position:relative;
	overflow:visible;
}
#end

#if( ${xf.ViewXmlSetting("arrowsshow","true")} == "true")
	#Custom_ContentSlider${ModuleID} .circle_slider_nav_left{
		opacity:0;
		visibility:hidden;
		transition: 		all ease-in 300ms;
		-webkit-transition:    all ease-in 300ms; /* Safari and Chrome */
	}
	#Custom_ContentSlider${ModuleID} .circle_slider_nav_right{
		opacity:0;
		visibility:hidden;
		transition: 		all ease-in 300ms;
		-webkit-transition:    all ease-in 300ms; /* Safari and Chrome */
	} 
	#Custom_ContentSlider${ModuleID}:hover .circle_slider_nav_left{
		opacity:1;
		visibility:visible;
	}
	#Custom_ContentSlider${ModuleID}:hover .circle_slider_nav_right{
		opacity:1;
		visibility:visible;
	} 
#end
#if(${xf.ViewXmlSetting("hide_arrows","0")}==1)
#Custom_ContentSlider${ModuleID} .circle_slider_nav_left,
#Custom_ContentSlider${ModuleID} .circle_slider_nav_right{
	display:none!important;
}
#end

</style>


<script type="text/javascript">
 #if($SliderList.Count > 0) 
	(function($){
		$(document).ready(function() {
			var image_array = new Array();
			image_array = [
				#foreach($SliderItem in $SliderList)
					#if(${velocityCount}!=1),#end{image: '${xf.PictureUrl($SliderItem,"Picture","")}', link_url:'#if(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} == "Link")${xf.PictureUrl($SliderItem,"PictureLink","")}#elseif(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} == "prolight_image")${xf.PictureUrl($SliderItem,"PictureImages","")}#elseif(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} == "prolight_youtube")http://www.youtube.com/watch?v=${xf.PictureUrl($SliderItem,"Pictureyoutube","")}#elseif(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} == "prolight_vimeo")http://vimeo.com/${xf.PictureUrl($SliderItem,"Picturevimeo","")}#elseif(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} == "prolight_gmaps")${xf.PictureUrl($SliderItem,"Picturegmaps","")}&iframe=true&width=100%&height=100%#end', link_rel: '#if(${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} != "Link" && ${xf.ViewSliderSetting($SliderItem,"PictureLinkType","Link")} != "None")prettyPhoto#end', link_target: '_blank'}
				#end
			];
			$('#Custom_ContentSlider${ModuleID} > div').content_slider2({		// bind plugin to div id="slider1"
				map : image_array,				// pointer to the image map
				max_shown_items: ${xf.ViewXmlSetting("thitems","5")},				// number of visible circles
				hv_switch: 					${xf.ViewXmlSetting("hv_switch","0")},					// 0 = horizontal slider, 1 = vertical
				active_item: 0,					// layer that will be shown at start, 0=first, 1=second...
				wrapper_text_max_height:    ${xf.ViewXmlSetting("wrapper_text_mh","450")},	// height of widget, displayed in pixels
				middle_click: 1,				// when main circle is clicked: 1 = slider will go to the previous layer/circle, 2 = to the next
				under_600_max_height: 100,		// if resolution is below 600 px, set max height of content
				border_radius:	-1,				// -1 = circle, 0 and other = radius
				automatic_height_resize: 1,
				border_on_off: 0,
				allow_shadow: 0,
				border_radius:				${xf.ViewXmlSetting("border_radius","0")},
				text_field_id_prefix:"#sw${ModuleID}_",
				main_circle_position: 		${xf.ViewXmlSetting("main_circle","0")},
				small_pic_width:			${xf.ViewXmlSetting("small_pic_width","160")},
				small_pic_height:			${xf.ViewXmlSetting("small_pic_height","160")},
				big_pic_width:				${xf.ViewXmlSetting("big_pic_width","260")},
				big_pic_height:				${xf.ViewXmlSetting("big_pic_height","260")},
				child_div_width:			${xf.ViewXmlSetting("child_div_width","200")},
				child_div_height:			${xf.ViewXmlSetting("child_div_height","200")},
				hide_prettyPhoto:			0,
				arrow_width	:				22,
				arrow_height :				44,
				auto_play:					${xf.ViewXmlSetting("auto_play","1")},
				auto_play_pause_time:		${xf.ViewXmlSetting("auto_p_ptime","3000")},
				hide_arrows:				0,
				plugin_url:					"${Module.ModulePath}Effects/${EffectName}/",
				prettyPhoto_color:			"${xf.ViewXmlSetting("image_morebg","#1ab99b")}",
				responsive_by_available_space: 1
			});
			
			#if( ${xf.ViewXmlSetting("hv_switch","0")} == 0)
				if($('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_left").length!=0){
					$('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_left").appendTo("#Custom_ContentSlider${ModuleID}");
					$('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_right").appendTo("#Custom_ContentSlider${ModuleID}");
				}
			#else
				if($('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_left").length!=0){
					$('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_left").appendTo("#Custom_ContentSlider${ModuleID} > div");
					$('#Custom_ContentSlider${ModuleID}').find(".circle_slider_nav_right").appendTo("#Custom_ContentSlider${ModuleID} > div");
				}
			#end

			
			
		});
	})(jQuery);
#end	
	
			
</script>
