/* Unoslider container */
.Theme_12_Basic {
  list-style: none;
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Basic img{
  max-width: 100%;
}

.Theme_12_Basic li {
  display:none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0; 

}


/* Timebar */
.Theme_12_Basic .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Basic .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Basic .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Basic .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Basic .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Basic .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Basic .unoslider_caption a
{
  text-decoration:none;
}


/* Hand cursor over navigation elements */
.Theme_12_Basic .unoslider_navigation {
  cursor: pointer;
}

/* container which contains navigation and indicator */
.Theme_12_Basic .unoslider_navigation_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
 }

/* Tooltip panel */
.Theme_12_Basic .unoslider_caption {
  position: absolute;
  right: 60px;
  bottom: 15px;
  left: 60px;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  padding: 10px 0px;
  width: auto;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: white;
  text-align: center;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.Theme_12_Basic .unoslider_caption a
{
  color:White;
}


/* play, pause, previous and next elements */
.Theme_12_Basic .unoslider_pause, 
.Theme_12_Basic .unoslider_play, 
.Theme_12_Basic .unoslider_left, 
.Theme_12_Basic .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("basic.png") no-repeat;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.Theme_12_Basic .unoslider_pause:hover, 
.Theme_12_Basic .unoslider_play:hover, 
.Theme_12_Basic .unoslider_left:hover, 
.Theme_12_Basic .unoslider_right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* play and pause elements */
.Theme_12_Basic .unoslider_pause, 
.Theme_12_Basic .unoslider_play {
  height: 46px;
  width: 46px;
  margin-top: -23px;
  margin-left: -23px;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
}

/* previous and next elements */
.Theme_12_Basic .unoslider_left, 
.Theme_12_Basic .unoslider_right {
  width: 40px;
  height: 100%;
}

/* previous */
.Theme_12_Basic .unoslider_left {
  background-position: 10px center;
  left: 0;
}

/* next */
.Theme_12_Basic .unoslider_right {
  background-position: -52px center;
  right: 0;
}

/* pause */
.Theme_12_Basic .unoslider_pause {
  background-position: -163px 10px;
}

/* play */
.Theme_12_Basic .unoslider_play {
  background-position: -110px 10px;
}

/* bullet indicator */
.Theme_12_Basic .unoslider_indicator {
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: right;
}
.Theme_12_Basic .unoslider_indicator a {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: visible;
  cursor: pointer;
  background: black;
  margin: 3px;
  width: 12px;
  height: 12px;
  text-align:left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
*+html .Theme_12_Basic .unoslider_indicator a {
  display: inline;
}
.Theme_12_Basic .unoslider_indicator a.unoslider_indicator_active, 
.Theme_12_Basic .unoslider_indicator a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  width: 6px;
  height: 6px;
  background: white;
  border: 3px solid black;
}

