.Theme_20_Default_01 {
	position:relative;
}
.Theme_20_Default_01 .pro-pricing-item{
}
.Theme_20_Default_01 .pro-pricing-box{
	background-color:#FFF;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	position:relative;
}
.Theme_20_Default_01 .pro-pricing-box:hover{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
	z-index:3;
}
.Theme_20_Default_01 .pro-pricing-box.shadow{
	box-shadow:0 0 15px rgba(0,0,0,0.3);	
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3); 	
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
}


.Theme_20_Default_01 .proprice_holder{
	border-top:none;
	margin:0;

}
.Theme_20_Default_01 .proprice_title{
	border:none;
	border-bottom:5px solid #20a3f0;
	background-color:#333333;
	padding:28px 20px;
}
.Theme_20_Default_01 .proprice_title h2{
	color:#FFF;
	font-size:18px;
	margin:0;
	font-weight:normal;
}
.Theme_20_Default_01 .proprice_box {
    padding: 40px 20px ;
	border-color:#dddddd;
}
.Theme_20_Default_01 .proprice{
	font-size:40px;
}
.Theme_20_Default_01 .sup{
	vertical-align:bottom;
    font-size: 28px;
    line-height: 34px;
}
.Theme_20_Default_01 .proprice_holder{
	border:1px solid #dddddd;
	border-top:none;
}
.Theme_20_Default_01 .proprice_description{
	padding:20px;
	background-color:#FAFAFA;
	background-color: rgba(0,0,0,0.05);
	border-top:1px solid #dddddd;
}

.Theme_20_Default_01 .proprice_info{
	margin:0;
	padding:0;
	border-top:1px solid #dddddd;
}
.Theme_20_Default_01 .proprice_info li{
	list-style:none;
	border-bottom:1px solid #dddddd;
	padding:12px 20px;	
}
.Theme_20_Default_01 .proprice_info li:nth-child(even){
	background-color:#FAFAFA;
	background-color: rgba(0,0,0,0.05);	
}

.Theme_20_Default_01 .buybtn a {
	color: #FFF;
	display:inline-block;
	margin:30px 0;
	position: relative;
	font-size: 14px;
	padding:12px 25px;
	background-color:#20a3f0;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition:	all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
	white-space:nowrap;
}
.Theme_20_Default_01 .buybtn a:hover {
	background-color:#525252!important;
}
.Theme_20_Default_01 .marker{
	right:0px;
	top:6px;
	padding:0px 8px;
	height:22px;
	line-height:23px;
	font-size:12px;
	z-index:1;
}

.Theme_20_Default_01 .marker > .before{
	content:"";
	position:absolute;
	top:0;
	left:-11px;
	border:11px solid #F00;
	border-left-color:transparent!important;
	border-right-width:0!important;
	background-color:transparent!important;
}
/*
.Theme_20_Default_01 .marker > .after{
	content:"";
	position:absolute;
	top:-0px;
	right:-4px;
	height:24px;
	border:2px solid #F00;
	border-top-width:0px;
	background-color:transparent!important;
	border-right-color:transparent!important;
	border-bottom-color:transparent!important;
}
*/

.Theme_20_Default_01 .pro-pricing-item.best{
	z-index:2;
	position:relative;
	margin-top:-14px;
}
.Theme_20_Default_01 .best .proprice_title{
	padding:35px 20px;
}
.Theme_20_Default_01 .buybtn {
	padding:0 20px;
	line-height:1.2;
}
.Theme_20_Default_01 .best .buybtn a{
	margin:37px 0;
}

@media only screen and (max-width: 767px) {
	.Theme_20_Default_01 .best{
		margin-top:0px!important;
	}
}


/*Display Left Header*/

.Theme_20_Default_01.pro-pricing-show-info .proprice_title,
.Theme_20_Default_01.pro-pricing-show-info .proprice_box,
.Theme_20_Default_01.pro-pricing-show-info .proprice_description,
.Theme_20_Default_01.pro-pricing-show-info .proprice_info li,
.Theme_20_Default_01.pro-pricing-show-info .buybtn{
	position:relative;
}
.Theme_20_Default_01.pro-pricing-show-info .title-info,
.Theme_20_Default_01.pro-pricing-show-info .proprice-info,
.Theme_20_Default_01.pro-pricing-show-info .description-info,
.Theme_20_Default_01.pro-pricing-show-info .proprice_info .proprice_info-info,
.Theme_20_Default_01.pro-pricing-show-info .buybtn-info{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	bottom:0;
	display:none;
}
.Theme_20_Default_01.pro-pricing-show-info .title-info:before,
.Theme_20_Default_01.pro-pricing-show-info .proprice-info:before,
.Theme_20_Default_01.pro-pricing-show-info .description-info:before,
.Theme_20_Default_01.pro-pricing-show-info .buybtn-info:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Theme_20_Default_01.pro-pricing-show-info .proprice-info,
.Theme_20_Default_01.pro-pricing-show-info .description-info{
	font-size:20px;
	font-weight:bold;
	line-height:1.2;
	white-space:nowrap;
}
.Theme_20_Default_01.pro-pricing-show-info .proprice_info .proprice_info-info{
	font-weight:bold;
}
.Theme_20_Default_01.pro-pricing-show-info .copy .buybtn-info {
	font-weight:bold;
	font-size:16px;
}

.Theme_20_Default_01.pro-pricing-show-info .copy .markerBox,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_title h2,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_box .proprice_proprice,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_description .description,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_info .list_info,
.Theme_20_Default_01.pro-pricing-show-info .copy .buybtn a{
	visibility:hidden;
	opacity:0;
}
.Theme_20_Default_01.pro-pricing-show-info .copy .title-info,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice-info,
.Theme_20_Default_01.pro-pricing-show-info .copy .description-info,
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_info .proprice_info-info,
.Theme_20_Default_01.pro-pricing-show-info .copy .buybtn-info{
	display:block;
	text-align:right;
	padding:0 20px;
}
.Theme_20_Default_01.pro-pricing-show-info .copy .title-info img{
	max-height:80%;
	vertical-align:middle;
}
.Theme_20_Default_01.pro-pricing-show-info .copy .proprice_info .proprice_info-info{
	padding:12px 20px;	
	font-weight:bold;
}

.Theme_20_Default_01.numbercolumns-1 .copy{
	display:none;
}
.Theme_20_Default_01.numbercolumns-1.pro-pricing-show-info .title-info,
.Theme_20_Default_01.numbercolumns-1.pro-pricing-show-info .proprice-info,
.Theme_20_Default_01.numbercolumns-1.pro-pricing-show-info .description-info,
.Theme_20_Default_01.numbercolumns-1.pro-pricing-show-info .proprice_info .proprice_info-info{
	position:static;
	padding:0 0 10px;
	border:none;
	background:none;
	text-align:inherit;
	display:block;
}
.Theme_20_Default_01 .proprice_proprice{
	line-height:1;
}
.Theme_20_Default_01 a:hover{
	text-decoration:none;
}

@media only screen and (min-width: 1200px) {
	.Theme_20_Default_01.numberLarge-1 .copy{
		display:none;
	}
	.Theme_20_Default_01.numberLarge-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_01.numberLarge-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_01.numberLarge-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_01.numberLarge-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Theme_20_Default_01.numbertablet-1 .copy{
		display:none;
	}
	.Theme_20_Default_01.numbertablet-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_01.numbertablet-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_01.numbertablet-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_01.numbertablet-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
@media only screen and (max-width: 767px) {
	.Theme_20_Default_01.numberphone-1 .copy{
		display:none;
	}
	.Theme_20_Default_01.numberphone-1.pro-pricing-show-info .title-info,
	.Theme_20_Default_01.numberphone-1.pro-pricing-show-info .proprice-info,
	.Theme_20_Default_01.numberphone-1.pro-pricing-show-info .description-info,
	.Theme_20_Default_01.numberphone-1.pro-pricing-show-info .proprice_info .proprice_info-info{
		position:static;
		padding:0 0 10px;
		border:none;
		background:none;
		text-align:inherit;
		display:block;
	}
}
