/* Unoslider container */
.Theme_12_Square {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Square img{
  max-width: 100%;
}

.Theme_12_Square li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Square .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Square .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Square .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Square .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Square .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Square .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Square .unoslider_caption a
{
  text-decoration:underline;
  color:#fff;
}



/* Hand cursor over navigation elements */
.Theme_12_Square .unoslider_navigation {
  cursor: pointer;
}

/* Tooltip panel */
.Theme_12_Square .unoslider_caption {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  padding: 10px 0px;
  width: auto;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: white;
  text-align: center;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* play, pause, previous and next elements */
.Theme_12_Square .unoslider_pause, 
.Theme_12_Square .unoslider_play, 
.Theme_12_Square .unoslider_left, 
.Theme_12_Square .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("square.png") no-repeat;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.Theme_12_Square .unoslider_pause:hover, 
.Theme_12_Square .unoslider_play:hover, 
.Theme_12_Square .unoslider_left:hover, 
.Theme_12_Square .unoslider_right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* play and pause elements */
.Theme_12_Square .unoslider_pause, 
.Theme_12_Square .unoslider_play {
  height: 53px;
  width: 53px;
  margin-top: -26.5px;
  margin-left: -26.5px;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* previous and next elements */
.Theme_12_Square .unoslider_left, 
.Theme_12_Square .unoslider_right {
  width: 27px;
  height: 55px;
  margin-top: -27.5px;
  top: 50%;
}

/* previous */
.Theme_12_Square .unoslider_left {
  background-position: 5px -48px;
  left: -27px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* next */
.Theme_12_Square .unoslider_right {
  background-position: -54px -48px;
  right: -27px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* pause */
.Theme_12_Square .unoslider_pause {
  background-position: 13.5px 10px;
}

/* play */
.Theme_12_Square .unoslider_play {
  background-position: -75px 13px;
}

/* bullet indicator */
.Theme_12_Square .unoslider_indicator {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}
.Theme_12_Square .unoslider_indicator a {
  font-size:0px;
  line-height:0px;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: visible;
  cursor: pointer;
  background: black;
  margin: 3px;
  width: 12px;
  height: 12px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.Theme_12_Square .unoslider_indicator a {
  *display: inline;
}
.Theme_12_Square .unoslider_indicator a.unoslider_indicator_active, .unoslider_indicator a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  width: 6px;
  height: 6px;
  background: white;
  border: 3px solid black;
}
