﻿<div class="$SkinThemeName">
<ul class="archive_list">
 #if($DataList.Count > 0) 
    #foreach($DataItem in $DataList)
     <li  class="${xf.ViewArchiveClass($DataItem,"Archive_Current")}"> <a href='${xf.GoUrl($DataItem)}' title="${xf.ViewMonth($DataItem)} $DataItem.Year">${xf.ViewMonth($DataItem)} $DataItem.Year ($DataItem.QuoteCount)</a></li>
    #end
 #end
</ul>
</div>