﻿#if(${xf.ViewSkinSetting("Displayrssicons",true)})
<!-- Rss Begin-->
<div class="event_rss"><a href="${xf.GoRssUrl()}" target="_blank"><img src="${xf.EffectPath}images/rss.png" alt="${xf.ViewLanguage("RSS","RSS")}" title="${xf.ViewLanguage("RSS","RSS")}" /></a></div>
<!-- Rss End-->
#end

<div class="$SkinThemeName calendar " 
     id="calendar${ModuleID}" 
     data-id="${ModuleID}" 
     data-categoryid="${Search_CategoryID}" 
     data-starttime="" 
     data-endtime="" 
     data-searchtag="${Search_Tag}" 
     data-text="${Search_Text}" 
     data-calendar="${Search_Calendar}" 
     data-archive="${Search_Archive}" 
     data-author="${Search_Author}" 
     data-country="${Search_Country}" 
     data-state="${Search_State}" 
     data-city="${Search_City}" 
     data-pagesize="999" 
     data-loaddisplay="999" ${xf.AjaxParameters}> 
   #if($Navigation.IsView)
  <div class="page_meta"> $Navigation.Title: <span>  #if($Navigation.AuthorID >0)<img src="${xf.ViewAuthorPic($Navigation.AuthorID)}" />#end $Navigation.Content</span><a href="${xf.GoUrl()}">${xf.ViewLanguage("Return","Return")}</a> </div>
  #end
  <div class="fcp-tooltip">
    <div class="fc-close-tooltip"></div>
    <div class="fcp-main"></div>
  </div>
  <div class="calendar-view fc-view fc-once"></div>
 
 
 
  <!--StartFormat EndFormat--> 
  
  <script class="fcp-Template-tooltip" type="text/x-jquery-tmpl">  
  
	#if(${xf.ViewSkinSetting("DisplayTitle",true)})	
	{{if title}}
	<h3 class="title"><a href="${EventUrl}">${title}</a> </h3>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DisplayDate",true)})	
	<div class="Timebox">
	{{if StartFormat}}
	<div class="startdate"><span>${xf.ViewLanguage("StartDate","Start date")} </span> ${StartFormat}</div>
	{{/if}}
	{{if EndFormat}}
	<div class="enddate"><span>${xf.ViewLanguage("EndDate","End date")}</span> ${EndFormat} </div>
	{{/if}}
	<div class="clear"></div>
	#if(${xf.ViewSkinSetting("DisplayTimeZone",true)})	
	<div class="TimeZone">${TimeZone}</div>
	#end
	</div>
	#end
	<div class="clear"></div>
	#if(${xf.ViewSkinSetting("Displaylocation",true)})
	{{if Location}}
	<div class="Location"><span>${xf.ViewLanguage("Location","Location")}:</span> ${Location} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaycategorie",true)})
	{{if CategorieLinks}}
	<div class="Categorie"><span>${xf.ViewLanguage("Category","Category")}:</span>{{html CategorieLinks}}</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaytag",true)})
	{{if LinkTags}}
	<div class="Tag"><span>${xf.ViewLanguage("Tags","Tags")}:</span>{{html LinkTags}}</div>
	{{/if}}
	#end
	
	#if(${xf.ViewSkinSetting("Displaysummary",true)})
	{{if Summary}}
	<div class="summary">{{html Summary}} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaycontent",true)})
	{{if ContentText}}
	<div class="contenttext">{{html ContentText}} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displayimage",true)})
	{{if Picture > 0 }}
	<div class="PictureUrl"><img src="${PictureUrl}" title="${title}" /> </div>
	{{/if}}
	#end
</script> 
  <script class="fcp-Template-timeline" type="text/x-jquery-tmpl">  
	#if(${xf.ViewSkinSetting("DisplayTitle2",true)})	
	{{if title}}
	<h3 class="fcp-timeBox-title"><a href="${EventUrl}">${title}</a> </h3>
	{{/if}}
	#end
	<div class="fcp-timeBox">
		<div class="fcp-time-container">
		
			#if(${xf.ViewSkinSetting("DisplayDate2",true)})	
			<div class="Timebox">
			{{if StartFormat}} 
				<div class="startdate"><div class="small-title">${xf.ViewLanguage("StartDate","Start date")}</div> ${StartFormat} </div>
			{{/if}}
			{{if EndFormat}}
				<div class="enddate"><div class="small-title">${xf.ViewLanguage("EndDate","End date")}</div> ${EndFormat} </div>
			{{/if}}
			<div class="clear"></div>
			#if(${xf.ViewSkinSetting("DisplayTimeZone2",true)})	
			<div class="TimeZone">${TimeZone}</div>
			#end
			</div>
			#end
			<div class="clear"></div>
			#if(${xf.ViewSkinSetting("Displaylocation2",true)})	
			{{if Location}}
				<div class="Location"><div class="small-title">${xf.ViewLanguage("Location","Location")}:</div> ${Location} </div>
			{{/if}}
			#end
			#if(${xf.ViewSkinSetting("Displaycategorie2",true)})
			{{if CategorieLinks}}
			<div class="Categorie"><span class="small-title">${xf.ViewLanguage("Category","Category")}:</span>{{html CategorieLinks}}</div>
			{{/if}}
			#end
			#if(${xf.ViewSkinSetting("Displaytag2",true)})
			{{if LinkTags}}
			<div class="Tag"><span class="small-title">${xf.ViewLanguage("Tags","Tags")}:</span>{{html LinkTags}}</div>
			{{/if}}
			#end
			#if(${xf.ViewSkinSetting("Displaysummary2",true)})
			{{if Summary}}
				<div class="summary">{{html Summary}} </div>
			{{/if}}
			#end
			#if(${xf.ViewSkinSetting("Displaycontent2",true)})
			{{if ContentText}}
				<div class="contenttext">{{html ContentText}} </div>
			{{/if}}
			#end
			#if(${xf.ViewSkinSetting("Displayimage2",true)})
			{{if Picture > 0 }}
				<div class="PictureUrl"><img src="${PictureUrl}" title="${title}" /> </div>
			{{/if}}
			#end
		</div>
	</div>
</script> 
<script class="fcp-Template-Extensions" type="text/x-jquery-tmpl"> 
	<div class="fcp-extensions">
		<h3>${Key}</h3>
		<p>${Value}</p>
	</div>			
</script> 
  <script class="fcp-Template-accordion" type="text/x-jquery-tmpl">  
	<div class="fcp-accordion">
		<div class="fcp-title" style="border-left-color:${Color}">
			#if(${xf.ViewSkinSetting("DisplaytlDate3",true)})
			<div class="fcp-date"><div class="endtime">${endday}<span>${endmonth}</span></div>${day}<span>${month}</span></div>
			#end
			<div class="fcp-title-right">
				#if(${xf.ViewSkinSetting("DisplayTitle3",true)})	
				{{if title}}
				<h3><a href="${EventUrl}">${title}</a></h3>
				{{/if}}
				#end
				
				
				
		#if(${xf.ViewSkinSetting("displayregico",false)})
			{{if !history}}
					<a  href="${EventUrl}#event-rsvp${ModuleID}" title="${xf.ViewLanguage("REGISTER","REGISTER")}" class="reg">${xf.ViewLanguage("REGISTER","REGISTER")}</a>
			{{/if}}		
		#end
		
				
				<div class="fcp-info">
					#if(${xf.ViewSkinSetting("DisplayttDate3",true)})
					<span class="fcp-time"><span class="fa fa-clock-o"></span> ${StartFormat} — ${EndFormat} #if(${xf.ViewSkinSetting("DTimeZone3",true)}) <span class="TimeZone">${TimeZone}</span>#end</span><span class="sep"> &nbsp;&nbsp;</span>
					#end
					#if(${xf.ViewSkinSetting("DisplayttLocation3",true)})
					{{if Location}}
					<span class="fcp-location"><span class="fa fa-map-marker"></span> ${Location}</span>
					{{/if}}
					#end
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="fcp-content"></div>
	</div>
</script> 
  <script class="fcp-Template-accordion-content" type="text/x-jquery-tmpl"> 
 	#if(${xf.ViewSkinSetting("Displayimage3",true)})	
	{{if Picture > 0 }}
	<div class="PictureUrl"><img src="${PictureUrl}" title="${title}" /> </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaysummary3",true)})	
	{{if Summary}}
		<div class="fcp-details"> 
		  <h5><span class="fa fa-bookmark"></span> ${xf.ViewLanguage("Eventsummary","Event summary")}</h5>
		  <div class="summary">{{html Summary}} </div>
		</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("Displaycontent3",true)})	
	{{if ContentText}}
		<div class="fcp-details">
		  <h5><span class="fa fa-align-justify"></span> ${xf.ViewLanguage("Eventdetails","Event details")}</h5>
		  <div class="content">{{html ContentText}}</div>
		</div>
	{{/if}}
	#end
	<div class="fcp-details-info">
	<ul>
	  #if(${xf.ViewSkinSetting("DisplayDate3",true)})	
	  <li>
		<h5><span class="fa fa-clock-o"></span> ${xf.ViewLanguage("Time","Time")}</h5>
		<div>${StartFormat} - ${EndFormat}</div>
		#if(${xf.ViewSkinSetting("DisplayTimeZone3",true)})	
		<div class="clear"></div>
		<div class="TimeZone">${TimeZone}</div>
		#end

	  </li>
	  #end
	  #if(${xf.ViewSkinSetting("Displaylocation3",true)})	
	  {{if Location}}
	  <li>
		<h5><span class="fa fa-map-marker"></span> ${xf.ViewLanguage("Location","Location")}</h5>
		<p>${Location}</p>
	  </li>
	  {{/if}}
	  #end
	</ul>
	</div>
	<div class="fcp-details-info">
	<ul>
	  #if(${xf.ViewSkinSetting("Displaycategorie3",true)})	
	  {{if CategorieLinks}}
	  <li>
		<h5><span class="fa fa-sitemap"></span> ${xf.ViewLanguage("Category","Category")}</h5>
		<p>{{html CategorieLinks}}</p>
	  </li>
	  {{/if}}
	  #end
	  #if(${xf.ViewSkinSetting("Displaytag3",true)})
	  {{if LinkTags}}	
	  <li>
		<h5><span class="fa fa-tag"></span> ${xf.ViewLanguage("Tags","Tags")}</h5>
		<p>{{html LinkTags}}</p>
	  </li>
	  {{/if}}
	  #end
	</ul>
	</div>
	
	#if(${xf.ViewSkinSetting("DisplayMap3",true)})	
	{{if Location}}
		<div class="fcp-gmap fcp-gmap-${ID}"> </div>
	{{/if}}
	#end
</script> 
<script class="fcp-Template-GmapTitleInfo" type="text/x-jquery-tmpl"> 
  <div class="GmapAddressInfo">
  	#if(${xf.ViewSkinSetting("DGAtitle",true)})	
 	{{if Title}}
  	<h4>${Title}</h4>
	{{/if}}	
	#end
  	#if(${xf.ViewSkinSetting("DGApicture",true)})	
 	{{if Picture}}
	<div class="mapimg"><img src="${Picture}" title="${MarkerText}" /></div>
	{{/if}}	
	#end
  	#if(${xf.ViewSkinSetting("DGaddress",true)})	
	<div class="mapAddress">${Location}</div>
	#end
	
  </div>
</script>
  <script class="fcp-Template-GmapInfo" type="text/x-jquery-tmpl"> 
  <div class="GmapInfoBox">
  
	#if(${xf.ViewSkinSetting("DGtime",true)})	
	<div class="Timebox">
	<div class="dateTime">
	{{if StartFormat}}
		<span class="startdate"> ${StartFormat} </span>
	{{/if}}
	</div>
	<div class="clear"></div>
	#if(${xf.ViewSkinSetting("DGTimeZone",false)})	
	<div class="TimeZone">${TimeZone}</div>
	#end
	</div>
	#end
	<div class="clear"></div>

	#if(${xf.ViewSkinSetting("DGtitle",true)})	
	{{if title}}
		<h3 class="title"><a href="${EventUrl}">${title}</a></h3>
	{{/if}}
	#end
	
	#if(${xf.ViewSkinSetting("DGcategorie",false)})
	{{if CategorieLinks}}
	<div class="Categorie"><span>Category:</span>{{html CategorieLinks}}</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DGtag",false)})
	{{if LinkTags}}
	<div class="Tag"><span>Tags:</span>{{html LinkTags}}</div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DGsummary",false)})	
	{{if Summary}}
		<div class="summary">{{html Summary}} </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DGimage",false)})	
	{{if Picture > 0 }}
	<div class="PictureUrl"><img src="${PictureUrl}" title="${title}" /> </div>
	{{/if}}
	#end
	#if(${xf.ViewSkinSetting("DGcontent",false)})	
	{{if ContentText}}
		<div class="contenttext">{{html ContentText}} </div>
	{{/if}}
	#end
 </div>
</script> 
</div>




<script src="${xf.EffectPath}js/lang/${xf.ViewSkinSetting("Language","en")}.js" type="text/javascript" ></script>
<script type="text/javascript">
if(mapapikey){
	mapapikey = mapapikey==""?"${xf.ViewSetting("General.APIKey","")}":mapapikey;
}else{
	var mapapikey = "${xf.ViewSetting("General.APIKey","")}";
}

 
 

var jsViewLanguage={
		More:"${xf.ViewLanguage("More","MORE")}",
		Fullscreen:"${xf.ViewLanguage("Fullscreen","Fullscreen")}",
		ExitFullscreen:"${xf.ViewLanguage("ExitFullscreen","Exit Fullscreen")}",
		NoEvents:"${xf.ViewLanguage("NoEvents","No upcoming events in this date range.")}",
		Language:"${xf.ViewSkinSetting("Language","en")}"
	}
	
jQuery(document).ready(function($) {

		if (typeof mapcallback == 'function') { 
		var Ev_Map${ModuleID} = mapcallback;
			mapcallback = function(){
				Ev_Map${ModuleID}();				
			}
		}else{
			mapcallback = function(){}
		}
		
		


		
			var main = $("#calendar${ModuleID}"),
			 viewBox = main.children(".calendar-view"),
				tool = main.children(".fcp-tooltip"),
		   toolClose = tool.children(".fc-close-tooltip"),
			toolMain = tool.children(".fcp-main"),
	 tooltipTemplate = main.children(".fcp-Template-tooltip"),
	timelineTemplate = main.children(".fcp-Template-timeline"),
   accordionTemplate = main.children(".fcp-Template-accordion"),
accordionContentTemplate = main.children(".fcp-Template-accordion-content"),
	GmapInfoTemplate = main.children(".fcp-Template-GmapInfo"),
  ExtensionsTemplate = main.children(".fcp-Template-Extensions");
	GmapDefault${ModuleID}={
				gmapZoom:${xf.ViewSkinSetting("gmapZoom","4")},
		 gmapscrollwheel:${xf.ViewSkinSetting("gmapscrollwheel","false")}
	}
	accordionDefault${ModuleID}={
				Display:${xf.ViewSkinSetting("ScreenNumber3","10")},
				LoadDisplay:${xf.ViewSkinSetting("LoadDisplay3","10")},
				loadeddata:"${xf.ViewSkinSetting("loadeddata3","On Click")}",
				ScrollMaxPage:${xf.ViewSkinSetting("ScrollMaxPage3","3")},
				gmapZoom:${xf.ViewSkinSetting("AccgmapZoom","14")},
		 gmapscrollwheel:${xf.ViewSkinSetting("Accgmapswheel","false")}
	}
	timelineDefault${ModuleID}={
				Display:${xf.ViewSkinSetting("ScreenNumber2","10")},
				loadeddata:"${xf.ViewSkinSetting("loadeddata2","On Click")}",
				ScrollMaxPage:${xf.ViewSkinSetting("ScrollMaxPage2","3")},
				LoadDisplay:${xf.ViewSkinSetting("LoadDisplay2","10")},
	}
	
	if("${xf.ViewSkinSetting("defaultView","month")}"=="month"){
		if ($(window).width() < 768){
			var defaultView="EventMobileMonth";
		}else{
			var defaultView="month";
		}
	}else{
		var defaultView="${xf.ViewSkinSetting("defaultView","month")}";
	}
	
	if(main.data("archive")){
		var Archive=main.data("archive").split("-");
			defaultDate =  Archive[0]+"-"+Archive[1]+"-01"
	}else{
		var defaultDate = #if(${xf.ViewSkinSetting("DisplayToday",true)})new Date() #else '${xf.ConvertDate(${xf.ViewSkinSetting("defaultDate","11/25/2015")},"yyyy-MM-dd")}' #end
	}		
	
	var HtmlUtil = {
    htmlEncode:function (html){
        var temp = document.createElement ("div");
        (temp.textContent != undefined ) ? (temp.textContent = html) : (temp.innerText = html);
        var output = temp.innerHTML;
        temp = null;
        return output;
    },
    htmlDecode:function (text){
        var temp = document.createElement("div");
        temp.innerHTML = text;
        var output = temp.innerText || temp.textContent;
        temp = null;
        return output;
    }
};
	
	viewBox.fullCalendar({
		events:function(start, end, timezone, callback) {
		main.addClass("fc-loading");
		start = new Date(start)
		end = new Date(end)
		//main.data("starttime",start.format("${DateTimeFormat.ShortDatePattern}"));   
		    //main.data("endtime",end.format("${DateTimeFormat.ShortDatePattern}"));
		main.data("starttime",start.format("yyyy-MM-ddTHH:mm:ss"));   
		main.data("endtime",end.format("yyyy-MM-ddTHH:mm:ss"));

		main.xEvent_PostService({
			callback: function (Items, Pages, isEnd) {
			
				jQuery.each(Items, function (i, item) {
					var ST = new Date(item.StartTimeUS),
						ET = new Date(item.EndTimeUS);
								
						item["title"] = item.Title;
						item["color"] = item.Color;
						item["endday"]=ET.format("dd");
						item["endmonth"]=ET.format("MMM");
						item["day"]=ST.format("dd");
						item["month"]=ST.format("MMM");
					    item["ContentText"]=HtmlUtil.htmlDecode(item["ContentText"]);
						item["start"] = ST.format("yyyy-MM-ddTHH:mm:ss");
						item["end"] = ET.format("yyyy-MM-ddTHH:mm:ss");

						if(item.Rule.AllDay == 1 ){
						   var AllDay =new Date(ET);
						   	   AllDay.setTime(AllDay.getTime() + 1000);
							   item["end"] = AllDay.format("yyyy-MM-ddTHH:mm:ss");  
						}

						if(item.Rule.AllDay == 1 ){
							item["StartFormat"] =moment(ST).locale(jsViewLanguage.Language).format("${xf.ViewSkinSetting("AllDaydate","DD MMM, YYYY")}");
							item["EndFormat"] = moment(ET).locale(jsViewLanguage.Language).format("${xf.ViewSkinSetting("AllDaydate","DD MMM, YYYY")}");
						//	ET.setSeconds(60)
							item["allDay"] =true;
						}else{
							item["StartFormat"] =moment(ST).locale(jsViewLanguage.Language).format("${xf.ViewSkinSetting("momentformat","DD MMM, YYYY HH:mm")}");
							item["EndFormat"] = moment(ET).locale(jsViewLanguage.Language).format("${xf.ViewSkinSetting("momentformat","DD MMM, YYYY HH:mm")}");
						}

						#if(${xf.ViewSkinSetting("popup","clickpop")}=="none")
						item["url"] = item.EventUrl;
						#end
						#if(${xf.ViewSkinSetting("displayregico",false)})							
						if( ST >= new Date("${DateTimeNow.ToString("yyyy-MM-ddTHH:mm:ss")}") ){
						 item["history"]=false;
						}else{
						 item["history"]=true;
						}
						#end
						#if(!${xf.ViewSkinSetting("Displayexpired",true)})
						if( ST < new Date("${DateTimeNow.ToString("yyyy-MM-ddTHH:mm:ss")}") ){
						 delete Items[i]
						}
						#end
				});
				
				
				function replaceEmptyItem(arr){
						for(var i=0,len=arr.length;i<len;i++){
								if(!arr[i]|| arr[i]==''){
										arr.splice(i,1);
										len--;
										i--;
								}
						}
				} 

				replaceEmptyItem(Items);
				
				
				
				callback(Items);
				main.removeClass("fc-loading");
			}
			})
		},
		header: {
			left: '${xf.ViewSkinSetting("DisplayLeftButton","prevYear,prev,next,nextYear,today")}',
			center: 'title',
			right: 'EventMobileMonth,${xf.ViewSkinSetting("DisplayView","month,agendaWeek,agendaDay,EventLine,EventGmap,EventAccordion")}'
		},
		views: {
			EventLine: {
				type: 'timeLine',
				duration: { ${xf.ViewSkinSetting("TimelDuration","months")}: 1 }, 
				buttonText: '${xf.ViewSkinSetting("buttonName2","timeLine")}'
			},
			EventGmap:{
				type: 'GMap',
				duration: { ${xf.ViewSkinSetting("gmapDuration","months")}: 1 }, 
				buttonText: '${xf.ViewSkinSetting("buttonName","Map")}'
			},
			EventAccordion:{
				type: 'EAccordion',
				duration: { ${xf.ViewSkinSetting("AccDuration","months")}: 1 }, 
				buttonText: '${xf.ViewSkinSetting("buttonName3","Accordion Event")}'
			},
			EventMobileMonth:{
				type: 'MobileMonth',
				duration: { months: 1 }, 
				buttonText: 'Month'
			}
		},
		allDayText:"${xf.ViewLanguage("AllDay","All-day")}",
		scrollTime:"00:00:00",
		nextDayThreshold:"00:00:00",
		handleWindowResize: true,
		defaultDate:defaultDate,
		defaultView:defaultView,
		editable: false,
		eventLimit: true, // allow "more" link when too many events
		//allDaySlot:false,
		#if(${xf.ViewSkinSetting("popup","clickpop")}=="clickpop")
		eventClick: function(calEvent, jsEvent, view) { eventClickTooltip(calEvent, jsEvent, view ,main,viewBox ,tool,toolClose,toolMain,tooltipTemplate)},
		#end
		#if(${xf.ViewSkinSetting("popup","clickpop")}=="mousepop")
		eventMouseover: function(calEvent, jsEvent, view) { eventClickTooltip(calEvent, jsEvent, view ,main,viewBox ,tool,toolClose,toolMain,tooltipTemplate)},
		#end
		windowResize: function(view) { moviesResize(view,viewBox ,main,viewBox ,tool,toolClose,toolMain)},
		eventAfterAllRender: function(view) { moviesResize(view,viewBox ,main,viewBox ,tool,toolClose,toolMain)},
		viewRender: function() {
		
			main.find(".fc-view-container").css({"opacity":"0"}).stop().animate({"opacity":"1"},500);
		},
		timeFormat: '${xf.ViewSkinSetting("timeformat2","HH:mm")}',
		viewDestroy:function() {
		},
		
		
	});
	tool.prependTo("body");
	toolClose.on("click",function(){
		$(this).parent().fadeOut()
	})
	main.find(".page_meta").insertAfter(main.find(".fc-toolbar"))
	
	main.find(".fc-toolbar button").on("click",function(){
		main.find("#fcp-tooltip").hide();
	})

	jQuery(document).click(function(e) {
		if(!($(e.target).closest(".fc-event-container,.fcp_Gmap,.fcp-event-title").length != 0 || jQuery.contains(tool[0], e.target))) {
			tool.hide();
			$(".fcp-gmapinfo").hide();
		}
	});
	$(document).on("keyup",function(e){
		var key =  e.which;
		if(key == 27){
			var fcpGmap=main.find('.fcp_Gmap')
			var gmapBox = fcpGmap.find('.GmapBox')
			fcpGmap.removeClass("active");
			fcpGmap.children(".gmap_full").html(jsViewLanguage.Fullscreen).removeClass("active");
			gmapBox.gmap3({trigger:"resize"})
		}
	})	
});

</script>
<style type="text/css">
#if(!${xf.ViewSkinSetting("DisplayDay2",true)})	
#calendar${ModuleID} .fcp-line-header{
	display:none;
}
#end
</style>
