.Theme_08_Default {
	margin:0;
	padding:0;
	list-style:none;
}
.Theme_08_Default li {
	float:left;
	list-style:none;
	position:relative;
	z-index:1;
}
.Theme_08_Default li img{
	max-width:100%;
	vertical-align:middle;
}
.Theme_08_Default .clear{
	clear:both;
	width:100%;
	height:0;
	overflow:hidden;
	float:none;
	
}

.pro-img-list.numbercolumns-1  li{ width:100.000% }
.pro-img-list.numbercolumns-2  li{ width:50.0000% }
.pro-img-list.numbercolumns-3  li{ width:33.3333% }
.pro-img-list.numbercolumns-4  li{ width:25.0000% }
.pro-img-list.numbercolumns-5  li{ width:20.0000% }
.pro-img-list.numbercolumns-6  li{ width:16.6666% }
.pro-img-list.numbercolumns-7  li{ width:14.2857% }
.pro-img-list.numbercolumns-8  li{ width:12.5000% }
.pro-img-list.numbercolumns-9  li{ width:11.1111% }
.pro-img-list.numbercolumns-10 li{ width:10.0000% }
.pro-img-list.numbercolumns-11 li{ width:9.09090% }
.pro-img-list.numbercolumns-12 li{ width:8.33333% }
.pro-img-list.numbercolumns-13 li{ width:7.69230% }
.pro-img-list.numbercolumns-14 li{ width:7.14285% }
.pro-img-list.numbercolumns-15 li{ width:6.66666% }
.pro-img-list.numbercolumns-16 li{ width:6.25000% }
.pro-img-list.numbercolumns-17 li{ width:5.88235% }
.pro-img-list.numbercolumns-18 li{ width:5.55555% }
.pro-img-list.numbercolumns-19 li{ width:5.26315% }
.pro-img-list.numbercolumns-20 li{ width:5.00000% }

@media only screen and (min-width: 1200px) {
	.pro-img-list.numberLarge-1  li{ width:100.000% }
	.pro-img-list.numberLarge-2  li{ width:50.0000% }
	.pro-img-list.numberLarge-3  li{ width:33.3333% }
	.pro-img-list.numberLarge-4  li{ width:25.0000% }
	.pro-img-list.numberLarge-5  li{ width:20.0000% }
	.pro-img-list.numberLarge-6  li{ width:16.6666% }
	.pro-img-list.numberLarge-7  li{ width:14.2857% }
	.pro-img-list.numberLarge-8  li{ width:12.5000% }
	.pro-img-list.numberLarge-9  li{ width:11.1111% }
	.pro-img-list.numberLarge-10 li{ width:10.0000% }
	.pro-img-list.numberLarge-11 li{ width:9.09090% }
	.pro-img-list.numberLarge-12 li{ width:8.33333% }
	.pro-img-list.numberLarge-13 li{ width:7.69230% }
	.pro-img-list.numberLarge-14 li{ width:7.14285% }
	.pro-img-list.numberLarge-15 li{ width:6.66666% }
	.pro-img-list.numberLarge-16 li{ width:6.25000% }
	.pro-img-list.numberLarge-17 li{ width:5.88235% }
	.pro-img-list.numberLarge-18 li{ width:5.55555% }
	.pro-img-list.numberLarge-19 li{ width:5.26315% }
	.pro-img-list.numberLarge-20 li{ width:5.00000% }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.pro-img-list.numbertablet-1  li{ width:100.000% }
	.pro-img-list.numbertablet-2  li{ width:50.0000% }
	.pro-img-list.numbertablet-3  li{ width:33.3333% }
	.pro-img-list.numbertablet-4  li{ width:25.0000% }
	.pro-img-list.numbertablet-5  li{ width:20.0000% }
	.pro-img-list.numbertablet-6  li{ width:16.6666% }
	.pro-img-list.numbertablet-7  li{ width:14.2857% }
	.pro-img-list.numbertablet-8  li{ width:12.5000% }
	.pro-img-list.numbertablet-9  li{ width:11.1111% }
	.pro-img-list.numbertablet-10 li{ width:10.0000% }
	.pro-img-list.numbertablet-11 li{ width:9.09090% }
	.pro-img-list.numbertablet-12 li{ width:8.33333% }
	.pro-img-list.numbertablet-13 li{ width:7.69230% }
	.pro-img-list.numbertablet-14 li{ width:7.14285% }
	.pro-img-list.numbertablet-15 li{ width:6.66666% }
	.pro-img-list.numbertablet-16 li{ width:6.25000% }
	.pro-img-list.numbertablet-17 li{ width:5.88235% }
	.pro-img-list.numbertablet-18 li{ width:5.55555% }
	.pro-img-list.numbertablet-19 li{ width:5.26315% }
	.pro-img-list.numbertablet-20 li{ width:5.00000% }
}
@media only screen and (max-width: 767px) {
	.pro-img-list.numberphone-1  li{ width:100.000% }
	.pro-img-list.numberphone-2  li{ width:50.0000% }
	.pro-img-list.numberphone-3  li{ width:33.3333% }
	.pro-img-list.numberphone-4  li{ width:25.0000% }
	.pro-img-list.numberphone-5  li{ width:20.0000% }
	.pro-img-list.numberphone-6  li{ width:16.6666% }
	.pro-img-list.numberphone-7  li{ width:14.2857% }
	.pro-img-list.numberphone-8  li{ width:12.5000% }
	.pro-img-list.numberphone-9  li{ width:11.1111% }
	.pro-img-list.numberphone-10 li{ width:10.0000% }
	.pro-img-list.numberphone-11 li{ width:9.09090% }
	.pro-img-list.numberphone-12 li{ width:8.33333% }
	.pro-img-list.numberphone-13 li{ width:7.69230% }
	.pro-img-list.numberphone-14 li{ width:7.14285% }
	.pro-img-list.numberphone-15 li{ width:6.66666% }
	.pro-img-list.numberphone-16 li{ width:6.25000% }
	.pro-img-list.numberphone-17 li{ width:5.88235% }
	.pro-img-list.numberphone-18 li{ width:5.55555% }
	.pro-img-list.numberphone-19 li{ width:5.26315% }
	.pro-img-list.numberphone-20 li{ width:5.00000% }
}
/*RankingList_Default*/
.Theme_08_Default.pro-img-pager .pager{
	margin-bottom:5px;
	white-space:normal;
}
.Theme_08_Default.pro-img-pager .pager .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px;
	text-decoration:none;
	margin-left:5px;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	margin-bottom:5px;
}
*+html .Theme_08_Default.pro-img-pager .pager .button{
	display:inline;
}
* html .Theme_08_Default.pro-img-pager .pager .button{
	display:inline;
}
.Theme_08_Default.pro-img-pager .pager .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.Theme_08_Default.pro-img-pager .pager .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .Theme_08_Default.pro-img-pager .pager .disabled{
	display:inline;
}
* html .Theme_08_Default.pro-img-pager .pager .disabled{
	display:inline;
}
.Theme_08_Default.pro-img-pager {
	clear:both;
}