#parse( "component/template.page.global.css" )





#dnn_content{
    padding-top:0!important;
    padding-bottom: 0!important;
}






/* Style */


.anchor-dots{
    position: fixed;
    z-index: 100;
    left: 17px;
    opacity: 1;
    margin: 0!important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.anchor-dots.right{
    left: auto;
    right: 17px;
}

.anchor-dots,
.anchor-dots ul {
  margin: 0;
  padding: 0;
}
.anchor-dots li {
    display: block;
    width: 24px;
	height: 24px;
	margin: 24px 7px;
	position:relative;
}

.anchor-dots li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
.anchor-dots span{
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	border: none !important;
	background:#FFF !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
    z-index: 1;
    text-indent: -100px;
    overflow: hidden;
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.2) ;               /* For Firefox3.6+ */
	-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.2);            /* For Chrome5+, Safari5+ */
	box-shadow:1px 1px 10px rgba(0,0,0,0.2);                    /* For Latest Opera */
	transition: 		background-color ease-in 200ms;
	-moz-transition: 	background-color ease-in 200ms; /* Firefox 4 */
	-webkit-transition:     background-color ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		background-color ease-in 200ms; /* Opera */
	-ms-transition: 	background-color ease-in 200ms; /* IE9? */
}
.anchor-dots li.current span,
.anchor-dots li .current span{
	background:${xf.ViewGlobalSetting("AccentColour","#20a3f0")} !important;
	border:2px solid #ffffff !important;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
}


.anchor-dots div{
    background-color: rgba(0,0,0,0.7);
    padding: 0 13px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    color: #fff;
	-webkit-transition: all ease-in 300ms;
	transition: 		all ease-in 300ms;
 
}
.anchor-dots div:empty{
    display: none!important;
}
.anchor-dots.left div{
    left: 100%;
    right: auto;
    margin-left: 10px;
    margin-right: 0;
}
.anchor-dots div::after{
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform:translate(0,-50%);
    transform: translate(0,-50%);
    height: 0px;
    width: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.anchor-dots.right div::after{
    left: 100%;
    border-left: 3px solid rgba(0,0,0,0.7);
}
.anchor-dots.left div::after{
    right: 100%;
    border-right: 3px solid rgba(0,0,0,0.7);
}

.anchor-dots  li a:hover + div{
    visibility: visible;
    opacity: 1;
}

#if(${xf.ViewPageSetting("NavigationStyle","style01")} =="style01")

.anchor-dots.style01 li.active span,
.anchor-dots.style01 li .active span{
	background:${xf.ViewGlobalSetting("AccentColour","#20a3f0")} !important;
}
 
#elseif(${xf.ViewPageSetting("NavigationStyle","style01")} =="style02")

/* Style 02 */
.anchor-dots.style02 li{
    margin: 18px 7px;
}
.anchor-dots.style02 .current span{
    border:0 !important;
    -webkit-transform: scale(1.33333333333) translate3d(0,0,0) rotate(45deg);
    transform: scale(1.33333333333) translate3d(0,0,0) rotate(45deg);; 
}
.anchor-dots.style02 span{
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) rotate(45deg);
    transform: translate3d(0,0,0) rotate(45deg);
    box-shadow: none;
    outline: none;
    background-color: rgba(0,0,0,0.85) !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.anchor-dots.style02 li.active span,
.anchor-dots.style02 li .active span,
.anchor-dots.style02 li.active span::after,
.anchor-dots.style02 li .active span::after{
	border-color:${xf.ViewGlobalSetting("AccentColour","#20a3f0")} !important;
}
#elseif(${xf.ViewPageSetting("NavigationStyle","style01")} =="style03")

/* Style 03 */
.anchor-dots.style03 li::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 25px;
    width: 1px;
    height: 19px;
    background-color: #FFF;
    margin-left: -1px;
}
.anchor-dots.style03 li:nth-last-child(1)::after,
.anchor-dots.style03 li.end-item::after{
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color:transparent;
}
.anchor-dots.style03 a::before{
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 19px;
    height: 19px;
    border: 1px solid #FFF;
    border-radius: 50%;
    transition: all ease-in 300ms;
    opacity: 0;
}
.anchor-dots.style03 .current a::before{
    opacity: 1;

}
.anchor-dots.style03 .current span {
    border:0 !important;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);   
}
.anchor-dots.style03 span{
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
}
.anchor-dots.style03 span{
    background-color: #FFF !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.anchor-dots.style03 li.active span,
.anchor-dots.style03 li .active span{
	background:#FFF !important;
}
.section-transparent .is-section{
    background-color: transparent!important;
}
.anchor-dots.style03 li.current span,
.anchor-dots.style03 li .current span{
	background:#FFF !important;
	border:2px solid #ffffff !important;
}

.anchor-dots.style03 .anchor-tooltip{
background-color: transparent;
padding-right: 0;
}

.anchor-dots.style03 .anchor-tooltip::after{
    content: none !important;
}

#end











