﻿
<ul class="flip-list numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} numberLarge-${xf.ViewXmlSetting("numbercolumnsLarge",5)} numbertablet-${xf.ViewXmlSetting("numbercolumnstablet",3)} numberphone-${xf.ViewXmlSetting("numbercolumnsphone",1)} $ThemeName" id="flip-list${ModuleID}">
  #if($SliderList.Count > 0) 
  #foreach($SliderItem in $SliderList)
  <li> 
    <div class="flip_box flip_box_1 ${xf.ViewSliderSetting($SliderItem,"flipsytle","flip_left")}">
      <div class="rotate">
        <div class="front">
        #if(${xf.ViewXmlSetting("FrontDisplayTitle",true)})  <h3>${xf.ViewSliderSetting($SliderItem,"Title","")}</h3> #end
        #if(${xf.ViewXmlSetting("FrontDisplayContent",true)})${xf.ViewSliderSetting($SliderItem,"Frontcontent","")}#end
        </div>
        <div class="back">
         #if(${xf.ViewXmlSetting("BackDisplayTitle",true)}) <h3>${xf.ViewSliderSetting($SliderItem,"BackTitle","")}</h3>#end
         #if(${xf.ViewXmlSetting("BackDisplayContent",true)}) ${xf.ViewSliderSetting($SliderItem,"backcontent","")}#end
      </div>
    </div>
  </li>
  #end
  #end
</ul>
<div class="flip-pager $ThemeName">
${Pager}
</div>
<style type="text/css">
#flip-list${ModuleID}{
	margin:0 0 0 -${xf.ViewXmlSetting("Itemspacing",3)}px;
}
#flip-list${ModuleID} .flip_box{
	margin:0 0 ${xf.ViewXmlSetting("Itemspacing",3)}px ${xf.ViewXmlSetting("Itemspacing",3)}px ;
}
#flip-list${ModuleID}.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} li:nth-child(${xf.ViewXmlSetting("numbercolumns",4)}n+1) {
	clear:left;
}	
#flip-list${ModuleID} .front {
	background-color:${xf.ViewXmlSetting("FrontbackgroundColor","#FFFFFF")};
	color:${xf.ViewXmlSetting("FrontContentColor","#999999")};
	border-color:${xf.ViewXmlSetting("FrontBorderColor","#e2e2e2")};
}
#flip-list${ModuleID} .front h3{
	color:${xf.ViewXmlSetting("FrontTitleColor","#666666")};
}
#flip-list${ModuleID} .back {
	background-color:${xf.ViewXmlSetting("BackbackgroundColor","#FFFFFF")};
	color:${xf.ViewXmlSetting("BackContentColor","#999999")};
	border-color:${xf.ViewXmlSetting("BackBorderColor","#e2e2e2")};
}
#flip-list${ModuleID} .back h3{
	color:${xf.ViewXmlSetting("BackTitleColor","#666666")};
}
#flip-list${ModuleID} .flip_box_1 .front{
	padding:${xf.ViewXmlSetting("Frontpadding","25")}px;
} 
#flip-list${ModuleID} .flip_box_1 .back{
	padding:${xf.ViewXmlSetting("Backpadding","25")}px;
} 


@media only screen and (min-width: 1200px) {
	#flip-list${ModuleID}.flip-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} li{
		clear:none;
	}
	#flip-list${ModuleID}.numberLarge-${xf.ViewXmlSetting("numbercolumnsLarge",5)} li:nth-child(${xf.ViewXmlSetting("numbercolumnsLarge",5)}n+1) {
		clear:left;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#flip-list${ModuleID}.flip-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} li{
		clear:none;
	}
	#flip-list${ModuleID}.numbertablet-${xf.ViewXmlSetting("numbercolumnstablet",3)} li:nth-child(${xf.ViewXmlSetting("numbercolumnstablet",3)}n+1) {
		clear:left;
	}	
}
@media only screen and (max-width: 767px) {
	#flip-list${ModuleID}.flip-list.numbercolumns-${xf.ViewXmlSetting("numbercolumns",4)} li{
		clear:none;
	}
	#flip-list${ModuleID}.numberphone-${xf.ViewXmlSetting("numbercolumnsphone",1)} li:nth-child(${xf.ViewXmlSetting("numbercolumnsphone",1)}n+1) {
		clear:left;
	}	

}

</style>
