/* Unoslider container */
.Theme_12_Slick {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Slick img{
  max-width: 100%;
}

.Theme_12_Slick li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Slick .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Slick .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Slick .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Slick .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Slick .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Slick .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Slick .unoslider_caption a
{
  text-decoration:underline;
  color:#fff;

}



/* Hand cursor over navigation elements */
.Theme_12_Slick .unoslider_navigation {
  cursor: pointer;
}

/* Tooltip panel */
.Theme_12_Slick .unoslider_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  padding: 5px 0px;
  width: 100%;
  background-color: #333333;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: white;
  text-align: center;
  font-size: 13px;
}

/* play, pause, previous and next elements */
.Theme_12_Slick .unoslider_pause, 
.Theme_12_Slick .unoslider_play, 
.Theme_12_Slick .unoslider_left, 
.Theme_12_Slick .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("slick.png") no-repeat;
}

/* play and pause elements */
.Theme_12_Slick .unoslider_pause, 
.Theme_12_Slick .unoslider_play {
  height: 72px;
  width: 72px;
  margin-top: -36px;
  margin-left: -36px;
  top: 50%;
  left: 50%;
}

/* previous and next elements */
.Theme_12_Slick .unoslider_left, 
.Theme_12_Slick .unoslider_right {
  width: 41px;
  height: 74px;
  margin-top: -37px;
  top: 50%;
}

/* previous */
.Theme_12_Slick .unoslider_left {
  background-position: 0px -151px;
  left: -40px;
}

/* next */
.Theme_12_Slick .unoslider_right {
  background-position: -43px -151px;
  right: -40px;
}

/* pause */
.Theme_12_Slick .unoslider_pause {
  background-position: 0px -74px;
}

/* play */
.Theme_12_Slick .unoslider_play {
  background-position: 0px 0px;
}

/* bullet indicator */
.Theme_12_Slick .unoslider_indicator {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  text-align: center;
}
.Theme_12_Slick .unoslider_indicator a {
  font-size:0px;
  line-height:0px;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  margin: 3px;
  width: 11px;
  height: 11px;
  background-color: black;
  background: url("slick.png") no-repeat;
  background-position: 0 -230px;
}
.Theme_12_Slick .unoslider_indicator a {
  *display: inline;
}
.Theme_12_Slick .unoslider_indicator a.unoslider_indicator_active {
  background-position: -13px -230px;
}
