<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#generalOptions" aria-controls="layout" role="tab" data-toggle="tab">General</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="generalOptions">

    <div class="form-group">
      <label for="firstname" class="control-label">Width (px):</label>
      <div class="control-cont">
        <input type="number" class="dnnOptions form-control" value="${width}" placeholder="px" data-name="width">
      </div>
    </div>

    <div class="form-group">
      <label for="firstname" class="control-label">Logo Source:</label>
      <div class="control-cont">
        <select class="dnnOptions form-control" id="source" data-name="source" data-value="${source}">
          <option value="">None</option>
          <option value="dnn">DNN Logo</option>
          <option value="url2">Custom Logo</option>
        </select>
      </div>
    </div>
    <div class="form-group conditional" data-condition="#source == 'url2'">
      <label for="firstname" class="control-label">Logo URL:</label>
      <div class="control-cont">
        {{tmpl($data,options ={imgid:"url"}) '#tmpl-image'}}
      </div>
    </div>
    <div class="form-group conditional" data-condition="#source == 'url2'">
      <label for="firstname" class="control-label">High-DPI (retina) Logo URL:</label>
      <div class="control-cont">
        {{tmpl($data,options ={imgid:"hdurl"}) '#tmpl-image'}}
      </div>
    </div>
 

    <div class="form-group colorpicker-box">
      <label for="firstname" class="control-label">Shade Background Color:</label>
      <select class="form-control" id="colorselect" data-default="">
        <option value="">Theme Options</option>
        <option value="custom" {{if shade }} selected="selected" {{/if}}>Custom</option>
      </select>
      <div class="colorpicker-group conditional" data-condition="#colorselect == 'custom'">
        <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="shade"
          value="${shade}">
        <i style="background-color:${shade}"></i>
      </div>
    </div>


    <div class="form-group colorpicker-box">
      <label for="firstname" class="control-label">Accent Color:</label>
      <select class="form-control" id="colorselect2" data-default="">
        <option value="">Theme Options</option>
        <option value="custom" {{if acccolor }} selected="selected" {{/if}}>Custom</option>
      </select>
      <div class="colorpicker-group conditional" data-condition="#colorselect2 == 'custom'">

        <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="acccolor"
          value="${acccolor}">
        <i style="background-color:${acccolor}"></i>
      </div>
    </div>



    <div class="form-group">
      <label for="firstname" class="control-label">Footer Text:</label>
      <div class="control-cont">
        <textarea class="dnnOptions form-control base64" data-name="content" rows="5">${$data.content?Base64.decode(content):""}</textarea>
      </div>
    </div>   

    <div class="form-group">
      <label for="firstname" class="control-label">Display Search:</label>
      <div class="control-cont">
        <input type="checkbox" id="headersidenavsearch" class="dnnOptions" data-name="search" ${search}>
      </div>
    </div>
 
<div class="form-group conditional" data-condition="#headersidenavsearch">
  <label for="firstname" class="control-label">Placeholder:</label>
  <div class="control-cont">
    <input type="text" class="dnnOptions form-control" data-name="placeholder" value="${placeholder}" data-default="Enter any key words to search">
  </div>
</div>

    <div class="form-group">
      <label for="firstname" class="control-label">Extra class name:</label>
      <div class="control-cont">
        <input type="text" class="dnnOptions form-control" value="${classname}" data-name="classname">
      </div>
    </div>
    <div class="form-group hide">
      <label for="firstname" class="control-label">ID:</label>
      <div class="control-cont">
        <input type="text" class="dnnOptions form-control randomid" value="${id}" data-name="id">
      </div>
    </div>

  </div>
</div>