<div class="form-group hide">
    <label for="firstname" class="control-label">ID:</label>
    <div class="control-cont">
      <input type="text" class="dnnOptions form-control randomid" value="${id}" data-name="id">
    </div>
  </div>