<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#generalOptions" aria-controls="layout" role="tab" data-toggle="tab">General</a></li>
    {{if ThemeOptions.BootstrapVersion =="v4"}}
    <li role="presentation"><a href="#DesignOptions" aria-controls="pane" role="tab" data-toggle="tab">Background Settings</a></li>
    {{else}}
    <li role="presentation"><a href="#DesignOptions" aria-controls="pane" role="tab" data-toggle="tab">Design Options</a></li>
    {{/if}}
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="generalOptions">
        <div class="form-group">
            <label for="firstname" class="control-label">Item Spacing:</label>
            <div class="control-cont">
                <input type="text" class="dnnOptions form-control validate[custom[number]]" value="${itemspacing}"
                    data-name="itemspacing" />
            </div>
        </div>
        <div class="form-typography-list">
            <div class="form-group">
                <label class="control-label">Typography:</label>
                {{tmpl($data,options ={}) '#tmpl-typography'}}
            </div>
        </div>
        <div class="form-group colorpicker-box">
            <label for="firstname" class="control-label">Item Hover Font Color:</label>
            <select class="form-control" id="colorcustom">
                <option value="">Theme Options</option>
                <option value="custom" {{if hovercolor }} selected="selected" {{/if}}>Custom</option>
            </select>
            <div class="colorpicker-group conditional" data-condition="#colorcustom == 'custom'">

                <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="hovercolor"
                    value="${hovercolor}">
                <i style="background-color:${hovercolor}"></i>
            </div>
        </div>



    </div>
    <div role="tabpanel" class="tab-pane" id="DesignOptions">
        {{tmpl($data,options ={}) '#tmpl-design-options'}}
    </div>
</div>