<div class="form-group hide">
    <label for="firstname" class="control-label">ID:</label>
    <div class="control-cont">
      <input type="text" class="dnnOptions form-control randomid" value="${id}" data-name="id">
    </div>
  </div>
  <div class="form-typography-list">
    <div class="form-group">
        <label class="control-label">Typography:</label>
        {{tmpl($data,options ={}) '#tmpl-typography'}}
    </div>
</div>
<div class="form-group colorpicker-box">
    <label for="firstname" class="control-label">Item Hover Font Color:</label>
    <select class="form-control" id="colorcustom">
        <option value="">Theme Options</option>
        <option value="custom" {{if hovercolor }} selected="selected" {{/if}}>Custom</option>
    </select>
    <div class="colorpicker-group conditional" data-condition="#colorcustom == 'custom'">

        <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="hovercolor"
            value="${hovercolor}">
        <i style="background-color:${hovercolor}"></i>
    </div>
</div>


<div class="form-group">
  <label class="control-label">Active User:</label>
  <div class="control-cont">
    <input type="checkbox" class="dnnOptions" data-name="user" ${user}>
  </div>
</div>

<div class="form-group">
  <label class="control-label">Active Login:</label>
  <div class="control-cont">
    <input type="checkbox" class="dnnOptions" data-name="login" ${login}>
  </div>
</div>