
<div class="form-group">
  <label for="firstname" class="control-label">Header Position:</label>
  <div class="control-cont">
    <select class="dnnOptions form-control" data-name="position" data-value="${position}">
      <option value="">No floating</option>
      <option value="floating">Floating</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="firstname" class="control-label">Sticky Header:</label>
  <div class="control-cont">
    <input type="checkbox" class="dnnOptions" id="sticky" data-name="sticky" ${sticky}>
  </div>
</div>









