<div class="background-group">
    <div class="form-group">
      <label class="control-label">Background:</label>
      {{tmpl($data,options ={}) '#tmpl-background'}}
    </div>
  </div>

  
  <div class="form-typography-list">
    <div class="form-group">
      <label class="control-label">Menu Typography:</label>
      {{tmpl($data,options ={before:"menu"}) '#tmpl-typography'}}
    </div>
  </div>

  

  <div class="form-group">
      <label for="firstname" class="control-label">Text Box:</label>
      <div class="control-cont">
        <textarea class="dnnOptions form-control base64" data-name="content" rows="4">${ $data["content"] ? Base64.decode(content) : ""}</textarea>
      </div>
    </div>

  <div class="form-typography-list">
      <div class="form-group">
        <label class="control-label">Text Box Typography:</label>
        {{tmpl($data,options ={}) '#tmpl-typography'}}
      </div>
    </div>  



  
  <div class="form-group colorpicker-box">
    <label for="firstname" class="control-label">Accent Color:</label>
    <select class="form-control" id="colorcustom2">
      <option value="">Theme Options</option>
      <option value="custom" {{if acolor }} selected="selected" {{/if}}>Custom</option>
    </select>
    <div class="colorpicker-group conditional" data-condition="#colorcustom2 == 'custom'">
  
      <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="acolor" value="${acolor}">
      <i style="background-color:${acolor}"></i>
    </div>
  </div>

  <div class="form-group hide">
      <label for="firstname" class="control-label">ID:</label>
      <div class="control-cont">
        <input type="text" class="dnnOptions form-control randomid" value="${id}" data-name="id">
      </div>
    </div>