<div class="form-group hide">
  <label for="firstname" class="control-label">ID:</label>
  <div class="control-cont">
    <input type="text" class="dnnOptions form-control randomid" value="${id}" data-name="id">
  </div>
</div>




<div class="form-group">
    <label for="firstname" class="control-label">Placeholder:</label>
    <div class="control-cont">
      <input type="text" class="dnnOptions form-control" data-name="placeholder" value="${placeholder}" data-default="Enter any key words to search">
    </div>
  </div>

  <div class="form-group colorpicker-box">
    <label for="firstname" class="control-label">Icon Background Color:</label>
    <select class="form-control" id="colorselect">
      <option value="">Theme Options</option>
      <option value="custom" {{if icolor }} selected="selected" {{/if}}>Custom</option>
    </select>
    <div class="colorpicker-group conditional" data-condition="#colorselect == 'custom'">
      <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="icolor" value="${icolor}">
      <i style="background-color:${icolor}"></i>
    </div>
  </div>
  



<div class="form-group colorpicker-box">
  <label for="firstname" class="control-label">Popup Background Color:</label>
  <select class="form-control" id="colorselect2">
    <option value="">Theme Options</option>
    <option value="custom" {{if acccolor }} selected="selected" {{/if}}>Custom</option>
  </select>
  <div class="colorpicker-group conditional" data-condition="#colorselect2 == 'custom'">
    <input type="text" class="dnnOptions form-control colorpicker" data-color-format="rgba" data-name="acccolor" value="${acccolor}">
    <i style="background-color:${acccolor}"></i>
  </div>
</div>
