<div class="form-group">
  <label for="firstname" class="control-label">Text Box:</label>
  <div class="control-cont">
    <textarea class="dnnOptions form-control base64" data-name="content" rows="15">${$data.content?Base64.decode(content):""}</textarea>
  </div>
</div>