﻿		<div id="article_list${ModuleID}" class="$EffectThemeName">
			<div class="article_list">
               #if( ${xf.ViewEffectSetting("navigationbar",true)})
				<!-- Categories -->
				<div class="nav_category clearfix">
					<a href="javascript:;" lang="Layout" id="column_three" class="list_three "><span class="btn"><i class="icon-th"></i></span></a>
					<a href="javascript:;" lang="Layout" id="column_two" class="list_two"><span class="btn"><i class="icon-th-large"></i></span></a>
					<a href="javascript:;" lang="Layout" id="column_one" class="list_one"><span class="btn"><i class="icon-th-list"></i></span></a>
				</div>
				<!-- Categories -->
	            #end 
               
				<!-- Article List -->			
				<ul class="article_inner column_one" id="article_inner${ModuleID}">
					#if($DataList.Count > 0) 
						#foreach($DataItem in $DataList)
							<li class="article_item clearfix">
							  		 #if($DataItem.AdditionalPicture > 0)
									 <div class="article_photo post_thum" id="article_photo${ModuleID}">
										<a href="${xf.GoUrl($DataItem)}" title="${xf.ViewContent("Summary",$DataItem,200)}"><img src="${xf.ViewPicture($DataItem)}" alt="${xf.ViewContent("Title",$DataItem)}" title="${xf.ViewContent("Title",$DataItem)}" width="${xf.ViewEffectSetting("thumbnail_width",200)}" /></a>
									</div>
                                    #end
									<div class="article_info">
									         
                                            #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                                                <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
                                            #end
                #if(${xf.ViewEffectSetting("DisplayAuthor",true)}||${xf.ViewEffectSetting("DisplayAuthor",true)})
                    <div class="post_date">
                    #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
                        <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a>
                    #end
                    #if(${xf.ViewEffectSetting("Displaydate",true)})
                        #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  
                    #end
                    </div> 
                 #end
                                            #if(${xf.ViewEffectSetting("Displaycategory",true)})
                                                <div class="post_category">${xf.ViewCategories($DataItem)}</div>
                                            #end
                                            #if(${xf.ViewEffectSetting("Displaytags",true)})
                                                <div class="post_tags">${xf.ViewTags($DataItem)}</div>
                                            #end
                                            #if(${xf.ViewEffectSetting("Displaysummary",true)})
                                                <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
                                            #end
                                        
									</div>
								
                                
                                
                                
                                
							</li>
						#end 
					#end
				</ul>
				<!-- Article List -->	
				<div class="article_page">
						 ${Pager}
				</div>
			</div>
		</div>
 
 <script type="text/javascript">
     jQuery(function (q) {
         q("#article_list${ModuleID} a[lang='Layout']").click(function () {
             var $a = q(this);
             q("#article_inner${ModuleID}").stop().animate({ opacity: 0 },${xf.ViewEffectSetting("fadeshow",100)}, function () {
                  q(this).attr("class", "article_inner " + $a.attr("id")).stop().animate({ opacity: 1},${xf.ViewEffectSetting("fadeshow",100)});
                  q.cookie('Layout', $a.attr("id"), { expires: 7, path: '/' });
             });
         });
         q("#article_inner${ModuleID}").attr("class", "article_inner " + (q.cookie('Layout') != null ? q.cookie('Layout') : "${xf.ViewEffectSetting("columnstyle","column_two")}")); 
     });
 
 
 </script>
       


