/* Slider */

.XBD_Effect_03_Default{
	display:none;
}
.XBD_Effect_03_Default.slick-slider{
	display:block;
}



.XBD_Effect_03_Default.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.XBD_Effect_03_Default.slick-slider img {
	max-width:100%; 
}

.XBD_Effect_03_Default .slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.XBD_Effect_03_Default .slick-list:focus {
	outline: none;
}

.XBD_Effect_03_Default .slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.XBD_Effect_03_Default.slick-slider .slick-track,
.XBD_Effect_03_Default.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.XBD_Effect_03_Default .slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.XBD_Effect_03_Default .slick-track:before,
.XBD_Effect_03_Default .slick-track:after {
	display: table;
	content: '';
}

.XBD_Effect_03_Default .slick-track:after {
	clear: both;
}

.XBD_Effect_03_Default .slick-loading .slick-track {
	visibility: hidden;
}

.XBD_Effect_03_Default .slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
}

.XBD_Effect_03_Default [dir='rtl'] .slick-slide {
	float: right;
}

.XBD_Effect_03_Default .slick-slide img {
	display: block;
}

.XBD_Effect_03_Default .slick-slide.slick-loading img {
	display: none;
}

.XBD_Effect_03_Default .slick-slide.dragging img {
	pointer-events: none;
}

.XBD_Effect_03_Default .slick-initialized .slick-slide {
	display: block;
}

.XBD_Effect_03_Default .slick-loading .slick-slide {
	visibility: hidden;
}

.XBD_Effect_03_Default .slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

/* Slider */

.XBD_Effect_03_Default .slick-loading .slick-list {
	background: #fff url('../../../css/ajax-loader.gif') center center no-repeat;
}

/* Arrows */

.XBD_Effect_03_Default .slick-prev,
.XBD_Effect_03_Default .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 30px;
	height: 30px;
	line-height:30px;
	margin-top: -15px;
	padding: 0;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background:#000;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}

.XBD_Effect_03_Default .slick-prev:hover,
.XBD_Effect_03_Default .slick-prev:focus,
.XBD_Effect_03_Default .slick-next:hover,
.XBD_Effect_03_Default .slick-next:focus {
	color: transparent;
	outline: none;
	background:#333;
}

.XBD_Effect_03_Default .slick-prev:hover:before,
.XBD_Effect_03_Default .slick-prev:focus:before,
.XBD_Effect_03_Default .slick-next:hover:before,
.XBD_Effect_03_Default .slick-next:focus:before {
	opacity: 1;
}

.XBD_Effect_03_Default .slick-prev.slick-disabled:before,
.XBD_Effect_03_Default .slick-next.slick-disabled:before {
	opacity: .25;
}

.XBD_Effect_03_Default .slick-prev:before,
.XBD_Effect_03_Default .slick-next:before {
	font-size: 14px;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.XBD_Effect_03_Default .slick-prev {
	left: -20px;
}

.XBD_Effect_03_Default [dir='rtl'] .slick-prev {
	right: -20px;
	left: auto;
}

.XBD_Effect_03_Default .slick-prev:before {
	content: '';
	width:6px;
	height:6px;
	position:absolute;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	top:50%;
	left:50%;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin:-3px 0 0 -1px;
}

.XBD_Effect_03_Default [dir='rtl'] .slick-prev:before {
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	margin:-3px 0 0 -5px;
}

.XBD_Effect_03_Default .slick-next {
	right: -20px;
}

.XBD_Effect_03_Default [dir='rtl'] .slick-next {
	right: auto;
	left: -20px;
}

.XBD_Effect_03_Default .slick-next:before {
	content: '';
	width:6px;
	height:6px;
	position:absolute;
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	top:50%;
	left:50%;
	transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	margin:-3px 0 0 -5px;
}


.XBD_Effect_03_Default [dir='rtl'] .slick-next:before {
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin:-3px 0 0 -1px;
}

/* Dots */

.XBD_Effect_03_Default.slick-slider {
	margin-bottom: 30px;
}

.XBD_Effect_03_Default .slick-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	margin:0;
	list-style: none;
	text-align: center;
}

.XBD_Effect_03_Default .slick-dots li {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.XBD_Effect_03_Default .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 12px;
	height: 12px;
	cursor: pointer;
	color: transparent;
	border: 0;
	padding:0;
	outline: none;
	border:1px solid #000;
	background:transparent;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}


.XBD_Effect_03_Default .slick-dots li button:hover,
.XBD_Effect_03_Default .slick-dots li button:focus,
.XBD_Effect_03_Default .slick-dots li.slick-active button{
	outline: none;
	background:#333;
}
.XBD_Effect_03_Default .slick-center{
	z-index: 1000;
}
.XBD_Effect_03_Default .slick-center:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:1px solid #000;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	opacity:0.5;
}



.XBD_Effect_03_Default .DashBoard-single-item .pic_box{
	position: relative;
	overflow: hidden;
	margin-bottom:10px;
}
.XBD_Effect_03_Default .DashBoard-single-item .pic_box .shade{
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0;
	filter:alpha(opacity=0);
	transition: 		all ease-in 200ms;
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
}
.XBD_Effect_03_Default .DashBoard-single-item .pic_box:hover .shade{
	opacity:0.3;
	filter:alpha(opacity=30);
}

.XBD_Effect_03_Default .DashBoard-single-item .content h3{
	font-size:14px;
	line-height:1.4;
} 
.XBD_Effect_03_Default .DashBoard-single-item .content p{
	margin-bottom:8px;

}
@media only screen and (min-width: 1200px) {
	.XBD_Effect_03_Default .slick-prev {
		left: -35px;
	}
	.XBD_Effect_03_Default .slick-next {
		right: -35px;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-prev {
		right: -35px;
		left: auto;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-next {
		left: -35px;
		right: auto;
	}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.XBD_Effect_03_Default .slick-prev {
		left: -15px;
	}
	.XBD_Effect_03_Default .slick-next {
		right: -15px;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-prev {
		right: -15px;
		left: auto;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-next {
		left: -15px;
		right: auto;
	}

}
@media only screen and (max-width: 767px) {
	.XBD_Effect_03_Default .slick-prev {
		left: -0px;
	}
	.XBD_Effect_03_Default .slick-next {
		right: -0px;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-prev {
		right: -0px;
		left: auto;
	}
	.XBD_Effect_03_Default [dir='rtl'] .slick-next {
		left: -0px;
		right: auto;
	}

}
 
 
.XBD_Effect_03_Default .post_thum {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_title {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_date {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_Author {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_category {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_tags {
	margin-bottom:4px;
}
.XBD_Effect_03_Default .post_summary {
	margin-bottom:4px;
}
