.ChartTooltips {
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	margin-bottom:20px;
}
.ChartTooltips li{
	margin:0;
	padding:0;
	display:inline-block;
	line-height:1;
	font-size:13px;
	padding:0px 10px;
}
.ChartTooltips li span{
	width:14px;
	height:14px;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
}






