﻿<div class="ImageCarousel $ThemeName" id="ImageCarousel${ModuleID}" data-groupid="" data-pageindex="0" data-loaddisplay="999" data-firstscreen="0"  ${xf.AjaxParameters}>

  <div class="ic-group"> 
  #if(${xf.ViewXmlSetting("DisplayAll",true)})
   <a #if(${xf.ViewXmlSetting("DefaultFilter","Groups 01")} == "*") class="active" #end href="javascript:;" title="All" data-value="0">All</a>
  #end 
  #foreach($GroupItem in $GroupList) 
  <a #if(${xf.ViewXmlSetting("DefaultFilter","Groups 01")} == $GroupItem.Name) class="active" #end href="javascript:;" title="$GroupItem.Name" data-value="$GroupItem.Id">
  $GroupItem.Name
  </a>
  #end 
       
       </div>
  <div class="ic-main">
    <ul>
    </ul>
  </div>
</div>
<script id="AjaxSliders${ModuleID}" type="text/x-jquery-tmpl">
	<li class="ic-box template_${Templatetype}">
	<div class="ic-item ic-item1">
		<div class="ic-content">
			<div class="ic-pic">
			{{if Image01LinkType == "None"}}
				<div class="ic-bg" style="background-image:url(${Image01picture})" title="${Title}">
				</div>
			{{else}}
				{{if Image01LinkType == "Link"}}
				<a href="${Image01Link}" target="${Image01LinkTarget}" style="background-image:url(${Image01picture})" title="${Title}">
				<span class="fa fa-chain"></span>
				{{/if}}	
				{{if Image01LinkType == "prolight_image"}}
				<a href="${Image01picture}" class="prolight_image_gallery${ModuleID}" style="background-image:url(${Image01picture})" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
				<span class="fa fa-picture-o"></span>
				{{/if}}		
				{{if Image01LinkType == "prolight_youtube"}}
				<a href="${Image01youtube}" class="prolight_youtube_gallery${ModuleID}" style="background-image:url(${Image01picture})" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
				<span class="fa fa-play"></span>
				{{/if}}	
				{{if Image01LinkType == "prolight_vimeo"}}
				<a href="${Image01vimeo}" class="prolight_vimeo_gallery${ModuleID}" style="background-image:url(${Image01picture})" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
				<span class="fa fa-play"></span>
				{{/if}}	
				{{if Image01LinkType == "prolight_gmaps"}}
				<a href="${Image01gmaps}" class="prolight_gmaps_gallery${ModuleID}" style="background-image:url(${Image01picture})" title="${Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
				<span class="fa fa-map-marker"></span>
				{{/if}}	
				</a>
			{{/if}}	
			</div>
			<div class="ic-con">
			<div class="ic-title">${Title}</div>
			<div class="ic-description">${Image01dpn}</div>
			</div>
		</div>
	</div>
	{{if Templatetype >=2 }}
		<div class="ic-item ic-item2">
			<div class="ic-content">
				<div class="ic-pic">
				{{if Image02LinkType == "None"}}
					<div class="ic-bg" style="background-image:url(${Image02picture})" title="${Image02Title}">
					</div>
				{{else}}
					{{if Image02LinkType == "Link"}}
					<a href="${Image02Link}" target="${Image02LinkTarget}" style="background-image:url(${Image02picture})" title="${Image02Title}">
					<span class="fa fa-chain"></span>
					{{/if}}	
					{{if Image02LinkType == "prolight_image"}}
					<a href="${Image02picture}" class="prolight_image_gallery${ModuleID}" style="background-image:url(${Image02picture})" title="${Image02Title} "  data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-picture-o"></span>
					{{/if}}		
					{{if Image02LinkType == "prolight_youtube"}}
					<a href="${Image02youtube}" class="prolight_youtube_gallery${ModuleID}" style="background-image:url(${Image02picture})" title="${Image02Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image02LinkType == "prolight_vimeo"}}
					<a href="${Image02vimeo}" class="prolight_vimeo_gallery${ModuleID}" style="background-image:url(${Image02picture})" title="${Image02Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image02LinkType == "prolight_gmaps"}}
					<a href="${Image02gmaps}" class="prolight_gmaps_gallery${ModuleID}" style="background-image:url(${Image02picture})" title="${Image02Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-map-marker"></span>
					{{/if}}	
					</a>
				{{/if}}	
				</div>
				<div class="ic-con">
				<div class="ic-title">${Image02Title}</div>
				<div class="ic-description">${Image02dpn}</div>
				</div>
			</div>
		</div>
		{{if Templatetype >=4 }}
		<div class="ic-item ic-item3">
			<div class="ic-content">
				<div class="ic-pic">
				{{if Image03LinkType == "None"}}
					<div class="ic-bg" style="background-image:url(${Image03picture})" title="${Image03Title}">
					</div>
				{{else}}
					{{if Image03LinkType == "Link"}}
					<a href="${Image03Link}" target="${Image03LinkTarget}" style="background-image:url(${Image03picture})" title="${Image03Title}">
					<span class="fa fa-chain"></span>
					{{/if}}	
					{{if Image03LinkType == "prolight_image"}}
					<a href="${Image03picture}" class="prolight_image_gallery${ModuleID}" style="background-image:url(${Image03picture})" title="${Image03Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-picture-o"></span>
					{{/if}}		
					{{if Image03LinkType == "prolight_youtube"}}
					<a href="${Image03youtube}" class="prolight_youtube_gallery${ModuleID}" style="background-image:url(${Image03picture})" title="${Image03Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image03LinkType == "prolight_vimeo"}}
					<a href="${Image03vimeo}" class="prolight_vimeo_gallery${ModuleID}" style="background-image:url(${Image03picture})" title="${Image03Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image03LinkType == "prolight_gmaps"}}
					<a href="${Image03gmaps}" class="prolight_gmaps_gallery${ModuleID}" style="background-image:url(${Image03picture})" title="${Image03Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-map-marker"></span>
					{{/if}}	
					</a>
				{{/if}}	
				</div>
				<div class="ic-con">
				<div class="ic-title">${Image03Title}</div>
				<div class="ic-description">${Image03dpn}</div>
				</div>
			</div>
		</div>
		{{/if}}
		{{if Templatetype >=8 }}
		<div class="ic-item ic-item3">
			<div class="ic-content">
				<div class="ic-pic">
				{{if Image04LinkType == "None"}}
					<div class="ic-bg" style="background-image:url(${Image04picture})" title="${Image04Title}">
					</div>
				{{else}}
					{{if Image04LinkType == "Link"}}
					<a href="${Image04Link}" target="${Image04LinkTarget}" style="background-image:url(${Image04picture})" title="${Image04Title}">
					<span class="fa fa-chain"></span>
					{{/if}}	
					{{if Image04LinkType == "prolight_image"}}
					<a href="${Image04picture}" class="prolight_image_gallery${ModuleID}" style="background-image:url(${Image04picture})" title="${Image04Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-picture-o"></span>
					{{/if}}		
					{{if Image04LinkType == "prolight_youtube"}}
					<a href="${Image04youtube}" class="prolight_youtube_gallery${ModuleID}" style="background-image:url(${Image04picture})" title="${Image04Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image04LinkType == "prolight_vimeo"}}
					<a href="${Image04vimeo}" class="prolight_vimeo_gallery${ModuleID}" style="background-image:url(${Image04picture})" title="${Image04Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-play"></span>
					{{/if}}	
					{{if Image04LinkType == "prolight_gmaps"}}
					<a href="${Image04gmaps}" class="prolight_gmaps_gallery${ModuleID}" style="background-image:url(${Image04picture})" title="${Image04Title}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}">
					<span class="fa fa-map-marker"></span>
					{{/if}}	
					</a>
				{{/if}}	
				</div>
				<div class="ic-con">
				<div class="ic-title">${Image04Title}</div>
				<div class="ic-description">${Image04dpn}</div>
				</div>
			</div>
		</div>
		{{/if}}
	{{/if}}
	</li>
</script>
<style type="text/css">
#ImageCarousel${ModuleID} {
	min-height:${xf.ViewXmlSetting("theightSize",350)}px;
}
#ImageCarousel${ModuleID} .ic-main ul{
	height:${xf.ViewXmlSetting("theightSize",350)}px;
}
#set( $width1 = ( ${xf.ViewXmlSetting("tSizeLarge",425)}*${xf.ViewXmlSetting("theightSize",350)} )/ ${xf.ViewXmlSetting("theigthLarge",425)}) 
#ImageCarousel${ModuleID} .ic-box{
	width:${width1}px;
}
#ImageCarousel${ModuleID} .ic-content {
	top:${xf.ViewXmlSetting("Itemspacing",3)}px;
	right:0px;
	left:${xf.ViewXmlSetting("Itemspacing",3)}px;
	bottom:0;
}
#ImageCarousel${ModuleID} .ic-main ul{
	margin-top:-${xf.ViewXmlSetting("Itemspacing",3)}px;
	margin-left:-${xf.ViewXmlSetting("Itemspacing",3)}px;
}

/**/
@media only screen and (min-width: 1200px) {
	#ImageCarousel${ModuleID} {
		min-height:${xf.ViewXmlSetting("theigthLarge",425)}px;
	}
	#ImageCarousel${ModuleID} .ic-main ul{
		height:${xf.ViewXmlSetting("theigthLarge",425)}px;
	}
	#ImageCarousel${ModuleID} .ic-box{
		width:${xf.ViewXmlSetting("tSizeLarge",425)}px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#set( $width2 = ( ${xf.ViewXmlSetting("tSizeLarge",425)}*${xf.ViewXmlSetting("theighttablet",300)} )/ ${xf.ViewXmlSetting("theigthLarge",425)}) 
	#ImageCarousel${ModuleID} {
		min-height:${xf.ViewXmlSetting("theighttablet",300)}px;
	}
	#ImageCarousel${ModuleID} .ic-main ul{
		height:${xf.ViewXmlSetting("theighttablet",300)}px;
	}
	#ImageCarousel${ModuleID} .ic-box{
		width:${width2}px;
	}
}
@media only screen and (max-width: 767px) {
	#set( $width3 = ( ${xf.ViewXmlSetting("tSizeLarge",425)}*${xf.ViewXmlSetting("theightphone",250)} )/ ${xf.ViewXmlSetting("theigthLarge",425)}) 
	#ImageCarousel${ModuleID} {
		min-height:${xf.ViewXmlSetting("theightphone",250)}px;
	}
	#ImageCarousel${ModuleID} .ic-main ul{
		height:${xf.ViewXmlSetting("theightphone",250)}px;
	}
	#ImageCarousel${ModuleID} .ic-box{
		width:${width3}px;
	}
}
.ImageCarousel .ic-group a,
.ImageCarousel .ic-group a:link{
	color:${xf.ViewXmlSetting("titleColor","#666666")};
}
#ImageCarousel${ModuleID} .ic-group a:hover,
#ImageCarousel${ModuleID} .ic-group a.active {
	color:${xf.ViewXmlSetting("AccentColor","#69b532")};
	border-top-color:${xf.ViewXmlSetting("AccentColor","#69b532")};
}

#ImageCarousel${ModuleID} .ic-main .ic-pic span,
#ImageCarousel${ModuleID} .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{
	background-color:${xf.ViewXmlSetting("AccentColor","#69b532")};
}
#ImageCarousel${ModuleID} .ic-main .ic-title{
	color:${xf.ViewXmlSetting("AccentColor","#69b532")};
}
#ImageCarousel${ModuleID} .ic-main .ic-description{
	color:${xf.ViewXmlSetting("titleColor","#666666")};
}
#if(${xf.ViewXmlSetting("Mousedisplay",false)})

#ImageCarousel${ModuleID} .mCSB_scrollTools{
	opacity:0;
	filter:alpha(opacity=0);
}	
#ImageCarousel${ModuleID}:hover .mCSB_scrollTools{
	opacity:1;
	filter:alpha(opacity=100);
}	

#end
</style>
<script type="text/javascript">
/**/
jQuery(document).ready(function ($) {

var m=$("#ImageCarousel${ModuleID}"),
	l=$("#ImageCarousel${ModuleID} .ic-main ul"),
	once=0,
	lazyload=0,
	container,
	ScrollMaxPage=0,
	stops=true;
	m.data("groupid",m.find(".ic-group .active").data("value")),
	amount=false;
	if(m.find(".ic-group .active").length!=0){
		m.data("groupid",m.find(".ic-group .active").data("value"));
	}else{
		if("${xf.ViewXmlSetting("DefaultFilter","")}"=="Random"){
		    id = Math.ceil(Math.random()*m.find(".ic-group a").length)-1;
			m.find(".ic-group a").eq(id).addClass("active");	
		}
		if("${xf.ViewXmlSetting("DefaultFilter","")}"=="Cookies"){
			if(jQuery.cookie("ImageCarousel${ModuleID}")){
				m.find(".ic-group a[title^=\""+jQuery.cookie("ImageCarousel${ModuleID}")+"\"]").addClass("active");	
			}else{
				m.find(".ic-group a").eq(0).addClass("active");	
				jQuery.cookie("ImageCarousel${ModuleID}",m.find(".ic-group .active").attr("title"))
			}
		}
		m.data("groupid",m.find(".ic-group .active").data("value"));
	}
var LoadAjaxItems${ModuleID} = function () {
	stops=false;
	m.addClass("ic-loading");
	m.GalleryPostService({ 
		callback: function (items,pages,IsEnd) {
			var box = $("<div>");
			jQuery.each(items, function (i, item) {
				box.append(jQuery("#AjaxSliders${ModuleID}").tmpl(item));
			});
			times=0;
			l.html(box.html())
			if(items.length==0){
				l.html("<li class=\"ic-box placeholder\">&nbsp;</li>");
			}
			box.remove();
			m.removeClass("ic-loading");
			stops=true;
			if(!amount){
				scrollBox();
			}else{
			}
			if(IsEnd&&once=="0"){   
				once=1;
				l.removeClass("shadow");
			}
			mfpAnimation();	
			l.find(".ic-box.placeholder").remove();
		}
	});
}
LoadAjaxItems${ModuleID}();
m.find(".ic-group a").on("click",function(){
	if(!$(this).hasClass("active") && stops){
		$(this).addClass("active").siblings().removeClass("active");
		m.data("groupid",$(this).data("value"));
		m.data("pageindex",0);
		once=0;
		LoadAjaxItems${ModuleID}();
		if("${xf.ViewXmlSetting("DefaultFilter","")}"=="Cookies"){
			jQuery.cookie("ImageCarousel${ModuleID}",m.find(".ic-group .active").attr("title"))
		}
	}
})
var scrollBox=function(){
	amount=Math.max.apply(Math,$("#ImageCarousel${ModuleID} .ic-main li").map(function(){return $(this).outerWidth(true);}).get());
	$("#ImageCarousel${ModuleID} .ic-main").mCustomScrollbar({
		axis:"x",
	//	theme:"${xf.ViewXmlSetting("Scrollbartheme","light")}",
		advanced:{
			autoExpandHorizontalScroll:true,
			updateOnSelectorChange :"ul li",
		},
		keyboard:{scrollType:"stepped"},
		snapAmount:amount,
		mouseWheel:{scrollAmount:amount},
		scrollButtons:{ enable: ${xf.ViewXmlSetting("DisplaySBtn","true")},scrollType:"stepped" }
	});
}

})

</script> 
