.Theme_07_Default {
	margin:0;
	padding:0;
	list-style:none;
}
.Theme_07_Default li {
	float:left;
	list-style:none;
}
.Theme_07_Default li img{
	max-width:100%;
	vertical-align:middle;
}
.Theme_07_Default .clear{
	clear:both;
	width:100%;
	height:0;
	overflow:hidden;
	float:none;
	
}

.flip-list.numbercolumns-1  li{ width:100.000% }
.flip-list.numbercolumns-2  li{ width:50.0000% }
.flip-list.numbercolumns-3  li{ width:33.3333% }
.flip-list.numbercolumns-4  li{ width:25.0000% }
.flip-list.numbercolumns-5  li{ width:20.0000% }
.flip-list.numbercolumns-6  li{ width:16.6666% }
.flip-list.numbercolumns-7  li{ width:14.2857% }
.flip-list.numbercolumns-8  li{ width:12.5000% }
.flip-list.numbercolumns-9  li{ width:11.1111% }
.flip-list.numbercolumns-10 li{ width:10.0000% }
.flip-list.numbercolumns-11 li{ width:9.09090% }
.flip-list.numbercolumns-12 li{ width:8.33333% }
.flip-list.numbercolumns-13 li{ width:7.69230% }
.flip-list.numbercolumns-14 li{ width:7.14285% }
.flip-list.numbercolumns-15 li{ width:6.66666% }
.flip-list.numbercolumns-16 li{ width:6.25000% }
.flip-list.numbercolumns-17 li{ width:5.88235% }
.flip-list.numbercolumns-18 li{ width:5.55555% }
.flip-list.numbercolumns-19 li{ width:5.26315% }
.flip-list.numbercolumns-20 li{ width:5.00000% }

@media only screen and (min-width: 1200px) {
	.flip-list.numberLarge-1  li{ width:100.000% }
	.flip-list.numberLarge-2  li{ width:50.0000% }
	.flip-list.numberLarge-3  li{ width:33.3333% }
	.flip-list.numberLarge-4  li{ width:25.0000% }
	.flip-list.numberLarge-5  li{ width:20.0000% }
	.flip-list.numberLarge-6  li{ width:16.6666% }
	.flip-list.numberLarge-7  li{ width:14.2857% }
	.flip-list.numberLarge-8  li{ width:12.5000% }
	.flip-list.numberLarge-9  li{ width:11.1111% }
	.flip-list.numberLarge-10 li{ width:10.0000% }
	.flip-list.numberLarge-11 li{ width:9.09090% }
	.flip-list.numberLarge-12 li{ width:8.33333% }
	.flip-list.numberLarge-13 li{ width:7.69230% }
	.flip-list.numberLarge-14 li{ width:7.14285% }
	.flip-list.numberLarge-15 li{ width:6.66666% }
	.flip-list.numberLarge-16 li{ width:6.25000% }
	.flip-list.numberLarge-17 li{ width:5.88235% }
	.flip-list.numberLarge-18 li{ width:5.55555% }
	.flip-list.numberLarge-19 li{ width:5.26315% }
	.flip-list.numberLarge-20 li{ width:5.00000% }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.flip-list.numbertablet-1  li{ width:100.000% }
	.flip-list.numbertablet-2  li{ width:50.0000% }
	.flip-list.numbertablet-3  li{ width:33.3333% }
	.flip-list.numbertablet-4  li{ width:25.0000% }
	.flip-list.numbertablet-5  li{ width:20.0000% }
	.flip-list.numbertablet-6  li{ width:16.6666% }
	.flip-list.numbertablet-7  li{ width:14.2857% }
	.flip-list.numbertablet-8  li{ width:12.5000% }
	.flip-list.numbertablet-9  li{ width:11.1111% }
	.flip-list.numbertablet-10 li{ width:10.0000% }
	.flip-list.numbertablet-11 li{ width:9.09090% }
	.flip-list.numbertablet-12 li{ width:8.33333% }
	.flip-list.numbertablet-13 li{ width:7.69230% }
	.flip-list.numbertablet-14 li{ width:7.14285% }
	.flip-list.numbertablet-15 li{ width:6.66666% }
	.flip-list.numbertablet-16 li{ width:6.25000% }
	.flip-list.numbertablet-17 li{ width:5.88235% }
	.flip-list.numbertablet-18 li{ width:5.55555% }
	.flip-list.numbertablet-19 li{ width:5.26315% }
	.flip-list.numbertablet-20 li{ width:5.00000% }
}
@media only screen and (max-width: 767px) {
	.flip-list.numberphone-1  li{ width:100.000% }
	.flip-list.numberphone-2  li{ width:50.0000% }
	.flip-list.numberphone-3  li{ width:33.3333% }
	.flip-list.numberphone-4  li{ width:25.0000% }
	.flip-list.numberphone-5  li{ width:20.0000% }
	.flip-list.numberphone-6  li{ width:16.6666% }
	.flip-list.numberphone-7  li{ width:14.2857% }
	.flip-list.numberphone-8  li{ width:12.5000% }
	.flip-list.numberphone-9  li{ width:11.1111% }
	.flip-list.numberphone-10 li{ width:10.0000% }
	.flip-list.numberphone-11 li{ width:9.09090% }
	.flip-list.numberphone-12 li{ width:8.33333% }
	.flip-list.numberphone-13 li{ width:7.69230% }
	.flip-list.numberphone-14 li{ width:7.14285% }
	.flip-list.numberphone-15 li{ width:6.66666% }
	.flip-list.numberphone-16 li{ width:6.25000% }
	.flip-list.numberphone-17 li{ width:5.88235% }
	.flip-list.numberphone-18 li{ width:5.55555% }
	.flip-list.numberphone-19 li{ width:5.26315% }
	.flip-list.numberphone-20 li{ width:5.00000% }
}



/*boxes rotate*/
.Theme_07_Default .flip_box {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	overflow: visible;
	position:relative;
}
.Theme_07_Default .flip_box p{
	margin:8px;
}
.Theme_07_Default .flip_box .front,
.Theme_07_Default .flip_box .back{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 750ms ease 0s;
	-moz-transition: all 750ms ease 0s;
	-o-transition: all 750ms ease 0s;
	-ms-transition: all 750ms ease 0s;
	transition: all 750ms ease 0s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.Theme_07_Default .flip_box .front{
	position:relative;
	z-index:0;
	background-color:#FFF;
	-webkit-transform: rotateY(0deg) ;
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.Theme_07_Default .flip_box .back {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:100%;
	z-index:-2;
	background-color:#FFF;
	-webkit-transform: rotateY(-180deg) ;
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.Theme_07_Default .flip_box:hover{
	z-index:100;
}
.Theme_07_Default .flip_box.flip_right .back{
	-webkit-transform: rotateY(180deg) ;
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.Theme_07_Default .flip_box.flip_top .front{
	-webkit-transform: rotateX(0deg) ;
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.Theme_07_Default .flip_box.flip_top .back{
	-webkit-transform: rotateX(180deg) ;
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.Theme_07_Default .flip_box.flip_bottom .front{
	-webkit-transform: rotateX(0deg) ;
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.Theme_07_Default .flip_box.flip_bottom .back{
	-webkit-transform: rotateX(-180deg) ;
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.Theme_07_Default .flip_box:hover .front{
	background-color:#FFF;
	-webkit-transform: rotateY(180deg) ;
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.Theme_07_Default .flip_box:hover .back {
	z-index:3;
	-webkit-transform: rotateY(0deg) ;
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.Theme_07_Default .flip_box.flip_right:hover .front{
	-webkit-transform: rotateY(-180deg) ;
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.Theme_07_Default .flip_box.flip_top:hover .front{
	-webkit-transform: rotateX(-180deg) ;
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.Theme_07_Default .flip_box.flip_top:hover .back{
	-webkit-transform: rotateX(0deg) ;
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.Theme_07_Default .flip_box.flip_bottom:hover .front{
	-webkit-transform: rotateX(180deg) ;
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.Theme_07_Default .flip_box.flip_bottom:hover .back{
	-webkit-transform: rotateX(0deg) ;
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.Theme_07_Default .flip_box_1 .front,
.Theme_07_Default .flip_box_1 .back{
	border:1px solid #e2e2e2;
	padding:25px;
	text-align:center;
}
.Theme_07_Default .flip_box_1 .front .glyphicons{
	background-color:#69b532;
	border-radius:			50%;
	-moz-border-radius:		50%;
	-webkit-border-radius:	50%;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:26px;
	color:#FFF;
	margin-bottom:20px;
}
.Theme_07_Default .flip_box_1  h3{
	font-size:15px;
	color:#666666;
	margin-bottom:10px;
}
.Theme_07_Default .flip_box_1 .back{
	height:auto;
}
.Theme_07_Default .flip_box_1 .back h3{
	margin:0px 0 15px;
}


/*RankingList_Default*/
.Theme_07_Default.flip-pager .pager{
	margin-bottom:5px;
	white-space:normal;
}
.Theme_07_Default.flip-pager .pager .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px;
	text-decoration:none;
	margin-left:5px;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	margin-bottom:5px;
}
*+html .Theme_07_Default.flip-pager .pager .button{
	display:inline;
}
* html .Theme_07_Default.flip-pager .pager .button{
	display:inline;
}
.Theme_07_Default.flip-pager .pager .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.Theme_07_Default.flip-pager .pager .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .Theme_07_Default.flip-pager .pager .disabled{
	display:inline;
}
* html .Theme_07_Default.flip-pager .pager .disabled{
	display:inline;
}
.Theme_07_Default.flip-pager {
	clear:both;
}