﻿<!-- use jssor.slider.min.js instead for release -->
<!-- jssor.slider.min.js = (jssor.js + jssor.slider.js) -->
<!-- jssor Slider Begin -->
<!-- You can move inline styles to css file or css block. -->

<div id="slider${ModuleID}_container"  class="$EffectThemeName jssorSlider ${xf.ViewEffectSetting("ThumbnailPosition","Bottom")}" style="width:${xf.ViewEffectSetting("sliderWidth","980")}px; height:${xf.ViewEffectSetting("sliderHeight","464")}px "> 
  <div u="loading" class="loading">
    <div class="bg"> </div>
    <div class="ico"> </div>
  </div>
  
  #if( ${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "Bottom" && ${xf.ViewEffectSetting("ThumbnailShow","true")}=="true" || ${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "Top" && ${xf.ViewEffectSetting("ThumbnailShow","true")}=="true") 
  #set( $sliderHeight2 = ${xf.ViewEffectSetting("sliderHeight",464)} - ${xf.ViewEffectSetting("ThumbnailHight",100)}) 
  #else 
  #set( $sliderHeight2 = ${xf.ViewEffectSetting("sliderHeight","464")})
  #end
  <div u="slides" class="slides" style="width:${xf.ViewEffectSetting("sliderWidth","980")}px; height:${sliderHeight2}px ;#if( ${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "Top" && ${xf.ViewEffectSetting("ThumbnailShow","true")}=="true") margin-top:${xf.ViewEffectSetting("ThumbnailHight","100")}px #end;">
      #if($DataList.Count > 0) 
          #foreach($DataItem in $DataList)
              <div class="item" style="width:${xf.ViewEffectSetting("sliderWidth","980")}px; height:${sliderHeight2}px;"> <a href="${xf.GoUrl($DataItem)}">                 
                 <img u="image" src="${xf.ViewPicture($DataItem)}" style="display:none;" alt="${xf.ViewContent("Title",$DataItem)}" title="${xf.ViewContent("Title",$DataItem)}"  />
                <div style="width:100%; height:100%; background:url(${xf.ViewPicture($DataItem)}) no-repeat center center ; background-size:cover" ></div>
                </a>
                #if(${xf.ViewEffectSetting("ContentTitleShow","true")} == "true" || ${xf.ViewEffectSetting("ContentShow","true")} == "true")
                <div u="caption" t="0" class="captionOrange Description ${xf.ViewEffectSetting("ContentpositionX","Xleft")} ${xf.ViewEffectSetting("ContentpositionY","Ytop")}" style="margin:${xf.ViewEffectSetting("ContentSpacingY","0")}px ${xf.ViewEffectSetting("ContentSpacingX","0")}px;">
                    #if( ${xf.ViewEffectSetting("ContentTitleShow","true")} == "true")
                       <h3>${xf.ViewContent("Title",$DataItem)}</h3>
                    #end
                    #if( ${xf.ViewEffectSetting("ContentShow","true")} == "true")
                       <p>${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}</p>
                    #end 
                </div>
                #end
                <div u="thumb"> 
                    #if( ${xf.ViewEffectSetting("ThumbnailImageShow","true")} == "true")
                        <div class="thumbbg" style=" background-image:url(${xf.ViewPicture($DataItem)});"></div>
                    #end
                    <div class="text" > 
                        #if( ${xf.ViewEffectSetting("ThumbnailTitleShow","true")} == "true") 
                              <div class="title" style="color:${xf.ViewEffectSetting("ThumbnailTitleColor","#FFF")}"> ${xf.ViewContent("Title",$DataItem)} </div>
                        #end 
                    </div>
                </div>
              </div>
          #end
      #end
   #if( ${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "Bottom" && ${xf.ViewEffectSetting("ThumbnailShow","true")}=="true")      
          #if( ${xf.ViewEffectSetting("BulletNavShow","false")} == "true")
              <div u="navigator" class="${xf.ViewEffectSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
                    <div u="prototype"></div>
              </div>
          #end
  </div>
        #else
  </div>
        #if( ${xf.ViewEffectSetting("BulletNavShow","false")} == "true")
            <div u="navigator" class="${xf.ViewEffectSetting("BulletNavStyle","jssorb01")} BulletNavigator" style="position: absolute; "> 
              <div u="prototype"></div>
            </div>
        #end 
  #end  
   
  #if( ${xf.ViewEffectSetting("ThumbnailShow","true")} == "true") 
    <div u="thumbnavigator" class="thumbnavigator thumbsytle_1" style="width:${xf.ViewEffectSetting("sliderWidth","980")}px; height: ${xf.ViewEffectSetting("ThumbnailHight","100")}px; #if(${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "Top"||${xf.ViewEffectSetting("ThumbnailPosition","Bottom")} == "FloatTop") top:0; #else bottom:0;#end ">
        <div class="thumb_bg" style=" background-color:${xf.ViewEffectSetting("ThumbnailBg","#333333")} ; opacity:${xf.Division(${xf.ViewEffectSetting("ThumbnailBgOpacity","100")}, "100")}; filter:alpha(opacity=${xf.ViewEffectSetting("ThumbnailBgOpacity","100")});"></div>
        <div u="slides" style="cursor: move;"> 
        	#set( $ThumbnailItemwidth = ${xf.ViewEffectSetting("sliderWidth",980)}/${xf.ViewEffectSetting("TDPieces","5")} - ${xf.ViewEffectSetting("ThumbnailSpacingX","8")})
            <div u="prototype" class="p" style="width: ${ThumbnailItemwidth}px; height: ${xf.ViewEffectSetting("ThumbnailItemHight","72")}px;  ">
                <div class="w">
                    <div u="thumbnailtemplate" class="thumbnailtemplate"></div>
                </div>
                <div class="c"> </div>
            </div>
   		</div>
    </div>
  #end 
   
  #if( ${xf.ViewEffectSetting("ArrowNavShow","true")} == "true") 
      <span u="arrowleft" class="${xf.ViewEffectSetting("ArrowNavStyle","jssora01")}l ArrowNav ArrowNavLeft" style="left: ${xf.ViewEffectSetting("ArrowNavSpacing","8")}px;"></span> 
      <span u="arrowright" class="${xf.ViewEffectSetting("ArrowNavStyle","jssora01")}r ArrowNav ArrowNavRight" style=" right: ${xf.ViewEffectSetting("ArrowNavSpacing","8")}px"></span> 
  #end
</div>
  <style type="text/css">
	#slider${ModuleID}_container .w .text:before{
		background-color:${xf.ViewEffectSetting("TextBg","#000000")} ; 
		opacity:${xf.Division(${xf.ViewEffectSetting("TextBgOpacity","20")}, "100")}; 
		filter:alpha(opacity=${xf.ViewEffectSetting("TextBgOpacity","20")});
	}
	#slider${ModuleID}_container .Description:before{
		position:absolute;
		width:100%;
		height:100%;
		content:"";
		left:0;
		top:0;
		z-index:-1;
		background-color:${xf.ViewEffectSetting("ContentBg","#000000")} ; 
		opacity:${xf.Division(${xf.ViewEffectSetting("ContentBgOpacity","50")}, "100")}; 
		filter:alpha(opacity=${xf.ViewEffectSetting("ContentBgOpacity","50")});
	}
	#slider${ModuleID}_container .Description {
		color:${xf.ViewEffectSetting("ContentTitleColor","#FFFFFF")} ;
	}
	#slider${ModuleID}_container .Description h3{
		color:${xf.ViewEffectSetting("ContentColor","#FFFFFF")} ;
	}
</style>
  <script>
 jQuery(document).ready(function ($) {
        $("#slider${ModuleID}_container").find(".captionOrange").each(function(){
            $(this).width($(this).width()+1).height($(this).height()).css("left",$(this).position().left).css("top",$(this).position().top).addClass("no-transform");
        });
	
	var  _SlideshowTransitions =[${xf.ViewEffectSetting("SlideshowTransitions","Transitions[0]")}];
   var _CaptionTransitions = [${xf.ViewEffectSetting("CSTransitions","CaptionTransitions[0]")}];
 	
	
	var options = {
		$AutoPlay: ${xf.ViewEffectSetting("AutoPlay","true")} ,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
		$AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
		$AutoPlayInterval: ${xf.ViewEffectSetting("AutoPlayInterval","4000")} ,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
		$PauseOnHover:  ${xf.ViewEffectSetting("PauseOnHover","1")},                             		//[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
		$SlideSpacing: 1, 					                //[Optional] Space between each slide in pixels, default value is 0
		$DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
		$ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
		$UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
		$PlayOrientation: ${xf.ViewEffectSetting("PlayOrientation","1")},                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
		$DragOrientation: ${xf.ViewEffectSetting("DragOrientation","3")},                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
		$SlideDuration: ${xf.ViewEffectSetting("SlideDuration","500")},                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
		$ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
			$Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
			$ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
			$ActionMode: ${xf.ViewEffectSetting("ThumbnailActionMode","1")},                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
			$SpacingX: ${xf.ViewEffectSetting("ThumbnailSpacingX","8")},                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
			$DisplayPieces: ${xf.ViewEffectSetting("TDPieces","5")},                             //[Optional] Number of pieces to display, default value is 1
			$ParkingPosition: ${xf.ViewEffectSetting("TPPosition","0")}                           //[Optional] The offset position to park thumbnail
		},
		$SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
			$Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
			$Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
			$TransitionsOrder: ${xf.ViewEffectSetting("TransitionsOrder","1")},                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
			$ShowLink: true                                 //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
		},
	   #if( ${xf.ViewEffectSetting("BulletNavShow","false")} == "true") 
		$BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
			$Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
			$ChanceToShow: ${xf.ViewEffectSetting("BulletNavChanceToShow","2")},                               //[Required] 0 Never, 1 Mouse Over, 2 Always
			$AutoCenter: ${xf.ViewEffectSetting("BulletNavAutoCenter","0")},                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
			$Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
			$Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
			$SpacingX: ${xf.ViewEffectSetting("BulletNavSpacingX","10")},                                   //[Optional] Horizontal space between each item in pixel, default value is 0
			$SpacingY: ${xf.ViewEffectSetting("BulletNavSpacingY","10")},                                   //[Optional] Vertical space between each item in pixel, default value is 0
			$Orientation: ${xf.ViewEffectSetting("BulletNavOrientation","1")}                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
		},
	   #end  
	   #if( ${xf.ViewEffectSetting("ArrowNavShow","true")} == "true") 
		$ArrowNavigatorOptions: {
			$Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
			$ChanceToShow:${xf.ViewEffectSetting("ArrowNavChanceToShow","2")} //[Required] 0 Never, 1 Mouse Over, 2 Always
		},
	   #end  
		$CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
			$Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
			$CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
			$PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
			$PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
		}
	   
	   
	};
	var options2={
		sliderId: "slider${ModuleID}_container",
		sliderWidth:${xf.ViewEffectSetting("sliderWidth","980")},
		sliderHeight:${xf.ViewEffectSetting("sliderHeight","464")},
		responsive:'${xf.ViewEffectSetting("responsive","true")}'
	}
	sliderPatch(options,options2);
	$JssorPlayer$.$FetchPlayers(document.body);
 });
</script> 