﻿#if($DataList.Count > 0) 
<div class="$EffectThemeName"> 
<ul>
	#foreach($DataItem in $DataList)
  <li>
    #if(${xf.ViewEffectSetting("Displaythumbnail",true)})
    #if($DataItem.AdditionalPicture > 0)
    <div class="thumbnail"><img src="${xf.ViewPicture($DataItem)}"/> </div>
    #end
    #end
     <div class="title"><a href="${xf.GoUrl($DataItem)}">${xf.ViewContent("Title",$DataItem)}</a></div>
    <ul class="info">
      #if(${xf.ViewEffectSetting("Displayauthor",true)})
      <li><span><i class="icon-user"></i> <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a></span></li>
      #end
      #if(${xf.ViewEffectSetting("Displaycategories",true)})
      <li><span><i class="icon-folder-open"></i> ${xf.ViewCategories($DataItem)} </span></li>
       #end
      #if(${xf.ViewEffectSetting("Displayupdatedate",true)})
      <li><span><i class="icon-calendar"></i> $DataItem.PublishTime.ToString("")</span></li>
       #end
      #if(${xf.ViewEffectSetting("Displaycomments",true)})
      <li><span><i class="icon-comment"></i> <a href="${xf.GoUrl($DataItem)}#comments">${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a></span></li>
       #end
      #if(${xf.ViewEffectSetting("Displayviewcount",true)})
      <li><span><i class="icon-eye-open"></i> ${xf.ViewLanguage("View_Count","View Count")} $DataItem.ViewCount</span></li>
       #end
    </ul>
      #if(${xf.ViewEffectSetting("Displaytags",true)})
    <div class="category">${xf.ViewTags($DataItem)} </div>
     #end
     
    <div class="content">
        <!-- News Summary Begin-->
		${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}
		<!-- News Summary End-->
    </div>
    
    <a href="${xf.GoUrl($DataItem)}">${xf.ViewEffectSetting("moretext","More >")}</a>
  </li>
   #end
   
</ul>

#if(${xf.ViewEffectSetting("EnablePaging","false")} == "true")
    <div class="xblog_page"> ${Pager} </div>
#end 
</div>

#end



