﻿.Category_Default .category_list,
.Category_Default .category_list ul{
	padding:0px!important;
	margin:0px;
}
.Category_Default .category_list li{
	list-style:none;
}
.Category_Default .category_list li a.title{
	text-decoration:none;
	border-bottom:1px dotted #CCCCCC;
	padding:6px 0px 6px 20px;
	background:url(images/list_icon.png) 0px 8px no-repeat;
	display:block;
	color:#111;
}
.Category_Default .category_list li a.rss{
	float:right;
	background:url(images/rss.png) no-repeat center center;
	width:16px;
	height:16px;
	text-indent:-100px;
	overflow:hidden;
	margin-top:7px;
}
.Category_Default .category_list li a.title:hover{
	text-decoration:underline;
}
.Category_Default .category_list li li a.title{
	padding:3px 0px 3px 20px;
	background:none;
	border:none;
}
.Category_Default .category_list li li li a.title{
	padding:3px 0px 3px 40px;
}
