﻿
<div class="$EffectThemeName">
    <ul>
      #if($DataList.Count > 0) 
      #foreach($DataItem in $DataList)
      <li> #if(${xf.ViewEffectSetting("LeftView","Thumbnail")} =="Thumbnail")
              #if($DataItem.AdditionalPicture > 0)
                <div class="leftView" style="width:${xf.ViewEffectSetting("LeftWidth","100")}px">
                  <div class="thumbnail" ><img src="${xf.ViewPicture($DataItem)}" alt="${xf.ViewContent("Title",$DataItem)}" /> </div>
                </div>
              #end
        #elseif(${xf.ViewEffectSetting("LeftView","Thumbnail")} =="Date")
        <div class="leftView" style="width:${xf.ViewEffectSetting("LeftWidth","80")}px">
          <div class="date"><span class="day">$DataItem.PublishTime.ToString("dd")</span><span class="month">$DataItem.PublishTime.ToString("MMMM")</span><span class="year">$DataItem.PublishTime.ToString("yyyy")</span></div>
        </div>
        #elseif(${xf.ViewEffectSetting("LeftView","Thumbnail")} =="Avatar")
        <div class="leftView" style="width:${xf.ViewEffectSetting("LeftWidth","80")}px">
          <div class="useravatar"><img src="${xf.ViewAuthorPic($DataItem)}"/> </div>
        </div>
        #end
        <div class="rightView">
        <div class="title"><a href="${xf.GoUrl($DataItem)}">${xf.ViewContent("Title",$DataItem)}</a></div>
        <ul class="info">
          #if(${xf.ViewEffectSetting("Displayauthor",true)})
          <li><span><i class="icon-user"></i> <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a></span></li>
          #end
          #if(${xf.ViewEffectSetting("Displaycategories",true)})
          <li><span><i class="icon-folder-open"></i> ${xf.ViewCategories($DataItem)} </span></li>
          #end
          #if(${xf.ViewEffectSetting("Displayupdatedate",true)})
          <li><span><i class="icon-calendar"></i> $DataItem.PublishTime.ToString("")</span></li>
          #end
          #if(${xf.ViewEffectSetting("Displaycomments",true)})
          <li><span><i class="icon-comment"></i> <a href="${xf.GoUrl($DataItem)}#comments">${xf.ViewCommentCount($DataItem)} ${xf.ViewLanguage("Comments","Comments")}</a></span></li>
          #end
          #if(${xf.ViewEffectSetting("Displayviewcount",true)})
          <li><span><i class="icon-eye-open"></i> ${xf.ViewLanguage("View_Count","View Count")} $DataItem.ViewCount</span></li>
          #end
        </ul>
        #if(${xf.ViewEffectSetting("Displaytags",true)})
        <div class="category">${xf.ViewTags($DataItem)} </div>
        #end
        #if(${xf.ViewEffectSetting("SummaryEnable","true")}=="true")
        <div class="content"> 
          <!-- News Summary Begin--> 
          ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")} 
          <!-- News Summary End--> 
        </div>
        #end
        
        #if(${xf.ViewEffectSetting("MoreEnable","true")}=="true") <a href="${xf.GoUrl($DataItem)}">${xf.ViewEffectSetting("MoreText","Read More")}</a> #end 
        </div>
        
        </li>
      #end
      #end
    </ul>
    #if($DataList.Count > 0 && ${xf.ViewEffectSetting("EnablePaging","false")} == "true")
    <div class="xblog_page"> ${Pager} </div>
    #end 
</div>