.XBD_Effect_10_Default ul{
	margin:0;
	padding:0;
	list-style:0;
}
.XBD_Effect_10_Default > ul > li{
	margin:0;
	padding:0 0 10px 0px;
	list-style:none;
	position:relative;
	min-height:80px;
}
.XBD_Effect_10_Default > ul > li .thumbnail {
	border:1px solid #e3e3e3;
	padding:2px;
	text-align:center;
	display:inline-block;
	margin-bottom:12px;
	max-width:100%;
}
.XBD_Effect_10_Default > ul > li .thumbnail img{
	max-width:100%;
}

.XBD_Effect_10_Default > ul > li .title {
	font-size:16px;
	font-weight:bold;
	margin-bottom:12px;
}
.XBD_Effect_10_Default > ul > li .info {
	margin:0;
	padding:0;
	list-style:none;
}
.XBD_Effect_10_Default > ul > li .info li{
	margin:0;
	padding:0;
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:12px;
}
.XBD_Effect_10_Default > ul > li .content{
	margin-bottom:12px;
}


.XBD_Effect_10_Default > ul > li .category a{
	display:inline-block;
	background-color:#efefef;
	padding:3px 5px;
	margin-bottom:12px;
}
/*PagingTable*/
.XBD_Effect_10_Default .xblog_page{
	margin-bottom:5px;
	white-space:normal;
}
.XBD_Effect_10_Default .xblog_page .button
{
	display:inline-block;
	color:#3E3E3E!important;
	background:#fff;
    border-radius:5px;
	padding: 4px 10px;
	font-size:11px;
	border:1px solid #D4D4D4;
	line-height:16px!important;
	text-decoration:none;
	margin-left:5px!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
*+html .XBD_Effect_10_Default .xblog_page .button{
	display:inline;
}
* html .XBD_Effect_10_Default .xblog_page .button{
	display:inline;
}
.XBD_Effect_10_Default .xblog_page .button:hover{
	color:#fff!important;
	background:#2A2A2A;
}
.XBD_Effect_10_Default .xblog_page .disabled{
	display:inline-block;
	color:#fff!important;
	background:#2A2A2A;
    border-radius:5px;
	padding: 4px 8px;
	font-size:11px;
	line-height:16px;
	margin-left:5px;
}
*+html .XBD_Effect_10_Default .xblog_page .disabled{
	display:inline;
}
* html .XBD_Effect_10_Default .xblog_page .disabled{
	display:inline;
}


.XBD_Effect_10_Default .post_but{
	background:url(images/post_but.jpg) 0px 0px repeat-x #E0E0E0;
	line-height:13px;
	font-size:13px;
	color:#000!important;
	padding:6px 10px 7px 10px;
	border:1px solid #CFCFCF;
	text-decoration:none!important;
	border-radius:5px;
}
