/* Unoslider container */
.Theme_12_Modern {
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0px!important;
}

.Theme_12_Modern img{
  max-width: 100%;
}

.Theme_12_Modern li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

/* Timebar */
.Theme_12_Modern .unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.Theme_12_Modern .unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);  
}

/* progress bar preloader */
.Theme_12_Modern .unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.Theme_12_Modern .unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.Theme_12_Modern .unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.Theme_12_Modern .unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Theme_12_Modern .unoslider_caption a
{
  text-decoration:underline;
  color:#fff;
}



/* Hand cursor over navigation elements */
.Theme_12_Modern .unoslider_navigation {
  cursor: pointer;
}

/* Tooltip panel */
.Theme_12_Modern .unoslider_caption {
  position: absolute;
  left: 16px;
  bottom: 10px;
  font-family: "Helvetica neue", Helvetica, Verdana, sans-serif;
  padding: 5px 15px;
  background-color: #144a72;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  font-size: 14px;
  font-weight: normal;
  text-shadow: black 0 1px 0;
}

/* play, pause, previous and next elements */
.Theme_12_Modern .unoslider_pause, 
.Theme_12_Modern .unoslider_play, 
.Theme_12_Modern .unoslider_left, 
.Theme_12_Modern .unoslider_right {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url("modern.png") no-repeat;
}

/* play and pause elements */
.Theme_12_Modern .unoslider_pause, 
.Theme_12_Modern .unoslider_play {
  height: 98px;
  width: 98px;
  margin-top: -49px;
  margin-left: -49px;
  top: 50%;
  left: 50%;
}

/* previous and next elements */
.Theme_12_Modern .unoslider_left, 
.Theme_12_Modern .unoslider_right {
  width: 24px;
  height: 24px;
  bottom: 43px;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.Theme_12_Modern .unoslider_left:hover, 
.Theme_12_Modern .unoslider_right:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* previous */
.Theme_12_Modern .unoslider_left {
  background-position: 8px -212px;
  right: 40px;
}

/* next */
.Theme_12_Modern .unoslider_right {
  background-position: -47px -212px;
  right: 16px;
}

/* pause */
.Theme_12_Modern .unoslider_pause {
  background-position: 0px -100px;
}

/* play */
.Theme_12_Modern .unoslider_play {
  background-position: 0px 0px;
}

/* bullet indicator */
.Theme_12_Modern .unoslider_indicator {
  position: absolute;
  bottom: 10px;
  right: 16px;
  text-align: right;
  padding: 5px 10px;
  font-size: 0px;
  opacity: 0.8;
  background:#000;
}
.Theme_12_Modern .unoslider_indicator a {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  background: #81817e;
  margin-right: 3px;
  margin-left:3px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
*+html .Theme_12_Modern .unoslider_indicator a {
  float:left;
}
.Theme_12_Modern .unoslider_indicator a.unoslider_indicator_active {
  width: 5px;
  height: 5px;
  background: black;
  border: 3px solid #81817e;
}
