﻿<div id="accordion${ModuleID}" class="$ThemeName">
  <div class="accordion_group"> 
  <a href="javascript:;" data-filter="*">All</a>
  #foreach($GroupItem in $GroupList) 
  <a #if(${xf.ViewXmlSetting("DefaultFilter","*")} == $GroupItem.Name) class="active" #end href="javascript:;" data-filter=".${xf.ToTrim2($GroupItem.Name)}" title="$GroupItem.Name">$GroupItem.Name</a>
  #end 
  </div>
  <div class="accordion"> 
  #if($SliderList.Count > 0) 
    #foreach($SliderItem in $SliderList)
    <div class="accordion-item ${xf.ToGroups($SliderItem)}" style="display:none;" >
      <div class="accordion-header"><span class="${xf.ViewSliderSetting($SliderItem,"IconStyle","fa fa-question-circle")} type"></span> <span class="title">${xf.ViewSliderSetting($SliderItem,"Title","")}</span> <i class="ico"></i> </div>
      <div class="accordion-content">${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} </div>
    </div>
    #end
    #end </div>
</div>
<div class="pro-img-pager $ThemeName">
${Pager}
</div>

<style type="text/css">
#accordion${ModuleID} .accordion_group a{
	border-color:${xf.ViewXmlSetting("FilterBorderColor","#dddddd")};
	color:${xf.ViewXmlSetting("FilterFontColor","#595959")};
}
#accordion${ModuleID} .accordion_group{
	border-color:${xf.ViewXmlSetting("FilterBorderColor","#dddddd")};
}
#accordion${ModuleID} .accordion_group a:hover, 
#accordion${ModuleID} .accordion_group a.active{
	background-color:${xf.ViewXmlSetting("FilterHoverbg","#f3f3f3")};
	color:${xf.ViewXmlSetting("FilterAccentColor","#20a3f0")};
}
#accordion${ModuleID} .accordion-header{
	color:${xf.ViewXmlSetting("TitleFontColor","#777777")};
	border-color:${xf.ViewXmlSetting("TitleBorderColor","#dddddd")};
}
#accordion${ModuleID} .accordion-header .type {
	color:${xf.ViewXmlSetting("TitleAccentColor","#20a3f0")};
}
#accordion${ModuleID} .accordion-header .ico{
	border-color:${xf.ViewXmlSetting("TitleFontColor","#777777")};
}

#accordion${ModuleID} .accordion-content,
#accordion${ModuleID} .accordion-content p{
	color:${xf.ViewXmlSetting("ContentFontColor","#777777")};
}
#accordion${ModuleID} .accordion-content{
	border-color:${xf.ViewXmlSetting("ContentBorderColor","#dddddd")};
}


</style>
<script type="text/javascript">
      jQuery(document).ready(function() {
		if($("#accordion${ModuleID} .accordion_group a.active").data("filter")){
			$("#accordion${ModuleID} .accordion >"+ $("#accordion${ModuleID} .accordion_group a.active").data("filter")).show();
		}else{
			$("#accordion${ModuleID} .accordion_group a").eq(0).addClass("active");
			$("#accordion${ModuleID} .accordion > .accordion-item").show();
		}
		$("#accordion${ModuleID} .accordion_group a").on("click",function(){
			$(this).addClass("active").siblings().removeClass("active");
			$("#accordion${ModuleID} .accordion >"+ $(this).data("filter")).slideDown();
			$("#accordion${ModuleID} .accordion > .accordion-item").not($(this).data("filter")).slideUp();
		})
		$("#accordion${ModuleID} .accordion").each(function () {
			var e=$(this);	  
				e.jqueryAccordion({
					  interval: ${xf.ViewXmlSetting("interval",200)},
					  fadeContent: ${xf.ViewXmlSetting("fadeContent","true")},
					  open: ${xf.ViewXmlSetting("open","true")},
					  defaultOpenIndex:${xf.ViewXmlSetting("defaultOpenIndex",1)}
				});
			e.OpenAccordion();
		});
		
		
		
      });
</script> 
