﻿<div class="$ThemeName" id="form_div_${ModuleID}" style="width:${xf.ViewXmlSetting("width","100%")};">
#if(${DisplayForm})

 #if($GroupList.Count > 0)
  #foreach($GroupItem in $GroupList)
  #set($GroupFieldList = ${xf.ViewSearchFieldList($FieldList,$GroupItem)})
  #if($GroupFieldList.Count > 0)
  <fieldset>
    <legend>$GroupItem.Name</legend>
    <ul class="form_list">
      #foreach($FieldItem in $GroupFieldList)
      <li style="width:${xf.ViewItemSetting($FieldItem,"Itemwidth","100")}%"> #if(${xf.IsHtmlControl($FieldItem)})
        <div class="form_row"> ${xf.ViewControl($FieldItem)}</div>
        #else
        <div class="form_row row${velocityCount}">
          #if(${xf.ViewItemSetting($FieldItem,"DisplayTitle","true")}=="true")<div class="form_label"> ${xf.ViewLable($FieldItem,":")}  #if($FieldItem.Required == 1)<span class="form_required">*</span>#end</div>#end
          <div class="form_input"> ${xf.ViewControl($FieldItem)}
            #if( ${xf.ViewXmlSetting("DisplayTooltip","true")} == "true")
            ${xf.ViewInputDefault($FieldItem)}
            #end
        </div>
        #end
        
        #end
    </ul>
  </fieldset>
  #end
  #end
  #end     
  #if($Module.Settings_Recaptcha_Enable)
  <fieldset>
    <legend>Captcha</legend>
    <ul class="form_list">
      <li style="width:100%">
        <div class="form_row">
          <div class="form_input form_captcha"> ${xf.ViewCaptcha()}</div>
        </div>
      </li>
    </ul>
  </fieldset>
  #end
  #if($ErrorMessage != '')
  <div class="PowerForms_ErrorMessage">$ErrorMessage</div>
  #end
  <div class="form_submit"> ${xf.ViewButton("submit_but")} 
    
    #if(${xf.ViewXmlSetting("ShowResetButton","true")} == "true")
    ${xf.ViewResetButton("reset_but")}
    #end </div>
        #else
            #if(${Module.UserId} > 0)
                <div>${xf.ViewSetting("PowerForms_PromptAlreadySubmitted","You have already submitted the form.")}</div>
            
            #else
               <div>${xf.ViewSetting("PowerForms_PromptNotLogged","You need to log in to submit forms.")}</div>
            #end

        #end  
</div>
<style type="text/css">
	#form_div_${ModuleID} .actionMenu{ display:none;}
	
	#form_div_${ModuleID} .form_row {
	  padding: 0px 0px ${xf.ViewXmlSetting("VerticalSpacing","10")}px ${xf.ViewXmlSetting("HorizontalSpacing","10")}px;
	}
	#form_div_${ModuleID} .form_list{
		margin:0 0 0 -${xf.ViewXmlSetting("HorizontalSpacing","10")}px
	}
	.form_captcha{
		position:relative;
	}
	.g-recaptcha-dnn{
		padding-bottom:20px;
	}
	.form_captcha .g-recaptcha-msg{
		position:absolute;
		left:0;
		bottom:0;
		font-size:13px;
		font-family:Arial, Helvetica, sans-serif;
		white-space:nowrap;
		line-height:1;
	}
</style>
