@import url('https://fonts.googleapis.com/css?family=Muli:800,700,900,400,600|Open+Sans:700,400|Alfa+Slab+One:400');

@font-face {
                          font-family: "BeVietnam-Medium";
                          src: url('../fonts/BeVietnam-Medium.ttf') format("truetype");
                        }
                        
.articlepagedesktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 5574px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.articlepagedesktophd .topnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .topnavigation .navigationbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .topnavigation .findameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 377px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .topnavigation .areaevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .topnavigation .recoveryblog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1008px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .topnavigation .getinvolved {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 692px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .topnavigation .aainformation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .gsaaalogo01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 70px;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .donatebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 63px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .donatebutton .donatebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 190px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .donatebutton .donatebutton1 .donate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.9px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.44px;
  line-height         : 24.0px;
}
.articlepagedesktophd .donatebutton .donatebutton1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 13, 104, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4093px;
  height              : 481px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .rectanglecopy {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .rectanglecopy2 {
  background-color    : rgba(0, 58, 211, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .a5d43dc63bce64image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 480px;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .a5d43dc63bce64image .a5d43dc63bce64image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 480px;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .httpscdnevbuccomimages538054371604185791851original {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 479px;
  width               : 484px;
  position            : absolute;
  margin              : 0;
  left                : 477px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .httpscdnevbuccomimages538054371604185791851original .httpscdnevbuccomimages538054371604185791851original1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 479px;
  width               : 484px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 235px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 1055px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .right .westchesternewyear {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.articlepagedesktophd .eventsmodules .right .learnmorebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : 85px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .right .learnmorebutton .learnmorebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 290px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .right .learnmorebutton .learnmorebutton1 .rectangle2 {
  background-color    : rgba(243, 245, 48, 1.0);
  top                 : 0px;
  height              : 85px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .eventsmodules .right .learnmorebutton .learnmorebutton1 .learnmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.articlepagedesktophd .rectangle {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 289px;
  height              : 3749px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .billcoffeepot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 382px;
  height              : 726px;
  width               : 861px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .aahaditsbeginni {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1318px;
  height              : auto;
  width               : 863px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.articlepagedesktophd .historyofaa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1164px;
  height              : auto;
  width               : 492px;
  position            : absolute;
  margin              : 0;
  left                : 490px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.articlepagedesktophd .theveryfirststepu2026 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1230px;
  height              : auto;
  width               : 492px;
  position            : absolute;
  margin              : 0;
  left                : 490px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.articlepagedesktophd .bottomnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5375px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 .privacypolicy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 492px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 .termsconditions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 668px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 .termsconditionscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 897px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .bottomnavigation .bottomnavigation1 .a251copyright2019wes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : 623px;
  position            : absolute;
  margin              : 0;
  left                : 409px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.articlepagedesktophd .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3752px;
  height              : 45px;
  width               : 1147px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .group .nextblogtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 839px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.articlepagedesktophd .group .previousblogtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 443px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.articlepagedesktophd .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3759px;
  height              : 38px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1305px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .arrow .arrow2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 26px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .arrow .arrow2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .arrow1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3759px;
  height              : 38px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.articlepagedesktophd .arrow1 .arrow2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 26px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .arrow1 .arrow2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 37px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4622px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected .rectangle1 {
  background-color    : rgba(0, 58, 211, 1.0);
  top                 : 0px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected .inputentered {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 98px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected .inputentered .inputentered1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 666px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected .inputentered .inputentered1 .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 60px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.articlepagedesktophd .footerstayconnected .inputentered .inputentered1 .inputlabel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.articlepagedesktophd .footerstayconnected .inputentered .inputentered1 .inputtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.articlepagedesktophd .footerstayconnected .stayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : 589px;
  position            : absolute;
  margin              : 0;
  left                : 427px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.articlepagedesktophd .footerstayconnected .signuptothewestc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : auto;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 394px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}