@import url('https://fonts.googleapis.com/css?family=Muli:800,700,900,400,600|Open+Sans:700,400|Alfa+Slab+One:400');

@font-face {
                          font-family: "BeVietnam-Medium";
                          src: url('../fonts/BeVietnam-Medium.ttf') format("truetype");
                        }
                        
.donatepagedesktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 3843px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.donatepagedesktophd .rectangle {
  background-color    : rgba(232, 231, 231, 1.0);
  top                 : 289px;
  height              : 2018px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .makeyourcontributi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 381px;
  height              : auto;
  width               : 736px;
  position            : absolute;
  margin              : 0;
  left                : 352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.donatepagedesktophd .seventhtradition {
  background-color    : rgba(255,255,255,0.0);
  top                 : 447px;
  height              : auto;
  width               : 571px;
  position            : absolute;
  margin              : 0;
  left                : 435px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.donatepagedesktophd .topnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .topnavigation .navigationbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .topnavigation .findameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 377px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .topnavigation .areaevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .topnavigation .recoveryblog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1008px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .topnavigation .getinvolved {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 692px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .topnavigation .aainformation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .topnavigation .donatebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 63px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .topnavigation .donatebutton .donatebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 190px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .topnavigation .donatebutton .donatebutton1 .donate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.9px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.44px;
  line-height         : 24.0px;
}
.donatepagedesktophd .topnavigation .donatebutton .donatebutton1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 13, 104, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .gsaaalogo01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 70px;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2366px;
  height              : 481px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .rectangle1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .rectanglecopy {
  background-color    : rgba(236, 236, 236, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .rectanglecopy2 {
  background-color    : rgba(0, 58, 211, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .a5d43dc63bce64image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 480px;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .a5d43dc63bce64image .a5d43dc63bce64image1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 480px;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .httpscdnevbuccomimages538054371604185791851original {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 479px;
  width               : 484px;
  position            : absolute;
  margin              : 0;
  left                : 477px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .httpscdnevbuccomimages538054371604185791851original .httpscdnevbuccomimages538054371604185791851original1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 479px;
  width               : 484px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 235px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 1055px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .right .westchesternewyear {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.donatepagedesktophd .eventsmodulescopy .right .learnmorebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : 85px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .right .learnmorebutton .learnmorebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 290px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .right .learnmorebutton .learnmorebutton1 .rectangle2 {
  background-color    : rgba(243, 245, 48, 1.0);
  top                 : 0px;
  height              : 85px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .eventsmodulescopy .right .learnmorebutton .learnmorebutton1 .learnmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.donatepagedesktophd .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 949px;
  height              : 92px;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .input .input1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 654px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .input .input1 .input2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 57px;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .input .input1 .inputlabel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BeVietnam-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.donatepagedesktophd .inputcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1110px;
  height              : 92px;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .inputcopy .input1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 654px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .inputcopy .input1 .input2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 57px;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .inputcopy .input1 .inputlabel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "BeVietnam-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.donatepagedesktophd .bottomnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3644px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 .privacypolicy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 492px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 .termsconditions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 668px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 .termsconditionscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 897px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .bottomnavigation .bottomnavigation1 .a251copyright2019wes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : 623px;
  position            : absolute;
  margin              : 0;
  left                : 409px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.donatepagedesktophd .theseventhtraditio {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : auto;
  width               : 1014px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.donatepagedesktophd .rightside {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1255px;
  height              : 641px;
  width               : 510px;
  position            : absolute;
  margin              : 0;
  left                : 465px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .paybutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : 83px;
  width               : 454px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .paybutton .paybutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 450px;
  position            : relative;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .paybutton .paybutton1 .rectangle2copy3 {
  background-color    : rgba(0, 122, 255, 1.0);
  top                 : 0px;
  height              : 78px;
  box-sizing          : border-box;
  width               : 450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.2);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .paybutton .paybutton1 .makecontribution {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.donatepagedesktophd .rightside .rectangle2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : 63px;
  width               : 255px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .rectangle2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : 63px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .iconarrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.54;
}
.donatepagedesktophd .rightside .iconarrowcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 209px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 437px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.54;
}
.donatepagedesktophd .rightside .creditcardnumber {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(118, 118, 118, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.donatepagedesktophd .rightside .expiration {
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(118, 118, 118, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.donatepagedesktophd .rightside .a2018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.donatepagedesktophd .rightside .remembrme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 417px;
  height              : 27px;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .remembrme .rectangle2copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .remembrme .remembermydetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(118, 118, 118, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.donatepagedesktophd .rightside .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : 69px;
  width               : 456px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .cvccvv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 287px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(118, 118, 118, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.donatepagedesktophd .rightside .rectangle2copy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 321px;
  height              : 63px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .a4239934904 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.donatepagedesktophd .rightside .rectangle17 {
  background-color    : rgba(20, 126, 251, 1.0);
  top                 : 84px;
  height              : 33px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 177px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .rightside .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 291px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2892px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected .rectangle1 {
  background-color    : rgba(0, 58, 211, 1.0);
  top                 : 0px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected .inputentered {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 98px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected .inputentered .inputentered1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 666px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected .inputentered .inputentered1 .input1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 60px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.donatepagedesktophd .footerstayconnected .inputentered .inputentered1 .inputlabel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.donatepagedesktophd .footerstayconnected .inputentered .inputentered1 .inputtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.donatepagedesktophd .footerstayconnected .stayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : 589px;
  position            : absolute;
  margin              : 0;
  left                : 427px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.donatepagedesktophd .footerstayconnected .signuptothewestc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : auto;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 394px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}