@import url('https://fonts.googleapis.com/css?family=Muli:800,700,900,400,600|Open+Sans:700,400|Alfa+Slab+One:400');

@font-face {
                          font-family: "BeVietnam-Medium";
                          src: url('../fonts/BeVietnam-Medium.ttf') format("truetype");
                        }
                        
.eventpagedesktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 3252px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.eventpagedesktophd .topnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .topnavigation .navigationbar {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 128px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .topnavigation .findameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 377px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .topnavigation .areaevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .topnavigation .recoveryblog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1008px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .topnavigation .getinvolved {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 692px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .topnavigation .aainformation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 837px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .topnavigation .donatebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 63px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .topnavigation .donatebutton .donatebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 190px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .topnavigation .donatebutton .donatebutton1 .donate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.9px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.44px;
  line-height         : 24.0px;
}
.eventpagedesktophd .topnavigation .donatebutton .donatebutton1 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  box-sizing          : border-box;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(0, 13, 104, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .gsaaalogo01 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 70px;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .westchesterareaeve {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : auto;
  width               : 778px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.eventpagedesktophd .addmeetingbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 868px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .addmeetingbutton .addmeetingbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .addmeetingbutton .addmeetingbutton1 .rectangle1 {
  background-color    : rgba(49, 92, 245, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .addmeetingbutton .addmeetingbutton1 .addameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .bottomnavigation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3053px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 199px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 .privacypolicy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 492px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 .termsconditions {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 195px;
  position            : absolute;
  margin              : 0;
  left                : 668px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 .termsconditionscopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : auto;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 897px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .bottomnavigation .bottomnavigation1 .a251copyright2019wes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : 623px;
  position            : absolute;
  margin              : 0;
  left                : 409px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : center;
  letter-spacing      : 1.37px;
  line-height         : 23.0px;
}
.eventpagedesktophd .newyearseveactivitiescopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : 466px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .newyearseveactivitiescopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1017px;
  height              : 466px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .newyearseveactivitiescopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1677px;
  height              : 466px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 663px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule .rectangle1 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule .newyearu2019seve {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.eventpagedesktophd .eventinfomodule .westchestersoberda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.eventpagedesktophd .eventinfomodule .thisisashortdesc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 668px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .eventinfomodule .addmeetingbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 334px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule .addmeetingbutton1 .addmeetingbutton2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule .addmeetingbutton1 .addmeetingbutton2 .rectangle2 {
  background-color    : rgba(49, 92, 245, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodule .addmeetingbutton1 .addmeetingbutton2 .addameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .eventinfomodulecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1017px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 663px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy .rectangle1 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy .newyearu2019seve {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.eventpagedesktophd .eventinfomodulecopy .westchestersoberda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.eventpagedesktophd .eventinfomodulecopy .thisisashortdesc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 668px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .eventinfomodulecopy .addmeetingbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 334px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy .addmeetingbutton1 .addmeetingbutton2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy .addmeetingbutton1 .addmeetingbutton2 .rectangle2 {
  background-color    : rgba(49, 92, 245, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy .addmeetingbutton1 .addmeetingbutton2 .addameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .eventinfomodulecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1677px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 663px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy2 .rectangle1 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 466px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy2 .newyearu2019seve {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.eventpagedesktophd .eventinfomodulecopy2 .westchestersoberda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 568px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 2.74px;
  line-height         : 45.0px;
}
.eventpagedesktophd .eventinfomodulecopy2 .thisisashortdesc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : auto;
  width               : 668px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 13, 104, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .eventinfomodulecopy2 .addmeetingbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 334px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy2 .addmeetingbutton1 .addmeetingbutton2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy2 .addmeetingbutton1 .addmeetingbutton2 .rectangle2 {
  background-color    : rgba(49, 92, 245, 1.0);
  top                 : 0px;
  height              : 70px;
  width               : 239px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .eventinfomodulecopy2 .addmeetingbutton1 .addmeetingbutton2 .addameeting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 800;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .footerstayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2307px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .footerstayconnected .rectangle1 {
  background-color    : rgba(0, 58, 211, 1.0);
  top                 : 0px;
  height              : 746px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .footerstayconnected .inputentered {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 98px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 388px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .footerstayconnected .inputentered .inputentered1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 666px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .footerstayconnected .inputentered .inputentered1 .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 37px;
  height              : 60px;
  width               : 666px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eventpagedesktophd .footerstayconnected .inputentered .inputentered1 .inputlabel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.eventpagedesktophd .footerstayconnected .inputentered .inputentered1 .inputtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(73, 73, 73, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.eventpagedesktophd .footerstayconnected .stayconnected {
  background-color    : rgba(255,255,255,0.0);
  top                 : 85px;
  height              : auto;
  width               : 589px;
  position            : absolute;
  margin              : 0;
  left                : 427px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alfa Slab One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 3.66px;
  line-height         : 66.0px;
}
.eventpagedesktophd .footerstayconnected .signuptothewestc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : auto;
  width               : 654px;
  position            : absolute;
  margin              : 0;
  left                : 394px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.83px;
  line-height         : 30.0px;
}
.eventpagedesktophd .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1017px;
  height              : 466px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}