.Theme_13_Default { margin:0 auto; padding:0;}
.Theme_13_Default .loading{position: absolute; top: 0px; left: 0px; z-index:100; width:100%; height:100%;}
.Theme_13_Default .loading .bg{ position: absolute; display: block;background-color: #FFF; top: 0px; left: 0px;width: 100%;height:100%;}
.Theme_13_Default .loading .ico{position: absolute; display: block; background:url(images/loading.gif) no-repeat center center;top: 0px; left: 0px;width: 100%;height:100%;}


