﻿ 
 /*
=========
TOOLTIP STYING

projects where this is used - dzs calendar, dzs zoomsounds
==========
*/
/* --- functional styling */
.dzstooltip-con.js {
  position: relative; }

.dzstooltip-con .dzstooltip {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.with-tooltip {
  position: relative;
  display: inline-block; }

/* --- estethic styling */
.with-tooltip > .dzstooltip, .dzstooltip {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px 12px;
  color: #111111;
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.dzstooltip {
  opacity: 1;
  visibility: visible;
  display: inline-block; }

.dzstooltip {
  position: relative; }

.with-tooltip > .dzstooltip {
  position: absolute;
  top: auto;
  bottom: 150%;
  overflow: visible;
  left: -10px;
  color: #111111; }

.interactive .with-tooltip > .dzstooltip {
  pointer-events: auto; }

.with-tooltip:hover .dzstooltip, .dzstooltip.active {
  visibility: visible;
  opacity: 1;
  bottom: 140%;
  top: auto; }

.with-tooltip .aux-padder {
  position: absolute;
  top: -10px;
  height: 15px;
  left: -12px;
  width: 30px; }

/* -- arrows -> functional + estethic*/
.with-tooltip > .dzstooltip:after, .dzstooltip:after, .with-tooltip > .dzstooltip:before, .dzstooltip:before {
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  content: " ";
  height: 0;
  width: 0; }

.with-tooltip > .dzstooltip:after, .dzstooltip:after, .with-tooltip > .dzstooltip:before, .dzstooltip:before {
  top: 100%; }

/*====arrows position=*/
.with-tooltip > .dzstooltip:before, .dzstooltip:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px; }

.with-tooltip > .dzstooltip:before, .dzstooltip:before {
  border-top-color: rgba(0, 0, 0, 0.3);
  left: 12.5px;
  margin-left: -2.5px; }

.with-tooltip > .dzstooltip:after, .dzstooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px; }

.with-tooltip > .dzstooltip:after, .dzstooltip:after {
  border-top-color: #fafafa;
  left: 12.5px;
  margin-left: -2.5px; }

.with-tooltip.arrow-left > span:first-child {
  box-shadow: 0 0 0 0; }

.with-tooltip.arrow-left > span:first-child {
  left: 200%;
  right: auto;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-left > span:first-child:after, .dzstooltip.arrow-left:after, .with-tooltip.arrow-left > span:first-child:before, .dzstooltip.arrow-left:before {
  top: 0%; }

.with-tooltip.arrow-left > span:first-child:after, .dzstooltip.arrow-left:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-right-color: transparent;
  top: 10px;
  margin: 0 0 0 0;
  left: -10px;
  margin-top: -5px; }

/*====the big arrow pointer*/
.with-tooltip.arrow-left > span:first-child:before, .dzstooltip.arrow-left:before {
  border-width: 6px;
  border-color: transparent transparent transparent transparent;
  border-right-color: rgba(0, 0, 0, 0.3);
  top: 10px;
  left: -10px;
  margin-top: -6px;
  z-index: 0; }

.with-tooltip.arrow-right > span:first-child {
  box-shadow: 0 0 0 0;
  min-width: 100px; }

.with-tooltip.arrow-right > span:first-child {
  left: auto;
  right: 200%;
  bottom: auto;
  top: 0px; }

.arrow-right.with-tooltip:hover span:first-child, .dzstooltip.arrow-right.active {
  left: auto;
  right: 150%;
  bottom: auto;
  top: 0px; }

.with-tooltip.arrow-right > span:first-child:after, .dzstooltip.arrow-right:after, .with-tooltip.arrow-right > span:first-child:before, .dzstooltip.arrow-right:before {
  top: 0%; }

.with-tooltip.arrow-right > span:first-child:after, .dzstooltip.arrow-right:after {
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-left-color: transparent;
  top: 9px;
  margin: 0 0 0 0;
  left: auto;
  right: -10px;
  margin: 0 0 0 0;
  margin-top: -5px; }

.with-tooltip.arrow-right > span:first-child:before, .dzstooltip.arrow-right:before {
  border-width: 8px;
  border-color: transparent transparent transparent transparent;
  border-left-color: rgba(0, 0, 0, 0.3);
  top: 9px;
  left: auto;
  right: -16px;
  margin: 0 0 0 0;
  margin-top: -8px; }

 /*
        margin:0 0 0 0;
*/
.with-tooltip.arrow-top > span:first-child {
  top: auto;
  bottom: auto;
  top: 150%;
  min-width: 75px; }

.arrow-top.with-tooltip:hover span:first-child, .dzstooltip.arrow-top.active {
  left: auto;
  top: auto;
  bottom: auto;
  top: 100%;
  margin-top: 5px; }

.with-tooltip.arrow-top > span:first-child:after, .dzstooltip.arrow-top:after, .with-tooltip.arrow-top > span:first-child:before, .dzstooltip.arrow-top:before {
  top: 0%; }

.with-tooltip.arrow-top > span:first-child:before, .dzstooltip.arrow-top:before {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  left: 20%;
  top: auto;
  bottom: 100%;
  margin-top: -8px;
  margin-left: -2.5px; }

.with-tooltip.arrow-top > span:first-child:after, .dzstooltip.arrow-top:after {
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  border-width: 5px;
  border-color: transparent transparent transparent transparent;
  border-bottom-color: #fafafa;
  left: 20%;
  left: calc(20% + 1px);
  top: auto;
  bottom: 100%;
  margin-top: -5px;
  margin-left: -2.5px; }

.label {
  border-radius: 0; }

/*
=========
TOOLTIP STYING
END
==========
*/
.dzstooltip.skin-black {
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1.5rem; }

.dzstooltip.skin-black:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 6px; }

.dzstooltip.skin-black:before {
  border-top-color: rgba(0, 0, 0, 0.5);
  left: 12.5px;
  margin-left: -2.5px; }

.dzstooltip.skin-black:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 5px; }

.dzstooltip.skin-black:after {
  border-top-color: rgba(0, 0, 0, 0.85);
  left: 12.5px;
  margin-left: -2.5px; }

 
 
 
 
 
 
 
 
 
 
 
 
 
 /* --- functional styling */
.dzscalendar .events {
  display: none; }

.dzscalendar .calendar-controls {
  position: relative; }

.dzscalendar .theMonths {
  position: relative; }

/* --- estethic styling */
.dzscalendar {
  font-family: 'Carrois Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif; }

.dzscalendar .testimonial span {
  font-size: 2.5em;
  font-family: Courier New, Arial;
  font-style: italic;
  line-height: 1.5;
  color: #555; }

.dzscalendar .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 10px; }

.dzscalendar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  position: relative;
  width: 100%;
  height: 165px;
  overflow-x: hidden;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }
  .dzscalendar * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */ }
  .dzscalendar .main-mon, .dzscalendar .mon-body, .dzscalendar .mon-body > .mon-row {
    position: relative; }
  .dzscalendar .week-day {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 12px;
    width: 14%;
    width: calc(100%/7);
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .dzscalendar .week-day .divimage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover; }
    .dzscalendar .week-day .divimage-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .dzscalendar .week-day .the-number {
      position: relative; }
    .dzscalendar .week-day .the-event-content {
      display: none; }
  .dzscalendar .mon-row > span {
    white-space: nowrap; }
  .dzscalendar .theMonths {
    width: 100%;
    height: 151px;
    margin-top: 0;
    overflow: hidden; }
    .dzscalendar .theMonths > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
  .dzscalendar .main-mon .week-day.tag-red {
    background-color: red;
    color: #fff; }
  .dzscalendar .main-mon .week-day.tag-important {
    background-color: #ae1919;
    color: #fff; }
  .dzscalendar .main-mon .week-day.tag-blue {
    background-color: #2f96b4;
    color: #fff; }
  .dzscalendar .main-mon .week-day.tag-imgbg {
    background-color: transparent;
    background-size: cover;
    background-position: center center; }
  .dzscalendar .mon-row, .dzscalendar .headerRow {
    white-space: nowrap; }
  .dzscalendar .hasEvent, .dzscalendar .hasEventForHover {
    color: #6fb6ce;
    cursor: pointer;
    font-weight: bold; }
  .dzscalendar .label {
    color: #111; }

.dzscalendar.tooltip_transition-showContent .week-day .the-event-content {
  visibility: hidden;
  opacity: 0;
  display: block;
  padding: 20px;
  background: #fff;
  position: absolute;
  top: -40px;
  left: -40px;
  white-space: normal;
  width: calc(100% + 80px);
  transform: scale(0.8);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }
  .dzscalendar.tooltip_transition-showContent .week-day .the-event-content .divimage {
    position: relative;
    height: 160px; }
.dzscalendar.tooltip_transition-showContent .week-day.hasEventForHover:hover .the-event-content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 505; }

.dzscalendar.mode-datepicker .main-mon .mon-body .week-day {
  cursor: pointer; }

.dzscalendar .main-mon .other-months-date {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.dzscalendar .past-date {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.dzscalendar .calendar-controls {
  min-height: 27px;
  width: 100%; }

.dzscalendar .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent no-repeat center center url(images/arrowline-left-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent no-repeat center center url(images/arrowline-right-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar .calendar-controls .curr-date {
  text-align: center;
  padding-top: 0px; }

.dzscalendar .calendar-controls .curr-month {
  margin-right: 15px; }

.dzscalendar .calendar-controls .curr-year {
  color: #aaa; }

.dzscalendar .theMonths, .dzscalendar .calendar-controls {
  width: 100%; }

.dzscalendar .slideDescription {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.dzscalendar .slideDescription .desc-close-button {
  position: absolute;
  top: 10px;
  right: 5px;
  text-align: center;
  padding: 1px 7px;
  border: 1px solid white;
  border-radius: 20px;
  font-family: arial, serif;
  cursor: pointer; }

/*=== the DZS tooltip -->
*/
.dzscalendar .dzstooltip {
  position: absolute;
  opacity: 0;
  z-index: 576;
  text-align: left;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: margin-top;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: margin-top;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: margin-top;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }
  .dzscalendar .dzstooltip .bg-div {
    background-position: center center;
    background-size: cover; }

.dzstooltip span.label {
  font-weight: bold; }

.dzstooltip > div {
  padding-bottom: 10px; }

.dzstooltip > div > h5 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 10px; }

.dzscalendar .aux-transition-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1600px;
  -webkit-perspective: 1600px; }

.dzscalendar .aux-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.8s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 0.8s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.8s;
  -ms-transition-timing-function: ease-out; }

.dzscalendar .aux-transition > * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.dzscalendar .aux-transition > .theMonths {
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.8s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 0.8s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.8s;
  -ms-transition-timing-function: ease-out; }

.dzscalendar .aux-transition > .calendar-controls {
  transform: rotateX(-180deg);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-180deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.8s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: transform;
  -o-transition-duration: 0.8s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.8s;
  -ms-transition-timing-function: ease-out;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); }

.dzscalendar .aux-transition.dzsflipped > .theMonths {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); }

.dzscalendar .aux-transition.dzsflipped > .calendar-controls {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  box-shadow: 0 0 3px 0 transparent; }

.dzscalendar .aux-transition.backward > .theMonths {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); }

.dzscalendar .aux-transition.backward > .calendar-controls {
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg); }

.dzscalendar .aux-transition.backward.dzsflipped > .theMonths {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); }

.dzscalendar .aux-transition.backward.dzsflipped > .calendar-controls {
  transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg); }

.dzscalendar.skin-default .mon-row .week-day {
  font-style: italic; }

.dzscalendar.skin-other .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-other .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-black .testimonial span {
  font-size: 1em; }

.dzscalendar.skin-black .testimonial .the-author {
  font-size: 1em;
  font-family: Courier New, Arial;
  font-style: italic;
  color: #aaa;
  margin-top: 0px; }

.dzscalendar.skin-black {
  background: #222;
  color: #fff;
  padding: 7px 3px 12px;
  border-radius: 5px; }

.dzscalendar.skin-black .calendar-controls .arrow-left {
  position: absolute;
  top: 1px;
  left: 10px;
  background: transparent no-repeat center center url(images/arrowline-left-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-black .calendar-controls .arrow-right {
  position: absolute;
  top: 1px;
  right: 10px;
  background: transparent no-repeat center center url(images/arrowline-right-simple.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-aurora {
  width: 100%;
  height: 230px;
  color: #333; }
  .dzscalendar.skin-aurora .calendar-controls {
    background: #333;
    color: #fff;
    padding-top: 6px; }
    .dzscalendar.skin-aurora .calendar-controls .curr-date {
      padding-top: 5px;
      padding-bottom: 8px; }
  .dzscalendar.skin-aurora .theMonths {
    height: auto;
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .dzscalendar.skin-aurora .theMonths > * {
      position: absolute;
      top: 0;
      left: 0; }
  .dzscalendar.skin-aurora .mon-row, .dzscalendar.skin-aurora .headerRow {
    line-height: 1; }
  .dzscalendar.skin-aurora .mon-row:first-child .week-day {
    border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .dzscalendar.skin-aurora .week-day {
    background-color: #e5e5e5;
    opacity: 0.75;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 11px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 3px 7px;
    line-height: 1.2; }
  .dzscalendar.skin-aurora .week-day:last-child {
    border-right: 0px solid rgba(0, 0, 0, 0.2); }
  .dzscalendar.skin-aurora .hasEvent, .dzscalendar.skin-aurora .hasEventForHover {
    color: #ae1919;
    font-weight: normal; }
  .dzscalendar.skin-aurora .main-mon .today-date {
    font-weight: bold; }
  .dzscalendar.skin-aurora .main-mon .other-months-date {
    opacity: 0.3;
    filter: alpha(opacity=30); }
  .dzscalendar.skin-aurora .main-mon .curr-months-date {
    position: relative; }
  .dzscalendar.skin-aurora .main-mon .past-date {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.dzscalendar.skin-aurora .headerRow .week-day {
  background: #f6f6f6;
  font-size: 12px;
  border: 0;
  box-shadow: none; }
.dzscalendar.skin-aurora .mon-row .the-number {
  font-size: 13px;
}
.dzscalendar.skin-aurora .calendar-controls .arrow-left, .dzscalendar.skin-aurora .calendar-controls .arrow-right {
  position: absolute;
  top: 13px;
  left: 10px;
  background: transparent no-repeat center center url(images/arrowleft.png);
  width: 15px;
  height: 16px;
  cursor: pointer; }

.dzscalendar.skin-aurora .calendar-controls .arrow-right {
  left: auto;
  right: 10px;
  background: transparent no-repeat center center url(images/arrowright.png); }

/*======
========skin-responsive
*/
.dzscalendar.skin-responsive {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: auto; }

.dzscalendar.skin-responsive .calendar-controls {
  margin-bottom: 8px; }

.dzscalendar.skin-responsive .theMonths {
  height: auto; }

.dzscalendar.skin-responsive .theMonths > * {
  width: 100%;
  position: relative; }

.dzscalendar.skin-responsive .main-mon .week-day {
  width: 14%;
  height: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.dzscalendar.skin-responsive .main-mon .mon-row .week-day:first-child {
  border-left: 0px solid rgba(0, 0, 0, 0.1); }

.dzscalendar.skin-responsive .calendar-controls .arrow-left {
  left: 35px; }

.dzscalendar.skin-responsive .calendar-controls .arrow-right {
  right: 25px; }

/*==========================================================
========skin-responsive-galileo
=================================================================
*/
.dzscalendar-con.skin-responsive-galileo {
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2); }

.dzscalendar.skin-responsive-galileo {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  color: #222;
  transition-property: height;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  -moz-transition-property: height;
  -moz-transition-duration: 0.8s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: height;
  -o-transition-duration: 0.8s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: height;
  -ms-transition-duration: 0.8s;
  -ms-transition-timing-function: ease-out;
  overflow: visible; }

.dzscalendar.skin-responsive-galileo .calendar-controls {
  margin-bottom: 8px; }

.dzscalendar.skin-responsive-galileo .theMonths {
  height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.dzscalendar.skin-responsive-galileo .theMonths > * {
  width: 100%;
  position: relative; }

.dzscalendar.skin-responsive-galileo .past-date {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1; }

.dzscalendar.skin-responsive-galileo .headerRow {
  background: #ba5e5e;
  color: #eee; }

.dzscalendar.skin-responsive-galileo .headerRow .week-day {
  padding: 5px 0; }

.dzscalendar.skin-responsive-galileo .mon-row.separator {
  height: 20px; }

.dzscalendar.skin-responsive-galileo .theMonths {
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.dzscalendar.skin-responsive-galileo .main-mon .mon-body .mon-row {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.dzscalendar.skin-responsive-galileo .main-mon .mon-body .mon-row:empty {
  display: none; }

.dzscalendar.skin-responsive-galileo .main-mon .mon-body .mon-row:first-child {
  border-top: 0px solid rgba(0, 0, 0, 0.1); }

.dzscalendar.skin-responsive-galileo .main-mon .mon-body .week-day {
  width: 14%;
  height: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: bottom;
  text-align: right;
  font-size: 14px;
  font-size: 0.8rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  position: relative; }

.dzscalendar.skin-responsive-galileo .main-mon .week-day > span {
  position: absolute;
  right: 4px;
  bottom: 0; }

.dzscalendar.skin-responsive-galileo .main-mon .mon-row .week-day:first-child {
  border-left: 0px solid rgba(0, 0, 0, 0.1); }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-left {
  left: 35px; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-right {
  right: 25px; }

.dzscalendar.skin-responsive-galileo .calendar-controls {
  height: 350px;
  background: #eee;
  margin-bottom: 0; }

.dzscalendar.skin-responsive-galileo .calendar-controls .month-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.dzscalendar.skin-responsive-galileo .curr-date {
  color: #eee;
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 22px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 15px 20px;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3); }

.dzscalendar.skin-responsive-galileo .curr-date > * {
  color: #eee; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-left {
  position: absolute;
  left: 10px;
  opacity: 0.5;
  top: auto;
  bottom: 40px;
  background: transparent no-repeat center center url(images/arrowleft-galileo.png);
  width: 50px;
  height: 50px;
  cursor: pointer; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-left:hover {
  opacity: 0.7; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-right {
  position: absolute;
  left: auto;
  right: 0px;
  opacity: 0.5;
  top: auto;
  bottom: 40px;
  background: transparent no-repeat center center url(images/arrowright-galileo.png);
  width: 50px;
  height: 50px;
  cursor: pointer; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-right:hover {
  opacity: 0.7; }

.dzscalendar.skin-lions {
  background-color: #eeeeee;
  padding: 20px;
  font-family: "Lato", "Open Sans", arial; }
  .dzscalendar.skin-lions .calendar-controls {
    margin-bottom: 20px; }
    .dzscalendar.skin-lions .calendar-controls .arrow-left, .dzscalendar.skin-lions .calendar-controls .arrow-right {
      top: 24px;
      left: 15px;
      background-image: none;
      line-height: 1; }
    .dzscalendar.skin-lions .calendar-controls .arrow-right {
      left: auto;
      right: 15px; }
  .dzscalendar.skin-lions .curr-date {
    background-color: #ffffff;
    padding: 15px; }
    .dzscalendar.skin-lions .curr-date .curr-month {
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      color: #222222;
      margin-right: 10px; }
    .dzscalendar.skin-lions .curr-date .curr-year {
      font-size: 30px;
      font-weight: 300; }
  .dzscalendar.skin-lions .week-day {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 5px;
    text-align: left;
    background-color: #ffffff;
    font-weight: bold;
    color: #222222; }
    .dzscalendar.skin-lions .week-day .the-event-content h5 {
      margin-top: 20px;
      text-align: center; }
  .dzscalendar.skin-lions .week-day.odd {
    background-color: #f4f4f4; }
  .dzscalendar.skin-lions .week-day.hasEvent .divimage-overlay, .dzscalendar.skin-lions .week-day.hasEventForHover .divimage-overlay {
    background: rgba(0, 0, 0, 0.4); }
  .dzscalendar.skin-lions .week-day.hasEvent .the-number, .dzscalendar.skin-lions .week-day.hasEventForHover .the-number {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .dzscalendar.skin-lions .mon-head .week-day {
    text-align: center; }
  .dzscalendar.skin-lions .mon-body {
    margin-top: 15px; }
  .dzscalendar.skin-lions .mon-body > .mon-row:nth-last-child(1) .week-day {
    margin-bottom: 0; }

.dzscalendar.skin-lions-square {
  background-color: #eeeeee;
  padding: 20px;
  font-family: "Lato", "Open Sans", arial; }
  .dzscalendar.skin-lions-square .mon-head .week-day {
    padding: 15px 0; }
  .dzscalendar.skin-lions-square .calendar-controls {
    margin-bottom: 4px; }
    .dzscalendar.skin-lions-square .calendar-controls .arrow-left, .dzscalendar.skin-lions-square .calendar-controls .arrow-right {
      top: 18px;
      left: 15px;
      background-image: none;
      line-height: 1; }
    .dzscalendar.skin-lions-square .calendar-controls .arrow-right {
      left: auto;
      right: 15px; }
  .dzscalendar.skin-lions-square .curr-date {
    background-color: #ffffff;
    padding: 15px; }
    .dzscalendar.skin-lions-square .curr-date .curr-month {
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      color: #222222;
      margin-right: 10px; }
    .dzscalendar.skin-lions-square .curr-date .curr-year {
      font-size: 20px;
      font-weight: 300; }
  .dzscalendar.skin-lions-square .week-day {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 5px;
    text-align: left;
    background-color: #ffffff;
    font-weight: bold;
    color: #222222;
    line-height: 1;
    font-size: 14px; }
    .dzscalendar.skin-lions-square .week-day .the-number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .dzscalendar.skin-lions-square .week-day .the-event-content h5 {
      margin-top: 20px;
      text-align: center; }
  .dzscalendar.skin-lions-square .week-day.odd {
    background-color: #f4f4f4; }
  .dzscalendar.skin-lions-square .week-day.hasEvent .divimage-overlay, .dzscalendar.skin-lions-square .week-day.hasEventForHover .divimage-overlay {
    background: #444444; }
  .dzscalendar.skin-lions-square .week-day.hasEvent .the-number, .dzscalendar.skin-lions-square .week-day.hasEventForHover .the-number {
    color: #fff; }
  .dzscalendar.skin-lions-square .mon-head .week-day {
    text-align: center; }
  .dzscalendar.skin-lions-square .mon-body {
    margin-top: 0px; }
  .dzscalendar.skin-lions-square .mon-body > .mon-row:nth-last-child(1) .week-day {
    margin-bottom: 0; }

/* --- responsive props */
.dzscalendar.skin-responsive-galileo.under-480 .curr-date {
  font-size: 13px; }

.dzscalendar.skin-responsive-galileo.under-240 .main-mon .week-day {
  width: 14%;
  height: 30px;
  font-size: 12px;
  font-size: 0.6rem; }

.dzscalendar.skin-responsive-galileo.under-240 .curr-date {
  font-size: 10px; }

.dzscalendar.skin-responsive-galileo.under-240 .calendar-controls {
  height: 230px; }

.non-animation {
  transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s; }

.event-receiver {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  padding: 10px 15px;
  border-radius: 0;
  color: #888; }

.dzscal-blog-event {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }
  .dzscal-blog-event * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */ }
  .dzscal-blog-event .dzscal-date-con {
    float: left;
    width: 70px;
    margin-right: 30px;
    background: #cb1919;
    text-align: center;
    color: #fff;
    padding: 18px 10px;
    font-family: Courier New, Arial; }
    .dzscal-blog-event .dzscal-date-con .date-con--date {
      font-size: 30px;
      margin-bottom: 3px; }
    .dzscal-blog-event .dzscal-date-con .date-con--month {
      font-size: 15px;
      opacity: 0.7; }

.dzscal-blog-event:after {
  display: block;
  clear: both;
  content: " "; }

/*# sourceMappingURL=dzscalendar.css.map */
.dzscalendar.skin-white{
	background: #fff;
  color: #000;
  padding: 7px 3px 12px;
  border-radius: 5px;
  border:1px solid #000;
}
