﻿#if($DataList.Count > 0)
	<div class="$EffectThemeName">
			<ul class="article_toplist">
			#foreach($DataItem in $DataList)
				<li class="clearfix">
                 #if(${xf.ViewEffectSetting("DisplayPicture",true)})
                    #if($DataItem.AdditionalPicture > 0)
					<div class="post_thum"><a href="${xf.GoUrl($DataItem)}"><img src="${xf.ThumbnailUrl($DataItem,${xf.ViewEffectSetting("thumbnail_width",200)},200,"W")}"  alt="" title="" /></a></div>
                    #end
                 #end
                    
                <div class="view_right">
                #if(${xf.ViewEffectSetting("DisplayTitle",true)})
                    <h3 class="post_title"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">$DataItem.Title</a></h3>
                #end
               
                    <div class="post_date"> 
                    
                     #if(${xf.ViewEffectSetting("DisplayAuthor",true)})
             	       <a href="${xf.GoAuthorUrl($DataItem.CreateUser)}" title="${xf.ViewUser($DataItem.CreateUser,"DisplayName")}">${xf.ViewUser($DataItem.CreateUser,"DisplayName")}</a> 
            	    #end    
                    
                     #if(${xf.ViewEffectSetting("Displaydate",true)})
                        #if( ${xf.ViewEffectSetting("DateAndDateTime","Date Time")} == "Date Time") $DataItem.PublishTime.ToString() #else $DataItem.PublishTime.ToShortDateString() #end  
                     #end
                    
                    </div> 
               
               
                #if(${xf.ViewEffectSetting("Displaycategory",true)})
                    <div class="post_category">${xf.ViewCategories($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaytags",true)})
                    <div class="post_tags">${xf.ViewTags($DataItem)}</div>
                #end
                #if(${xf.ViewEffectSetting("Displaysummary",true)})
                    <div class="post_summary"> ${xf.ViewSummary($DataItem,${xf.ViewEffectSetting("summarynumber",200)},"...")}  </div>
                #end
                #if(${xf.ViewEffectSetting("DisplayMore",true)})
               		 <div class="post_more"><a href="${xf.GoUrl($DataItem)}" title="$DataItem.Title">${xf.ViewEffectSetting("MoreText","Read More")}</a></div>
                #end     
                </div>
                    
			</li>
            
		    #end
		    </ul>
            
	</div>
#end
#if($DataList.Count > 0 && ${xf.ViewEffectSetting("EnablePaging","false")} == "true")
    <div class="xblog_page"> ${Pager} </div>
#end 