﻿#if(${xf.ViewSkinSetting("Displayrssicons",true)}) 
<!-- Rss Begin-->
<div class="event_rss"><a href="${xf.GoRssUrl()}" target="_blank"><img src="${xf.EffectPath}images/rss.png" alt="${xf.ViewLanguage("RSS","RSS")}" title="${xf.ViewLanguage("RSS","RSS")}" /></a></div>
<!-- Rss End--> 
#end
<div class="event_accordion  $SkinThemeName topinfo"> #if($Navigation.IsView)
  <div class="page_meta"> $Navigation.Title: <span> $Navigation.Content</span><a href="${xf.GoUrl()}">${xf.ViewLanguage("Return","Return")}</a> </div>
  #if($Navigation.AuthorID >0)
  <div class="author_info clearfix">
    <div class="thum"><img src="${xf.ViewAuthorPic($Navigation.AuthorID)}" /></div>
    <div class="author_desc">${xf.ViewAuthorBiography($Navigation.AuthorID)}</div>
  </div>
  #end
  #end </div>
  
#if($DataList.Count > 0)

<div class="event_accordion $SkinThemeName" id="event_list${ModuleID}"> 
    #foreach($DataItem in $DataList)
    <div class="event_post" data-dateday="$DataItem.StartTime.ToString("dd")">
        <div class="event-title" style="border-left-color:${xf.ViewContent("Color",$DataItem)}"> 
          #if(${xf.ViewSkinSetting("DisplaytlDate",true)})
          <div class="event-date">
            <div class="endtime">$DataItem.EndTime.ToString("dd")<span>$DataItem.EndTime.ToString("MMM")</span> </div>
            $DataItem.StartTime.ToString("dd")<span>$DataItem.StartTime.ToString("MMM")</span> 
          </div>
          #end
          <div class="event-title-right"> 
            #if(${xf.ViewSkinSetting("DisplayTitle",true)})
            <h3> <a href="${xf.GoUrl($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}">${xf.ViewContent("Title",$DataItem)}</a> #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"> <a href="${xf.GoEditUrl($DataItem)}" target="_blank"> <img src="${xf.EffectPath}images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /> </a> </span> #end </h3>
            #end
            <div class="event-info"> 
            #if(${xf.ViewSkinSetting("DisplayttDate",true)}) <span class="event-time"><span class="fa fa-clock-o"></span> #if($DataItem.Rules.AllDay==1)${DataItem.StartTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} — ${DataItem.EndTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} #else ${DataItem.StartTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})} — ${DataItem.EndTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})}#end  #if(${xf.ViewSkinSetting("DisplayTimeZone",true)})<span class="TimeZone">${TimeZone} </span>#end</span><span class="sep"> &nbsp;&nbsp;</span> #end
            #if(${xf.ViewSkinSetting("DisplayttLocation",true)} && ${xf.ViewContent("Location",$DataItem)}!="") <span class="event-location"><span class="fa fa-map-marker"></span> ${xf.ViewContent("Location",$DataItem)}</span> #end 
           </div>
         </div>
         <div class="clear"></div>
        </div>
        
        <div class="event-content"> 
          #if(${xf.ViewSkinSetting("Displayimage",true)} && $DataItem.Picture > 0)
          <div class="event-PictureUrl"> <img src="${xf.ViewPicture($DataItem)}"  alt="${xf.ViewContent("Title",$DataItem)}" title="${xf.ViewContent("Title",$DataItem)}"/> </div>
          #end
          #if(${xf.ViewSkinSetting("Displaysummary",true)} &&  $DataItem.Summary > 0)
          <div class="event-details ">
            <h5><span class="fa fa-bookmark"></span> ${xf.ViewLanguage("EventSummary","Event summary")}</h5>
            <div class="summary">${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}</div>
          </div>
          #end
          #if(${xf.ViewContent("ContentText",$DataItem)}!="" && ${xf.ViewSkinSetting("Displaycontent",true)})
          <div class="event-details">
            <h5><span class="fa fa-file-text"></span> ${xf.ViewLanguage("EventDetails","Event details")}</h5>
            <div class="summary">${xf.ViewContent("ContentText",$DataItem)}</div>
          </div>
          #end
          <div class="event-details-info">
            <ul>
              #if(${xf.ViewSkinSetting("DisplayDate",true)})
              <li>
                <h5><span class="fa fa-clock-o"></span> ${xf.ViewLanguage("Time","Time")}</h5>
                <div>#if($DataItem.Rules.AllDay==1)${DataItem.StartTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} — ${DataItem.EndTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} #else ${DataItem.StartTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})} — ${DataItem.EndTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})}#end</div>
                #if(${xf.ViewSkinSetting("DisplayTimeZone2",true)})
                <div class="TimeZone">${TimeZone} </div>
                #end </li>
              #end
              #if(${xf.ViewSkinSetting("Displaylocation",true)} && ${xf.ViewContent("Location",$DataItem)}!="")
              <li>
                <h5><span class="fa fa-map-marker"></span> ${xf.ViewLanguage("Location","Location")}</h5>
                <p>${xf.ViewContent("Location",$DataItem)}</p>
              </li>
              #end
            </ul>
          </div>
          <div class="event-details-info">
            <ul>
              #if(${xf.ViewSkinSetting("Displaycategorie",true)} && ${xf.ViewCategories($DataItem)}!="")
              <li>
                <h5><span class="fa fa-sitemap"></span>${xf.ViewLanguage("Category","Category")}</h5>
                <p>${xf.ViewCategories($DataItem)}</p>
              </li>
              #end
              #if(${xf.ViewSkinSetting("Displaytag",true)} && ${xf.ViewTags($DataItem)}!="")
              <li>
                <h5><span class="fa fa-tag"></span>${xf.ViewLanguage("Tags","Tags")}</h5>
                <p>${xf.ViewTags($DataItem)}</p>
              </li>
              #end
            </ul>
          </div>
          #if(${xf.ViewSkinSetting("DisplayMap",true)})
          <div class="event-gmap" data-address="[${xf.ViewContent("LocationXY",$DataItem)}]"  data-icon="${xf.ViewLinkUrl($DataItem.Address.MarkerIcon,"")}"><h5>${DataItem.Address.Title}</h5>${DataItem.Address.MarkerText}</div>
         #end 
        </div>
    </div>
    #end
</div>

#else

<div class="event_noevent">
  <div class="info">${xf.ViewLanguage("NoEvents","No upcoming events in this date range.")} </div>
</div>

#end

<div class="event_page">
    #if(${xf.ViewSkinSetting("DisplayPagination",true)})
        #if(${PagerMode})
            ${Pager}
        #else
            ${MonthPager}
        #end
    #end
</div>
#if($DataList.Count > 0)

<script type="text/javascript">
if(mapapikey){
	mapapikey = mapapikey==""?"${xf.ViewSetting("General.APIKey","")}":mapapikey;
}else{
	var mapapikey = "${xf.ViewSetting("General.APIKey","")}";
}

$("#event_list${ModuleID}").each(function() {
	
	if (typeof mapcallback == 'function') { 
	var Ev_Map${ModuleID} = mapcallback;
		mapcallback = function(){
			Ev_Map${ModuleID}();				
		}
	}else{
		mapcallback = function(){}
	}

	
    $(this).find(".event-title").on("click",function() {
		var e=$(this);
		e.siblings(".event-content").slideToggle(200,function(){
			var ev=$(this);
			var markers=ev.find(".event-gmap").data("address"),
				markertitle=ev.find(".event-gmap").html(),
				markericon=ev.find(".event-gmap").data("icon");
				
			var xE_gmap_Acc=function(){
				ev.find(".event-gmap").gmap3({
					marker:{
						values:[{
							latLng:markers ,
							data: markertitle
						}],
						options:{
						  draggable: false,
						  icon:markericon
						},
						events:{
						  click: function(marker, event, context){
							var map = $(this).gmap3("get"),
							  infowindow = $(this).gmap3({get:{name:"infowindow"}});
							if (infowindow){
							  infowindow.open(map, marker);
							  infowindow.setContent(context.data);
							} else {
							  $(this).gmap3({
								infowindow:{
								  anchor:marker, 
								  options:{content: context.data}
								}
							  });
							}
						  }
						}
					},
					map:{
						options:{
						  zoom:${xf.ViewSkinSetting("AccgmapZoom","14")},
						  scrollwheel:${xf.ViewSkinSetting("Accgmapswheel","false")},
						}
					}
				})
			}
			if (typeof($(document).gmap3) == "function") { 
			xE_gmap_Acc();
			
			}else{
			
			if (typeof mapcallback == 'function') { 
			var xE_MapList_Acc = mapcallback;
				mapcallback = function(){
					xE_MapList_Acc();
					xE_gmap_Acc();
				}
			}else{
				mapcallback = function(){
					xE_gmap_Acc();
				}
			}

			
			}
		});
		
	})
	
});
var today = new Date();
$(".event_post").each(function() {
    if(today.format("dd")==$(this).data("dateday")){
	$(this).addClass("today")
	}
});


</script> 
    #else
   
<script type="text/javascript">
  if (typeof mapcallback != 'function'){ 
		mapcallback = function(){}
	}

  </script> 
     
    #end
    
   
  
 














