 /*
	JQuery Accordion
	Author: marcoarib
	Date: 2013/05/29
	Contact: marco.arib@gmail.com
	Website: http://codecanyon.net/user/marcoarib
*/

.Theme_06_Default.accordion{
	width: 100%;
	font-family: Segoe UI, Arial;
	font-size: 14px;
}
.Theme_06_Default .accordion-item {
	margin-bottom:3px;
}
.Theme_06_Default .accordion-header{
	margin: 0;
	font-size: 15px;
	color: #777;
	cursor: pointer;
	border: solid 1px #dddddd;
	background: #f5f5f5;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 4px;
}
.Theme_06_Default .accordion-header:hover{
	background: #f0f0f0;
}
.Theme_06_Default .accordion-header span.title{
	display: inline-block;
	margin-left: 8px;
	padding: 12px 0 12px 3px;
}
.Theme_06_Default .accordion-header i{
	display: block;
	float: left;
	font-size: 20px;
	margin-left: 12px;
	margin-top: 9px;
	margin-top: 7px \9;
}
.Theme_06_Default .accordion-header:before{
	content:"";
	position:absolute;
	top:50%;
	right:15px;
	width:5px;
	height:5px;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid transparent;
	border-top:1px solid transparent;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	margin-top:-6px;
}
.Theme_06_Default .accordion-header.opened.focus:before{
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	margin-top:-1px;
}


.Theme_06_Default .accordion-content{
	display: none;
	padding: 20px 15px 20px;
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
	background: #f1f1f1;
}
.Theme_06_Default .accordion p {
	margin-bottom:8px;}
/* header focus style
-----------------------------*/
.Theme_06_Default .focus, 
.Theme_06_Default .focus:hover{
	color: #666;
	background: #eeeeee;
	border-color: #dddddd;
}
.Theme_06_Default .opened{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* grid system
-----------------------------*/
.Theme_06_Default .accordion-content .row{
	width: 100%;
	margin-top: 15px;
}
.Theme_06_Default .accordion-content .row:first-child {
	margin-top: 0;
}
.Theme_06_Default .accordion-content .row:before,
.Theme_06_Default .accordion-content .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.Theme_06_Default .accordion-content .row:after {
	clear: both;
}
.Theme_06_Default .accordion-content .row .col1,
.Theme_06_Default .accordion-content .row .col2,
.Theme_06_Default .accordion-content .row .col3,
.Theme_06_Default .accordion-content .row .col4{
	display: block;
	width: 100%;
	min-height: 20px;
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.Theme_06_Default .accordion-content .row [class*="col"]:first-child {
	margin-left: 0;
}
.Theme_06_Default .accordion-content .row .col1{
	width: 23.404255319148934%;
}
.Theme_06_Default .accordion-content .row .col2{
	width: 48.93617021276595%;
}
.Theme_06_Default .accordion-content .row .col3{
	width: 74.46808510638297%;
}
.Theme_06_Default .accordion-content .row .col4{
	width: 100%;
}

/* responsive layout
-----------------------------*/
@media (max-width: 480px) {
	.Theme_06_Default .accordion-content .row [class*="col"]{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		margin-top: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.Theme_06_Default .accordion-content .row:first-child  [class*="col"]:first-child {
		margin-top: 0;
	}
	.Theme_06_Default .accordion-content .row{
		margin-top: 0;
	}
}
