[class^='btn-'],
[class*=' btn-'] {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    height: 50px;
    padding: 0 25px;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 50px;
    -webkit-transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
}



body .btn-01,
body .btn-01:link,
body .btn-01:active,
body .btn-01:visited,
body .btn-01[type="button"],
body .btn-01[type="submit"] {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    background-color: #1abc9c;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
body .btn-01 * {
    color: #fff;
}
body .btn-01:hover{
    background-color: #00aa89;
}



body .btn-02,
body .btn-02:link,
body .btn-02:active,
body .btn-02:visited,
body .btn-02[type="button"],
body .btn-02[type="submit"] {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
    z-index: 1;
}
body .btn-02::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40%;
    opacity: 1;
    border: #FFF 24px solid;
    border-color: #1abc9c;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
    -webkit-animation: btn-02 10s linear infinite paused;
    animation: btn-02 10s linear infinite paused;
    transition: border-color .3s cubic-bezier(0.22, 0.61, 0.36, 1);

}
body .btn-02:hover::after{
    -webkit-animation-play-state:running;
    animation-play-state:running;
    border-color: #00aa89;
}
@-webkit-keyframes btn-02 {
    0% {
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(405deg);
    }
}

@keyframes btn-02 {
    100% {
        transform: rotate(405deg);
    }
}



body .btn-03,
body .btn-03:link,
body .btn-03:active,
body .btn-03:visited,
body .btn-03[type="button"],
body .btn-03[type="submit"] {
    display: inline-block;
    font-size: 18px;
    color: #333333;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 0;
}
body .btn-03::before{
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    width: 60px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 20px 5px 0;
    color: #1abc9c;
    font-size: 16px;
    text-indent: 5px;
}
body .btn-03 * {
    color: #fff;
}



body .btn-04,
body .btn-04:link,
body .btn-04:active,
body .btn-04:visited,
body .btn-04[type="button"],
body .btn-04[type="submit"] {
  color: #333333;
  display: inline-block;
  color: #ffffff;
  background-color: #1abc9c;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
  -webkit-transition-property: all;
  transition-property: all; 
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
  transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.btn-04 span{
    display: inline-block;
    color: inherit;
    font-size: 16px;
    font-weight: 700;

    -webkit-transition-property: all;
    transition-property: all; 
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.btn-04 i{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    text-align: center;
    vertical-align:  middle;
    color: #1abc9c;
    background-color: #ffffff;
    border-radius: 50%;

    -webkit-transition-property: all;
    transition-property: all; 
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.btn-04 i:last-child{
    margin-left: 4px;
    transform:translateX(18px);
    opacity: 1;
    visibility: visible;
}
body .btn-04:hover{
    background: #00aa89;
}
body .btn-04:hover i{
    color: #00aa89;
}

body .btn-05{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: auto;
    padding: 0;
    color: inherit;
    font-size: 16px;
    line-height: inherit;
}
.btn-05 span{
    display: inline-flex;
    margin-right: 26px;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;
    color: #ffffff;
    background-color: #1abc9c;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position:relative;
    font-size: 21px;
    z-index:2;
}
.btn-05 span i{
    position: relative;
}
body .btn-05:link,
body .btn-05:active,
body .btn-05:visited,
body .btn-05:hover{
    color: inherit;
}
@-webkit-keyframes btn-05 {
    0% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    } 
}
@keyframes btn-05 {
    0% {
        opacity:.8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.btn-05 span::before,
.btn-05 span::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: inherit;
    border-radius: 50%;
    opacity: 0.2;
    z-index: -1;
}
.btn-05 span::before{
    -webkit-animation: btn-05 2s infinite 0.25s;
    animation: btn-05 2s infinite 0.25s;
}
.btn-05 span::after{
    -webkit-animation: btn-05 2s infinite 0.5s;
    animation: btn-05 2s infinite 0.5s;
}




body .btn-06,
body .btn-06:link,
body .btn-06:active,
body .btn-06:visited,
body .btn-06[type="button"],
body .btn-06[type="submit"] {
    color: #1abc9c;
    display: inline-block;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
    -webkit-transition-property: all;
    transition-property: all; 
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
body .btn-06 i{
    color: currentColor;
    font-size: 1.3em;
    vertical-align: text-top;
    padding-left: 8px;
}


body .btn-07,
body .btn-07:link,
body .btn-07:active,
body .btn-07:visited,
body .btn-07[type="button"],
body .btn-07[type="submit"] {
    color: #ffffff;
    display: inline-flex;
    background-color: #1abc9c;
    overflow: hidden;
    font-size: 16px;
    border-radius: 3px;
    padding: 0;

    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .btn-07 span{
    padding: 0 28px;
}
body .btn-07 i{
    font-size: 1.2em;
    padding: 0 15px;
    background: #3ad2b4;
    line-height: 50px;
    
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .btn-07:hover{
    background-color: #00aa89;
}
body .btn-07:hover i{
    background: #1abc9c;
}

body .btn-08{
    margin: 0px 30px 15px 0;
    border-bottom: 1px solid #9a9a9a;
    position: relative;
}
body .btn-08,
body .btn-08:link,
body .btn-08:active,
body .btn-08:visited,
body .btn-08[type="button"],
body .btn-08[type="submit"] {
    color: #666666;
    display: inline-flex;
    font-size: 16px;
    padding: 0 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    height: 34px;
    line-height: 34px;
    border-radius: 0;
}
body .btn-08 span{
    padding: 0 28px;
}
body .btn-08 i{
    font-size: 1.2em;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    display: inline-block;
    line-height: inherit;
    margin-left: 10px;
    vertical-align: middle;
}
body .btn-08::after{
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    border-bottom: 1px solid #272727;
    bottom: -1px;
    transition: right 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
body .btn-08:hover::after{
    right: 0;
}

.btn-08:last-child{
    margin-right: 0
}

body .btn-09,
body .btn-09:link,
body .btn-09:active,
body .btn-09:visited,
body .btn-09[type="button"],
body .btn-09[type="submit"] {
    color: #ffffff;
    display: inline-block;
    overflow: hidden;
    border:2px solid #ffffff;
    line-height: 46px;
    padding: 0 30px;
}
body .btn-09 i{
    color: currentColor;
    font-size: 1.3em;
    vertical-align: text-top;
    padding-left: 8px;
}

body .btn-10,
body .btn-10:link,
body .btn-10:active,
body .btn-10:visited,
body .btn-10[type="button"],
body .btn-10[type="submit"] {
    color: #ffffff;
    display: inline-block;
    padding: 0 0px 0 9px;
}
body .btn-10 i{
    color: #1abc9c;
    font-size: 12px;
    vertical-align: text-top;
    padding-left: 2px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 3px;
}
body .btn-10 i::after{
    content: "";
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
}


body .btn-11,
body .btn-11:link,
body .btn-11:active,
body .btn-11:visited,
body .btn-11[type="button"],
body .btn-11[type="submit"] {
    color: #ffffff;
    display: inline-block;
    padding: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #1abc9c;
    box-shadow: 0 0 12px #1abc9c;
    -webkit-transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    text-indent: 4px;
}
body .btn-11:hover{
    background-color: #00aa89;
}



body .btn-12,
body .btn-12:link,
body .btn-12:active,
body .btn-12:visited,
body .btn-12[type="button"],
body .btn-12[type="submit"] {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    background-color: #1abc9c;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    box-shadow: 0 0 8px #1abc9c;
}
body .btn-12 * {
    color: #fff;
}
body .btn-12:hover{
    background-color: #00aa89;
}


body .btn-13,
body .btn-13:link,
body .btn-13:active,
body .btn-13:visited,
body .btn-13[type="button"],
body .btn-13[type="submit"] {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    background-color: #1abc9c;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}
body .btn-13 * {
    color: #fff;
}
body .btn-13:hover{
    background-color: #00aa89;
}



body .button-14,
body .button-14:link,
body .button-14:active,
body .button-14:visited,
body .button-14[type="button"],
body .button-14[type="submit"] {
    display: inline-block;
    font-size: 16px;
    color: #1abc9c;
    padding: 0 30px;
    background-color: #ffffff;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
body .button-14 * {
    color: #fff;
}
body .button-14:hover{
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22) ;
}
body .button-14:active{
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.22), 0 2px 3px rgba(0, 0, 0, 0.22) inset;
 }

body .button-15,
body .button-15:link,
body .button-15:active,
body .button-15:visited,
body .button-15[type="button"],
body .button-15[type="submit"] {
    display: inline-block;
    font-size: 18px;
    color: inherit;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 0;
}
body .button-15::before{
    content: "\f04b";
    font-family: "Font Awesome 5 Free";
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 20px 5px 0;
    color: #e9af4a;
    font-size: 14px;
    text-indent: 5px;
    background-color: #ffffff;
}
body .button-15 * {
    color: #fff;
}



