/* infobox-01 */
.infobox-01{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: 14px 0;

}
.infobox-01::after{
    content: "";
    position: absolute;
    display: block;
    left: 42px;
    top: 100%;
    width: 1px;
    height: calc( 100% - 84px - 20px );
    border-right: 1px #d1d1d1 dashed;
}
.infobox-01:last-of-type::after{
    content: none;
}
.infobox-01 .counter{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 24px;
    color: #424242;
    text-align: center;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.infobox-01 .counter div{
    position: relative;
    z-index: 1;
}
.infobox-01 .counter::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 84px;
    height: 84px;
    border: 4px solid #eff1f1;
    border-radius: 50%;
    position: absolute;
    clip: rect(0px, 84px, 62px, 42px);
    z-index: 0;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.infobox-01:nth-of-type(3n+1){

}
.infobox-01:nth-of-type(3n+2){
    padding-bottom: 25px;
}
.infobox-01:nth-of-type(3n+3){
    padding-top: 25px;
    padding-bottom: 25px;
}
.infobox-01:nth-of-type(3n+1)::after{
    top: calc( 14px + 84px );
    height: calc( 100% - 84px - 0px );
}
.infobox-01:nth-of-type(3n+2)::after{
    top: calc( 14px + 84px + 10px );
    height: calc( 100% - 84px - 9px);
}
.infobox-01:nth-of-type(3n+3)::after{
    top: calc( 100% - 25px - 1px );
    height: calc( 100% - 84px - 20px);
}


.infobox-01:nth-of-type(3n+1) .counter::before{
    transform: rotate(0deg);
}
.infobox-01:nth-of-type(3n+2) .counter::before{
    transform: rotate(120deg);
}
.infobox-01:nth-of-type(3n+3) .counter::before{
    transform: rotate(240deg);
}

.infobox-01 .counter::after{
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    right: 11px;
    bottom: 11px;
    left: 11px;
    border-radius: 50%;
    background: #eff1f1;
    z-index: 0;
    -webkit-transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.infobox-01 .content{
    padding-left: 28px;
    padding-right: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.infobox-01 .content > :first-child{
    margin-top: 0;
    margin-bottom: 8px;
}
.infobox-01 .content p:last-child{
    margin-bottom: 0;
}
.infobox-01:hover .counter{
    color: #ffffff;
}
.infobox-01:hover .counter::before{
    border-color: #1abc9c;
}
.infobox-01:hover .counter::after{
    background: #1abc9c;
}



/* infobox-02 */
.infobox-02{
    
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 55px 30px 50px;

    border-radius: 2px;
    text-align: center;

    background: #fff;

    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}
.infobox-02 .pic{
    flex-shrink: 0;
    position: relative;
    display: inline-flex;
    width: 116px;
    height: 116px;
    margin: 0 auto 21px;
    justify-content: center;
    align-items: center;

    z-index: 1;
}
.infobox-02 .pic::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40%;
    opacity: 0.1;
    border: currentColor 57px solid;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;

    -webkit-animation: infobox02 10s linear infinite paused;
    animation: infobox02 10s linear infinite paused;
}
.infobox-02 .pic img{
    max-width: 100%;
}
.infobox-02 .content{
    flex-basis: 100%;
}
.infobox-02 .button{
    position: relative;
    display: inline-block;
    margin: 21px 0 auto;
    z-index: 1;
}


.infobox-02:hover .pic::before{
    -webkit-animation-play-state:running;
    animation-play-state:running;
}
@-webkit-keyframes infobox02 {
    0% {
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(405deg);
    }
}

@keyframes infobox02 {
    100% {
        transform: rotate(405deg);
    }
}


/* infobox-03 */
.infobox-03{
    position: relative;
    text-align: center;
}
.infobox-03 .pic-box{
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
}
.infobox-03 .pic-box .pic{
    max-width: 280px;
    height: auto;

    border-radius: 50%;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}
.infobox-03 .pic-box > a{
    position: absolute;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 46px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #1abc9c;
    border-radius: 50%;

    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
    visibility: hidden;

    -webkit-transform: translateY(5px) scale(0) translateZ(0);
    transform: translateY(5px) scale(0) translateZ(0);

    -webkit-transition: .3s cubic-bezier(.1,1.02,.58,1);
    transition: .3s cubic-bezier(.1,1.02,.58,1);
}

.infobox-03 .pic-box > a:nth-child(-n+7){
    visibility: visible;
}
.infobox-03 .pic-box > a:nth-of-type(1){
    left: 4%;
    bottom: 4%;

    font-size: 25px;
    width: 60px;
    height: 60px;
    -webkit-transform: translateY(0) scale(1) translateZ(0);
    transform: translateY(0) scale(1) translateZ(0);
}
.infobox-03 .pic-box > a:nth-of-type(2){
    left: -6%;
    bottom: 27%;

    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.infobox-03 .pic-box > a:nth-of-type(3){
    left: -7.6%;
    bottom: 47.8%;

    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.infobox-03 .pic-box > a:nth-of-type(4){
    left: -1%;
    bottom: 67.8%;

    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.infobox-03 .pic-box > a:nth-of-type(5){
    left: 14.6%;
    bottom: 84.8%;

    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}
.infobox-03 .pic-box > a:nth-of-type(6){
    left: 33.6%;
    bottom: 91.8%;

    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.infobox-03 .pic-box:hover > a{
    -webkit-transform: translateY(0) scale(1) translateZ(0);
    transform: translateY(0) scale(1) translateZ(0);
}
.infobox-03 .pic-box:hover > a:nth-of-type(2){
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.infobox-03 .pic-box:hover > a:nth-of-type(3){
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}
.infobox-03 .pic-box:hover > a:nth-of-type(4){
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.infobox-03 .pic-box:hover > a:nth-of-type(5){
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.infobox-03 .pic-box:hover > a:nth-of-type(6){
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.infobox-03 .content{
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 991px) {
    .infobox-03 .pic-box > a{
        width: 36px;
        height: 36px;  
    }
    .infobox-03 .pic-box > a:nth-of-type(1){
        font-size: 20px;
        width: 48px;
        height: 48px;
        left: 10%;
        bottom: 4%;
    }
    .infobox-03 .pic-box > a:nth-of-type(2){
        left: -3%;
        bottom: 27%;
    }
    .infobox-03 .pic-box > a:nth-of-type(3){
        left: -6.6%;
        bottom: 47.8%;
    }
    .infobox-03 .pic-box > a:nth-of-type(4){
        left: -1%;
        bottom: 67.8%;
    }
    .infobox-03 .pic-box > a:nth-of-type(5){
        left: 14.6%;
        bottom: 84.8%;
    }
    .infobox-03 .pic-box > a:nth-of-type(6){
        left: 33.6%;
        bottom: 92.8%;
    }
}


/* infobox-04 */
.infobox-04{
    position: relative;
    padding: 109px 15px 111px;

    overflow: hidden;
    height: 100%;
}
.infobox-04 .box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.infobox-04 .title {
    margin-bottom: 17px;
}
.infobox-04 .title small{
    display: inline-block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.infobox-04 .title small::before{
    content: "";
    width: 30px;
    display: inline-block;
    color: #1abc9c;
    border-bottom: 2px solid currentColor;
    vertical-align: middle;
    margin: 0 10px 3px 0;
}
.infobox-04 .content{
    flex-grow: 1;
}
.infobox-04 .link{
    margin-top: 19px;
}
.infobox-04 .link a{
    color: #787878;
    font-weight: 600;
}
.infobox-04 .link a:hover{
    color: #1abc9c;
}
.infobox-04 .link a span{
    color: #1abc9c;
    display: inline-block;
    height: 100%;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
}
.infobox-04 .icon{
    position: absolute;
    right: -40px;
    bottom: -105px;
    font-size: 286px;
    line-height: 1;
    color: rgba(0,0,0,.03);
    z-index: 0;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.row [class*='col']:nth-child(even) .infobox-04{
    background: #f4f4f4;
}

.infobox-04,
.infobox-04 .title small,
.infobox-04 .title small::before,
.infobox-04 .title h1,
.infobox-04 .title h2,
.infobox-04 .title h3,
.infobox-04 .title h4,
.infobox-04 .title h5,
.infobox-04 .title h6,
.infobox-04 .link a,
.infobox-04 .link a span{
    -webkit-transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.infobox-04:hover,
.row [class*='col']:nth-child(even) .infobox-04:hover{
    background: #1abc9c;
}
.infobox-04:hover,
.infobox-04:hover .title small,
.infobox-04:hover .title small::before,
.infobox-04:hover .title h1,
.infobox-04:hover .title h2,
.infobox-04:hover .title h3,
.infobox-04:hover .title h4,
.infobox-04:hover .title h5,
.infobox-04:hover .title h6,
.infobox-04:hover .link a,
.infobox-04:hover .link a span{
    color:#fff;
}




.infobox-05{
    text-align: center;
    margin-bottom: 60px;
}
.infobox-05 .number{
    width: 86px;
    height: 86px;
    line-height: 86px;
    background-color: #1abc9c;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 40px;
    position: relative;
    color: #fff;
    font-weight: 600;
}
.infobox-05 .number::after{
    content: "";
    position: absolute;
    color: #1abc9c;
    border: 2px solid transparent;
    border-top-color:currentColor;
    top:-10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    transform: rotate(45deg);
    pointer-events: none;
}
.infobox-05 .number.number-02::after{
    border-right-color:currentColor;
}
.infobox-05 .number.number-03::after{
    border-right-color:currentColor;
    border-bottom-color:currentColor;
}
.infobox-05 .number.number-04::after{
    border-color:currentColor;
}
.infobox-05 .title{
    margin: 0 0 18px;
}
.infobox-05 p{
   color: #e3e3e3;
}

 


.infobox-06{
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    padding: 40px 35px 18px;
    text-align: center;
    margin-bottom: 30px;

    font-size: 16px;
}
.infobox-06 .pic img{
    border-radius: 50%;   
}
.infobox-06 .pic{
    width: 175px;
    border-radius: 50%;
    margin: 0 auto 29px;
    box-shadow:3px 3px 0 3px currentColor;
    color: currentColor;
    position: relative;
    max-width: 100%;
}
.infobox-06 .title *{
    color: #555555;
    margin: 0;
    font-size: 18px;
}
.infobox-06 .pic::after{
    content: "\e936";
    font-family: linearicons!important;
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    position: absolute;
    top: 25px;
    left: -10px;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    line-height: 48px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scale(.8)

}
.infobox-06 .pic:hover::after{
    opacity: 1;
    -webkit-transform: scale(1);  
    transform:  scale(1);
   
}

/* infobox-07 */
.infobox-07{
    position: relative;
    display: inline-block;
    text-align: left;
}
.infobox-07::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-image: -webkit-linear-gradient(180deg ,rgba(0, 0, 0, 0) 0% ,rgba(0, 0, 0, 0) 52% ,rgba(0, 0, 0, 0.7) 100% );
    background-image: linear-gradient(180deg ,rgba(0, 0, 0, 0) 0% ,rgba(0, 0, 0, 0) 52% ,rgba(0, 0, 0, 0.7) 100% );
}
.infobox-07 .pic{
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3) ;
}
.infobox-07 .pic img{
    max-width: 100%;
}
.infobox-07 .content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px 28px;
    z-index: 1;
}
.infobox-07 .content *{
    color: #ffffff;
}
.infobox-07 .content p:last-of-type{
    margin-bottom: 0;
}

/* infobox-08 */
.infobox-08{
    position: relative;
    text-align: center;
    margin-bottom: 44px;
}
.infobox-08 .pic{
    margin-bottom: 18px;
}
.infobox-08 .pic img{
    max-width: 100%;
}
.infobox-08 .content p:first-of-type{
    margin-top: 17px;
}
.infobox-08 .content :last-child{
    margin-bottom: 0;
}

/* infobox-09 */
.infobox-09{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infobox-09 .content{
    max-width: 650px;
    pointer-events: all;
    padding: 93px 15px;
}
.infobox-09 .content .icon{
    margin-bottom: 18px;
}

/* infobox-10 */
.infobox-10{
    position: relative;
    margin-bottom: 30px;
    padding: 50px 30px 40px;
    background: #f6f7fc;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    -webkit-transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
.infobox-10 .pic{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 122px;
    height: 122px;
    padding: 4px;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3) ;
}
.infobox-10 .pic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.infobox-10 .content p:first-of-type{
    margin-top: 18px;
}
.infobox-10 .social{
    padding-top: 4px;
    font-size: 0;
}
.infobox-10 .social a{
    color: currentColor;
    margin: 0 10px;
    font-size: 16px;
}
.infobox-10 .content *,
.infobox-10 .social a{
    -webkit-transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
.infobox-10:hover{
    background: #1bbc9b;
}
.infobox-10:hover .content *,
.infobox-10:hover .social a{
    color: #ffffff;
}

/* infobox-11 */
.infobox-11{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.infobox-11 .index{
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    width: 3.5em;
    height: 3.5em;
    font-size: 24px;
    text-align: center;
    line-height: 3.5em;

    margin-right: 20px;
    color: #1ec5a8;
    border-radius: 50%;
    overflow: hidden;
}
.infobox-11 .index::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid currentColor;
    border-radius: 50%;
    z-index: 0;
}
.infobox-11 .index::after{
    content: '';
    position: absolute;
    top:10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: currentColor;
    border-radius: 50%;
    z-index: 0;
}
.infobox-11 .index span{
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.infobox-11 .content > *{
    margin: 0 0 8px 0;
}
.infobox-11 .content > *:last-child{
    margin-bottom: 0;
}


/* infobox-12 */
.infobox-12{
    position: relative;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);

    padding: 36px 40px 38px 110px;
    border-radius: 3px;
    vertical-align: bottom;
    overflow: hidden;
}
.infobox-12::before{
    content: '';
    position: absolute;
    top: -78px;
    left: -70px;
    background-color: currentColor;
    width: 163px;
    height: 163px;

    border-radius: 50%;

    -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000) 300ms;
    transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000) 300ms;
}
.infobox-12 .icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 87px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 50px;
}
.infobox-12 *{
    position: relative;
    margin: 0;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000) 300ms;
    transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000) 300ms;
}
.infobox-12 p{
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}
.infobox-12 p:first-of-type{
    margin-top: 5px;
}
.infobox-12:hover::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: initial;
}
.infobox-12:hover *{
    color: #ffffff !important;
}

.infobox-13{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 47px;
}
.infobox-13 .pic{
    margin-right: 29px;
    margin-left: 29px;
    flex-shrink: 0;
}
.infobox-13 .content >*:first-child{
    margin-top: 0;
}
.infobox-13 .content >*:last-child{
    margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
    .infobox-13 .pic {
        margin-left: 0;
    }
}

/* iconbox-01 */
.iconbox-01 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}
.iconbox-01 .icon{
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
}
.iconbox-01 .icon i{
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    text-align: center;
    border-radius: 50%;
    color: #1abc9c;
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.1) ;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1) ;

    -webkit-transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.iconbox-01 .content{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.iconbox-01 .content h6{
    margin-top: 0;
}
.iconbox-01 .content .line{
    width: 30px;
    height: 1px;
    background-color: #e4e4e4;
    margin: 25px 0 22px;
}
.iconbox-01:hover .icon i{
    color: #ffffff;
    background-color: #1abc9c;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

/* .iconbox-02 */
.iconbox-02{
    padding: 0 0 38px;
    position: relative;
}
.iconbox-02::before{
    content: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100px;
    display: inline-block;
    margin-bottom: 60px;
}


.iconbox-02 .icon i{
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    display: inline-block;

    position: relative;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    margin-bottom: 28px;
    z-index: 1;
}
.iconbox-02 .icon i::after{
    content: "";
    background-color:currentColor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    border-radius: 5px;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    z-index: -1;
}
.iconbox-02:hover .icon i::after{
    border-radius: 50%;
    opacity: 1;  
}

.iconbox-02 .icon i::before,
.iconbox-02 .icon i svg{
    transition: color .3s cubic-bezier(0.22, 0.61, 0.36, 1);

}
.iconbox-02:hover .icon i::before,
.iconbox-02:hover .icon i svg{
    color: #fff;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.iconbox-02 .icon + *{
    margin-bottom: 16px;
}

.row + .row > div > .iconbox-02::before{
    content: "";
}


@media only screen and (min-width: 768px) {
    .row + .row > div > .iconbox-02.no-line::before{
    border-color: transparent;
    }
}



.row + .row:last-child > div > .iconbox-02{
    padding-bottom: 17px;
}

@media only screen and (max-width: 767px) {
    .row  > div + div > .iconbox-02::before{
        content: "";
    }
}


/* .iconbox-03 */
.iconbox-03{
    padding-bottom: 43px;
}
.iconbox-03 p{
    margin: 0;
}
.iconbox-03 .icon{
    margin-bottom: 15px;
    font-size:32px;
}
@media only screen and (max-width: 767px) {
    .iconbox-03{
        text-align: center
    }
}


/* .iconbox-04 */
.iconbox-04{
    text-align: center;
    margin: 0 0 20px;
}
.iconbox-04 .icon{
    font-size: 50px;
    line-height: 1.7;
}
.iconbox-04 .icon + * {
    font-size: 18px;
    line-height: 1.8;
}

/* iconbox-05 */
.iconbox-05{
    padding-bottom: 20px;
}
.iconbox-05 .icon{
    font-size: 42px;
    margin-bottom: -2px;
}
@media only screen and (max-width: 767px) {
    .iconbox-05{
        text-align: center
    }
}

/* iconbox-06 */
.iconbox-06{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.iconbox-06 .icon{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color: #1abc9c;
    border-radius: 50%;
}
.iconbox-06 .icon::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid currentColor;
    border-radius: 50%;
    pointer-events: none;
}

.iconbox-06 .icon > *{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 32px;
}
.iconbox-06 .content > *{
    margin: 0;
    line-height: 30px;
}


.iconbox-07{
    background-color: #FFF;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
    padding:50px 40px;
    text-align: center;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    margin-bottom: 25px;
    height: calc( 100% - 25px );
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconbox-07 .icon{
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    text-align: center;
    background-color: #1abc9c;
    text-align: center;
    border-radius: 50%;
    font-size: 48px;
    margin:0 auto;
    color: #fff;
    margin-bottom: 33px;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.iconbox-07 .icon i{
    margin-left:3px;
}
.iconbox-07 .icon i::before{
    vertical-align: middle;
    display: inline-block;
    margin:0 0 4px;
}


.iconbox-07 .title::after{
    content: "";
    width: 52px;
    border-bottom: 1px solid #1abc9c;
    display: block;
    margin:16px auto 20px;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.iconbox-07 .title *{
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.iconbox-07 .btn{
    margin-top: auto;
    padding-top: 15px;
}
.iconbox-07.active,
.iconbox-07:hover{
    color: #fff;
    background-color: #1abc9c;
}
.iconbox-07.active .icon,
.iconbox-07:hover .icon{
    color: #1abc9c;
    background-color: #FFF;
}
.iconbox-07.active .title *,
.iconbox-07:hover .title *{
    color: #fff;
}
.iconbox-07.active .title::after,
.iconbox-07:hover .title::after{
    border-bottom-color: #FFF;
}
.iconbox-07.active .btn-01,
.iconbox-07:hover .btn-01{
    background-color: #FFF;
    color: #1abc9c;
}
@media only screen and (max-width: 991px) {
    .iconbox-07 {
        padding:25px 15px;
    }
}





.iconbox-08 .icon{
    font-size: 32px;
    margin-bottom: -3px;
}
.iconbox-08 .img{
  
    margin-bottom: 19px;
}
.iconbox-08 .title{
    margin-bottom: 13px;
}

.iconbox-09 {
    text-align: center;
    margin: 18px 0 36px;
}
.iconbox-09 .icon{
    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    font-size: 42px;
    background-color: #FFF;
    border-radius: 50%;
    margin: 0 auto 24px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.iconbox-09 .icon i::before{
    vertical-align: middle;
    display: inline-block;
    margin:0 0 4px;

}

/* iconbox-10 */
.iconbox-10{
    position: relative;
    margin-bottom: 52px;
}
.iconbox-10 .icon i{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    width: 2.333333em;
    height: 2.333333em;
    font-size: 30px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.iconbox-10 > .title{
    padding-bottom: 7px;
}

.iconbox-11{
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 4px;
    padding: 30px 40px 35px;
    margin:0 0 30px;
    border:3px solid transparent;
    text-align: center;
    transition: all ease-in-out 300ms;
}
.iconbox-11 .icon{
    padding: 25px 0 ;
}

.iconbox-11 .title{
    padding: 0 0 7px;
}
.iconbox-11:hover{
    border-color:#1bbc9a;
    background-color: #effbf9;
}

/* iconbox-12 */
.iconbox-12{
    display: -ms-flex;
    display: flex;
    padding-bottom: 10px;
}
.iconbox-12 .icon{
    margin-right: 20px;
    color: #1abc9c;
    font-size: 42px;
}
.iconbox-12 .content > *{
    margin: 0;
    line-height: 30px;
}
.iconbox-12 h6{
    font-weight: 700;
    font-size: 16px;
}

.iconbox-13{
    padding:30px 25px 25px;
    margin-bottom: 25px;
}
.iconbox-13.active{
    box-shadow: 0 0 20px rgba(0,0,0,.15);
}

.iconbox-13 .icon{
    margin-bottom: 28px;
}
.iconbox-13 .title{
    margin-bottom: 5px;
}
.iconbox-13 p:last-child{
    margin-bottom: 0
}
.iconbox-14{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 47px;
}
.iconbox-14 .icon{
    padding:0 16px 10px 0 ;
    color: #4c4c4c;
    font-size: 40px;
    line-height: 1;
    
}
.iconbox-14 .title{
    margin: 0;
    font-size: 18px;
    line-height:1.2;
    font-weight:700;
}
.iconbox-14 .cont p{
    margin: 0;
    font-size: 14px;
}
.iconbox-15 {
    color:#666666;
    margin-bottom: 56px;
}
.iconbox-15 .icon{
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-17 -4.084 234 195' style='color:%23e0e8fd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M149.09,7.096h13.784c3.43,0,6.215-2.503,6.215-5.59c0-3.088-2.785-5.59-6.215-5.59H149.09 c-3.432,0-6.214,2.503-6.214,5.59C142.876,4.593,145.658,7.096,149.09,7.096z'/%3E%3Cpath fill='currentColor' d='M153.459,181.839h-7.769c-2.737,0-4.951,1.993-4.951,4.453c0,2.461,2.214,4.455,4.951,4.455h7.769 c2.734,0,4.951-1.994,4.951-4.455C158.41,183.834,156.193,181.839,153.459,181.839z'/%3E%3Cpath fill='currentColor' d='M207.456,131.304h-8.669c-7.293,0-13.204-5.318-13.204-11.879l0,0c0.491-9.23,2.166-9.95,5.971-11.851 l6.874-0.029c0,0,13.641,0.357,13.495-12.142c0-6.705-6.044-12.141-13.495-12.141h-11.262c-0.394,0-0.78,0.023-1.165,0.052 c-2.093-14.998-7.927-28.796-16.549-40.408h4.513c6.38,0,11.552-4.654,11.552-10.395c0-5.741-5.172-10.393-11.552-10.393h-22.331 c-1.156,0-2.269,0.157-3.319,0.44c-14.227-9.75-31.433-15.465-49.979-15.465c-4.639,0-9.193,0.36-13.64,1.048H42.318 c-5.2,0-9.417,3.793-9.417,8.472c0,4.679,4.216,8.473,9.417,8.473h2.536c-8.094,6.148-15.088,13.658-20.663,22.188H2.902 c-6.433,0-11.65,4.693-11.65,10.482v4.192c0,5.789,5.217,10.482,11.65,10.482h9.993c-2.008,7.406-3.1,15.191-3.1,23.234 c0,5.063,0.447,10.021,1.263,14.85H2.869C-8.104,110.515-17,118.846-17,129.12c0,10.273,8.896,18.604,19.869,18.604h23.852 c0.084,0.114,0.163,0.232,0.248,0.348c-2.563,0.986-4.357,3.276-4.357,5.942c0,3.569,3.217,6.463,7.185,6.463h5.339 c1.467,0,2.835,0.373,4.005,1.01c1.004,0.547,1.861,1.285,2.5,2.169c0.795,1.097,1.261,2.402,1.261,3.809 c0,3.859-3.476,6.987-7.766,6.987H20.96l0,0h14.173H20.96c-2.627,0-4.758,1.916-4.758,4.281c0,2.364,2.131,4.28,4.758,4.28h62.762 c4.755,0.79,9.632,1.223,14.612,1.223c17.108,0,33.077-4.869, 46.618-13.276h29.493c4.182,0,7.572-3.051,7.572-6.813 c0-3.764-3.391-6.814-7.572-6.814h-12.589c3.214-3.313,6.166-6.877,8.835-10.658c0.024,0,0.043,0.003,0.065,0.003h36.697 c4.719,0,8.544-3.441,8.544-7.687S212.175,131.304,207.456,131.304z'/%3E%3C/svg%3E");
     width: 153px;
     height: 127px;
     line-height: 127px;
     background-repeat: no-repeat;   
     background-size:  153px 127px;
     font-size: 52px;
     margin: 0px 0 44px;
     position: relative;
     color: #2c5cda;
     text-align: center;
     display: inline-block;
}
.iconbox-15 .icon i{
    vertical-align: middle;
    color: inherit;
}
 
.row > div:nth-child(3n+2) .iconbox-15 .icon{
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-17 -4.084 234 195' style='color:%23ffe6f2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M149.09,7.096h13.784c3.43,0,6.215-2.503,6.215-5.59c0-3.088-2.785-5.59-6.215-5.59H149.09 c-3.432,0-6.214,2.503-6.214,5.59C142.876,4.593,145.658,7.096,149.09,7.096z'/%3E%3Cpath fill='currentColor' d='M153.459,181.839h-7.769c-2.737,0-4.951,1.993-4.951,4.453c0,2.461,2.214,4.455,4.951,4.455h7.769 c2.734,0,4.951-1.994,4.951-4.455C158.41,183.834,156.193,181.839,153.459,181.839z'/%3E%3Cpath fill='currentColor' d='M207.456,131.304h-8.669c-7.293,0-13.204-5.318-13.204-11.879l0,0c0.491-9.23,2.166-9.95,5.971-11.851 l6.874-0.029c0,0,13.641,0.357,13.495-12.142c0-6.705-6.044-12.141-13.495-12.141h-11.262c-0.394,0-0.78,0.023-1.165,0.052 c-2.093-14.998-7.927-28.796-16.549-40.408h4.513c6.38,0,11.552-4.654,11.552-10.395c0-5.741-5.172-10.393-11.552-10.393h-22.331 c-1.156,0-2.269,0.157-3.319,0.44c-14.227-9.75-31.433-15.465-49.979-15.465c-4.639,0-9.193,0.36-13.64,1.048H42.318 c-5.2,0-9.417,3.793-9.417,8.472c0,4.679,4.216,8.473,9.417,8.473h2.536c-8.094,6.148-15.088,13.658-20.663,22.188H2.902 c-6.433,0-11.65,4.693-11.65,10.482v4.192c0,5.789,5.217,10.482,11.65,10.482h9.993c-2.008,7.406-3.1,15.191-3.1,23.234 c0,5.063,0.447,10.021,1.263,14.85H2.869C-8.104,110.515-17,118.846-17,129.12c0,10.273,8.896,18.604,19.869,18.604h23.852 c0.084,0.114,0.163,0.232,0.248,0.348c-2.563,0.986-4.357,3.276-4.357,5.942c0,3.569,3.217,6.463,7.185,6.463h5.339 c1.467,0,2.835,0.373,4.005,1.01c1.004,0.547,1.861,1.285,2.5,2.169c0.795,1.097,1.261,2.402,1.261,3.809 c0,3.859-3.476,6.987-7.766,6.987H20.96l0,0h14.173H20.96c-2.627,0-4.758,1.916-4.758,4.281c0,2.364,2.131,4.28,4.758,4.28h62.762 c4.755,0.79,9.632,1.223,14.612,1.223c17.108,0,33.077-4.869, 46.618-13.276h29.493c4.182,0,7.572-3.051,7.572-6.813 c0-3.764-3.391-6.814-7.572-6.814h-12.589c3.214-3.313,6.166-6.877,8.835-10.658c0.024,0,0.043,0.003,0.065,0.003h36.697 c4.719,0,8.544-3.441,8.544-7.687S212.175,131.304,207.456,131.304z'/%3E%3C/svg%3E");
         color: #fd4ea5;
}
.row > div:nth-child(3n+3) .iconbox-15 .icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-17 -4.084 234 195' style='color:%23daf6ef' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M149.09,7.096h13.784c3.43,0,6.215-2.503,6.215-5.59c0-3.088-2.785-5.59-6.215-5.59H149.09 c-3.432,0-6.214,2.503-6.214,5.59C142.876,4.593,145.658,7.096,149.09,7.096z'/%3E%3Cpath fill='currentColor' d='M153.459,181.839h-7.769c-2.737,0-4.951,1.993-4.951,4.453c0,2.461,2.214,4.455,4.951,4.455h7.769 c2.734,0,4.951-1.994,4.951-4.455C158.41,183.834,156.193,181.839,153.459,181.839z'/%3E%3Cpath fill='currentColor' d='M207.456,131.304h-8.669c-7.293,0-13.204-5.318-13.204-11.879l0,0c0.491-9.23,2.166-9.95,5.971-11.851 l6.874-0.029c0,0,13.641,0.357,13.495-12.142c0-6.705-6.044-12.141-13.495-12.141h-11.262c-0.394,0-0.78,0.023-1.165,0.052 c-2.093-14.998-7.927-28.796-16.549-40.408h4.513c6.38,0,11.552-4.654,11.552-10.395c0-5.741-5.172-10.393-11.552-10.393h-22.331 c-1.156,0-2.269,0.157-3.319,0.44c-14.227-9.75-31.433-15.465-49.979-15.465c-4.639,0-9.193,0.36-13.64,1.048H42.318 c-5.2,0-9.417,3.793-9.417,8.472c0,4.679,4.216,8.473,9.417,8.473h2.536c-8.094,6.148-15.088,13.658-20.663,22.188H2.902 c-6.433,0-11.65,4.693-11.65,10.482v4.192c0,5.789,5.217,10.482,11.65,10.482h9.993c-2.008,7.406-3.1,15.191-3.1,23.234 c0,5.063,0.447,10.021,1.263,14.85H2.869C-8.104,110.515-17,118.846-17,129.12c0,10.273,8.896,18.604,19.869,18.604h23.852 c0.084,0.114,0.163,0.232,0.248,0.348c-2.563,0.986-4.357,3.276-4.357,5.942c0,3.569,3.217,6.463,7.185,6.463h5.339 c1.467,0,2.835,0.373,4.005,1.01c1.004,0.547,1.861,1.285,2.5,2.169c0.795,1.097,1.261,2.402,1.261,3.809 c0,3.859-3.476,6.987-7.766,6.987H20.96l0,0h14.173H20.96c-2.627,0-4.758,1.916-4.758,4.281c0,2.364,2.131,4.28,4.758,4.28h62.762 c4.755,0.79,9.632,1.223,14.612,1.223c17.108,0,33.077-4.869, 46.618-13.276h29.493c4.182,0,7.572-3.051,7.572-6.813 c0-3.764-3.391-6.814-7.572-6.814h-12.589c3.214-3.313,6.166-6.877,8.835-10.658c0.024,0,0.043,0.003,0.065,0.003h36.697 c4.719,0,8.544-3.441,8.544-7.687S212.175,131.304,207.456,131.304z'/%3E%3C/svg%3E");
    color: #1abc9c;
}
.iconbox-15 .title{
    font-weight: 700;
    margin-bottom: 17px;
}

.iconbox-16{
    margin-bottom: 46px;
}
.iconbox-16 .icon{
    margin-bottom: 23px;
}
.iconbox-16 .title{
    margin: 0px 0px 18px;
}
.iconbox-16 p{
    color: #d5d6df;
}

.iconbox-17{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 49px;
}
.iconbox-17 .icon{
    margin-right: 20px;
    margin-left: 20px;
    flex-shrink: 0;
}
.iconbox-17 .icon > i{
    color: #fff;
    background: #80bb01;
    width: 2.63em;
    height: 2.63em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.iconbox-17 .content p{
    line-height: 1.625;
}
.iconbox-17 .content >*:first-child{
    margin-top: 0;
}
.iconbox-17 .content >*:last-child{
    margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
    .iconbox-17 .icon {
        margin-left: 0;
    }
}


.img-box01{
    text-align: center;
    margin: 0 0 54px;
    color: #787878;
    font-weight: 600;
}
.img-box01 .pic{
    margin-bottom: 22px;
    position: relative;
}
.img-box01 .pic::before{
    content: "";
    background-color: currentColor;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
    pointer-events: none;
}
.img-box01 .pic::after{
    content: "\e936";
    font-family: linearicons!important;
    position: absolute;
    color: currentColor;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 100;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
    pointer-events: none;
}
.img-box01:hover .pic::before{
    opacity: .8;
}
.img-box01:hover .pic::after{
    opacity: 1;
}
 
.img-box01 .pic + *{
    margin-bottom: 7px;
}
.img-box01 a,
.img-box01 a:link,
.img-box01 a:visited,
.img-box01 a:active{
    color: #424242;
}
.img-box01 a:hover,
.img-box01:hover a{
    color: #1abc9c;
}

.img-box02{
    position: relative;
}
.img-box02 .cont{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 0px 30px;
    pointer-events: none;
    transition: background-color .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    overflow: hidden;
}
.img-box02 .cont p{
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.img-box02 .cont .title{
    margin: 8px -30px 0;
    padding:8px  0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    transform: translateY(100%);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.img-box02 .cont .title *{
    color: #fff;
    margin: 0;
    line-height: inherit;
    transform: translateY(30px);
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-delay: .05s;

}
.img-box02 .cont > *{
    pointer-events: initial;
}
.img-box02:hover .cont{
    background-color: rgba(0,0,0,.35);
}
.img-box02:hover .cont p{
    opacity: 1;
    transform: translateY(0);
}
.img-box02:hover .cont .title,
.img-box02:hover .cont .title *{
    transform: translateY(0);

}
@media only screen and (max-width:767px) {
    .img-box02{
        margin-bottom: 20px;
    }
}


.img-box03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0px 20%;
    transition: opacity .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    min-height: 400px;
    height: 100%;
}
.img-box03  .title{
    margin: 8px -30px 0;
    padding: 8px 0;
}
.img-box03 .title *{
    color: #fff;
    margin: 0;
}

.img-box03 .icon{
    font-size: 45px;
    line-height: 1;
    margin-bottom: 8px;
}
.img-box03  .title{
    margin: 0 20px 21px
}
.img-box03 .link a,
.img-box03 .link a:link,
.img-box03 .link a:visited,
.img-box03 .link a:active{
    color: #fff;
}

.img-box03 .link a i{
    margin-left: 5px;
    font-size: 13px;
    display: inline-block;
}

@media only screen and (max-width:1199px) {
    .img-box03{
        padding: 0px 25px;
    }
}


@media only screen and (max-width:767px) {
    .img-box03{
        padding: 0px 15px;
    }
}


.img-box04{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}
.img-box04 .pic{
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    margin-right: 20px;
}
.img-box04 p:last-child{
    margin-bottom: 4px;
}
.img-box04::before{
   content: "";
   border-left: 1px solid #cccccc;
   position: absolute;
   top: 90px;
   bottom: 0;
   left: 45px;
}
.img-box04::after{
    content: "";
    position: absolute;
    bottom: 17px;
    left: 42px;
    width: 7px;
    height: 7px;
    background-color: #1abc9c;
    border-radius: 50%;
 }
 .img-box04:last-child{
     padding-bottom: 10px;
 }
.img-box04:last-child::after,
.img-box04:last-child::before{
    content: none;
}


.img-box05{
    text-align: center;
    margin: 0 0 30px;
    color: #787878;
    font-weight: 600;
    position: relative;
}
.img-box05 .pic{
    margin-bottom: 22px;
    position: relative;
}
.img-box05 .pic::before{
    content: "";
    background-color: currentColor;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
    pointer-events: none;
}

.img-box05:hover .pic::before{
    opacity: .8;
}

.img-box05 .content{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    z-index: 4;
    pointer-events: none;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
}
.img-box05:hover .content{
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.img-box05 .content::before{
    content: "\e936";
    font-family: linearicons!important;
    color: currentColor;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 100;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    display: block;
    margin:0 auto 23px;
    color: #1abc9c;
}
.img-box05 .content *{
    color: #fff;
    margin: 0;
}
.img-box05 .content[contenteditable],
.img-box05 .content a,
.img-box05 .content button{
    pointer-events: initial;
}

.img-box06{
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.img-box06 .title{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.45);
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 23px 0;
}
.img-box06 .title *{
    margin: 0;
}

.img-box07{
    position: relative;
}
.img-box07 .title{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    z-index: 1;
    top: 50%;
    left:68px;
    right: 68px;
    -webkit-transform: translateY(-50%) scale(0.8);
    transform: translateY(-50%) scale(0.8);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    opacity: 0;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.img-box07 .title::before{
    content: "";
    border:1px solid #666666;
    top: -7px;
    bottom: -7px;
    left: -7px;
    right: -7px;
    position: absolute;
    pointer-events: none;
}
.img-box07 .title *{
    color: inherit;
    margin: 0;
    font-size: 18px;
}
.img-box07:hover .title{
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}


.img-box08{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.img-box08 .product{
    margin-bottom: 16px;
}

.img-box08 .price{
    margin: 0;
    font-weight: 600;
}
.img-box08 .title{
    margin: 4px 0 4px;
    font-size: 18px;
}
.img-box09 {
    position: relative;
}
.img-box09 .title{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    -webkit-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    color: #fff;
    opacity: 0;
    pointer-events: none;
    z-index: 4;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.img-box09:hover .title{
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}


.builder-editor-mode .img-box09 .title{
    pointer-events: initial;
}
.img-box09 .title::before{
    content: "\e936";
    font-family: linearicons!important;
    color: #1abc9c;
    z-index: 2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 100;
    pointer-events: none;
    display: block;
    margin:0 auto 23px;
}
.img-box09::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1abc9c;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.img-box09:hover::before{
    opacity: .8;
}


.img-box10{
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 0 30px;
    text-align: center;
    cursor: pointer;
}

.img-box10 .pic{
    position: relative;
    z-index: 0;
}
.img-box10 .pic::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all .35s;
    pointer-events: none;
}
.img-box10 .pic img{
    width: calc(100% + 50px)!important;
    max-width: calc(100% + 50px)!important;

    transition: opacity .35s,transform .35s;
    transform: translate3d(-40px,0,0);
}
.img-box10 .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 25%;
    max-height: 100%;
    text-align: left;
    padding: 30px 30px 20px 30px;
    color: #fff;
    font-size: 1em;
    backface-visibility: hidden;
}
.img-box10 .content > *{
    color: inherit;
}
.img-box10 .content .title{
    padding: 0;
    margin: 0;
    transform: translate3d(0,50px,0);
    transition: transform .35s;
}
.img-box10 .content .description{
    margin-top: 15px;
    opacity: 0;
    transform: translate3d(0,40px,0);
    transition: opacity .2s,transform .35s;
}
.img-box10:hover img{
    transform: translate3d(0,0,0);
    transition-delay: .05s;
    transition-duration: .35s;
}
.img-box10:hover .content .title{
    opacity: 1;

    transform: translate3d(0,0,0);
    transition-delay: .05s;
    transition-duration: .35s;
}
.img-box10:hover .content .description{
    opacity: 1;

    transform: translate3d(0,0,0);
    transition-delay: .05s;
    transition-duration: .35s;
}

