[class*="social-"] {
    position: relative;
    display: inline-block;
}


body .social-01,
body .social-01:link,
body .social-01:active,
body .social-01:visited,
body .social-01[type="button"],
body .social-01[type="submit"] {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #787878;
    color: #787878;
    margin: 8px;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}

body .social-01 i {
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-01:hover{
    background: #1abc9c;
    border-color: #1abc9c;
}
body .social-01:hover i {
    color: #ffffff;
}



body .social-02,
body .social-02:link,
body .social-02:active,
body .social-02:visited,
body .social-02[type="button"],
body .social-02[type="submit"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    margin: 8px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    background-color: rgba(255,255,255,.1);
}

body .social-02 i {
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-02:hover{
    background: #1abc9c;
    border-color: #1abc9c;
}
body .social-02:hover i {
    color: #ffffff;
}



body .social-03,
body .social-03:link,
body .social-03:active,
body .social-03:visited,
body .social-03[type="button"],
body .social-03[type="submit"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-03:hover{
    background: #1abc9c;
}

body .social-04,
body .social-04:link,
body .social-04:active,
body .social-04:visited,
body .social-04[type="button"],
body .social-04[type="submit"] {
    font-size: 32px;
    display: inline-block;
    text-align: center;
    color: #839eac;
    border-radius: 50%;
    margin: 0 32px 27px;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-04 i{
   color: inherit;
}

body .social-04:hover{
    color: #fff;
}
@media only screen and (max-width: 787px) {
    body .social-04,
    body .social-04:link,
    body .social-04:active,
    body .social-04:visited,
    body .social-04[type="button"],
    body .social-04[type="submit"] {
        margin: 0 15px 15px;
    }
}



body .social-05,
body .social-05:link,
body .social-05:active,
body .social-05:visited,
body .social-05[type="button"],
body .social-05[type="submit"] {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #424242;
    color: #424242;
    margin: 8px;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}

body .social-05 i {
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-05:hover{
    color: #ffffff;
    border-color: #1abc9c;
    background-color: #1abc9c; 
}
body .social-05:hover i {
    color: #ffffff;
}


body .social-06,
body .social-06:link,
body .social-06:active,
body .social-06:visited,
body .social-06[type="button"],
body .social-06[type="submit"] {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    color: #ffff;
    margin:0 9px 20px;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    background-color: rgba(255,255,255,.1);
    font-size: 20px;
}

body .social-06 i {
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
}
body .social-06:hover{
    color: #ffffff;
    border-color: #1abc9c;
    background-color: #1abc9c; 
}
body .social-06:hover i {
    color: #ffffff;
}


body .social-07,
body .social-07:link,
body .social-07:active,
body .social-07:visited,
body .social-07[type="button"],
body .social-07[type="submit"] {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    font-size: 16px;
    margin: 8px;
}
body .social-07 i{
    margin-right: 8px;
}


body .social-08,
body .social-08:link,
body .social-08:active,
body .social-08:visited,
body .social-08[type="button"],
body .social-08[type="submit"] {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    font-size: 20px;
    margin: 6px;
}
body .social-08 i{
    margin-right: 8px;
}
body .social-08:hover{
    color: #1abc9c;
}


body .social-09,
body .social-09:link,
body .social-09:active,
body .social-09:visited,
body .social-09[type="button"],
body .social-09[type="submit"] {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    color: #787878;
    margin: 0 18px 8px 0;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    transition: all 0.3s cubic-bezier(0.420, 0.000, 1.000, 1.000) 0s;
    box-shadow:0px 5px 15px rgba(0,0,0,.15)
}
body .social-09:hover{
    background-color: #1abc9c;
    color: #fff;
}



