.title-01{
    position: relative;
    margin: 0 0 23px;
}
.title-01 span{
    position: relative;
    display: inline-block;
    line-height: 0.75;
}
.title-01 span::after{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
}
.title-02{
    margin: 0 0 36px;
    padding-bottom: 19px;
    position: relative;
    text-align: center;
}
.title-02 small{
    color: #1abc9c;
    font-size: 18px;
    padding-bottom: 10px;
    display: inline-block;
}
.title-02::after{
    content: "";
    color: #1abc9c;
    position: absolute;
    bottom: 0;
    width: 40px;
    margin-left: -20px;
    left: 50%;
    height: 3px;
    box-shadow: 33px 2px 0px -1px currentColor,-33px 2px 0px -1px currentColor;
    font-size: 16px;
}




.title-02.text-left::after{
    left:0;
    margin:0 0 0 32px;
}
.title-02.text-right::after{
    right:0;
    left: auto;
    margin:0 32px 0 0;
}

.title-03{
    margin: 0 0 30px;
    position: relative;
}
.title-03 small{
    color: #1abc9c;
    font-size: 18px;
    padding-bottom: 9px;
    display: inline-block;
}
.title-03::after{
    content: "";
    display: inline-block;
    border-bottom: 1px solid #1abc9c;
    width: 50px;
    height: 2px;
    margin-bottom: 0px;
}
.title-04 {
    margin-bottom: 47px;
}
.title-04 small{
    color: #1abc9c;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 700;
}
.title-04 small::before{
    content: "";
    width: 30px;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    vertical-align: middle;
    margin: 0 20px 3px 0;
}
.title-04 span{
    color: #1abc9c;
}
.title-04 h3{
    font-weight: 600;
}


.title-05 {
    margin:0 auto 59px;
    text-align: center;

}
.title-05 small{
    color: #1abc9c;
    font-size: 16px;
    margin-bottom: 18px;
    display: inline-block;
    font-weight: 700;
}
.title-05 small::before,
.title-05 small::after{
    content: "";
    width: 30px;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    vertical-align: middle;
    margin: 0 20px 3px 0;
}
.title-05 small::after{
    margin: 0 0px 3px 20px;
}
.title-05 span{
    color: #1abc9c;
}


/* 

.title-06{
    margin:0 0 24px; 
}
.title-06::before{
    content: "";
    height: 16px;
    border-left:2px solid #1abc9c;
    display: inline-block;
    margin-right: 10px;
}


*/

.title-07{
    margin-bottom: 37px;
}
.title-07 small{
    color: #1abc9c;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
}
 
.title-07 h2{
    font-weight: 700;
} 

.title-08{
    margin-bottom: 52px;
}
.title-08 small{
    display: inline-block;
    margin-bottom: 6px;
    color:#1abc9c;
    font-size: 18px;
    font-weight: 600;
}
.title-08 h1{
    margin-top: 16px;
}
.title-08 h2{
    font-weight: 700;
}


.title-09 {
    margin-bottom: 42px;
}
.title-09 small{
    display: inline-block;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.is-light-text .title-09 small{
    color: #FFFFFF;
}
.title-09 small::before{
    content: "";
    width: 30px;
    display: inline-block;
    border-bottom: 2px solid #1abc9c;
    vertical-align: middle;
    margin: 0 20px 3px 0;
}


.title-10 {
    position: relative;
    margin-bottom: 39px;
    padding-bottom: 7px;
    text-align: center;
}
.title-10 small{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.is-light-text .title-10 small{
    color: #FFFFFF;
}
.title-10::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: inline-block;
    width: 30px;
    border-bottom: 2px solid #1abc9c;
    vertical-align: middle;
    margin: 0 0 0 -15px;

}
.title-10 h2{
    font-weight: 700;
}
.title-10 span{
    color: #1abc9c;
} 

.title-11{
    margin-bottom: 46px;
}
.title-11::before{
    content: "";
    display: inline-block;
    border-bottom: 2px solid #1abc9c;
    width: 30px;
    margin-bottom: 7px;
}
.is-light-text .title-11::before{
    border-color: #FFF;
}

/*  */

.title-12{
    display: inline-block;
    margin-bottom: 38px;
}
.title-12 small{
    display: inline-block;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
}
.title-12 span{
    position: relative;
    display: inline-block
}
.title-12 span::after{
    content: '';
    position: absolute;
    bottom: 0.22em;
    display:block;
    width: 100%;
    height: 0.25em;
    background-color: #1abc9c;
    z-index: -1;
} 



.title-13{
    position: relative;
    display: block;
    margin-bottom: 78px;
    padding-bottom: 10px;
}
.title-13 *{
    margin: 0;
}
.title-13 .line{
    position: absolute;
    top: 100%;
    left: 5px;
    width: 12px;
    height: 37px;
    border-left: 1px solid currentColor;
}
.title-13 .line::before,
.title-13 .line::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
}
.title-13 .line::before{
    left: 4px;
    width: 1px;
    height: 24px;
    border-left: 1px solid currentColor;
}
.title-13 .line::after{
    left: 9px;
    width: 1px;
    height: 11px;
    border-left: 1px solid currentColor;
}
.title-13.text-center .line{
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
}

.title-14 {
    margin-bottom: 28px;
}
.title-14 small{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.is-light-text .title-14 small{
    color: #FFFFFF;
}
.title-14::after{
    content: "";
    width: 30px;
    display: inline-block;
    border-bottom: 2px solid #1abc9c;
    vertical-align: middle;
    margin: 0 0 2px 0;
}


.title-15 {
    margin-bottom: 55px;
    text-align: center;
}
.title-15 > *{
    font-weight: 400;
    display: inline-block;
    padding: 0px 100px;
    display: inline-block;
    position: relative;
}
.title-15 > *::after,
.title-15 > *::before{
    content: "";
    width: 68px;
    border-bottom: 1px solid #bfbfbf;
    left: 0;
    position: absolute;
    top: 50%;
}
.title-15 > *::before{
    left: auto;
    right: 0;
}
@media only screen and (max-width: 767px) {
    .title-15 > *{
        padding: 0px 50px;      
    }
    .title-15 > *::after,
    .title-15 > *::before{
        width: 40px;
    }


}

.title-16{
    margin-bottom: 12px;
}
.title-16 small{
    color: #666;
    font-size: 18px;
    margin-bottom: 8px;
    display: inline-block;
}
.title-16 small::after{
    content: "";
    border-bottom: 1px solid #1abc9c;
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    vertical-align: middle;

}
.title-17{
    margin-bottom: 29px;
}
.title-17::after{
    content: "";
    width: 16px;
    height: 2px;
    background-color: #1abc9c;
    display: inline-block;
    margin:0 0 3px 10px;
    vertical-align: middle;
}
.title-18{
    margin-bottom: 38px;
}

.title-18 span{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    z-index: 2;
}
.title-18 span::after{
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0px;
    right: 0px;
    border-bottom: 8px solid #65d8c1;
    z-index: -1;
}

.title-19{
    position: relative;
    margin: 0px 0 27px;
}
.title-19::after{
    content: ".\2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002 \2002.";
    display: inline-block;
    text-decoration: line-through;
    -moz-text-decoration-style: wavy;
    text-decoration-style: wavy;
    text-decoration-color: #1abc9c;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    text-indent: -7px;
    width: 50px;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 8px;
    color: #1abc9c;
}
.is-light-text .title-19::after{
    text-decoration-color: #ffffff;
    color: #ffffff;
}

.title-20{
    position: relative;
    z-index: 1;
    padding:0 25px;
    margin-bottom: 53px;
}
.title-20::before{
    content: "";
    width: 50px;
    height: 58px;
    position: absolute;
    background: #1abc9c;
    z-index: -1;
    margin:0 -25px;
    top: -8px;
    left: auto;
    right: auto;
}
.title-20::after{
    content: "";
    border-left: 2px solid #5f6377;
    height: 20px;
    margin: 19px -1px 0px ;
    position: absolute;
    left: auto;
    right: auto;
}
.title-20 .title{
   margin: 0px -10px;
}
.is-align-center .title-20::before,
.is-align-center .title-20::after{
    left: 50%;
}
.is-align-right .title-20::before,
.is-align-right .title-20::after{
    right: 25px;
}




.title-21 {
    margin-bottom: 28px;
}
.title-21::after{
    content: "";
    width: 20px;
    display: inline-block;
    border-bottom: 2px solid #1abc9c;
    vertical-align: middle;
    margin: -8px 0 0 0;
}
.is-light-text.title-21::after,
.is-light-text .title-21::after{
    border-color: #ffffff;
}


/*full page*/

.title-22{
    margin-bottom: 33px;
}
.title-22 small{
    background-color: #02b087;
    display: inline-block;
    padding: 2px 20px 1px;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 17px;
    font-size: 16px;
}
.title-22::after{
    content: "";
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    width: 50px;
    margin: 30px 0 0;
}


.title-23{
    margin-bottom: 48px;
}
.title-23 small{
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
}


