﻿.clearfix:after{
	clear:both;
	content:".";
	height:0px;
	font-size:0px;
	visibility:hidden;
	display:block;
}
.clearfix{
	display:inline-block;
}
.clearfix{
	display:block;
}
 
/*tabs Left*/
.CategorieTab_Left {
	clear: both;
}
.CategorieTab_Left:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Left ul.resp-tabs-list {
	float: left;
	margin: 0;
	padding: 1px 0;
}
.CategorieTab_Left .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}
.CategorieTab_Left .resp-tab-content .resp_margin {
	margin-left: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
	
}
.CategorieTab_Left ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	position: relative;
	z-index: 1;
	min-width: 120px;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}
.CategorieTab_Left ul.resp-tabs-list li:first-child {
	border-top: none;
}
.CategorieTab_Left ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}
.CategorieTab_Left ul.resp-tabs-list li:hover {
	background: #eeeeee;
}
.CategorieTab_Left ul.resp-tabs-list li:hover span {
	color: #333;
}
.CategorieTab_Left ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
	background-color: #69b532
}
.CategorieTab_Left ul.resp-tabs-list li.resp-tab-active span {
	background-image: url(images/tab-left-active-bg.png);
	background-position: right top;
	background-repeat: no-repeat;
	margin-right: -16px;
	padding-right: 31px;
	color: #FFF;
}
.CategorieTab_Left h2.resp-accordion,
.CategorieTab_Left .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.CategorieTab_Left ul.resp-tabs-list {
		display: none;
	}
	.CategorieTab_Left h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	.CategorieTab_Left .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top:0px;
		text-align:center;
	}
	.CategorieTab_Left .resp-arrow:empty {
		width: 1em;
	}
	.CategorieTab_Left .resp-arrow:before {
		content: "\002B";
	}
	.CategorieTab_Left .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	.CategorieTab_Left .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.CategorieTab_Left .resp-tab-active,
	.CategorieTab_Left .resp-tab-active:hover {
		background: #69b532;
	}
	
	.CategorieTab_Left .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Left .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Left .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Left .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Left .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs right*/

.CategorieTab_Right {
	clear: both;
}

.CategorieTab_Right:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Right ul.resp-tabs-list {
	float: right;
	margin: 0;
	padding: 1px 0;
}

.CategorieTab_Right .resp-tabs-container {
	padding: 0;
	margin: 0;
	overflow: auto;
}

.CategorieTab_Right .resp-tab-content .resp_margin {
	margin-right: 25px;
	box-sizing:				border-box;
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: 	border-box;
}

.CategorieTab_Right ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	position: relative;
	z-index: 1;
	min-width: 120px;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.CategorieTab_Right ul.resp-tabs-list li:first-child {
	border-top: none;
}

.CategorieTab_Right ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.CategorieTab_Right ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.CategorieTab_Right ul.resp-tabs-list li:hover span {
	color: #333;
}

.CategorieTab_Right ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
	background-color: #69b532
}

.CategorieTab_Right ul.resp-tabs-list li.resp-tab-active span {
	background-image: url(images/tab-right-active-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #69b532;
	margin-left: -16px;
	color: #FFF;
}

.CategorieTab_Right h2.resp-accordion,
.CategorieTab_Right .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {
	.CategorieTab_Right ul.resp-tabs-list {
		display: none;
	}
	.CategorieTab_Right h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Right .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Right .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Right .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Right .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Right .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.CategorieTab_Right .resp-tab-active,
	.CategorieTab_Right .resp-tab-active:hover {
		background: #69b532;
	}
	
	.CategorieTab_Right .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Right .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Right .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Right .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Right .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}
/*tabs top*/

.CategorieTab_Top {
	clear: both;
}

.CategorieTab_Top:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Top ul.resp-tabs-list {
	margin: 0;
	padding: 1px 0;
}

.CategorieTab_Top .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}

.CategorieTab_Top .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .CategorieTab_Top .resp-tabs-container {
	display: inline-block
}

.CategorieTab_Top .resp-tab-content .resp_margin {
	margin: 15px;
}

.CategorieTab_Top ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
	float: left;
	position: relative;
	z-index: 1;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.CategorieTab_Top ul.resp-tabs-list li:first-child {
	border-left: 1px solid #e8e8e8;
}

.CategorieTab_Top ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.CategorieTab_Top ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.CategorieTab_Top ul.resp-tabs-list li:hover span {
	color: #333;
}

.CategorieTab_Top ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Top .resp-tab-active,
.CategorieTab_Top .resp-tab-active:hover {
	background: none;
}

.CategorieTab_Top ul.resp-tabs-list li.resp-tab-active span {
	background-color: #FFF;
	color: #69b532;
}

.CategorieTab_Top h2.resp-accordion,
.CategorieTab_Top .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.CategorieTab_Top ul.resp-tabs-list {
		display: none;
	}
	
	.CategorieTab_Top h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 15px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Top .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Top .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Top .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Top .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Top .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.CategorieTab_Top .resp-tab-active,
	.CategorieTab_Top .resp-tab-active:hover {
		background: #69b532;
	}
	
	.CategorieTab_Top .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Top .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Top .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Top .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Top .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}

/*tabs top*/

.CategorieTab_Bottom {
	clear: both;
}

.CategorieTab_Bottom:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

.CategorieTab_Bottom ul.resp-tabs-list {
	margin:-1px 0 0;
	padding: 0;
}

.CategorieTab_Bottom .resp-tabs-container {
	padding: 0;
	margin: 0;
	clear: both;
	border: 1px solid #e8e8e8;
}


.CategorieTab_Bottom .resp-tabs-container:after {
	clear: both;
	content: ".";
	height: 0px;
	font-size: 0px;
	visibility: hidden;
	display: block;
}

*+html .CategorieTab_Bottom .resp-tabs-container {
	display: inline-block
}

.CategorieTab_Bottom .resp-tab-content .resp_margin {
	margin: 15px;
}

.CategorieTab_Bottom ul.resp-tabs-list li {
	font-size: 13px;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin:0;
	float: left;
	position: relative;
	z-index: 1;
	transition: background-color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
	-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
	-o-transition: background-color ease-in 200ms;/* Opera */
	-ms-transition: background-color ease-in 200ms;/* IE9? */
}

.CategorieTab_Bottom ul.resp-tabs-list li:first-child {
	border-left: 1px solid #e8e8e8;
}

.CategorieTab_Bottom ul.resp-tabs-list li span {
	border: none;
	padding: 8px 15px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.CategorieTab_Bottom ul.resp-tabs-list li:hover {
	background: #eeeeee;
}

.CategorieTab_Bottom ul.resp-tabs-list li:hover span {
	color: #333;
}

.CategorieTab_Bottom ul.resp-tabs-list li.resp-tab-active {
	position: relative;
	z-index: 1;
	color: #FFF;
}

.CategorieTab_Bottom .resp-tab-active,
.CategorieTab_Bottom .resp-tab-active:hover {
	background: none;
}

.CategorieTab_Bottom ul.resp-tabs-list li.resp-tab-active span {
	background-color: #FFF;
	color: #69b532;
}

.CategorieTab_Bottom h2.resp-accordion,
.CategorieTab_Bottom .resp_container {
	display: none;
}
@media only screen and (max-width:768px) {

	.CategorieTab_Bottom ul.resp-tabs-list {
		display: none;
	}
	
	.CategorieTab_Bottom h2.resp-accordion {
		display: block;
		border: 1px solid #e1e1e1;
		border-bottom: none;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 15px;
		cursor: pointer;
		margin: 0;
		color: #919191;
		transition: background-color ease-in 200ms;
		-moz-transition: background-color ease-in 200ms;/* Firefox 4 */
		-webkit-transition: background-color ease-in 200ms;/* Safari and Chrome */
		-o-transition: background-color ease-in 200ms;/* Opera */
		-ms-transition: background-color ease-in 200ms;/* IE9? */
	}
	
	.CategorieTab_Bottom .resp-arrow {
		float: right;
		position: relative;
		top: 0px;
		display: inline-block;
		font-family: 'Glyphicons Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		margin-top: 0px;
		text-align:center;
	}
	
	.CategorieTab_Bottom .resp-arrow:empty {
		width: 1em;
	}
	
	.CategorieTab_Bottom .resp-arrow:before {
		content: "\002B";
	}
	
	.CategorieTab_Bottom .resp-tab-active .resp-arrow:before {
		content: "\2212";
	}
	
	.CategorieTab_Bottom .resp-accordion:hover {
		background: #eeeeee;
		color: #333333;
	}
	
	.CategorieTab_Bottom .resp-tab-active,
	.CategorieTab_Bottom .resp-tab-active:hover {
		background: #69b532;
	}
	
	.CategorieTab_Bottom .resp-tab-active span {
		color: #FFF;
	}
	
	.CategorieTab_Bottom .resp-tabs-container {
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border: none;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.CategorieTab_Bottom .resp-tabs-container .resp_margin {
		margin: 15px;
	}
	
	.CategorieTab_Bottom .resp-tab-content {
		border: 1px solid #e1e1e1;
		border-bottom: none;
		width: auto !important;
		padding: 0px;
		margin-bottom: 0px;
		clear: both;
		display: none;
	}
	
	.CategorieTab_Bottom .resp-tab-content:after {
		clear: both;
		content: ".";
		height: 0px;
		font-size: 0px;
		visibility: hidden;
		display: block;
	}
}



/*tabs top*/
.CategorieTab_Top {
	clear: both;
}
/* CategorieTab_Top_1*/
.CategorieTab_Top_1 {
	padding-bottom: 15px;
}

.CategorieTab_Top_1 ul.resp-tabs-list li,
.CategorieTab_Top_1 ul.resp-tabs-list li:hover {
	margin-right: 10px;
	border: 1px solid #d6d6d6;
	border-bottom: none;
}

.CategorieTab_Top_1 ul.resp-tabs-list li span,
.CategorieTab_Top_1 ul.resp-tabs-list li:hover span {
	padding: 12px 22px;
	font-size: 14px;
	color: #FFF;
}

.CategorieTab_Top_1 ul.resp-tabs-list li.resp-tab-active {
	border: 1px solid #d6d6d6;
	border-bottom: none;
}

.CategorieTab_Top_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	background-color: #fafafa;
}

.CategorieTab_Top_1 .resp-tabs-container {
	border: 1px solid #d6d6d6;
	background-color: #fafafa;
}

.CategorieTab_Bottom_1 {
	padding-bottom: 15px;
}

.CategorieTab_Bottom_1 ul.resp-tabs-list li,
.CategorieTab_Bottom_1 ul.resp-tabs-list li:hover {
	margin-right: 10px;
	border: 1px solid #d6d6d6;
	border-top: none;
}

.CategorieTab_Bottom_1 ul.resp-tabs-list li span,
.CategorieTab_Bottom_1 ul.resp-tabs-list li:hover span {
	padding: 12px 22px;
	font-size: 14px;
	color: #FFF;
}

.CategorieTab_Bottom_1 ul.resp-tabs-list li.resp-tab-active {
	border: 1px solid #d6d6d6;
	border-top: none;
}

.CategorieTab_Bottom_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
	background-color: #fafafa;
}

.CategorieTab_Bottom_1 .resp-tabs-container {
	border: 1px solid #d6d6d6;
	background-color: #fafafa;
}



.CategorieTab_Left_1 {
	padding-bottom: 15px;
}

.CategorieTab_Left_1 .resp-tab-content {
	border: none;
}

.CategorieTab_Left_1 .resp_container .resp_margin {
	border: 1px solid #d6d6d6;
	padding: 15px 25px;
	margin: 0;
	background: #fafafa!important;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	margin: 0px;
	border: none;
	background: none!important;
}

.CategorieTab_Left_1 ul.resp-tabs-list li {
	border: 1px solid transparent;
	padding-left: 1px;
	margin: 0 3px 8px 0;
}

.CategorieTab_Left_1 ul.resp-tabs-list li span,
.CategorieTab_Left_1 ul.resp-tabs-list li:hover span {
	padding: 13px 15px;
	margin: 0px;
	border: none;
	background: none;
	color: #FFF;
}

.CategorieTab_Left_1 ul.resp-tabs-list li:first-child {
	border: 1px solid #d6d6d6;
}

.CategorieTab_Left_1 ul.resp-tabs-list {
	padding: 0px;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active {
	margin-right: -1px;
	padding-right: 4px;
	border: 1px solid #d6d6d6!important;
	border-right: none!important;
	background: #fafafa!important;
}

.CategorieTab_Left_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
}

.CategorieTab_Right_1 {
	padding-bottom: 15px;
}

.CategorieTab_Right_1 .resp-tab-content {
	border: none;
}

.CategorieTab_Right_1 .resp_container .resp_margin {
	border: 1px solid #d6d6d6;
	padding: 15px 25px;
	margin: 0;
	background: #fafafa!important;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	margin: 0px;
	border: none;
	background: none!important;
}

.CategorieTab_Right_1 ul.resp-tabs-list li {
	border: 1px solid transparent;
	padding-right: 1px;
	margin: 0 0 8px 3px;
}

.CategorieTab_Right_1 ul.resp-tabs-list li span,
.CategorieTab_Right_1 ul.resp-tabs-list li:hover span {
	padding: 13px 15px;
	margin: 0px;
	border: none;
	background: none;
	color: #FFF;
}

.CategorieTab_Right_1 ul.resp-tabs-list li:first-child {
	border: 1px solid #d6d6d6;
}

.CategorieTab_Right_1 ul.resp-tabs-list {
	padding: 0px;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active {
	margin-left: -1px;
	padding-left: 4px;
	border: 1px solid #d6d6d6!important;
	border-left: none!important;
	background: #fafafa!important;
}

.CategorieTab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
	color: #2e2e2e;
}


.CategorieTab_Top_1 table td,
.CategorieTab_Left_1 table td,
.CategorieTab_Right_1 table td{
	vertical-align: top;
}

.CategorieTab_Top ul.resp-tabs-list li em,
.CategorieTab_Top ul.resp-tabs-list li i,
.CategorieTab_Top h2.resp-accordion span em,
.CategorieTab_Top h2.resp-accordion span i,
.CategorieTab_Bottom ul.resp-tabs-list li em,
.CategorieTab_Bottom ul.resp-tabs-list li i,
.CategorieTab_Bottom h2.resp-accordion span em,
.CategorieTab_Bottom h2.resp-accordion span i,
.CategorieTab_Left ul.resp-tabs-list li em,
.CategorieTab_Left ul.resp-tabs-list li i,
.CategorieTab_Left h2.resp-accordion span em,
.CategorieTab_Left h2.resp-accordion span i,
.CategorieTab_Right ul.resp-tabs-list li em,
.CategorieTab_Right ul.resp-tabs-list li i,
.CategorieTab_Right h2.resp-accordion span em,
.CategorieTab_Right h2.resp-accordion span i {
	margin-right: 5px;
}
 @media only screen and (max-width: 768px) {

.CategorieTab_Left_1 .resp_container .resp_margin,
.CategorieTab_Right_1 .resp_container .resp_margin{
	/*border-bottom: none;*/
}
.CategorieTab_Top_1 .resp-tabs-container{
	border: none;
}
.CategorieTab_Bottom_1 .resp-tabs-container {
	border-top:none;
	border-left:none;
	border-right:none;	
}
.CategorieTab_Top_1 .resp-tabs-container {
	border-bottom: 1px solid #d6d6d6;
}
.CategorieTab_Top h2.resp-accordion,
.CategorieTab_Left h2.resp-accordion {
	border: 1px solid #d6d6d6;
	border-bottom: none;
}
}

/*CategorieTab*/

.CategorieTab_Top_1 ul.resp-tabs-list li,
.CategorieTab_Top_1 ul.resp-tabs-list li:hover,
.CategorieTab_Bottom_1 ul.resp-tabs-list li,
.CategorieTab_Bottom_1 ul.resp-tabs-list li:hover {
	background-color: #ed474a;
}

.CategorieTab_Left_1 ul.resp-tabs-list li,
.CategorieTab_Right_1 ul.resp-tabs-list li{
	background-color: #ed474a;
}
 @media only screen and (max-width: 768px) {

.CategorieTab_Top .resp-tab-active,
.CategorieTab_Top .resp-tab-active:hover,
.CategorieTab_Bottom_1 .resp-tab-active,
.CategorieTab_Bottom_1 .resp-tab-active:hover,
.CategorieTab_Left .resp-tab-active,
.CategorieTab_Left .resp-tab-active:hover,
.CategorieTab_Right .resp-tab-active,
.CategorieTab_Right .resp-tab-active:hover {
	background-color: #ed474a;
}
.CategorieTab_Left .resp-tab-content .resp_margin,
.CategorieTab_Right .resp-tab-content .resp_margin {
	min-height:inherit!important;
}

}





/*Tab*/
.CategorieTab_Default .ranking_tabs{
	border-radius:0px;
	border:none;
	background:none;
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav{
	border:none;
	border-radius:0px;
	padding:0px;
	margin:0px;
	background:none;
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav .ui-state-default{
	list-style:none;
	float:left;
	border:none;
	background:none;
}

.CategorieTab_Default .ranking_tabs .ui-tabs-nav li a{
	font-weight: bold; 
	color: #666;
	display: block; 
	background:#F4F4F4;
	padding: 0 15px; 
	line-height: 36px;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 0;
	font-size:13px;
	text-decoration:none!important;
	font-family:Arial;
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav li a:hover{
	color: #333; 
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav li.ui-state-active a{
	background:#fff;
	color: #333; 
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav li:first-child a{
	border-left-width: 1px;
    border-top-left-radius: 2px;
}
.CategorieTab_Default .ranking_tabs .ui-tabs-nav li:last-child a{
	border-top-right-radius: 2px;
}

.CategorieTab_Default .tab-content .ui-tabs-panel{
	display:block;
	padding:0px;
	background:none;
	border-radius:0px;
	border:none;
}
.CategorieTab_Default .tab-content .ui-tabs-hide{
	display:none;
}
.CategorieTab_Default .tab-content{
	padding: 10px; 
	margin:0px;
	background-color: #fff; clear: none;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 2px 2px #ddd; -webkit-box-shadow: 0 2px 2px #ddd; box-shadow: 0 2px 2px #ddd;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0;
}

.CategorieTab_Default .news_toplist{
	padding:0px!important;
	margin:0px;
}
.CategorieTab_Default .news_toplist li:first-child{
	border-top:none;	
}
.CategorieTab_Default .news_toplist li{
	list-style:none;
	border-top:1px solid #ccc;
	padding:8px 0px;
	border-bottom:none;
}
.CategorieTab_Default .news_toplist li:first-child{
	padding-top:0px;
}
.CategorieTab_Default .news_toplist li .post_thum{
	float:left;
	margin-right:10px;
	margin-top:7px;
	margin-bottom:8px;
	border:none;
	padding:0px;
}
.CategorieTab_Default .news_toplist li .post_thum a{
    background:none;
    display: block;
}
.CategorieTab_Default .news_toplist li .post_thum img{
	display:block;
	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	max-width:100%;
	width:auto;
}
.CategorieTab_Default .news_toplist li .post_thum img:hover{
	opacity: 0.6;
}
.CategorieTab_Default .news_toplist li .post_title{
	font:bold 13px/16px Arial;
	margin:5px 0px 5px 0px;
}
.CategorieTab_Default .news_toplist .post_summary{
	margin:5px 0px;
	clear:both;
}
.CategorieTab_Default .news_toplist li .post_title,
.CategorieTab_Default .news_toplist li .post_date,
.CategorieTab_Default .news_toplist li .post_more{
	color: #717171;
}
.CategorieTab_Default .news_toplist li .post_date{
	font-style:italic;	
}
.CategorieTab_Default .news_toplist li .post_title a,
.CategorieTab_Default .news_toplist li .post_date a,
.CategorieTab_Default .news_toplist li .post_more a{
	color: #111;
	text-decoration:none;
}
.CategorieTab_Default .news_toplist li .post_title a:hover,
.CategorieTab_Default .news_toplist li .post_date a:hover,
.CategorieTab_Default .news_toplist li .post_more a:hover{
	text-decoration:underline;
}

.CategorieTab_Default .post_tabtag a {
	font-size: 13px !important; 
	color: #3E3E3E!important;
	line-height: 22px;
	background-color: #fff;
	display: inline-block; 
	margin: 0 3px 6px 0; 
	padding: 1px 9px;
	border: 1px solid #D4D4D4;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	text-decoration:none!important;
	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}
.CategorieTab_Default .post_tabtag a:hover { background-color: #333; text-decoration: none; color:#fff!important;}


.CategorieTab_Default .view_right{
	overflow:hidden;
}

.CategorieTab_Default .post_thum {
	margin-bottom:8px;
}
.CategorieTab_Default .post_title {
	margin-bottom:8px;
}
.CategorieTab_Default .post_date {
	margin-bottom:8px;
}
.CategorieTab_Default .post_Author {
	margin-bottom:8px;
}
.CategorieTab_Default .post_category {
	margin-bottom:8px;
}
.CategorieTab_Default .post_tags {
	margin-bottom:8px;
}
.CategorieTab_Default .post_summary {
	margin-bottom:8px;
}


@media (max-width: 767px) {
	.CategorieTab_Default .news_toplist li .post_thum{
		float:none;
		margin-right:0px;
		margin-bottom:10px;
	}	
}