<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PopupSkin.ascx.cs" Inherits="WestchesterGSA.Skins.Sample.PopupSkin" %>
<%@ Register TagPrefix="dnn" TagName="META" Src="~/Admin/Skins/Meta.ascx" %>

<dnn:META ID="mobileScale" runat="server" Name="viewport" Content="width=device-width,initial-scale=1" />

<div id="ContentPane" runat="server" class="col-md-12" />

