/* CSS Document */
html,
body {
	margin: 0px;
	padding: 0px;
	font: normal 14px/1.8 'Roboto', 'Arial';
	color: #666666;
	height: 100%;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
}

@media only screen and (max-width: 991px) {
	.dng-main {
		overflow-x: hidden;
	}
}
@media only screen and (max-width: 1400px) and (orientation: landscape) {
	.dng-main {
		overflow-x: hidden;
	}
}


h1 {
	margin: 5px 0 10px 0;
}
h2 {
	margin: 5px 0 10px 0;
}
h3 {
	margin: 5px 0 10px 0;
}
h4 {
	margin: 5px 0 10px 0;
}
h5 {
	margin: 5px 0 10px 0;
}
h6 {
	margin: 5px 0 10px 0;
}

::-webkit-input-placeholder {
	color:inherit;
	opacity:0.9;
}
:-moz-placeholder {
	color:inherit;
	opacity:0.9;
}
::-moz-placeholder {
	color:inherit;
	opacity:0.9;
}
:-ms-input-placeholder {
	color:inherit;
	opacity:0.9;
}
:placeholder {
	color:inherit;
	opacity:0.9;
}


a,
a:link {
	text-decoration: none;
	transition: color ease 300ms;
	-moz-transition: color ease 300ms;
	-webkit-transition: color ease 300ms;
	-o-transition: color ease 300ms;
	-ms-transition: color ease 300ms;
}


/* Spacing */
#Body .pt-0{padding-top:0px}#Body .mt-0{margin-top:0px}#Body .pt-1{padding-top:1px}#Body .mt-1{margin-top:1px}#Body .pt-2{padding-top:2px}#Body .mt-2{margin-top:2px}#Body .pt-3{padding-top:3px}#Body .mt-3{margin-top:3px}#Body .pt-4{padding-top:4px}#Body .mt-4{margin-top:4px}#Body .pt-5{padding-top:5px}#Body .mt-5{margin-top:5px}#Body .pt-10{padding-top:10px}#Body .mt-10{margin-top:10px}#Body .pt-15{padding-top:15px}#Body .mt-15{margin-top:15px}#Body .pt-20{padding-top:20px}#Body .mt-20{margin-top:20px}#Body .pt-25{padding-top:25px}#Body .mt-25{margin-top:25px}#Body .pt-30{padding-top:30px}#Body .mt-30{margin-top:30px}#Body .pt-35{padding-top:35px}#Body .mt-35{margin-top:35px}#Body .pt-40{padding-top:40px}#Body .mt-40{margin-top:40px}#Body .pt-45{padding-top:45px}#Body .mt-45{margin-top:45px}#Body .pt-50{padding-top:50px}#Body .mt-50{margin-top:50px}#Body .pt-55{padding-top:55px}#Body .mt-55{margin-top:55px}#Body .pt-60{padding-top:60px}#Body .mt-60{margin-top:60px}#Body .pt-65{padding-top:65px}#Body .mt-65{margin-top:65px}#Body .pt-70{padding-top:70px}#Body .mt-70{margin-top:70px}#Body .pt-75{padding-top:75px}#Body .mt-75{margin-top:75px}#Body .pt-80{padding-top:80px}#Body .mt-80{margin-top:80px}#Body .pr-0{padding-right:0px}#Body .mr-0{margin-right:0px}#Body .pr-1{padding-right:1px}#Body .mr-1{margin-right:1px}#Body .pr-2{padding-right:2px}#Body .mr-2{margin-right:2px}#Body .pr-3{padding-right:3px}#Body .mr-3{margin-right:3px}#Body .pr-4{padding-right:4px}#Body .mr-4{margin-right:4px}#Body .pr-5{padding-right:5px}#Body .mr-5{margin-right:5px}#Body .pr-10{padding-right:10px}#Body .mr-10{margin-right:10px}#Body .pr-15{padding-right:15px}#Body .mr-15{margin-right:15px}#Body .pr-20{padding-right:20px}#Body .mr-20{margin-right:20px}#Body .pr-25{padding-right:25px}#Body .mr-25{margin-right:25px}#Body .pr-30{padding-right:30px}#Body .mr-30{margin-right:30px}#Body .pr-35{padding-right:35px}#Body .mr-35{margin-right:35px}#Body .pr-40{padding-right:40px}#Body .mr-40{margin-right:40px}#Body .pr-45{padding-right:45px}#Body .mr-45{margin-right:45px}#Body .pr-50{padding-right:50px}#Body .mr-50{margin-right:50px}#Body .pr-55{padding-right:55px}#Body .mr-55{margin-right:55px}#Body .pr-60{padding-right:60px}#Body .mr-60{margin-right:60px}#Body .pr-65{padding-right:65px}#Body .mr-65{margin-right:65px}#Body .pr-70{padding-right:70px}#Body .mr-70{margin-right:70px}#Body .pr-75{padding-right:75px}#Body .mr-75{margin-right:75px}#Body .pr-80{padding-right:80px}#Body .mr-80{margin-right:80px}#Body .pb-0{padding-bottom:0px}#Body .mb-0{margin-bottom:0px}#Body .pb-1{padding-bottom:1px}#Body .mb-1{margin-bottom:1px}#Body .pb-2{padding-bottom:2px}#Body .mb-2{margin-bottom:2px}#Body .pb-3{padding-bottom:3px}#Body .mb-3{margin-bottom:3px}#Body .pb-4{padding-bottom:4px}#Body .mb-4{margin-bottom:4px}#Body .pb-5{padding-bottom:5px}#Body .mb-5{margin-bottom:5px}#Body .pb-10{padding-bottom:10px}#Body .mb-10{margin-bottom:10px}#Body .pb-15{padding-bottom:15px}#Body .mb-15{margin-bottom:15px}#Body .pb-20{padding-bottom:20px}#Body .mb-20{margin-bottom:20px}#Body .pb-25{padding-bottom:25px}#Body .mb-25{margin-bottom:25px}#Body .pb-30{padding-bottom:30px}#Body .mb-30{margin-bottom:30px}#Body .pb-35{padding-bottom:35px}#Body .mb-35{margin-bottom:35px}#Body .pb-40{padding-bottom:40px}#Body .mb-40{margin-bottom:40px}#Body .pb-45{padding-bottom:45px}#Body .mb-45{margin-bottom:45px}#Body .pb-50{padding-bottom:50px}#Body .mb-50{margin-bottom:50px}#Body .pb-55{padding-bottom:55px}#Body .mb-55{margin-bottom:55px}#Body .pb-60{padding-bottom:60px}#Body .mb-60{margin-bottom:60px}#Body .pb-65{padding-bottom:65px}#Body .mb-65{margin-bottom:65px}#Body .pb-70{padding-bottom:70px}#Body .mb-70{margin-bottom:70px}#Body .pb-75{padding-bottom:75px}#Body .mb-75{margin-bottom:75px}#Body .pb-80{padding-bottom:80px}#Body .mb-80{margin-bottom:80px}#Body .pl-0{padding-left:0px}#Body .ml-0{margin-left:0px}#Body .pl-1{padding-left:1px}#Body .ml-1{margin-left:1px}#Body .pl-2{padding-left:2px}#Body .ml-2{margin-left:2px}#Body .pl-3{padding-left:3px}#Body .ml-3{margin-left:3px}#Body .pl-4{padding-left:4px}#Body .ml-4{margin-left:4px}#Body .pl-5{padding-left:5px}#Body .ml-5{margin-left:5px}#Body .pl-10{padding-left:10px}#Body .ml-10{margin-left:10px}#Body .pl-15{padding-left:15px}#Body .ml-15{margin-left:15px}#Body .pl-20{padding-left:20px}#Body .ml-20{margin-left:20px}#Body .pl-25{padding-left:25px}#Body .ml-25{margin-left:25px}#Body .pl-30{padding-left:30px}#Body .ml-30{margin-left:30px}#Body .pl-35{padding-left:35px}#Body .ml-35{margin-left:35px}#Body .pl-40{padding-left:40px}#Body .ml-40{margin-left:40px}#Body .pl-45{padding-left:45px}#Body .ml-45{margin-left:45px}#Body .pl-50{padding-left:50px}#Body .ml-50{margin-left:50px}#Body .pl-55{padding-left:55px}#Body .ml-55{margin-left:55px}#Body .pl-60{padding-left:60px}#Body .ml-60{margin-left:60px}#Body .pl-65{padding-left:65px}#Body .ml-65{margin-left:65px}#Body .pl-70{padding-left:70px}#Body .ml-70{margin-left:70px}#Body .pl-75{padding-left:75px}#Body .ml-75{margin-left:75px}#Body .pl-80{padding-left:80px}#Body .ml-80{margin-left:80px}#Body .m-auto{margin:auto}#Body .ml-auto{margin-left:auto}#Body .mr-auto{margin-right:auto}
@media (min-width: 576px){#Body .pt-sm-0{padding-top:0px}#Body .mt-sm-0{margin-top:0px}#Body .pt-sm-1{padding-top:1px}#Body .mt-sm-1{margin-top:1px}#Body .pt-sm-2{padding-top:2px}#Body .mt-sm-2{margin-top:2px}#Body .pt-sm-3{padding-top:3px}#Body .mt-sm-3{margin-top:3px}#Body .pt-sm-4{padding-top:4px}#Body .mt-sm-4{margin-top:4px}#Body .pt-sm-5{padding-top:5px}#Body .mt-sm-5{margin-top:5px}#Body .pt-sm-10{padding-top:10px}#Body .mt-sm-10{margin-top:10px}#Body .pt-sm-15{padding-top:15px}#Body .mt-sm-15{margin-top:15px}#Body .pt-sm-20{padding-top:20px}#Body .mt-sm-20{margin-top:20px}#Body .pt-sm-25{padding-top:25px}#Body .mt-sm-25{margin-top:25px}#Body .pt-sm-30{padding-top:30px}#Body .mt-sm-30{margin-top:30px}#Body .pt-sm-35{padding-top:35px}#Body .mt-sm-35{margin-top:35px}#Body .pt-sm-40{padding-top:40px}#Body .mt-sm-40{margin-top:40px}#Body .pt-sm-45{padding-top:45px}#Body .mt-sm-45{margin-top:45px}#Body .pt-sm-50{padding-top:50px}#Body .mt-sm-50{margin-top:50px}#Body .pt-sm-55{padding-top:55px}#Body .mt-sm-55{margin-top:55px}#Body .pt-sm-60{padding-top:60px}#Body .mt-sm-60{margin-top:60px}#Body .pt-sm-65{padding-top:65px}#Body .mt-sm-65{margin-top:65px}#Body .pt-sm-70{padding-top:70px}#Body .mt-sm-70{margin-top:70px}#Body .pt-sm-75{padding-top:75px}#Body .mt-sm-75{margin-top:75px}#Body .pt-sm-80{padding-top:80px}#Body .mt-sm-80{margin-top:80px}#Body .pr-sm-0{padding-right:0px}#Body .mr-sm-0{margin-right:0px}#Body .pr-sm-1{padding-right:1px}#Body .mr-sm-1{margin-right:1px}#Body .pr-sm-2{padding-right:2px}#Body .mr-sm-2{margin-right:2px}#Body .pr-sm-3{padding-right:3px}#Body .mr-sm-3{margin-right:3px}#Body .pr-sm-4{padding-right:4px}#Body .mr-sm-4{margin-right:4px}#Body .pr-sm-5{padding-right:5px}#Body .mr-sm-5{margin-right:5px}#Body .pr-sm-10{padding-right:10px}#Body .mr-sm-10{margin-right:10px}#Body .pr-sm-15{padding-right:15px}#Body .mr-sm-15{margin-right:15px}#Body .pr-sm-20{padding-right:20px}#Body .mr-sm-20{margin-right:20px}#Body .pr-sm-25{padding-right:25px}#Body .mr-sm-25{margin-right:25px}#Body .pr-sm-30{padding-right:30px}#Body .mr-sm-30{margin-right:30px}#Body .pr-sm-35{padding-right:35px}#Body .mr-sm-35{margin-right:35px}#Body .pr-sm-40{padding-right:40px}#Body .mr-sm-40{margin-right:40px}#Body .pr-sm-45{padding-right:45px}#Body .mr-sm-45{margin-right:45px}#Body .pr-sm-50{padding-right:50px}#Body .mr-sm-50{margin-right:50px}#Body .pr-sm-55{padding-right:55px}#Body .mr-sm-55{margin-right:55px}#Body .pr-sm-60{padding-right:60px}#Body .mr-sm-60{margin-right:60px}#Body .pr-sm-65{padding-right:65px}#Body .mr-sm-65{margin-right:65px}#Body .pr-sm-70{padding-right:70px}#Body .mr-sm-70{margin-right:70px}#Body .pr-sm-75{padding-right:75px}#Body .mr-sm-75{margin-right:75px}#Body .pr-sm-80{padding-right:80px}#Body .mr-sm-80{margin-right:80px}#Body .pb-sm-0{padding-bottom:0px}#Body .mb-sm-0{margin-bottom:0px}#Body .pb-sm-1{padding-bottom:1px}#Body .mb-sm-1{margin-bottom:1px}#Body .pb-sm-2{padding-bottom:2px}#Body .mb-sm-2{margin-bottom:2px}#Body .pb-sm-3{padding-bottom:3px}#Body .mb-sm-3{margin-bottom:3px}#Body .pb-sm-4{padding-bottom:4px}#Body .mb-sm-4{margin-bottom:4px}#Body .pb-sm-5{padding-bottom:5px}#Body .mb-sm-5{margin-bottom:5px}#Body .pb-sm-10{padding-bottom:10px}#Body .mb-sm-10{margin-bottom:10px}#Body .pb-sm-15{padding-bottom:15px}#Body .mb-sm-15{margin-bottom:15px}#Body .pb-sm-20{padding-bottom:20px}#Body .mb-sm-20{margin-bottom:20px}#Body .pb-sm-25{padding-bottom:25px}#Body .mb-sm-25{margin-bottom:25px}#Body .pb-sm-30{padding-bottom:30px}#Body .mb-sm-30{margin-bottom:30px}#Body .pb-sm-35{padding-bottom:35px}#Body .mb-sm-35{margin-bottom:35px}#Body .pb-sm-40{padding-bottom:40px}#Body .mb-sm-40{margin-bottom:40px}#Body .pb-sm-45{padding-bottom:45px}#Body .mb-sm-45{margin-bottom:45px}#Body .pb-sm-50{padding-bottom:50px}#Body .mb-sm-50{margin-bottom:50px}#Body .pb-sm-55{padding-bottom:55px}#Body .mb-sm-55{margin-bottom:55px}#Body .pb-sm-60{padding-bottom:60px}#Body .mb-sm-60{margin-bottom:60px}#Body .pb-sm-65{padding-bottom:65px}#Body .mb-sm-65{margin-bottom:65px}#Body .pb-sm-70{padding-bottom:70px}#Body .mb-sm-70{margin-bottom:70px}#Body .pb-sm-75{padding-bottom:75px}#Body .mb-sm-75{margin-bottom:75px}#Body .pb-sm-80{padding-bottom:80px}#Body .mb-sm-80{margin-bottom:80px}#Body .pl-sm-0{padding-left:0px}#Body .ml-sm-0{margin-left:0px}#Body .pl-sm-1{padding-left:1px}#Body .ml-sm-1{margin-left:1px}#Body .pl-sm-2{padding-left:2px}#Body .ml-sm-2{margin-left:2px}#Body .pl-sm-3{padding-left:3px}#Body .ml-sm-3{margin-left:3px}#Body .pl-sm-4{padding-left:4px}#Body .ml-sm-4{margin-left:4px}#Body .pl-sm-5{padding-left:5px}#Body .ml-sm-5{margin-left:5px}#Body .pl-sm-10{padding-left:10px}#Body .ml-sm-10{margin-left:10px}#Body .pl-sm-15{padding-left:15px}#Body .ml-sm-15{margin-left:15px}#Body .pl-sm-20{padding-left:20px}#Body .ml-sm-20{margin-left:20px}#Body .pl-sm-25{padding-left:25px}#Body .ml-sm-25{margin-left:25px}#Body .pl-sm-30{padding-left:30px}#Body .ml-sm-30{margin-left:30px}#Body .pl-sm-35{padding-left:35px}#Body .ml-sm-35{margin-left:35px}#Body .pl-sm-40{padding-left:40px}#Body .ml-sm-40{margin-left:40px}#Body .pl-sm-45{padding-left:45px}#Body .ml-sm-45{margin-left:45px}#Body .pl-sm-50{padding-left:50px}#Body .ml-sm-50{margin-left:50px}#Body .pl-sm-55{padding-left:55px}#Body .ml-sm-55{margin-left:55px}#Body .pl-sm-60{padding-left:60px}#Body .ml-sm-60{margin-left:60px}#Body .pl-sm-65{padding-left:65px}#Body .ml-sm-65{margin-left:65px}#Body .pl-sm-70{padding-left:70px}#Body .ml-sm-70{margin-left:70px}#Body .pl-sm-75{padding-left:75px}#Body .ml-sm-75{margin-left:75px}#Body .pl-sm-80{padding-left:80px}#Body .ml-sm-80{margin-left:80px}#Body .m-sm-auto{margin:auto}#Body .ml-sm-auto{margin-left:auto}#Body .mr-sm-auto{margin-right:auto}}
@media (min-width: 768px){#Body .pt-md-0{padding-top:0px}#Body .mt-md-0{margin-top:0px}#Body .pt-md-1{padding-top:1px}#Body .mt-md-1{margin-top:1px}#Body .pt-md-2{padding-top:2px}#Body .mt-md-2{margin-top:2px}#Body .pt-md-3{padding-top:3px}#Body .mt-md-3{margin-top:3px}#Body .pt-md-4{padding-top:4px}#Body .mt-md-4{margin-top:4px}#Body .pt-md-5{padding-top:5px}#Body .mt-md-5{margin-top:5px}#Body .pt-md-10{padding-top:10px}#Body .mt-md-10{margin-top:10px}#Body .pt-md-15{padding-top:15px}#Body .mt-md-15{margin-top:15px}#Body .pt-md-20{padding-top:20px}#Body .mt-md-20{margin-top:20px}#Body .pt-md-25{padding-top:25px}#Body .mt-md-25{margin-top:25px}#Body .pt-md-30{padding-top:30px}#Body .mt-md-30{margin-top:30px}#Body .pt-md-35{padding-top:35px}#Body .mt-md-35{margin-top:35px}#Body .pt-md-40{padding-top:40px}#Body .mt-md-40{margin-top:40px}#Body .pt-md-45{padding-top:45px}#Body .mt-md-45{margin-top:45px}#Body .pt-md-50{padding-top:50px}#Body .mt-md-50{margin-top:50px}#Body .pt-md-55{padding-top:55px}#Body .mt-md-55{margin-top:55px}#Body .pt-md-60{padding-top:60px}#Body .mt-md-60{margin-top:60px}#Body .pt-md-65{padding-top:65px}#Body .mt-md-65{margin-top:65px}#Body .pt-md-70{padding-top:70px}#Body .mt-md-70{margin-top:70px}#Body .pt-md-75{padding-top:75px}#Body .mt-md-75{margin-top:75px}#Body .pt-md-80{padding-top:80px}#Body .mt-md-80{margin-top:80px}#Body .pr-md-0{padding-right:0px}#Body .mr-md-0{margin-right:0px}#Body .pr-md-1{padding-right:1px}#Body .mr-md-1{margin-right:1px}#Body .pr-md-2{padding-right:2px}#Body .mr-md-2{margin-right:2px}#Body .pr-md-3{padding-right:3px}#Body .mr-md-3{margin-right:3px}#Body .pr-md-4{padding-right:4px}#Body .mr-md-4{margin-right:4px}#Body .pr-md-5{padding-right:5px}#Body .mr-md-5{margin-right:5px}#Body .pr-md-10{padding-right:10px}#Body .mr-md-10{margin-right:10px}#Body .pr-md-15{padding-right:15px}#Body .mr-md-15{margin-right:15px}#Body .pr-md-20{padding-right:20px}#Body .mr-md-20{margin-right:20px}#Body .pr-md-25{padding-right:25px}#Body .mr-md-25{margin-right:25px}#Body .pr-md-30{padding-right:30px}#Body .mr-md-30{margin-right:30px}#Body .pr-md-35{padding-right:35px}#Body .mr-md-35{margin-right:35px}#Body .pr-md-40{padding-right:40px}#Body .mr-md-40{margin-right:40px}#Body .pr-md-45{padding-right:45px}#Body .mr-md-45{margin-right:45px}#Body .pr-md-50{padding-right:50px}#Body .mr-md-50{margin-right:50px}#Body .pr-md-55{padding-right:55px}#Body .mr-md-55{margin-right:55px}#Body .pr-md-60{padding-right:60px}#Body .mr-md-60{margin-right:60px}#Body .pr-md-65{padding-right:65px}#Body .mr-md-65{margin-right:65px}#Body .pr-md-70{padding-right:70px}#Body .mr-md-70{margin-right:70px}#Body .pr-md-75{padding-right:75px}#Body .mr-md-75{margin-right:75px}#Body .pr-md-80{padding-right:80px}#Body .mr-md-80{margin-right:80px}#Body .pb-md-0{padding-bottom:0px}#Body .mb-md-0{margin-bottom:0px}#Body .pb-md-1{padding-bottom:1px}#Body .mb-md-1{margin-bottom:1px}#Body .pb-md-2{padding-bottom:2px}#Body .mb-md-2{margin-bottom:2px}#Body .pb-md-3{padding-bottom:3px}#Body .mb-md-3{margin-bottom:3px}#Body .pb-md-4{padding-bottom:4px}#Body .mb-md-4{margin-bottom:4px}#Body .pb-md-5{padding-bottom:5px}#Body .mb-md-5{margin-bottom:5px}#Body .pb-md-10{padding-bottom:10px}#Body .mb-md-10{margin-bottom:10px}#Body .pb-md-15{padding-bottom:15px}#Body .mb-md-15{margin-bottom:15px}#Body .pb-md-20{padding-bottom:20px}#Body .mb-md-20{margin-bottom:20px}#Body .pb-md-25{padding-bottom:25px}#Body .mb-md-25{margin-bottom:25px}#Body .pb-md-30{padding-bottom:30px}#Body .mb-md-30{margin-bottom:30px}#Body .pb-md-35{padding-bottom:35px}#Body .mb-md-35{margin-bottom:35px}#Body .pb-md-40{padding-bottom:40px}#Body .mb-md-40{margin-bottom:40px}#Body .pb-md-45{padding-bottom:45px}#Body .mb-md-45{margin-bottom:45px}#Body .pb-md-50{padding-bottom:50px}#Body .mb-md-50{margin-bottom:50px}#Body .pb-md-55{padding-bottom:55px}#Body .mb-md-55{margin-bottom:55px}#Body .pb-md-60{padding-bottom:60px}#Body .mb-md-60{margin-bottom:60px}#Body .pb-md-65{padding-bottom:65px}#Body .mb-md-65{margin-bottom:65px}#Body .pb-md-70{padding-bottom:70px}#Body .mb-md-70{margin-bottom:70px}#Body .pb-md-75{padding-bottom:75px}#Body .mb-md-75{margin-bottom:75px}#Body .pb-md-80{padding-bottom:80px}#Body .mb-md-80{margin-bottom:80px}#Body .pl-md-0{padding-left:0px}#Body .ml-md-0{margin-left:0px}#Body .pl-md-1{padding-left:1px}#Body .ml-md-1{margin-left:1px}#Body .pl-md-2{padding-left:2px}#Body .ml-md-2{margin-left:2px}#Body .pl-md-3{padding-left:3px}#Body .ml-md-3{margin-left:3px}#Body .pl-md-4{padding-left:4px}#Body .ml-md-4{margin-left:4px}#Body .pl-md-5{padding-left:5px}#Body .ml-md-5{margin-left:5px}#Body .pl-md-10{padding-left:10px}#Body .ml-md-10{margin-left:10px}#Body .pl-md-15{padding-left:15px}#Body .ml-md-15{margin-left:15px}#Body .pl-md-20{padding-left:20px}#Body .ml-md-20{margin-left:20px}#Body .pl-md-25{padding-left:25px}#Body .ml-md-25{margin-left:25px}#Body .pl-md-30{padding-left:30px}#Body .ml-md-30{margin-left:30px}#Body .pl-md-35{padding-left:35px}#Body .ml-md-35{margin-left:35px}#Body .pl-md-40{padding-left:40px}#Body .ml-md-40{margin-left:40px}#Body .pl-md-45{padding-left:45px}#Body .ml-md-45{margin-left:45px}#Body .pl-md-50{padding-left:50px}#Body .ml-md-50{margin-left:50px}#Body .pl-md-55{padding-left:55px}#Body .ml-md-55{margin-left:55px}#Body .pl-md-60{padding-left:60px}#Body .ml-md-60{margin-left:60px}#Body .pl-md-65{padding-left:65px}#Body .ml-md-65{margin-left:65px}#Body .pl-md-70{padding-left:70px}#Body .ml-md-70{margin-left:70px}#Body .pl-md-75{padding-left:75px}#Body .ml-md-75{margin-left:75px}#Body .pl-md-80{padding-left:80px}#Body .ml-md-80{margin-left:80px}#Body .m-md-auto{margin:auto}#Body .ml-md-auto{margin-left:auto}#Body .mr-md-auto{margin-right:auto}}
@media (min-width: 992px){#Body .pt-lg-0{padding-top:0px}#Body .mt-lg-0{margin-top:0px}#Body .pt-lg-1{padding-top:1px}#Body .mt-lg-1{margin-top:1px}#Body .pt-lg-2{padding-top:2px}#Body .mt-lg-2{margin-top:2px}#Body .pt-lg-3{padding-top:3px}#Body .mt-lg-3{margin-top:3px}#Body .pt-lg-4{padding-top:4px}#Body .mt-lg-4{margin-top:4px}#Body .pt-lg-5{padding-top:5px}#Body .mt-lg-5{margin-top:5px}#Body .pt-lg-10{padding-top:10px}#Body .mt-lg-10{margin-top:10px}#Body .pt-lg-15{padding-top:15px}#Body .mt-lg-15{margin-top:15px}#Body .pt-lg-20{padding-top:20px}#Body .mt-lg-20{margin-top:20px}#Body .pt-lg-25{padding-top:25px}#Body .mt-lg-25{margin-top:25px}#Body .pt-lg-30{padding-top:30px}#Body .mt-lg-30{margin-top:30px}#Body .pt-lg-35{padding-top:35px}#Body .mt-lg-35{margin-top:35px}#Body .pt-lg-40{padding-top:40px}#Body .mt-lg-40{margin-top:40px}#Body .pt-lg-45{padding-top:45px}#Body .mt-lg-45{margin-top:45px}#Body .pt-lg-50{padding-top:50px}#Body .mt-lg-50{margin-top:50px}#Body .pt-lg-55{padding-top:55px}#Body .mt-lg-55{margin-top:55px}#Body .pt-lg-60{padding-top:60px}#Body .mt-lg-60{margin-top:60px}#Body .pt-lg-65{padding-top:65px}#Body .mt-lg-65{margin-top:65px}#Body .pt-lg-70{padding-top:70px}#Body .mt-lg-70{margin-top:70px}#Body .pt-lg-75{padding-top:75px}#Body .mt-lg-75{margin-top:75px}#Body .pt-lg-80{padding-top:80px}#Body .mt-lg-80{margin-top:80px}#Body .pr-lg-0{padding-right:0px}#Body .mr-lg-0{margin-right:0px}#Body .pr-lg-1{padding-right:1px}#Body .mr-lg-1{margin-right:1px}#Body .pr-lg-2{padding-right:2px}#Body .mr-lg-2{margin-right:2px}#Body .pr-lg-3{padding-right:3px}#Body .mr-lg-3{margin-right:3px}#Body .pr-lg-4{padding-right:4px}#Body .mr-lg-4{margin-right:4px}#Body .pr-lg-5{padding-right:5px}#Body .mr-lg-5{margin-right:5px}#Body .pr-lg-10{padding-right:10px}#Body .mr-lg-10{margin-right:10px}#Body .pr-lg-15{padding-right:15px}#Body .mr-lg-15{margin-right:15px}#Body .pr-lg-20{padding-right:20px}#Body .mr-lg-20{margin-right:20px}#Body .pr-lg-25{padding-right:25px}#Body .mr-lg-25{margin-right:25px}#Body .pr-lg-30{padding-right:30px}#Body .mr-lg-30{margin-right:30px}#Body .pr-lg-35{padding-right:35px}#Body .mr-lg-35{margin-right:35px}#Body .pr-lg-40{padding-right:40px}#Body .mr-lg-40{margin-right:40px}#Body .pr-lg-45{padding-right:45px}#Body .mr-lg-45{margin-right:45px}#Body .pr-lg-50{padding-right:50px}#Body .mr-lg-50{margin-right:50px}#Body .pr-lg-55{padding-right:55px}#Body .mr-lg-55{margin-right:55px}#Body .pr-lg-60{padding-right:60px}#Body .mr-lg-60{margin-right:60px}#Body .pr-lg-65{padding-right:65px}#Body .mr-lg-65{margin-right:65px}#Body .pr-lg-70{padding-right:70px}#Body .mr-lg-70{margin-right:70px}#Body .pr-lg-75{padding-right:75px}#Body .mr-lg-75{margin-right:75px}#Body .pr-lg-80{padding-right:80px}#Body .mr-lg-80{margin-right:80px}#Body .pb-lg-0{padding-bottom:0px}#Body .mb-lg-0{margin-bottom:0px}#Body .pb-lg-1{padding-bottom:1px}#Body .mb-lg-1{margin-bottom:1px}#Body .pb-lg-2{padding-bottom:2px}#Body .mb-lg-2{margin-bottom:2px}#Body .pb-lg-3{padding-bottom:3px}#Body .mb-lg-3{margin-bottom:3px}#Body .pb-lg-4{padding-bottom:4px}#Body .mb-lg-4{margin-bottom:4px}#Body .pb-lg-5{padding-bottom:5px}#Body .mb-lg-5{margin-bottom:5px}#Body .pb-lg-10{padding-bottom:10px}#Body .mb-lg-10{margin-bottom:10px}#Body .pb-lg-15{padding-bottom:15px}#Body .mb-lg-15{margin-bottom:15px}#Body .pb-lg-20{padding-bottom:20px}#Body .mb-lg-20{margin-bottom:20px}#Body .pb-lg-25{padding-bottom:25px}#Body .mb-lg-25{margin-bottom:25px}#Body .pb-lg-30{padding-bottom:30px}#Body .mb-lg-30{margin-bottom:30px}#Body .pb-lg-35{padding-bottom:35px}#Body .mb-lg-35{margin-bottom:35px}#Body .pb-lg-40{padding-bottom:40px}#Body .mb-lg-40{margin-bottom:40px}#Body .pb-lg-45{padding-bottom:45px}#Body .mb-lg-45{margin-bottom:45px}#Body .pb-lg-50{padding-bottom:50px}#Body .mb-lg-50{margin-bottom:50px}#Body .pb-lg-55{padding-bottom:55px}#Body .mb-lg-55{margin-bottom:55px}#Body .pb-lg-60{padding-bottom:60px}#Body .mb-lg-60{margin-bottom:60px}#Body .pb-lg-65{padding-bottom:65px}#Body .mb-lg-65{margin-bottom:65px}#Body .pb-lg-70{padding-bottom:70px}#Body .mb-lg-70{margin-bottom:70px}#Body .pb-lg-75{padding-bottom:75px}#Body .mb-lg-75{margin-bottom:75px}#Body .pb-lg-80{padding-bottom:80px}#Body .mb-lg-80{margin-bottom:80px}#Body .pl-lg-0{padding-left:0px}#Body .ml-lg-0{margin-left:0px}#Body .pl-lg-1{padding-left:1px}#Body .ml-lg-1{margin-left:1px}#Body .pl-lg-2{padding-left:2px}#Body .ml-lg-2{margin-left:2px}#Body .pl-lg-3{padding-left:3px}#Body .ml-lg-3{margin-left:3px}#Body .pl-lg-4{padding-left:4px}#Body .ml-lg-4{margin-left:4px}#Body .pl-lg-5{padding-left:5px}#Body .ml-lg-5{margin-left:5px}#Body .pl-lg-10{padding-left:10px}#Body .ml-lg-10{margin-left:10px}#Body .pl-lg-15{padding-left:15px}#Body .ml-lg-15{margin-left:15px}#Body .pl-lg-20{padding-left:20px}#Body .ml-lg-20{margin-left:20px}#Body .pl-lg-25{padding-left:25px}#Body .ml-lg-25{margin-left:25px}#Body .pl-lg-30{padding-left:30px}#Body .ml-lg-30{margin-left:30px}#Body .pl-lg-35{padding-left:35px}#Body .ml-lg-35{margin-left:35px}#Body .pl-lg-40{padding-left:40px}#Body .ml-lg-40{margin-left:40px}#Body .pl-lg-45{padding-left:45px}#Body .ml-lg-45{margin-left:45px}#Body .pl-lg-50{padding-left:50px}#Body .ml-lg-50{margin-left:50px}#Body .pl-lg-55{padding-left:55px}#Body .ml-lg-55{margin-left:55px}#Body .pl-lg-60{padding-left:60px}#Body .ml-lg-60{margin-left:60px}#Body .pl-lg-65{padding-left:65px}#Body .ml-lg-65{margin-left:65px}#Body .pl-lg-70{padding-left:70px}#Body .ml-lg-70{margin-left:70px}#Body .pl-lg-75{padding-left:75px}#Body .ml-lg-75{margin-left:75px}#Body .pl-lg-80{padding-left:80px}#Body .ml-lg-80{margin-left:80px}#Body .m-lg-auto{margin:auto}#Body .ml-lg-auto{margin-left:auto}#Body .mr-lg-auto{margin-right:auto}}
@media (min-width: 1200px){#Body .pt-xl-0{padding-top:0px}#Body .mt-xl-0{margin-top:0px}#Body .pt-xl-1{padding-top:1px}#Body .mt-xl-1{margin-top:1px}#Body .pt-xl-2{padding-top:2px}#Body .mt-xl-2{margin-top:2px}#Body .pt-xl-3{padding-top:3px}#Body .mt-xl-3{margin-top:3px}#Body .pt-xl-4{padding-top:4px}#Body .mt-xl-4{margin-top:4px}#Body .pt-xl-5{padding-top:5px}#Body .mt-xl-5{margin-top:5px}#Body .pt-xl-10{padding-top:10px}#Body .mt-xl-10{margin-top:10px}#Body .pt-xl-15{padding-top:15px}#Body .mt-xl-15{margin-top:15px}#Body .pt-xl-20{padding-top:20px}#Body .mt-xl-20{margin-top:20px}#Body .pt-xl-25{padding-top:25px}#Body .mt-xl-25{margin-top:25px}#Body .pt-xl-30{padding-top:30px}#Body .mt-xl-30{margin-top:30px}#Body .pt-xl-35{padding-top:35px}#Body .mt-xl-35{margin-top:35px}#Body .pt-xl-40{padding-top:40px}#Body .mt-xl-40{margin-top:40px}#Body .pt-xl-45{padding-top:45px}#Body .mt-xl-45{margin-top:45px}#Body .pt-xl-50{padding-top:50px}#Body .mt-xl-50{margin-top:50px}#Body .pt-xl-55{padding-top:55px}#Body .mt-xl-55{margin-top:55px}#Body .pt-xl-60{padding-top:60px}#Body .mt-xl-60{margin-top:60px}#Body .pt-xl-65{padding-top:65px}#Body .mt-xl-65{margin-top:65px}#Body .pt-xl-70{padding-top:70px}#Body .mt-xl-70{margin-top:70px}#Body .pt-xl-75{padding-top:75px}#Body .mt-xl-75{margin-top:75px}#Body .pt-xl-80{padding-top:80px}#Body .mt-xl-80{margin-top:80px}#Body .pr-xl-0{padding-right:0px}#Body .mr-xl-0{margin-right:0px}#Body .pr-xl-1{padding-right:1px}#Body .mr-xl-1{margin-right:1px}#Body .pr-xl-2{padding-right:2px}#Body .mr-xl-2{margin-right:2px}#Body .pr-xl-3{padding-right:3px}#Body .mr-xl-3{margin-right:3px}#Body .pr-xl-4{padding-right:4px}#Body .mr-xl-4{margin-right:4px}#Body .pr-xl-5{padding-right:5px}#Body .mr-xl-5{margin-right:5px}#Body .pr-xl-10{padding-right:10px}#Body .mr-xl-10{margin-right:10px}#Body .pr-xl-15{padding-right:15px}#Body .mr-xl-15{margin-right:15px}#Body .pr-xl-20{padding-right:20px}#Body .mr-xl-20{margin-right:20px}#Body .pr-xl-25{padding-right:25px}#Body .mr-xl-25{margin-right:25px}#Body .pr-xl-30{padding-right:30px}#Body .mr-xl-30{margin-right:30px}#Body .pr-xl-35{padding-right:35px}#Body .mr-xl-35{margin-right:35px}#Body .pr-xl-40{padding-right:40px}#Body .mr-xl-40{margin-right:40px}#Body .pr-xl-45{padding-right:45px}#Body .mr-xl-45{margin-right:45px}#Body .pr-xl-50{padding-right:50px}#Body .mr-xl-50{margin-right:50px}#Body .pr-xl-55{padding-right:55px}#Body .mr-xl-55{margin-right:55px}#Body .pr-xl-60{padding-right:60px}#Body .mr-xl-60{margin-right:60px}#Body .pr-xl-65{padding-right:65px}#Body .mr-xl-65{margin-right:65px}#Body .pr-xl-70{padding-right:70px}#Body .mr-xl-70{margin-right:70px}#Body .pr-xl-75{padding-right:75px}#Body .mr-xl-75{margin-right:75px}#Body .pr-xl-80{padding-right:80px}#Body .mr-xl-80{margin-right:80px}#Body .pb-xl-0{padding-bottom:0px}#Body .mb-xl-0{margin-bottom:0px}#Body .pb-xl-1{padding-bottom:1px}#Body .mb-xl-1{margin-bottom:1px}#Body .pb-xl-2{padding-bottom:2px}#Body .mb-xl-2{margin-bottom:2px}#Body .pb-xl-3{padding-bottom:3px}#Body .mb-xl-3{margin-bottom:3px}#Body .pb-xl-4{padding-bottom:4px}#Body .mb-xl-4{margin-bottom:4px}#Body .pb-xl-5{padding-bottom:5px}#Body .mb-xl-5{margin-bottom:5px}#Body .pb-xl-10{padding-bottom:10px}#Body .mb-xl-10{margin-bottom:10px}#Body .pb-xl-15{padding-bottom:15px}#Body .mb-xl-15{margin-bottom:15px}#Body .pb-xl-20{padding-bottom:20px}#Body .mb-xl-20{margin-bottom:20px}#Body .pb-xl-25{padding-bottom:25px}#Body .mb-xl-25{margin-bottom:25px}#Body .pb-xl-30{padding-bottom:30px}#Body .mb-xl-30{margin-bottom:30px}#Body .pb-xl-35{padding-bottom:35px}#Body .mb-xl-35{margin-bottom:35px}#Body .pb-xl-40{padding-bottom:40px}#Body .mb-xl-40{margin-bottom:40px}#Body .pb-xl-45{padding-bottom:45px}#Body .mb-xl-45{margin-bottom:45px}#Body .pb-xl-50{padding-bottom:50px}#Body .mb-xl-50{margin-bottom:50px}#Body .pb-xl-55{padding-bottom:55px}#Body .mb-xl-55{margin-bottom:55px}#Body .pb-xl-60{padding-bottom:60px}#Body .mb-xl-60{margin-bottom:60px}#Body .pb-xl-65{padding-bottom:65px}#Body .mb-xl-65{margin-bottom:65px}#Body .pb-xl-70{padding-bottom:70px}#Body .mb-xl-70{margin-bottom:70px}#Body .pb-xl-75{padding-bottom:75px}#Body .mb-xl-75{margin-bottom:75px}#Body .pb-xl-80{padding-bottom:80px}#Body .mb-xl-80{margin-bottom:80px}#Body .pl-xl-0{padding-left:0px}#Body .ml-xl-0{margin-left:0px}#Body .pl-xl-1{padding-left:1px}#Body .ml-xl-1{margin-left:1px}#Body .pl-xl-2{padding-left:2px}#Body .ml-xl-2{margin-left:2px}#Body .pl-xl-3{padding-left:3px}#Body .ml-xl-3{margin-left:3px}#Body .pl-xl-4{padding-left:4px}#Body .ml-xl-4{margin-left:4px}#Body .pl-xl-5{padding-left:5px}#Body .ml-xl-5{margin-left:5px}#Body .pl-xl-10{padding-left:10px}#Body .ml-xl-10{margin-left:10px}#Body .pl-xl-15{padding-left:15px}#Body .ml-xl-15{margin-left:15px}#Body .pl-xl-20{padding-left:20px}#Body .ml-xl-20{margin-left:20px}#Body .pl-xl-25{padding-left:25px}#Body .ml-xl-25{margin-left:25px}#Body .pl-xl-30{padding-left:30px}#Body .ml-xl-30{margin-left:30px}#Body .pl-xl-35{padding-left:35px}#Body .ml-xl-35{margin-left:35px}#Body .pl-xl-40{padding-left:40px}#Body .ml-xl-40{margin-left:40px}#Body .pl-xl-45{padding-left:45px}#Body .ml-xl-45{margin-left:45px}#Body .pl-xl-50{padding-left:50px}#Body .ml-xl-50{margin-left:50px}#Body .pl-xl-55{padding-left:55px}#Body .ml-xl-55{margin-left:55px}#Body .pl-xl-60{padding-left:60px}#Body .ml-xl-60{margin-left:60px}#Body .pl-xl-65{padding-left:65px}#Body .ml-xl-65{margin-left:65px}#Body .pl-xl-70{padding-left:70px}#Body .ml-xl-70{margin-left:70px}#Body .pl-xl-75{padding-left:75px}#Body .ml-xl-75{margin-left:75px}#Body .pl-xl-80{padding-left:80px}#Body .ml-xl-80{margin-left:80px}#Body .m-xl-auto{margin:auto}#Body .ml-xl-auto{margin-left:auto}#Body .mr-xl-auto{margin-right:auto}}


@media (max-width: 575px){
    .mt-xs-reset {margin-top:0px !important;}
    .mr-xs-reset {margin-right:0px !important;}
    .mb-xs-reset {margin-bottom:0px !important;}
    .ml-xs-reset {margin-left:0px !important;}
    .ml-reset {margin:0px !important;}
}
@media (max-width: 767px){
    .mt-sm-reset {margin-top:0px !important;}
    .mr-sm-reset {margin-right:0px !important;}
    .mb-sm-reset {margin-bottom:0px !important;}
    .ml-sm-reset {margin-left:0px !important;}
    .ml-reset {margin:0px !important;}
}
@media (max-width: 991px){
    .mt-md-reset {margin-top:0px !important;}
    .mr-md-reset {margin-right:0px !important;}
    .mb-md-reset {margin-bottom:0px !important;}
    .ml-md-reset {margin-left:0px !important;}
    .ml-reset {margin:0px !important;}
}
@media (max-width: 1199px){
    .mt-lg-reset {margin-top:0px !important;}
    .mr-lg-reset {margin-right:0px !important;}
    .mb-lg-reset {margin-bottom:0px !important;}
    .ml-lg-reset {margin-left:0px !important;}
    .ml-reset {margin:0px !important;}
}

 



@media (max-width: 1199px){
    .full-lg-none.full-column-inner{
        margin-right: 0!important;
        width: auto!important;
    }
}
@media (max-width: 991px){
    .full-md-none.full-column-inner{
        margin-right: 0!important;
        width: auto!important;
    }
}
@media (max-width: 767px){
    .full-sm-none.full-column-inner{
        margin-right: 0!important;
        width: auto!important;
    }
}
@media (max-width: 575px){
    .full-xs-none.full-column-inner{
        margin-right: 0!important;
        width: auto!important;
    }
}




/*left full ,right full*/
.dng-left-full,
.dng-right-full{
	max-width:none;
}
/*list*/
.list-style,
.list-style li{
	list-style: none !important;
	
}
.list-style{
	margin: 0!important;
	padding: 0!important;
}

/*Fixed Footer*/
.fixed_footer_bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	max-height: 100%;
}

.fixed_footer_bottom .fixed_footer.active {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-Y: auto;
}

.fixed_footer_clone {
	background-color: #121212;
}

.dng-main.Boxed .rev_slider_wrapper.fullscreen-container {
	max-width: 100% !important;
	left: 0 !important;
}

@media only screen and (max-width: 991px) {
	.fixed_footer_bottom .fixed_footer.active {
		position: relative;
	}

	.fixed_footer_bottom,
	.fixed_footer_clone,
	.footer_box {
		height: auto !important;
		position: relative !important;
		max-height: inherit !important;
	}
}




/*color-white*/
.color-white,
.color-white p,
.color-white .Normal,
.color-white a,
.color-white a:link,
.color-white a:active,
.color-white a:visited,
.color-white a:hover,
.color-white h1,
.color-white h2,
.color-white h3,
.color-white h4,
.color-white h5,
.color-white h6 {
	color: #FFF !important;
}

/*ilightbox-noscroll*/
body.ilightbox-noscroll {
	overflow: visible;
}


[data-parallax="parallax"] {
	visibility: hidden;
}

[data-parallax="parallax"].parallax-load {
	visibility: visible;
}

/*input*/
input[type="text"]{
	border-radius: 0;
}


/*icon*/
.fa,
.fas{
	font-weight:900!important;
}
.sico,.icon-svg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sico svg{
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: inherit;
    vertical-align: initial;
}

p > .sico,
p > .icon-svg,
li > .sico,
li > .icon-svg{
    vertical-align: middle;
    margin-bottom: 0.2em;
}


/*icon-svg*/

.icon-svg svg{
	width: 1em;
	height: 1em;
	stroke: currentColor!important;
	opacity: 0;
    vertical-align: sub;
    color: inherit;
}
.icon-svg svg *{
    color: inherit;
}
.icon-svg svg path,
.icon-svg svg polyline,
.icon-svg svg rect,
.icon-svg svg line{
	stroke: currentColor;
	fill:none;
	stroke-width:2;
    stroke-miterlimit: 10;
}
.icon-svg.animated svg{
	opacity: 1;
}



/*btn*/
[class^='button-'],
[class*=' button-'] {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    height: 50px;
    padding: 0 25px;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 50px;
    -webkit-transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition:all .3s cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
body [class*='btn-']:hover {

}
[class*='btn-']:focus {
    outline: 0;
    box-shadow: none;
}
body [class*='btn-'] {
    text-decoration: none !important;
}

/*social*/
[class*="social-"] {
    position: relative;
    display: inline-block;
}

/* section-no-padding */
.d-wrapper .section-no-padding.is-box .is-container{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
/* col-no-padding */
.row.col-no-padding{
	margin-left: 0;
	margin-right: 0;
}
.row.col-no-padding [class*="col-"]{
	padding-left: 0;
	padding-right: 0;
}
.is-container.no-space{
	margin-top: 0!important;
	margin-bottom: 0!important;
    padding: 0!important;
}

.layout-no-mt .is-container{
	margin-top: 0!important;
}
.layout-no-mb .is-container{
	margin-bottom: 0!important;
}
.layout-no-plr .is-container{
    padding-left: 0!important;
    padding-right: 0!important;
}

/*border radius*/
.border-radius-0{
    border-radius: 0px!important;
}
.border-radius-3{
    border-radius: 3px!important;
}
.border-radius-circle{
    border-radius:50%!important;
}
/*border radius*/
.position-relative{
  position: relative!important;  
}
.position-static{
  position: static!important;   
}
.icon-cross{
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
}
.icon-cross::after,
.icon-cross::before{
    content: "";
    border-left: 2px solid currentColor;
    position: absolute;
    height: 94%;
    margin-top: 3%;
    left: 50%;
    border-radius: 3px;
    margin-left: -1px;
}
.icon-cross::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-cross::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* */

/* Adjustment for Default & Foundation */
.d-wrapper .container > .row, 
.d-wrapper .container > div > .row {padding-top:10px;padding-bottom:10px;margin-top:0;margin-bottom:0;} 

.d-wrapper .container-fluid > .row, 
.d-wrapper .container-fluid > div > .row {padding-top:10px;padding-bottom:10px}    
.d-wrapper a:hover{
    text-decoration: none;
}
.d-wrapper img{
    max-width: 100%;
}
.height-20 {height:20px}
.height-40 {height:40px}
.height-60 {height:60px}
.height-80 {height:80px}
.height-100 {height:100px}
.height-120 {height:120px}
.height-140 {height:140px}
.height-160 {height:160px}
.height-180 {height:180px}
.height-200 {height:200px}
.height-220 {height:220px}
.height-240 {height:240px}
.height-260 {height:260px}
.height-280 {height:280px}
.height-300 {height:300px}
@media (max-width: 768px) {
    .height-20 {height:20px}
    .height-40 {height:40px}
    .height-60 {height:40px}
    .height-80 {height:40px}
    .height-100 {height:40px}
    .height-120 {height:40px}
    .height-140 {height:40px}
    .height-160 {height:40px}
    .height-180 {height:40px}
    .height-200 {height:40px}
    .height-220 {height:40px}
    .height-240 {height:40px}
    .height-260 {height:40px}
    .height-280 {height:40px}
    .height-300 {height:40px}
}

.size-12 {font-size:12px !important}
.size-14 {font-size:14px !important}
.size-16 {font-size:16px !important}
.size-18 {font-size:18px !important}
.size-20 {font-size:20px !important}
.size-21 {font-size:21px !important}
.size-22 {font-size:22px !important}
.size-24 {font-size:24px !important}
.size-26 {font-size:26px !important}
.size-28 {font-size:28px !important}
.size-30 {font-size:30px !important}
.size-32 {font-size:32px !important}
.size-35 {font-size:35px !important}
.size-36 {font-size:36px !important}
.size-38 {font-size:38px !important}
.size-40 {font-size:40px !important}

.size-42 {font-size:42px !important}
.size-46 {font-size:46px !important}
.size-48 {font-size:48px !important}
.size-50 {font-size:50px !important}
.size-54 {font-size:54px !important}
.size-60 {font-size:60px !important}
.size-64 {font-size:64px !important}
.size-68 {font-size:68px !important}
.size-72 {font-size:72px !important}
.size-76 {font-size:76px !important}
.size-80 {font-size:80px !important}
.size-84 {font-size:84px !important}
.size-88 {font-size:88px !important}
.size-92 {font-size:92px !important}
.size-96 {font-size:96px !important}
.size-100 {font-size:100px !important}
.size-104 {font-size:104px !important}
.size-108 {font-size:108px !important}
.size-112 {font-size:112px !important}
.size-116 {font-size:116px !important}
.size-120 {font-size:120px !important}
.size-124 {font-size:124px !important}
.size-128 {font-size:128px !important}
.size-132 {font-size:132px !important}
.size-136 {font-size:136px !important}
.size-140 {font-size:140px !important}
.size-144 {font-size:144px !important}
.size-148 {font-size:148px !important}
.size-152 {font-size:152px !important}
.size-156 {font-size:156px !important}
.size-160 {font-size:160px !important}
.size-164 {font-size:164px !important}
.size-168 {font-size:168px !important}
.size-172 {font-size:172px !important}
.size-176 {font-size:176px !important}
.size-180 {font-size:180px !important}
.size-184 {font-size:184px !important}
.size-188 {font-size:188px !important}
.size-192 {font-size:192px !important}
.size-196 {font-size:196px !important}
.size-200 {font-size:200px !important}
.size-204 {font-size:204px !important}
.size-208 {font-size:208px !important}
.size-212 {font-size:212px !important}
.size-216 {font-size:216px !important}
.size-220 {font-size:220px !important}

@media all and (max-width: 1024px) {
    .size-12 {font-size:12px !important}
    .size-14 {font-size:14px !important}
    .size-16 {font-size:16px !important}
    .size-18 {font-size:18px !important}
    .size-21 {font-size:21px !important}
    .size-24 {font-size:22px !important}
    .size-28 {font-size:24px !important}
    .size-32 {font-size:26px !important}
    .size-35 {font-size:28px !important}    
    .size-38 {font-size:30px !important}

    .size-12 {font-size:12px !important}
    .size-14 {font-size:14px !important}
    .size-16 {font-size:16px !important}
    .size-18 {font-size:18px !important}
    .size-20 {font-size:20px !important}
    .size-21 {font-size:21px !important}
    .size-22 {font-size:22px !important}
    .size-24 {font-size:24px !important}
    .size-26 {font-size:26px !important}
    .size-28 {font-size:26px !important}
    .size-30 {font-size:26px !important}
    .size-32 {font-size:26px !important}
    .size-35 {font-size:28px !important}
    .size-36 {font-size:28px !important}
    .size-38 {font-size:30px !important}
    .size-40 {font-size:30px !important}

    .size-42 {font-size:32px !important}
    .size-46 {font-size:34px !important}
    .size-48 {font-size:36px !important}
    .size-50 {font-size:36px !important}
    .size-54 {font-size:36px !important}

    .size-60 {font-size:42px !important}
    .size-64 {font-size:42px !important}
    .size-68 {font-size:42px !important}
    .size-72 {font-size:42px !important}
    .size-76 {font-size:42px !important}
    .size-80 {font-size:42px !important}
    .size-84 {font-size:42px !important}
    .size-88 {font-size:42px !important}
    .size-92 {font-size:42px !important}
    .size-96 {font-size:42px !important}

    .size-100 {font-size:48px !important}
    .size-104 {font-size:48px !important}
    .size-108 {font-size:48px !important}
    .size-112 {font-size:48px !important}
    .size-116 {font-size:48px !important}
    .size-120 {font-size:48px !important}
    .size-124 {font-size:48px !important}
    .size-128 {font-size:48px !important}
    .size-132 {font-size:48px !important}
    .size-136 {font-size:48px !important}
    .size-140 {font-size:48px !important}
    .size-144 {font-size:48px !important}
    .size-148 {font-size:48px !important}
    .size-152 {font-size:48px !important}
    .size-156 {font-size:48px !important}
    .size-160 {font-size:48px !important}
    .size-164 {font-size:48px !important}
    .size-168 {font-size:48px !important}
    .size-172 {font-size:48px !important}
    .size-176 {font-size:48px !important}
    .size-180 {font-size:48px !important}
    .size-184 {font-size:48px !important}
    .size-188 {font-size:48px !important}
    .size-192 {font-size:48px !important}
    .size-196 {font-size:48px !important}
    .size-200 {font-size:48px !important}
    .size-204 {font-size:48px !important}
    .size-208 {font-size:48px !important}
    .size-212 {font-size:48px !important}
    .size-216 {font-size:48px !important}
    .size-220 {font-size:48px !important}
}

@media all and (max-width: 767px) {
    .size-60 {font-size:36px !important}
    .size-64 {font-size:36px !important}
    .size-68 {font-size:36px !important}
    .size-72 {font-size:36px !important}
    .size-76 {font-size:36px !important}
    .size-80 {font-size:36px !important}
    .size-84 {font-size:36px !important}
    .size-88 {font-size:36px !important}
    .size-92 {font-size:36px !important}
    .size-96 {font-size:36px !important}
    .size-100 {font-size:36px !important}
    .size-104 {font-size:36px !important}
    .size-108 {font-size:36px !important}
    .size-112 {font-size:36px !important}
    .size-116 {font-size:36px !important}
    .size-120 {font-size:36px !important}
    .size-124 {font-size:36px !important}
    .size-128 {font-size:36px !important}
    .size-132 {font-size:36px !important}        
    .size-136 {font-size:36px !important}
    .size-140 {font-size:36px !important}
    .size-144 {font-size:36px !important}
    .size-148 {font-size:36px !important}
    .size-152 {font-size:36px !important}
    .size-156 {font-size:36px !important}
    .size-160 {font-size:36px !important}
    .size-164 {font-size:36px !important}
    .size-168 {font-size:36px !important}
    .size-172 {font-size:36px !important}
    .size-176 {font-size:36px !important}
    .size-180 {font-size:36px !important}
    .size-184 {font-size:36px !important}
    .size-188 {font-size:36px !important}
    .size-192 {font-size:36px !important}
    .size-196 {font-size:36px !important}
    .size-200 {font-size:36px !important}
    .size-204 {font-size:36px !important}
    .size-208 {font-size:36px !important}
    .size-212 {font-size:36px !important}
    .size-216 {font-size:36px !important}
    .size-220 {font-size:36px !important}
}



@media all and (max-width: 1024px) {
    .margin-left-1024-reset {margin-left:0px !important;}
    .margin-right-1024-reset {margin-right:0px !important;}
}

.letter-spacing-25 {letter-spacing:25px !important}
.letter-spacing-24 {letter-spacing:24px !important}
.letter-spacing-23 {letter-spacing:23px !important}
.letter-spacing-22 {letter-spacing:22px !important}
.letter-spacing-21 {letter-spacing:21px !important}
.letter-spacing-20 {letter-spacing:20px !important}
.letter-spacing-19 {letter-spacing:19px !important}
.letter-spacing-18 {letter-spacing:18px !important}
.letter-spacing-17 {letter-spacing:17px !important}
.letter-spacing-16 {letter-spacing:16px !important}
.letter-spacing-15 {letter-spacing:15px !important}
.letter-spacing-14 {letter-spacing:14px !important}
.letter-spacing-13 {letter-spacing:13px !important}
.letter-spacing-12 {letter-spacing:12px !important}
.letter-spacing-11 {letter-spacing:11px !important}
.letter-spacing-10 {letter-spacing:10px !important}
.letter-spacing-9 {letter-spacing:9px !important} 
.letter-spacing-8 {letter-spacing:8px !important}
.letter-spacing-7 {letter-spacing:7px !important}
.letter-spacing-6 {letter-spacing:6px !important}
.letter-spacing-5 {letter-spacing:5px !important}
.letter-spacing-4 {letter-spacing:4px !important}
.letter-spacing-3 {letter-spacing:3px !important}
.letter-spacing-2 {letter-spacing:2px !important}
.letter-spacing-1 {letter-spacing:1px !important}
@media all and (max-width: 1024px) {
    .letter-spacing-25 {letter-spacing:5px !important}
    .letter-spacing-24 {letter-spacing:5px !important}
    .letter-spacing-23 {letter-spacing:5px !important}
    .letter-spacing-22 {letter-spacing:5px !important}
    .letter-spacing-21 {letter-spacing:5px !important}
    .letter-spacing-20 {letter-spacing:5px !important}
    .letter-spacing-19 {letter-spacing:5px !important}
    .letter-spacing-18 {letter-spacing:5px !important}
    .letter-spacing-17 {letter-spacing:5px !important}
    .letter-spacing-16 {letter-spacing:5px !important}
    .letter-spacing-15 {letter-spacing:5px !important}
    .letter-spacing-14 {letter-spacing:5px !important}
    .letter-spacing-13 {letter-spacing:5px !important}
    .letter-spacing-12 {letter-spacing:5px !important}
    .letter-spacing-11 {letter-spacing:5px !important}
    .letter-spacing-10 {letter-spacing:5px !important} 
    .letter-spacing-9 {letter-spacing:5px !important} 
    .letter-spacing-8 {letter-spacing:4px !important}
    .letter-spacing-7 {letter-spacing:4px !important}
    .letter-spacing-6 {letter-spacing:3px !important}
    .letter-spacing-5 {letter-spacing:3px !important}
}


/* Container for All Sections */
.d-wrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.d-wrapper>div {
    display: table;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.d-wrapper .is-wrapper {
    position: relative;
}
.d-wrapper::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
}
.d-wrapper .d-placeholder{
    display: none;
}
/* Boxes */
.is-box{
    vertical-align: middle;
}
.is-boxes {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}
.is-boxes:empty{
    min-height: 50px;
}
.is-overlay + .is-boxes > .is-box-centered:empty{
    height: 275px;
}  
@media all and (max-width: 991px) {
    .is-overlay + .is-boxes:empty{
        min-height: 275px;
    }   
    .is-overlay + .is-boxes > .is-box-centered:empty{
        height: 275px;
    }   
}
.no-min-height{
    min-height: auto;
}
.is-box-0 {
    display: table-cell;
    width: 0%;
    height: 100%;
    position: relative;
}

.is-box-1 {
    display: table-cell;
    width: 8.333333%;
    height: 100%;
    position: relative;
}

.is-box-2 {
    display: table-cell;
    width: 16.666667%;
    height: 100%;
    position: relative;
}

.is-box-3 {
    display: table-cell;
    width: 25%;
    height: 100%;
    position: relative;
}

.is-box-4 {
    display: table-cell;
    width: 33.333333%;
    height: 100%;
    position: relative;
}

.is-box-5 {
    display: table-cell;
    width: 41.666667%;
    height: 100%;
    position: relative;
}

.is-box-6 {
    display: table-cell;
    width: 50%;
    height: 100%;
    position: relative;
}

.is-box-7 {
    display: table-cell;
    width: 58.333333%;
    height: 100%;
    position: relative;
}

.is-box-8 {
    display: table-cell;
    width: 66.666667%;
    height: 100%;
    position: relative;
}

.is-box-9 {
    display: table-cell;
    width: 75%;
    height: 100%;
    position: relative;
}

.is-box-10 {
    display: table-cell;
    width: 83.333333%;
    height: 100%;
    position: relative;
}

.is-box-11 {
    display: table-cell;
    width: 91.666667%;
    height: 100%;
    position: relative;
}

.is-box-12 {
    display: table-cell;
    width: 100%;
    height: 100%;
    position: relative;
}

.is-box-centered {
    display: table-cell;
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.is-stretch>div:not(.is-arrow-down) {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
}

.flexi-position {
    position: relative;
}

.is-stretch .flexi-position {
    position: absolute;
}

.is-section.is-stretch {
    min-height: 300px;
}

/* New */

@media all and (max-width: 960px) {

    /*   .is-section:not(.is-stretch), .is-section-100:not(.is-stretch) { height: auto !important; } is-stretch is an exception */
    .is-section:not(.is-box) {
        height: auto !important;
    }

    /* .is-boxes { height: auto !important; }
    .is-boxes {
        height: 100% !important;
    }
 */
    /* new */

    .is-box-img {
        height: 300px !important;
    }

    .is-box-img .is-boxes {
        height: 100% !important;
    }

    .is-box-1 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-2 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-3 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-4 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-5 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-6 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-7 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-8 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-9 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-10 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-11 {
        display: table;
        width: 100%;
        height: auto;
    }

    .is-box-12 {
        display: table;
        width: 100%;
        height: auto;
    }

    /* .is-box-centered {display:block;} */
    .is-box-centered {
        display: table-cell;
    }

    /* new */
}

.is-container {
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


/* Boxed Layout */
.d-wrapper .is-boxed-layout .is-container {
    padding: 50px;
    background: #fff;
}

/* 80px */
@media all and (max-width: 1280px) {
    .d-wrapper .is-boxed-layout .is-container {
        padding: 30px;
    }
}

@media all and (max-width: 1024px) {
    .d-wrapper .is-boxed-layout .is-container {
        padding: 30px;
    }
    .d-wrapper .is-boxed-layout .is-overlay {
        display: none !important;
    }
    .d-wrapper .is-boxed-layout {
        background: #fff !important;
    }
}

/* Default Layout */

/* Middle */
.d-wrapper .is-box .is-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.has-sidebar .d-wrapper .is-box .is-container {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

@media all and (max-width: 991px) {
    .d-wrapper .is-box .is-container {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .has-sidebar .d-wrapper .is-box .is-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}



/* Scroll Down Icon */
.is-arrow-down {
    display: table;
    position: absolute;
    bottom: 65px;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    z-index: 1
}
.is-arrow-down .icon.ion-ios-arrow-thin-down::before{ 
    content: "";
    width: 0;
    height: 20px;
    border-right: 2px solid currentColor;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -1px;
}
.is-arrow-down .icon.ion-ios-arrow-thin-down::after{
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media all and (max-width: 1025px) {
    .is-arrow-down {
        display: none !important;
    }
}

.is-arrow-down>a {
    background: rgba(0, 0, 0, 0.18);
    border-radius: 500px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.bounce {
    -moz-animation: bounce 5s forwards;
    -webkit-animation: bounce 5s forwards;
    animation: bounce 5s forwards;
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.is-arrow-down a,
.is-arrow-down a:link,
.is-arrow-down a:visited {
    color: #fff;
}

.is-arrow-down.light a,
.is-arrow-down.light a:link,
.is-arrow-down.light a:visited {
    background: rgba(255, 255, 255, 0.18);
    color: #111;
}

/* Overlay */
.is-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*z-index:1;*/
}

/*.is-boxes, .is-box-centered {z-index:1}*/
.is-overlay .is-overlay-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.is-overlay .is-overlay-bg.is-scale-animated.is-appeared {
    animation: is-scale 25s ease forwards;
    -ms-animation: is-scale 25s ease forwards;
    -webkit-animation: is-scale 25s ease forwards;
    -o-animation: is-scale 25s ease forwards;
    -moz-animation: is-scale 25s ease forwards;
}

@keyframes is-scale {
    from {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
    }

    to {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}

.is-overlay .is-overlay-color {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.05;
}

.is-overlay .is-overlay-content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: inherit;
    /* dec 2017 */
}

.is-overlay .is-overlay-content.content-selectable {
    z-index: 1
}

/* dec 2017 
.is-container {
    z-index: 1
}
*/
/* dec 2017 */

/* Section & Content Styles */

/* Background Color */
.is-bg-grey,
.d-wrapper>div.is-bg-grey {
    background-color: #eeeff0
}

.is-bg-dark,
.d-wrapper>div.is-bg-dark {
    background-color: #111
}

.is-bg-light,
.d-wrapper>div.is-bg-light {
    background-color: #fff
}
.d-wrapper>div.is-bg-none {
    background-color: transparent;
}

/* Text Color */
.is-light-text,
.is-light-text h1,
.is-light-text h2,
.is-light-text h3,
.is-light-text h4,
.is-light-text h5,
.is-light-text h6,
.is-light-text p,
.is-light-text li,
.is-light-text div,
.is-light-text span {
    color: #fff;
}
.is-dark-text .is-light-text {
    color: #fff;
}



/* Vertical Alignment */
.is-content-top {
    vertical-align: top;
}

.is-content-bottom {
    vertical-align: bottom
}

/* Horizontal Alignment */
.is-container.is-content-left {
    margin-left: 100px;
}

.is-container.is-content-right {
    margin-right: 100px;
}

@media all and (max-width: 1200px) {
    .is-container.is-content-left {
        margin-left: 60px
    }

    .is-container.is-content-right {
        margin-right: 60px;
    }
}

@media all and (max-width: 960px) {
    .is-container.is-content-left {
        margin-left: auto;
    }

    .is-container.is-content-right {
        margin-right: auto;
    }
}

.is-box-5 .is-content-left,
.is-box-4 .is-content-left,
.is-box-3 .is-content-left,
.is-box-2 .is-content-left,
.is-box-1 .is-content-left {
    margin-left: auto
}

.is-box-5 .is-content-right,
.is-box-4 .is-content-right,
.is-box-3 .is-content-right,
.is-box-2 .is-content-right,
.is-box-1 .is-content-right {
    margin-right: auto;
}
/* Edge Spacing */
.is-wrapper .is-box .is-content-top.edge-y--5 .is-container { margin-top:-200px; } 
.is-wrapper .is-box .is-content-bottom.edge-y--5 .is-container { margin-bottom:-200px; }

.is-wrapper .is-box .is-content-top.edge-y--4 .is-container { margin-top:-160px; } 
.is-wrapper .is-box .is-content-bottom.edge-y--4 .is-container { margin-bottom:-160px; }

.is-wrapper .is-box .is-content-top.edge-y--3 .is-container { margin-top:-120px; } 
.is-wrapper .is-box .is-content-bottom.edge-y--3 .is-container { margin-bottom:-120px; }

.is-wrapper .is-box .is-content-top.edge-y--2 .is-container { margin-top:-80px; }
.is-wrapper .is-box .is-content-bottom.edge-y--2 .is-container { margin-bottom:-80px; }
 
.is-wrapper .is-box .is-content-top.edge-y--1 .is-container { margin-top:-40px; } 
.is-wrapper .is-box .is-content-bottom.edge-y--1 .is-container { margin-bottom:-40px; }

.is-wrapper .is-box .is-content-top.edge-y-0  .is-container { margin-top:0; }
.is-wrapper .is-box .is-content-bottom.edge-y-0 .is-container { margin-bottom:0; }

.is-wrapper .is-box .is-content-top.edge-y-1  .is-container { margin-top:40px; } 
.is-wrapper .is-box .is-content-bottom.edge-y-1 .is-container { margin-bottom:40px; } 

.is-wrapper .is-box .is-content-top.edge-y-2  .is-container { margin-top:80px; }
.is-wrapper .is-box .is-content-bottom.edge-y-2 .is-container { margin-bottom:80px; }

.is-wrapper .is-box .is-content-top.edge-y-3  .is-container { margin-top:120px; }
.is-wrapper .is-box .is-content-bottom.edge-y-3 .is-container { margin-bottom:120px; }

.is-wrapper .is-box .is-content-top.edge-y-4  .is-container { margin-top:160px; }
.is-wrapper .is-box .is-content-bottom.edge-y-4 .is-container { margin-bottom:160px; }

.is-wrapper .is-box .is-content-top.edge-y-5  .is-container { margin-top:200px; }
.is-wrapper .is-box .is-content-bottom.edge-y-5 .is-container { margin-bottom:200px; }

@media all and (max-width: 960px) {     
    .is-wrapper .is-box .is-content-top.edge-y--5 .is-container { margin-top:-200px; } 
    .is-wrapper .is-box .is-content-bottom.edge-y--5 .is-container { margin-bottom:-200px; }

    .is-wrapper .is-box .is-content-top.edge-y--4 .is-container { margin-top:-160px; } 
    .is-wrapper .is-box .is-content-bottom.edge-y--4 .is-container { margin-bottom:-160px; }

    .is-wrapper .is-box .is-content-top.edge-y--3 .is-container { margin-top:-120px; } 
    .is-wrapper .is-box .is-content-bottom.edge-y--3 .is-container { margin-bottom:-120px; }

    .is-wrapper .is-box .is-content-top.edge-y--2 .is-container { margin-top:-80px; }
    .is-wrapper .is-box .is-content-bottom.edge-y--2 .is-container { margin-bottom:-80px; }
 
    .is-wrapper .is-box .is-content-top.edge-y--1 .is-container { margin-top:-20px; } 
    .is-wrapper .is-box .is-content-bottom.edge-y--1 .is-container { margin-bottom:-40px; }

    .is-wrapper .is-box .is-content-top.edge-y-1  .is-container { margin-top:40px; } /* old: 0px */
    .is-wrapper .is-box .is-content-bottom.edge-y-1 .is-container { margin-bottom:40px; } 

    .is-wrapper .is-box .is-content-top.edge-y-2  .is-container { margin-top:40px; }
    .is-wrapper .is-box .is-content-bottom.edge-y-2 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .is-content-top.edge-y-3  .is-container { margin-top:40px; }
    .is-wrapper .is-box .is-content-bottom.edge-y-3 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .is-content-top.edge-y-4  .is-container { margin-top:40px; }
    .is-wrapper .is-box .is-content-bottom.edge-y-4 .is-container { margin-bottom:40px; }

    .is-wrapper .is-box .is-content-top.edge-y-5  .is-container { margin-top:40px; }
    .is-wrapper .is-box .is-content-bottom.edge-y-5 .is-container { margin-bottom:40px; } /* old: 0px */
}

.is-content-left.edge-x-0 { margin-left:0 }
.is-content-right.edge-x-0 { margin-right:0 }

.is-content-left.edge-x-1 { margin-left:40px }
.is-content-right.edge-x-1 { margin-right:40px }

.is-content-left.edge-x-2 { margin-left:80px }
.is-content-right.edge-x-2 { margin-right:80px }

.is-content-left.edge-x-3 { margin-left:120px }
.is-content-right.edge-x-3 { margin-right:120px }

.is-content-left.edge-x-4 { margin-left:160px }
.is-content-right.edge-x-4 { margin-right:160px }

.is-content-left.edge-x-5 { margin-left:200px }
.is-content-right.edge-x-5 { margin-right:200px }

@media all and (max-width: 960px) {          
    .is-content-left.edge-x-1 { margin-left:auto }
    .is-content-right.edge-x-1 { margin-right:auto }

    .is-content-left.edge-x-2 { margin-left:auto }
    .is-content-right.edge-x-2 { margin-right:auto }

    .is-content-left.edge-x-3 { margin-left:auto }
    .is-content-right.edge-x-3 { margin-right:auto }

    .is-content-left.edge-x-4 { margin-left:auto }
    .is-content-right.edge-x-4 { margin-right:auto }

    .is-content-left.edge-x-5 { margin-left:auto }
    .is-content-right.edge-x-5 { margin-right:auto }
}


/* Text Alignment */
.is-align-right {
    text-align:right;
}
.is-align-center {
    text-align:center;
}
.is-align-left {
    text-align:left;
}
.is-align-justify {
    text-align:justify;
}

/* Text Opacity */
.is-opacity-20,
.is-opacity-20 .is-container {
    opacity: 0.2;
}

.is-opacity-25,
.is-opacity-25 .is-container {
    opacity: 0.25;
}

.is-opacity-30,
.is-opacity-30 .is-container {
    opacity: 0.3;
}

.is-opacity-35,
.is-opacity-35 .is-container {
    opacity: 0.35;
}

.is-opacity-40,
.is-opacity-40 .is-container {
    opacity: 0.4;
}

.is-opacity-45,
.is-opacity-45 .is-container {
    opacity: 0.45;
}

.is-opacity-50,
.is-opacity-50 .is-container {
    opacity: 0.5;
}

.is-opacity-55 .is-container {
    opacity: 0.55;
}

.is-opacity-60,
.is-opacity-60 .is-container {
    opacity: 0.6;
}

.is-opacity-65,
.is-opacity-65 .is-container {
    opacity: 0.65;
}

.is-opacity-70,
.is-opacity-70 .is-container {
    opacity: 0.7;
}

.is-opacity-75,
.is-opacity-75 .is-container {
    opacity: 0.75;
}

.is-opacity-80,
.is-opacity-80 .is-container {
    opacity: 0.8;
}

.is-opacity-85,
.is-opacity-85 .is-container {
    opacity: 0.85;
}

.is-opacity-90,
.is-opacity-90 .is-container {
    opacity: 0.9;
}

.is-opacity-95,
.is-opacity-95 .is-container {
    opacity: 0.95;
}


/* Content Size */
.is-content-380 {
    max-width: 380px !important;
}

.is-content-500 {
    max-width: 500px !important;
}

.is-content-640 {
    max-width: 640px !important;
}

.is-content-800 {
    max-width: 800px !important;
}

.is-content-970 {
    max-width: 970px !important;
}

.is-content-980 {
    max-width: 980px !important;
}

.is-content-1050 {
    max-width: 1050px !important;
}

.is-content-1100 {
    max-width: 1100px !important;
}

.is-content-1200 {
    max-width: 1200px !important;
}


/* Section Height */
.d-wrapper>div.is-section-20 {
    height: 20vh;
}

.d-wrapper>div.is-section-30 {
    height: 30vh;
}

.d-wrapper>div.is-section-40 {
    height: 40vh;
}

.d-wrapper>div.is-section-50 {
    height: 50vh;
}

.d-wrapper>div.is-section-60 {
    height: 60vh;
}

.d-wrapper>div.is-section-75 {
    height: 75vh;
}

.d-wrapper>div.is-section-100 {
    height: 100vh;
}

.d-wrapper>div.is-section-auto {
    height: 10vh;
}

@media (max-width: 575.98px) { 
    #Body .is-section-xs-50{
        height: 50vh;
    }
    #Body .is-section-xs-auto{
        height: auto;
        min-height: auto;
    }
 }

@media (max-width: 767.98px) {
    #Body .is-section-sm-50{
        height: 50vh;
    }
    #Body .is-section-sm-auto{
        height: auto;
        min-height: auto;
    }
}

@media (max-width: 991.98px) { 
    #Body .is-section-md-50{
        height: 50vh;
    }
    #Body .is-section-md-auto{
        height: auto;
        min-height: auto;
    }
 }
@media (max-width: 1199.98px) { 
    #Body .is-section-lg-50{
        height: 50vh;
    }  
    #Body .is-section-lg-auto{
        height: auto;
        min-height: auto;
    }
}

 
/* Stretched container (not used yet) */
.is-container.is-stretch-w {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
}

.is-container.is-stretch-h {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.is-container.is-stretch-w>div {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.is-container.is-stretch-w>div>div {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.is-container.is-stretch-h>div {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.is-container.is-fullheight {
    height: 100%
}
.is-container.is-container-fluid{
    max-width:none;
    width: auto;
}

.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
    background-attachment: fixed!important;
}

/*ipad background attachment*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.bg-attachment-fixed,.bg-attachment-fixed .is-overlay-bg{
		background-attachment: scroll !important;
	}

}

/* Others */

.is-hidden {
    display: none !important;
}
.gm-style{
    font-family: inherit !important;
}
/*.is-rounded-button-medium*/
.is-rounded-button-medium {}
.is-rounded-button-medium a {display:inline-block;text-align:center;margin:0 20px;border-radius: 500px; width: 70px; height: 70px;background-color: #aaa;overflow: hidden;}
.is-rounded-button-medium a i {display:inline-block;width:100%;height:100%;vertical-align:middle;color:#ffffff;font-size:30px;line-height: 70px;}
.is-rounded-button-medium a:first-child {margin:0 20px 0 0;}
.is-rounded-button-medium a:last-child {margin:0 0 0 20px;}


/*custom module loading*/
@-webkit-keyframes loading-rotate {
    0% {
        -webkit-transform: rotate(0);
    }
        100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading-rotate{
    0% {
        -moz-transform: rotate(0);
    }
        100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes loading-rotate{
    0% {
        transform: rotate(0);
    }
        100% {
        transform: rotate(360deg);
    }
}
.custom-module .swiper-container.loading,
.custom-module .soon.loading{
    min-height: 100px;
    max-height: 50vh;
    position: relative;
}
.custom-module .swiper-container.loading > *,
.custom-module .soon.loading > *{
    visibility: hidden;
}
 
.custom-module .swiper-container.loading:after,
.custom-module .soon.loading:after{
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 5px solid #E3E3E3;
  border-top-color: #555;
  border-left-color: #555;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -20px;
  -webkit-animation: loading-rotate 0.7s infinite;
  -moz-animation: loading-rotate 0.7s infinite;
  animation: loading-rotate 0.7s infinite;
  z-index: 101;
}
.custom-module .soon{
    display: none;
}
.custom-module .number{
    color: currentColor;
}

/*video*/
.html5-video {
    position: relative;
}
.html5-video video{
    width: 100%;
}
.html5-video .play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -36px 0 0 -36px;
    cursor: pointer;
}

/*tabs*/


