﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Skin_Mobile.ascx.cs" Inherits="DNNGo.Modules.ThemePluginPro.Skin_Mobile" %>
<a href="#gomenu<%=ClientID %>" class="mobilemenu_close" aria-label="Close"></a>
<div class="dng-mobilemenu mobile_menu <%=CssClass %>">
    <asp:Literal ID="LiContent" runat="server"></asp:Literal>
</div>
 
