﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Skin_Html.ascx.cs" Inherits="DNNGo.Modules.ThemePluginPro.Skin_Html" %>
<div id="gomenu<%=ClientID %>" class="gomenu <%=CssClass %>">
    <asp:Literal ID="LiContent" runat="server"></asp:Literal>
</div>
 
