﻿ 
<div id="accordion${ModuleID}" class="accordion $ThemeName">
  #if($SliderList.Count > 0) 
        #foreach($SliderItem in $SliderList)
         <div class="accordion-item">
            <div class="accordion-header"> <span class="title">${xf.ViewSliderSetting($SliderItem,"Title","")}</span> </div>
            <div class="accordion-content">${xf.ViewSliderSetting($SliderItem,"ContentHtml","")} </div>
          </div>
        #end
    #end
</div>
 
<style type="text/css">
#accordion${ModuleID} .accordion-header{
	color:${xf.ViewXmlSetting("TitleColor","#666666")};
	background-color:${xf.ViewXmlSetting("TitlebackgroundColor","#f5f5f5")};
	border-color:${xf.ViewXmlSetting("TitleBorderColor","#dddddd")};
}
#accordion${ModuleID} .accordion-header:before{
	border-right-color:${xf.ViewXmlSetting("TitleColor","#666666")};
	border-bottom-color:${xf.ViewXmlSetting("TitleColor","#666666")};
}
#accordion${ModuleID} .accordion-header:hover,
#accordion${ModuleID} .accordion-header.focus{
	color:${xf.ViewXmlSetting("TitleAccentColor","#777")};
	background-color:${xf.ViewXmlSetting("TitleAccentrbgColor","#eeeeee")};
	border-color:${xf.ViewXmlSetting("TitleAccentBorderColor","#dddddd")};
}
#accordion${ModuleID} .accordion-header:hover:before,
#accordion${ModuleID} .accordion-header.focus:before{
	border-right-color:${xf.ViewXmlSetting("TitleAccentColor","#777")};
	border-bottom-color:${xf.ViewXmlSetting("TitleAccentColor","#777")};
}
#accordion${ModuleID} .accordion-content{
	color:${xf.ViewXmlSetting("ContentColor","#333333")};
	background-color:${xf.ViewXmlSetting("ContentbackgroundColor","#f1f1f1")};
	border-color:${xf.ViewXmlSetting("BorderColor","#dddddd")};
}



</style>
 
<script type="text/javascript">


      jQuery(document).ready(function() {
          $("#accordion${ModuleID}").each(function () {
			  var e=$(this);	  
			  e.jqueryAccordion({
					  interval: ${xf.ViewXmlSetting("interval",200)},
					  fadeContent: ${xf.ViewXmlSetting("fadeContent","true")},
					  open: ${xf.ViewXmlSetting("open","true")},
					  defaultOpenIndex:${xf.ViewXmlSetting("defaultOpenIndex",1)}
			  });
			 e.OpenAccordion();
        });
			
      });
</script>
 
