﻿.blogDashBoard-tag a{
	display:inline-block;
	margin:0 7px 5px 0;
	border:1px solid #e5e5e5;
	padding:5px 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.blogDashBoard-tag a, 
.blogDashBoard-tag a:link, 
.blogDashBoard-tag a:active, 
.blogDashBoard-tag a:visited{
	color:#666666;
	font-size:13px;
	text-decoration:none;
	transition: 		all ease-in 200ms;
	-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
	-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	-o-transition: 		all ease-in 200ms; /* Opera */
	-ms-transition: 	all ease-in 200ms; /* IE9? */
}
.blogDashBoard-tag a:hover{
	border-color:#20a3f0;
	color:#20a3f0;
	text-decoration:none
}
