﻿@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Spectral:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Spectral', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.24rem; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Spectral', serif;
    font-weight: 300;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.52rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.52rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.24rem;margin: 0.72rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.73rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 3.8rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.45rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px 3px;
}

.d-wrapper .display-font1 {font-family: 'Sedgwick Ave', cursive;}
.d-wrapper .display-font2 {font-family: 'Spectral', serif;}
.d-wrapper .default-font1 {font-family: 'Spectral', serif;}
.d-wrapper .default-font2 {font-family: 'Spectral', serif;}