﻿@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14rem; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.14rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.34rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.4rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.48rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.14rem;margin: 0.58rem 0 0.3rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.57rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Pacifico', cursive;
    font-size: 3.6rem;
    letter-spacing: 2px;
    line-height: 1.7;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Pacifico', cursive;}
.d-wrapper .display-font2 {font-family: 'Nanum Gothic Coding', monospace;}
.d-wrapper .default-font1 {font-family: 'Nanum Gothic Coding', monospace;}
.d-wrapper .default-font2 {font-family: 'Nanum Gothic Coding', monospace;}
