﻿@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,600');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.18rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.28rem 0 0.1rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.39rem 0 0.1rem;line-height: 1.4;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.48rem 0 0.1rem;line-height: 1.55;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.55rem 0 0.1rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.25rem;margin: 0.65rem 0 0.1rem;line-height: 1.85;}
.d-wrapper p{margin:0.58rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.6rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin:0.4rem 0;
}
.d-wrapper .display p{
	font-family: 'Calligraffitti', cursive;
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Hammersmith One', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Calligraffitti', cursive;}
.d-wrapper .default-font1 {font-family: 'Hammersmith One', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Poppins', sans-serif;}
