﻿@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.28rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'The Girl Next Door', cursive;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 2px;    
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.1rem 0;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.25rem 0;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.4rem 0;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.5rem 0;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.6rem 0;line-height: 1.8;}
.d-wrapper h6{font-size: 1.28rem;margin: 0.74rem 0;line-height: 1.9;}
.d-wrapper p{margin:0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.7rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'The Girl Next Door', cursive;}
.d-wrapper .display-font2 {font-family: 'Source Sans Pro', sans-serif;}
.d-wrapper .default-font1 {font-family: 'The Girl Next Door', cursive;}
.d-wrapper .default-font2 {font-family: 'Source Sans Pro', sans-serif;}