﻿@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12rem; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4;    
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.05rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.35rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.6rem;margin: 0.4rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.35rem;margin: 0.5rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.12rem;margin: 0.6rem 0 0.3rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin:0.63rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 7px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Petit Formal Script', cursive;
    font-size: 1.5rem;
    line-height: 1.8;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Playfair Display', serif;}
.d-wrapper .display-font2 {font-family: 'Petit Formal Script', cursive;}
.d-wrapper .default-font1 {font-family: 'Playfair Display', serif;}
.d-wrapper .default-font2 {font-family: 'Playfair Display', serif;}
