﻿@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.05rem; 
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 2.8rem;margin: 0.05rem 0 0.2rem;}
.d-wrapper h2{font-size: 2.2rem;margin: 0.17rem 0 0.2rem;}
.d-wrapper h3{font-size: 1.8rem;margin: 0.3rem 0 0.2rem;}
.d-wrapper h4{font-size: 1.5rem;margin: 0.5rem 0 0.2rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.64rem 0 0.2rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.05rem;margin: 0.79rem 0 0.2rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 2px;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Space Mono', monospace;}
.d-wrapper .display-font2 {font-family: 'Space Mono', monospace;}
.d-wrapper .default-font1 {font-family: 'Space Mono', monospace;}
.d-wrapper .default-font2 {font-family: 'Space Mono', monospace;}