﻿@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Martel:200,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.08rem; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.07rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.32rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.46rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.63rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.08rem;margin: 0.9rem 0 0.3rem;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin: 0.8rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 7px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Merriweather Sans', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Open Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Merriweather Sans', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Martel', serif;}
