﻿@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Palanquin:200,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Palanquin', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yeon Sung', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.02rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.39rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.55rem 0 0.3rem;}
.d-wrapper h6{font-size: 1.3rem;margin: 0.6rem 0 0.3rem;line-height: 1.6;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 3px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 11px;
}
.is-btn-small {
    padding: 5px 25px 6px;
}

.d-wrapper .display-font1 {font-family: 'Yeon Sung', cursive;}
.d-wrapper .display-font2 {font-family: 'Palanquin', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Yeon Sung', cursive;}
.d-wrapper .default-font2 {font-family: 'Palanquin', sans-serif;}
