﻿@import url('https://fonts.googleapis.com/css?family=Oswald:200,500');
@import url('https://fonts.googleapis.com/css?family=Biryani:200,600');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Biryani', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3.5rem;margin: 0.01rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.47rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.18rem;margin: 0.65rem 0 0.3rem;font-weight: bold;text-transform:none;line-height: 1.9;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.4rem;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 9px;
    text-transform: uppercase;
}
.d-wrapper .display p{
    font-family: 'Tangerine', cursive;
    font-size: 2.6rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 3px;
}

.d-wrapper .display-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Tangerine', cursive;}
.d-wrapper .default-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Biryani', sans-serif;}