@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.13rem; 
    line-height: 1.8;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: none;
    font-style: normal;
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.02rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.8rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.4rem;margin: 0.35rem 0 0.3rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.47rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.46rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.53rem 0 0.3rem;line-height: 2;font-weight: bold;}
.d-wrapper p{margin:0.4rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 5.6rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-style: normal;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.48rem;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: none;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 10px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Source Code Pro', monospace;}
.d-wrapper .display-font2 {font-family: 'Nunito Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Source Code Pro', monospace;}
.d-wrapper .default-font2 {font-family: 'Nunito Sans', sans-serif;}