﻿@import url('https://fonts.googleapis.com/css?family=Caveat:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.02rem; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Caveat', cursive;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.6rem;margin: 0.12rem 0;}
.d-wrapper h2{font-size: 3.1rem;margin: 0.2rem 0;}
.d-wrapper h3{font-size: 2.6rem;margin: 0.26rem 0;}
.d-wrapper h4{font-size: 2.1rem;margin: 0.45rem 0;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.52rem 0;line-height: 1.5;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.65rem 0;font-weight: bold;line-height: 1.6;}
.d-wrapper p{margin:0.68rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.7rem;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Caveat', cursive;}
.d-wrapper .display-font2 {font-family: 'Source Code Pro', monospace;}
.d-wrapper .default-font1 {font-family: 'Caveat', cursive;}
.d-wrapper .default-font2 {font-family: 'Source Code Pro', monospace;}