﻿@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Pridi:200,500');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Pridi', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.16rem;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Pridi', serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3rem;margin: 0.01rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.62rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.16rem;margin: 0.74rem 0 0.3rem;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
	font-family: 'Poiret One', cursive;
    font-size: 5.2rem;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.2rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 1.8;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Poiret One', cursive;}
.d-wrapper .display-font2 {font-family: 'Pridi', serif;}
.d-wrapper .default-font1 {font-family: 'Pridi', serif;}
.d-wrapper .default-font2 {font-family: 'Pridi', serif;}