﻿@import url('https://fonts.googleapis.com/css?family=Gravitas+One');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19rem;
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 2.7rem;margin: 0.26rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.2rem;margin: 0.38rem 0 0.4rem;line-height: 1.45;}
.d-wrapper h3{font-size: 1.8rem;margin: 0.45rem 0 0.45rem;line-height: 1.55;}
.d-wrapper h4{font-size: 1.5rem;margin: 0.6rem 0 0.45rem;line-height: 1.65;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.62rem 0 0.45rem;line-height: 1.75;}
.d-wrapper h6{font-size: 1.19rem;margin: 0.77rem 0 0.45rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Gravitas One', cursive;
    font-size: 3.6rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Gravitas One', cursive;}
.d-wrapper .display-font2 {font-family: 'Nanum Myeongjo', serif;}
.d-wrapper .default-font1 {font-family: 'Nanum Myeongjo', serif;}
.d-wrapper .default-font2 {font-family: 'Nanum Myeongjo', serif;}