﻿@import url('https://fonts.googleapis.com/css?family=Bilbo');
@import url('https://fonts.googleapis.com/css?family=Halant:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Halant', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Bilbo', cursive;
    font-weight: 400;
    line-height: 1.2;
}        

.d-wrapper h1{font-size: 3.7rem;margin: 0.23rem 0 0.1rem;}
.d-wrapper h2{font-size: 3.1rem;margin: 0.32rem 0 0.1rem;}
.d-wrapper h3{font-size: 2.6rem;margin: 0.4rem 0 0.1rem;}
.d-wrapper h4{font-size: 2.1rem;margin: 0.5rem 0 0.1rem;line-height: 1.3;}
.d-wrapper h5{font-size: 1.8rem;margin: 0.52rem 0 0.1rem;line-height: 1.4;}
.d-wrapper h6{font-size: 1.5rem;margin: 0.63rem 0 0.1rem;line-height: 1.5;}
.d-wrapper p{margin:0.61rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.3rem;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Bilbo', cursive;}
.d-wrapper .display-font2 {font-family: 'Halant', serif;}
.d-wrapper .default-font1 {font-family: 'Bilbo', cursive;}
.d-wrapper .default-font2 {font-family: 'Halant', serif;}