﻿@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.1rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Kalam', cursive;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.1rem;margin: 0.2rem 0;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.3rem 0;}
.d-wrapper h3{font-size: 2rem;margin: 0.4rem 0;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.55rem 0;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.6rem 0;line-height:1.6;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.8rem 0;font-weight: bold;line-height:1.8;}
.d-wrapper p{margin:0.65rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.4rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Kalam', cursive;}
.d-wrapper .display-font2 {font-family: 'Roboto Mono', monospace;}
.d-wrapper .default-font1 {font-family: 'Kalam', cursive;}
.d-wrapper .default-font2 {font-family: 'Roboto Mono', monospace;}