﻿@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.02rem; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.34rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.45rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.55rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.76rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.78rem 0 0.3rem;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.85rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Nothing You Could Do', cursive;}
.d-wrapper .display-font2 {font-family: 'IBM Plex Mono', monospace;}
.d-wrapper .default-font1 {font-family: 'Nothing You Could Do', cursive;}
.d-wrapper .default-font2 {font-family: 'IBM Plex Mono', monospace;}