﻿@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19rem;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Passion One', cursive;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.21rem 0;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.31rem 0;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.41rem 0;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.55rem 0;line-height: 1.3;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.55rem 0;line-height: 1.5;}
.d-wrapper h6{font-size: 1.3rem;margin: 0.65rem 0;line-height: 1.7;}
.d-wrapper p{margin:0.6rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Passion One', cursive;}
.d-wrapper .display-font2 {font-family: 'Pacifico', cursive;}
.d-wrapper .default-font1 {font-family: 'Passion One', cursive;}
.d-wrapper .default-font2 {font-family: 'Work Sans', sans-serif;}
