@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');


/**********************************
    General
***********************************/


.d-wrapper {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}

.d-wrapper p,
.d-wrapper td,
.d-wrapper li,
.d-wrapper label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.12rem;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}

.d-wrapper h1,
.d-wrapper h2,
.d-wrapper h3,
.d-wrapper h4,
.d-wrapper h5,
.d-wrapper h6 {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: none;
    font-style: normal;
}

.d-wrapper h1 {
    font-size: 3.2rem;
    margin: 0.07rem 0 0.3rem;
}

.d-wrapper h2 {
    font-size: 2.6rem;
    margin: 0.34rem 0 0.3rem;
}

.d-wrapper h3 {
    font-size: 2.1rem;
    margin: 0.49rem 0 0.3rem;
}

.d-wrapper h4 {
    font-size: 1.8rem;
    margin: 0.56rem 0 0.3rem;
    line-height: 1.6;
}

.d-wrapper h5 {
    font-size: 1.6rem;
    margin: 0.58rem 0 0.3rem;
    line-height: 1.7;
}

.d-wrapper h6 {
    font-size: 1.4rem;
    margin: 0.6rem 0 0.3rem;
    line-height: 2;
}

.d-wrapper p {
    margin: 0.4rem 0 1rem;
}

.d-wrapper .display {
    margin-bottom: 0.5rem;
}

.d-wrapper .display h1 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 6rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0.4rem 0;
}

.d-wrapper .display p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1 {
        font-size: 2.5rem;
    }

    .d-wrapper .display p {
        font-size: 1.4rem;
    }

    .d-wrapper h1 {
        font-size: 2.3rem;
    }

    .d-wrapper h2 {
        font-size: 2rem;
    }

    .d-wrapper h3 {
        font-size: 1.7rem;
    }

    .d-wrapper h4 {
        font-size: 1.4rem;
    }

    .d-wrapper h5 {
        font-size: 1.2rem;
    }

    .d-wrapper h6 {
        font-size: 1rem;
    }
}

.is-btn {
    padding: 10px 50px;
}

.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {
    font-family: 'Advent Pro', sans-serif;
}

.d-wrapper .display-font2 {
    font-family: 'Open Sans', sans-serif;
}

.d-wrapper .default-font1 {
    font-family: 'Advent Pro', sans-serif;
}

.d-wrapper .default-font2 {
    font-family: 'Open Sans', sans-serif;
}