﻿@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
    letter-spacing: -0.7px;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem; 
    line-height: 2.1;
    font-weight: 300;
    letter-spacing: -0.7px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.1rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.36rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.43rem 0 0.3rem;line-height: 1.45;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.5rem 0 0.3rem;line-height: 1.65;}
.d-wrapper h6{font-size: 1.15rem;margin: 0.6rem 0 0.3rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Ubuntu Mono', monospace;}
.d-wrapper .display-font2 {font-family: 'Source Code Pro', monospace;}
.d-wrapper .default-font1 {font-family: 'Ubuntu Mono', monospace;}
.d-wrapper .default-font2 {font-family: 'Source Code Pro', monospace;}