﻿@import url('https://fonts.googleapis.com/css?family=Engagement');
@import url('https://fonts.googleapis.com/css?family=Spectral:200,200i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Spectral', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Spectral', serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3.4rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.39rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.42rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.51rem 0 0.3rem;line-height: 1.65;}
.d-wrapper h6{font-size: 1.24rem;margin: 0.68rem 0 0.3rem;font-weight:bold;letter-spacing: 1px;line-height: 1.8;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
	font-family: 'Engagement', cursive;
    font-size: 5.6rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 9px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Engagement', cursive;}
.d-wrapper .display-font2 {font-family: 'Spectral', serif;}
.d-wrapper .default-font1 {font-family: 'Spectral', serif;}
.d-wrapper .default-font2 {font-family: 'Spectral', serif;}