﻿@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:200,700');
@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.35rem;
    line-height: 1.9;
    font-weight: 200;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    line-height: 1.4;    
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.07rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.7rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.2rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.9rem;margin: 0.37rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.6rem;margin: 0.47rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h6{font-size: 1.35rem;margin: 0.5rem 0 0.3rem;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin:0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.7rem;
    line-height: 1.3;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
	font-family: 'The Girl Next Door', cursive;
    font-size: 1.7rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Saira Condensed', sans-serif;}
.d-wrapper .display-font2 {font-family: 'The Girl Next Door', cursive;}
.d-wrapper .default-font1 {font-family: 'Saira Condensed', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Saira Condensed', sans-serif;}