﻿@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.29rem; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.12rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.8rem;margin: 0.19rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.4rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.4rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.6rem;margin: 0.51rem 0 0.3rem;font-weight: bold;line-height: 1.5;}
.d-wrapper h6{font-size: 1.29rem;margin: 0.66rem 0 0.3rem;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin: 0.75rem 0;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4.9rem;
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Amatic SC', cursive;}
.d-wrapper .display-font2 {font-family: 'Josefin Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Amatic SC', cursive;}
.d-wrapper .default-font2 {font-family: 'Josefin Sans', sans-serif;}