﻿@import url('https://fonts.googleapis.com/css?family=Oregano:400,400i');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22rem;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oregano', cursive;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3rem;margin: 0.21rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.29rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.41rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.52rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.58rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.22rem;margin: 0.7rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.6rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    letter-spacing: 6px;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 3px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Oregano', cursive;}
.d-wrapper .display-font2 {font-family: 'Zilla Slab', serif;}
.d-wrapper .default-font1 {font-family: 'Oregano', cursive;}
.d-wrapper .default-font2 {font-family: 'Zilla Slab', serif;}