﻿@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22rem;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 2.8rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.3rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.8rem;margin: 0.43rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.5rem;margin: 0.59rem 0 0.3rem;line-height:1.5;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.65rem 0 0.3rem;font-weight: bold;line-height:1.6;}
.d-wrapper h6{font-size: 1.22rem;margin: 0.69rem 0 0.3rem;font-weight: bold;line-height:1.7;}
.d-wrapper p{margin:0.6rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Yesteryear', cursive;
    font-size: 4.9rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin: 0.5rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Yesteryear', cursive;}
.d-wrapper .display-font2 {font-family: 'Chivo', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Chivo', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Chivo', sans-serif;}