﻿@import url('https://fonts.googleapis.com/css?family=Federo');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Federo', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.07rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.17rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.4rem 0;line-height: 1.65;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.53rem 0;line-height: 1.8;}
.d-wrapper h6{font-size: 1.21rem;margin: 0.65rem 0;text-transform: none;font-weight:bold;line-height: 1.9;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.4rem;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 10px;
}
.is-btn-small {
    padding: 7px 25px 5px;
}

.d-wrapper .display-font1 {font-family: 'Federo', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Gothic A1', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Federo', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Gothic A1', sans-serif;}