﻿@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,200i,500');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.08rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.32rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.35rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.45rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.57rem 0 0.3rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 3.7rem;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 2.1;
    letter-spacing: 1.5px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Nanum Gothic Coding', monospace;}
.d-wrapper .display-font2 {font-family: 'Fira Sans Condensed', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Nanum Gothic Coding', monospace;}
.d-wrapper .default-font2 {font-family: 'Fira Sans Condensed', sans-serif;}
