﻿@import url('https://fonts.googleapis.com/css?family=Elsie:400,900');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.24rem; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Elsie', cursive;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3.4rem;margin: 0.06rem 0 0.2rem;}
.d-wrapper h2{font-size: 2.7rem;margin: 0.16rem 0 0.2rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.33rem 0 0.2rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.4rem 0 0.2rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.47rem 0 0.2rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.24rem;margin: 0.58rem 0 0.2rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.68rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.5rem;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Elsie', cursive;}
.d-wrapper .display-font2 {font-family: 'Frank Ruhl Libre', serif;}
.d-wrapper .default-font1 {font-family: 'Elsie', cursive;}
.d-wrapper .default-font2 {font-family: 'Frank Ruhl Libre', serif;}