﻿@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%; 
    line-height: 1.7;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3.5rem;margin: 0.09rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.9rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.4rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.4rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.5rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.54rem 0 0.3rem;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin:0.63rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Yanone Kaffeesatz', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Josefin Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Yanone Kaffeesatz', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Josefin Sans', sans-serif;}