@import url('https://fonts.googleapis.com/css?family=Macondo');
@import url('https://fonts.googleapis.com/css?family=Mukta:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-family: 'Mukta', sans-serif;
    font-size: 1.32rem; 
    line-height: 1.8;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Macondo', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
    text-transform: none;
    font-style: normal;
}        

.d-wrapper h1{font-size: 3.6rem;margin: 0.17rem 0 0.3rem;}
.d-wrapper h2{font-size: 3rem;margin: 0.32rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.5rem;margin: 0.49rem 0 0.3rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.55rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.75rem;margin: 0.5rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.63rem 0 0.3rem;line-height: 2;}
.d-wrapper p{margin:0.4rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Macondo', cursive;
    font-size: 5.2rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-style: normal;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: none;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Macondo', cursive;}
.d-wrapper .display-font2 {font-family: 'Mukta', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Macondo', cursive;}
.d-wrapper .default-font2 {font-family: 'Mukta', sans-serif;}