﻿@import url('https://fonts.googleapis.com/css?family=Tenali+Ramakrishna');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Overpass Mono', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.05rem; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5rem;margin: 0.21rem 0;}
.d-wrapper h2{font-size: 2.8rem;margin: 0.32rem 0;}
.d-wrapper h3{font-size: 2.3rem;margin: 0.42rem 0;}
.d-wrapper h4{font-size: 2rem;margin: 0.54rem 0;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.61rem 0;line-height: 1.3;}
.d-wrapper h6{font-size: 1.5rem;margin: 0.7rem 0;font-weight: bold;line-height: 1.4;}
.d-wrapper p{margin:0.8rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.5rem;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 8px;
}
.is-btn-small {
    padding: 5px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Tenali Ramakrishna', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Overpass Mono', monospace;}
.d-wrapper .default-font1 {font-family: 'Tenali Ramakrishna', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Overpass Mono', monospace;}