﻿@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,600');
@import url('https://fonts.googleapis.com/css?family=Graduate');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.15rem;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Graduate', cursive;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.07rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.2rem 0 0.1rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.3rem 0 0.1rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.4rem 0 0.1rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.53rem 0 0.1rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.1rem;margin: 0.67rem 0 0.1rem;font-weight:bold;line-height: 2;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Poller One', cursive;
    font-size: 3.6rem;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Graduate', cursive;
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Poller One', cursive;}
.d-wrapper .display-font2 {font-family: 'Graduate', cursive;}
.d-wrapper .default-font1 {font-family: 'Graduate', cursive;}
.d-wrapper .default-font2 {font-family: 'IBM Plex Serif', serif;}