﻿@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.26rem;
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    line-height: 1.4;
    margin: 0.6rem 0;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.13rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.22rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.55rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.26rem;margin: 0.66rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Yellowtail', cursive;
    font-size: 5rem;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Yellowtail', cursive;}
.d-wrapper .display-font2 {font-family: 'Frank Ruhl Libre', serif;}
.d-wrapper .default-font1 {font-family: 'Frank Ruhl Libre', serif;}
.d-wrapper .default-font2 {font-family: 'Frank Ruhl Libre', serif;}