@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Oranienbaum');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-family: 'Lato', sans-serif;
    font-size: 1.13rem; 
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Cutive Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal;
}        

.d-wrapper h1{font-size: 3.4rem;margin: 0.02rem 0 0.3rem;}
.d-wrapper h2{font-size: 3rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.6rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h4{font-size: 2.1rem;margin: 0.5rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.75rem;margin: 0.46rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.53rem 0 0.3rem;line-height: 2;}
.d-wrapper p{margin:0.4rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Cutive Mono', monospace;
    font-size: 6.2rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
    font-style: normal;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Oranienbaum', serif;
    font-size: 1.35rem;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: none;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'Cutive Mono', monospace;}
.d-wrapper .display-font2 {font-family: 'Oranienbaum', serif;}
.d-wrapper .default-font1 {font-family: 'Cutive Mono', monospace;}
.d-wrapper .default-font2 {font-family: 'Lato', sans-serif;}