﻿@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Mada:300,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Mada', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Mada', sans-serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.13rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.23rem 0;}
.d-wrapper h3{font-size: 2rem;margin: 0.35rem 0;line-height: 1.5;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.4rem 0;line-height: 1.55;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.47rem 0;line-height: 1.73;}
.d-wrapper h6{font-size: 1.27rem;margin: 0.53rem 0;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Dynalight', cursive;
    font-size: 5.5rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Dynalight', cursive;}
.d-wrapper .display-font2 {font-family: 'Mada', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Mada', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Mada', sans-serif;}
