﻿@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14rem; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    line-height: 1.5;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.24rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.32rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.47rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.62rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.78rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.14rem;margin: 0.87rem 0 0.3rem;line-height: 2;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.1rem;
    line-height: 2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Special Elite', cursive;}
.d-wrapper .display-font2 {font-family: 'Encode Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Special Elite', cursive;}
.d-wrapper .default-font2 {font-family: 'Encode Sans', sans-serif;}