﻿@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12rem; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5rem;margin:0.15rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.8rem;margin:0.28rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.2rem;margin:0.4rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.9rem;margin:0.5rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.6rem;margin:0.53rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h6{font-size: 1.4rem;margin:0.58rem 0 0.3rem;line-height: 1.6;}
.d-wrapper p{margin:0.69rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.4rem;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Stint Ultra Condensed', cursive;}
.d-wrapper .display-font2 {font-family: 'Inconsolata', monospace;}
.d-wrapper .default-font1 {font-family: 'Stint Ultra Condensed', cursive;}
.d-wrapper .default-font2 {font-family: 'Inconsolata', monospace;}