﻿@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');
@import url('https://fonts.googleapis.com/css?family=Martel:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.08rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Martel', serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.1rem;margin: 0.19rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.43rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.51rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.62rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.1rem;margin: 0.8rem 0 0.3rem;font-weight:bold;line-height: 2;}
.d-wrapper p{margin:0.83rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
	font-family: 'Londrina Shadow', cursive;
    font-size: 5.5rem;
    letter-spacing: 6px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.9;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 3px;
}

.d-wrapper .display-font1 {font-family: 'Londrina Shadow', cursive;}
.d-wrapper .display-font2 {font-family: 'Martel', serif;}
.d-wrapper .default-font1 {font-family: 'Martel', serif;}
.d-wrapper .default-font2 {font-family: 'Martel', serif;}