﻿@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Assistant:300,600');


/**********************************
    General
***********************************/


.d-wrapper {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 100%;
    line-height: 2;
    font-weight: 300;
}

.d-wrapper p,
.d-wrapper td,
.d-wrapper li,
.d-wrapper label {
    font-size: 1.13rem;
    line-height: 2;
    font-weight: 300;
}

.d-wrapper h1,
.d-wrapper h2,
.d-wrapper h3,
.d-wrapper h4,
.d-wrapper h5,
.d-wrapper h6 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}

.d-wrapper h1 {
    font-size: 3.1rem;
    margin: 0.04rem 0 0.3rem;
}

.d-wrapper h2 {
    font-size: 2.5rem;
    margin: 0.15rem 0 0.3rem;
}

.d-wrapper h3 {
    font-size: 2rem;
    margin: 0.27rem 0 0.3rem;
}

.d-wrapper h4 {
    font-size: 1.7rem;
    margin: 0.35rem 0 0.3rem;
    line-height: 1.6;
}

.d-wrapper h5 {
    font-size: 1.4rem;
    margin: 0.46rem 0 0.3rem;
    line-height: 1.8;
}

.d-wrapper h6 {
    font-size: 1.2rem;
    margin: 0.53rem 0 0.3rem;
    line-height: 2;
}

.d-wrapper p {
    margin: 0.4rem 0 1rem;
}

.d-wrapper .display {
    margin-bottom: 0.5rem;
}

.d-wrapper .display h1 {
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}

.d-wrapper .display p {
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1 {
        font-size: 2.5rem;
    }

    .d-wrapper .display p {
        font-size: 1.4rem;
    }

    .d-wrapper h1 {
        font-size: 2.3rem;
    }

    .d-wrapper h2 {
        font-size: 2rem;
    }

    .d-wrapper h3 {
        font-size: 1.7rem;
    }

    .d-wrapper h4 {
        font-size: 1.4rem;
    }

    .d-wrapper h5 {
        font-size: 1.2rem;
    }

    .d-wrapper h6 {
        font-size: 1rem;
    }
}

.d-wrapper .display-font1 {
    font-family: 'Abril Fatface', cursive;
}

.d-wrapper .display-font2 {
    font-family: 'Assistant', sans-serif;
}

.d-wrapper .default-font1 {
    font-family: 'Abril Fatface', cursive;
}

.d-wrapper .default-font2 {
    font-family: 'Assistant', sans-serif;
}