﻿@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,200i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.17rem;
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Fugaz One', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.42rem 0;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.52rem 0;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.58rem 0;line-height: 1.6;}
.d-wrapper h6{font-size: 1.24rem;margin: 0.63rem 0;line-height: 1.8;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 3px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Fugaz One', cursive;}
.d-wrapper .display-font2 {font-family: 'Libre Franklin', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Fugaz One', cursive;}
.d-wrapper .default-font2 {font-family: 'Libre Franklin', sans-serif;}
