﻿@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.32rem;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.05rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.4rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.47rem 0 0.3rem;font-weight: bold;line-height: 1.7;}
.d-wrapper h6{font-size: 1.32rem;margin: 0.52rem 0 0.3rem;font-weight: bold;line-height: 1.85;}
.d-wrapper p{margin:0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Old Standard TT', serif;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 11px;
}
.is-btn-small {
    padding: 5px 25px 6px;
}

.d-wrapper .display-font1 {font-family: 'Dosis', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Old Standard TT', serif;}
.d-wrapper .default-font1 {font-family: 'Dosis', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Dosis', sans-serif;}