﻿@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 100%; 
    line-height: 2.3;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.1rem; 
    line-height: 2.3;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3.6rem;margin: 0.06rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.8rem;margin: 0.17rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.2rem;margin: 0.22rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.9rem;margin: 0.31rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.6rem;margin: 0.45rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.3rem;margin: 0.52rem 0 0.3rem;line-height: 1.8;}
.d-wrapper p{margin:0.6rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.2rem;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 9px;
}
.is-btn-small {
    padding: 5px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Pathway Gothic One', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Montserrat', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Pathway Gothic One', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Merriweather', serif;}