﻿@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Cabin Sketch', cursive;
    font-weight: 400;
    line-height: 1.3;
    margin: 0.5rem 0;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.19rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.42rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.54rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.6rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.18rem;margin: 0.75rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.65rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5rem;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.5rem 0;
}
.d-wrapper .display p{
    font-family: 'Yellowtail', cursive;
    font-size: 2.2rem;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 9px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'Cabin Sketch', cursive;}
.d-wrapper .display-font2 {font-family: 'Yellowtail', cursive;}
.d-wrapper .default-font1 {font-family: 'Cabin Sketch', cursive;}
.d-wrapper .default-font2 {font-family: 'Montserrat', sans-serif;}