﻿@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,700');
@import url('https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.18rem;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.1rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.37rem 0;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.51rem 0;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.64rem 0;font-weight:bold;line-height:1.8;}
.d-wrapper h6{font-size: 1.18rem;margin: 0.72rem 0;font-weight:bold;text-transform:none;line-height:2;}
.d-wrapper p{margin:0.54rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.8rem;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Prata', serif;}
.d-wrapper .display-font2 {font-family: 'Waiting for the Sunrise', cursive;}
.d-wrapper .default-font1 {font-family: 'Prata', serif;}
.d-wrapper .default-font2 {font-family: 'Hind Siliguri', sans-serif;}