﻿@import url('https://fonts.googleapis.com/css?family=Inder');
@import url('https://fonts.googleapis.com/css?family=Trirong:200,200i,600');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Trirong', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.03rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.32rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.6rem;margin: 0.39rem 0 0.3rem;line-height: 1.65;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.43rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.54rem 0 0.3rem;font-weight:bold;line-height: 2;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.8rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Inder', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Reenie Beanie', cursive;}
.d-wrapper .default-font1 {font-family: 'Inder', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Trirong', serif;}