﻿@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Cousine', monospace;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.06rem; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 7px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.06rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.25rem;margin: 0.61rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper h6{font-size: 1.06rem;margin: 0.85rem 0 0.3rem;font-weight: bold;line-height: 2;letter-spacing: 4px;}
.d-wrapper p{margin: 0.9rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    letter-spacing: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Cousine', monospace;}
.d-wrapper .default-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Cousine', monospace;}