﻿@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.1rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.31rem 0 0.35rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.45rem 0 0.35rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.47rem 0 0.4rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.15rem;margin: 0.58rem 0 0.4rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Alex Brush', cursive;
    font-size: 5rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Alex Brush', cursive;}
.d-wrapper .display-font2 {font-family: 'IBM Plex Sans', sans-serif;}
.d-wrapper .default-font1 {font-family: 'IBM Plex Sans', sans-serif;}
.d-wrapper .default-font2 {font-family: 'IBM Plex Sans', sans-serif;}
