﻿@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14rem; 
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: 1px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 4px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.09rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.16rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.41rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.55rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.64rem 0 0.3rem;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0.2rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 1.8;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Source Sans Pro', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Anonymous Pro', monospace;}
.d-wrapper .default-font1 {font-family: 'Source Sans Pro', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Anonymous Pro', monospace;}
