﻿@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Rasa:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Rasa', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34rem;
    line-height: 1.9;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Rasa', serif;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.14rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.26rem 0 0.1rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.44rem 0 0.1rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.5rem 0 0.1rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.55rem 0 0.1rem;line-height: 1.5;}
.d-wrapper h6{font-size: 1.34rem;margin: 0.6rem 0 0.1rem;font-weight: bold;line-height: 1.6;}
.d-wrapper p{margin: 0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Sail', cursive;
    font-size: 5.2rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 2px;
    font-style: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 9px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Sail', cursive;}
.d-wrapper .display-font2 {font-family: 'Rasa', serif;}
.d-wrapper .default-font1 {font-family: 'Rasa', serif;}
.d-wrapper .default-font2 {font-family: 'Rasa', serif;}