﻿@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Forum');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Forum', cursive;
    font-size: 100%; 
    line-height: 1.7;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Forum', cursive;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.1rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.21rem 0 0.1rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.35rem 0 0.1rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.43rem 0 0.1rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.51rem 0 0.1rem;font-weight:bold;line-height:1.55}
.d-wrapper h6{font-size: 1.3rem;margin: 0.61rem 0 0.1rem;font-weight:bold;text-transform:none;line-height:1.7}
.d-wrapper p{margin:0.58rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Yeseva One', cursive;
    font-size: 4rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.8rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Yeseva One', cursive;}
.d-wrapper .display-font2 {font-family: 'Forum', cursive;}
.d-wrapper .default-font1 {font-family: 'Forum', cursive;}
.d-wrapper .default-font2 {font-family: 'Forum', cursive;}
