﻿@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,500');
@import url('https://fonts.googleapis.com/css?family=Six+Caps');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.02rem;
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.08rem 0 0.2rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.2rem 0 0.2rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.4rem 0 0.2rem;}
.d-wrapper h4{font-size: 1.6rem;margin: 0.5rem 0 0.2rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.5rem 0 0.2rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.14rem;margin: 0.6rem 0 0.2rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin:0.49rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Pinyon Script', cursive;
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Six Caps', cursive;
    font-size: 2.7rem;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 9px;
}
.is-btn-small {
    padding: 5px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Pinyon Script', cursive;}
.d-wrapper .display-font2 {font-family: 'Six Caps', cursive;}
.d-wrapper .default-font1 {font-family: 'Fira Sans', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Fira Sans', sans-serif;}