﻿@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Rancho', cursive;
    font-weight: 400;
    line-height: 1.2;    
}        

.d-wrapper h1{font-size: 4rem;margin: 0.14rem 0 0.2rem;}
.d-wrapper h2{font-size: 3.3rem;margin: 0.22rem 0 0.25rem;}
.d-wrapper h3{font-size: 2.7rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 2.3rem;margin: 0.44rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.8rem;margin: 0.5rem 0;line-height: 1.35;}
.d-wrapper h6{font-size: 1.55rem;margin: 0.6rem 0;line-height: 1.4;}
.d-wrapper p{margin:0.55rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.2rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Rancho', cursive;}
.d-wrapper .display-font2 {font-family: 'Roboto Slab', serif;}
.d-wrapper .default-font1 {font-family: 'Rancho', cursive;}
.d-wrapper .default-font2 {font-family: 'Roboto Slab', serif;}