﻿@import url('https://fonts.googleapis.com/css?family=Poppins:300,600,800');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Old Standard TT', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.26rem; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
}        

.d-wrapper h1{font-size: 2.7rem;margin: 0.13rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.3rem;margin: 0.23rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.35rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.6rem;margin: 0.47rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.57rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.1rem;margin: 0.74rem 0 0.3rem;line-height: 1.9;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 600;
    font-size: 3.8rem;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: capitalize;
    margin: 0.6rem 0;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 13px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Poppins', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Old Standard TT', serif;}
.d-wrapper .default-font1 {font-family: 'Poppins', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Old Standard TT', serif;}