@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.18rem; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: none;
    font-style: normal;
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.02rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.7rem;margin: 0.18rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.4rem;margin: 0.3rem 0 0.3rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.45rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h5{font-size: 1.76rem;margin: 0.46rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.53rem 0 0.3rem;line-height: 2;}
.d-wrapper p{margin:0.4rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5.8rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-style: normal;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Bad Script', cursive;
    font-size: 1.48rem;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: none;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Bad Script', cursive;}
.d-wrapper .default-font1 {font-family: 'Oswald', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Open Sans', sans-serif;}