﻿@import url('https://fonts.googleapis.com/css?family=Atma:400,600');
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Atma', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.13rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.24rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.2rem;margin: 0.31rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.9rem;margin: 0.49rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.6rem;margin: 0.5rem 0 0.3rem;line-height: 1.65;}
.d-wrapper h6{font-size: 1.3rem;margin: 0.6rem 0 0.3rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.8rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 2px;
}

.d-wrapper .display-font1 {font-family: 'Atma', cursive;}
.d-wrapper .display-font2 {font-family: 'Tajawal', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Atma', cursive;}
.d-wrapper .default-font2 {font-family: 'Tajawal', sans-serif;}