﻿@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
@import url('https://fonts.googleapis.com/css?family=Kalam:300');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19rem;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.1rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.23rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.41rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.48rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.55rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.19rem;margin: 0.6rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin: 0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    line-height: 1.35;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Kalam', cursive;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 9px;
}
.is-btn-small {
    padding: 5px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Quicksand', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Kalam', cursive;}
.d-wrapper .default-font1 {font-family: 'Quicksand', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Quicksand', sans-serif;}