﻿@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22rem;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px; 
}        

.d-wrapper h1{font-size: 3.1rem;margin: 0.08rem 0 0.2rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.14rem 0 0.2rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.3rem 0 0.2rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.42rem 0 0.2rem;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.53rem 0 0.2rem;font-weight: bold;line-height:1.7;}
.d-wrapper h6{font-size: 1.22rem;margin: 0.65rem 0 0.2rem;font-weight: bold;line-height:1.8;}
.d-wrapper p{margin: 0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.9rem;
    line-height: 1.3;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
	font-family: 'IBM Plex Serif', serif;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 200;
    letter-spacing: 2px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Yantramanav', sans-serif;}
.d-wrapper .display-font2 {font-family: 'IBM Plex Serif', serif;}
.d-wrapper .default-font1 {font-family: 'Yantramanav', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Yantramanav', sans-serif;}