﻿@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.02rem; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.02rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.12rem 0 0.1rem;}
.d-wrapper h3{font-size: 1.9rem;margin: 0.26rem 0 0.1rem;}
.d-wrapper h4{font-size: 1.6rem;margin: 0.46rem 0 0.1rem;line-height: 1.7;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.56rem 0 0.1rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.17rem;margin: 0.65rem 0 0.1rem;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin:0.47rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem;  }
.d-wrapper .display h1{
    font-size: 3.8rem;
    letter-spacing: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Raleway', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Playfair Display', serif;}
.d-wrapper .default-font1 {font-family: 'Raleway', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Raleway', sans-serif;}
