﻿@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Taviraj:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Taviraj', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2rem; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.19rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.38rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.5rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.53rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.2rem;margin: 0.65rem 0 0.3rem;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.7rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Julius Sans One', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Taviraj', serif;}
.d-wrapper .default-font1 {font-family: 'Julius Sans One', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Taviraj', serif;}