﻿@import url('https://fonts.googleapis.com/css?family=Oranienbaum');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oranienbaum', serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.3rem;margin: 0.07rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.34rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.54rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.64rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.26rem;margin: 0.74rem 0 0.3rem;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin: 0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rrem; }
.d-wrapper .display h1{
    font-size: 4.3rem;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.d-wrapper .display p{
    font-size: 1.5rem;
    line-height: 1.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px 11px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'Oranienbaum', serif;}
.d-wrapper .display-font2 {font-family: 'Source Sans Pro', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Oranienbaum', serif;}
.d-wrapper .default-font2 {font-family: 'Source Sans Pro', sans-serif;}
