@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lekton', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-family: 'Lekton', sans-serif;
    font-size: 1.19rem; 
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: none;
    font-style: normal;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.3rem 0 0.5rem;}
.d-wrapper h2{font-size: 2.6rem;margin: 0.43rem 0 0.5rem;}
.d-wrapper h3{font-size: 2.2rem;margin: 0.55rem 0 0.5rem;}
.d-wrapper h4{font-size: 1.9rem;margin: 0.6rem 0 0.5rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.46rem 0 0.5rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.4rem;margin: 0.53rem 0 0.5rem;line-height: 2;}
.d-wrapper p{margin:0.4rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-style: normal;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.35rem;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: none;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Poppins', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Poppins', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Poppins', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Lekton', sans-serif;}