﻿@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,600,600i');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.15rem; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 2.9rem;margin: 0.12rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.3rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h3{font-size: 1.85rem;margin: 0.39rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.5rem;margin: 0.56rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.2rem;margin: 0.65rem 0 0.3rem;line-height: 1.8;}
.d-wrapper h6{font-size: 1.05rem;margin: 0.72rem 0 0.3rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin: 0.75rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4.3rem;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 1.9;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'PT Serif', serif;}
.d-wrapper .display-font2 {font-family: 'Poppins', sans-serif;}
.d-wrapper .default-font1 {font-family: 'PT Serif', serif;}
.d-wrapper .default-font2 {font-family: 'Poppins', sans-serif;}
