﻿@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.31rem;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Unica One', cursive;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.17rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.38rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.43rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.5rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.35rem;margin: 0.54rem 0 0.3rem;text-transform: none;line-height: 1.8;}
.d-wrapper p{margin:0.5rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.9rem;
    letter-spacing: 3px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-family: 'Marck Script', cursive;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'Unica One', cursive;}
.d-wrapper .display-font2 {font-family: 'Marck Script', cursive;}
.d-wrapper .default-font1 {font-family: 'Unica One', cursive;}
.d-wrapper .default-font2 {font-family: 'Cormorant Garamond', serif;}