﻿@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Economica', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34rem;
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5rem;margin: 0.05rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.7rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.49rem 0 0.3rem;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.6rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.34rem;margin: 0.7rem 0 0.3rem;font-weight: bold;text-transform: none;line-height: 1.9;}
.d-wrapper p{margin:0.45rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-family: 'Satisfy', cursive;
    font-size: 4.8rem;
    line-height: 1.4;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Satisfy', cursive;}
.d-wrapper .display-font2 {font-family: 'Economica', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Economica', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Economica', sans-serif;}