﻿@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34rem;
    line-height: 1.8;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    line-height: 1.6;
}        

.d-wrapper h1{font-size: 3.2rem;margin: 0.27rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.39rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.55rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.67rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.78rem 0 0.3rem;}
.d-wrapper h6{font-size: 1.25rem;margin: 0.9rem 0 0.3rem;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.59rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Bad Script', cursive;}
.d-wrapper .display-font2 {font-family: 'Rokkitt', serif;}
.d-wrapper .default-font1 {font-family: 'Bad Script', cursive;}
.d-wrapper .default-font2 {font-family: 'Rokkitt', serif;}