﻿@import url('https://fonts.googleapis.com/css?family=Teko:300,600');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3.5rem;margin: 0.19rem 0 0.1rem;}
.d-wrapper h2{font-size: 2.8rem;margin: 0.29rem 0 0.1rem;}
.d-wrapper h3{font-size: 2.3rem;margin: 0.39rem 0 0.1rem;}
.d-wrapper h4{font-size: 2rem;margin: 0.47rem 0 0.1rem;line-height: 1.35;}
.d-wrapper h5{font-size: 1.7rem;margin: 0.51rem 0 0.1rem;line-height: 1.5;}
.d-wrapper h6{font-size: 1.3rem;margin: 0.73rem 0 0.1rem;font-weight: bold;text-transform: none;line-height: 1.7;}
.d-wrapper p{margin:0.44rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 5.8rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.8;
    letter-spacing: 6px;
    font-style: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 11px 50px 9px;
}
.is-btn-small {
    padding: 6px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Teko', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Mukta Mahee', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Teko', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Mukta Mahee', sans-serif;}