﻿@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 100;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem; 
    line-height: 1.9;
    font-weight: 100;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.22rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.35rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.45rem 0 0.3rem;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.59rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.26rem;margin: 0.73rem 0 0.3rem;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin: 0.65rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 8px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Anonymous Pro', monospace;}
.d-wrapper .display-font2 {font-family: 'Catamaran', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Anonymous Pro', monospace;}
.d-wrapper .default-font2 {font-family: 'Catamaran', sans-serif;}