﻿@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.02rem;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.05rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.15rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.35rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.4rem;margin: 0.45rem 0 0.3rem;line-height: 1.7;}
.d-wrapper h6{font-size: 1.06rem;margin: 0.75rem 0 0.3rem;font-weight: bold;line-height: 2;}
.d-wrapper p{margin: 0.6rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.9rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin:0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 10px 50px;
}
.is-btn-small {
    padding: 5px 25px;
}

.d-wrapper .display-font1 {font-family: 'IBM Plex Mono', monospace;}
.d-wrapper .display-font2 {font-family: 'IBM Plex Mono', monospace;}
.d-wrapper .default-font1 {font-family: 'IBM Plex Mono', monospace;}
.d-wrapper .default-font2 {font-family: 'IBM Plex Mono', monospace;}