﻿@import url('https://fonts.googleapis.com/css?family=Spectral+SC:200,700');
@import url('https://fonts.googleapis.com/css?family=Karma:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Karma', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Spectral SC', serif;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.4;    
}        

.d-wrapper h1{font-size: 3rem;margin: 0.14rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.5rem;margin: 0.25rem 0 0.3rem;}
.d-wrapper h3{font-size: 2.1rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.8rem;margin: 0.5rem 0 0.3rem;}
.d-wrapper h5{font-size: 1.5rem;margin: 0.52rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h6{font-size: 1.22rem;margin: 0.67rem 0 0.3rem;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.7rem 0 1.3rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-weight: 200;
    font-size: 4.3rem;
    line-height: 1.4;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.3rem;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: normal;  
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.is-btn {
    padding: 12px 50px 7px;
}
.is-btn-small {
    padding: 7px 25px 4px;
}

.d-wrapper .display-font1 {font-family: 'Spectral SC', serif;}
.d-wrapper .display-font2 {font-family: 'Karma', serif;}
.d-wrapper .default-font1 {font-family: 'Spectral SC', serif;}
.d-wrapper .default-font2 {font-family: 'Karma', serif;}