﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13rem; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3rem;margin: 0.1rem 0 0.3rem;}
.d-wrapper h2{font-size: 2.4rem;margin: 0.2rem 0 0.3rem;}
.d-wrapper h3{font-size: 2rem;margin: 0.33rem 0 0.3rem;}
.d-wrapper h4{font-size: 1.7rem;margin: 0.4rem 0 0.3rem;line-height: 1.6;}
.d-wrapper h5{font-size: 1.3rem;margin: 0.57rem 0 0.3rem;line-height: 1.8;font-weight:bold;}
.d-wrapper h6{font-size: 1.16rem;margin: 0.65rem 0 0.3rem;line-height: 2;font-weight:bold;}
.d-wrapper p{margin:0.59rem 0 1rem;}

.d-wrapper .display{ margin-bottom: 0.5rem; }
.d-wrapper .display h1{
    font-size: 4.5rem;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0.4rem 0;
}
.d-wrapper .display p{
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5rem;}
    .d-wrapper .display p{font-size: 1.4rem;}
    .d-wrapper h1{font-size: 2.3rem;}
    .d-wrapper h2{font-size: 2rem;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4rem;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1rem;} 
}

.d-wrapper .display-font1 {font-family: 'Lato', sans-serif;}
.d-wrapper .display-font2 {font-family: 'Lato', sans-serif;}
.d-wrapper .default-font1 {font-family: 'Lato', sans-serif;}
.d-wrapper .default-font2 {font-family: 'Lato', sans-serif;}
