﻿@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
@import url('https://fonts.googleapis.com/css?family=Kalam:300');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19em;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.23em 0 0.3em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.41em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.48em 0 0.3em;}
.d-wrapper h5{font-size: 1.4em;margin: 0.55em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.19em;margin: 0.6em 0 0.3em;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin: 0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4em;
    line-height: 1.35;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Kalam', cursive;
    font-size: 1.4em;
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
