﻿@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Martel:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 100%; 
    line-height: 2.3;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.04em; 
    line-height: 2.3;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Martel', serif;
    line-height: 1.5;
}        

.d-wrapper h1{font-size: 2.9em;margin: 0.22em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.35em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.41em 0 0.3em;}
.d-wrapper h4{font-size: 1.6em;margin: 0.6em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.3em;margin: 0.7em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.04em;margin: 0.85em 0 0.3em;line-height: 2;font-weight:bold;}
.d-wrapper p{margin:0.8em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Italiana', serif;
    font-size: 4.2em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
