﻿@import url('https://fonts.googleapis.com/css?family=Sriracha');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14em;
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Sriracha', cursive;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3.3em;margin: 0.07em 0 0.3em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.18em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.3em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.47em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.56em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.2em;margin: 0.69em 0 0.3em;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.68em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.5em;
    letter-spacing: 3px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 1.8;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
