﻿@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.17em; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.02em 0 0.1em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.12em 0 0.1em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.26em 0 0.1em;}
.d-wrapper h4{font-size: 1.6em;margin: 0.46em 0 0.1em;line-height: 1.7;}
.d-wrapper h5{font-size: 1.3em;margin: 0.56em 0 0.1em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.17em;margin: 0.65em 0 0.1em;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin:0.47em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em;  }
.d-wrapper .display h1{
    font-size: 3.8em;
    letter-spacing: 4px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
