﻿@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14em; 
    line-height: 1.8;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Boogaloo', cursive;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 2.4em;margin: 0.14em 0;}
.d-wrapper h2{font-size: 2.1em;margin: 0.27em 0;}
.d-wrapper h3{font-size: 1.8em;margin: 0.35em 0;}
.d-wrapper h4{font-size: 1.6em;margin: 0.49em 0;}
.d-wrapper h5{font-size: 1.4em;margin: 0.59em 0;}
.d-wrapper h6{font-size: 1.4em;margin: 0.6em 0;text-transform: none;line-height:1.6;}
.d-wrapper p{margin:0.67em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 2;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
