﻿@import url('https://fonts.googleapis.com/css?family=Inder');
@import url('https://fonts.googleapis.com/css?family=Trirong:200,200i,600');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Trirong', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2em;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Inder', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.03em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.16em 0 0.3em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.32em 0 0.3em;}
.d-wrapper h4{font-size: 1.6em;margin: 0.39em 0 0.3em;line-height: 1.65;}
.d-wrapper h5{font-size: 1.4em;margin: 0.43em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.2em;margin: 0.54em 0 0.3em;font-weight:bold;line-height: 2;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.8em;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Reenie Beanie', cursive;
    font-size: 2.4em;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
