﻿@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22em;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px; 
}        

.d-wrapper h1{font-size: 3.1em;margin: 0.08em 0 0.2em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.14em 0 0.2em;}
.d-wrapper h3{font-size: 2em;margin: 0.3em 0 0.2em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.42em 0 0.2em;}
.d-wrapper h5{font-size: 1.4em;margin: 0.53em 0 0.2em;font-weight: bold;line-height:1.7;}
.d-wrapper h6{font-size: 1.22em;margin: 0.65em 0 0.2em;font-weight: bold;line-height:1.8;}
.d-wrapper p{margin: 0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.9em;
    line-height: 1.3;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
	font-family: 'IBM Plex Serif', serif;
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: 200;
    letter-spacing: 2px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
