﻿@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 100%; 
    line-height: 2.3;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.1em; 
    line-height: 2.3;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3.6em;margin: 0.06em 0 0.3em;}
.d-wrapper h2{font-size: 2.8em;margin: 0.17em 0 0.3em;}
.d-wrapper h3{font-size: 2.2em;margin: 0.22em 0 0.3em;}
.d-wrapper h4{font-size: 1.9em;margin: 0.31em 0 0.3em;line-height: 1.4;}
.d-wrapper h5{font-size: 1.6em;margin: 0.45em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.3em;margin: 0.52em 0 0.3em;line-height: 1.8;}
.d-wrapper p{margin:0.6em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5.2em;
    letter-spacing: 3px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.9;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
