﻿@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,600');
@import url('https://fonts.googleapis.com/css?family=Graduate');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.15em;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Graduate', cursive;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.07em 0 0.1em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.2em 0 0.1em;}
.d-wrapper h3{font-size: 2em;margin: 0.3em 0 0.1em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.4em 0 0.1em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4em;margin: 0.53em 0 0.1em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.1em;margin: 0.67em 0 0.1em;font-weight:bold;line-height: 2;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Poller One', cursive;
    font-size: 3.6em;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Graduate', cursive;
    font-size: 1.5em;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
