﻿@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.21em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.1em;margin: 0.19em 0 0.1em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.25em 0 0.1em;}
.d-wrapper h3{font-size: 2em;margin: 0.37em 0 0.1em;line-height: 1.35;}
.d-wrapper h4{font-size: 1.7em;margin: 0.45em 0 0.1em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.45em;margin: 0.52em 0 0.1em;line-height: 1.65;}
.d-wrapper h6{font-size: 1.21em;margin: 0.6em 0 0.1em;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin: 0.45em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 3.7em;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
