﻿@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Palanquin:200,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Palanquin', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2em;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yeon Sung', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.02em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.18em 0 0.3em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.39em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.55em 0 0.3em;}
.d-wrapper h6{font-size: 1.3em;margin: 0.6em 0 0.3em;line-height: 1.6;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.1em;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.7;
    letter-spacing: 3px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
