﻿@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 100%; 
    line-height: 2.25;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13em; 
    line-height: 2.25;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3.3em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.22em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.37em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.5em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4em;margin: 0.68em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.13em;margin: 0.78em 0 0.3em;font-weight:bold;line-height: 1.9;}
.d-wrapper p{margin:0.65em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4em;
    line-height: 1.3;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 2;
    letter-spacing: 1px;
    font-style: normal;  
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
