﻿@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Martel:200,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Martel', serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.08em; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.07em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.16em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.32em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.46em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4em;margin: 0.63em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.08em;margin: 0.9em 0 0.3em;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin: 0.8em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
