﻿@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Pridi:200,500');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Pridi', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.16em;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Pridi', serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3em;margin: 0.01em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.16em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.44em 0 0.3em;}
.d-wrapper h5{font-size: 1.4em;margin: 0.62em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.16em;margin: 0.74em 0 0.3em;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
	font-family: 'Poiret One', cursive;
    font-size: 5.2em;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.2em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 1.8;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
