﻿@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:200,700');
@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.35em;
    line-height: 1.9;
    font-weight: 200;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 200;
    line-height: 1.4;    
}        

.d-wrapper h1{font-size: 3.3em;margin: 0.07em 0 0.3em;}
.d-wrapper h2{font-size: 2.7em;margin: 0.18em 0 0.3em;}
.d-wrapper h3{font-size: 2.2em;margin: 0.27em 0 0.3em;}
.d-wrapper h4{font-size: 1.9em;margin: 0.37em 0 0.3em;}
.d-wrapper h5{font-size: 1.6em;margin: 0.47em 0 0.3em;line-height: 1.5;}
.d-wrapper h6{font-size: 1.35em;margin: 0.5em 0 0.3em;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin:0.45em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.7em;
    line-height: 1.3;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
	font-family: 'The Girl Next Door', cursive;
    font-size: 1.7em;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
