﻿@import url('https://fonts.googleapis.com/css?family=Elsie:400,900');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.24em; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Elsie', cursive;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3.4em;margin: 0.06em 0 0.2em;}
.d-wrapper h2{font-size: 2.7em;margin: 0.16em 0 0.2em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.33em 0 0.2em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.4em 0 0.2em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5em;margin: 0.47em 0 0.2em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.24em;margin: 0.58em 0 0.2em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.68em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.5em;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.8;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}

