﻿@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Maitree:300,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Maitree', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.17em;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Maitree', serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.22em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.35em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.43em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4em;margin: 0.51em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.17em;margin: 0.56em 0 0.3em;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin:0.59em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Parisienne', cursive;
    font-size: 4.6em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.7;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}