﻿@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Taviraj:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Taviraj', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.19em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.25em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.38em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.5em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5em;margin: 0.53em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.2em;margin: 0.65em 0 0.3em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.7em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
