﻿@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300,700,900');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19em;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.2em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.31em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.42em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.51em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4em;margin: 0.65em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.19em;margin: 0.72em 0 0.3em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.57em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.2em;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.8;
    letter-spacing: 5px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
