﻿@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,200i,500');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.18em;
    line-height: 2.2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.12em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.24em 0;}
.d-wrapper h3{font-size: 2em;margin: 0.39em 0;}
.d-wrapper h4{font-size: 1.7em;margin: 0.39em 0;line-height: 1.7;}
.d-wrapper h5{font-size: 1.4em;margin: 0.5em 0;line-height: 1.9;}
.d-wrapper h6{font-size: 1.18em;margin: 0.65em 0;line-height: 2.2;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.4em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.7;
    letter-spacing: 2px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
