﻿@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.15em; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 2.9em;margin: 0.12em 0 0.3em;}
.d-wrapper h2{font-size: 2.3em;margin: 0.27em 0 0.3em;}
.d-wrapper h3{font-size: 1.85em;margin: 0.39em 0 0.3em;}
.d-wrapper h4{font-size: 1.5em;margin: 0.56em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.2em;margin: 0.65em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.05em;margin: 0.72em 0 0.3em;font-weight: bold;line-height: 2;}
.d-wrapper p{margin: 0.75em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4.3em;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 1.9;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
