﻿@import url('https://fonts.googleapis.com/css?family=Tenali+Ramakrishna');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Overpass Mono', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.05em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5em;margin: 0.21em 0;}
.d-wrapper h2{font-size: 2.8em;margin: 0.32em 0;}
.d-wrapper h3{font-size: 2.3em;margin: 0.42em 0;}
.d-wrapper h4{font-size: 2em;margin: 0.54em 0;}
.d-wrapper h5{font-size: 1.7em;margin: 0.61em 0;line-height: 1.3;}
.d-wrapper h6{font-size: 1.5em;margin: 0.7em 0;font-weight: bold;line-height: 1.4;}
.d-wrapper p{margin:0.8em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5.5em;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.25em;
    line-height: 2;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
