﻿@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.29em; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3.3em;margin: 0.12em 0 0.3em;}
.d-wrapper h2{font-size: 2.8em;margin: 0.19em 0 0.3em;}
.d-wrapper h3{font-size: 2.4em;margin: 0.3em 0 0.3em;}
.d-wrapper h4{font-size: 2em;margin: 0.4em 0 0.3em;}
.d-wrapper h5{font-size: 1.6em;margin: 0.51em 0 0.3em;font-weight: bold;line-height: 1.5;}
.d-wrapper h6{font-size: 1.29em;margin: 0.66em 0 0.3em;font-weight: bold;line-height: 1.7;}
.d-wrapper p{margin: 0.75em 0;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4.9em;
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
