﻿@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14em; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3em;margin: 0.14em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.25em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.34em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.4em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4em;margin: 0.48em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.14em;margin: 0.58em 0 0.3em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.57em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Pacifico', cursive;
    font-size: 3.6em;
    letter-spacing: 2px;
    line-height: 1.7;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 2;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
