﻿@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700');
@import url('https://fonts.googleapis.com/css?family=Palanquin:100,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Palanquin', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 100;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.28em;
    line-height: 2.1;
    font-weight: 100;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.1em 0 0.1em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.18em 0 0.1em;}
.d-wrapper h3{font-size: 2em;margin: 0.3em 0 0.1em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.43em 0 0.1em;}
.d-wrapper h5{font-size: 1.4em;margin: 0.51em 0 0.1em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.15em;margin: 0.65em 0 0.1em;font-weight: bold;text-transform: none;line-height: 2;}
.d-wrapper p{margin: 0.35em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.5em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
