﻿@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.06em;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.05em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.15em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.25em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.35em 0 0.3em;}
.d-wrapper h5{font-size: 1.4em;margin: 0.45em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.06em;margin: 0.75em 0 0.3em;font-weight: bold;line-height: 2;}
.d-wrapper p{margin: 0.6em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.9em;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 1.6;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
