﻿@import url('https://fonts.googleapis.com/css?family=Atma:400,600');
@import url('https://fonts.googleapis.com/css?family=Tajawal:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.3em;
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Atma', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.13em 0 0.3em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.24em 0 0.3em;}
.d-wrapper h3{font-size: 2.2em;margin: 0.31em 0 0.3em;}
.d-wrapper h4{font-size: 1.9em;margin: 0.49em 0 0.3em;}
.d-wrapper h5{font-size: 1.6em;margin: 0.5em 0 0.3em;line-height: 1.65;}
.d-wrapper h6{font-size: 1.3em;margin: 0.6em 0 0.3em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.45em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.8em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.3em;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
