﻿@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.06em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3em;margin: 0.25em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.34em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.45em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.55em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5em;margin: 0.76em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.2em;margin: 0.78em 0 0.3em;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.85em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4em;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.3em;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
