﻿@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34em;
    line-height: 1.8;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    line-height: 1.6;
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.27em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.39em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.55em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.67em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.78em 0 0.3em;}
.d-wrapper h6{font-size: 1.25em;margin: 0.9em 0 0.3em;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.59em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4em;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.8em;
    line-height: 1.7;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
