﻿@import url('https://fonts.googleapis.com/css?family=Heebo:700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12em;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.17em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.29em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.35em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.45em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4em;margin: 0.53em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.12em;margin: 0.7em 0 0.3em;line-height: 1.9;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.4em;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 1.8;
    letter-spacing: 4px;
    font-style: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
