﻿@import url('https://fonts.googleapis.com/css?family=Gravitas+One');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.19em;
    line-height: 2.1;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 2.7em;margin: 0.26em 0 0.3em;}
.d-wrapper h2{font-size: 2.2em;margin: 0.38em 0 0.4em;line-height: 1.45;}
.d-wrapper h3{font-size: 1.8em;margin: 0.45em 0 0.45em;line-height: 1.55;}
.d-wrapper h4{font-size: 1.5em;margin: 0.6em 0 0.45em;line-height: 1.65;}
.d-wrapper h5{font-size: 1.3em;margin: 0.62em 0 0.45em;line-height: 1.75;}
.d-wrapper h6{font-size: 1.19em;margin: 0.77em 0 0.45em;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Gravitas One', cursive;
    font-size: 3.6em;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.7;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
