﻿@import url('https://fonts.googleapis.com/css?family=Julee');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12em; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.23em 0 0.3em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.41em 0 0.3em;}
.d-wrapper h4{font-size: 1.6em;margin: 0.48em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.3em;margin: 0.6em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.12em;margin: 0.65em 0 0.3em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.56em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Julee', cursive;
    font-size: 4.4em;
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}

