﻿@import url('https://fonts.googleapis.com/css?family=Engagement');
@import url('https://fonts.googleapis.com/css?family=Spectral:200,200i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Spectral', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.24em;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Spectral', serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3.4em;margin: 0.15em 0 0.3em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.27em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.39em 0 0.3em;line-height: 1.4;}
.d-wrapper h4{font-size: 1.8em;margin: 0.42em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5em;margin: 0.51em 0 0.3em;line-height: 1.65;}
.d-wrapper h6{font-size: 1.24em;margin: 0.68em 0 0.3em;font-weight:bold;letter-spacing: 1px;line-height: 1.8;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
	font-family: 'Engagement', cursive;
    font-size: 5.6em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}