﻿@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2em;
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.18em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.31em 0 0.35em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.45em 0 0.35em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.4em;margin: 0.47em 0 0.4em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.15em;margin: 0.58em 0 0.4em;font-weight: bold;line-height: 1.9;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Alex Brush', cursive;
    font-size: 5em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
