﻿@import url('https://fonts.googleapis.com/css?family=Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 100%; 
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.26em;
    line-height: 1.8;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    line-height: 1.4;
    margin: 0.6em 0;
}        

.d-wrapper h1{font-size: 3em;margin: 0.13em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.22em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.44em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.55em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.26em;margin: 0.66em 0 0.3em;font-weight: bold;line-height: 1.8;}
.d-wrapper p{margin:0.7em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Yellowtail', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
