﻿@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.12em; 
    line-height: 1.9;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Stint Ultra Condensed', cursive;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5em;margin:0.15em 0 0.3em;}
.d-wrapper h2{font-size: 2.8em;margin:0.28em 0 0.3em;}
.d-wrapper h3{font-size: 2.2em;margin:0.4em 0 0.3em;}
.d-wrapper h4{font-size: 1.9em;margin:0.5em 0 0.3em;}
.d-wrapper h5{font-size: 1.6em;margin:0.53em 0 0.3em;line-height: 1.4;}
.d-wrapper h6{font-size: 1.4em;margin:0.58em 0 0.3em;line-height: 1.6;}
.d-wrapper p{margin:0.69em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.4em;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 400;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.4em;
    line-height: 2;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
