﻿@import url('https://fonts.googleapis.com/css?family=Spectral+SC:200,700');
@import url('https://fonts.googleapis.com/css?family=Karma:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Karma', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Spectral SC', serif;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 1.4;    
}        

.d-wrapper h1{font-size: 3em;margin: 0.14em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.25em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.5em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.52em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.22em;margin: 0.67em 0 0.3em;font-weight:bold;line-height: 1.8;}
.d-wrapper p{margin:0.7em 0 1.3em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 200;
    font-size: 4.3em;
    line-height: 1.4;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.3em;
    line-height: 1.9;
    letter-spacing: 1px;
    font-style: normal;  
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}

