﻿@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:200,200i,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.24em;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.12em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.22em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.37em 0;}
.d-wrapper h4{font-size: 1.7em;margin: 0.37em 0;line-height: 1.6;}
.d-wrapper h5{font-size: 1.5em;margin: 0.49em 0;line-height: 1.7;}
.d-wrapper h6{font-size: 1.24em;margin: 0.56em 0;font-weight: bold;line-height: 2;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
