﻿@import url('https://fonts.googleapis.com/css?family=Oswald:200,500');
@import url('https://fonts.googleapis.com/css?family=Biryani:200,600');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Biryani', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14em;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3.5em;margin: 0.01em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.2em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.3em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.44em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.47em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.18em;margin: 0.65em 0 0.3em;font-weight: bold;text-transform:none;line-height: 1.9;}
.d-wrapper p{margin:0.7em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.4em;
    line-height: 1.4;
    font-weight: 200;
    letter-spacing: 9px;
    text-transform: uppercase;
}
.d-wrapper .display p{
    font-family: 'Tangerine', cursive;
    font-size: 2.6em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
