﻿@import url('https://fonts.googleapis.com/css?family=Bilbo');
@import url('https://fonts.googleapis.com/css?family=Halant:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Halant', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.21em;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Bilbo', cursive;
    font-weight: 400;
    line-height: 1.2;
}        

.d-wrapper h1{font-size: 3.7em;margin: 0.23em 0 0.1em;}
.d-wrapper h2{font-size: 3.1em;margin: 0.32em 0 0.1em;}
.d-wrapper h3{font-size: 2.6em;margin: 0.4em 0 0.1em;}
.d-wrapper h4{font-size: 2.1em;margin: 0.5em 0 0.1em;line-height: 1.3;}
.d-wrapper h5{font-size: 1.8em;margin: 0.52em 0 0.1em;line-height: 1.4;}
.d-wrapper h6{font-size: 1.5em;margin: 0.63em 0 0.1em;line-height: 1.5;}
.d-wrapper p{margin:0.61em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5.3em;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
