﻿@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.22em;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 2.8em;margin: 0.16em 0 0.3em;}
.d-wrapper h2{font-size: 2.3em;margin: 0.27em 0 0.3em;}
.d-wrapper h3{font-size: 1.8em;margin: 0.43em 0 0.3em;}
.d-wrapper h4{font-size: 1.5em;margin: 0.59em 0 0.3em;line-height:1.5;}
.d-wrapper h5{font-size: 1.3em;margin: 0.65em 0 0.3em;font-weight: bold;line-height:1.6;}
.d-wrapper h6{font-size: 1.22em;margin: 0.69em 0 0.3em;font-weight: bold;line-height:1.7;}
.d-wrapper p{margin:0.6em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Yesteryear', cursive;
    font-size: 4.9em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin: 0.5em 0;
}
.d-wrapper .display p{
    font-size: 1.3em;
    line-height: 1.6;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
