﻿@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,600');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.2em;
    line-height: 2.1;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.18em 0 0.1em;}
.d-wrapper h2{font-size: 2.6em;margin: 0.28em 0 0.1em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.39em 0 0.1em;line-height: 1.4;}
.d-wrapper h4{font-size: 1.7em;margin: 0.48em 0 0.1em;line-height: 1.55;}
.d-wrapper h5{font-size: 1.4em;margin: 0.55em 0 0.1em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.25em;margin: 0.65em 0 0.1em;line-height: 1.85;}
.d-wrapper p{margin:0.58em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.6em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin:0.4em 0;
}
.d-wrapper .display p{
	font-family: 'Calligraffitti', cursive;
    font-size: 1.6em;
    line-height: 2;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
