﻿@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    font-size: 100%; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.14em; 
    line-height: 2.1;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    line-height: 1.5;
}        

.d-wrapper h1{font-size: 3em;margin: 0.24em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.32em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.47em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.62em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.4em;margin: 0.78em 0 0.3em;line-height: 1.8;}
.d-wrapper h6{font-size: 1.14em;margin: 0.87em 0 0.3em;line-height: 2;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 3.5em;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.1em;
    line-height: 2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
