﻿@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Economica', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 400;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34em;
    line-height: 2;
    font-weight: 400;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}        

.d-wrapper h1{font-size: 3.5em;margin: 0.05em 0 0.3em;}
.d-wrapper h2{font-size: 2.7em;margin: 0.2em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.49em 0 0.3em;line-height: 1.5;}
.d-wrapper h5{font-size: 1.5em;margin: 0.6em 0 0.3em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.34em;margin: 0.7em 0 0.3em;font-weight: bold;text-transform: none;line-height: 1.9;}
.d-wrapper p{margin:0.45em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Satisfy', cursive;
    font-size: 4.8em;
    line-height: 1.4;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.8em;
    line-height: 1.7;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
