﻿@import url('https://fonts.googleapis.com/css?family=Antic+Didone');
@import url('https://fonts.googleapis.com/css?family=Halant:300,600');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Halant', serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.28em; 
    line-height: 2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Antic Didone', serif;
    font-weight: 400;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.14em 0 0.5em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.25em 0 0.5em;}
.d-wrapper h3{font-size: 2em;margin: 0.38em 0 0.5em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.45em 0 0.5em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.5em 0 0.5em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.2em;margin: 0.7em 0 0.5em;font-weight:bold;line-height: 1.9;}
.d-wrapper p{margin:0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4em;
    letter-spacing: 4px;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.7em;
    line-height: 2;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
