﻿@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Neuton:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Neuton', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.38em; 
    line-height: 1.9;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3em;margin: 0.17em 0 0.1em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.3em 0 0.1em;}
.d-wrapper h3{font-size: 1.9em;margin: 0.46em 0 0.1em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.5em 0 0.1em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.45em;margin: 0.57em 0 0.1em;line-height: 1.7;}
.d-wrapper h6{font-size: 1.32em;margin: 0.64em 0 0.1em;font-weight: bold;text-transform: none;line-height: 1.9;}
.d-wrapper p{margin:0.39em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 300;
    font-size: 3.7em;
    letter-spacing: 7px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.7em;
    line-height: 1.8;
    letter-spacing: 2px;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
