﻿@import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 100%; 
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.13em;
    line-height: 2.2;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Rancho', cursive;
    font-weight: 400;
    line-height: 1.2;    
}        

.d-wrapper h1{font-size: 4em;margin: 0.14em 0 0.2em;}
.d-wrapper h2{font-size: 3.3em;margin: 0.22em 0 0.25em;}
.d-wrapper h3{font-size: 2.7em;margin: 0.3em 0 0.3em;}
.d-wrapper h4{font-size: 2.3em;margin: 0.44em 0 0.3em;}
.d-wrapper h5{font-size: 1.8em;margin: 0.5em 0;line-height: 1.35;}
.d-wrapper h6{font-size: 1.55em;margin: 0.6em 0;line-height: 1.4;}
.d-wrapper p{margin:0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5.2em;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 1.7;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}