﻿@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34em;
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 2px;    
}        

.d-wrapper h1{font-size: 3em;margin: 0.16em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.26em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.38em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.49em 0 0.3em;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5em;margin: 0.56em 0 0.3em;line-height: 1.55;}
.d-wrapper h6{font-size: 1.34em;margin: 0.56em 0 0.3em;font-weight: bold;text-transform: none;line-height: 1.7;}
.d-wrapper p{margin: 0.55em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Kelly Slab', cursive;
    font-size: 4.3em;
    letter-spacing: 4px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
