﻿@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.32em;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
}        

.d-wrapper h1{font-size: 3em;margin: 0.05em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.15em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.3em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.4em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.47em 0 0.3em;font-weight: bold;line-height: 1.7;}
.d-wrapper h6{font-size: 1.32em;margin: 0.52em 0 0.3em;font-weight: bold;line-height: 1.85;}
.d-wrapper p{margin:0.45em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5em;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-family: 'Old Standard TT', serif;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-style: italic;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
