﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.16em; 
    line-height: 2;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.1em 0 0.3em;}
.d-wrapper h2{font-size: 2.4em;margin: 0.2em 0 0.3em;}
.d-wrapper h3{font-size: 2em;margin: 0.33em 0 0.3em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.4em 0 0.3em;line-height: 1.6;}
.d-wrapper h5{font-size: 1.3em;margin: 0.57em 0 0.3em;line-height: 1.8;font-weight:bold;}
.d-wrapper h6{font-size: 1.16em;margin: 0.65em 0 0.3em;line-height: 2;font-weight:bold;}
.d-wrapper p{margin:0.59em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 4.5em;
    letter-spacing: 1px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
