﻿@import url('https://fonts.googleapis.com/css?family=Sail');
@import url('https://fonts.googleapis.com/css?family=Rasa:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Rasa', serif;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.34em;
    line-height: 1.9;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Rasa', serif;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;    
}        

.d-wrapper h1{font-size: 3.2em;margin: 0.14em 0 0.1em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.26em 0 0.1em;}
.d-wrapper h3{font-size: 2em;margin: 0.44em 0 0.1em;}
.d-wrapper h4{font-size: 1.7em;margin: 0.5em 0 0.1em;line-height: 1.4;}
.d-wrapper h5{font-size: 1.5em;margin: 0.55em 0 0.1em;line-height: 1.5;}
.d-wrapper h6{font-size: 1.34em;margin: 0.6em 0 0.1em;font-weight: bold;line-height: 1.6;}
.d-wrapper p{margin: 0.5em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-family: 'Sail', cursive;
    font-size: 5.2em;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin:0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.6em;
    line-height: 1.6;
    letter-spacing: 2px;
    font-style: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
