﻿@import url('https://fonts.googleapis.com/css?family=Teko:300,600');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 100%; 
    line-height: 2;
    font-weight: 200;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.25em;
    line-height: 2;
    font-weight: 200;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}        

.d-wrapper h1{font-size: 3.5em;margin: 0.19em 0 0.1em;}
.d-wrapper h2{font-size: 2.8em;margin: 0.29em 0 0.1em;}
.d-wrapper h3{font-size: 2.3em;margin: 0.39em 0 0.1em;}
.d-wrapper h4{font-size: 2em;margin: 0.47em 0 0.1em;line-height: 1.35;}
.d-wrapper h5{font-size: 1.7em;margin: 0.51em 0 0.1em;line-height: 1.5;}
.d-wrapper h6{font-size: 1.3em;margin: 0.73em 0 0.1em;font-weight: bold;text-transform: none;line-height: 1.7;}
.d-wrapper p{margin:0.44em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-size: 5.8em;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.3em;
    line-height: 1.8;
    letter-spacing: 6px;
    font-style: normal;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
