﻿@import url('https://fonts.googleapis.com/css?family=Voltaire');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,700');


/**********************************
    General
***********************************/

 
.d-wrapper {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 100%; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper p,.d-wrapper td,.d-wrapper li,.d-wrapper label {
    font-size: 1.1em; 
    line-height: 1.9;
    font-weight: 300;
}
.d-wrapper h1,.d-wrapper  h2,.d-wrapper  h3,.d-wrapper  h4,.d-wrapper  h5,.d-wrapper  .d-wrapper h6{
    font-family: 'Voltaire', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.4;
}        

.d-wrapper h1{font-size: 3em;margin: 0.19em 0 0.3em;}
.d-wrapper h2{font-size: 2.5em;margin: 0.3em 0 0.3em;}
.d-wrapper h3{font-size: 2.1em;margin: 0.4em 0 0.3em;}
.d-wrapper h4{font-size: 1.8em;margin: 0.54em 0 0.3em;}
.d-wrapper h5{font-size: 1.5em;margin: 0.56em 0 0.3em;line-height: 1.6;}
.d-wrapper h6{font-size: 1.2em;margin: 0.68em 0 0.3em;text-transform: none;line-height: 1.8;}
.d-wrapper p{margin:0.75em 0 1em;}

.d-wrapper .display{ margin-bottom: 0.5em; }
.d-wrapper .display h1{
    font-weight: 400;
    font-size: 4.5em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0.4em 0;
}
.d-wrapper .display p{
    font-size: 1.2em;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;  
}

@media only screen and (max-width: 640px) {
    .d-wrapper .display h1{font-size: 2.5em;}
    .d-wrapper .display p{font-size: 1.4em;}
    .d-wrapper h1{font-size: 2.3em;}
    .d-wrapper h2{font-size: 2em;}
    .d-wrapper h3{font-size: 1.7rem;}
    .d-wrapper h4{font-size: 1.4em;}
    .d-wrapper h5{font-size: 1.2rem;}
    .d-wrapper h6{font-size: 1em;} 
}
