﻿ #if(${xf.ViewSkinSetting("Displayrssicons",true)}) 
<!-- Rss Begin-->
<div class="event_rss"><a href="${xf.GoRssUrl()}" target="_blank"><img src="${xf.EffectPath}images/rss.png" alt="${xf.ViewLanguage("RSS","RSS")}" title="${xf.ViewLanguage("RSS","RSS")}" /></a></div>
<!-- Rss End--> 
#end
<div class="event_list $SkinThemeName" id="xE_TimeLine${ModuleID}" data-id="${ModuleID}" data-categoryid="" data-starttime="" data-endtime="" data-searchtag="" data-pagesize="999" data-LoadDisplay="1" data-FirstScreen="1" ${xf.AjaxParameters}> #if($Navigation.IsView)
  <div class="page_meta"> $Navigation.Title: <span> $Navigation.Content</span><a href="${xf.GoUrl()}">${xf.ViewLanguage("Return","Return")}</a> </div>
  #if($Navigation.AuthorID >0)
  <div class="author_info clearfix">
    <div class="thum"><img src="${xf.ViewAuthorPic($Navigation.AuthorID)}" /></div>
    <div class="author_desc">${xf.ViewAuthorBiography($Navigation.AuthorID)}</div>
  </div>
  #end
  #end
  #if($DataList.Count > 0)
 
 <div class="event_main"> 
  #foreach($DataItem in $DataList)
  <div class="event_post"> #if(${xf.ViewSkinSetting("DisplayTitle",true)})
    <h3 class="event_title"><a href="${xf.GoUrl($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}">${xf.ViewContent("Title",$DataItem)}</a> #if($IsAdmin || $IsAdministrator || $DataItem.CreateUser == $UserInfo.UserID) <span class="news_edit"> <a href="${xf.GoEditUrl($DataItem)}" target="_blank"> <img src="${xf.EffectPath}images/edit.gif" alt="${xf.ViewLanguage("Edit","Edit")}" title="${xf.ViewLanguage("Edit","Edit")}" /> </a> </span> #end</h3>
    #end
    <div class="event_container">
      <div class="event_box"> #if(${xf.ViewSkinSetting("DisplayDate",true)})
        <div class="Timebox"> #if( ${DataItem.StartTime.ToString("yyyy")} !="")
          <div class="event_startdate">
            <div class="small-title">${xf.ViewLanguage("StartDate","Start date")}</div>
            #if($DataItem.Rules.AllDay==1)${DataItem.StartTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} #else ${DataItem.StartTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})} #end </div>
          #end
          #if( ${DataItem.EndTime.ToString("yyyy")} !="")
          <div class="event_enddate">
            <div class="small-title">${xf.ViewLanguage("EndDate","End date")}</div>
            #if($DataItem.Rules.AllDay==1)${DataItem.EndTime.ToString(${xf.ViewSkinSetting("AllDaydateformat","dd MMM, yyyy")})} #else ${DataItem.EndTime.ToString(${xf.ViewSkinSetting("dateformat","dd MMM, yyyy tt h:mm")})}#end </div>
          #end
          <div class="clear"></div>
          #if(${xf.ViewSkinSetting("DisplayTimeZone",true)})
          <div class="TimeZone">${TimeZone} </div>
          #end
          <div class="clear"></div>
        </div>
        #end
        #if(${xf.ViewSkinSetting("Displaylocation",true)} && ${xf.ViewContent("Location",$DataItem)}!="")
        <div class="event_location">
          <div class="small-title">${xf.ViewLanguage("Location","Location")}</div>
          ${xf.ViewContent("Location",$DataItem)} </div>
        #end  
        #if(${xf.ViewSkinSetting("Displaycategorie",true)} && ${xf.ViewCategories($DataItem)}!="")
        <div class="event_categorie"><span class="small-title">${xf.ViewLanguage("Category","Category")}:</span>${xf.ViewCategories($DataItem)}</div>
        #end
        #if(${xf.ViewSkinSetting("Displaytag",true)} && ${xf.ViewTags($DataItem)}!="")
        <div class="event_tag"><span class="small-title">${xf.ViewLanguage("Tags","Tags")}:</span>${xf.ViewTags($DataItem)}</div>
        #end
        #if(${xf.ViewSkinSetting("Displaysummary",true)} &&  $DataItem.Summary > 0)
        <div class="event_summary">${xf.ViewSummary($DataItem,${xf.ViewSkinSetting("SummaryNumber",500)},"...",${xf.ViewSkinSetting("FormatSummary",false)})}</div>
        #end
        #if(${xf.ViewContent("ContentText",$DataItem)}!="" && ${xf.ViewSkinSetting("Displaycontent",true)})
        <div class="event-details">
          <div class="summary">${xf.ViewContent("ContentText",$DataItem)}</div>
        </div>
        #end
        
        #if(${xf.ViewSkinSetting("Displayimage",true)} && $DataItem.Picture > 0)
        <div class="event_PictureUrl"><img src="${xf.ViewPicture($DataItem)}" title="${xf.ViewContent("Title",$DataItem)}" /> </div>
        #end </div>
    </div>
  </div>
  #end
  #else
  <div class="event_noevent">
    <div class="info">${xf.ViewLanguage("NoEvents","No upcoming events in this date range.")} </div>
  </div>
  #end
 </div> 
 <div class="event_page"> 
     #if(${xf.ViewSkinSetting("DisplayPagination",true)})
         #if(${PagerMode})
            ${Pager} 
         #else
            ${MonthPager} 
         #end
     #end
    
  </div>
</div>


