﻿
<div class="timelineLoader"></div>
<div class="timelineFlat $ThemeName" id="timelineFlat${ModuleID}"> #if($SliderList.Count > 0) 
  #foreach($SliderItem in $SliderList)
  <div class="item" data-id="${SliderItem.StartTime.ToString("dd")}/${SliderItem.StartTime.ToString("MM")}/${SliderItem.StartTime.ToString("yyyy")}" data-sort="${SliderItem.StartTime.ToString("yyyy-MM-dd")}" #if(${xf.ViewSliderSetting($SliderItem,"TimeLine","")}!="")data-description="${xf.ViewSliderSetting($SliderItem,"TimeLine","")}" #end>
    <div class="front"> #if(${xf.PictureUrl($SliderItem,"Thumbnail","")}!="") <a href="${xf.PictureUrl($SliderItem,"Picture","")}" class="prolight_image_gallery${ModuleID}" data-effect="${xf.ViewXmlSetting("lightboxanimation","mfp-zoom-in")}"> 
    <img src="${xf.PictureUrl($SliderItem,"Thumbnail","")}" alt="#if(${xf.ViewSliderSetting($SliderItem,"imagealt","")}=="")${xf.ViewSliderSetting($SliderItem,"Title","")}#else${xf.ViewSliderSetting($SliderItem,"imagealt","")}#end"/> 
     
    </a> #end
    #if(${xf.ViewXmlSetting("Displaydate","true")}=="true") 
    <div class="date-tip-box">
      <div class="date-tip"><span>${SliderItem.StartTime.ToString("%d")}</span> ${SliderItem.StartTime.ToString("MMM")} </div> 
     </div> 
     #end
      <h2>${xf.ViewSliderSetting($SliderItem,"Title","")}</h2>
      <span>${xf.ViewSliderSetting($SliderItem,"Summary","")} </span>
      
      #if(${xf.ViewSliderSetting($SliderItem,"moreLinkType","Description")}=="Description") 
      <div class="read_more link_description"> ${xf.ViewSliderSetting($SliderItem,"Moretext","Read more")} </div>
      #end
      #if(${xf.ViewSliderSetting($SliderItem,"moreLinkType","Description")}=="Link") 
      <a class="read_more" href="${xf.ViewSliderSetting($SliderItem,"LinkUrl","")}" target="${xf.ViewSliderSetting($SliderItem,"LinkUrlTarget","_blank")}"> ${xf.ViewSliderSetting($SliderItem,"Moretext","Read more")}</a>
      #end
      
    </div>
    <div class="back item-${velocityCount}">
   	  <div class="t_close">x</div>
      <div class="back_content">${xf.ViewSliderSetting($SliderItem,"Description","")}</div>
    </div>
  </div>
  #end
  #end </div>
  
<style>
	#timelineFlat${ModuleID} .item,
	#timelineFlat${ModuleID} .item .front {
		width: ${xf.ViewXmlSetting("itemwidth","410")}px;
		height: ${xf.ViewXmlSetting("itemheight","450")}px;
	}
	
	#timelineFlat${ModuleID} a.t_line_node:after,
	#timelineFlat${ModuleID} .t_node_desc span,
	#timelineFlat${ModuleID} .item.item_node_hover:before,
	#timelineFlat${ModuleID} .item .read_more:hover,
	#timelineFlat${ModuleID} .item .read_more,
	#timelineFlat${ModuleID} .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
	#timelineFlat${ModuleID} .date-tip{
		background:${xf.ViewXmlSetting("AccentColor","#69b532")}
	}
	#timelineFlat${ModuleID} .t_node_desc span:after,
	#timelineFlat${ModuleID} .item.item_node_hover:after{
		border-top-color:${xf.ViewXmlSetting("AccentColor","#69b532")}
	}
	#timelineFlat${ModuleID} a.t_line_node.active,
	#timelineFlat${ModuleID} .item h2,
	#timelineFlat${ModuleID} .back .t_close,
	#timelineFlat${ModuleID} .back .t_close:hover,
	#timelineFlat${ModuleID} #t_line_left:hover, 
	#timelineFlat${ModuleID} #t_line_right:hover {
		color:${xf.ViewXmlSetting("AccentColor","#69b532")}
	}
	
</style>

<script type="text/javascript">
jQuery(document).ready(function ($) {
	var e=$('#timelineFlat${ModuleID}');
	var dateid=[],adjacent,fdate=new Date("${xf.ViewXmlSetting("startItem","12/12/2015")}");

	if(typeof(fdate.Formattime) == "function"){
		var d = fdate.Formattime("yyyy-MM-dd");
	}else{
		var d = fdate.format("yyyy-MM-dd");
	}
	


		e.children(".item").each(function () {
			dateid.push({a:$(this).data("sort"),b:$(this).data("id") } )
		})
		dateid.sort();
		for(i=0; i<dateid.length;i++){
			if(dateid[i].a>=d){
				adjacent=dateid[i].b;
				if(i!=0){
					if( fdate.getTime()- new Date(dateid[i-1].a).getTime() <= new Date(dateid[i].a).getTime() - fdate.getTime() ){
						adjacent=dateid[i-1].b;
					}
				}
				break;
			};
		}
	
	e.timeline({
		startItem : adjacent,
		closeText : 'x',
		closeItemOnTransition:true,
		itemMargin : ${xf.ViewXmlSetting("itemMargin","10")}
	}).find(".read_more.link_description").on("click",function(){
		$(this).parent().parent().addClass("active");
		var height = $(this).parent().height()-40;
		var eBox = $(this).parent().siblings(".back").find(".back_content")
			eBox.css('max-height', height);
			if(!eBox.hasClass("mCustomScrollbar")){
				eBox.mCustomScrollbar({
						autoHideScrollbar:true,
						theme:"light-thin",
						alwaysShowScrollbar:0
				});	
			}
	})
	e.find(".t_close").on("click",function(){
		$(this).parent().parent().removeClass("active");	
	})
	
	e.find(".t_line_view").width(e.find(".timeline_line").width())
	$(window).resize(function() {
		e.find(".t_line_view").width(e.find(".timeline_line").width())
	});
	
//		$(window).resize(function() {
  //      e.find(".back").hide();
  //  });
	
	
	
	
});	
</script> 
